In [3]:
import numpy as np
import pandas as pd
import datetime

In [4]:
manhattan = pd.read_csv('Manhattan.csv', header = 4)
bronx = pd.read_csv('Bronx.csv', header = 4)
brooklyn = pd.read_csv('Brooklyn.csv', header = 4)
queens = pd.read_csv('Queens.csv', header = 4)
staten_island = pd.read_csv('Staten Island.csv', header =4)

In [200]:
manhattan.loc[:,'BOROUGH'] = 'Manhattan'
bronx.loc[:,'BOROUGH'] = 'Bronx'
brooklyn.loc[:,'BOROUGH'] = 'Brooklyn'
queens.loc[:,'BOROUGH'] = 'Queens'
staten_island.loc[:,'BOROUGH'] = 'Staten Island'

In [10]:
brooklyn.head(5)

,BOROUGH,NEIGHBORHOOD,BUILDING CLASS CATEGORY,TAX CLASS AT PRESENT,BLOCK,LOT,EASE-MENT,BUILDING CLASS AT PRESENT,ADDRESS,APARTMENT NUMBER,...,RESIDENTIAL UNITS,COMMERCIAL UNITS,TOTAL UNITS,LAND SQUARE FEET,GROSS SQUARE FEET,YEAR BUILT,TAX CLASS AT TIME OF SALE,BUILDING CLASS AT TIME OF SALE,SALE PRICE,SALE DATE
0,3,BATH BEACH,01 ONE FAMILY DWELLINGS,1,6363,22,NaN,A9,8645 16TH AVENUE,NaN,...,1,0,1,"2,058","1,492",1930,1,A9,0,04/23/2019
1,3,BATH BEACH,01 ONE FAMILY DWELLINGS,1,6363,48,NaN,A9,12 BAY 13TH STREET,NaN,...,1,0,1,"3,142","3,200",1999,1,A9,0,02/27/2019
2,3,BATH BEACH,01 ONE FAMILY DWELLINGS,1,6363,48,NaN,A9,12 BAY 13TH STREET,NaN,...,1,0,1,"3,142","3,200",1999,1,A9,0,02/11/2019
3,3,BATH BEACH,01 ONE FAMILY DWELLINGS,1,6366,69,NaN,A1,8658 BAY 16TH STREET,NaN,...,1,0,1,"4,833","1,724",1930,1,A1,0,10/25/2018
4,3,BATH BEACH,01 ONE FAMILY DWELLINGS,1,6366,72,NaN,A1,8664 BAY 16TH STREET,NaN,...,1,0,1,"4,833","2,300",1925,1,A1,"1,720,000",12/12/2018

In [4]:
bronx.columns

Index(['BOROUGH', 'NEIGHBORHOOD', 'BUILDING CLASS CATEGORY',
       'TAX CLASS AT PRESENT', 'BLOCK', 'LOT', 'EASE-MENT',
       'BUILDING CLASS AT PRESENT', 'ADDRESS', 'APARTMENT NUMBER', 'ZIP CODE',
       'RESIDENTIAL UNITS', 'COMMERCIAL UNITS', 'TOTAL UNITS',
       'LAND SQUARE FEET', 'GROSS SQUARE FEET', 'YEAR BUILT',
       'TAX CLASS AT TIME OF SALE', 'BUILDING CLASS AT TIME OF SALE',
       ' SALE PRICE ', 'SALE DATE'],
      dtype='object')

In [201]:
bronx.rename({' SALE PRICE ':'SALE PRICE'}, axis = 1, inplace=True)
brooklyn.rename({' SALE PRICE ':'SALE PRICE'}, axis = 1, inplace=True)
queens.rename({' SALE PRICE ':'SALE PRICE'}, axis = 1, inplace=True)
staten_island.rename({' SALE PRICE ':'SALE PRICE'}, axis = 1, inplace=True)

In [202]:
combined = pd.concat([manhattan,bronx,brooklyn,queens,staten_island], axis = 0)

In [203]:
del combined['EASE-MENT']

In [198]:
#del combined

In [45]:
combined.to_csv('nycpropertycombined.csv')

### **Preliminary Look**

In [11]:
combined.describe()

,BLOCK,LOT,ZIP CODE,COMMERCIAL UNITS,YEAR BUILT,TAX CLASS AT TIME OF SALE
count,82286.000000,82286.000000,82286.000000,82286.000000,82286.000000,82286.000000
mean,4373.632295,374.726405,10613.360474,0.186848,1780.657183,1.639137
std,3668.033409,658.503973,1691.733904,4.439317,550.826392,0.814275
min,1.000000,1.000000,0.000000,0.000000,0.000000,1.000000
25%,1333.000000,22.000000,10304.000000,0.000000,1920.000000,1.000000
50%,3411.000000,50.000000,11208.000000,0.000000,1939.000000,1.000000
75%,6551.750000,894.500000,11357.000000,0.000000,1965.000000,2.000000
max,16350.000000,9109.000000,11697.000000,842.000000,2019.000000,4.000000

In [134]:
combined.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 48432 entries, 9086 to 2626
Data columns (total 22 columns):
BOROUGH                           48432 non-null object
NEIGHBORHOOD                      48432 non-null object
BUILDING CLASS CATEGORY           48432 non-null object
TAX CLASS AT PRESENT              48432 non-null category
BLOCK                             48432 non-null int64
LOT                               48432 non-null int64
BUILDING CLASS AT PRESENT         47636 non-null object
ADDRESS                           48432 non-null object
APARTMENT NUMBER                  48432 non-null object
ZIP CODE                          48432 non-null int64
RESIDENTIAL UNITS                 48432 non-null int64
COMMERCIAL UNITS                  48432 non-null int64
TOTAL UNITS                       48432 non-null int64
LAND SQUARE FEET                  48432 non-null int64
GROSS SQUARE FEET                 48432 non-null int64
YEAR BUILT                        48432 non-null int64
TAX CLASS AT TIME OF SALE         48432 non-null category
BUILDING CLASS AT TIME OF SALE    48432 non-null object
SALE PRICE                        48432 non-null int64
SALE DATE                         48432 non-null datetime64[ns]
SALE MONTH                        48432 non-null int64
TYPE                              48432 non-null object
dtypes: category(2), datetime64[ns](1), int64(11), object(8)
memory usage: 7.9+ MB

In [130]:
combined.sample(100)

,BOROUGH,NEIGHBORHOOD,BUILDING CLASS CATEGORY,TAX CLASS AT PRESENT,BLOCK,LOT,BUILDING CLASS AT PRESENT,ADDRESS,APARTMENT NUMBER,ZIP CODE,...,TOTAL UNITS,LAND SQUARE FEET,GROSS SQUARE FEET,YEAR BUILT,TAX CLASS AT TIME OF SALE,BUILDING CLASS AT TIME OF SALE,SALE PRICE,SALE DATE,SALE MONTH,TYPE
13114,Manhattan,UPPER EAST SIDE (79-96),10 COOPS - ELEVATOR APARTMENTS,2,1507,41,D4,"70 EAST 96TH STREET, 2A",nan,10128,...,0,0,0,1929,2,D4,787500,2019-07-19,7,Co-op
2958,Queens,BRIARWOOD,10 COOPS - ELEVATOR APARTMENTS,2,9713,163,D4,"140-17 84TH DRIVE, 7D",nan,11435,...,0,0,0,1961,2,D4,215000,2019-05-13,5,Co-op
3427,Brooklyn,BOERUM HILL,15 CONDOS - 2-10 UNIT RESIDENTIAL,2C,396,1201,R1,"284 WARREN STREET, 1",1,11201,...,0,0,1556,0,2,R1,2125000,2019-06-20,6,Condo
15657,Queens,LONG ISLAND CITY,13 CONDOS - ELEVATOR APARTMENTS,2,600,1109,R4,"31-19 37TH AVENUE, 5A",5A,11101,...,0,0,683,2017,2,R4,900000,2019-05-07,5,Condo
14008,Brooklyn,FORT GREENE,15 CONDOS - 2-10 UNIT RESIDENTIAL,2C,2101,1501,R1,"65 SOUTH OXFORD STREET, 1",1,11217,...,0,0,1074,1930,2,R1,1305000,2019-08-01,8,Condo
2088,Brooklyn,BEDFORD STUYVESANT,13 CONDOS - ELEVATOR APARTMENTS,2,1900,1211,R4,"109 SKILLMAN STREET, 4R",4R,11205,...,0,0,1185,0,2,R4,600000,2019-01-09,1,Condo
4040,Manhattan,GREENWICH VILLAGE-WEST,10 COOPS - ELEVATOR APARTMENTS,2,608,60,D4,"137 WEST 12TH STREET, 2-3",nan,10011,...,0,0,0,1900,2,D4,785000,2019-08-21,8,Co-op
13185,Brooklyn,FLATBUSH-NORTH,02 TWO FAMILY DWELLINGS,1,4630,42,S2,1091 CLARKSON AVE,nan,11212,...,3,1800,4551,1910,1,S2,810000,2019-08-21,8,Other
4471,Queens,DOUGLASTON,10 COOPS - ELEVATOR APARTMENTS,2,8100,2,D4,"42-30 DOUGLASTON PARKWAY, 4H",nan,11363,...,0,0,0,1964,2,D4,335000,2019-07-29,7,Co-op
1588,Queens,BAYSIDE,01 ONE FAMILY DWELLINGS,1,7457,49,A5,58-45 206 STREET,nan,11364,...,1,1800,1152,1940,1,A5,808000,2018-10-24,10,Other
20583,Queens,ROSEDALE,01 ONE FAMILY DWELLINGS,1,13550,71,A1,240-18 CANEY RD,nan,11422,...,1,2900,1624,1925,1,A1,240000,2018-10-11,10,Other
5928,Manhattan,KIPS BAY,10 COOPS - ELEVATOR APARTMENTS,2,930,1,D4,"305 EAST 24TH STREET, 11-X",nan,10010,...,0,0,0,1964,2,D4,830000,2019-01-28,1,Co-op
10108,Brooklyn,DYKER HEIGHTS,01 ONE FAMILY DWELLINGS,1,5964,63,A5,977 78TH STREET,nan,11228,...,1,1850,1344,1925,1,A5,985000,2019-01-31,1,Other
23009,Brooklyn,WILLIAMSBURG-NORTH,13 CONDOS - ELEVATOR APARTMENTS,2,2348,1159,R4,"184 KENT AVENUE, B307",B307,11249,...,0,0,621,1914,2,R4,823189,2019-07-19,7,Condo
3845,Queens,CORONA,02 TWO FAMILY DWELLINGS,1,2006,16,B2,108-34 50TH AVENUE,nan,11368,...,2,2500,1749,1920,1,B2,840000,2019-09-26,9,Other
6415,Bronx,THROGS NECK,02 TWO FAMILY DWELLINGS,1,5449,4,B1,2958 MILES AVENUE,nan,10465,...,2,2500,1600,1930,1,B1,590000,2018-12-28,12,Other
12928,Brooklyn,FLATBUSH-LEFFERTS GARDEN,01 ONE FAMILY DWELLINGS,1,5034,87,A4,45 RUTLAND ROAD,nan,11225,...,1,2000,3720,1901,1,A4,2100000,2018-12-20,12,Other
20907,Brooklyn,SHEEPSHEAD BAY,02 TWO FAMILY DWELLINGS,1,8771,122,S2,1784 SHEEPSHEAD BAY ROAD,nan,11235,...,3,2014,3920,1910,1,S2,6300000,2019-02-12,2,Other
22506,Brooklyn,WILLIAMSBURG-EAST,13 CONDOS - ELEVATOR APARTMENTS,2,2742,1101,R4,"88 WITHERS, 3A",3A,11211,...,0,0,957,2018,2,R4,1255502,2019-04-29,4,Condo
5268,Manhattan,HARLEM-EAST,10 COOPS - ELEVATOR APARTMENTS,2,1616,49,D4,"64 EAST 111TH STREET, 1A",nan,10029,...,0,0,0,2011,2,D4,550000,2019-08-13,8,Co-op
6983,Bronx,WESTCHESTER,02 TWO FAMILY DWELLINGS,1,3822,61,B1,2263 ELLIS AVENUE,nan,10462,...,2,2472,2540,1935,1,B1,700000,2019-02-08,2,Other
22119,Queens,SOUTH JAMAICA,02 TWO FAMILY DWELLINGS,1,12181,11,B3,160-04 111TH AVENUE,nan,11433,...,2,3530,1560,1925,1,B3,298116,2019-01-30,1,Other
16171,Manhattan,UPPER WEST SIDE (79-96),10 COOPS - ELEVATOR APARTMENTS,2,1209,109,D4,"55 WEST 95TH STREET, 53",nan,10025,...,0,0,0,1913,2,D4,800000,2019-06-25,6,Co-op
1903,Queens,BAYSIDE,09 COOPS - WALKUP APARTMENTS,2,5784,1,C6,"199-09 21ST AVENUE, 1-359",nan,11357,...,0,0,0,1952,2,C6,192500,2019-04-16,4,Co-op
4446,Manhattan,HARLEM-CENTRAL,13 CONDOS - ELEVATOR APARTMENTS,2,1954,1114,NaN,"17 CONVENT AVENUE, 4D",nan,0,...,0,0,0,0,2,R4,850239,2019-06-28,6,Condo
11886,Brooklyn,FLATBUSH-CENTRAL,13 CONDOS - ELEVATOR APARTMENTS,2,5083,1212,R4,2100 BEDFORD AVENUE,2J,11226,...,0,0,1034,2015,2,R4,845147,2018-10-22,10,Condo
9104,Manhattan,MIDTOWN WEST,13 CONDOS - ELEVATOR APARTMENTS,2,1032,1232,R4,"350 WEST 42ND STREET, 22J",22J,10036,...,0,0,525,2004,2,R4,760000,2019-05-13,5,Condo
18670,Brooklyn,OCEAN PARKWAY-SOUTH,01 ONE FAMILY DWELLINGS,1,7132,64,A9,2197 EAST 5TH STREET,nan,11223,...,1,2200,1324,1925,1,A9,1200000,2019-07-29,7,Other
5174,Bronx,RIVERDALE,10 COOPS - ELEVATOR APARTMENTS,2,5859,297,D4,"5715 MOSHOLU AVENUE, 3A",nan,10471,...,0,0,0,1962,2,D4,172000,2019-05-29,5,Co-op
2198,Queens,BAYSIDE,13 CONDOS - ELEVATOR APARTMENTS,2,5893,1300,R4,"1 BAY CLUB DRIVE, 15D",15D,11360,...,0,0,1303,1972,2,R4,850000,2019-08-23,8,Condo
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3760,Bronx,MOTT HAVEN/PORT MORRIS,13 CONDOS - ELEVATOR APARTMENTS,2,2340,1025,R4,"225 EAST 138 STREET, 409",409,10451,...,0,0,653,2017,2,R4,493818,2019-02-25,2,Condo
11243,Queens,GLENDALE,02 TWO FAMILY DWELLINGS,1,3848,48,B2,87-41 81ST AVENUE,nan,11385,...,2,2700,2340,1920,1,B2,900000,2019-08-12,8,Other
3623,Staten Island,MIDLAND BEACH,04 TAX CLASS 1 CONDOS,1A,3893,1036,R3,959 PATTERSON AVENUE,nan,10306,...,0,0,1073,1981,1,R3,400000,2019-02-11,2,Condo
2926,Bronx,MELROSE/CONCOURSE,10 COOPS - ELEVATOR APARTMENTS,2,2458,90,D4,"800 GRAND CONCOURSE, 6A-S",nan,10451,...,0,0,0,1954,2,D4,310500,2018-10-25,10,Co-op
1026,Brooklyn,BAY RIDGE,13 CONDOS - ELEVATOR APARTMENTS,2,6120,1167,R4,"9511 SHORE ROAD, 415",415,11209,...,0,0,906,1957,2,R4,615000,2019-01-14,1,Condo
3531,Queens,COLLEGE POINT,02 TWO FAMILY DWELLINGS,1,4227,16,B2,23-27 123RD STREET,nan,11356,...,2,2494,2096,1920,1,B2,1048000,2018-12-10,12,Other
7694,Manhattan,MIDTOWN EAST,10 COOPS - ELEVATOR APARTMENTS,2,1330,4,D4,"200 EAST 57TH STREET, 5C",nan,10022,...,0,0,0,1960,2,D4,1275000,2019-06-27,6,Co-op
3231,Manhattan,GREENWICH VILLAGE-CENTRAL,10 COOPS - ELEVATOR APARTMENTS,2,523,38,D4,"88 BLEECKER STREET, LA",nan,10012,...,0,0,0,1961,2,D4,686223,2019-09-13,9,Co-op
16889,Queens,OAKLAND GARDENS,09 COOPS - WALKUP APARTMENTS,2,7670,2,C6,"67-48A 224TH STREET, 48A",nan,11364,...,0,0,0,1949,2,C6,280875,2019-03-06,3,Co-op
16994,Brooklyn,MIDWOOD,01 ONE FAMILY DWELLINGS,1,6712,54,A1,1914 AVENUE I,nan,11230,...,1,4000,1899,1910,1,A1,1290000,2018-10-04,10,Other
14319,Queens,KEW GARDENS,01 ONE FAMILY DWELLINGS,1,9215,23,A1,84-32 116 STREET,nan,11418,...,1,4000,1700,1920,1,A1,840000,2018-12-17,12,Other
7751,Manhattan,MIDTOWN EAST,10 COOPS - ELEVATOR APARTMENTS,2,1333,23,D4,"5 TUDOR CITY PLACE, 702",nan,10017,...,0,0,0,1930,2,D4,335000,2019-06-10,6,Co-op
9984,Manhattan,MURRAY HILL,13 CONDOS - ELEVATOR APARTMENTS,2,868,1598,R4,"425 FIFTH AVENUE, 26F",26F,10016,...,0,0,846,2003,2,R4,1105000,2019-06-14,6,Condo
20988,Brooklyn,SHEEPSHEAD BAY,04 TAX CLASS 1 CONDOS,1A,7468,1107,R3,"2697 EAST 23RD STREET, 1",1,11235,...,0,0,877,1998,1,R3,600000,2019-05-30,5,Condo
1971,Bronx,EAST TREMONT,02 TWO FAMILY DWELLINGS,1,3122,35,B3,2066 HONEYWELL AVENUE,nan,10460,...,2,4963,1885,1910,1,B3,425000,2019-01-18,1,Other
19299,Brooklyn,PARK SLOPE,02 TWO FAMILY DWELLINGS,1,1076,51,B1,547 2 STREET,nan,11215,...,2,1942,2752,1955,1,B1,2350000,2019-08-27,8,Other
10442,Queens,FOREST HILLS,12 CONDOS - WALKUP APARTMENTS,2,3258,1145,R2,"109-19 72ND ROAD, 7B",7B,11375,...,0,0,1224,2017,2,R2,1349181,2019-02-01,2,Condo
11743,Manhattan,UPPER EAST SIDE (59-79),10 COOPS - ELEVATOR APARTMENTS,2,1431,21,D4,"241 EAST 76TH STREET, 61",nan,10075,...,0,0,0,1959,2,D4,605000,2018-11-16,11,Co-op
17085,Queens,OZONE PARK,01 ONE FAMILY DWELLINGS,1,9008,19,A1,95-28 81ST STREET,nan,11416,...,1,2500,1420,1925,1,A1,655000,2019-07-01,7,Other
4626,Bronx,PELHAM PARKWAY NORTH,01 ONE FAMILY DWELLINGS,1,4473,18,A1,2428 MORGAN AVENUE,nan,10469,...,1,5000,1200,1920,1,A1,690000,2019-03-25,3,Other
12319,Brooklyn,FLATBUSH-EAST,01 ONE FAMILY DWELLINGS,1,7770,70,A1,4541 KINGS HIGHWAY,nan,11234,...,1,2000,2154,1940,1,A1,185000,2018-12-18,12,Other
8141,Brooklyn,COBBLE HILL,01 ONE FAMILY DWELLINGS,1,295,14,A4,88 AMITY STREET,nan,11201,...,1,2132,5888,2017,1,A4,8553300,2019-05-09,5,Other
23675,Queens,ST. ALBANS,01 ONE FAMILY DWELLINGS,1,10982,180,A5,205-24 112TH ROAD,nan,11412,...,1,2200,1598,1935,1,A5,540600,2018-10-30,10,Other
3370,Staten Island,MARINERS HARBOR,05 TAX CLASS 1 VACANT LAND,1B,1160,88,V0,"52 LAKE AVENUE, 0",nan,10303,...,0,3762,0,2019,1,V0,784053,2019-01-16,1,Other
12649,Brooklyn,FLATBUSH-EAST,02 TWO FAMILY DWELLINGS,1,7769,48,B1,4322 AVENUE I,nan,11210,...,2,1950,1500,1930,1,B1,475000,2018-11-27,11,Other
21780,Queens,SOUTH JAMAICA,01 ONE FAMILY DWELLINGS,1,11940,162,A1,145-24 109TH AVENUE,nan,11435,...,1,4000,1144,1930,1,A1,470000,2018-11-05,11,Other
6868,Bronx,WAKEFIELD,02 TWO FAMILY DWELLINGS,1,5113,45,B1,726 PENFIELD STREET,nan,10470,...,2,4933,1596,1925,1,B1,660000,2018-10-02,10,Other
612,Manhattan,CHELSEA,13 CONDOS - ELEVATOR APARTMENTS,2,800,1436,R4,"101 WEST 24TH STREET, 28D",28D,10011,...,0,0,1286,2006,2,R4,2665000,2019-01-25,1,Condo
9029,Manhattan,MIDTOWN WEST,13 CONDOS - ELEVATOR APARTMENTS,2,1018,1238,R4,247 WEST 46TH STREET,2503,10036,...,0,0,1391,2006,2,R4,2290000,2018-12-17,12,Condo
5096,Staten Island,PORT RICHMOND,02 TWO FAMILY DWELLINGS,1,1039,60,B9,15 MITCHEL LANE,nan,10302,...,2,1800,1230,2003,1,B9,450000,2018-12-17,12,Other

In [204]:
#now take a look at 'tax class at present' to see if there are any utility/office/hotel buildilngs (tax class 3/4 respectively).
tax_class = combined.loc[:,'TAX CLASS AT PRESENT'].unique().tolist()
tax_class

['1', '2', '2A', '2B', '2C', '4', nan, '1C', '1A', '1B', '1D']

Index(['BOROUGH', 'NEIGHBORHOOD', 'BUILDING CLASS CATEGORY',
       'TAX CLASS AT PRESENT', 'BLOCK', 'LOT', 'EASE-MENT',
       'BUILDING CLASS AT PRESENT', 'ADDRESS', 'APARTMENT NUMBER', 'ZIP CODE',
       'RESIDENTIAL UNITS', 'COMMERCIAL UNITS', 'TOTAL UNITS',
       'LAND SQUARE FEET', 'GROSS SQUARE FEET', 'YEAR BUILT',
       'TAX CLASS AT TIME OF SALE', 'BUILDING CLASS AT TIME OF SALE',
       'SALE PRICE', 'SALE DATE'],
      dtype='object')

In [78]:
#inspect contents of building class category, for filtering activities later on.
building_class = combined.loc[:,'BUILDING CLASS CATEGORY'].unique().tolist()
building_class

['01 ONE FAMILY DWELLINGS',
 '02 TWO FAMILY DWELLINGS',
 '03 THREE FAMILY DWELLINGS',
 '07 RENTALS - WALKUP APARTMENTS',
 '08 RENTALS - ELEVATOR APARTMENTS',
 '09 COOPS - WALKUP APARTMENTS',
 '10 COOPS - ELEVATOR APARTMENTS',
 '12 CONDOS - WALKUP APARTMENTS',
 '13 CONDOS - ELEVATOR APARTMENTS',
 '17 CONDO COOPS',
 '14 RENTALS - 4-10 UNIT',
 '15 CONDOS - 2-10 UNIT RESIDENTIAL',
 '16 CONDOS - 2-10 UNIT WITH COMMERCIAL UNIT',
 '22 STORE BUILDINGS',
 '31 COMMERCIAL VACANT LAND',
 '21 OFFICE BUILDINGS',
 '23 LOFT BUILDINGS',
 '30 WAREHOUSES',
 '33 EDUCATIONAL FACILITIES',
 '44 CONDO PARKING',
 '45 CONDO HOTELS',
 '46 CONDO STORE BUILDINGS',
 '47 CONDO NON-BUSINESS STORAGE',
 '27 FACTORIES',
 '29 COMMERCIAL GARAGES',
 '43 CONDO OFFICE BUILDINGS',
 '26 OTHER HOTELS',
 '32 HOSPITAL AND HEALTH FACILITIES',
 '35 INDOOR PUBLIC AND CULTURAL FACILITIES',
 '48 CONDO TERRACES/GARDENS/CABANAS',
 '49 CONDO WAREHOUSES/FACTORY/INDUS',
 '28 COMMERCIAL CONDOS',
 '25 LUXURY HOTELS',
 '37 RELIGIOUS FACILITIES',
 '38 ASYLUMS AND HOMES',
 '04 TAX CLASS 1 CONDOS',
 '41 TAX CLASS 4 - OTHER',
 '11A CONDO-RENTALS',
 '42 CONDO CULTURAL/MEDICAL/EDUCATIONAL/ETC',
 '06 TAX CLASS 1 - OTHER',
 '05 TAX CLASS 1 VACANT LAND',
 '36 OUTDOOR RECREATIONAL FACILITIES',
 '34 THEATRES',
 '39 TRANSPORTATION FACILITIES']

In [65]:
#inspect contents of building class at time of sale, for filtering activities later on.
building_class_sale = combined.loc[:,'BUILDING CLASS AT TIME OF SALE'].unique().tolist()
building_class_sale

['S1',
 'A4',
 'B9',
 'C0',
 'C1',
 'C7',
 'C4',
 'C5',
 'D9',
 'D3',
 'D5',
 'D1',
 'C6',
 'D4',
 'D0',
 'R2',
 'R4',
 'R9',
 'C2',
 'S3',
 'R1',
 'R8',
 'K4',
 'V1',
 'A5',
 'A9',
 'S2',
 'B1',
 'B3',
 'C3',
 'S4',
 'S9',
 'S5',
 'O3',
 'O2',
 'O6',
 'O8',
 'K9',
 'K7',
 'L8',
 'L1',
 'E9',
 'W3',
 'RG',
 'RH',
 'RK',
 'RS',
 'D7',
 'O5',
 'K2',
 'L2',
 'F1',
 'G1',
 'G6',
 'RB',
 'L9',
 'HB',
 'G7',
 'G2',
 'I5',
 'P9',
 'RT',
 'RW',
 'A7',
 'D6',
 'K1',
 'P3',
 'R5',
 'O4',
 'K3',
 'H2',
 'H3',
 'H8',
 'G9',
 'W9',
 'W6',
 'M1',
 'N2',
 'S0',
 'R6',
 'H9',
 'H4',
 'Z9',
 'B2',
 'P5',
 'P7',
 'M9',
 'M3',
 'RP',
 'RR',
 'F9',
 'E1',
 'W8',
 'RA',
 'A1',
 'GU',
 'H1',
 'D8',
 'I4',
 'R3',
 'I6',
 'O9',
 'H7',
 'P8',
 'F5',
 'W7',
 'Z4',
 'D2',
 'M4',
 'O7',
 'HS',
 'HR',
 'H6',
 'G0',
 'V0',
 'E2',
 'A2',
 'Z0',
 'V3',
 'O1',
 'G3',
 'W2',
 'A0',
 'K6',
 'A6',
 'A3',
 'V2',
 'P4',
 'K5',
 'F4',
 'G4',
 'E7',
 'I9',
 'V9',
 'N9',
 'K8',
 'Z2',
 'I7',
 'I1',
 'A8',
 'P2',
 'F8',
 'V6',
 'Q2',
 'F2',
 'J9',
 'P6',
 'R7',
 'J1',
 'Q1',
 'W1',
 'Z1',
 'Q9',
 'Z3',
 'W4',
 'M2',
 'C8',
 'T2',
 'G5',
 'J6',
 'J2',
 'Q8',
 'G8',
 'Q7',
 'GW',
 'V5',
 'C9',
 'P1']

**Cleaning 'Tax Class at Present' and 'Tax Class at Time of Sale'**

In [205]:
#count how many nulls are in 'tax class at present'
np.sum(combined.loc[:,'TAX CLASS AT PRESENT'].isnull())

987

In [206]:
#impute that for NaN Tax Class at Present, there is no change and it should be set equal to Tax Class at Sale.
combined.loc[:, 'TAX CLASS AT PRESENT'] = combined.loc[:,'TAX CLASS AT PRESENT'].fillna(combined.loc[:,'TAX CLASS AT TIME OF SALE'])

In [207]:
#change 'tax class at present' to str first, after imputing to collect imputed values (ints) into the same object type.
combined.loc[:, 'TAX CLASS AT PRESENT'] = combined.loc[:,'TAX CLASS AT PRESENT'].astype(str)
#combined.loc[:, 'TAX CLASS AT TIME OF SALE'] = combined.loc[:,'TAX CLASS AT TIME OF SALE'].astype(str)

In [208]:
#one tax class is object, the other is int. They should both be categorical as the tax class is a bracket segmentation.
combined.loc[:,'TAX CLASS AT TIME OF SALE'] = combined.loc[:,'TAX CLASS AT TIME OF SALE'].astype('category')
combined.loc[:,'TAX CLASS AT PRESENT'] = combined.loc[:,'TAX CLASS AT PRESENT'].astype('category')

In [209]:
#now take a look at 'tax class at present' to see if there are any utility/office buildilngs (tax class 3/4 respectively).
tax_class = combined.loc[:,'TAX CLASS AT PRESENT'].unique().tolist()
tax_class

['1', '2', '2A', '2B', '2C', '4', '1C', '1A', '1B', '1D']

In [210]:
#count how many nulls are in 'tax class at present'
np.sum(combined.loc[:,'TAX CLASS AT PRESENT'].isnull())

0

In [17]:
test = combined.loc[combined['TAX CLASS AT PRESENT'].isnull()]
test

Empty DataFrame
Columns: [BOROUGH, NEIGHBORHOOD, BUILDING CLASS CATEGORY, TAX CLASS AT PRESENT, BLOCK, LOT, EASE-MENT, BUILDING CLASS AT PRESENT, ADDRESS, APARTMENT NUMBER, ZIP CODE, RESIDENTIAL UNITS, COMMERCIAL UNITS, TOTAL UNITS, LAND SQUARE FEET, GROSS SQUARE FEET, YEAR BUILT, TAX CLASS AT TIME OF SALE, BUILDING CLASS AT TIME OF SALE, SALE PRICE, SALE DATE]
Index: []

[0 rows x 21 columns]

**Convert the various objects into more specific types. Otherwise counting nulls and zeros for filtering purposes won't work.**

In [211]:
#Convert 'Apartment Number' to str and strip any extra whitespace
combined.loc[:,'APARTMENT NUMBER'] = combined.loc[:,'APARTMENT NUMBER'].astype(str).str.strip()

In [212]:
#Convert 'Apartment Number' to str and strip any extra whitespace
combined.loc[:,'ADDRESS'] = combined.loc[:,'ADDRESS'].astype(str).str.strip()

In [213]:
np.sum(combined.loc[:,'SALE PRICE'].isnull())
np.sum(combined.loc[:,'RESIDENTIAL UNITS'].isnull())
np.sum(combined.loc[:,'TOTAL UNITS'].isnull())

0

In [214]:
#replace commas in SALE PRICE column with empty space and convert to string, then float.
combined['SALE PRICE'] = combined['SALE PRICE'].str.replace(',','').astype(float).astype(int)

In [215]:
price = combined.loc[combined['SALE PRICE'].isnull()]
price

Empty DataFrame
Columns: [BOROUGH, NEIGHBORHOOD, BUILDING CLASS CATEGORY, TAX CLASS AT PRESENT, BLOCK, LOT, BUILDING CLASS AT PRESENT, ADDRESS, APARTMENT NUMBER, ZIP CODE, RESIDENTIAL UNITS, COMMERCIAL UNITS, TOTAL UNITS, LAND SQUARE FEET, GROSS SQUARE FEET, YEAR BUILT, TAX CLASS AT TIME OF SALE, BUILDING CLASS AT TIME OF SALE, SALE PRICE, SALE DATE]
Index: []

In [216]:
combined['LAND SQUARE FEET'] = combined['LAND SQUARE FEET'].str.replace(',','').astype(float).astype(int)
combined['GROSS SQUARE FEET'] = combined['GROSS SQUARE FEET'].str.replace(',','').astype(float).astype(int)

In [217]:
#convert sale date to datetime
combined.loc[:,'SALE DATE'] = pd.to_datetime(combined.loc[:,'SALE DATE'])

In [218]:
combined['SALE MONTH'] = pd.DatetimeIndex(combined['SALE DATE']).month

In [219]:
#residential units, commercial units, and total units are not consistent. Convert all to int.
combined.loc[:,'RESIDENTIAL UNITS'] = pd.to_numeric(combined.loc[:,'RESIDENTIAL UNITS'], errors = 'coerce')
combined.loc[:,'TOTAL UNITS'] = pd.to_numeric(combined.loc[:,'TOTAL UNITS'], errors = 'coerce')

In [108]:
#residential units, commercial units, and total units are not consistent. Convert all to int.
combined.loc[:,'RESIDENTIAL UNITS'] = combined.loc[:,'RESIDENTIAL UNITS'].astype(int)
combined.loc[:,'TOTAL UNITS'] = combined.loc[:,'TOTAL UNITS'].astype(int)

In [143]:
combined.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 48432 entries, 9086 to 2626
Data columns (total 22 columns):
BOROUGH                           48432 non-null object
NEIGHBORHOOD                      48432 non-null object
BUILDING CLASS CATEGORY           48432 non-null object
TAX CLASS AT PRESENT              48432 non-null category
BLOCK                             48432 non-null int64
LOT                               48432 non-null int64
BUILDING CLASS AT PRESENT         47636 non-null object
ADDRESS                           48432 non-null object
APARTMENT NUMBER                  48432 non-null object
ZIP CODE                          48432 non-null int64
RESIDENTIAL UNITS                 48432 non-null int64
COMMERCIAL UNITS                  48432 non-null int64
TOTAL UNITS                       48432 non-null int64
LAND SQUARE FEET                  48432 non-null int64
GROSS SQUARE FEET                 48432 non-null int64
YEAR BUILT                        48432 non-null int64
TAX CLASS AT TIME OF SALE         48432 non-null category
BUILDING CLASS AT TIME OF SALE    48432 non-null object
SALE PRICE                        48432 non-null int64
SALE DATE                         48432 non-null datetime64[ns]
SALE MONTH                        48432 non-null int64
TYPE                              48432 non-null object
dtypes: category(2), datetime64[ns](1), int64(11), object(8)
memory usage: 7.9+ MB

### **Filter out non-residential transactions: office/utility/hotel buildings. Also filter out rental-only buildings: these are bought and sold by corporations and not individuals.**

In [220]:
#filter out office buildings and rental buildings, sort by price descending. Looks like there are dupes.
combined = combined.loc[(combined['TAX CLASS AT PRESENT'] != '4') & (combined['BUILDING CLASS CATEGORY'].str.contains('RENTAL')==False)].sort_values('SALE PRICE', ascending = False)

**Filter out transfers (price is <= 10) and transactions under $100k**

In [221]:
#filter price
combined = combined.loc[combined['SALE PRICE'] >= 100000,]

In [222]:
#now what is left?
combined.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 49927 entries, 9086 to 2626
Data columns (total 21 columns):
BOROUGH                           49927 non-null object
NEIGHBORHOOD                      49927 non-null object
BUILDING CLASS CATEGORY           49927 non-null object
TAX CLASS AT PRESENT              49927 non-null category
BLOCK                             49927 non-null int64
LOT                               49927 non-null int64
BUILDING CLASS AT PRESENT         49131 non-null object
ADDRESS                           49927 non-null object
APARTMENT NUMBER                  49927 non-null object
ZIP CODE                          49927 non-null int64
RESIDENTIAL UNITS                 49927 non-null float64
COMMERCIAL UNITS                  49927 non-null int64
TOTAL UNITS                       49927 non-null float64
LAND SQUARE FEET                  49927 non-null int64
GROSS SQUARE FEET                 49927 non-null int64
YEAR BUILT                        49927 non-null int64
TAX CLASS AT TIME OF SALE         49927 non-null category
BUILDING CLASS AT TIME OF SALE    49927 non-null object
SALE PRICE                        49927 non-null int64
SALE DATE                         49927 non-null datetime64[ns]
SALE MONTH                        49927 non-null int64
dtypes: category(2), datetime64[ns](1), float64(2), int64(9), object(7)
memory usage: 7.7+ MB

In [55]:
combined.sample(50)

,BOROUGH,NEIGHBORHOOD,BUILDING CLASS CATEGORY,TAX CLASS AT PRESENT,BLOCK,LOT,EASE-MENT,BUILDING CLASS AT PRESENT,ADDRESS,APARTMENT NUMBER,...,TOTAL UNITS,LAND SQUARE FEET,GROSS SQUARE FEET,YEAR BUILT,TAX CLASS AT TIME OF SALE,BUILDING CLASS AT TIME OF SALE,SALE PRICE,SALE DATE,TYPE,SALE MONTH
18200,Queens,QUEENS VILLAGE,03 THREE FAMILY DWELLINGS,1,7969,105,NaN,C0,88-19 RANSOM STREET,NaN,...,3.0,2583,3202,1970,1,C0,1014000,2018-10-31,Other,2018-10
17136,Manhattan,UPPER WEST SIDE (96-116),13 CONDOS - ELEVATOR APARTMENTS,2,1870,1204,NaN,R4,"251 WEST 98TH STREET, 1D",1D,...,0.0,0,435,0,2,R4,577000,2019-03-21,Condo,2019-03
4289,Bronx,PARKCHESTER,13 CONDOS - ELEVATOR APARTMENTS,2,3943,5112,NaN,R4,"1560 METROPOLITAN AVENUE, 1G",1G,...,0.0,0,524,0,2,R4,168000,2019-04-24,Condo,2019-04
1861,Staten Island,GRANT CITY,13 CONDOS - ELEVATOR APARTMENTS,2,3585,1119,NaN,R4,"100 COLFAX AVENUE, 2U",2U,...,0.0,0,871,1961,2,R4,225000,2019-04-12,Condo,2019-04
4009,Brooklyn,BOROUGH PARK,03 THREE FAMILY DWELLINGS,1,5435,76,NaN,C0,1723 46TH STREET,NaN,...,3.0,2538,2360,1920,1,C0,600000,2019-04-03,Other,2019-04
10307,Brooklyn,DYKER HEIGHTS,03 THREE FAMILY DWELLINGS,1,6177,31,NaN,C0,1266 71ST STREET,NaN,...,3.0,2517,2320,1930,1,C0,1620000,2019-04-24,Other,2019-04
333,Queens,ASTORIA,02 TWO FAMILY DWELLINGS,1,521,129,NaN,B1,33-30 14TH STREET,NaN,...,2.0,1256,2262,1996,1,B1,641498,2019-08-07,Other,2019-08
3550,Bronx,MORRISANIA/LONGWOOD,09 COOPS - WALKUP APARTMENTS,2,2746,21,NaN,C6,"946 HOE AVENUE, 6I",NaN,...,0.0,0,0,1913,2,C6,120000,2018-12-18,Co-op,2018-12
22083,Queens,SOUTH JAMAICA,02 TWO FAMILY DWELLINGS,1,12140,11,NaN,B2,150-14 109TH AVENUE,NaN,...,2.0,1562,1744,2004,1,B2,719970,2019-03-22,Other,2019-03
4017,Staten Island,NEW DORP,02 TWO FAMILY DWELLINGS,1,3649,42,NaN,B2,182 JACQUES AVENUE,NaN,...,2.0,4000,2199,2018,1,B2,998000,2019-02-25,Other,2019-02
21128,Queens,SO. JAMAICA-BAISLEY PARK,01 ONE FAMILY DWELLINGS,1,12108,65,NaN,A1,149-09 130TH AVENUE,NaN,...,1.0,2000,868,1920,1,A1,280000,2019-04-18,Other,2019-04
10949,Brooklyn,EAST NEW YORK,02 TWO FAMILY DWELLINGS,1,4399,12,NaN,B9,998 BARBEY STREET,NaN,...,2.0,1710,1944,1960,1,B9,852290,2019-06-10,Other,2019-06
6711,Staten Island,TOTTENVILLE,02 TWO FAMILY DWELLINGS,1,8036,28,NaN,B2,159 HECKER STREET,NaN,...,2.0,3710,1880,1998,1,B2,883000,2019-07-22,Other,2019-07
16044,Queens,MASPETH,02 TWO FAMILY DWELLINGS,1,2718,104,NaN,B1,56-37 REMSEN PLACE,NaN,...,2.0,2050,2440,1955,1,B1,800000,2019-01-28,Other,2019-01
773,Staten Island,BULLS HEAD,04 TAX CLASS 1 CONDOS,1A,1489,1227,NaN,R3,"8 JAMIE COURT, 92",92,...,0.0,0,1097,1986,1,R3,230000,2019-02-14,Condo,2019-02
15236,Queens,LONG ISLAND CITY,12 CONDOS - WALKUP APARTMENTS,2,72,1036,NaN,NaN,"22-18 JACKSON AVE, 321",NaN,...,0.0,0,0,0,2,R2,817850,2019-06-21,Condo,2019-06
6235,Brooklyn,BUSHWICK,02 TWO FAMILY DWELLINGS,1,3391,17,NaN,B1,1336 JEFFERSON AVENUE,NaN,...,2.0,2000,3000,1901,1,B1,1140000,2019-07-11,Other,2019-07
21181,Queens,SO. JAMAICA-BAISLEY PARK,01 ONE FAMILY DWELLINGS,1,12202,50,NaN,A1,116-32 155TH STREET,NaN,...,1.0,1900,1092,1925,1,A1,500000,2018-12-26,Other,2018-12
20540,Brooklyn,SEAGATE,02 TWO FAMILY DWELLINGS,1,6955,41,NaN,B2,3829 POPLAR AVENUE,NaN,...,2.0,3650,2808,1960,1,B2,740000,2019-02-07,Other,2019-02
23161,Queens,SPRINGFIELD GARDENS,01 ONE FAMILY DWELLINGS,1,13283,151,NaN,A5,167-01 144 TERRACE,NaN,...,1.0,2266,1054,1950,1,A5,499000,2019-05-29,Other,2019-05
17477,Queens,OZONE PARK,02 TWO FAMILY DWELLINGS,1,11515,39,NaN,B3,135-33 96TH STREET,NaN,...,2.0,2700,1815,1925,1,B3,770000,2019-05-06,Other,2019-05
3647,Queens,CORONA,01 ONE FAMILY DWELLINGS,1,1598,11,NaN,S1,41-16 JUNCTION BOULEVARD,NaN,...,2.0,1600,2484,1930,1,S1,1350000,2019-08-30,Other,2019-08
902,Staten Island,CASTLETON CORNERS,01 ONE FAMILY DWELLINGS,1,374,326,NaN,A0,153 CONSTANT AVENUE,NaN,...,1.0,5500,1200,1955,1,A0,565000,2018-11-01,Other,2018-11
511,Brooklyn,BAY RIDGE,02 TWO FAMILY DWELLINGS,1,5863,56,NaN,B1,359 BAY RIDGE AVENUE,NaN,...,2.0,2000,2140,1915,1,B1,900000,2018-12-11,Other,2018-12
3284,Brooklyn,BOERUM HILL,02 TWO FAMILY DWELLINGS,1,179,13,NaN,B1,476 1/2 STATE STREET,NaN,...,2.0,1485,2304,1915,1,B1,2992000,2019-06-17,Other,2019-06
7905,Manhattan,MIDTOWN EAST,10 COOPS - ELEVATOR APARTMENTS,2,1341,1,NaN,D4,"301 EAST 48TH STREET, 16M",NaN,...,0.0,0,0,1964,2,D4,492500,2019-08-16,Co-op,2019-08
16380,Queens,MIDDLE VILLAGE,01 ONE FAMILY DWELLINGS,1,3069,127,NaN,A2,79-14 JUNIPER VALLEY ROAD,NaN,...,1.0,1742,952,1920,1,A2,350000,2018-12-28,Other,2018-12
5540,Manhattan,HARLEM-UPPER,13 CONDOS - ELEVATOR APARTMENTS,2,2090,1153,NaN,R4,"668 RIVERSIDE DRIVE, 5K",5K,...,0.0,0,553,0,2,R4,427500,2019-09-06,Condo,2019-09
1916,Queens,BAYSIDE,09 COOPS - WALKUP APARTMENTS,2,5787,1,NaN,C6,"199-25 22ND AVENUE, 1-258",NaN,...,0.0,0,0,1951,2,C6,255000,2018-12-14,Co-op,2018-12
8820,Manhattan,MIDTOWN WEST,10 COOPS - ELEVATOR APARTMENTS,2,1049,1,NaN,D4,"345 WEST 58TH STREET, 9M",NaN,...,0.0,0,0,1957,2,D4,1751000,2018-12-06,Co-op,2018-12
22079,Queens,SOUTH JAMAICA,02 TWO FAMILY DWELLINGS,1,11962,50,NaN,B3,111-12 146TH STREET,NaN,...,2.0,2400,1536,1930,1,B3,729000,2019-05-30,Other,2019-05
1629,Bronx,CITY ISLAND,09 COOPS - WALKUP APARTMENTS,2,5628,8,NaN,C6,"30 CARROLL STREET, B",NaN,...,0.0,0,0,1920,2,C6,320000,2019-05-21,Co-op,2019-05
5807,Bronx,SOUNDVIEW,02 TWO FAMILY DWELLINGS,1,3469,35,NaN,B2,340 BEACH AVENUE,NaN,...,2.0,2275,1902,2001,1,B2,610000,2019-07-24,Other,2019-07
4617,Staten Island,NEW SPRINGVILLE,04 TAX CLASS 1 CONDOS,1A,2450,3389,NaN,R3,"10 PIERPONT PLACE, N/A",NaN,...,0.0,0,1008,1981,1,R3,350000,2019-03-27,Condo,2019-03
10778,Manhattan,TRIBECA,13 CONDOS - ELEVATOR APARTMENTS,2,16,4356,NaN,R4,"212 WARREN STREET, 6A",6A,...,0.0,0,1280,2000,2,R4,1972500,2019-07-19,Condo,2019-07
8121,Queens,FLUSHING-NORTH,13 CONDOS - ELEVATOR APARTMENTS,2,5066,3002,NaN,R4,"131-01 40TH ROAD, 8D",8D,...,0.0,0,1014,2016,2,R4,1200759,2019-01-15,Condo,2019-01
8662,Queens,FLUSHING-SOUTH,01 ONE FAMILY DWELLINGS,1,6527,29,NaN,A5,144-42 GRAVETT ROAD,NaN,...,1.0,2938,1944,1950,1,A5,780000,2019-08-26,Other,2019-08
5755,Bronx,SOUNDVIEW,01 ONE FAMILY DWELLINGS,1,3522,4,NaN,A1,1807 LACOMBE AVE,NaN,...,1.0,2500,874,1920,1,A1,250000,2019-03-11,Other,2019-03
3692,Staten Island,NEW BRIGHTON,01 ONE FAMILY DWELLINGS,1,59,56,NaN,A1,34 FILLMORE STREET,NaN,...,1.0,2700,1644,1920,1,A1,392857,2019-05-10,Other,2019-05
24107,Queens,ST. ALBANS,02 TWO FAMILY DWELLINGS,1,12646,63,NaN,B3,119-15 190TH ST,NaN,...,2.0,4000,1713,1930,1,B3,744000,2018-10-05,Other,2018-10
17571,Queens,OZONE PARK,12 CONDOS - WALKUP APARTMENTS,2,9046,1018,NaN,R2,"97-52 75 STREET, A25",A25,...,0.0,0,607,1927,2,R2,110770,2019-03-14,Condo,2019-03
7453,Staten Island,WILLOWBROOK,01 ONE FAMILY DWELLINGS,1,2091,73,NaN,A5,53 HALL AVENUE,NaN,...,1.0,3507,1775,2017,1,A5,668737,2019-08-20,Other,2019-08
23489,Queens,ST. ALBANS,01 ONE FAMILY DWELLINGS,1,10275,13,NaN,A1,110-46 177TH STREET,NaN,...,1.0,3000,1160,1935,1,A1,249950,2018-10-25,Other,2018-10
13348,Brooklyn,FLATBUSH-NORTH,10 COOPS - ELEVATOR APARTMENTS,2,4847,4,NaN,D4,"40 EAST 43RD STREET, 4A",NaN,...,0.0,0,0,1956,2,D4,102000,2019-09-23,Co-op,2019-09
10451,Manhattan,SOHO,09 COOPS - WALKUP APARTMENTS,2C,485,36,NaN,C6,"458 BROOME STREET, 5",NaN,...,0.0,0,0,1900,2,C6,206435,2019-04-18,Co-op,2019-04
7550,Staten Island,WOODROW,01 ONE FAMILY DWELLINGS,1,6958,33,NaN,A5,1032C RATHBUN AVENUE,NaN,...,1.0,800,960,1987,1,A5,390000,2019-05-29,Other,2019-05
7927,Manhattan,MIDTOWN EAST,10 COOPS - ELEVATOR APARTMENTS,2,1345,31,NaN,D4,"342 EAST 53RD STREET, 1H",NaN,...,0.0,0,0,1939,2,D4,498000,2018-11-02,Co-op,2018-11
17542,Brooklyn,MILL BASIN,02 TWO FAMILY DWELLINGS,1,8465,6,NaN,B9,2104 E65TH ST,NaN,...,2.0,3400,2760,1960,1,B9,900000,2019-03-11,Other,2019-03
398,Staten Island,ARDEN HEIGHTS,01 ONE FAMILY DWELLINGS,1,6043,13,NaN,A5,84 EVERTON AVENUE,NaN,...,1.0,1043,1008,1986,1,A5,317625,2019-08-13,Other,2019-08
11793,Queens,HOLLIS,01 ONE FAMILY DWELLINGS,1,10841,34,NaN,A1,99-27 194TH STREET,NaN,...,1.0,2400,1552,1920,1,A1,474447,2018-12-03,Other,2018-12

In [35]:
#inspect contents of building class at time of sale again to see what remains.
building_class_sale = combined.loc[:,'BUILDING CLASS AT TIME OF SALE'].unique().tolist()
building_class_sale

['R4',
 'D4',
 'A7',
 'V0',
 'B2',
 'B1',
 'A4',
 'R1',
 'R8',
 'B3',
 'R5',
 'D0',
 'A5',
 'S2',
 'A1',
 'S1',
 'B9',
 'C0',
 'R9',
 'M1',
 'R2',
 'A9',
 'C6',
 'G0',
 'R6',
 'A3',
 'S0',
 'R3',
 'Z0',
 'A2',
 'V2',
 'A0',
 'A8',
 'V3',
 'RG',
 'A6',
 'R7',
 'C8']

In [96]:
#inspect contents of building class category again.
building_class = combined.loc[:,'BUILDING CLASS CATEGORY'].unique().tolist()
building_class

['13 CONDOS - ELEVATOR APARTMENTS',
 '10 COOPS - ELEVATOR APARTMENTS',
 '01 ONE FAMILY DWELLINGS',
 '05 TAX CLASS 1 VACANT LAND',
 '02 TWO FAMILY DWELLINGS',
 '15 CONDOS - 2-10 UNIT RESIDENTIAL',
 '16 CONDOS - 2-10 UNIT WITH COMMERCIAL UNIT',
 '28 COMMERCIAL CONDOS',
 '03 THREE FAMILY DWELLINGS',
 '17 CONDO COOPS',
 '37 RELIGIOUS FACILITIES',
 '12 CONDOS - WALKUP APARTMENTS',
 '09 COOPS - WALKUP APARTMENTS',
 '06 TAX CLASS 1 - OTHER',
 '04 TAX CLASS 1 CONDOS',
 '44 CONDO PARKING']

In [49]:
combined.loc[combined['BUILDING CLASS CATEGORY'] == '12 CONDOS - WALKUP APARTMENTS']

,BOROUGH,NEIGHBORHOOD,BUILDING CLASS CATEGORY,TAX CLASS AT PRESENT,BLOCK,LOT,EASE-MENT,BUILDING CLASS AT PRESENT,ADDRESS,APARTMENT NUMBER,...,COMMERCIAL UNITS,TOTAL UNITS,LAND SQUARE FEET,GROSS SQUARE FEET,YEAR BUILT,TAX CLASS AT TIME OF SALE,BUILDING CLASS AT TIME OF SALE,SALE PRICE,SALE DATE,TYPE
1058,Manhattan,CIVIC CENTER,12 CONDOS - WALKUP APARTMENTS,2,153,1159,NaN,R2,"49-51 CHAMBERS STREET, 14E",14E,...,0,0.0,0,3943,1910,2,R2,7300000,2019-06-20,Condo
1057,Manhattan,CIVIC CENTER,12 CONDOS - WALKUP APARTMENTS,2,153,1159,NaN,R2,"49-51 CHAMBERS STREET, 14E",14E,...,0,0.0,0,3943,1910,2,R2,7300000,2019-06-20,Condo
338,Manhattan,CHELSEA,12 CONDOS - WALKUP APARTMENTS,2,699,1420,NaN,R2,"527 WEST 27TH STREET, 7A",7A,...,0,0.0,0,2828,2015,2,R2,6850000,2019-09-06,Condo
337,Manhattan,CHELSEA,12 CONDOS - WALKUP APARTMENTS,2,699,1417,NaN,R2,"527 WEST 27TH STREET, 6A",6A,...,0,0.0,0,2854,2015,2,R2,6334759,2019-08-05,Condo
333,Manhattan,CHELSEA,12 CONDOS - WALKUP APARTMENTS,2,699,1401,NaN,R2,"527 WEST 27TH STREET, 2A",2A,...,0,0.0,0,2558,2015,2,R2,6100000,2019-09-10,Condo
340,Manhattan,CHELSEA,12 CONDOS - WALKUP APARTMENTS,2,699,1434,NaN,R2,"527 WEST 27TH STREET, 7S",7S,...,0,0.0,0,2000,2015,2,R2,5400000,2019-08-08,Condo
339,Manhattan,CHELSEA,12 CONDOS - WALKUP APARTMENTS,2,699,1432,NaN,R2,"527 WEST 27TH STREET, 5S",5S,...,0,0.0,0,2000,2015,2,R2,5165028,2019-08-06,Condo
334,Manhattan,CHELSEA,12 CONDOS - WALKUP APARTMENTS,2,699,1405,NaN,R2,"527 WEST 27TH STREET, 3A",3A,...,0,0.0,0,2218,2015,2,R2,4795844,2019-08-14,Condo
1056,Manhattan,CIVIC CENTER,12 CONDOS - WALKUP APARTMENTS,2,153,1147,NaN,R4,"49-51 CHAMBERS STREET, 14D",14D,...,0,0.0,0,2256,1910,2,R2,4150000,2019-04-22,Condo
1055,Manhattan,CIVIC CENTER,12 CONDOS - WALKUP APARTMENTS,2,153,1147,NaN,R4,"49-51 CHAMBERS STREET, 14D",14D,...,0,0.0,0,2256,1910,2,R2,4150000,2019-04-22,Condo
5447,Brooklyn,BROOKLYN-UNKNOWN,12 CONDOS - WALKUP APARTMENTS,2,343,1017,NaN,NaN,"145 PRESIDENT STREET, PHN",NaN,...,0,0.0,0,0,0,2,R2,4100000,2019-07-23,Condo
7582,Brooklyn,CARROLL GARDENS,12 CONDOS - WALKUP APARTMENTS,2,343,1017,NaN,NaN,"145 PRESIDENT STREET, PHN",NaN,...,0,0.0,0,0,0,2,R2,4100000,2019-07-23,Condo
22469,Brooklyn,WILLIAMSBURG-EAST,12 CONDOS - WALKUP APARTMENTS,2,2250,1202,NaN,R2,"54 THROOP AVENUE, 1B",1B,...,0,0.0,0,8459,2017,2,R2,4000000,2019-09-26,Condo
1053,Manhattan,CIVIC CENTER,12 CONDOS - WALKUP APARTMENTS,2,153,1145,NaN,R4,"49-51 CHAMBERS STREET, 11D",11D,...,0,0.0,0,2256,1910,2,R2,3925000,2019-04-30,Condo
1054,Manhattan,CIVIC CENTER,12 CONDOS - WALKUP APARTMENTS,2,153,1145,NaN,R4,"49-51 CHAMBERS STREET, 11D",11D,...,0,0.0,0,2256,1910,2,R2,3925000,2019-04-30,Condo
1052,Manhattan,CIVIC CENTER,12 CONDOS - WALKUP APARTMENTS,2,153,1144,NaN,R4,"49-51 CHAMBERS STREET, 10D",10D,...,0,0.0,0,2256,1910,2,R2,3900000,2019-05-13,Condo
1051,Manhattan,CIVIC CENTER,12 CONDOS - WALKUP APARTMENTS,2,153,1144,NaN,R4,"49-51 CHAMBERS STREET, 10D",10D,...,0,0.0,0,2256,1910,2,R2,3900000,2019-05-13,Condo
336,Manhattan,CHELSEA,12 CONDOS - WALKUP APARTMENTS,2,699,1411,NaN,R2,"527 WEST 27TH STREET, 4C",4C,...,0,0.0,0,1426,2015,2,R2,3770025,2019-09-09,Condo
1049,Manhattan,CIVIC CENTER,12 CONDOS - WALKUP APARTMENTS,2,153,1141,NaN,R4,"49-51 CHAMBERS STREET, 7D",7D,...,0,0.0,0,2256,1910,2,R2,3650000,2019-04-08,Condo
1050,Manhattan,CIVIC CENTER,12 CONDOS - WALKUP APARTMENTS,2,153,1141,NaN,R4,"49-51 CHAMBERS STREET, 7D",7D,...,0,0.0,0,2256,1910,2,R2,3650000,2019-04-08,Condo
8212,Brooklyn,COBBLE HILL,12 CONDOS - WALKUP APARTMENTS,2,295,1125,NaN,R4,"78 AMITY STREET, PHB",PHB,...,0,0.0,0,1634,2018,2,R2,3362500,2019-04-26,Condo
1042,Manhattan,CIVIC CENTER,12 CONDOS - WALKUP APARTMENTS,2,153,1106,NaN,R4,"49-51 CHAMBERS STREET, 8A",8A,...,0,0.0,0,1824,1910,2,R2,3340000,2019-04-16,Condo
1041,Manhattan,CIVIC CENTER,12 CONDOS - WALKUP APARTMENTS,2,153,1106,NaN,R4,"49-51 CHAMBERS STREET, 8A",8A,...,0,0.0,0,1824,1910,2,R2,3340000,2019-04-16,Condo
7573,Brooklyn,CARROLL GARDENS,12 CONDOS - WALKUP APARTMENTS,2,343,1003,NaN,NaN,"145 PRESIDENT STREET, 2B",NaN,...,0,0.0,0,0,0,2,R2,3300000,2019-08-07,Condo
5438,Brooklyn,BROOKLYN-UNKNOWN,12 CONDOS - WALKUP APARTMENTS,2,343,1003,NaN,NaN,"145 PRESIDENT STREET, 2B",NaN,...,0,0.0,0,0,0,2,R2,3300000,2019-08-07,Condo
8213,Brooklyn,COBBLE HILL,12 CONDOS - WALKUP APARTMENTS,2,295,1127,NaN,R4,"78 AMITY STREET, PHD",PHD,...,0,0.0,0,1787,2018,2,R2,3280000,2019-04-24,Condo
7583,Brooklyn,CARROLL GARDENS,12 CONDOS - WALKUP APARTMENTS,2,343,1018,NaN,NaN,"145 PRESIDENT STREET, PHS",NaN,...,0,0.0,0,0,0,2,R2,3250000,2019-07-15,Condo
5448,Brooklyn,BROOKLYN-UNKNOWN,12 CONDOS - WALKUP APARTMENTS,2,343,1018,NaN,NaN,"145 PRESIDENT STREET, PHS",NaN,...,0,0.0,0,0,0,2,R2,3250000,2019-07-15,Condo
1039,Manhattan,CIVIC CENTER,12 CONDOS - WALKUP APARTMENTS,2,153,1105,NaN,R4,"49-51 CHAMBERS STREET, 7A",7A,...,0,0.0,0,1824,1910,2,R2,3200000,2019-05-02,Condo
1040,Manhattan,CIVIC CENTER,12 CONDOS - WALKUP APARTMENTS,2,153,1105,NaN,R4,"49-51 CHAMBERS STREET, 7A",7A,...,0,0.0,0,1824,1910,2,R2,3200000,2019-05-02,Condo
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4647,Staten Island,NEW SPRINGVILLE,12 CONDOS - WALKUP APARTMENTS,2,2363,1037,NaN,R2,"19 GADSEN PLACE, 2E",2E,...,0,0.0,0,489,1974,2,R2,180000,2019-08-20,Condo
6940,Manhattan,MANHATTAN VALLEY,12 CONDOS - WALKUP APARTMENTS,2,1843,1009,NaN,R2,"67 WEST 107 STREET, 10",10,...,0,0.0,0,549,1929,2,R2,179178,2019-06-06,Condo
4748,Manhattan,HARLEM-CENTRAL,12 CONDOS - WALKUP APARTMENTS,2,1944,1237,NaN,R2,"421 MANHATTAN AVENUE, C-12A",C-12A,...,0,0.0,0,572,1910,2,R2,175085,2019-06-06,Condo
4654,Staten Island,NEW SPRINGVILLE,12 CONDOS - WALKUP APARTMENTS,2,2363,1083,NaN,R2,"31 GADSEN PLACE, 2E",2E,...,0,0.0,0,489,1974,2,R2,175000,2019-08-05,Condo
6942,Manhattan,MANHATTAN VALLEY,12 CONDOS - WALKUP APARTMENTS,2,1843,1013,NaN,R2,"67 WEST 107 STREET, 14",14,...,0,0.0,0,549,1929,2,R2,174515,2019-06-06,Condo
2347,Bronx,HIGHBRIDGE/MORRIS HEIGHTS,12 CONDOS - WALKUP APARTMENTS,2,2516,1006,NaN,R2,"1211 NELSON AVENUE, 1211B",1211B,...,0,0.0,0,852,2005,2,R2,170000,2019-04-12,Condo
4634,Staten Island,NEW SPRINGVILLE,12 CONDOS - WALKUP APARTMENTS,2,2360,1067,NaN,R2,"1300 ROCKLAND AVENUE, 1C",1C,...,0,0.0,0,640,1973,2,R2,170000,2019-08-06,Condo
4633,Staten Island,NEW SPRINGVILLE,12 CONDOS - WALKUP APARTMENTS,2,2360,1065,NaN,R2,"1300 ROCKLAND AVENUE, 1A",1A,...,0,0.0,0,670,1973,2,R2,170000,2019-08-06,Condo
4629,Staten Island,NEW SPRINGVILLE,12 CONDOS - WALKUP APARTMENTS,2,2360,1032,NaN,R2,"1290 ROCKLAND AVENUE, 2H",2H,...,0,0.0,0,670,1973,2,R2,170000,2019-08-06,Condo
12703,Queens,HOWARD BEACH,12 CONDOS - WALKUP APARTMENTS,2,11440,1042,NaN,R2,"78-14 153RD AVENUE, 7814E",7814E,...,0,0.0,0,600,1977,2,R2,170000,2019-09-23,Condo
6949,Manhattan,MANHATTAN VALLEY,12 CONDOS - WALKUP APARTMENTS,2,1843,1029,NaN,R2,"65 WEST 107 STREET, 3D",3D,...,0,0.0,0,532,1929,2,R2,169862,2019-06-06,Condo
17570,Queens,OZONE PARK,12 CONDOS - WALKUP APARTMENTS,2,9046,1014,NaN,R2,"97-52 75 STREET, A21",A21,...,0,0.0,0,894,1927,2,R2,161120,2019-07-15,Condo
5630,Staten Island,ROSEBANK,12 CONDOS - WALKUP APARTMENTS,2,2862,1045,NaN,R2,50 BELAIR ROAD,5G,...,0,0.0,0,596,1985,2,R2,152000,2018-11-09,Condo
1948,Brooklyn,BEDFORD STUYVESANT,12 CONDOS - WALKUP APARTMENTS,2,1914,1003,NaN,R2,"163 SKILLMAN STREET, 3A",3A,...,0,0.0,0,1030,2003,2,R2,150000,2018-12-18,Condo
21241,Brooklyn,SHEEPSHEAD BAY,12 CONDOS - WALKUP APARTMENTS,2,7470,1401,NaN,R2,"4665 BEDFORD AVENUE, 1L",1L,...,0,0.0,0,417,1980,2,R2,147030,2019-03-08,Condo
21250,Brooklyn,SHEEPSHEAD BAY,12 CONDOS - WALKUP APARTMENTS,2,7470,1501,NaN,R2,"4641 BEDFORD AVENUE, 1L",1L,...,0,0.0,0,414,1976,2,R2,147030,2019-03-06,Condo
4731,Manhattan,HARLEM-CENTRAL,12 CONDOS - WALKUP APARTMENTS,2,1944,1203,NaN,R2,"411 MANHATTAN AVENUE, A-2",A-2,...,0,0.0,0,494,1910,2,R2,138014,2019-06-06,Condo
6432,Manhattan,LOWER EAST SIDE,12 CONDOS - WALKUP APARTMENTS,2,413,1014,NaN,R2,75 ALLEN STREET,5C,...,0,0.0,0,250,0,2,R2,136925,2018-10-22,Condo
17576,Queens,OZONE PARK,12 CONDOS - WALKUP APARTMENTS,2,9046,1034,NaN,R2,"97-52 75 STREET, B25",B25,...,0,0.0,0,656,1927,2,R2,136890,2019-07-31,Condo
17572,Queens,OZONE PARK,12 CONDOS - WALKUP APARTMENTS,2,9046,1022,NaN,R2,"97-52 75TH STREET, A33",A33,...,0,0.0,0,524,1927,2,R2,132000,2019-02-27,Condo
17577,Queens,OZONE PARK,12 CONDOS - WALKUP APARTMENTS,2,9046,1037,NaN,R2,"97-52 75 STREET, B32",B32,...,0,0.0,0,741,1927,2,R2,130910,2019-06-13,Condo
17574,Queens,OZONE PARK,12 CONDOS - WALKUP APARTMENTS,2,9046,1027,NaN,R2,97-52 75 STREET,B2,...,0,0.0,0,741,1927,2,R2,125000,2018-10-26,Condo
17573,Queens,OZONE PARK,12 CONDOS - WALKUP APARTMENTS,2,9046,1027,NaN,R2,"97-52 75 STREET, B2",B2,...,0,0.0,0,741,1927,2,R2,125000,2019-03-08,Condo
4720,Manhattan,HARLEM-CENTRAL,12 CONDOS - WALKUP APARTMENTS,2,1911,1107,NaN,R2,"159 WEST 126, 3-A",3-A,...,0,0.0,0,981,1910,2,R2,124555,2019-09-05,Condo
4640,Staten Island,NEW SPRINGVILLE,12 CONDOS - WALKUP APARTMENTS,2,2363,1009,NaN,R2,"11 GADSEN PLACE, 1E",1E,...,0,0.0,0,489,1974,2,R2,119000,2018-12-14,Condo
6952,Manhattan,MANHATTAN VALLEY,12 CONDOS - WALKUP APARTMENTS,2,1843,1033,NaN,R2,"65 WEST 107 STREET, 4D",4D,...,0,0.0,0,532,1929,2,R2,118677,2019-06-06,Condo
17575,Queens,OZONE PARK,12 CONDOS - WALKUP APARTMENTS,2,9046,1029,NaN,R2,"97-52 75 STREET, B4",B4,...,0,0.0,0,619,1927,2,R2,111540,2019-03-14,Condo
17571,Queens,OZONE PARK,12 CONDOS - WALKUP APARTMENTS,2,9046,1018,NaN,R2,"97-52 75 STREET, A25",A25,...,0,0.0,0,607,1927,2,R2,110770,2019-03-14,Condo
2350,Bronx,HIGHBRIDGE/MORRIS HEIGHTS,12 CONDOS - WALKUP APARTMENTS,2,2516,1025,NaN,R2,"1221 NELSON AVENUE, 1221A",1221A,...,0,0.0,0,941,2005,2,R2,110000,2019-03-29,Condo
4738,Manhattan,HARLEM-CENTRAL,12 CONDOS - WALKUP APARTMENTS,2,1944,1213,NaN,R2,"417 MANHATTAN AVENUE, B-1",B-1,...,0,0.0,0,359,1910,2,R2,109491,2019-06-06,Condo

**Cleanup building class to filter out any remaining non-residential buildings, and create
a 'TYPE' column to designated Condo vs. Co-op vs. Other**

In [223]:
combined = combined.loc[combined["BUILDING CLASS CATEGORY"].str.contains('RELIGIOUS|06')==False]

In [224]:
#CREATE 'TYPE' COLUMN WHICH SHOWS THE BUILDING TYPE (CONDO VS CO-OP VS OTHER)
combined['TYPE'] = np.where(combined['BUILDING CLASS CATEGORY'].str.contains('CONDO COOPS'),\
                'Condop', np.where(combined['BUILDING CLASS CATEGORY'].str.contains('CONDO'),\
                'Condo',np.where(combined['BUILDING CLASS CATEGORY'].str.contains('COOP'),'Co-op','Other')))

In [225]:
combined.columns

Index(['BOROUGH', 'NEIGHBORHOOD', 'BUILDING CLASS CATEGORY',
       'TAX CLASS AT PRESENT', 'BLOCK', 'LOT', 'BUILDING CLASS AT PRESENT',
       'ADDRESS', 'APARTMENT NUMBER', 'ZIP CODE', 'RESIDENTIAL UNITS',
       'COMMERCIAL UNITS', 'TOTAL UNITS', 'LAND SQUARE FEET',
       'GROSS SQUARE FEET', 'YEAR BUILT', 'TAX CLASS AT TIME OF SALE',
       'BUILDING CLASS AT TIME OF SALE', 'SALE PRICE', 'SALE DATE',
       'SALE MONTH', 'TYPE'],
      dtype='object')

**Null value and Zero value checking**

In [226]:
#what exactly is missing?
colnames = combined.columns.tolist()

for name in colnames:
    missing = np.sum(combined.loc[:,name].isnull())
    print(name, missing)

BOROUGH 0
NEIGHBORHOOD 0
BUILDING CLASS CATEGORY 0
TAX CLASS AT PRESENT 0
BLOCK 0
LOT 0
BUILDING CLASS AT PRESENT 796
ADDRESS 0
APARTMENT NUMBER 0
ZIP CODE 0
RESIDENTIAL UNITS 0
COMMERCIAL UNITS 0
TOTAL UNITS 0
LAND SQUARE FEET 0
GROSS SQUARE FEET 0
YEAR BUILT 0
TAX CLASS AT TIME OF SALE 0
BUILDING CLASS AT TIME OF SALE 0
SALE PRICE 0
SALE DATE 0
SALE MONTH 0
TYPE 0

In [227]:
#what has a zero value?
(combined == 0).sum(axis = 0)

BOROUGH                               0
NEIGHBORHOOD                          0
BUILDING CLASS CATEGORY               0
TAX CLASS AT PRESENT                  0
BLOCK                                 0
LOT                                   0
BUILDING CLASS AT PRESENT             0
ADDRESS                               0
APARTMENT NUMBER                      0
ZIP CODE                           1154
RESIDENTIAL UNITS                 26755
COMMERCIAL UNITS                  49315
TOTAL UNITS                       26755
LAND SQUARE FEET                  26277
GROSS SQUARE FEET                 14844
YEAR BUILT                         3711
TAX CLASS AT TIME OF SALE             0
BUILDING CLASS AT TIME OF SALE        0
SALE PRICE                            0
SALE DATE                             0
SALE MONTH                            0
TYPE                                  0
dtype: int64

In [42]:
#Check out what the building type is for rows that don't have 0 sq feet.
combined.loc[(combined['LAND SQUARE FEET'] !=0)|(combined['GROSS SQUARE FEET'] !=0)].sample(50)

,BOROUGH,NEIGHBORHOOD,BUILDING CLASS CATEGORY,TAX CLASS AT PRESENT,BLOCK,LOT,BUILDING CLASS AT PRESENT,ADDRESS,APARTMENT NUMBER,ZIP CODE,...,TOTAL UNITS,LAND SQUARE FEET,GROSS SQUARE FEET,YEAR BUILT,TAX CLASS AT TIME OF SALE,BUILDING CLASS AT TIME OF SALE,SALE PRICE,SALE DATE,SALE MONTH,TYPE
10854,Brooklyn,EAST NEW YORK,02 TWO FAMILY DWELLINGS,1,4252,23,B2,1078 BELMONT AVE,NaN,11208,...,2.0,2400,2288,1910,1,B2,690000,2019-02-19,2,Other
1506,Staten Island,ELTINGVILLE,01 ONE FAMILY DWELLINGS,1,5622,162,A5,22 MOTT STREET,NaN,10312,...,1.0,2470,1368,1988,1,A5,495000,2018-12-12,12,Other
7543,Staten Island,WOODROW,01 ONE FAMILY DWELLINGS,1,6931,52,A1,866 STAFFORD AVENUE,NaN,10309,...,1.0,8000,1464,0,1,A1,750000,2018-11-19,11,Other
19231,Brooklyn,PARK SLOPE,01 ONE FAMILY DWELLINGS,1,1094,72,A4,513 11TH STREET,NaN,11215,...,1.0,1667,1824,1901,1,A4,2050000,2019-01-09,1,Other
21877,Queens,SOUTH JAMAICA,01 ONE FAMILY DWELLINGS,1,12323,4,A1,112-01 167TH STREET,NaN,11433,...,1.0,2500,1496,1935,1,A1,355000,2018-10-29,10,Other
15459,Brooklyn,GREENPOINT,13 CONDOS - ELEVATOR APARTMENTS,2,2530,1173,R4,"21 INDIA STREET, 36A",36A,11222,...,0.0,0,1443,2017,2,R4,2158690,2019-04-30,4,Condo
6664,Brooklyn,BUSHWICK,15 CONDOS - 2-10 UNIT RESIDENTIAL,2C,3433,1006,R1,"71 COOPER STREET, 3B",3B,11207,...,0.0,0,716,2017,2,R1,560000,2019-02-05,2,Condo
4956,Staten Island,PORT RICHMOND,01 ONE FAMILY DWELLINGS,1,1006,78,A5,54 HEBERTON AVENUE,NaN,10302,...,1.0,1260,994,1910,1,A5,295000,2018-10-16,10,Other
6496,Staten Island,TOMPKINSVILLE,13 CONDOS - ELEVATOR APARTMENTS,2,579,1102,R4,"55 AUSTIN PLACE, 1P",1P,10304,...,0.0,0,1241,1962,2,R4,150000,2018-12-27,12,Condo
13907,Manhattan,UPPER EAST SIDE (79-96),13 CONDOS - ELEVATOR APARTMENTS,2,1536,1032,R4,"1601 THIRD AVENUE, 5H",5H,10128,...,0.0,0,1158,0,2,R4,1112500,2019-05-31,5,Condo
24535,Queens,WHITESTONE,01 ONE FAMILY DWELLINGS,1,4649,43,A1,147-16 16TH ROAD,NaN,11357,...,1.0,3000,1282,1930,1,A1,850000,2019-01-16,1,Other
21327,Brooklyn,SHEEPSHEAD BAY,15 CONDOS - 2-10 UNIT RESIDENTIAL,2C,8792,1002,R1,"2805 EAST 28TH ST, 1B",1B,11235,...,0.0,0,1292,2001,2,R1,415000,2019-04-29,4,Condo
8286,Queens,FLUSHING-NORTH,13 CONDOS - ELEVATOR APARTMENTS,2,5193,1533,R4,"141-18 CHERRY AVENUE, 5B",5B,11355,...,0.0,0,815,2011,2,R4,689000,2019-03-27,3,Condo
12504,Manhattan,UPPER EAST SIDE (59-79),13 CONDOS - ELEVATOR APARTMENTS,2,1483,1001,R4,524 EAST 72ND STREET,22A,10021,...,0.0,0,657,1989,2,R4,995000,2018-12-14,12,Condo
3759,Staten Island,NEW BRIGHTON,02 TWO FAMILY DWELLINGS,1,47,26,B9,305 YORK AVENUE,NaN,10301,...,2.0,2280,2325,1899,1,B9,334620,2019-07-11,7,Other
5667,Queens,FAR ROCKAWAY,02 TWO FAMILY DWELLINGS,1,15613,18,B1,431 BEACH 9TH STREET,NaN,11691,...,2.0,2882,1800,1960,1,B1,540000,2019-08-15,8,Other
1531,Bronx,CITY ISLAND,01 ONE FAMILY DWELLINGS,1,5629,230,S1,273 CITY ISLAND AVENUE,NaN,10464,...,2.0,1625,1100,1910,1,S1,410000,2019-09-13,9,Other
10328,Manhattan,SOHO,13 CONDOS - ELEVATOR APARTMENTS,2,473,1009,R4,"476 BROADWAY, 5R",NaN,10013,...,0.0,0,2215,0,2,R4,4000000,2019-09-03,9,Condo
13167,Queens,JACKSON HEIGHTS,03 THREE FAMILY DWELLINGS,1,1463,60,C0,35-23 89TH STREET,NaN,11372,...,3.0,2642,3148,1930,1,C0,1535000,2019-02-07,2,Other
10722,Brooklyn,EAST NEW YORK,02 TWO FAMILY DWELLINGS,1,4065,26,B2,609 CLEVELAND STREET,NaN,11208,...,2.0,2664,2317,1998,1,B2,840000,2018-10-18,10,Other
17871,Queens,QUEENS VILLAGE,01 ONE FAMILY DWELLINGS,1,10789,12,A1,97-31 221ST STREET,NaN,11429,...,1.0,2300,1120,1920,1,A1,490000,2019-03-28,3,Other
79,Brooklyn,BATH BEACH,02 TWO FAMILY DWELLINGS,1,6424,25,B9,8807 14TH AVENUE,NaN,11228,...,2.0,2425,1802,1935,1,B9,970000,2018-12-26,12,Other
22949,Brooklyn,WILLIAMSBURG-NORTH,13 CONDOS - ELEVATOR APARTMENTS,2,2331,1145,R4,"308 NORTH 7TH STREET, PHC",PHC,11211,...,0.0,0,1229,2017,2,R4,2395000,2019-06-13,6,Condo
5133,Staten Island,PORT RICHMOND,02 TWO FAMILY DWELLINGS,1,1096,5,B2,217 CHARLES AVE,NaN,10302,...,2.0,2500,1984,1910,1,B2,470000,2018-12-21,12,Other
21350,Queens,SO. JAMAICA-BAISLEY PARK,02 TWO FAMILY DWELLINGS,1,11984,17,B9,115-37 140TH STREET,NaN,11436,...,2.0,4000,2020,1940,1,B9,220000,2019-05-24,5,Other
9112,Brooklyn,CROWN HEIGHTS,12 CONDOS - WALKUP APARTMENTS,2,1223,1018,R2,"943 ST MARKS AVENUE, 5C",5C,11213,...,0.0,0,605,2009,2,R2,505000,2018-12-19,12,Condo
17801,Queens,QUEENS VILLAGE,01 ONE FAMILY DWELLINGS,1,10706,23,A1,92-72 221ST STREET,NaN,11428,...,1.0,4700,1548,1920,1,A1,600000,2019-07-31,7,Other
1558,Staten Island,ELTINGVILLE,01 ONE FAMILY DWELLINGS,1,5659,12,A5,17 WOLCOTT AVENUE,NaN,10312,...,1.0,3000,1980,1994,1,A5,562500,2019-07-19,7,Other
4259,Bronx,PARKCHESTER,13 CONDOS - ELEVATOR APARTMENTS,2,3943,3986,R4,1575 ODELL STREET,6D,10462,...,0.0,0,613,0,2,R4,111540,2018-10-09,10,Condo
4458,Manhattan,HARLEM-CENTRAL,01 ONE FAMILY DWELLINGS,1,1907,15,A9,137 WEST 122 STREET,NaN,10027,...,1.0,1682,3830,1910,1,A9,2200000,2018-11-20,11,Other
3845,Brooklyn,BOROUGH PARK,02 TWO FAMILY DWELLINGS,1,5626,47,B1,4701 FORT HAMILTON PARKWA,NaN,11219,...,2.0,1700,3496,1910,1,B1,1160000,2018-11-28,11,Other
17201,Queens,OZONE PARK,01 ONE FAMILY DWELLINGS,1,11480,83,A1,104-11 ROSITA ROAD,NaN,11417,...,1.0,2054,1200,1925,1,A1,535000,2018-12-14,12,Other
13556,Brooklyn,FLATLANDS,01 ONE FAMILY DWELLINGS,1,7774,65,A5,1306 EAST 49TH STREET,NaN,11234,...,1.0,2200,1416,1940,1,A5,390000,2019-02-19,2,Other
19651,Queens,RICHMOND HILL,02 TWO FAMILY DWELLINGS,1,9482,48,B3,95-27 134TH STREET,NaN,11419,...,2.0,3152,1218,1925,1,B3,675000,2019-06-25,6,Other
2632,Bronx,KINGSBRIDGE/JEROME PARK,01 ONE FAMILY DWELLINGS,1,3261,67,A1,3065 HEATH AVENUE,NaN,10463,...,1.0,1950,576,1920,1,A1,539900,2019-09-12,9,Other
868,Staten Island,CASTLETON CORNERS,01 ONE FAMILY DWELLINGS,1,354,162,A5,24 ZACHARY COURT,NaN,10310,...,1.0,2134,1690,1989,1,A5,319000,2019-08-20,8,Other
1012,Brooklyn,BAY RIDGE,13 CONDOS - ELEVATOR APARTMENTS,2,6118,1306,R4,"401 95TH STREET, 1A",1A,11209,...,0.0,0,691,2018,2,R4,619096,2019-03-20,3,Condo
19000,Queens,REGO PARK,13 CONDOS - ELEVATOR APARTMENTS,2,3104,1024,R4,"65-38 AUSTIN STREET, 3K",3K,11374,...,0.0,0,897,2015,2,R4,695465,2019-04-12,4,Condo
13830,Brooklyn,FORT GREENE,02 TWO FAMILY DWELLINGS,1,2099,74,B3,64 SOUTH PORTLAND AVENUE,NaN,11217,...,2.0,2000,3200,1901,1,B3,2500000,2019-01-29,1,Other
6463,Bronx,THROGS NECK,02 TWO FAMILY DWELLINGS,1,5544,108,B1,713 REVERE AVENUE,NaN,10465,...,2.0,2500,1600,1935,1,B1,580000,2018-11-14,11,Other
7897,Queens,FLUSHING-NORTH,13 CONDOS - ELEVATOR APARTMENTS,2,4994,1018,R4,"139-35 35TH AVENUE, 3F",3F,11354,...,0.0,0,957,1984,2,R4,600000,2019-06-03,6,Condo
15240,Brooklyn,GREENPOINT,02 TWO FAMILY DWELLINGS,1,2532,54,B9,115A INDIA STREET,NaN,11222,...,2.0,1056,2040,1940,1,B9,1790000,2018-10-04,10,Other
3632,Manhattan,GREENWICH VILLAGE-CENTRAL,13 CONDOS - ELEVATOR APARTMENTS,2,570,1126,R4,"21 EAST 12TH STREET, 10B",10B,10003,...,0.0,0,1630,2016,2,R4,4843800,2019-05-08,5,Condo
1572,Staten Island,ELTINGVILLE,01 ONE FAMILY DWELLINGS,1,5672,49,A2,668 DRUMGOOLE ROAD WEST,NaN,10312,...,1.0,4000,1028,1975,1,A2,650000,2019-05-01,5,Other
4752,Bronx,PELHAM PARKWAY SOUTH,02 TWO FAMILY DWELLINGS,1,4303,34,B1,2024 HONE AVENUE,NaN,10461,...,2.0,2500,1695,1955,1,B1,300000,2019-06-27,6,Other
10015,Manhattan,MURRAY HILL,13 CONDOS - ELEVATOR APARTMENTS,2,890,1412,R4,"143-145 EAST 34TH STREET, 6N",6N,10016,...,0.0,0,1150,2001,2,R4,1385000,2019-05-29,5,Condo
11879,Queens,HOLLIS,01 ONE FAMILY DWELLINGS,1,10915,15,A1,104-18 209TH ST,NaN,11429,...,1.0,3300,1568,1920,1,A1,640000,2019-01-28,1,Other
1993,Bronx,EAST TREMONT,03 THREE FAMILY DWELLINGS,1,3092,2,C0,1966 CROTONA AVENUE,NaN,10457,...,3.0,2402,3120,1920,1,C0,450000,2018-10-15,10,Other
22783,Queens,SOUTH OZONE PARK,02 TWO FAMILY DWELLINGS,1,11862,11,B2,128-03 NORTH CONDUIT AVE,NaN,11420,...,2.0,4455,2280,1960,1,B2,820000,2019-04-11,4,Other
5745,Bronx,SOUNDVIEW,01 ONE FAMILY DWELLINGS,1,3494,2,A1,1793 PATTERSON AVENUE,NaN,10473,...,1.0,2500,1708,1935,1,A1,238000,2019-04-22,4,Other

**Calculate age of building and categorize as war vs. pre-war**

In [209]:
combined.loc[:,'RESIDENTIAL UNITS'] = combined.loc[:,'RESIDENTIAL UNITS'].fillna(0)

In [210]:
combined.loc[:,'COMMERCIAL UNITS'] = combined.loc[:,'COMMERCIAL UNITS'].fillna(0)

In [211]:
combined.loc[:,'TOTAL UNITS'] = combined.loc[:,'TOTAL UNITS'].fillna(0)

**Remove rows that are complete duplicates of each other**

In [228]:
dupes = combined.duplicated()
combined[dupes]

,BOROUGH,NEIGHBORHOOD,BUILDING CLASS CATEGORY,TAX CLASS AT PRESENT,BLOCK,LOT,BUILDING CLASS AT PRESENT,ADDRESS,APARTMENT NUMBER,ZIP CODE,...,TOTAL UNITS,LAND SQUARE FEET,GROSS SQUARE FEET,YEAR BUILT,TAX CLASS AT TIME OF SALE,BUILDING CLASS AT TIME OF SALE,SALE PRICE,SALE DATE,SALE MONTH,TYPE
7463,Manhattan,MIDTOWN CBD,13 CONDOS - ELEVATOR APARTMENTS,2,1292,1455,R4,"432 PARK AVENUE, 94",94,10022,...,0.0,0,3952,2012,2,R4,31501890,2019-06-21,6,Condo
7467,Manhattan,MIDTOWN CBD,13 CONDOS - ELEVATOR APARTMENTS,2,1292,1456,R4,"432 PARK AVENUE, 95",95,10022,...,0.0,0,3952,2012,2,R4,30691657,2019-01-29,1,Condo
7468,Manhattan,MIDTOWN CBD,13 CONDOS - ELEVATOR APARTMENTS,2,1292,1462,R4,432 PARK AVENUE,nan,10022,...,0.0,0,3977,2012,2,R4,30191920,2018-12-27,12,Condo
14287,Brooklyn,GOWANUS,13 CONDOS - ELEVATOR APARTMENTS,2,1046,1022,R4,"554 4 AVENUE, 7B",7B,11215,...,0.0,0,661,2017,2,R4,29620207,2019-04-08,4,Condo
14289,Brooklyn,GOWANUS,13 CONDOS - ELEVATOR APARTMENTS,2,1046,1023,R4,"554 4 AVENUE, 7C",7C,11215,...,0.0,0,733,2017,2,R4,29620207,2019-04-08,4,Condo
14291,Brooklyn,GOWANUS,13 CONDOS - ELEVATOR APARTMENTS,2,1046,1024,R4,"554 4 AVENUE, 7D",7D,11215,...,0.0,0,699,2017,2,R4,29620207,2019-04-08,4,Condo
14293,Brooklyn,GOWANUS,13 CONDOS - ELEVATOR APARTMENTS,2,1046,1025,R4,"554 4 AVENUE, 7E",7E,11215,...,0.0,0,726,2017,2,R4,29620207,2019-04-08,4,Condo
14294,Brooklyn,GOWANUS,13 CONDOS - ELEVATOR APARTMENTS,2,1046,1026,R4,"554 4 AVENUE, 8A",8A,11215,...,0.0,0,698,2017,2,R4,29620207,2019-04-08,4,Condo
14297,Brooklyn,GOWANUS,13 CONDOS - ELEVATOR APARTMENTS,2,1046,1027,R4,"554 4 AVENUE, 8B",8B,11215,...,0.0,0,661,2017,2,R4,29620207,2019-04-08,4,Condo
14299,Brooklyn,GOWANUS,13 CONDOS - ELEVATOR APARTMENTS,2,1046,1028,R4,"554 4 AVENUE, 8C",8C,11215,...,0.0,0,721,2017,2,R4,29620207,2019-04-08,4,Condo
14262,Brooklyn,GOWANUS,13 CONDOS - ELEVATOR APARTMENTS,2,1046,1010,R4,"554 4 AVENUE, 4E",4E,11215,...,0.0,0,726,2017,2,R4,29620207,2019-04-08,4,Condo
14284,Brooklyn,GOWANUS,13 CONDOS - ELEVATOR APARTMENTS,2,1046,1021,R4,"554 4 AVENUE, 7A",7A,11215,...,0.0,0,698,2017,2,R4,29620207,2019-04-08,4,Condo
14266,Brooklyn,GOWANUS,13 CONDOS - ELEVATOR APARTMENTS,2,1046,1012,R4,"554 4 AVENUE, 5B",5B,11215,...,0.0,0,661,2017,2,R4,29620207,2019-04-08,4,Condo
14271,Brooklyn,GOWANUS,13 CONDOS - ELEVATOR APARTMENTS,2,1046,1014,R4,"554 4 AVENUE, 5D",5D,11215,...,0.0,0,699,2017,2,R4,29620207,2019-04-08,4,Condo
14273,Brooklyn,GOWANUS,13 CONDOS - ELEVATOR APARTMENTS,2,1046,1015,R4,"554 4 AVENUE, 5E",5E,11215,...,0.0,0,726,2017,2,R4,29620207,2019-04-08,4,Condo
14274,Brooklyn,GOWANUS,13 CONDOS - ELEVATOR APARTMENTS,2,1046,1016,R4,"554 4 AVENUE, 6A",6A,11215,...,0.0,0,698,2017,2,R4,29620207,2019-04-08,4,Condo
14277,Brooklyn,GOWANUS,13 CONDOS - ELEVATOR APARTMENTS,2,1046,1017,R4,"554 4 AVENUE, 6B",6B,11215,...,0.0,0,661,2017,2,R4,29620207,2019-04-08,4,Condo
14278,Brooklyn,GOWANUS,13 CONDOS - ELEVATOR APARTMENTS,2,1046,1018,R4,"554 4 AVENUE, 6C",6C,11215,...,0.0,0,721,2017,2,R4,29620207,2019-04-08,4,Condo
14264,Brooklyn,GOWANUS,13 CONDOS - ELEVATOR APARTMENTS,2,1046,1011,R4,"554 4 AVENUE, 5A",5A,11215,...,0.0,0,698,2017,2,R4,29620207,2019-04-08,4,Condo
14281,Brooklyn,GOWANUS,13 CONDOS - ELEVATOR APARTMENTS,2,1046,1019,R4,"554 4 AVENUE, 6D",6D,11215,...,0.0,0,728,2017,2,R4,29620207,2019-04-08,4,Condo
14282,Brooklyn,GOWANUS,13 CONDOS - ELEVATOR APARTMENTS,2,1046,1020,R4,"554 4 AVENUE, 6E",6E,11215,...,0.0,0,726,2017,2,R4,29620207,2019-04-08,4,Condo
14300,Brooklyn,GOWANUS,13 CONDOS - ELEVATOR APARTMENTS,2,1046,1029,R4,"554 4 AVENUE, 8D",8D,11215,...,0.0,0,728,2017,2,R4,29620207,2019-04-08,4,Condo
14321,Brooklyn,GOWANUS,13 CONDOS - ELEVATOR APARTMENTS,2,1046,1039,R4,"554 4 AVENUE, 11A",11A,11215,...,0.0,0,1085,2017,2,R4,29620207,2019-04-08,4,Condo
14252,Brooklyn,GOWANUS,13 CONDOS - ELEVATOR APARTMENTS,2,1046,1005,R4,"554 4 AVENUE, 3E",3E,11215,...,0.0,0,643,2017,2,R4,29620207,2019-04-08,4,Condo
14250,Brooklyn,GOWANUS,13 CONDOS - ELEVATOR APARTMENTS,2,1046,1004,R4,"554 4 AVENUE, 3D",3D,11215,...,0.0,0,824,2017,2,R4,29620207,2019-04-08,4,Condo
14303,Brooklyn,GOWANUS,13 CONDOS - ELEVATOR APARTMENTS,2,1046,1030,R4,"554 4 AVENUE, 8E",8E,11215,...,0.0,0,726,2017,2,R4,29620207,2019-04-08,4,Condo
14323,Brooklyn,GOWANUS,13 CONDOS - ELEVATOR APARTMENTS,2,1046,1040,R4,"554 4 AVENUE, 11B",11B,11215,...,0.0,0,4652,2017,2,R4,29620207,2019-04-08,4,Condo
14248,Brooklyn,GOWANUS,13 CONDOS - ELEVATOR APARTMENTS,2,1046,1003,R4,"554 4 AVENUE, 3C",3C,11215,...,0.0,0,799,2017,2,R4,29620207,2019-04-08,4,Condo
14246,Brooklyn,GOWANUS,13 CONDOS - ELEVATOR APARTMENTS,2,1046,1002,R4,"554 4 AVENUE, 3B",3B,11215,...,0.0,0,661,2017,2,R4,29620207,2019-04-08,4,Condo
14244,Brooklyn,GOWANUS,13 CONDOS - ELEVATOR APARTMENTS,2,1046,1001,R4,"554 4 AVENUE, 3A",3A,11215,...,0.0,0,698,2017,2,R4,29620207,2019-04-08,4,Condo
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16208,Brooklyn,MADISON,10 COOPS - ELEVATOR APARTMENTS,2,6802,1,D4,"1900 QUENTIN ROAD, A20",nan,11229,...,0.0,0,0,1939,2,D4,219000,2019-06-19,6,Co-op
3001,Queens,BRIARWOOD,10 COOPS - ELEVATOR APARTMENTS,2,9736,108,D4,"143-25 84TH DRIVE, 3K",nan,11435,...,0.0,0,0,1952,2,D4,215000,2018-10-10,10,Co-op
21024,Brooklyn,SHEEPSHEAD BAY,10 COOPS - ELEVATOR APARTMENTS,2,7369,27,D4,"2171 BRAGG STREET, 3B",nan,11229,...,0.0,0,0,1952,2,D4,210000,2019-07-01,7,Co-op
2939,Bronx,MELROSE/CONCOURSE,10 COOPS - ELEVATOR APARTMENTS,2,2459,30,D4,"860 GRAND CONCOURSE, 6J",nan,10451,...,0.0,0,0,1941,2,D4,200916,2019-02-14,2,Co-op
17327,Brooklyn,MIDWOOD,10 COOPS - ELEVATOR APARTMENTS,2,6779,4,D4,"1610 AVENUE P, 5R",nan,11229,...,0.0,0,0,1933,2,D4,200000,2019-09-12,9,Co-op
22148,Brooklyn,WILLIAMSBURG-CENTRAL,12 CONDOS - WALKUP APARTMENTS,2,2234,1107,R2,"264 HEYWARD STREET, 3B",3B,11206,...,0.0,0,1482,0,2,R2,200000,2019-09-24,9,Condo
16928,Brooklyn,MARINE PARK,10 COOPS - ELEVATOR APARTMENTS,2,7654,14,D4,"3626 KINGS HIGHWAY, 4F",nan,11234,...,0.0,0,0,1939,2,D4,190000,2018-11-05,11,Co-op
25336,Queens,WOODSIDE,09 COOPS - WALKUP APARTMENTS,2,1223,38,C6,"38-05 65TH STREET, 1F",nan,11377,...,0.0,0,0,1929,2,C6,190000,2018-10-01,10,Co-op
16911,Brooklyn,MARINE PARK,10 COOPS - ELEVATOR APARTMENTS,2,7654,14,D4,"3626 KINGS HIGHWAY, 5M",nan,11234,...,0.0,0,0,1939,2,D4,188500,2019-04-02,4,Co-op
21035,Brooklyn,SHEEPSHEAD BAY,10 COOPS - ELEVATOR APARTMENTS,2,7369,27,D4,"2171 BRAGG STREET, 5A",nan,11229,...,0.0,0,0,1952,2,D4,187000,2018-12-19,12,Co-op
16921,Brooklyn,MARINE PARK,10 COOPS - ELEVATOR APARTMENTS,2,7654,14,D4,"3626 KINGS HIGHWAY, 2C",nan,11234,...,0.0,0,0,1939,2,D4,185000,2018-11-28,11,Co-op
16912,Brooklyn,MARINE PARK,10 COOPS - ELEVATOR APARTMENTS,2,7654,14,D4,"3626 KINGS HIGHWAY, 2H",nan,11234,...,0.0,0,0,1939,2,D4,180000,2019-03-11,3,Co-op
2611,Bronx,KINGSBRIDGE HTS/UNIV HTS,10 COOPS - ELEVATOR APARTMENTS,2,3237,67,D4,"2630 KINGSBRIDGE TERRACE, 4I",nan,10463,...,0.0,0,0,1955,2,D4,175000,2019-02-13,2,Co-op
21026,Brooklyn,SHEEPSHEAD BAY,10 COOPS - ELEVATOR APARTMENTS,2,7369,27,D4,"2170 BRIGHAM STREET, 3K",nan,11229,...,0.0,0,0,1952,2,D4,175000,2019-05-29,5,Co-op
16919,Brooklyn,MARINE PARK,10 COOPS - ELEVATOR APARTMENTS,2,7654,14,D4,"3626 KINGS HIGHWAY, 2J",nan,11234,...,0.0,0,0,1939,2,D4,170000,2019-02-05,2,Co-op
21047,Brooklyn,SHEEPSHEAD BAY,10 COOPS - ELEVATOR APARTMENTS,2,7370,21,D4,"3105 AVENUE V, 6A",nan,11229,...,0.0,0,0,1952,2,D4,169000,2019-02-22,2,Co-op
21029,Brooklyn,SHEEPSHEAD BAY,10 COOPS - ELEVATOR APARTMENTS,2,7369,27,D4,"2170 BRIGHAM STREET, 6F",nan,11229,...,0.0,0,0,1952,2,D4,165500,2019-05-15,5,Co-op
22542,Brooklyn,WILLIAMSBURG-EAST,13 CONDOS - ELEVATOR APARTMENTS,2,2773,1214,R4,"1 POWERS STREET, 305",305,11211,...,0.0,0,606,1931,2,R4,162435,2019-07-30,7,Condo
13384,Brooklyn,FLATBUSH-NORTH,13 CONDOS - ELEVATOR APARTMENTS,2,1429,1257,R4,"770C LEFFERTS AVENUE, 4R",4R,11203,...,0.0,0,1492,1998,2,R4,150000,2018-12-17,12,Condo
8956,Brooklyn,CROWN HEIGHTS,02 TWO FAMILY DWELLINGS,1,1403,72,B1,1711 PRESIDENT STREET,nan,11213,...,2.0,2640,4320,1920,1,B1,150000,2018-12-10,12,Other
21054,Brooklyn,SHEEPSHEAD BAY,10 COOPS - ELEVATOR APARTMENTS,2,7370,21,D4,"3105 AVENUE V, 5H",nan,11229,...,0.0,0,0,1952,2,D4,150000,2018-10-25,10,Co-op
21043,Brooklyn,SHEEPSHEAD BAY,10 COOPS - ELEVATOR APARTMENTS,2,7370,21,D4,"2140 KNAPP STREET, 6H",nan,11229,...,0.0,0,0,1952,2,D4,150000,2019-08-30,8,Co-op
21049,Brooklyn,SHEEPSHEAD BAY,10 COOPS - ELEVATOR APARTMENTS,2,7370,21,D4,"3105 AVENUE V, 6H",nan,11229,...,0.0,0,0,1952,2,D4,141859,2018-11-15,11,Co-op
21037,Brooklyn,SHEEPSHEAD BAY,10 COOPS - ELEVATOR APARTMENTS,2,7369,27,D4,"2190 BRIGHAM STREET, 6H",nan,11229,...,0.0,0,0,1952,2,D4,141000,2018-12-17,12,Co-op
21042,Brooklyn,SHEEPSHEAD BAY,10 COOPS - ELEVATOR APARTMENTS,2,7369,27,D4,"2190 BRIGHAM STREET, 4E",nan,11229,...,0.0,0,0,1952,2,D4,140000,2018-10-03,10,Co-op
21039,Brooklyn,SHEEPSHEAD BAY,10 COOPS - ELEVATOR APARTMENTS,2,7369,27,D4,"2170 BRIGHAM STREET, 5J",nan,11229,...,0.0,0,0,1952,2,D4,137000,2018-11-27,11,Co-op
21051,Brooklyn,SHEEPSHEAD BAY,10 COOPS - ELEVATOR APARTMENTS,2,7370,21,D4,"2165 BRIGHAM ST., 5A",nan,11229,...,0.0,0,0,1952,2,D4,135000,2018-11-07,11,Co-op
8958,Brooklyn,CROWN HEIGHTS,02 TWO FAMILY DWELLINGS,1,1403,72,B1,1711 PRESIDENT STREET,nan,11213,...,2.0,2640,4320,1920,1,B1,132613,2018-11-12,11,Other
21034,Brooklyn,SHEEPSHEAD BAY,10 COOPS - ELEVATOR APARTMENTS,2,7369,27,D4,"2171 BRAGG STREET, 5H",nan,11229,...,0.0,0,0,1952,2,D4,129000,2019-05-10,5,Co-op
16073,Manhattan,UPPER WEST SIDE (79-96),10 COOPS - ELEVATOR APARTMENTS,2,1195,29,D4,211 CENTRAL PARK WEST,nan,10024,...,0.0,0,0,1929,2,D4,124347,2018-12-04,12,Co-op

In [229]:
#number of dupes
sum(dupes)

1405

In [230]:
combined.drop_duplicates(inplace = True)

In [231]:
combined.shape

(48432, 22)

## **Address Processing**

In [114]:
#take away extra spaces that may be in some rows under ADDRESS
combined['ADDRESS'] = combined['ADDRESS'].str.strip()

In [149]:
testaddress = combined[combined['ADDRESS'] == '432 PARK AVENUE, 95']
testaddress

,BOROUGH,NEIGHBORHOOD,BUILDING CLASS CATEGORY,TAX CLASS AT PRESENT,BLOCK,LOT,BUILDING CLASS AT PRESENT,ADDRESS,APARTMENT NUMBER,ZIP CODE,...,TOTAL UNITS,LAND SQUARE FEET,GROSS SQUARE FEET,YEAR BUILT,TAX CLASS AT TIME OF SALE,BUILDING CLASS AT TIME OF SALE,SALE PRICE,SALE DATE,SALE MONTH,TYPE
7466,Manhattan,MIDTOWN CBD,13 CONDOS - ELEVATOR APARTMENTS,2,1292,1456,R4,"432 PARK AVENUE, 95",95,10022,...,0,0,3952,2012,2,R4,30691657,2019-01-29,1,Condo

In [146]:
testaddress.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1 entries, 7466 to 7466
Data columns (total 22 columns):
BOROUGH                           1 non-null object
NEIGHBORHOOD                      1 non-null object
BUILDING CLASS CATEGORY           1 non-null object
TAX CLASS AT PRESENT              1 non-null category
BLOCK                             1 non-null int64
LOT                               1 non-null int64
BUILDING CLASS AT PRESENT         1 non-null object
ADDRESS                           1 non-null object
APARTMENT NUMBER                  1 non-null object
ZIP CODE                          1 non-null int64
RESIDENTIAL UNITS                 1 non-null int64
COMMERCIAL UNITS                  1 non-null int64
TOTAL UNITS                       1 non-null int64
LAND SQUARE FEET                  1 non-null int64
GROSS SQUARE FEET                 1 non-null int64
YEAR BUILT                        1 non-null int64
TAX CLASS AT TIME OF SALE         1 non-null category
BUILDING CLASS AT TIME OF SALE    1 non-null object
SALE PRICE                        1 non-null int64
SALE DATE                         1 non-null datetime64[ns]
SALE MONTH                        1 non-null int64
TYPE                              1 non-null object
dtypes: category(2), datetime64[ns](1), int64(11), object(8)
memory usage: 674.0+ bytes

**TEST AREA**

In [174]:
temp1 = {'existing_col1': ['220 CENTRAL STREET, 50', '165 EAST 66TH ST, RESI', '106 SPRUCE STREET, 1', '14 EAST 67TH STREET', '1131 OGEN AVENUE', '200 EAST 1ST STREET, RU', '520 PARK LANE', '520 PARK LANE', '80 BAY STREET LANDING, 1A', '520 PARK SOUTH, DPH54', '520 PARK LANE', '62 VEST STREET', '256 FLARIN AVENUE'],
         'existing_col2':['50', 'RESI', 'nan', 'nan', 'nan', '2A', 'DPH60', 'DPH56', '1A', 'DPH54', 'DPH52', '21F', 'nan'], 
         'building_address':['220 CENTRAL STREET', '165 EAST 66TH ST', '106 SPRUCE STREET', '14 EAST 67TH STREET', '1131 OGEN AVENUE', '200 EAST 1ST STREET', '520 PARK LANE', '520 PARK LANE', '80 BAY STREET LANDING', '520 PARK SOUTH', '520 PARK LANE', '62 VEST STREET', '256 FLARIN AVENUE'],
         'apt_no': ['50', 'RESI', '1', 'nan', 'nan', '2A', 'DPH60', 'DPH56', '1A', 'DPH54', 'DPH52', '21F', 'nan'],
         'full_address':['220 CENTRAL STREET, 50', '165 EAST 66TH ST, RESI', '106 SPRUCE STREET, 1', '14 EAST 67TH STREET', '1131 OGEN AVENUE', '200 EAST 1ST STREET, 2A', '520 PARK LANE, DPH60', '520 PARK LANE, DPH56', '80 BAY STREET LANDING, 1A', '520 PARK SOUTH, DPH54', '520 PARK LANE, DPH52', '62 VEST STREET, 21F', '256 FLARIN AVENUE']}

data1 = pd.DataFrame(temp1)
data1

,existing_col1,existing_col2,building_address,apt_no,full_address
0,"220 CENTRAL STREET, 50",50,220 CENTRAL STREET,50,"220 CENTRAL STREET, 50"
1,"165 EAST 66TH ST, RESI",RESI,165 EAST 66TH ST,RESI,"165 EAST 66TH ST, RESI"
2,"106 SPRUCE STREET, 1",nan,106 SPRUCE STREET,1,"106 SPRUCE STREET, 1"
3,14 EAST 67TH STREET,nan,14 EAST 67TH STREET,nan,14 EAST 67TH STREET
4,1131 OGEN AVENUE,nan,1131 OGEN AVENUE,nan,1131 OGEN AVENUE
5,"200 EAST 1ST STREET, RU",2A,200 EAST 1ST STREET,2A,"200 EAST 1ST STREET, 2A"
6,520 PARK LANE,DPH60,520 PARK LANE,DPH60,"520 PARK LANE, DPH60"
7,520 PARK LANE,DPH56,520 PARK LANE,DPH56,"520 PARK LANE, DPH56"
8,"80 BAY STREET LANDING, 1A",1A,80 BAY STREET LANDING,1A,"80 BAY STREET LANDING, 1A"
9,"520 PARK SOUTH, DPH54",DPH54,520 PARK SOUTH,DPH54,"520 PARK SOUTH, DPH54"
10,520 PARK LANE,DPH52,520 PARK LANE,DPH52,"520 PARK LANE, DPH52"
11,62 VEST STREET,21F,62 VEST STREET,21F,"62 VEST STREET, 21F"
12,256 FLARIN AVENUE,nan,256 FLARIN AVENUE,nan,256 FLARIN AVENUE

In [177]:
data

,col1,col2,building_address,apt_no,full_address
0,"220 CENTRAL STREET, 50",50,220 CENTRAL STREET,50,"220 CENTRAL STREET, 50"
1,"165 EAST 66TH ST, RESI",RESI,165 EAST 66TH ST,RESI,"165 EAST 66TH ST, RESI"
2,"106 SPRUCE STREET, 1",nan,106 SPRUCE STREET,1,"106 SPRUCE STREET, 1"
3,14 EAST 67TH STREET,nan,14 EAST 67TH STREET,NaN,14 EAST 67TH STREET
4,1131 OGEN AVENUE,nan,1131 OGEN AVENUE,NaN,1131 OGEN AVENUE
5,"200 EAST 1ST STREET, RU",2A,200 EAST 1ST STREET,RU,"200 EAST 1ST STREET, RU"
6,520 PARK LANE,DPH60,520 PARK LANE,DPH60,"520 PARK LANE, DPH60"
7,520 PARK LANE,DPH56,520 PARK LANE,DPH56,"520 PARK LANE, DPH56"
8,"80 BAY STREET LANDING, 1A",1A,80 BAY STREET LANDING,1A,"80 BAY STREET LANDING, 1A"
9,"520 PARK SOUTH, DPH54",DPH54,520 PARK SOUTH,DPH54,"520 PARK SOUTH, DPH54"
10,520 PARK LANE,DPH52,520 PARK LANE,DPH52,"520 PARK LANE, DPH52"
11,62 VEST STREET,21F,62 VEST STREET,21F,"62 VEST STREET, 21F"
12,256 FLARIN AVENUE,nan,256 FLARIN AVENUE,NaN,256 FLARIN AVENUE

In [176]:
data['building_address']=data['col1'].str.split(',').str[0]
data['apt_no']=data['col1'].str.split(',').str[1]
data['apt_no'][data['apt_no'].isnull()]=data['col2'][data['apt_no'].isnull()]
data['apt_no'][(data['apt_no'].isnull()) | (data['apt_no']=='nan')]=''
data['full_address']=(data['building_address']+', '+data['apt_no']).str.rstrip(', ')
#Reset to null
data['apt_no'][data['apt_no']=='']=np.nan

In [241]:
test1 = combined.copy()

In [240]:
del test1

In [233]:
test1.shape

(48432, 22)

In [234]:
test1

,BOROUGH,NEIGHBORHOOD,BUILDING CLASS CATEGORY,TAX CLASS AT PRESENT,BLOCK,LOT,BUILDING CLASS AT PRESENT,ADDRESS,APARTMENT NUMBER,ZIP CODE,...,TOTAL UNITS,LAND SQUARE FEET,GROSS SQUARE FEET,YEAR BUILT,TAX CLASS AT TIME OF SALE,BUILDING CLASS AT TIME OF SALE,SALE PRICE,SALE DATE,SALE MONTH,TYPE
9086,Manhattan,MIDTOWN WEST,13 CONDOS - ELEVATOR APARTMENTS,2,1030,1082,R4,"220 CENTRAL PARK SOUTH, 50",50,10019,...,0.0,0,23029,2015,2,R4,239958219,2019-01-23,1,Condo
12181,Manhattan,UPPER EAST SIDE (59-79),13 CONDOS - ELEVATOR APARTMENTS,2,1401,1003,R4,"165 EAST 66TH ST, RESI",RESI,10065,...,0.0,0,233578,1957,2,R4,200000000,2019-04-05,4,Condo
10273,Manhattan,SOHO,10 COOPS - ELEVATOR APARTMENTS,2,485,21,D4,"106 SPRING STREET, 1",nan,10012,...,0.0,0,0,1900,2,D4,79451009,2019-04-05,4,Co-op
11168,Manhattan,UPPER EAST SIDE (59-79),01 ONE FAMILY DWELLINGS,1,1381,61,A7,14 EAST 67TH STREET,nan,10065,...,1.0,4820,14240,1905,1,A7,77100000,2019-06-04,6,Other
2309,Bronx,HIGHBRIDGE/MORRIS HEIGHTS,05 TAX CLASS 1 VACANT LAND,1B,2526,90,V0,1131 OGDEN AVENUE,nan,10452,...,0.0,48983,0,0,1,V0,76250000,2019-06-25,6,Other
3086,Manhattan,GRAMERCY,13 CONDOS - ELEVATOR APARTMENTS,2,901,1001,R4,"200 EAST 21ST STREET, RU",2A,10010,...,0.0,0,862,2016,2,R4,74400000,2018-12-28,12,Condo
12106,Manhattan,UPPER EAST SIDE (59-79),13 CONDOS - ELEVATOR APARTMENTS,2,1375,1441,R4,520 PARK AVENUE,DPH60,10022,...,0.0,0,9138,2015,2,R4,73800000,2018-11-19,11,Condo
12104,Manhattan,UPPER EAST SIDE (59-79),13 CONDOS - ELEVATOR APARTMENTS,2,1375,1438,R4,520 PARK AVENUE,DPH56,10022,...,0.0,0,9138,2015,2,R4,67921052,2018-12-20,12,Condo
9093,Manhattan,MIDTOWN WEST,13 CONDOS - ELEVATOR APARTMENTS,2,1030,1117,R4,"220 CENTRAL PARK SOUTH, PH16",PH16,10019,...,0.0,0,5845,2015,2,R4,65750000,2019-07-16,7,Condo
12103,Manhattan,UPPER EAST SIDE (59-79),13 CONDOS - ELEVATOR APARTMENTS,2,1375,1437,R4,"520 PARK AVENUE, DPH54",DPH54,10022,...,0.0,0,9138,2015,2,R4,64250000,2019-01-25,1,Condo
12102,Manhattan,UPPER EAST SIDE (59-79),13 CONDOS - ELEVATOR APARTMENTS,2,1375,1436,R4,520 PARK AVENUE,DPH52,10022,...,0.0,0,9138,2015,2,R4,62000000,2018-11-15,11,Condo
11080,Manhattan,TRIBECA,13 CONDOS - ELEVATOR APARTMENTS,2,223,1147,R4,62 VESTRY STREET,PHS,10013,...,0.0,0,7808,2016,2,R4,56010250,2018-12-10,12,Condo
17607,Brooklyn,NAVY YARD,05 TAX CLASS 1 VACANT LAND,1B,1877,23,V0,256 FLUSHING AVENUE,nan,11205,...,0.0,9017,0,0,1,V0,55000000,2019-09-10,9,Other
11298,Manhattan,UPPER EAST SIDE (59-79),10 COOPS - ELEVATOR APARTMENTS,2,1379,1,D4,"834 FIFTH AVENUE, 7/8A",nan,10065,...,0.0,0,0,1931,2,D4,53000000,2019-08-27,8,Co-op
2307,Manhattan,FLATIRON,13 CONDOS - ELEVATOR APARTMENTS,2,827,1048,R4,"212 FIFTH AVENUE, PHA",PHA,10010,...,0.0,0,10079,1913,2,R4,51550000,2019-06-04,6,Condo
9088,Manhattan,MIDTOWN WEST,13 CONDOS - ELEVATOR APARTMENTS,2,1030,1086,R4,"220 CENTRAL PARK SOUTH, 56A",56A,10019,...,0.0,0,4814,2015,2,R4,41748250,2019-09-24,9,Condo
11079,Manhattan,TRIBECA,13 CONDOS - ELEVATOR APARTMENTS,2,223,1146,R4,62 VESTRY STREET,PHN,10013,...,0.0,0,6547,2016,2,R4,40735500,2018-12-20,12,Condo
11077,Manhattan,TRIBECA,13 CONDOS - ELEVATOR APARTMENTS,2,223,1144,R4,"70 VESTRY STREET, 12S",12S,10013,...,0.0,0,8346,2016,2,R4,39285000,2019-02-15,2,Condo
9092,Manhattan,MIDTOWN WEST,13 CONDOS - ELEVATOR APARTMENTS,2,1030,1111,R4,"220 CENTRAL PARK SOUTH, V-6",V-6,10019,...,0.0,0,4994,2015,2,R4,39000000,2019-06-07,6,Condo
9087,Manhattan,MIDTOWN WEST,13 CONDOS - ELEVATOR APARTMENTS,2,1030,1083,R4,"220 CENTRAL PARK SOUTH, 54A",54A,10019,...,0.0,0,4814,2015,2,R4,38184375,2019-09-19,9,Condo
11069,Manhattan,TRIBECA,13 CONDOS - ELEVATOR APARTMENTS,2,223,1131,R4,"70 VESTRY STREET, 7E",7E,10013,...,0.0,0,2965,2016,2,R4,36681561,2019-02-12,2,Condo
11058,Manhattan,TRIBECA,13 CONDOS - ELEVATOR APARTMENTS,2,223,1105,R4,"70 VESTRY STREET, 3C",3C,10013,...,0.0,0,1670,2016,2,R4,36681561,2019-02-12,2,Condo
11061,Manhattan,TRIBECA,13 CONDOS - ELEVATOR APARTMENTS,2,223,1123,R4,"70 VESTRY STREET, 6C",6C,10013,...,0.0,0,1906,2016,2,R4,36681561,2019-02-12,2,Condo
11062,Manhattan,TRIBECA,13 CONDOS - ELEVATOR APARTMENTS,2,223,1124,R4,"70 VESTRY STREET, 6D",6D,10013,...,0.0,0,2536,2016,2,R4,36681561,2019-02-12,2,Condo
11064,Manhattan,TRIBECA,13 CONDOS - ELEVATOR APARTMENTS,2,223,1126,R4,"70 VESTRY STREET, 6F",6F,10013,...,0.0,0,2445,2016,2,R4,36681561,2019-02-12,2,Condo
11065,Manhattan,TRIBECA,13 CONDOS - ELEVATOR APARTMENTS,2,223,1127,R4,"70 VESTRY STREET, 7A",7A,10013,...,0.0,0,2844,2016,2,R4,36681561,2019-02-12,2,Condo
11066,Manhattan,TRIBECA,13 CONDOS - ELEVATOR APARTMENTS,2,223,1128,R4,"70 VESTRY STREET, 7B",7B,10013,...,0.0,0,3242,2016,2,R4,36681561,2019-02-12,2,Condo
11067,Manhattan,TRIBECA,13 CONDOS - ELEVATOR APARTMENTS,2,223,1129,R4,"70 VESTRY STREET, 7C",7C,10013,...,0.0,0,1906,2016,2,R4,36681561,2019-02-12,2,Condo
11068,Manhattan,TRIBECA,13 CONDOS - ELEVATOR APARTMENTS,2,223,1130,R4,"70 VESTRY STREET, 7D",7D,10013,...,0.0,0,2536,2016,2,R4,36681561,2019-02-12,2,Condo
11063,Manhattan,TRIBECA,13 CONDOS - ELEVATOR APARTMENTS,2,223,1125,R4,"70 VESTRY STREET, 6E",6E,10013,...,0.0,0,2965,2016,2,R4,36681561,2019-02-12,2,Condo
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16445,Manhattan,UPPER WEST SIDE (79-96),10 COOPS - ELEVATOR APARTMENTS,2,1251,1,D4,"180 RIVERSIDE DRIVE, PH-C",nan,10024,...,0.0,0,0,1922,2,D4,100000,2019-05-17,5,Co-op
710,Brooklyn,BAY RIDGE,03 THREE FAMILY DWELLINGS,1,5931,69,C0,547 BAY RIDGE PARKWAY,nan,11209,...,3.0,2642,3300,1899,1,C0,100000,2019-07-22,7,Other
3245,Staten Island,MARINERS HARBOR,01 ONE FAMILY DWELLINGS,1,1236,80,A1,58 HARBOR ROAD,nan,10303,...,1.0,2760,760,1915,1,A1,100000,2019-01-09,1,Other
23126,Queens,SPRINGFIELD GARDENS,01 ONE FAMILY DWELLINGS,1,13044,20,A2,186-30 140TH AVENUE,nan,11413,...,1.0,4000,2390,1960,1,A2,100000,2019-01-24,1,Other
4810,Bronx,PELHAM PARKWAY SOUTH,10 COOPS - ELEVATOR APARTMENTS,2,4317,15,D4,"2166 BRONX PARK EAST, 4G",nan,10462,...,0.0,0,0,1936,2,D4,100000,2019-07-01,7,Co-op
14178,Queens,JAMAICA ESTATES,10 COOPS - ELEVATOR APARTMENTS,2,9951,11,D4,"182-25 WEXFORD TERRACE, 514",nan,11432,...,0.0,0,0,1951,2,D4,100000,2018-10-25,10,Co-op
3546,Staten Island,MIDLAND BEACH,01 ONE FAMILY DWELLINGS,1,3871,4,A6,107 MAPLETON AVE,nan,10306,...,1.0,2000,640,1930,1,A6,100000,2019-02-28,2,Other
18129,Queens,QUEENS VILLAGE,02 TWO FAMILY DWELLINGS,1,10701,13,B2,92-16 218 PLACE,nan,11428,...,2.0,5000,2446,1920,1,B2,100000,2019-01-09,1,Other
5376,Bronx,RIVERDALE,10 COOPS - ELEVATOR APARTMENTS,2,5953,550,D4,"5621 NETHERLAND AVENUE, 1F",nan,10471,...,0.0,0,0,1949,2,D4,100000,2019-04-15,4,Co-op
3646,Staten Island,MIDLAND BEACH,05 TAX CLASS 1 VACANT LAND,1B,3794,31,V0,N/A JEFFERSON AVENUE,nan,0,...,0.0,4670,0,0,1,V0,100000,2019-02-04,2,Other
6924,Brooklyn,CANARSIE,02 TWO FAMILY DWELLINGS,1,7960,29,B1,547 EAST 81ST STREET,nan,11236,...,2.0,1800,2304,1960,1,B1,100000,2018-10-04,10,Other
17880,Brooklyn,OCEAN HILL,05 TAX CLASS 1 VACANT LAND,1B,1471,80,V0,1811 SAINT JOHNS PLACE,nan,11233,...,0.0,940,0,0,1,V0,100000,2019-02-01,2,Other
21481,Queens,SO. JAMAICA-BAISLEY PARK,02 TWO FAMILY DWELLINGS,1,12203,186,B3,150-12 116TH DRIVE,nan,11434,...,2.0,2650,1208,1920,1,B3,100000,2019-05-02,5,Other
14824,Queens,LAURELTON,01 ONE FAMILY DWELLINGS,1,13174,24,A1,137-19 232,nan,11413,...,1.0,3142,1316,1920,1,A1,100000,2018-10-10,10,Other
6829,Queens,FLUSHING-NORTH,01 ONE FAMILY DWELLINGS,1,6382,28,A5,138-52 60TH AVENUE,nan,11355,...,1.0,1600,1216,1940,1,A5,100000,2018-11-01,11,Other
5817,Bronx,SOUNDVIEW,02 TWO FAMILY DWELLINGS,1,3476,22,B3,326 NEWMAN AVENUE,nan,10473,...,2.0,5571,1500,1935,1,B3,100000,2019-01-18,1,Other
8828,Manhattan,MIDTOWN WEST,10 COOPS - ELEVATOR APARTMENTS,2,1270,20,D4,"24 WEST 55TH STREET, 8",nan,10019,...,0.0,0,0,1935,2,D4,100000,2019-08-05,8,Co-op
10546,Brooklyn,EAST NEW YORK,01 ONE FAMILY DWELLINGS,1,4506,44,A1,839 EUCLID AVENUE,nan,11208,...,1.0,3000,680,1925,1,A1,100000,2019-06-05,6,Other
3288,Staten Island,MARINERS HARBOR,02 TWO FAMILY DWELLINGS,1,1155,55,B1,195 GRANITE AVE,nan,10303,...,2.0,6754,1760,1899,1,B1,100000,2018-12-21,12,Other
21054,Queens,SO. JAMAICA-BAISLEY PARK,01 ONE FAMILY DWELLINGS,1,12040,188,A5,120-04 144TH STREET,nan,11436,...,1.0,1980,1600,1945,1,A5,100000,2019-05-08,5,Other
10200,Brooklyn,DYKER HEIGHTS,02 TWO FAMILY DWELLINGS,1,5775,67,B1,1317 BAY RIDGE AVENUE,nan,11219,...,2.0,1750,2375,1925,1,B1,100000,2019-08-06,8,Other
14277,Queens,JAMAICA HILLS,10 COOPS - ELEVATOR APARTMENTS,2,9859,88,D4,"84-49 168TH STREET, 4K",nan,11432,...,0.0,0,0,1939,2,D4,100000,2019-08-21,8,Co-op
23740,Queens,ST. ALBANS,01 ONE FAMILY DWELLINGS,1,11018,69,A5,114-13 201 STREET,nan,11412,...,1.0,2000,1200,1955,1,A5,100000,2019-03-22,3,Other
5019,Staten Island,PORT RICHMOND,01 ONE FAMILY DWELLINGS,1,1054,37,A1,178 CATHERINE STREET,nan,10302,...,1.0,3700,1425,1930,1,A1,100000,2019-05-01,5,Other
176,Staten Island,ANNADALE,05 TAX CLASS 1 VACANT LAND,1B,6431,1,V0,54 DISCALA LANE,nan,10312,...,0.0,1150244,0,0,1,V0,100000,2018-11-20,11,Other
2506,Queens,BELLE HARBOR,02 TWO FAMILY DWELLINGS,1,16274,45,B1,211 BEACH 140TH STREET,nan,11694,...,2.0,6000,3392,1940,1,B1,100000,2019-04-30,4,Other
7746,Queens,FLUSHING-NORTH,10 COOPS - ELEVATOR APARTMENTS,2,5374,16,D4,"144-30 SANFORD AVENUE, 3R",nan,11355,...,0.0,0,0,1960,2,D4,100000,2019-02-22,2,Co-op
9669,Brooklyn,CYPRESS HILLS,03 THREE FAMILY DWELLINGS,1,3928,60,C0,144 SHEPHERD AVENUE,nan,11208,...,3.0,1600,2240,1910,1,C0,100000,2018-11-12,11,Other
35,Queens,ARVERNE,01 ONE FAMILY DWELLINGS,1,15969,45,A6,473 BEACH 46 STREET,nan,11691,...,1.0,1750,540,1940,1,A6,100000,2019-08-17,8,Other
2626,Staten Island,GREAT KILLS,05 TAX CLASS 1 VACANT LAND,1B,5523,83,V0,N/A SWEETBROOK ROAD,nan,10312,...,0.0,6890,0,2019,1,V0,100000,2019-04-24,4,Other

In [242]:
test1['Building_Address']=test1['ADDRESS'].str.split(',').str[0]
test1['Apt_No']=test1['ADDRESS'].str.split(',').str[1]
test1['Apt_No'][test1['Apt_No'].isnull()]=test1['APARTMENT NUMBER'][test1['Apt_No'].isnull()]
test1['Apt_No'][(test1['Apt_No'].isnull()) | (test1['Apt_No']=='nan')]=''
test1['Full_Address']=(test1['Building_Address']+', '+test1['Apt_No']).str.rstrip(', ')
#Reset to null
#test1['apt_no'][test1['Apt_No']=='']=np.nan

//anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
//anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

In [248]:
test1 = test1.loc[test1["NEIGHBORHOOD"].str.contains('UNKNOWN')==False]

In [249]:
test1.shape

(48012, 25)

In [251]:
apartments = test1.duplicated(subset = 'Full_Address', keep = False)
test1[apartments].head(150)

,BOROUGH,NEIGHBORHOOD,BUILDING CLASS CATEGORY,TAX CLASS AT PRESENT,BLOCK,LOT,BUILDING CLASS AT PRESENT,ADDRESS,APARTMENT NUMBER,ZIP CODE,...,YEAR BUILT,TAX CLASS AT TIME OF SALE,BUILDING CLASS AT TIME OF SALE,SALE PRICE,SALE DATE,SALE MONTH,TYPE,Building_Address,Apt_No,Full_Address
649,Manhattan,CHELSEA,17 CONDO COOPS,2,721,1008,R9,"465 WEST 23RD STREET, RCU1",nan,10011,...,1932,2,R9,7367000,2019-03-12,3,Condop,465 WEST 23RD STREET,RCU1,"465 WEST 23RD STREET, RCU1"
5231,Manhattan,HARLEM-EAST,03 THREE FAMILY DWELLINGS,1,1638,45,C0,170 EAST 111 STREET,nan,10029,...,1900,1,C0,6900000,2019-06-13,6,Other,170 EAST 111 STREET,,170 EAST 111 STREET
5223,Manhattan,HARLEM-EAST,01 ONE FAMILY DWELLINGS,1,1638,46,A5,168 EAST 111 STREET,nan,10029,...,1900,1,A5,6900000,2019-06-13,6,Other,168 EAST 111 STREET,,168 EAST 111 STREET
508,Manhattan,CHELSEA,13 CONDOS - ELEVATOR APARTMENTS,2,767,1613,R4,"221 WEST 17TH STREET, PH2",PH2,10011,...,1912,2,R4,6150000,2019-06-27,6,Condo,221 WEST 17TH STREET,PH2,"221 WEST 17TH STREET, PH2"
510,Manhattan,CHELSEA,13 CONDOS - ELEVATOR APARTMENTS,2,767,1613,R4,"221 WEST 17TH STREET, PH2",PH2,10011,...,1912,2,R4,5550000,2019-06-03,6,Condo,221 WEST 17TH STREET,PH2,"221 WEST 17TH STREET, PH2"
11276,Manhattan,UPPER EAST SIDE (59-79),10 COOPS - ELEVATOR APARTMENTS,2,1374,1,D4,"781 FIFTH AVENUE, 2301",nan,10022,...,1928,2,D4,5000000,2018-11-06,11,Co-op,781 FIFTH AVENUE,2301,"781 FIFTH AVENUE, 2301"
11271,Manhattan,UPPER EAST SIDE (59-79),10 COOPS - ELEVATOR APARTMENTS,2,1374,1,D4,"781 FIFTH AVENUE, 2301",nan,10022,...,1928,2,D4,5000000,2019-05-06,5,Co-op,781 FIFTH AVENUE,2301,"781 FIFTH AVENUE, 2301"
23029,Brooklyn,WILLIAMSBURG-NORTH,13 CONDOS - ELEVATOR APARTMENTS,2,2348,1246,R4,"184 KENT AVENUE, C313",C313,11249,...,1914,2,R4,4259949,2019-01-08,1,Condo,184 KENT AVENUE,C313,"184 KENT AVENUE, C313"
15068,Queens,LITTLE NECK,01 ONE FAMILY DWELLINGS,1,8250,11,A1,52-27 BROWVALE LANE,nan,11362,...,1992,1,A1,3161985,2018-12-07,12,Other,52-27 BROWVALE LANE,,52-27 BROWVALE LANE
4864,Bronx,RIVERDALE,01 ONE FAMILY DWELLINGS,1,5751,300,A3,750 WEST 232 STREET,nan,10463,...,1950,1,A3,3100000,2019-02-21,2,Other,750 WEST 232 STREET,,750 WEST 232 STREET
4865,Bronx,RIVERDALE,01 ONE FAMILY DWELLINGS,1,5751,304,A3,750 WEST 232 STREET,nan,10463,...,1950,1,A3,3100000,2019-02-21,2,Other,750 WEST 232 STREET,,750 WEST 232 STREET
2553,Bronx,KINGSBRIDGE HTS/UNIV HTS,05 TAX CLASS 1 VACANT LAND,1B,3237,12,V0,N/A BAILEY AVENUE,nan,0,...,0,1,V0,2775000,2019-05-22,5,Other,N/A BAILEY AVENUE,,N/A BAILEY AVENUE
2550,Bronx,KINGSBRIDGE HTS/UNIV HTS,05 TAX CLASS 1 VACANT LAND,1B,3237,9,V0,N/A BAILEY AVENUE,nan,0,...,0,1,V0,2775000,2019-05-22,5,Other,N/A BAILEY AVENUE,,N/A BAILEY AVENUE
755,Queens,ASTORIA,05 TAX CLASS 1 VACANT LAND,1B,490,80,V0,N/A 1 STREET,nan,11422,...,0,1,V0,2636471,2019-06-24,6,Other,N/A 1 STREET,,N/A 1 STREET
756,Queens,ASTORIA,05 TAX CLASS 1 VACANT LAND,1B,490,90,V0,N/A 1 STREET,nan,11422,...,0,1,V0,2636471,2019-06-24,6,Other,N/A 1 STREET,,N/A 1 STREET
14259,Manhattan,UPPER EAST SIDE (79-96),13 CONDOS - ELEVATOR APARTMENTS,2,1566,1061,R4,"455 EAST 86TH STREET, 31B",31B,10028,...,1986,2,R4,2632500,2019-06-28,6,Condo,455 EAST 86TH STREET,31B,"455 EAST 86TH STREET, 31B"
1599,Brooklyn,BEDFORD STUYVESANT,02 TWO FAMILY DWELLINGS,1,1988,58,B3,79 MADISON STREET,nan,11216,...,1899,1,B3,2525000,2019-09-20,9,Other,79 MADISON STREET,,79 MADISON STREET
647,Manhattan,CHELSEA,17 CONDO COOPS,2,721,1008,R9,"465 WEST 23RD STREET, RCU1",nan,10011,...,1932,2,R9,2500000,2019-03-28,3,Condop,465 WEST 23RD STREET,RCU1,"465 WEST 23RD STREET, RCU1"
14260,Manhattan,UPPER EAST SIDE (79-96),13 CONDOS - ELEVATOR APARTMENTS,2,1566,1061,R4,"455 EAST 86TH STREET, 31B",31B,10028,...,1986,2,R4,2500000,2019-03-20,3,Condo,455 EAST 86TH STREET,31B,"455 EAST 86TH STREET, 31B"
18269,Brooklyn,OCEAN PARKWAY-NORTH,02 TWO FAMILY DWELLINGS,1,6663,9,B2,1778 EAST 7TH STREET,nan,11223,...,1920,1,B2,2200000,2018-11-27,11,Other,1778 EAST 7TH STREET,,1778 EAST 7TH STREET
4186,Manhattan,GREENWICH VILLAGE-WEST,13 CONDOS - ELEVATOR APARTMENTS,2,602,1122,R4,"1 MORTON SQUARE, 14A E",14A E,10014,...,2002,2,R4,2150000,2019-07-23,7,Condo,1 MORTON SQUARE,14A E,"1 MORTON SQUARE, 14A E"
22925,Brooklyn,WILLIAMSBURG-NORTH,13 CONDOS - ELEVATOR APARTMENTS,2,2331,1107,R4,"308 NORTH 7TH STREET, GARDE",GARDEN F,11211,...,2017,2,R4,2128500,2019-09-17,9,Condo,308 NORTH 7TH STREET,GARDE,"308 NORTH 7TH STREET, GARDE"
14005,Manhattan,UPPER EAST SIDE (79-96),13 CONDOS - ELEVATOR APARTMENTS,2,1539,1338,R4,"200 EAST 94TH STREET, 304",304,10128,...,1986,2,R4,2043585,2019-05-20,5,Condo,200 EAST 94TH STREET,304,"200 EAST 94TH STREET, 304"
7836,Brooklyn,CLINTON HILL,02 TWO FAMILY DWELLINGS,1,1945,49,B3,149 GREENE AVENUE,nan,11238,...,1899,1,B3,2020000,2019-08-28,8,Other,149 GREENE AVENUE,,149 GREENE AVENUE
2416,Manhattan,FLATIRON,17 CONDO COOPS,2,842,1002,R9,"69 FIFTH AVENUE, RES",nan,10003,...,1961,2,R9,2018250,2018-10-02,10,Condop,69 FIFTH AVENUE,RES,"69 FIFTH AVENUE, RES"
6442,Staten Island,TODT HILL,01 ONE FAMILY DWELLINGS,1,898,86,A3,1037 TODT HILL ROAD,nan,10304,...,1950,1,A3,1999714,2018-10-24,10,Other,1037 TODT HILL ROAD,,1037 TODT HILL ROAD
14003,Manhattan,UPPER EAST SIDE (79-96),13 CONDOS - ELEVATOR APARTMENTS,2,1539,1338,R4,"200 EAST 94TH STREET, 304",304,10128,...,1986,2,R4,1900000,2019-06-14,6,Condo,200 EAST 94TH STREET,304,"200 EAST 94TH STREET, 304"
5856,Staten Island,ROSSVILLE-RICHMOND VALLEY,05 TAX CLASS 1 VACANT LAND,1B,7572,80,V0,N/A MADSEN AVENUE,nan,0,...,0,1,V0,1800000,2019-04-16,4,Other,N/A MADSEN AVENUE,,N/A MADSEN AVENUE
5855,Staten Island,ROSSVILLE-RICHMOND VALLEY,05 TAX CLASS 1 VACANT LAND,1B,7572,73,V0,N/A MADSEN AVENUE,nan,0,...,0,1,V0,1800000,2019-04-16,4,Other,N/A MADSEN AVENUE,,N/A MADSEN AVENUE
1392,Manhattan,CLINTON,13 CONDOS - ELEVATOR APARTMENTS,2,1090,1185,R4,635 WEST 42ND STREET,25E,10036,...,2005,2,R4,1750000,2018-11-30,11,Condo,635 WEST 42ND STREET,25E,"635 WEST 42ND STREET, 25E"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1141,Manhattan,CIVIC CENTER,13 CONDOS - ELEVATOR APARTMENTS,2,173,1112,R4,"93 WORTH STREET, 206",206,10013,...,1924,2,R4,997000,2019-06-24,6,Condo,93 WORTH STREET,206,"93 WORTH STREET, 206"
13947,Brooklyn,FORT GREENE,17 CONDO COOPS,2,2004,1003,R9,"212 SOUTH OXFORD STREET, 3",nan,11217,...,2009,2,R9,995000,2019-06-18,6,Condop,212 SOUTH OXFORD STREET,3,"212 SOUTH OXFORD STREET, 3"
4678,Queens,EAST ELMHURST,03 THREE FAMILY DWELLINGS,1,1374,28,C0,26-44 95TH STREET,nan,11369,...,1925,1,C0,995000,2019-02-15,2,Other,26-44 95TH STREET,,26-44 95TH STREET
6549,Queens,FLUSHING-NORTH,01 ONE FAMILY DWELLINGS,1,5410,40,A1,43-60 MURRAY STREET,nan,11355,...,1915,1,A1,989000,2018-10-10,10,Other,43-60 MURRAY STREET,,43-60 MURRAY STREET
13111,Brooklyn,FLATBUSH-NORTH,01 ONE FAMILY DWELLINGS,1,4800,22,A9,664 MAPLE STREET,nan,11203,...,1915,1,A9,980000,2019-09-17,9,Other,664 MAPLE STREET,,664 MAPLE STREET
6548,Queens,FLUSHING-NORTH,01 ONE FAMILY DWELLINGS,1,5410,40,A1,43-60 MURRAY STREET,nan,11355,...,1915,1,A1,980000,2019-04-30,4,Other,43-60 MURRAY STREET,,43-60 MURRAY STREET
13814,Brooklyn,FORT GREENE,02 TWO FAMILY DWELLINGS,1,2046,63,B2,92 VANDERBILT AVENUE,nan,11205,...,1910,1,B2,977520,2019-04-29,4,Other,92 VANDERBILT AVENUE,,92 VANDERBILT AVENUE
1334,Brooklyn,BEDFORD STUYVESANT,02 TWO FAMILY DWELLINGS,1,1662,19,B3,676 HANCOCK STREET,nan,11233,...,1899,1,B3,975000,2019-09-05,9,Other,676 HANCOCK STREET,,676 HANCOCK STREET
7349,Queens,FLUSHING-NORTH,05 TAX CLASS 1 VACANT LAND,1B,4855,24,V0,N/A 32ND AVENUE,nan,11354,...,0,1,V0,970000,2019-08-07,8,Other,N/A 32ND AVENUE,,N/A 32ND AVENUE
16303,Queens,MIDDLE VILLAGE,01 ONE FAMILY DWELLINGS,1,2969,10,A1,62-10 82ND PLACE,nan,11379,...,1940,1,A1,967000,2019-02-28,2,Other,62-10 82ND PLACE,,62-10 82ND PLACE
22154,Brooklyn,WILLIAMSBURG-CENTRAL,13 CONDOS - ELEVATOR APARTMENTS,2,2165,1030,R4,"525 KENT AVENUE, 7C",7C,11249,...,2001,2,R4,967000,2019-03-04,3,Condo,525 KENT AVENUE,7C,"525 KENT AVENUE, 7C"
16082,Queens,MASPETH,02 TWO FAMILY DWELLINGS,1,2779,44,B2,68-07 59TH DRIVE,nan,11378,...,1931,1,B2,965000,2019-09-25,9,Other,68-07 59TH DRIVE,,68-07 59TH DRIVE
5008,Manhattan,HARLEM-CENTRAL,17 CONDO COOPS,2,1948,1101,R9,"88 MORNINGSIDE AVENUE, RU",nan,10027,...,2011,2,R9,960000,2019-06-13,6,Condop,88 MORNINGSIDE AVENUE,RU,"88 MORNINGSIDE AVENUE, RU"
9634,Brooklyn,CYPRESS HILLS,02 TWO FAMILY DWELLINGS,1,4132,52,B1,220 AUTUMN AVENUE,nan,11208,...,1910,1,B1,960000,2019-07-17,7,Other,220 AUTUMN AVENUE,,220 AUTUMN AVENUE
12551,Brooklyn,FLATBUSH-EAST,02 TWO FAMILY DWELLINGS,1,4955,21,B2,586 EAST 39TH STREET,nan,11203,...,1920,1,B2,960000,2019-08-22,8,Other,586 EAST 39TH STREET,,586 EAST 39TH STREET
13000,Queens,JACKSON HEIGHTS,02 TWO FAMILY DWELLINGS,1,1248,31,B3,33-52 76 STREET,nan,11372,...,1945,1,B3,960000,2019-06-05,6,Other,33-52 76 STREET,,33-52 76 STREET
16422,Queens,MIDDLE VILLAGE,02 TWO FAMILY DWELLINGS,1,2884,132,B1,85-03 60TH AVENUE,nan,11379,...,1995,1,B1,960000,2019-08-13,8,Other,85-03 60TH AVENUE,,85-03 60TH AVENUE
25095,Queens,WOODHAVEN,02 TWO FAMILY DWELLINGS,1,8969,8,B2,89-14 88TH STREET,nan,11421,...,1915,1,B2,955290,2019-07-01,7,Other,89-14 88TH STREET,,89-14 88TH STREET
1171,Staten Island,CONCORD,02 TWO FAMILY DWELLINGS,1,2879,163,B3,30 ELLINGTON STREET,nan,10304,...,1925,1,B3,954001,2019-04-22,4,Other,30 ELLINGTON STREET,,30 ELLINGTON STREET
9622,Brooklyn,CYPRESS HILLS,02 TWO FAMILY DWELLINGS,1,4129,29,B2,392 RIDGEWOOD AVENUE,nan,11208,...,1901,1,B2,950000,2019-07-12,7,Other,392 RIDGEWOOD AVENUE,,392 RIDGEWOOD AVENUE
22225,Brooklyn,WILLIAMSBURG-CENTRAL,13 CONDOS - ELEVATOR APARTMENTS,2,2262,1705,R4,"405 FLUSHING AVENUE, 3B",3B,11205,...,2006,2,R4,950000,2019-07-17,7,Condo,405 FLUSHING AVENUE,3B,"405 FLUSHING AVENUE, 3B"
17527,Queens,OZONE PARK,03 THREE FAMILY DWELLINGS,1,11385,41,C0,137-16 80TH STREET,nan,11414,...,1965,1,C0,950000,2019-06-11,6,Other,137-16 80TH STREET,,137-16 80TH STREET
14140,Queens,JAMAICA ESTATES,01 ONE FAMILY DWELLINGS,1,9955,25,A1,86-73 SOMERSET STREET,nan,11432,...,1930,1,A1,950000,2019-01-15,1,Other,86-73 SOMERSET STREET,,86-73 SOMERSET STREET
22888,Queens,SPRINGFIELD GARDENS,01 ONE FAMILY DWELLINGS,1,12458,375,A2,122-23 180TH STREET,nan,11434,...,1955,1,A2,945000,2019-08-13,8,Other,122-23 180TH STREET,,122-23 180TH STREET
11663,Queens,HOLLIS,01 ONE FAMILY DWELLINGS,1,10456,74,A1,89-11 191ST STREET,nan,11423,...,1925,1,A1,940000,2019-02-18,2,Other,89-11 191ST STREET,,89-11 191ST STREET
22852,Queens,SPRINGFIELD GARDENS,01 ONE FAMILY DWELLINGS,1,12271,26,A2,130-14 158TH STREET,nan,11434,...,1956,1,A2,940000,2019-08-01,8,Other,130-14 158TH STREET,,130-14 158TH STREET
14728,Brooklyn,GRAVESEND,03 THREE FAMILY DWELLINGS,1,6903,26,C0,39 28TH AVENUE,nan,11214,...,1960,1,C0,940000,2018-10-05,10,Other,39 28TH AVENUE,,39 28TH AVENUE
3744,Manhattan,GREENWICH VILLAGE-CENTRAL,17 CONDO COOPS,2,560,1003,R9,"30 EAST 9TH STREET, 3",nan,10003,...,1955,2,R9,940000,2019-09-24,9,Condop,30 EAST 9TH STREET,3,"30 EAST 9TH STREET, 3"
17682,Brooklyn,OCEAN HILL,02 TWO FAMILY DWELLINGS,1,1496,7,B3,706 MACON STREET,nan,11233,...,1899,1,B3,935518,2019-06-27,6,Other,706 MACON STREET,,706 MACON STREET
7428,Bronx,WILLIAMSBRIDGE,03 THREE FAMILY DWELLINGS,1,4666,61,C0,726 EAST 219 STREET,nan,10467,...,1920,1,C0,935306,2019-01-15,1,Other,726 EAST 219 STREET,,726 EAST 219 STREET

In [252]:
test1[apartments].sort_values('Full_Address',ascending = False)

,BOROUGH,NEIGHBORHOOD,BUILDING CLASS CATEGORY,TAX CLASS AT PRESENT,BLOCK,LOT,BUILDING CLASS AT PRESENT,ADDRESS,APARTMENT NUMBER,ZIP CODE,...,YEAR BUILT,TAX CLASS AT TIME OF SALE,BUILDING CLASS AT TIME OF SALE,SALE PRICE,SALE DATE,SALE MONTH,TYPE,Building_Address,Apt_No,Full_Address
1627,Bronx,CITY ISLAND,05 TAX CLASS 1 VACANT LAND,1B,5648,240,V0,N/A SUTHERLAND STREET,nan,0,...,0,1,V0,1697500,2019-09-17,9,Other,N/A SUTHERLAND STREET,,N/A SUTHERLAND STREET
1628,Bronx,CITY ISLAND,05 TAX CLASS 1 VACANT LAND,1B,5648,243,V0,N/A SUTHERLAND STREET,nan,0,...,0,1,V0,1697500,2019-09-17,9,Other,N/A SUTHERLAND STREET,,N/A SUTHERLAND STREET
5881,Queens,FAR ROCKAWAY,05 TAX CLASS 1 VACANT LAND,1B,15784,22,V0,N/A SEAGIRT COURT,nan,11691,...,0,1,V0,467000,2019-04-05,4,Other,N/A SEAGIRT COURT,,N/A SEAGIRT COURT
5880,Queens,FAR ROCKAWAY,05 TAX CLASS 1 VACANT LAND,1B,15784,20,V0,N/A SEAGIRT COURT,nan,11691,...,0,1,V0,467000,2019-04-05,4,Other,N/A SEAGIRT COURT,,N/A SEAGIRT COURT
3813,Staten Island,NEW BRIGHTON,05 TAX CLASS 1 VACANT LAND,1B,37,150,V0,N/A SCRIBNER AVENUE,nan,0,...,2019,1,V0,425000,2019-01-14,1,Other,N/A SCRIBNER AVENUE,,N/A SCRIBNER AVENUE
3812,Staten Island,NEW BRIGHTON,05 TAX CLASS 1 VACANT LAND,1B,37,54,V0,N/A SCRIBNER AVENUE,nan,0,...,0,1,V0,425000,2019-01-14,1,Other,N/A SCRIBNER AVENUE,,N/A SCRIBNER AVENUE
11201,Brooklyn,EAST NEW YORK,05 TAX CLASS 1 VACANT LAND,1B,4276,40,V0,N/A RUBY STREET,nan,0,...,0,1,V0,280000,2019-07-22,7,Other,N/A RUBY STREET,,N/A RUBY STREET
11204,Brooklyn,EAST NEW YORK,05 TAX CLASS 1 VACANT LAND,1B,4276,46,V0,N/A RUBY STREET,nan,0,...,0,1,V0,280000,2019-07-22,7,Other,N/A RUBY STREET,,N/A RUBY STREET
11202,Brooklyn,EAST NEW YORK,05 TAX CLASS 1 VACANT LAND,1B,4276,43,V0,N/A RUBY STREET,nan,0,...,0,1,V0,363335,2019-07-22,7,Other,N/A RUBY STREET,,N/A RUBY STREET
11203,Brooklyn,EAST NEW YORK,05 TAX CLASS 1 VACANT LAND,1B,4276,44,V0,N/A RUBY STREET,nan,0,...,0,1,V0,280000,2019-07-22,7,Other,N/A RUBY STREET,,N/A RUBY STREET
22166,Queens,SOUTH JAMAICA,05 TAX CLASS 1 VACANT LAND,1B,10202,32,V0,N/A PHROANE AVENUE,nan,0,...,0,1,V0,110000,2019-06-27,6,Other,N/A PHROANE AVENUE,,N/A PHROANE AVENUE
22168,Queens,SOUTH JAMAICA,05 TAX CLASS 1 VACANT LAND,1B,10202,131,V0,N/A PHROANE AVENUE,nan,0,...,0,1,V0,125000,2019-06-14,6,Other,N/A PHROANE AVENUE,,N/A PHROANE AVENUE
1178,Staten Island,CONCORD,05 TAX CLASS 1 VACANT LAND,1B,2887,19,V0,N/A ODER AVENUE,nan,0,...,0,1,V0,580000,2019-04-12,4,Other,N/A ODER AVENUE,,N/A ODER AVENUE
1179,Staten Island,CONCORD,05 TAX CLASS 1 VACANT LAND,1B,2890,21,V0,N/A ODER AVENUE,nan,0,...,0,1,V0,350000,2019-03-21,3,Other,N/A ODER AVENUE,,N/A ODER AVENUE
6142,Staten Island,SOUTH BEACH,05 TAX CLASS 1 VACANT LAND,1B,3413,3,V0,N/A OCEANSIDE AVENUE,nan,0,...,0,1,V0,140000,2019-04-29,4,Other,N/A OCEANSIDE AVENUE,,N/A OCEANSIDE AVENUE
6143,Staten Island,SOUTH BEACH,05 TAX CLASS 1 VACANT LAND,1B,3413,4,V0,N/A OCEANSIDE AVENUE,nan,0,...,0,1,V0,140000,2019-04-29,4,Other,N/A OCEANSIDE AVENUE,,N/A OCEANSIDE AVENUE
211,Queens,ARVERNE,05 TAX CLASS 1 VACANT LAND,1B,15970,27,V0,N/A NORTON AVENUE,nan,0,...,0,1,V0,491000,2019-06-18,6,Other,N/A NORTON AVENUE,,N/A NORTON AVENUE
209,Queens,ARVERNE,05 TAX CLASS 1 VACANT LAND,1B,15970,24,V0,N/A NORTON AVENUE,nan,0,...,0,1,V0,106000,2019-06-18,6,Other,N/A NORTON AVENUE,,N/A NORTON AVENUE
210,Queens,ARVERNE,05 TAX CLASS 1 VACANT LAND,1B,15970,25,V0,N/A NORTON AVENUE,nan,0,...,0,1,V0,491000,2019-06-18,6,Other,N/A NORTON AVENUE,,N/A NORTON AVENUE
212,Queens,ARVERNE,05 TAX CLASS 1 VACANT LAND,1B,15970,32,V0,N/A NORTON AVENUE,nan,0,...,0,1,V0,561000,2019-06-18,6,Other,N/A NORTON AVENUE,,N/A NORTON AVENUE
14152,Brooklyn,GERRITSEN BEACH,05 TAX CLASS 1 VACANT LAND,1B,8845,1673,V0,N/A NOEL AVENUE,nan,0,...,0,1,V0,550000,2019-07-19,7,Other,N/A NOEL AVENUE,,N/A NOEL AVENUE
14148,Brooklyn,GERRITSEN BEACH,05 TAX CLASS 1 VACANT LAND,1B,8845,1671,V0,N/A NOEL AVENUE,nan,0,...,0,1,V0,550000,2019-07-19,7,Other,N/A NOEL AVENUE,,N/A NOEL AVENUE
14150,Brooklyn,GERRITSEN BEACH,05 TAX CLASS 1 VACANT LAND,1B,8845,1672,V0,N/A NOEL AVENUE,nan,0,...,0,1,V0,550000,2019-07-19,7,Other,N/A NOEL AVENUE,,N/A NOEL AVENUE
3137,Staten Island,MANOR HEIGHTS,05 TAX CLASS 1 VACANT LAND,1B,801,33,V0,N/A MELBA STREET,nan,10314,...,2019,1,V0,1225000,2019-04-08,4,Other,N/A MELBA STREET,,N/A MELBA STREET
3139,Staten Island,MANOR HEIGHTS,05 TAX CLASS 1 VACANT LAND,1B,801,229,V0,N/A MELBA STREET,nan,10314,...,0,1,V0,1225000,2019-04-08,4,Other,N/A MELBA STREET,,N/A MELBA STREET
3138,Staten Island,MANOR HEIGHTS,05 TAX CLASS 1 VACANT LAND,1B,801,226,V0,N/A MELBA STREET,nan,0,...,2019,1,V0,1225000,2019-04-08,4,Other,N/A MELBA STREET,,N/A MELBA STREET
6146,Staten Island,SOUTH BEACH,05 TAX CLASS 1 VACANT LAND,1B,3417,170,V0,N/A MALLORY AVENUE,nan,10305,...,0,1,V0,887500,2019-07-15,7,Other,N/A MALLORY AVENUE,,N/A MALLORY AVENUE
6147,Staten Island,SOUTH BEACH,05 TAX CLASS 1 VACANT LAND,1B,3417,172,V0,N/A MALLORY AVENUE,nan,10305,...,0,1,V0,887500,2019-07-15,7,Other,N/A MALLORY AVENUE,,N/A MALLORY AVENUE
5856,Staten Island,ROSSVILLE-RICHMOND VALLEY,05 TAX CLASS 1 VACANT LAND,1B,7572,80,V0,N/A MADSEN AVENUE,nan,0,...,0,1,V0,1800000,2019-04-16,4,Other,N/A MADSEN AVENUE,,N/A MADSEN AVENUE
5855,Staten Island,ROSSVILLE-RICHMOND VALLEY,05 TAX CLASS 1 VACANT LAND,1B,7572,73,V0,N/A MADSEN AVENUE,nan,0,...,0,1,V0,1800000,2019-04-16,4,Other,N/A MADSEN AVENUE,,N/A MADSEN AVENUE
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3373,Bronx,MORRISANIA/LONGWOOD,02 TWO FAMILY DWELLINGS,1,2748,147,B2,1039 BRYANT AVENUE,nan,10459,...,1995,1,B2,375000,2018-12-07,12,Other,1039 BRYANT AVENUE,,1039 BRYANT AVENUE
3372,Bronx,MORRISANIA/LONGWOOD,02 TWO FAMILY DWELLINGS,1,2748,147,B2,1039 BRYANT AVENUE,nan,10459,...,1995,1,B2,699000,2019-04-25,4,Other,1039 BRYANT AVENUE,,1039 BRYANT AVENUE
6441,Staten Island,TODT HILL,01 ONE FAMILY DWELLINGS,1,898,86,A3,1037 TODT HILL ROAD,nan,10304,...,1950,1,A3,1050000,2018-11-09,11,Other,1037 TODT HILL ROAD,,1037 TODT HILL ROAD
6442,Staten Island,TODT HILL,01 ONE FAMILY DWELLINGS,1,898,86,A3,1037 TODT HILL ROAD,nan,10304,...,1950,1,A3,1999714,2018-10-24,10,Other,1037 TODT HILL ROAD,,1037 TODT HILL ROAD
7378,Bronx,WILLIAMSBRIDGE,02 TWO FAMILY DWELLINGS,1,4872,15,B2,1033 EAST 225 STREET,nan,10466,...,1930,1,B2,446160,2019-03-08,3,Other,1033 EAST 225 STREET,,1033 EAST 225 STREET
7379,Bronx,WILLIAMSBRIDGE,02 TWO FAMILY DWELLINGS,1,4872,15,B2,1033 EAST 225 STREET,nan,10466,...,1930,1,B2,560038,2019-01-04,1,Other,1033 EAST 225 STREET,,1033 EAST 225 STREET
17352,Queens,OZONE PARK,02 TWO FAMILY DWELLINGS,1,9118,97,B3,103-48 96TH STREET,nan,11417,...,1930,1,B3,582750,2018-10-30,10,Other,103-48 96TH STREET,,103-48 96TH STREET
17351,Queens,OZONE PARK,02 TWO FAMILY DWELLINGS,1,9118,97,B3,103-48 96TH STREET,nan,11417,...,1930,1,B3,630000,2019-05-08,5,Other,103-48 96TH STREET,,103-48 96TH STREET
5869,Bronx,SOUNDVIEW,02 TWO FAMILY DWELLINGS,1,3712,71,B3,1025 WHEELER AVENUE,nan,10472,...,1940,1,B3,495000,2019-05-20,5,Other,1025 WHEELER AVENUE,,1025 WHEELER AVENUE
5870,Bronx,SOUNDVIEW,02 TWO FAMILY DWELLINGS,1,3712,71,B3,1025 WHEELER AVENUE,nan,10472,...,1940,1,B3,320000,2018-10-11,10,Other,1025 WHEELER AVENUE,,1025 WHEELER AVENUE
2822,Staten Island,HUGUENOT,01 ONE FAMILY DWELLINGS,1,6583,51,A1,1024 HUGUENOT AVENUE,nan,10312,...,1925,1,A1,484619,2018-12-06,12,Other,1024 HUGUENOT AVENUE,,1024 HUGUENOT AVENUE
2821,Staten Island,HUGUENOT,01 ONE FAMILY DWELLINGS,1,6583,51,A1,1024 HUGUENOT AVENUE,nan,10312,...,1925,1,A1,375900,2019-05-20,5,Other,1024 HUGUENOT AVENUE,,1024 HUGUENOT AVENUE
19120,Queens,RICHMOND HILL,01 ONE FAMILY DWELLINGS,1,9184,40,A5,102-35 85TH DRIVE,nan,11418,...,1910,1,A5,360000,2019-04-11,4,Other,102-35 85TH DRIVE,,102-35 85TH DRIVE
19119,Queens,RICHMOND HILL,01 ONE FAMILY DWELLINGS,1,9184,40,A5,102-35 85TH DRIVE,nan,11418,...,1910,1,A5,650000,2019-08-15,8,Other,102-35 85TH DRIVE,,102-35 85TH DRIVE
1525,Bronx,CITY ISLAND,01 ONE FAMILY DWELLINGS,1,5628,111,A2,102 CAROLL STREET,nan,10464,...,1930,1,A2,236500,2019-08-23,8,Other,102 CAROLL STREET,,102 CAROLL STREET
1526,Bronx,CITY ISLAND,01 ONE FAMILY DWELLINGS,1,5628,111,A2,102 CAROLL STREET,nan,10464,...,1930,1,A2,373000,2018-12-28,12,Other,102 CAROLL STREET,,102 CAROLL STREET
19218,Queens,RICHMOND HILL,01 ONE FAMILY DWELLINGS,1,9420,29,A1,101-56 103RD STREET,nan,11416,...,1925,1,A1,650000,2019-06-28,6,Other,101-56 103RD STREET,,101-56 103RD STREET
19219,Queens,RICHMOND HILL,01 ONE FAMILY DWELLINGS,1,9420,29,A1,101-56 103RD STREET,nan,11416,...,1925,1,A1,405000,2018-10-25,10,Other,101-56 103RD STREET,,101-56 103RD STREET
17513,Queens,OZONE PARK,03 THREE FAMILY DWELLINGS,1,9096,39,C0,101-25 90TH STREET,nan,11416,...,2007,1,C0,1078000,2019-09-27,9,Other,101-25 90TH STREET,,101-25 90TH STREET
17514,Queens,OZONE PARK,03 THREE FAMILY DWELLINGS,1,9096,39,C0,101-25 90TH STREET,nan,11416,...,2007,1,C0,585000,2018-10-30,10,Other,101-25 90TH STREET,,101-25 90TH STREET
20352,Queens,ROCKAWAY PARK,03 THREE FAMILY DWELLINGS,1,16157,99,C0,101-10 ROCKAWAY BEACH BLVD,nan,11694,...,2006,1,C0,625000,2018-11-16,11,Other,101-10 ROCKAWAY BEACH BLVD,,101-10 ROCKAWAY BEACH BLVD
20351,Queens,ROCKAWAY PARK,03 THREE FAMILY DWELLINGS,1,16157,99,C0,101-10 ROCKAWAY BEACH BLVD,nan,11694,...,2006,1,C0,597444,2019-03-27,3,Other,101-10 ROCKAWAY BEACH BLVD,,101-10 ROCKAWAY BEACH BLVD
13294,Brooklyn,FLATBUSH-NORTH,03 THREE FAMILY DWELLINGS,1,4666,6,C0,1006 LENOX ROAD,nan,11212,...,1940,1,C0,550000,2019-03-29,3,Other,1006 LENOX ROAD,,1006 LENOX ROAD
13295,Brooklyn,FLATBUSH-NORTH,03 THREE FAMILY DWELLINGS,1,4666,6,C0,1006 LENOX ROAD,nan,11212,...,1940,1,C0,666000,2019-01-28,1,Other,1006 LENOX ROAD,,1006 LENOX ROAD
20389,Queens,ROCKAWAY PARK,12 CONDOS - WALKUP APARTMENTS,2,16173,1017,R2,"100-14 SHORE FRONT PARKWAY, 17B",17B,11694,...,2006,2,R2,350000,2019-05-20,5,Condo,100-14 SHORE FRONT PARKWAY,17B,"100-14 SHORE FRONT PARKWAY, 17B"
20390,Queens,ROCKAWAY PARK,12 CONDOS - WALKUP APARTMENTS,2,16173,1017,R2,"100-14 SHORE FRONT PARKWAY, 17B",17B,11694,...,2006,2,R2,366000,2019-04-17,4,Condo,100-14 SHORE FRONT PARKWAY,17B,"100-14 SHORE FRONT PARKWAY, 17B"
4974,Staten Island,PORT RICHMOND,01 ONE FAMILY DWELLINGS,1,1032,43,A1,10 ALBION PLACE,nan,10302,...,1899,1,A1,174300,2019-01-30,1,Other,10 ALBION PLACE,,10 ALBION PLACE
4975,Staten Island,PORT RICHMOND,01 ONE FAMILY DWELLINGS,1,1032,43,A1,10 ALBION PLACE,nan,10302,...,1899,1,A1,480155,2018-11-30,11,Other,10 ALBION PLACE,,10 ALBION PLACE
4186,Manhattan,GREENWICH VILLAGE-WEST,13 CONDOS - ELEVATOR APARTMENTS,2,602,1122,R4,"1 MORTON SQUARE, 14A E",14A E,10014,...,2002,2,R4,2150000,2019-07-23,7,Condo,1 MORTON SQUARE,14A E,"1 MORTON SQUARE, 14A E"
4187,Manhattan,GREENWICH VILLAGE-WEST,13 CONDOS - ELEVATOR APARTMENTS,2,602,1122,R4,"1 MORTON SQUARE, 14A E",14A E,10014,...,2002,2,R4,1200000,2019-03-04,3,Condo,1 MORTON SQUARE,14A E,"1 MORTON SQUARE, 14A E"

In [238]:
combined[combined['ADDRESS'] == '90 MORTON STREET, PH10A']

,BOROUGH,NEIGHBORHOOD,BUILDING CLASS CATEGORY,TAX CLASS AT PRESENT,BLOCK,LOT,BUILDING CLASS AT PRESENT,ADDRESS,APARTMENT NUMBER,ZIP CODE,...,TOTAL UNITS,LAND SQUARE FEET,GROSS SQUARE FEET,YEAR BUILT,TAX CLASS AT TIME OF SALE,BUILDING CLASS AT TIME OF SALE,SALE PRICE,SALE DATE,SALE MONTH,TYPE
3856,Manhattan,GREENWICH VILLAGE-WEST,13 CONDOS - ELEVATOR APARTMENTS,2,602,1232,NaN,"90 MORTON STREET, PH10A",nan,0,...,0.0,0,0,0,2,R4,12600844,2019-06-28,6,Condo
7176,Manhattan,MANHATTAN-UNKNOWN,13 CONDOS - ELEVATOR APARTMENTS,2,602,1232,NaN,"90 MORTON STREET, PH10A",nan,0,...,0.0,0,0,0,2,R4,12600844,2019-06-28,6,Condo

In [ ]:
##take away extra spaces that may be in some rows under ADDRESS

In [196]:
#manhattan.info()

In [104]:
#bronx.info()

In [8]:
#queens.info()

In [106]:
#staten_island.info()

In [107]:
#brooklyn.info()

In [115]:
#replace commas in SALE PRICE column with empty space and convert to string, then float.
#manhattan['SALE PRICE'] = manhattan['SALE PRICE'].str.replace(',','').astype(float).astype(int)

In [121]:
#filter out office buildings and rental buildings, sort by price descending. Looks like there are dupes.
#manhattan.loc[(manhattan['TAX CLASS AT PRESENT'] != '4') & (manhattan['BUILDING CLASS CATEGORY'].str.contains('RENTAL')==False)].sort_values('SALE PRICE', ascending = False)

,BOROUGH,NEIGHBORHOOD,BUILDING CLASS CATEGORY,TAX CLASS AT PRESENT,BLOCK,LOT,EASE-MENT,BUILDING CLASS AT PRESENT,ADDRESS,APARTMENT NUMBER,...,RESIDENTIAL UNITS,COMMERCIAL UNITS,TOTAL UNITS,LAND SQUARE FEET,GROSS SQUARE FEET,YEAR BUILT,TAX CLASS AT TIME OF SALE,BUILDING CLASS AT TIME OF SALE,SALE PRICE,SALE DATE
9086,Manhattan,MIDTOWN WEST,13 CONDOS - ELEVATOR APARTMENTS,2,1030,1082,NaN,R4,"220 CENTRAL PARK SOUTH, 50",50,...,0,0,0,0,"23,029",2015,2,R4,239958219,01/23/2019
12181,Manhattan,UPPER EAST SIDE (59-79),13 CONDOS - ELEVATOR APARTMENTS,2,1401,1003,NaN,R4,"165 EAST 66TH ST, RESI",RESI,...,0,0,0,0,"233,578",1957,2,R4,200000000,04/05/2019
7217,Manhattan,MANHATTAN-UNKNOWN,45 CONDO HOTELS,NaN,836,1104,NaN,NaN,"1328 BROADWAY, UNIT4",NaN,...,0,0,0,0,0,0,4,RH,88373347,08/23/2019
1614,Manhattan,FASHION,45 CONDO HOTELS,NaN,836,1104,NaN,NaN,"1328 BROADWAY, UNIT4",NaN,...,0,0,0,0,0,0,4,RH,88373347,08/23/2019
7216,Manhattan,MANHATTAN-UNKNOWN,28 COMMERCIAL CONDOS,NaN,836,1102,NaN,NaN,"1328 BROADWAY, UNIT2",NaN,...,0,0,0,0,0,0,4,R5,88373347,08/23/2019
1613,Manhattan,FASHION,28 COMMERCIAL CONDOS,NaN,836,1102,NaN,NaN,"1328 BROADWAY, UNIT2",NaN,...,0,0,0,0,0,0,4,R5,88373347,08/23/2019
10273,Manhattan,SOHO,10 COOPS - ELEVATOR APARTMENTS,2,485,21,NaN,D4,"106 SPRING STREET, 1",NaN,...,0,0,0,0,0,1900,2,D4,79451009,04/05/2019
11168,Manhattan,UPPER EAST SIDE (59-79),01 ONE FAMILY DWELLINGS,1,1381,61,NaN,A7,14 EAST 67TH STREET,NaN,...,1,0,1,"4,820","14,240",1905,1,A7,77100000,06/04/2019
3086,Manhattan,GRAMERCY,13 CONDOS - ELEVATOR APARTMENTS,2,901,1001,NaN,R4,"200 EAST 21ST STREET, RU",2A,...,0,0,0,0,862,2016,2,R4,74400000,12/28/2018
12106,Manhattan,UPPER EAST SIDE (59-79),13 CONDOS - ELEVATOR APARTMENTS,2,1375,1441,NaN,R4,520 PARK AVENUE,DPH60,...,0,0,0,0,"9,138",2015,2,R4,73800000,11/19/2018
12104,Manhattan,UPPER EAST SIDE (59-79),13 CONDOS - ELEVATOR APARTMENTS,2,1375,1438,NaN,R4,520 PARK AVENUE,DPH56,...,0,0,0,0,"9,138",2015,2,R4,67921052,12/20/2018
9093,Manhattan,MIDTOWN WEST,13 CONDOS - ELEVATOR APARTMENTS,2,1030,1117,NaN,R4,"220 CENTRAL PARK SOUTH, PH16",PH16,...,0,0,0,0,"5,845",2015,2,R4,65750000,07/16/2019
12103,Manhattan,UPPER EAST SIDE (59-79),13 CONDOS - ELEVATOR APARTMENTS,2,1375,1437,NaN,R4,"520 PARK AVENUE, DPH54",DPH54,...,0,0,0,0,"9,138",2015,2,R4,64250000,01/25/2019
12102,Manhattan,UPPER EAST SIDE (59-79),13 CONDOS - ELEVATOR APARTMENTS,2,1375,1436,NaN,R4,520 PARK AVENUE,DPH52,...,0,0,0,0,"9,138",2015,2,R4,62000000,11/15/2018
11080,Manhattan,TRIBECA,13 CONDOS - ELEVATOR APARTMENTS,2,223,1147,NaN,R4,62 VESTRY STREET,PHS,...,0,0,0,0,"7,808",2016,2,R4,56010250,12/10/2018
11298,Manhattan,UPPER EAST SIDE (59-79),10 COOPS - ELEVATOR APARTMENTS,2,1379,1,NaN,D4,"834 FIFTH AVENUE, 7/8A",NaN,...,0,0,0,0,0,1931,2,D4,53000000,08/27/2019
2307,Manhattan,FLATIRON,13 CONDOS - ELEVATOR APARTMENTS,2,827,1048,NaN,R4,"212 FIFTH AVENUE, PHA",PHA,...,0,0,0,0,"10,079",1913,2,R4,51550000,06/04/2019
9088,Manhattan,MIDTOWN WEST,13 CONDOS - ELEVATOR APARTMENTS,2,1030,1086,NaN,R4,"220 CENTRAL PARK SOUTH, 56A",56A,...,0,0,0,0,"4,814",2015,2,R4,41748250,09/24/2019
11079,Manhattan,TRIBECA,13 CONDOS - ELEVATOR APARTMENTS,2,223,1146,NaN,R4,62 VESTRY STREET,PHN,...,0,0,0,0,"6,547",2016,2,R4,40735500,12/20/2018
11077,Manhattan,TRIBECA,13 CONDOS - ELEVATOR APARTMENTS,2,223,1144,NaN,R4,"70 VESTRY STREET, 12S",12S,...,0,0,0,0,"8,346",2016,2,R4,39285000,02/15/2019
9092,Manhattan,MIDTOWN WEST,13 CONDOS - ELEVATOR APARTMENTS,2,1030,1111,NaN,R4,"220 CENTRAL PARK SOUTH, V-6",V-6,...,0,0,0,0,"4,994",2015,2,R4,39000000,06/07/2019
9087,Manhattan,MIDTOWN WEST,13 CONDOS - ELEVATOR APARTMENTS,2,1030,1083,NaN,R4,"220 CENTRAL PARK SOUTH, 54A",54A,...,0,0,0,0,"4,814",2015,2,R4,38184375,09/19/2019
11064,Manhattan,TRIBECA,13 CONDOS - ELEVATOR APARTMENTS,2,223,1126,NaN,R4,"70 VESTRY STREET, 6F",6F,...,0,0,0,0,"2,445",2016,2,R4,36681561,02/12/2019
11065,Manhattan,TRIBECA,13 CONDOS - ELEVATOR APARTMENTS,2,223,1127,NaN,R4,"70 VESTRY STREET, 7A",7A,...,0,0,0,0,"2,844",2016,2,R4,36681561,02/12/2019
11071,Manhattan,TRIBECA,13 CONDOS - ELEVATOR APARTMENTS,2,223,1134,NaN,R4,"70 VESTRY STREET, 8W",8W,...,0,0,0,0,"2,609",2016,2,R4,36681561,02/12/2019
11074,Manhattan,TRIBECA,13 CONDOS - ELEVATOR APARTMENTS,2,223,1140,NaN,R4,"70 VESTRY STREET, 10W",10W,...,0,0,0,0,"2,592",2016,2,R4,36681561,02/12/2019
11058,Manhattan,TRIBECA,13 CONDOS - ELEVATOR APARTMENTS,2,223,1105,NaN,R4,"70 VESTRY STREET, 3C",3C,...,0,0,0,0,"1,670",2016,2,R4,36681561,02/12/2019
11069,Manhattan,TRIBECA,13 CONDOS - ELEVATOR APARTMENTS,2,223,1131,NaN,R4,"70 VESTRY STREET, 7E",7E,...,0,0,0,0,"2,965",2016,2,R4,36681561,02/12/2019
11070,Manhattan,TRIBECA,13 CONDOS - ELEVATOR APARTMENTS,2,223,1132,NaN,R4,"70 VESTRY STREET, 7F",7F,...,0,0,0,0,"2,445",2016,2,R4,36681561,02/12/2019
11063,Manhattan,TRIBECA,13 CONDOS - ELEVATOR APARTMENTS,2,223,1125,NaN,R4,"70 VESTRY STREET, 6E",6E,...,0,0,0,0,"2,965",2016,2,R4,36681561,02/12/2019
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4857,Manhattan,HARLEM-CENTRAL,13 CONDOS - ELEVATOR APARTMENTS,2,1822,1206,NaN,R4,1845 ADAM C POWELL BLVD,A1D,...,0,0,0,0,"1,476",1915,2,R4,0,10/29/2018
12707,Manhattan,UPPER EAST SIDE (59-79),09 COOPS - WALKUP APARTMENTS,2C,1388,112,NaN,C6,"19 EAST 73RD STREET, 6",NaN,...,0,0,0,0,0,1925,2,C6,0,03/19/2019
12715,Manhattan,UPPER EAST SIDE (59-79),10 COOPS - ELEVATOR APARTMENTS,2C,1393,45,NaN,D4,"60 EAST 79TH STREET, 1A,1B",NaN,...,0,0,0,0,0,1920,2,D4,0,07/03/2019
12716,Manhattan,UPPER EAST SIDE (59-79),15 CONDOS - 2-10 UNIT RESIDENTIAL,2C,1379,1402,NaN,R1,"20 EAST 65TH STREET, B",B,...,0,0,0,0,"6,406",0,2,R1,0,01/01/2019
12720,Manhattan,UPPER EAST SIDE (59-79),15 CONDOS - 2-10 UNIT RESIDENTIAL,2C,1429,1006,NaN,R1,"216 EAST 75TH STREET, 2EAST",2EAST,...,0,0,0,0,"1,182",1986,2,R1,0,06/25/2019
12721,Manhattan,UPPER EAST SIDE (59-79),15 CONDOS - 2-10 UNIT RESIDENTIAL,2C,1429,1007,NaN,R1,"216 EAST 75TH STREET, 3WEST",3WEST,...,0,0,0,0,"1,040",1986,2,R1,0,09/24/2019
4847,Manhattan,HARLEM-CENTRAL,13 CONDOS - ELEVATOR APARTMENTS,2,1746,1146,NaN,R4,"1485 5 AVENUE, 24E",24E,...,0,0,0,0,"1,658",2007,2,R4,0,06/04/2019
4846,Manhattan,HARLEM-CENTRAL,13 CONDOS - ELEVATOR APARTMENTS,2,1746,1139,NaN,R4,"1485 5 AVENUE, 23D",23D,...,0,0,0,0,"1,970",2007,2,R4,0,07/28/2019
629,Manhattan,CHELSEA,13 CONDOS - ELEVATOR APARTMENTS,2,803,1075,NaN,R4,"315 7 AVENUE, 18B",18B,...,0,0,0,0,764,0,2,R4,0,02/11/2019
12790,Manhattan,UPPER EAST SIDE (79-96),01 ONE FAMILY DWELLINGS,1,1505,30,NaN,A4,67 EAST 93RD STREET,NaN,...,1,0,1,"2,215","6,956",1901,1,A4,0,11/26/2018
627,Manhattan,CHELSEA,13 CONDOS - ELEVATOR APARTMENTS,2,803,1072,NaN,R4,"315 7 AVENUE, 17C",17C,...,0,0,0,0,612,0,2,R4,0,03/19/2019
12792,Manhattan,UPPER EAST SIDE (79-96),01 ONE FAMILY DWELLINGS,1,1509,5,NaN,A4,105 EAST 80TH STREET,NaN,...,1,0,1,"1,839","6,096",1901,1,A4,0,07/25/2019
12793,Manhattan,UPPER EAST SIDE (79-96),01 ONE FAMILY DWELLINGS,1,1511,27,NaN,A4,159 EAST 82ND STREET,NaN,...,1,0,1,"1,572","3,420",1899,1,A4,0,06/05/2019
625,Manhattan,CHELSEA,13 CONDOS - ELEVATOR APARTMENTS,2,803,1043,NaN,R4,"315 7 AVENUE, 10D",10D,...,0,0,0,0,530,0,2,R4,0,01/29/2019
12798,Manhattan,UPPER EAST SIDE (79-96),01 ONE FAMILY DWELLINGS,1,1523,69,NaN,A4,1217 PARK AVENUE,NaN,...,1,0,1,"1,426","4,620",1899,1,A4,0,02/11/2019
624,Manhattan,CHELSEA,13 CONDOS - ELEVATOR APARTMENTS,2,803,1026,NaN,R4,"315 7 AVENUE, 7B",7B,...,0,0,0,0,764,0,2,R4,0,07/30/2019
623,Manhattan,CHELSEA,13 CONDOS - ELEVATOR APARTMENTS,2,802,1112,NaN,R4,291 7 AVENUE,10&PH,...,0,0,0,0,"4,749",0,2,R4,0,11/09/2018
622,Manhattan,CHELSEA,13 CONDOS - ELEVATOR APARTMENTS,2,802,1007,NaN,R4,"144 WEST 27TH STREET, 10F",10F,...,0,0,0,0,"1,822",1911,2,R4,0,07/30/2019
12803,Manhattan,UPPER EAST SIDE (79-96),02 TWO FAMILY DWELLINGS,1,1505,63,NaN,B1,16 EAST 94TH STREET,NaN,...,2,0,2,"1,728","4,166",1920,1,B1,0,04/15/2019
620,Manhattan,CHELSEA,13 CONDOS - ELEVATOR APARTMENTS,2,801,1115,NaN,R4,150 WEST 26TH STREET,602,...,0,0,0,0,"1,743",1922,2,R4,0,11/19/2018
12807,Manhattan,UPPER EAST SIDE (79-96),02 TWO FAMILY DWELLINGS,1,1529,105,NaN,B9,207 E. 83RD STREET,NaN,...,2,0,2,"2,043","5,640",1901,1,B9,0,10/11/2018
617,Manhattan,CHELSEA,13 CONDOS - ELEVATOR APARTMENTS,2,800,1467,NaN,R4,101 WEST 24TH STREET,31E,...,0,0,0,0,"1,113",2006,2,R4,0,10/31/2018
614,Manhattan,CHELSEA,13 CONDOS - ELEVATOR APARTMENTS,2,800,1443,NaN,R4,"101 WEST 24TH STREET, 6E",6E,...,0,0,0,0,"1,107",2006,2,R4,0,02/28/2019
12812,Manhattan,UPPER EAST SIDE (79-96),03 THREE FAMILY DWELLINGS,1,1503,66,NaN,C0,10 EAST 92ND STREET,NaN,...,3,0,3,"1,904","4,663",1899,1,C0,0,03/15/2019
12813,Manhattan,UPPER EAST SIDE (79-96),03 THREE FAMILY DWELLINGS,1,1503,66,NaN,C0,10 EAST 92ND STREET,NaN,...,3,0,3,"1,904","4,663",1899,1,C0,0,03/15/2019
12815,Manhattan,UPPER EAST SIDE (79-96),03 THREE FAMILY DWELLINGS,1,1524,108,NaN,C0,121 EAST 95TH STREET,NaN,...,3,0,3,"1,611","3,328",1899,1,C0,0,02/11/2019
12876,Manhattan,UPPER EAST SIDE (79-96),09 COOPS - WALKUP APARTMENTS,2,1535,11,NaN,C6,"215 EAST 89TH STREET, 1C",NaN,...,0,0,0,0,0,1920,2,C6,0,11/08/2018
12877,Manhattan,UPPER EAST SIDE (79-96),09 COOPS - WALKUP APARTMENTS,2,1535,41,NaN,C6,"210 EAST 90TH STREET, 1A",NaN,...,0,0,0,0,0,1910,2,C6,0,02/27/2019
12887,Manhattan,UPPER EAST SIDE (79-96),09 COOPS - WALKUP APARTMENTS,2,1555,21,NaN,C6,"343 EAST 92ND STREET, 2E",NaN,...,0,0,0,0,0,1920,2,C6,0,09/17/2019
4869,Manhattan,HARLEM-CENTRAL,13 CONDOS - ELEVATOR APARTMENTS,2,1822,1222,NaN,R4,1845 ADAM C POWELL BLVD,A3D,...,0,0,0,0,"1,483",1915,2,R4,0,10/29/2018

49837

In [34]:
staten_island.describe()

,BLOCK,LOT,EASE-MENT,ZIP CODE,RESIDENTIAL UNITS,COMMERCIAL UNITS,TOTAL UNITS,YEAR BUILT,TAX CLASS AT TIME OF SALE
count,7724.000000,7724.000000,0.0,7724.000000,7724.000000,7724.000000,7724.000000,7724.000000,7724.000000
mean,3326.988219,188.890989,NaN,10109.178923,1.148887,0.044925,1.193811,1883.164552,1.146686
std,2372.503673,427.827223,NaN,1417.906801,1.230561,0.325332,1.256904,403.408993,0.574030
min,1.000000,1.000000,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
25%,1072.250000,24.000000,NaN,10305.000000,1.000000,0.000000,1.000000,1943.750000,1.000000
50%,3121.000000,55.000000,NaN,10308.000000,1.000000,0.000000,1.000000,1974.000000,1.000000
75%,5448.000000,128.250000,NaN,10312.000000,2.000000,0.000000,2.000000,1990.000000,1.000000
max,8049.000000,5344.000000,NaN,10314.000000,52.000000,8.000000,52.000000,2019.000000,4.000000

In [114]:
manhattan.describe()

,BLOCK,LOT,EASE-MENT,ZIP CODE,RESIDENTIAL UNITS,COMMERCIAL UNITS,TOTAL UNITS,YEAR BUILT,TAX CLASS AT TIME OF SALE
count,17686.000000,17686.000000,0.0,17686.000000,17686.000000,17686.000000,17686.000000,17686.000000,17686.000000
mean,1100.773097,767.797071,NaN,9881.924969,1.386916,0.409024,1.795940,1696.709148,2.122017
std,529.575815,893.415353,NaN,1210.008056,11.285579,6.625518,13.231401,660.731449,0.541555
min,10.000000,1.000000,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
25%,738.000000,31.000000,NaN,10012.000000,0.000000,0.000000,0.000000,1910.000000,2.000000
50%,1167.000000,1006.000000,NaN,10021.000000,0.000000,0.000000,0.000000,1932.000000,2.000000
75%,1453.000000,1202.000000,NaN,10028.000000,0.000000,0.000000,0.000000,1977.000000,2.000000
max,2250.000000,9109.000000,NaN,10463.000000,464.000000,570.000000,570.000000,2018.000000,4.000000

In [36]:
brooklyn.sample(20)

,BOROUGH,NEIGHBORHOOD,BUILDING CLASS CATEGORY,TAX CLASS AT PRESENT,BLOCK,LOT,EASE-MENT,BUILDING CLASS AT PRESENT,ADDRESS,APARTMENT NUMBER,...,RESIDENTIAL UNITS,COMMERCIAL UNITS,TOTAL UNITS,LAND SQUARE FEET,GROSS SQUARE FEET,YEAR BUILT,TAX CLASS AT TIME OF SALE,BUILDING CLASS AT TIME OF SALE,SALE PRICE,SALE DATE
4292,Brooklyn,BOROUGH PARK,04 TAX CLASS 1 CONDOS,1C,5709,1202,NaN,R6,"5910 11TH AVENUE, 2",2,...,0,0,0,0,"1,415",2017,1,R6,"946,973",04/18/2019
17506,Brooklyn,MILL BASIN,01 ONE FAMILY DWELLINGS,1,8625,39,NaN,A2,1 BARLOW DRIVE N,NaN,...,1,0,1,"6,105","2,520",1960,1,A2,0,06/12/2019
3622,Brooklyn,BOROUGH PARK,02 TWO FAMILY DWELLINGS,1,5364,72,NaN,B1,1519 41ST STREET,NaN,...,2,0,2,"2,003","2,088",1925,1,B1,0,05/09/2019
23472,Brooklyn,WINDSOR TERRACE,10 COOPS - ELEVATOR APARTMENTS,2,5268,18,NaN,D4,"202 SEELEY STREET, 1E",NaN,...,0,0,0,0,0,1931,2,D4,"725,000",07/23/2019
44,Brooklyn,BATH BEACH,02 TWO FAMILY DWELLINGS,1,6360,7,NaN,B2,1507 BENSON AVENUE,NaN,...,2,0,2,"2,142","2,040",1930,1,B2,"1,200,000",06/05/2019
22612,Brooklyn,WILLIAMSBURG-EAST,07 RENTALS - WALKUP APARTMENTS,2B,2924,48,NaN,C7,951 GRAND STREET,NaN,...,7,1,8,"2,530","5,880",2015,2,C7,0,11/26/2018
12927,Brooklyn,FLATBUSH-LEFFERTS GARDEN,01 ONE FAMILY DWELLINGS,1,5034,59,NaN,A4,109 RUTLAND ROAD,NaN,...,1,0,1,"1,775","2,304",1930,1,A4,"1,950,000",05/10/2019
18406,Brooklyn,OCEAN PARKWAY-NORTH,10 COOPS - ELEVATOR APARTMENTS,2,5417,58,NaN,D4,"275 WEBSTER AVENUE, 2N",NaN,...,0,0,0,0,0,1964,2,D4,"217,000",05/09/2019
16646,Brooklyn,MARINE PARK,01 ONE FAMILY DWELLINGS,1,7699,36,NaN,A1,1515 EAST 37TH STREET,NaN,...,1,0,1,"2,000","1,472",1925,1,A1,"345,000",02/01/2019
15765,Brooklyn,KENSINGTON,01 ONE FAMILY DWELLINGS,1,5307,90,NaN,A1,88 TEHAMA STREET,NaN,...,1,0,1,"1,900","1,360",1910,1,A1,0,07/10/2019
555,Brooklyn,BAY RIDGE,02 TWO FAMILY DWELLINGS,1,5908,36,NaN,B1,372 72ND STREET,NaN,...,2,0,2,"2,000","2,240",1910,1,B1,0,11/14/2018
2670,Brooklyn,BENSONHURST,02 TWO FAMILY DWELLINGS,1,6179,31,NaN,B1,1458 71ST STREET,NaN,...,2,0,2,"2,000","1,600",1920,1,B1,0,11/06/2018
16862,Brooklyn,MARINE PARK,02 TWO FAMILY DWELLINGS,1,8482,68,NaN,B1,1866 RYDER STREET,NaN,...,2,0,2,"4,000","2,392",1960,1,B1,"1,060,000",02/13/2019
1772,Brooklyn,BEDFORD STUYVESANT,03 THREE FAMILY DWELLINGS,1,1793,90,NaN,C0,433 GREENE AVENUE,NaN,...,3,0,3,"2,000","3,360",1931,1,C0,"2,150,000",10/19/2018
4701,Brooklyn,BRIGHTON BEACH,03 THREE FAMILY DWELLINGS,1,8707,415,NaN,C0,102 BRIGHTON 11 STREET,NaN,...,3,0,3,"2,200","2,520",1935,1,C0,0,01/29/2019
9024,Brooklyn,CROWN HEIGHTS,03 THREE FAMILY DWELLINGS,1,1346,6,NaN,C0,139 ALBANY AVE,NaN,...,3,0,3,"2,250","3,900",2004,1,C0,"1,020,000",02/26/2019
23240,Brooklyn,WILLIAMSBURG-SOUTH,13 CONDOS - ELEVATOR APARTMENTS,2,2132,1023,NaN,R4,"123 SOUTH 8TH STREET, 5C",5C,...,0,0,0,0,"1,184",0,2,R4,0,06/26/2019
5730,Brooklyn,BROOKLYN-UNKNOWN,14 RENTALS - 4-10 UNIT,2A,166,24,NaN,S3,306 LIVINGSTON STREET,NaN,...,3,1,4,"1,327","4,801",0,2,S3,"10,000,000",05/31/2019
6266,Brooklyn,BUSHWICK,02 TWO FAMILY DWELLINGS,1,3406,37,NaN,B1,336 WEIRFIELD STREET,NaN,...,2,0,2,"2,000","2,320",1910,1,B1,0,04/22/2019
2173,Brooklyn,BEDFORD STUYVESANT,07 RENTALS - WALKUP APARTMENTS,2A,1801,16,NaN,C3,680 GREENE AVENUE,NaN,...,4,0,4,"2,000","3,600",1931,2,C3,0,02/25/2019

In [37]:
queens.sample(20)

,BOROUGH,NEIGHBORHOOD,BUILDING CLASS CATEGORY,TAX CLASS AT PRESENT,BLOCK,LOT,EASE-MENT,BUILDING CLASS AT PRESENT,ADDRESS,APARTMENT NUMBER,...,RESIDENTIAL UNITS,COMMERCIAL UNITS,TOTAL UNITS,LAND SQUARE FEET,GROSS SQUARE FEET,YEAR BUILT,TAX CLASS AT TIME OF SALE,BUILDING CLASS AT TIME OF SALE,SALE PRICE,SALE DATE
12120,Queens,HOLLIS HILLS,01 ONE FAMILY DWELLINGS,1,7815,67,NaN,A1,85-15 211TH STREET,NaN,...,1,0,1,"4,000","1,790",1940,1,A1,"912,500",07/02/2019
486,Queens,ASTORIA,02 TWO FAMILY DWELLINGS,1,795,34,NaN,B2,40-14 DITMARS BOULEVARD,NaN,...,2,0,2,"2,500","1,364",1920,1,B2,0,07/08/2019
7824,Queens,FLUSHING-NORTH,13 CONDOS - ELEVATOR APARTMENTS,2,4954,1008,NaN,R4,"32-36 UNION STREET, 6A",6A,...,0,0,0,0,"1,670",2007,2,R4,"800,000",07/25/2019
8673,Queens,FLUSHING-SOUTH,01 ONE FAMILY DWELLINGS,1,6537,108,NaN,A2,68-07 147TH STREET,NaN,...,1,0,1,"4,000","1,299",1945,1,A2,"900,000",09/04/2019
7170,Queens,FLUSHING-NORTH,02 TWO FAMILY DWELLINGS,1,5533,18,NaN,B3,46-28 192ND STREET,NaN,...,2,0,2,"4,000","1,281",1955,1,B3,"1,280,000",08/14/2019
10211,Queens,FOREST HILLS,10 COOPS - ELEVATOR APARTMENTS,2,2251,54,NaN,D4,"72-61 113TH STREET, 4U",NaN,...,0,0,0,0,0,1951,2,D4,"117,600",12/12/2018
2371,Queens,BEECHHURST,10 COOPS - ELEVATOR APARTMENTS,2,4574,71,NaN,D4,"162-41 POWELLS COVE BLVD., 4T",NaN,...,0,0,0,0,0,1956,2,D4,"400,000",02/05/2019
14764,Queens,LAURELTON,01 ONE FAMILY DWELLINGS,1,13122,3,NaN,A1,227-15 137TH AVE,NaN,...,1,0,1,"5,000","2,185",1925,1,A1,0,10/01/2018
19189,Queens,RICHMOND HILL,01 ONE FAMILY DWELLINGS,1,9362,56,NaN,A1,89-62 134TH STREET,NaN,...,1,0,1,"8,650","1,275",1925,1,A1,"600,000",08/20/2019
14024,Queens,JAMAICA,29 COMMERCIAL GARAGES,4,10031,17,NaN,GW,97-31 147TH PLACE,NaN,...,0,1,1,"7,700","3,878",1975,4,GW,"1,900,000",01/15/2019
8440,Queens,FLUSHING-NORTH,42 CONDO CULTURAL/MEDICAL/EDUCATIONAL/ETC,4,4414,1336,NaN,RA,"31-32 UNION STREET, 1D",1D,...,0,0,0,0,"1,468",2007,4,RA,"4,300,000",08/21/2019
18849,Queens,REGO PARK,10 COOPS - ELEVATOR APARTMENTS,2,3159,70,NaN,D4,"98-120 QUEENS BLVD, 2A",NaN,...,0,0,0,0,0,1939,2,D4,"390,000",04/10/2019
247,Queens,ASTORIA,01 ONE FAMILY DWELLINGS,1,574,116,NaN,A5,27-30 27TH STREET,NaN,...,1,0,1,"1,650","1,128",1920,1,A5,"850,000",09/25/2019
12924,Queens,JACKSON HEIGHTS,02 TWO FAMILY DWELLINGS,1,1041,48,NaN,B1,24-43 77TH STREET,NaN,...,2,0,2,"2,200","1,774",1955,1,B1,"725,000",01/31/2019
20885,Queens,ROSEDALE,03 THREE FAMILY DWELLINGS,1,13680,1,NaN,C0,258-12 CRAFT AVENUE,NaN,...,3,0,3,"6,996","2,972",1960,1,C0,"825,000",06/11/2019
4343,Queens,DOUGLASTON,01 ONE FAMILY DWELLINGS,1,8288,22,NaN,A5,240-42 65TH AVENUE,NaN,...,1,0,1,"1,826","1,368",1970,1,A5,0,03/31/2019
17777,Queens,QUEENS VILLAGE,01 ONE FAMILY DWELLINGS,1,10670,46,NaN,A1,8810 213 ST,NaN,...,1,0,1,"3,060","1,184",1920,1,A1,0,12/19/2018
7479,Queens,FLUSHING-NORTH,10 COOPS - ELEVATOR APARTMENTS,2,4374,49,NaN,D4,"138-25 31ST DRIVE, 3D",NaN,...,0,0,0,0,0,1953,2,D4,"350,000",06/05/2019
7654,Queens,FLUSHING-NORTH,10 COOPS - ELEVATOR APARTMENTS,2,5135,57,NaN,D4,"137-05 FRANKLIN AVENUE, 2E",NaN,...,0,0,0,0,0,1962,2,D4,"360,000",10/11/2018
499,Queens,ASTORIA,02 TWO FAMILY DWELLINGS,1,808,31,NaN,B1,37-04 21ST AVENUE,NaN,...,2,0,2,"2,500","2,745",1925,1,B1,"1,455,000",11/09/2018

In [38]:
bronx.sample(20)

,BOROUGH,NEIGHBORHOOD,BUILDING CLASS CATEGORY,TAX CLASS AT PRESENT,BLOCK,LOT,EASE-MENT,BUILDING CLASS AT PRESENT,ADDRESS,APARTMENT NUMBER,...,RESIDENTIAL UNITS,COMMERCIAL UNITS,TOTAL UNITS,LAND SQUARE FEET,GROSS SQUARE FEET,YEAR BUILT,TAX CLASS AT TIME OF SALE,BUILDING CLASS AT TIME OF SALE,SALE PRICE,SALE DATE
2477,Bronx,KINGSBRIDGE HTS/UNIV HTS,01 ONE FAMILY DWELLINGS,1,3208,46,NaN,S1,2257 GRAND AVENUE,NaN,...,1,1,2,"5,000","1,496",1910,1,S1,"970,000",12/28/2018
964,Bronx,BRONX-UNKNOWN,03 THREE FAMILY DWELLINGS,1,3315,20,NaN,C0,2736 CRESTON AVENUE,NaN,...,3,0,3,"2,406","3,612",0,1,C0,"925,000",12/05/2018
7668,Bronx,WOODLAWN,02 TWO FAMILY DWELLINGS,1,3387,63,NaN,B1,327 EAST 238 STREET,NaN,...,2,0,2,"2,800","2,734",1940,1,B1,0,01/09/2019
5554,Bronx,SCHUYLERVILLE/PELHAM BAY,02 TWO FAMILY DWELLINGS,1,5336,6,NaN,B2,2951 BAISLEY AVENUE,NaN,...,2,0,2,"2,375","1,800",1920,1,B2,0,03/20/2019
4530,Bronx,PELHAM GARDENS,01 ONE FAMILY DWELLINGS,1,4481,122,NaN,A5,2551 WOODHULL AVENUE,NaN,...,1,0,1,"1,702","1,048",1940,1,A5,"450,000",07/12/2019
3985,Bronx,PARKCHESTER,02 TWO FAMILY DWELLINGS,1,3934,34,NaN,B2,1350 ODELL STREET,NaN,...,2,0,2,"2,575","1,890",1910,1,B2,0,10/10/2018
1173,Bronx,BRONXDALE,02 TWO FAMILY DWELLINGS,1,4611,14,NaN,B1,3212 PAULDING AVENUE,NaN,...,2,0,2,"2,500","2,120",1945,1,B1,"303,000",03/12/2019
2702,Bronx,KINGSBRIDGE/JEROME PARK,10 COOPS - ELEVATOR APARTMENTS,2,3255,65,NaN,D4,"3363 SEDGWICK AVENUE, 5U",NaN,...,0,0,0,0,0,1963,2,D4,"207,585",03/07/2019
1043,Bronx,BRONXDALE,01 ONE FAMILY DWELLINGS,1,4564,13,NaN,A2,2780 WILSON AVENUE,NaN,...,1,0,1,"8,968","2,020",1950,1,A2,"600,000",06/21/2019
3628,Bronx,MORRISANIA/LONGWOOD,29 COMMERCIAL GARAGES,4,2362,26,NaN,G6,423 WESTCHESTER AVENUE,NaN,...,0,0,0,"16,655",0,0,4,G6,"7,250,000",05/06/2019
3705,Bronx,MOTT HAVEN/PORT MORRIS,02 TWO FAMILY DWELLINGS,1,2565,52,NaN,B1,742 EAST 137TH ST,NaN,...,2,0,2,"1,500","1,440",1920,1,B1,"300,000",01/08/2019
6062,Bronx,SOUNDVIEW,04 TAX CLASS 1 CONDOS,1A,3432,1589,NaN,R3,143 ADMIRAL LANE,NaN,...,0,0,0,0,"1,206",2006,1,R3,"300,000",10/12/2018
4758,Bronx,PELHAM PARKWAY SOUTH,02 TWO FAMILY DWELLINGS,1,4314,27,NaN,S2,1220 PELHAM PARKWAY SO,NaN,...,2,1,3,"7,500","4,668",1950,1,S2,0,09/18/2019
937,Bronx,BRONX PARK,37 RELIGIOUS FACILITIES,4,3357,228,NaN,M9,3464 WEBSTER AVENUE,NaN,...,0,2,2,"1,595","4,880",2006,4,M9,"1,180,000",05/09/2019
981,Bronx,BRONX-UNKNOWN,29 COMMERCIAL GARAGES,4,2954,22,NaN,G7,790 FAIRMOUNT PLACE,NaN,...,0,0,0,0,0,0,4,G7,0,02/21/2019
161,Bronx,BAYCHESTER,01 ONE FAMILY DWELLINGS,1,4898,20,NaN,A5,1251 EAST 223 STREET,NaN,...,1,0,1,"1,600",960,1955,1,A5,"423,000",01/22/2019
3535,Bronx,MORRISANIA/LONGWOOD,09 COOPS - WALKUP APARTMENTS,2,2603,24,NaN,C6,"590 SOUTHERN BLVD, 4B",NaN,...,0,0,0,0,0,1924,2,C6,"77,500",03/08/2019
3580,Bronx,MORRISANIA/LONGWOOD,07 RENTALS - WALKUP APARTMENTS,2A,2678,27,NaN,C2,810 EAST 165 STREET,NaN,...,6,0,6,"2,000","4,493",2017,2,C2,"375,000",05/17/2019
6541,Bronx,THROGS NECK,03 THREE FAMILY DWELLINGS,1,5601,1,NaN,C0,2589 HARDING AVENUE,NaN,...,3,0,3,"4,500","2,570",1925,1,C0,0,03/21/2019
1806,Bronx,COUNTRY CLUB,02 TWO FAMILY DWELLINGS,1,5459,64,NaN,B1,1053 VINCENT AVENUE,NaN,...,2,0,2,674,"1,140",1925,1,B1,"356,250",04/08/2019

In [39]:
manhattan.sample(20)

,BOROUGH,NEIGHBORHOOD,BUILDING CLASS CATEGORY,TAX CLASS AT PRESENT,BLOCK,LOT,EASE-MENT,BUILDING CLASS AT PRESENT,ADDRESS,APARTMENT NUMBER,...,RESIDENTIAL UNITS,COMMERCIAL UNITS,TOTAL UNITS,LAND SQUARE FEET,GROSS SQUARE FEET,YEAR BUILT,TAX CLASS AT TIME OF SALE,BUILDING CLASS AT TIME OF SALE,SALE PRICE,SALE DATE
8261,Manhattan,MIDTOWN EAST,13 CONDOS - ELEVATOR APARTMENTS,2,1320,1681,NaN,R4,"225 EAST 46TH STREET, 8F",8F,...,0,0,0,0,425,1956,2,R4,0.00,02/20/2019
752,Manhattan,CHELSEA,16 CONDOS - 2-10 UNIT WITH COMMERCIAL UNIT,2C,696,1202,NaN,R8,"503 WEST 24TH STREET, FOUND",FOUND,...,0,0,0,0,"9,210",2015,2,R8,"29,000,000.00",12/31/2018
15723,Manhattan,UPPER WEST SIDE (59-79),17 CONDO COOPS,2,1167,1002,NaN,R9,"215 WEST 75TH STREET, 16H",NaN,...,0,0,0,0,0,1924,2,R9,"785,000.00",09/17/2019
2870,Manhattan,GRAMERCY,13 CONDOS - ELEVATOR APARTMENTS,2,878,1057,NaN,R4,"121 EAST 22ND STREET, N802",N802,...,0,0,0,0,"1,674",1952,2,R4,0.00,01/24/2019
3232,Manhattan,GREENWICH VILLAGE-CENTRAL,10 COOPS - ELEVATOR APARTMENTS,2,523,38,NaN,D4,"88 BLEECKER STREET, 5L",NaN,...,0,0,0,0,0,1961,2,D4,"750,000.00",08/27/2019
14952,Manhattan,UPPER WEST SIDE (59-79),13 CONDOS - ELEVATOR APARTMENTS,2,1114,1136,NaN,R4,62 WEST 62,14B,...,0,0,0,0,674,0,2,R4,"1,120,000.00",12/12/2018
146,Manhattan,CHELSEA,07 RENTALS - WALKUP APARTMENTS,2,738,48,NaN,C1,312 WEST 15TH STREET,NaN,...,36,0,36,"5,163","28,078",1900,2,C1,0.00,07/31/2019
8019,Manhattan,MIDTOWN EAST,10 COOPS - ELEVATOR APARTMENTS,2,1363,8,NaN,D4,"425 EAST 51ST STREET, 9F",NaN,...,0,0,0,0,0,1928,2,D4,"555,000.00",07/23/2019
4651,Manhattan,HARLEM-CENTRAL,09 COOPS - WALKUP APARTMENTS,2,2047,1,NaN,C6,"307 WEST 153 STREET, 21",NaN,...,0,0,0,0,0,1910,2,C6,"285,000.00",02/18/2019
5183,Manhattan,HARLEM-CENTRAL,29 COMMERCIAL GARAGES,4,1723,66,NaN,G7,78 WEST 126 STREET,NaN,...,0,0,0,"2,498",0,0,4,G7,0.00,09/24/2019
787,Manhattan,CHELSEA,46 CONDO STORE BUILDINGS,4,721,1001,NaN,RK,"410 WEST 24TH STREET, 8I",12B,...,0,0,0,0,"3,101",1932,4,RK,"440,904.00",03/18/2019
7980,Manhattan,MIDTOWN EAST,10 COOPS - ELEVATOR APARTMENTS,2,1351,1,NaN,D4,"300 EAST 59TH STREET, 2401",NaN,...,0,0,0,0,0,1974,2,D4,"1,553,000.00",01/16/2019
17575,Manhattan,WASHINGTON HEIGHTS UPPER,10 COOPS - ELEVATOR APARTMENTS,2,2179,500,NaN,D4,"689 FORT WASHINGTON AVEN, 4B",NaN,...,0,0,0,0,0,1928,2,D4,"390,000.00",10/05/2018
15955,Manhattan,UPPER WEST SIDE (59-79),47 CONDO NON-BUSINESS STORAGE,4,1171,2373,NaN,RS,240 RIVERSIDE BOULEVARD,SU105,...,0,0,0,0,16,2004,4,RS,0.00,11/30/2018
2858,Manhattan,GRAMERCY,13 CONDOS - ELEVATOR APARTMENTS,2,878,1048,NaN,R4,"121 EAST 22ND STREET, N701",N701,...,0,0,0,0,"1,353",1952,2,R4,0.00,01/24/2019
2917,Manhattan,GRAMERCY,13 CONDOS - ELEVATOR APARTMENTS,2,878,1091,NaN,R4,"N/A EAST 23RD STREET, N1204",N1204,...,0,0,0,0,780,1952,2,R4,0.00,01/24/2019
14552,Manhattan,UPPER WEST SIDE (59-79),10 COOPS - ELEVATOR APARTMENTS,2,1122,23,NaN,D4,"11 WEST 69TH STREET, PHA",NaN,...,0,0,0,0,0,1928,2,D4,"2,296,000.00",09/17/2019
3449,Manhattan,GREENWICH VILLAGE-CENTRAL,10 COOPS - ELEVATOR APARTMENTS,2,568,4,NaN,D4,"39 FIFTH AVENUE, 6A",NaN,...,0,0,0,0,0,1922,2,D4,"1,600,000.00",10/26/2018
2318,Manhattan,FLATIRON,13 CONDOS - ELEVATOR APARTMENTS,2,849,1239,NaN,R4,"260 PARK AVENUE SOUTH, 5H",5H,...,0,0,0,0,"1,281",1913,2,R4,0.00,01/11/2019
6370,Manhattan,LOWER EAST SIDE,10 COOPS - ELEVATOR APARTMENTS,2,315,1,NaN,D4,"417 GRAND STREET, D2005",NaN,...,0,0,0,0,0,1960,2,D4,"960,000.00",10/10/2018

In [40]:
staten_island.sample(20)

,BOROUGH,NEIGHBORHOOD,BUILDING CLASS CATEGORY,TAX CLASS AT PRESENT,BLOCK,LOT,EASE-MENT,BUILDING CLASS AT PRESENT,ADDRESS,APARTMENT NUMBER,...,RESIDENTIAL UNITS,COMMERCIAL UNITS,TOTAL UNITS,LAND SQUARE FEET,GROSS SQUARE FEET,YEAR BUILT,TAX CLASS AT TIME OF SALE,BUILDING CLASS AT TIME OF SALE,SALE PRICE,SALE DATE
797,Staten Island,BULLS HEAD,04 TAX CLASS 1 CONDOS,1A,1552,1050,NaN,R3,"139 MORANI STREET, N/A",NaN,...,0,0,0,0,"1,480",1980,1,R3,0,1/28/2019
1835,Staten Island,GRANT CITY,09 COOPS - WALKUP APARTMENTS,2,3546,1,NaN,C6,"35 VERA STREET, 216A",NaN,...,0,0,0,0,0,1969,2,C6,"25,350",5/2/2019
3620,Staten Island,MIDLAND BEACH,04 TAX CLASS 1 CONDOS,1A,3674,1057,NaN,R3,40J MEADOW PLACE,40J,...,0,0,0,0,592,1985,1,R3,"255,000",11/19/2018
4614,Staten Island,NEW SPRINGVILLE,04 TAX CLASS 1 CONDOS,1A,2450,3356,NaN,R3,"33 PIERPONT PLACE, N/A",NaN,...,0,0,0,0,"1,242",1981,1,R3,"409,000",1/23/2019
2445,Staten Island,GREAT KILLS,02 TWO FAMILY DWELLINGS,1,4500,374,NaN,B1,58 EVERGREEN STREET,NaN,...,2,0,2,"4,900","2,632",1980,1,B1,"830,000",8/14/2019
4254,Staten Island,NEW SPRINGVILLE,01 ONE FAMILY DWELLINGS,1,1991,16,NaN,A5,56 CONRAD AVENUE,NaN,...,1,0,1,"2,675","1,566",2016,1,A5,"711,757",3/22/2019
5822,Staten Island,ROSSVILLE-CHARLESTON,01 ONE FAMILY DWELLINGS,1,7596,126,NaN,A5,74 CHART LOOP,NaN,...,1,0,1,"1,550","2,650",2007,1,A5,"775,000",11/5/2018
1625,Staten Island,ELTINGVILLE,01 ONE FAMILY DWELLINGS,1,5712,66,NaN,A2,79 STAFFORD AVENUE,NaN,...,1,0,1,"4,000",800,1950,1,A2,"568,000",9/12/2019
27,Staten Island,ANNADALE,01 ONE FAMILY DWELLINGS,1,6220,14,NaN,A5,45 BARB STREET,NaN,...,1,0,1,"1,585","1,339",2004,1,A5,"542,000",11/15/2018
6474,Staten Island,TOMPKINSVILLE,02 TWO FAMILY DWELLINGS,1,504,58,NaN,B3,54 SWAN STREET,NaN,...,2,0,2,"2,211","1,496",1899,1,B3,0,7/30/2019
4556,Staten Island,NEW SPRINGVILLE,04 TAX CLASS 1 CONDOS,1A,2450,1092,NaN,R3,"15 KATHY PLACE, 1A",1A,...,0,0,0,0,670,1975,1,R3,"272,500",1/7/2019
4497,Staten Island,NEW SPRINGVILLE,04 TAX CLASS 1 CONDOS,1A,2015,1002,NaN,R3,"46 GRISSOM AVENUE, N/A",NaN,...,0,0,0,0,"1,571",1986,1,R3,"429,900",7/24/2019
2690,Staten Island,GREAT KILLS-BAY TERRACE,01 ONE FAMILY DWELLINGS,1,5099,21,NaN,A5,28 AINSWORTH AVE.,NaN,...,1,0,1,"2,500","1,200",1964,1,A5,0,8/12/2019
5483,Staten Island,ROSEBANK,01 ONE FAMILY DWELLINGS,1,2864,84,NaN,A1,55 FINGERBOARD ROAD,NaN,...,1,0,1,"3,528","1,160",1901,1,A1,0,1/25/2019
1195,Staten Island,CONCORD-FOX HILLS,01 ONE FAMILY DWELLINGS,1,2925,257,NaN,A5,160 SKYLINE DRIVE,NaN,...,1,0,1,684,"1,422",1993,1,A5,"37,500",5/30/2019
6029,Staten Island,SOUTH BEACH,01 ONE FAMILY DWELLINGS,1,3378,21,NaN,A5,379 GARRETSON AVENUE,NaN,...,1,0,1,"2,436","1,280",1970,1,A5,0,2/28/2019
6268,Staten Island,STAPLETON,03 THREE FAMILY DWELLINGS,1,561,24,NaN,C0,80 WARREN STREET,NaN,...,3,0,3,"4,520","2,190",1940,1,C0,"258,000",8/9/2019
4971,Staten Island,PORT RICHMOND,01 ONE FAMILY DWELLINGS,1,1029,60,NaN,A1,912 POST AVENUE,NaN,...,1,0,1,"2,500","1,405",1940,1,A1,"125,000",10/15/2018
1080,Staten Island,CLOVE LAKES,04 TAX CLASS 1 CONDOS,1A,327,1011,NaN,R3,"966 CLOVE ROAD, F1/F2",F1/F2,...,0,0,0,0,707,1974,1,R3,"505,000",7/23/2019
2147,Staten Island,GREAT KILLS,01 ONE FAMILY DWELLINGS,1,5235,13,NaN,A2,289 PACIFIC AVENUE,NaN,...,1,0,1,"4,000",912,1950,1,A2,0,3/25/2019

In [112]:
manhattan.head()

,BOROUGH,NEIGHBORHOOD,BUILDING CLASS CATEGORY,TAX CLASS AT PRESENT,BLOCK,LOT,EASE-MENT,BUILDING CLASS AT PRESENT,ADDRESS,APARTMENT NUMBER,...,RESIDENTIAL UNITS,COMMERCIAL UNITS,TOTAL UNITS,LAND SQUARE FEET,GROSS SQUARE FEET,YEAR BUILT,TAX CLASS AT TIME OF SALE,BUILDING CLASS AT TIME OF SALE,SALE PRICE,SALE DATE
0,Manhattan,ALPHABET CITY,01 ONE FAMILY DWELLINGS,1,376,43,NaN,S1,743 EAST 6TH STREET,NaN,...,1,1,2,"2,090","3,680",1940,1,S1,"3,200,000.00",07/24/2019
1,Manhattan,ALPHABET CITY,01 ONE FAMILY DWELLINGS,1,390,61,NaN,A4,189 EAST 7TH STREET,NaN,...,1,0,1,987,"2,183",1860,1,A4,0.00,09/25/2019
2,Manhattan,ALPHABET CITY,01 ONE FAMILY DWELLINGS,1,400,19,NaN,A4,526 EAST 5TH STREET,NaN,...,1,0,1,"1,883","5,200",1900,1,A4,"6,100,000.00",12/03/2018
3,Manhattan,ALPHABET CITY,02 TWO FAMILY DWELLINGS,1,404,1,NaN,B9,166 AVENUE A,NaN,...,2,0,2,"1,510","4,520",1900,1,B9,0.00,07/22/2019
4,Manhattan,ALPHABET CITY,02 TWO FAMILY DWELLINGS,1,404,1,NaN,B9,166 AVENUE A,NaN,...,2,0,2,"1,510","4,520",1900,1,B9,0.00,11/29/2018