In [2]:
import numpy as np
import pandas as pd
import datetime
import re

**Import Jan 2010 through Sept 2019 Sales Data**

In [565]:
manhattan = pd.read_csv('Manhattan.csv', na_values = {'TAX CLASS AT PRESENT':['  ', 'nan','TAX CLASS AT PRESENT','TAX CLASS AT PRESENT\n','TAX CLASS AS OF FINAL ROLL 17/18','TAX CLASS AS OF FINAL ROLL 18/19'], 'APARTMENT NUMBER':['',' ','  '],'LAND SQUARE FEET':['-','\'-\''],'GROSS SQUARE FEET':['-','\'-\'']},header = 4)
bronx = pd.read_csv('Bronx.csv', na_values = {'TAX CLASS AT PRESENT':['  ', 'nan','TAX CLASS AT PRESENT','TAX CLASS AT PRESENT\n','TAX CLASS AS OF FINAL ROLL 17/18','TAX CLASS AS OF FINAL ROLL 18/19'], 'APARTMENT NUMBER':['',' ','  '],'LAND SQUARE FEET':['-','\'-\''],'GROSS SQUARE FEET':['-','\'-\'']}, header = 4)
brooklyn = pd.read_csv('Brooklyn.csv', na_values = {'TAX CLASS AT PRESENT':['  ', 'nan','TAX CLASS AT PRESENT','TAX CLASS AT PRESENT\n','TAX CLASS AS OF FINAL ROLL 17/18','TAX CLASS AS OF FINAL ROLL 18/19'], 'APARTMENT NUMBER':['',' ','  '],'LAND SQUARE FEET':['-','\'-\''],'GROSS SQUARE FEET':['-','\'-\'']}, header = 4)
queens = pd.read_csv('Queens.csv', na_values = {'TAX CLASS AT PRESENT':['  ', 'nan','TAX CLASS AT PRESENT','TAX CLASS AT PRESENT\n','TAX CLASS AS OF FINAL ROLL 17/18','TAX CLASS AS OF FINAL ROLL 18/19'], 'APARTMENT NUMBER':['',' ','  '],'LAND SQUARE FEET':['-','\'-\''],'GROSS SQUARE FEET':['-','\'-\'']}, header = 4)
staten_island = pd.read_csv('Staten Island.csv', na_values = {'TAX CLASS AT PRESENT':['  ', 'nan','TAX CLASS AT PRESENT','TAX CLASS AT PRESENT\n','TAX CLASS AS OF FINAL ROLL 17/18','TAX CLASS AS OF FINAL ROLL 18/19'], 'APARTMENT NUMBER':['',' ','  '],'LAND SQUARE FEET':['-','\'-\''],'GROSS SQUARE FEET':['-','\'-\'']}, header =4)

In [566]:
bronx.rename({' SALE PRICE ':'SALE PRICE'}, axis = 1, inplace=True)
brooklyn.rename({' SALE PRICE ':'SALE PRICE'}, axis = 1, inplace=True)
queens.rename({' SALE PRICE ':'SALE PRICE'}, axis = 1, inplace=True)
staten_island.rename({' SALE PRICE ':'SALE PRICE'}, axis = 1, inplace=True)

In [567]:
combined1 = pd.read_csv('before_2010.csv', na_values = {'ADDRESS':['',' ','  ','   '],'TAX CLASS AT PRESENT':['  ', 'nan'], 'APARTMENT NUMBER':['',' ','  '],'LAND SQUARE FEET':['-','\'-\''],'GROSS SQUARE FEET':['-','\'-\'']}, keep_default_na = True, low_memory=False)

In [568]:
combined2 = pd.read_csv('after_2010.csv', na_values = {'TAX CLASS AT PRESENT':['  ', 'nan','TAX CLASS AT PRESENT','TAX CLASS AT PRESENT\n','TAX CLASS AS OF FINAL ROLL 17/18','TAX CLASS AS OF FINAL ROLL 18/19'], 'APARTMENT NUMBER':['',' ','  '],'LAND SQUARE FEET':['-','\'-\''],'GROSS SQUARE FEET':['-','\'-\'']}, keep_default_na = True, low_memory=False)

In [557]:
combined3 = pd.concat([manhattan,bronx,brooklyn,queens,staten_island], axis = 0, sort = False).reset_index()

In [569]:
del combined3['index']

In [671]:
pd.set_option('display.max_columns',99)

In [570]:
combined3.columns

Index(['BOROUGH', 'NEIGHBORHOOD', 'BUILDING CLASS CATEGORY',
       'TAX CLASS AT PRESENT', 'BLOCK', 'LOT', 'EASE-MENT',
       'BUILDING CLASS AT PRESENT', 'ADDRESS', 'APARTMENT NUMBER', 'ZIP CODE',
       'RESIDENTIAL UNITS', 'COMMERCIAL UNITS', 'TOTAL UNITS',
       'LAND SQUARE FEET', 'GROSS SQUARE FEET', 'YEAR BUILT',
       'TAX CLASS AT TIME OF SALE', 'BUILDING CLASS AT TIME OF SALE',
       'SALE PRICE', 'SALE DATE', 'SALE YEAR'],
      dtype='object')

In [571]:
combined3['SALE DATE'] = pd.to_datetime(combined3.loc[:,'SALE DATE'])
combined3['SALE YEAR'] = pd.DatetimeIndex(combined3['SALE DATE']).year
combined3 = combined3.loc[combined3['SALE YEAR'] == 2019]

In [572]:
combined3.sample(250)

,BOROUGH,NEIGHBORHOOD,BUILDING CLASS CATEGORY,TAX CLASS AT PRESENT,BLOCK,LOT,EASE-MENT,BUILDING CLASS AT PRESENT,ADDRESS,APARTMENT NUMBER,ZIP CODE,RESIDENTIAL UNITS,COMMERCIAL UNITS,TOTAL UNITS,LAND SQUARE FEET,GROSS SQUARE FEET,YEAR BUILT,TAX CLASS AT TIME OF SALE,BUILDING CLASS AT TIME OF SALE,SALE PRICE,SALE DATE,SALE YEAR
22422,2,PELHAM PARKWAY SOUTH,01 ONE FAMILY DWELLINGS,1,4304,26,NaN,A5,1083 NEILL AVENUE,NaN,10461,1,0,1,"2,500","1,960",1950,1,A5,0,2019-02-25,2019
75754,5,CONCORD-FOX HILLS,01 ONE FAMILY DWELLINGS,1,2925,194,NaN,A5,44 SKYLINE DRIVE,NaN,10304,1,0,1,702,"1,404",1992,1,A5,"400,000",2019-02-28,2019
32922,3,CANARSIE,22 STORE BUILDINGS,4,8001,6,NaN,K1,8009 FLATLANDS AVENUE,NaN,11236,0,3,3,"3,200","2,680",1963,4,K1,0,2019-01-01,2019
77465,5,HUGUENOT,02 TWO FAMILY DWELLINGS,1,6574,23,NaN,B1,7 TUCKAHOE AVENUE,NaN,10312,2,0,2,"8,500","4,400",1990,1,B1,"990,000",2019-01-22,2019
74374,4,WOODSIDE,10 COOPS - ELEVATOR APARTMENTS,2,1111,1,NaN,D4,"3015 HOBART STREET, 3H",NaN,11377,0,0,0,0,0,1935,2,D4,"235,000",2019-06-06,2019
35140,3,CYPRESS HILLS,27 FACTORIES,4,3667,9,NaN,F4,23 ALABAMA AVENUE,NaN,11207,0,1,1,"2,000","2,000",1955,4,F4,"2,300,000",2019-08-08,2019
19674,2,EAST TREMONT,03 THREE FAMILY DWELLINGS,1,3068,91,NaN,C0,617 EAST 178 STREET,NaN,10457,3,0,3,"2,108","3,284",2004,1,C0,0,2019-04-10,2019
38047,3,FLATBUSH-EAST,02 TWO FAMILY DWELLINGS,1,7791,35,NaN,B1,1117 EAST 43RD STREET,NaN,11210,2,0,2,"2,000","2,520",1950,1,B1,"800,000",2019-04-04,2019
29235,3,BOROUGH PARK,02 TWO FAMILY DWELLINGS,1,5628,20,NaN,B3,1238 47TH STREET,NaN,11219,2,0,2,"2,504","2,210",1915,1,B3,"1,465,000",2019-07-24,2019
1822,1,FINANCIAL,10 COOPS - ELEVATOR APARTMENTS,2,64,8,NaN,D4,"55 LIBERTY STREET, 3B",NaN,10005,0,0,0,0,0,1911,2,D4,"1,300,000.00",2019-07-29,2019
78493,5,NEW DORP,01 ONE FAMILY DWELLINGS,1,4033,100,NaN,A1,38 TITUS AVENUE,NaN,10306,1,0,1,"5,050","1,928",1930,1,A1,"795,000",2019-07-08,2019
2944,1,GRAMERCY,13 CONDOS - ELEVATOR APARTMENTS,2,878,1110,NaN,R4,"121 EAST 23RD STREET, N1601",N1601,10010,0,0,0,0,933,1952,2,R4,"2,189,238.00",2019-06-06,2019
8444,1,MIDTOWN EAST,13 CONDOS - ELEVATOR APARTMENTS,2,1341,1310,NaN,R4,"321 EAST 48TH STREET, 11D",11D,10017,0,0,0,0,681,1962,2,R4,0.00,2019-01-02,2019
18421,2,BEDFORD PARK/NORWOOD,07 RENTALS - WALKUP APARTMENTS,2,3300,44,NaN,C1,230 E 196TH ST,NaN,10458,13,0,13,"3,835","13,460",1911,2,C1,"2,500,000",2019-04-11,2019
44446,3,OLD MILL BASIN,01 ONE FAMILY DWELLINGS,1,8385,1,NaN,A1,6329 AVENUE T,NaN,11234,1,0,1,"2,500","1,148",1920,1,A1,"610,000",2019-01-31,2019
70211,4,SO. JAMAICA-BAISLEY PARK,01 ONE FAMILY DWELLINGS,1,12208,33,NaN,A9,153-24 118TH AVENUE,NaN,11434,1,0,1,"1,350",730,1925,1,A9,0,2019-07-11,2019
49369,4,ASTORIA,02 TWO FAMILY DWELLINGS,1,597,87,NaN,B1,2627 29TH STREET,NaN,11102,2,0,2,"1,575","1,384",1920,1,B1,0,2019-04-13,2019
25952,3,BAY RIDGE,02 TWO FAMILY DWELLINGS,1,5915,12,NaN,B1,72 73RD STREET,NaN,11209,2,0,2,"2,200","3,234",1925,1,B1,0,2019-08-01,2019
46753,3,SHEEPSHEAD BAY,32 HOSPITAL AND HEALTH FACILITIES,4,7363,9,NaN,I6,"3457 NOSTRAND AVENUE, 189",189,11229,0,1,1,"25,300","48,362",1969,4,I6,0,2019-01-15,2019
48816,3,WINDSOR TERRACE,02 TWO FAMILY DWELLINGS,1,5270,24,NaN,B1,34 EAST 2ND,NaN,11218,2,0,2,"2,683","2,844",1910,1,B1,"1,345,000",2019-03-21,2019
43870,3,OCEAN PARKWAY-NORTH,10 COOPS - ELEVATOR APARTMENTS,2,6568,27,NaN,D4,"1350 OCEAN PARKWAY, 4L",NaN,11230,0,0,0,0,0,1949,2,D4,"302,000",2019-05-31,2019
46923,3,SUNSET PARK,02 TWO FAMILY DWELLINGS,1,765,58,NaN,B9,441 48TH STREET,NaN,11220,2,0,2,"2,003","2,952",1901,1,B9,0,2019-01-08,2019
22510,2,PELHAM PARKWAY SOUTH,10 COOPS - ELEVATOR APARTMENTS,2,4319,30,NaN,D4,"2199 HOLLAND AVENUE, 1G",NaN,10462,0,0,0,0,0,1930,2,D4,"135,000",2019-04-05,2019
21030,2,MORRISANIA/LONGWOOD,02 TWO FAMILY DWELLINGS,1,2662,29,NaN,B2,1171 TINTON AVENUE,NaN,10456,2,0,2,"2,486","2,385",2002,1,B2,0,2019-05-16,2019
49056,4,ARVERNE,01 ONE FAMILY DWELLINGS,1,16038,52,NaN,A9,441 BEACH 64 STREET,NaN,11692,1,0,1,"2,250","1,530",1960,1,A9,"450,000",2019-05-13,2019
57679,4,FLUSHING-SOUTH,01 ONE FAMILY DWELLINGS,1,6579,64,NaN,A5,136-46 72ND AVENUE,NaN,11367,1,0,1,"2,542","1,749",1940,1,A5,"940,000",2019-02-26,2019
13906,1,UPPER EAST SIDE (79-96),13 CONDOS - ELEVATOR APARTMENTS,2,1536,1014,NaN,R4,"1601 THIRD AVENUE, 4B",4B,10128,0,0,0,0,528,0,2,R4,"580,000.00",2019-03-29,2019
67644,4,REGO PARK,10 COOPS - ELEVATOR APARTMENTS,2,2086,50,NaN,D4,"97-10 62ND DRIVE, 2C",NaN,11374,0,0,0,0,0,1955,2,D4,"270,000",2019-01-25,2019
9649,1,MURRAY HILL,10 COOPS - ELEVATOR APARTMENTS,2,867,57,NaN,D4,"244 MADISON AVENUE, 11K",NaN,10016,0,0,0,0,0,1916,2,D4,"557,500.00",2019-02-01,2019
61745,4,HOWARD BEACH,13 CONDOS - ELEVATOR APARTMENTS,2,11431,2109,NaN,R4,"84-29 153RD AVENUE, 1J",1J,11414,0,0,0,0,750,1965,2,R4,"275,000",2019-04-02,2019
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
61630,4,HOWARD BEACH,10 COOPS - ELEVATOR APARTMENTS,2,11431,36,NaN,D4,"151-20 88TH STREET, 6K",NaN,11414,0,0,0,0,0,1963,2,D4,"325,000",2019-02-26,2019
35968,3,EAST NEW YORK,02 TWO FAMILY DWELLINGS,1,3775,44,NaN,B1,408 BRADFORD STREET,NaN,11207,2,0,2,"2,000","2,000",1901,1,B1,"800,000",2019-04-08,2019
39258,3,FORT GREENE,05 TAX CLASS 1 VACANT LAND,1B,2121,45,NaN,V0,69 GREENE AVENUE,NaN,11238,0,0,0,"1,530",0,0,1,V0,"1,395,000",2019-04-17,2019
31718,3,BUSHWICK,02 TWO FAMILY DWELLINGS,1,3457,57,NaN,B1,83 GRANITE STREET,NaN,11207,2,0,2,"2,000","3,300",1910,1,B1,"1,339,000",2019-09-18,2019
15335,1,UPPER WEST SIDE (59-79),13 CONDOS - ELEVATOR APARTMENTS,2,1171,1579,NaN,R4,"220 RIVERSIDE BOULEVARD, 45D",45D,10069,0,0,0,0,"1,915",0,2,R4,"3,400,000.00",2019-06-17,2019
39091,3,FLATLANDS,02 TWO FAMILY DWELLINGS,1,7844,40,NaN,B3,4608 AVENUE L,NaN,11234,2,0,2,"3,000","2,270",1920,1,B3,0,2019-01-26,2019
50424,4,BAYSIDE,01 ONE FAMILY DWELLINGS,1,6223,50,NaN,A1,39-07 209TH STREET,NaN,11361,1,0,1,"4,000","1,868",1940,1,A1,"455,000",2019-03-14,2019
8303,1,MIDTOWN EAST,13 CONDOS - ELEVATOR APARTMENTS,2,1323,1074,NaN,R4,"255 E. 49TH STREET, 15F",15F,10017,0,0,0,0,609,1985,2,R4,0.00,2019-05-08,2019
22467,2,PELHAM PARKWAY SOUTH,05 TAX CLASS 1 VACANT LAND,1B,4320,41,NaN,V0,N/A WALLACE AVENUE,NaN,0,0,0,0,"1,242",0,0,1,V0,"1,000",2019-01-15,2019
30974,3,BROOKLYN-UNKNOWN,15 CONDOS - 2-10 UNIT RESIDENTIAL,NaN,2792,1002,NaN,NaN,"66 MAUJER STREET, 2A",NaN,0,0,0,0,0,0,0,2,R1,"685,000",2019-08-08,2019
59284,4,FOREST HILLS,10 COOPS - ELEVATOR APARTMENTS,2,3233,22,NaN,D4,"4 DARTMOUTH STREET, 43",NaN,11375,0,0,0,0,0,1931,2,D4,0,2019-03-12,2019
18914,2,BRONXDALE,03 THREE FAMILY DWELLINGS,1,4611,60,NaN,C0,3219 HONE AVENUE,NaN,10469,3,0,3,"1,850","2,679",2007,1,C0,0,2019-06-20,2019
35791,3,EAST NEW YORK,01 ONE FAMILY DWELLINGS,1,3773,138,NaN,A5,426 VERMONT STREET,NaN,11207,1,0,1,"1,800","1,134",1992,1,A5,"470,000",2019-01-31,2019
17702,2,BATHGATE,02 TWO FAMILY DWELLINGS,1,3039,159,NaN,B1,476 EAST 186 STREET,NaN,10458,2,0,2,"2,033","2,400",1997,1,B1,"640,000",2019-04-24,2019
13602,1,UPPER EAST SIDE (79-96),10 COOPS - ELEVATOR APARTMENTS,2,1570,12,NaN,D4,"417 EAST 90TH ST., 2C",NaN,10128,0,0,0,0,0,1985,2,D4,"325,000.00",2019-04-30,2019
55241,4,FLUSHING-NORTH,01 ONE FAMILY DWELLINGS,1,4712,54,NaN,A2,151-53 24TH AVENUE,NaN,11357,1,0,1,"2,328",656,1955,1,A2,"670,000",2019-09-04,2019
13086,1,UPPER EAST SIDE (79-96),10 COOPS - ELEVATOR APARTMENTS,2,1504,56,NaN,D4,"26 EAST 93RD STREET, 4CD",NaN,10128,0,0,0,0,0,1925,2,D4,"2,630,000.00",2019-06-07,2019
52063,4,BROAD CHANNEL,01 ONE FAMILY DWELLINGS,1,15320,73,NaN,A2,61 WEST 16TH ROAD,NaN,11693,1,0,1,"7,500","1,982",1930,1,A2,"630,000",2019-07-15,2019
71800,4,SOUTH OZONE PARK,03 THREE FAMILY DWELLINGS,1,11618,44,NaN,C0,111-47 113TH STREET,NaN,11420,3,0,3,"4,154","2,573",1910,1,C0,"895,000",2019-07-26,2019
46850,3,SUNSET PARK,12 CONDOS - WALKUP APARTMENTS,NaN,783,1121,NaN,NaN,"4907 4TH AVENUE, 6C",NaN,0,0,0,0,0,0,0,2,R2,"476,580",2019-08-05,2019
54454,4,ELMHURST,44 CONDO PARKING,4,1542,1142,NaN,RG,"82-25 QUEENS BOULEVARD, PS9",PS9,11373,0,0,0,0,200,2012,4,RG,"50,913",2019-06-03,2019
71573,4,SOUTH OZONE PARK,02 TWO FAMILY DWELLINGS,1,11594,39,NaN,B3,113-01 111TH AVENUE,NaN,11420,2,0,2,"3,234","2,207",1920,1,B3,"750,000",2019-04-29,2019
21399,2,MOTT HAVEN/PORT MORRIS,03 THREE FAMILY DWELLINGS,1,2285,124,NaN,C0,454 EAST 141 STREET,NaN,10454,3,0,3,"2,038","2,700",1994,1,C0,"907,000",2019-02-27,2019
8031,1,MIDTOWN EAST,10 COOPS - ELEVATOR APARTMENTS,2,1363,37,NaN,D4,"424 EAST 52ND STREET, 4A",NaN,10022,0,0,0,0,0,1930,2,D4,"1,100,000.00",2019-09-23,2019
63207,4,JAMAICA HILLS,01 ONE FAMILY DWELLINGS,1,6863,338,NaN,A1,159-12 GRAND CENTRAL PARKWAY,NaN,11432,1,0,1,"2,677","1,340",1930,1,A1,"130,000",2019-08-30,2019
62863,4,JAMAICA,02 TWO FAMILY DWELLINGS,1,10019,160,NaN,B3,138-29 LLOYD ROAD,NaN,11435,2,0,2,"2,500","1,280",1930,1,B3,"725,000",2019-06-19,2019
36609,3,EAST NEW YORK,13 CONDOS - ELEVATOR APARTMENTS,2,4415,1105,NaN,R4,"190 COZINE AVENUE, 6 7B",6 7B,11207,0,0,0,0,643,0,2,R4,"282,000",2019-09-11,2019
31541,3,BUSHWICK,02 TWO FAMILY DWELLINGS,1,3275,61,NaN,B3,109 HARMAN STREET,NaN,11221,2,0,2,"2,000","2,880",1920,1,B3,"1,325,000",2019-05-03,2019
8100,1,MIDTOWN EAST,10 COOPS - ELEVATOR APARTMENTS,2,1367,1,NaN,D4,"400 EAST 56TH STREET, 8K",NaN,10022,0,0,0,0,0,1969,2,D4,0.00,2019-07-23,2019
21835,2,PARKCHESTER,13 CONDOS - ELEVATOR APARTMENTS,2,3938,2177,NaN,R4,"34 METROPOLITAN OVAL, 3A",3A,10462,0,0,0,0,645,0,2,R4,0,2019-08-30,2019

In [573]:
combined3.loc[combined3['SALE YEAR'] == 2018]

Empty DataFrame
Columns: [BOROUGH, NEIGHBORHOOD, BUILDING CLASS CATEGORY, TAX CLASS AT PRESENT, BLOCK, LOT, EASE-MENT, BUILDING CLASS AT PRESENT, ADDRESS, APARTMENT NUMBER, ZIP CODE, RESIDENTIAL UNITS, COMMERCIAL UNITS, TOTAL UNITS, LAND SQUARE FEET, GROSS SQUARE FEET, YEAR BUILT, TAX CLASS AT TIME OF SALE, BUILDING CLASS AT TIME OF SALE, SALE PRICE, SALE DATE, SALE YEAR]
Index: []

In [574]:
combined1.columns = ['BOROUGH',
 'NEIGHBORHOOD',
 'BUILDING CLASS CATEGORY',
 'TAX CLASS AT PRESENT',
 'BLOCK',
 'LOT',
 'EASE-MENT',
 'BUILDING CLASS AT PRESENT',
 'ADDRESS',
 'APARTMENT NUMBER',
 'ZIP CODE',
 'RESIDENTIAL UNITS',
 'COMMERCIAL UNITS',
 'TOTAL UNITS',
 'LAND SQUARE FEET',
 'GROSS SQUARE FEET',
 'YEAR BUILT',
 'TAX CLASS AT TIME OF SALE',
 'BUILDING CLASS AT TIME OF SALE',
 'SALE PRICE',
 'SALE DATE','SALE YEAR']

In [575]:
combined2.columns = ['BOROUGH',
 'NEIGHBORHOOD',
 'BUILDING CLASS CATEGORY',
 'TAX CLASS AT PRESENT',
 'BLOCK',
 'LOT',
 'EASE-MENT',
 'BUILDING CLASS AT PRESENT',
 'ADDRESS',
 'APARTMENT NUMBER',
 'ZIP CODE',
 'RESIDENTIAL UNITS',
 'COMMERCIAL UNITS',
 'TOTAL UNITS',
 'LAND SQUARE FEET',
 'GROSS SQUARE FEET',
 'YEAR BUILT',
 'TAX CLASS AT TIME OF SALE',
 'BUILDING CLASS AT TIME OF SALE',
 'SALE PRICE',
 'SALE DATE','SALE YEAR']

In [720]:
combined = pd.concat([combined1,combined2,combined3], axis = 0).reset_index()

In [721]:
combined.columns

Index(['index', 'BOROUGH', 'NEIGHBORHOOD', 'BUILDING CLASS CATEGORY',
       'TAX CLASS AT PRESENT', 'BLOCK', 'LOT', 'EASE-MENT',
       'BUILDING CLASS AT PRESENT', 'ADDRESS', 'APARTMENT NUMBER', 'ZIP CODE',
       'RESIDENTIAL UNITS', 'COMMERCIAL UNITS', 'TOTAL UNITS',
       'LAND SQUARE FEET', 'GROSS SQUARE FEET', 'YEAR BUILT',
       'TAX CLASS AT TIME OF SALE', 'BUILDING CLASS AT TIME OF SALE',
       'SALE PRICE', 'SALE DATE', 'SALE YEAR'],
      dtype='object')

In [722]:
del combined['index']
del combined['EASE-MENT']

In [719]:
del combined

In [723]:
combined.loc[(combined['BOROUGH'] == 1),'BOROUGH'] = 'Manhattan'
combined.loc[(combined['BOROUGH'] == 2),'BOROUGH'] = 'Bronx'
combined.loc[(combined['BOROUGH'] == 3),'BOROUGH'] = 'Brooklyn'
combined.loc[(combined['BOROUGH'] == 4),'BOROUGH'] = 'Queens'
combined.loc[(combined['BOROUGH'] == 5),'BOROUGH'] = 'Staten Island'

In [724]:
combined.columns

Index(['BOROUGH', 'NEIGHBORHOOD', 'BUILDING CLASS CATEGORY',
       'TAX CLASS AT PRESENT', 'BLOCK', 'LOT', 'BUILDING CLASS AT PRESENT',
       'ADDRESS', 'APARTMENT NUMBER', 'ZIP CODE', 'RESIDENTIAL UNITS',
       'COMMERCIAL UNITS', 'TOTAL UNITS', 'LAND SQUARE FEET',
       'GROSS SQUARE FEET', 'YEAR BUILT', 'TAX CLASS AT TIME OF SALE',
       'BUILDING CLASS AT TIME OF SALE', 'SALE PRICE', 'SALE DATE',
       'SALE YEAR'],
      dtype='object')

In [201]:
#bronx.rename({' SALE PRICE ':'SALE PRICE'}, axis = 1, inplace=True)

In [725]:
#replace completely blank fields with nan
combined = combined.replace(r'^\s*$', np.nan, regex=True)

In [582]:
combined.sample(200)

,BOROUGH,NEIGHBORHOOD,BUILDING CLASS CATEGORY,TAX CLASS AT PRESENT,BLOCK,LOT,BUILDING CLASS AT PRESENT,ADDRESS,APARTMENT NUMBER,ZIP CODE,RESIDENTIAL UNITS,COMMERCIAL UNITS,TOTAL UNITS,LAND SQUARE FEET,GROSS SQUARE FEET,YEAR BUILT,TAX CLASS AT TIME OF SALE,BUILDING CLASS AT TIME OF SALE,SALE PRICE,SALE DATE,SALE YEAR
539517,Queens,ASTORIA,03 THREE FAMILY DWELLINGS,1,659,81,C0,30-84 38TH STREET,NaN,11103.0,3,0,3,"10,246","2,512",1935.0,1,C0,$0,3/21/2014,2014
254078,Brooklyn,MARINE PARK,01 ONE FAMILY HOMES,1,7719,61,A9,1732 EAST 37 STREET,NaN,11234.0,1,0,1,"1,800","1,652",1925.0,1,A9,$0,10/25/2011,2011
424273,Manhattan,CHELSEA,13 CONDOS - ELEVATOR APARTMENTS,2,738,1309,R4,345 WEST 14TH STREET,3C,10014.0,1,0,1,0,0,1960.0,2,R4,"$ 1,374,637.00",5/15/2013,2013
973003,Queens,LONG ISLAND CITY,13 CONDOS - ELEVATOR APARTMENTS,2,78,1022,R4,"21-10 44TH DRIVE, PHC",PHC,11101.0,0,0,0,0,"1,114",2017.0,2,R4,"1,308,451",2019-01-23 00:00:00,2019
335421,Brooklyn,WILLIAMSBURG-EAST,27 FACTORIES,4,3073,12,F9,74 BUSHWICK PLACE,NaN,11206.0,0,1,1,"2,886","2,885",1920.0,4,F9,$0,11/30/2012,2012
757242,Bronx,PELHAM PARKWAY NORTH,01 ONE FAMILY DWELLINGS,1,4469,88,A1,2525 YOUNG,NaN,10469.0,1,0,1,"2,500","2,310",1960.0,1,A1,"570,000",6/26/2017,2017
868801,Brooklyn,PARK SLOPE,12 CONDOS - WALKUP APARTMENTS,2,937,1018,R2,103 4 AVENUE,1R,11217.0,1,0,1,"6,000","1,146",1900.0,2,R2,$0,2/12/2018,2018
645908,Queens,MIDDLE VILLAGE,01 ONE FAMILY DWELLINGS,1,2831,53,A5,5939 69TH PLACE,NaN,11378.0,1,0,1,"2,191",946,1950.0,1,A5,"$513,000",6/15/2015,2015
466622,Queens,LONG ISLAND CITY,27 FACTORIES,4,388,6,F9,38-15 24TH STREET,NaN,11101.0,0,1,1,"5,008","4,800",1949.0,4,F9,"$ 1,400,000.00",4/25/2013,2013
955343,Brooklyn,GRAVESEND,31 COMMERCIAL VACANT LAND,4,7087,29,V1,2136 MCDONALD AVE,NaN,11223.0,0,0,0,"2,017",0,0.0,4,V1,0,2019-03-18 00:00:00,2019
633556,Queens,EAST ELMHURST,05 TAX CLASS 1 VACANT LAND,1B,1376,15,V0,97TH STREET,NaN,11369.0,0,0,0,"1,455",0,0.0,1,V0,"$300,000",8/21/2015,2015
637680,Queens,FLUSHING-NORTH,44 CONDO PARKING,4,5102,1123,RG,132-39 POPLE AVENUE,P5,11355.0,0,0,1,0,0,0.0,4,RG,$0,8/14/2015,2015
565441,Staten Island,ELTINGVILLE,01 ONE FAMILY DWELLINGS,1,5597,137,A5,66 CHESEBROUGH STREET,NaN,10312.0,1,0,1,"1,400","2,176",1992.0,1,A5,$0,5/22/2014,2014
589315,Brooklyn,DOWNTOWN-FULTON FERRY,13 CONDOS - ELEVATOR APARTMENTS,2,27,1119,R4,1 MAIN STREET,12G,11201.0,1,0,1,0,0,1913.0,2,R4,"$1,575,000",2/27/2015,2015
871445,Brooklyn,WILLIAMSBURG-CENTRAL,13 CONDOS - ELEVATOR APARTMENTS,2,2262,1608,R4,417 FLUSHING AVENUE,4B,11205.0,1,0,1,0,"1,195",0.0,2,R4,$0,8/15/2018,2018
62798,Queens,RICHMOND HILL,02 TWO FAMILY HOMES,1,9448,24,B1,132-08 ATLANTIC AVENUE,NaN,11419.0,2,0,2,"1,650","2,703",2007.0,1,B1,$0,4/15/2009,2009
303803,Queens,WOODSIDE,10 COOPS - ELEVATOR APARTMENTS,2,1226,1,D4,"55-05 WOODSIDE AVENUE, 206",NaN,11377.0,0,0,0,0,0,1956.0,2,D4,$0,11/17/2011,2011
825062,Queens,REGO PARK,17 CONDO COOPS,2,2111,1002,R9,"99-40 63RD ROAD, 1F",NaN,11374.0,0,0,0,-,-,1952.0,2,R9,"217,588",6/28/2017,2017
415874,Brooklyn,MARINE PARK,02 TWO FAMILY DWELLINGS,1,8535,55,B3,2122 E 36TH STREET,NaN,11234.0,2,0,2,"2,267","1,806",1955.0,1,B3,$ -,1/14/2013,2013
90823,Brooklyn,FORT GREENE,28 COMMERCIAL CONDOS,4,2095,1209,R5,230 ASHLAND PLACE,COM,11217.0,0,1,1,0,0,2006.0,4,R5,"$1,807,200",2/23/2010,2010
157881,Brooklyn,BUSHWICK,29 COMMERCIAL GARAGES,1,3384,32,C0,292 CORNELIA STREET,NaN,11221.0,3,0,3,"1,875","3,024",2008.0,4,G7,"$685,000",8/29/2008,2008
245671,Brooklyn,BUSHWICK,13 CONDOS - ELEVATOR APARTMENTS,2,3235,1301,R4,334 KNICKERBOCKER AVENUE,2A,11237.0,1,0,1,0,0,1899.0,2,R4,"$283,920",10/17/2011,2011
507107,Brooklyn,MIDWOOD,01 ONE FAMILY DWELLINGS,1,6725,82,A9,1121 EAST 14TH STREET,NaN,11230.0,1,0,1,"1,700","1,390",1930.0,1,A9,"$558,000",9/12/2014,2014
586599,Brooklyn,CARROLL GARDENS,03 THREE FAMILY DWELLINGS,1,359,23,C0,576 HENRY STREET,NaN,11231.0,3,0,3,"1,963","3,498",1975.0,1,C0,"$2,495,000",3/18/2015,2015
506956,Brooklyn,MARINE PARK,02 TWO FAMILY DWELLINGS,1,8538,26,B3,2135 EAST 38TH STREET,NaN,11234.0,2,0,2,"2,000","1,504",1930.0,1,B3,"$540,000",7/29/2014,2014
882549,Manhattan,SOHO,13 CONDOS - ELEVATOR APARTMENTS,2,487,1013,R4,73 WOOSTER STREET,4B,10012.0,1,0,1,"11,004","5,230",1929.0,2,R4,"$13,500,000",3/12/2018,2018
723876,Queens,FLUSHING-NORTH,01 ONE FAMILY DWELLINGS,1,4831,59,A2,151-55 26 AVENUE,NaN,11354.0,1,-,1,"3,800","1,716",1955.0,1,A2,"650,000",3/25/2016,2016
134488,Queens,SO. JAMAICA-BAISLEY PARK,26 OTHER HOTELS,4,12099,1,H9,144-02 NORTH CONDUIT AVENUE,NaN,11436.0,0,1,1,"214,637","206,936",1987.0,4,H9,$0,10/29/2010,2010
206356,Queens,ELMHURST,03 THREE FAMILY HOMES,1,1591,90,C0,94-01 42ND AVENUE,NaN,11373.0,3,0,3,"4,072","3,584",1910.0,1,C0,$0,1/24/2008,2008
452262,Queens,BAYSIDE,04 TAX CLASS 1 CONDOS,1A,5843,1032,R3,10-32 ROBIN LANE,NaN,11360.0,1,0,1,0,0,1982.0,1,R3,"$ 550,000.00",1/25/2013,2013
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
224543,Queens,SOUTH OZONE PARK,01 ONE FAMILY HOMES,1,11677,20,A1,115-32 135TH STREET,NaN,11420.0,1,0,1,"2,500","1,314",1930.0,1,A1,"$305,000",10/28/2008,2008
868600,Brooklyn,PARK SLOPE,09 COOPS - WALKUP APARTMENTS,2C,988,1,C6,"341 6TH STREET, 3F",NaN,11215.0,0,0,0,0,0,1920.0,2,C6,"$900,000",11/20/2018,2018
821568,Queens,LONG ISLAND CITY,22 STORE BUILDINGS,4,418,19,K4,41-05 29TH STREET,NaN,11101.0,1,1,2,"2,250","2,600",1931.0,4,K4,"5,800,000",11/15/2017,2017
235961,Bronx,BRONXDALE,14 RENTALS - 4-10 UNIT,2A,4511,63,S9,761 ALLERTON AVENUE,NaN,10467.0,2,2,4,"3,085","5,159",1931.0,2,S9,$0,6/13/2011,2011
186925,Manhattan,MIDTOWN WEST,25 LUXURY HOTELS,4,1009,37,H2,102 WEST 57TH STREET,NaN,10019.0,0,2,2,"7,532","112,850",2007.0,4,H2,"$48,700",8/5/2008,2008
495423,Brooklyn,BUSH TERMINAL,30 WAREHOUSES,4,844,10,E3,N/A 1 AVENUE,NaN,11220.0,0,1,1,"2,517","7,500",2003.0,4,E3,$0,3/28/2014,2014
83544,Brooklyn,BOROUGH PARK,04 TAX CLASS 1 CONDOS,1C,5436,1201,R6,1565 47TH STREET,1,11219.0,1,0,1,0,0,0.0,1,R6,$0,10/26/2010,2010
878043,Manhattan,HARLEM-EAST,44 CONDO PARKING,4,1631,1102,RG,1399 PARK AVENUE,PARK,10029.0,0,1,1,0,"7,770",2016.0,4,RG,"$499,000",3/22/2018,2018
349870,Manhattan,MIDTOWN WEST,25 LUXURY HOTELS,4,1009,37,H2,102 WEST 57TH STREET,NaN,10019.0,0,2,2,"7,532","112,850",2007.0,4,H2,"$112,905",11/21/2012,2012
63551,Queens,ROSEDALE,01 ONE FAMILY HOMES,1,13205,67,A2,134-20 242ND STREET,NaN,11422.0,1,0,1,"3,080",856,1950.0,1,A2,$0,8/3/2009,2009
382894,Queens,SO. JAMAICA-BAISLEY PARK,01 ONE FAMILY HOMES,1,11989,4,A1,115-20 INWOOD STREET,NaN,11436.0,1,0,1,"4,000","1,116",1930.0,1,A1,"$235,000",1/12/2012,2012
477344,Staten Island,ELTINGVILLE,02 TWO FAMILY DWELLINGS,1,5676,63,B9,108 SHOTWELL AVENUE,NaN,10312.0,2,0,2,"4,205","1,960",1980.0,1,B9,"$ 500,000.00",4/11/2013,2013
52405,Queens,FLUSHING-NORTH,13 CONDOS - ELEVATOR APARTMENTS,2,5040,1021,R4,132-03 SANFORD AVENUE,3-F,11355.0,1,0,1,0,0,2004.0,2,R4,"$272,776",10/6/2009,2009
331301,Brooklyn,OCEAN PARKWAY-NORTH,10 COOPS - ELEVATOR APARTMENTS,2,6509,13,D4,"930 EAST 7 STREET, 1H",NaN,11230.0,0,0,0,0,0,1956.0,2,D4,"$144,000",11/16/2012,2012
598827,Brooklyn,PARK SLOPE,02 TWO FAMILY DWELLINGS,1,1088,66,B1,451 8 STREET,NaN,11215.0,2,0,2,"1,733","2,295",1901.0,1,B1,"$3,325,000",10/1/2015,2015
19553,Brooklyn,MIDWOOD,01 ONE FAMILY HOMES,1,7662,30,A1,1341 EAST 26TH STREET,NaN,11210.0,1,0,1,"3,000","2,475",1910.0,1,A1,"$990,000",3/25/2009,2009
374733,Queens,HOLLIS,01 ONE FAMILY HOMES,1,10547,46,A1,93-09 FRANCIS LEWIS BLVD,NaN,11428.0,1,0,1,"2,500","1,216",1935.0,1,A1,$0,10/31/2012,2012
309786,Bronx,COUNTRY CLUB,02 TWO FAMILY HOMES,1,5325,7,B1,3205 FAIRMOUNT AVENUE,NaN,10465.0,2,0,2,"2,000","2,120",1955.0,1,B1,"$399,000",1/27/2012,2012
482765,Bronx,BATHGATE,02 TWO FAMILY DWELLINGS,1,3030,60,B3,4469 PARK AVENUE,NaN,10457.0,2,0,2,"1,542","1,542",1899.0,1,B3,"$300,000",3/28/2014,2014
901065,Queens,GLEN OAKS,09 COOPS - WALKUP APARTMENTS,2,8401,675,C6,"251-07 71 ROAD, 38A",NaN,11426.0,0,0,0,0,0,1952.0,2,C6,"$170,000",2/5/2018,2018
713593,Manhattan,UPPER WEST SIDE (59-79),10 COOPS - ELEVATOR APARTMENTS,2,1124,27,D4,"115 CENTRAL PARK WEST, 16D",NaN,10023.0,-,-,-,-,-,1931.0,2,D4,-,10/14/2016,2016
713520,Manhattan,UPPER WEST SIDE (59-79),10 COOPS - ELEVATOR APARTMENTS,2,1118,22,D4,"10 WEST 66TH STREET, 10J",NaN,10023.0,-,-,-,-,-,1969.0,2,D4,"950,000",10/14/2016,2016
906682,Queens,MASPETH,02 TWO FAMILY DWELLINGS,1,2761,83,B3,64-24 60TH ROAD,NaN,11378.0,2,0,2,"2,185","1,152",1930.0,1,B3,"$700,000",5/15/2018,2018
498645,Brooklyn,CROWN HEIGHTS,02 TWO FAMILY DWELLINGS,1,1365,42,B9,1286 PROSPECT PLACE,NaN,11213.0,2,0,2,"1,817","1,260",1910.0,1,B9,"$360,000",8/27/2014,2014
344527,Manhattan,HARLEM-WEST,31 COMMERCIAL VACANT LAND,4,1996,21,V1,613 WEST 129 STREET,NaN,10027.0,0,0,0,"9,992",0,0.0,4,V1,$0,3/12/2012,2012
250180,Brooklyn,FLATBUSH-CENTRAL,01 ONE FAMILY HOMES,1,5224,6,A1,541 EAST 24TH STREET,NaN,11210.0,1,0,1,"5,000","2,675",1910.0,1,A1,"$520,000",10/31/2011,2011
72337,Staten Island,NEW SPRINGVILLE,04 TAX CLASS 1 CONDOS,1A,1994,1055,R3,258A ASHWORTH AVENUE,217,10314.0,1,0,1,0,0,1986.0,1,R3,"$360,000",11/5/2009,2009
405495,Brooklyn,BUSHWICK,03 THREE FAMILY DWELLINGS,1,3313,19,C0,73 GROVE STREET,NaN,11221.0,3,0,3,"1,641","4,500",1931.0,1,C0,$ -,6/27/2013,2013
537182,Manhattan,UPPER WEST SIDE (79-96),10 COOPS - ELEVATOR APARTMENTS,2,1244,19,D4,"411 WEST END AVENUE, 17D",NaN,10024.0,0,0,0,0,0,1936.0,2,D4,$0,3/4/2014,2014
728870,Queens,GLEN OAKS,10 COOPS - ELEVATOR APARTMENTS,2,8489,1,D4,"27110 GRAND CENTRAL PARKWA, 26D",NaN,11005.0,-,-,-,-,-,1972.0,2,D4,-,12/30/2016,2016

In [134]:
#del combined

In [518]:
combined.to_csv('nycpropertycombined.csv')

### **Preliminary Look**

In [273]:
combined.describe()

,BLOCK,LOT,ZIP CODE,YEAR BUILT,TAX CLASS AT TIME OF SALE,SALE YEAR
count,985805.000000,985805.000000,985803.000000,985802.000000,985805.000000,985805.000000
mean,4037.872510,392.236618,10765.913916,1735.378615,1.768578,2013.491567
std,3561.282482,662.884873,949.500503,611.148184,0.932589,3.370606
min,1.000000,1.000000,0.000000,0.000000,1.000000,2008.000000
25%,1171.000000,23.000000,10075.000000,1920.000000,1.000000,2011.000000
50%,2864.000000,50.000000,11207.000000,1935.000000,2.000000,2014.000000
75%,6012.000000,1003.000000,11355.000000,1965.000000,2.000000,2016.000000
max,16350.000000,9139.000000,33803.000000,2019.000000,4.000000,2019.000000

In [583]:
combined.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 985805 entries, 0 to 985804
Data columns (total 21 columns):
BOROUGH                           985805 non-null object
NEIGHBORHOOD                      985805 non-null object
BUILDING CLASS CATEGORY           984324 non-null object
TAX CLASS AT PRESENT              978072 non-null object
BLOCK                             985805 non-null int64
LOT                               985805 non-null int64
BUILDING CLASS AT PRESENT         978072 non-null object
ADDRESS                           985798 non-null object
APARTMENT NUMBER                  241357 non-null object
ZIP CODE                          985803 non-null float64
RESIDENTIAL UNITS                 985752 non-null object
COMMERCIAL UNITS                  985752 non-null object
TOTAL UNITS                       985752 non-null object
LAND SQUARE FEET                  985751 non-null object
GROSS SQUARE FEET                 985752 non-null object
YEAR BUILT                        985802 non-null float64
TAX CLASS AT TIME OF SALE         985805 non-null int64
BUILDING CLASS AT TIME OF SALE    985805 non-null object
SALE PRICE                        985805 non-null object
SALE DATE                         985805 non-null object
SALE YEAR                         985805 non-null int64
dtypes: float64(2), int64(4), object(15)
memory usage: 157.9+ MB

In [726]:
combined.loc[:,'YEAR BUILT'] = combined.loc[:,'YEAR BUILT'].fillna(0)
combined.loc[:,'YEAR BUILT'] = combined.loc[:,'YEAR BUILT'].astype(int)
combined.loc[:,'ZIP CODE'] = combined.loc[:,'ZIP CODE'].fillna(0)
combined.loc[:,'ZIP CODE'] = combined.loc[:,'ZIP CODE'].astype(int)

In [276]:
combined.sample(100)

,BOROUGH,NEIGHBORHOOD,BUILDING CLASS CATEGORY,TAX CLASS AT PRESENT,BLOCK,LOT,BUILDING CLASS AT PRESENT,ADDRESS,APARTMENT NUMBER,ZIP CODE,...,COMMERCIAL UNITS,TOTAL UNITS,LAND SQUARE FEET,GROSS SQUARE FEET,YEAR BUILT,TAX CLASS AT TIME OF SALE,BUILDING CLASS AT TIME OF SALE,SALE PRICE,SALE DATE,SALE YEAR
49403,Queens,ELMHURST,04 TAX CLASS 1 CONDOS,1A,1602,1044,R3,94-03A 46TH AVENUE,1,11373,...,0,1,0,0,0,1,R3,$0,7/23/2009,2009
965877,Queens,FLORAL PARK,01 ONE FAMILY DWELLINGS,1,8683,13,A0,7818 267TH STREET,NaN,11004,...,0,1,"6,000","1,170",1955,1,A0,"740,000",2019-06-06 00:00:00,2019
215954,Queens,JAMAICA,10 COOPS - ELEVATOR APARTMENTS,2,9836,22,D4,"164-20 HIGHLAND AVE, 6U",NaN,11432,...,0,0,0,0,1958,2,D4,"$135,000",7/17/2008,2008
562627,Queens,SUNNYSIDE,07 RENTALS - WALKUP APARTMENTS,2A,2285,15,C2,47-21 47TH STREET,NaN,11377,...,0,6,"2,565","5,040",1923,2,C2,"$1,640,000",7/30/2014,2014
842404,Bronx,BRONXDALE,02 TWO FAMILY DWELLINGS,1,4573,30,B1,842 BURKE AVE,NaN,10467,...,0,2,"1,900","2,860",1950,1,B1,$0,5/10/2018,2018
456409,Queens,FLORAL PARK,01 ONE FAMILY DWELLINGS,1,8779,33,A2,83-23 267TH STREET,NaN,11004,...,0,1,"4,000","1,321",1950,1,A2,$ -,6/25/2013,2013
148201,Bronx,PARKCHESTER,13 CONDOS - ELEVATOR APARTMENTS,2,3944,4269,R4,1561 METROPOLITAN AVENUE,6C,10462,...,0,1,0,0,0,2,R4,"$170,000",8/1/2008,2008
482184,Staten Island,WEST NEW BRIGHTON,02 TWO FAMILY DWELLINGS,1,199,37,B9,1748 RICHMOND TERRACE,NaN,10310,...,0,2,"3,813","2,700",1930,1,B9,$ -,8/16/2013,2013
387921,Staten Island,ELTINGVILLE,02 TWO FAMILY HOMES,1,5636,33,B2,453 ANNADALE ROAD,NaN,10312,...,0,2,"4,920","4,043",1977,1,B2,$0,3/8/2012,2012
231133,Staten Island,MIDLAND BEACH,01 ONE FAMILY HOMES,1,3817,13,A5,1268 MASON AVENUE,NaN,10306,...,0,1,"2,100","1,692",2007,1,A5,"$415,000",9/16/2008,2008
395670,Bronx,MORRISANIA/LONGWOOD,31 COMMERCIAL VACANT LAND,4,2369,12,V9,1016 WASHINGTON AVENUE,NaN,10456,...,0,0,"2,625",0,0,4,V9,$ -,6/27/2013,2013
516299,Manhattan,EAST VILLAGE,13 CONDOS - ELEVATOR APARTMENTS,2,469,1512,R4,211 EAST 13TH STREET,1H,10003,...,0,1,0,0,2012,2,R4,"$1,376,637",9/17/2014,2014
961958,Queens,ASTORIA,03 THREE FAMILY DWELLINGS,1,567,20,C0,23-11A BROADWAY,NaN,11106,...,0,3,"3,975","2,862",1927,1,C0,"1,500,000",2019-06-20 00:00:00,2019
685173,Brooklyn,GERRITSEN BEACH,05 TAX CLASS 1 VACANT LAND,1B,8845,2000,V0,N/A ABBEY COURT,NaN,11229,...,-,-,"1,100",-,0,1,V0,-,6/9/2016,2016
438555,Manhattan,MIDTOWN WEST,45 CONDO HOTELS,4,1027,1279,RH,870 7 AVENUE,1804,10019,...,0,1,0,0,0,4,RH,$ 200.00,1/2/2013,2013
180389,Manhattan,GREENWICH VILLAGE-CENTRAL,17 CONDOPS,2,573,1006,R9,"69 WEST 9TH STREET, 3J",NaN,10011,...,0,0,0,0,1959,2,R9,"$832,838",11/4/2008,2008
811575,Queens,FLUSHING-NORTH,02 TWO FAMILY DWELLINGS,1,5306,10,B1,35-21 191 STREET,NaN,11358,...,0,2,"2,208","2,772",1955,1,B1,0,12/10/2017,2017
824099,Queens,QUEENS VILLAGE,01 ONE FAMILY DWELLINGS,1,11140,139,A1,214-01 113 AVENUE,NaN,11429,...,0,1,"4,000","1,680",1930,1,A1,"386,900",5/22/2017,2017
525436,Manhattan,MIDTOWN WEST,25 LUXURY HOTELS,4,1009,37,H3,102 WEST 57TH STREET,NaN,10019,...,2,2,"7,532","112,850",2007,4,H2,"$114,855",3/24/2014,2014
375667,Queens,JACKSON HEIGHTS,01 ONE FAMILY HOMES,1,1173,80,A5,32-03 77 STREET,NaN,11370,...,0,1,"1,800","1,723",1940,1,A5,"$405,000",4/25/2012,2012
142597,Staten Island,SILVER LAKE,01 ONE FAMILY HOMES,1,120,9,A1,61 DUER LANE,NaN,10301,...,0,1,"4,410","1,536",1930,1,A1,"$492,500",8/24/2010,2010
392815,Bronx,BATHGATE,07 RENTALS - WALKUP APARTMENTS,2,3040,7,C7,444 EAST 187 STREET,NaN,10458,...,2,30,"5,000","22,500",1926,2,C7,$ -,7/31/2013,2013
174058,Brooklyn,WILLIAMSBURG-NORTH,13 CONDOS - ELEVATOR APARTMENTS,2,2309,1022,R4,47-63 NORTH 8TH STREET,5B,11211,...,0,1,0,0,0,2,R4,"$688,326",3/13/2008,2008
606100,Manhattan,FINANCIAL,13 CONDOS - ELEVATOR APARTMENTS,2,53,1214,R4,123 WASHINGTON STREET,34E,10006,...,0,1,0,0,2007,2,R4,$0,6/25/2015,2015
52319,Queens,FLUSHING-NORTH,13 CONDOS - ELEVATOR APARTMENTS,2,4960,1160,R4,35-06 LEAVITT STREET,7D,11354,...,0,1,0,0,2004,2,R4,$0,1/20/2009,2009
341627,Manhattan,GREENWICH VILLAGE-CENTRAL,10 COOPS - ELEVATOR APARTMENTS,2,545,8,D0,"714 BROADWAY, 6",NaN,10003,...,0,0,0,0,1895,2,D0,"$283,035",2/22/2012,2012
236594,Bronx,HIGHBRIDGE/MORRIS HEIGHTS,09 COOPS - WALKUP APARTMENTS,2,2521,1,C6,127 WEST 170 STREET,NaN,10452,...,0,40,"8,442","39,432",1925,2,C6,$0,5/19/2011,2011
220344,Queens,QUEENS VILLAGE,02 TWO FAMILY HOMES,1,11116,55,B1,109-50 214TH STREET,NaN,11429,...,0,2,"4,000","2,676",1940,1,B1,"$1,000",3/14/2008,2008
700793,Manhattan,GREENWICH VILLAGE-WEST,14 RENTALS - 4-10 UNIT,2A,608,19,S3,140 WEST 13TH STREET,NaN,10011,...,1,4,"2,452","5,436",1800,2,S3,-,3/31/2016,2016
158261,Brooklyn,CANARSIE,02 TWO FAMILY HOMES,1,8206,41,B2,9814 FLATLANDS AVENUE,NaN,11236,...,0,2,"1,980","1,872",1925,1,B2,"$330,000",9/26/2008,2008
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
192708,Manhattan,UPPER EAST SIDE (59-79),10 COOPS - ELEVATOR APARTMENTS,2,1389,1,D4,"930 FIFTH AVENUE, 3B",NaN,10021,...,0,0,0,0,1940,2,D4,"$2,226,000",6/20/2008,2008
609675,Manhattan,HARLEM-CENTRAL,13 CONDOS - ELEVATOR APARTMENTS,2,1950,1045,R4,258 SAINT NICHOLAS AVENU,8F,10027,...,0,1,0,0,2006,2,R4,"$820,000",8/27/2015,2015
537843,Manhattan,UPPER WEST SIDE (96-116),10 COOPS - ELEVATOR APARTMENTS,2,1879,36,D4,"200 WEST 108TH STREET, 8F",NaN,10025,...,0,0,0,0,1930,2,D4,"$750,000",10/7/2014,2014
772490,Brooklyn,FLATBUSH-CENTRAL,02 TWO FAMILY DWELLINGS,1,5173,67,B9,2905 CORTELYOU ROAD,NaN,11226,...,0,2,"1,940","2,160",1925,1,B9,0,4/25/2017,2017
186936,Manhattan,MIDTOWN WEST,25 LUXURY HOTELS,4,1009,37,H2,102 WEST 57TH STREET,NaN,10019,...,2,2,"7,532","112,850",2007,4,H2,"$66,800",8/3/2008,2008
662981,Bronx,BATHGATE,31 COMMERCIAL VACANT LAND,4,2900,28,V1,4145 PARK AVENUE,NaN,10457,...,-,-,"2,000",-,0,4,V1,"1,000",4/29/2016,2016
938152,Manhattan,WASHINGTON HEIGHTS LOWER,09 COOPS - WALKUP APARTMENTS,2,2115,40,C6,"501 WEST 156 STREET, 61",NaN,10032,...,0,0,0,0,1930,2,C6,"305,000.00",2019-08-28 00:00:00,2019
17207,Brooklyn,GERRITSEN BEACH,01 ONE FAMILY HOMES,1,8925,484,A1,16 GARLAND COURT,NaN,11229,...,0,1,"3,570","1,456",1930,1,A1,"$430,000",3/27/2009,2009
421596,Brooklyn,WILLIAMSBURG-CENTRAL,13 CONDOS - ELEVATOR APARTMENTS,2,2235,2202,R4,115 WALLABOUT STREET,1R,11206,...,0,1,0,0,2007,2,R4,$ -,9/11/2013,2013
717548,Queens,ASTORIA,03 THREE FAMILY DWELLINGS,1,727,9,C0,47-05 NEWTOWN ROAD,NaN,11103,...,-,3,"1,892","2,380",1955,1,C0,-,1/14/2016,2016
962472,Queens,BAYSIDE,01 ONE FAMILY DWELLINGS,1,6076,22,A5,33-34 201ST STREET,NaN,11361,...,0,1,"1,842","1,230",1930,1,A5,"760,000",2019-07-30 00:00:00,2019
80729,Brooklyn,BAY RIDGE,21 OFFICE BUILDINGS,4,6050,3,O9,8723 4 AVENUE,NaN,11209,...,3,3,"1,600","2,900",1926,4,O9,"$920,000",8/26/2010,2010
600329,Brooklyn,SHEEPSHEAD BAY,02 TWO FAMILY DWELLINGS,1,7422,863,B1,2429 EAST 27TH STREET,NaN,11235,...,0,2,"2,183","1,811",1940,1,B1,"$657,000",9/10/2015,2015
224423,Queens,SOUTH JAMAICA,29 COMMERCIAL GARAGES,4,10222,31,G7,168-39 104TH AVENUE,NaN,11433,...,0,0,"2,000",0,0,4,G7,"$56,000",9/10/2008,2008
580140,Brooklyn,BEDFORD STUYVESANT,02 TWO FAMILY DWELLINGS,1,1971,20,B3,156 LEXINGTON AVENUE,NaN,11216,...,0,2,"1,840","1,824",1899,1,B3,"$10,000",3/16/2015,2015
874267,Manhattan,CLINTON,13 CONDOS - ELEVATOR APARTMENTS,2,1090,1214,R4,635 WEST 42ND STREET,9F,10036,...,0,1,0,758,2005,2,R4,"$505,000",11/30/2018,2018
433936,Manhattan,MIDTOWN WEST,13 CONDOS - ELEVATOR APARTMENTS,2,1011,2025,R4,160 CENTRAL PARK SOUTH,1720,10019,...,0,1,0,0,1930,2,R4,"$ 2,835,000.00",7/15/2013,2013
682260,Brooklyn,EAST NEW YORK,05 TAX CLASS 1 VACANT LAND,1B,4461,25,V0,PINE STREET,NaN,0,...,-,-,"3,675",-,0,1,V0,-,8/11/2016,2016
257017,Brooklyn,PROSPECT HEIGHTS,10 COOPS - ELEVATOR APARTMENTS,2,1179,108,D4,"175 EASTERN PARKWAY, 1K",NaN,11238,...,0,0,0,0,1922,2,D4,"$550,000",8/23/2011,2011
424909,Manhattan,CHINATOWN,22 STORE BUILDINGS,4,281,33,K9,70 EAST BROADWAY,NaN,10002,...,3,4,793,"2,316",1900,4,K9,$ -,5/22/2013,2013
452368,Queens,BAYSIDE,09 COOPS - WALKUP APARTMENTS,2,5778,1,C6,"16-45 UTOPIA PARKWAY, 2-40",NaN,11357,...,0,0,0,0,1955,2,C6,"$ 131,000.00",12/19/2013,2013
787950,Manhattan,FLATIRON,10 COOPS - ELEVATOR APARTMENTS,2,851,28,D4,"33 EAST 22ND STREET, 3B",NaN,10010,...,0,0,-,-,1938,2,D4,100,9/13/2017,2017
300937,Queens,SOUTH JAMAICA,01 ONE FAMILY HOMES,1,10192,40,A1,163-33 CLAUDE AVENUE,NaN,11433,...,0,1,"1,200","1,280",1925,1,A1,"$270,000",11/10/2011,2011
539920,Queens,ASTORIA,13 CONDOS - ELEVATOR APARTMENTS,2,539,1011,R4,14-43 28TH AVENUE,2A,11102,...,0,1,0,0,2005,2,R4,"$488,000",12/10/2014,2014
712439,Manhattan,UPPER EAST SIDE (79-96),10 COOPS - ELEVATOR APARTMENTS,2,1550,1,D4,"301 EAST 87TH STREET, 22F",NaN,10128,...,-,-,-,-,1973,2,D4,"745,000",9/7/2016,2016
78313,Bronx,SCHUYLERVILLE/PELHAM BAY,01 ONE FAMILY HOMES,1,4199,21,A1,3135 WILLOW LANE,NaN,10461,...,0,1,"3,348","1,697",1940,1,A1,"$455,000",8/31/2010,2010
198964,Manhattan,UPPER WEST SIDE (79-96),09 COOPS - WALKUP APARTMENTS,2,1253,90,C6,"328 WEST 96TH STREET, 3C",NaN,10025,...,0,0,0,0,1930,2,C6,"$620,000",6/19/2008,2008
658919,Staten Island,NEW BRIGHTON,13 CONDOS - ELEVATOR APARTMENTS,4,110,1213,R5,101 CASTLETON AVENUE,B3,10301,...,1,1,0,0,1930,2,R4,$0,1/23/2015,2015
305780,Staten Island,HUGUENOT,05 TAX CLASS 1 VACANT LAND,1B,6836,63,V0,638 HUGUENOT AVENUE,NaN,10312,...,0,0,"34,800",0,0,1,V0,"$975,000",5/31/2011,2011
489182,Brooklyn,BATH BEACH,04 TAX CLASS 1 CONDOS,1A,6426,1004,R3,203 BAY 8TH STREET,1B,11228,...,0,1,0,0,2007,1,R3,$0,8/14/2014,2014

In [727]:
combined.loc[:,'BUILDING CLASS CATEGORY'] = combined.loc[:,'BUILDING CLASS CATEGORY'].astype(str).str.strip()
combined.loc[:,'BUILDING CLASS AT PRESENT'] = combined.loc[:,'BUILDING CLASS AT PRESENT'].astype(str).str.strip()
#combined.loc[:,'ADDRESS'] = combined.loc[:,'ADDRESS'].astype(str).str.strip()
#combined.loc[:,'APARTMENT NUMBER'] = combined.loc[:,'APARTMENT NUMBER'].astype(str).str.strip()

In [728]:
#now take a look at 'tax class at present' to see if there are any utility/office/hotel buildilngs (tax class 3/4 respectively).
tax_class = combined.loc[:,'TAX CLASS AT PRESENT'].unique().tolist()
tax_class

['1', '1B', '2', '2A', '2B', '4', nan, '1A', '2C', '3', '1D', '1C']

In [622]:
combined[combined['TAX CLASS AT PRESENT'].isnull()]

,BOROUGH,NEIGHBORHOOD,BUILDING CLASS CATEGORY,TAX CLASS AT PRESENT,BLOCK,LOT,BUILDING CLASS AT PRESENT,ADDRESS,APARTMENT NUMBER,ZIP CODE,RESIDENTIAL UNITS,COMMERCIAL UNITS,TOTAL UNITS,LAND SQUARE FEET,GROSS SQUARE FEET,YEAR BUILT,TAX CLASS AT TIME OF SALE,BUILDING CLASS AT TIME OF SALE,SALE PRICE,SALE DATE,SALE YEAR
128,Bronx,BAYCHESTER,01 ONE FAMILY HOMES,NaN,4970,35,nan,3915 ROMBOUTS AVENUE,NaN,10466,0,0,0,0,0,0,1,A5,"$380,000",2/5/2009,2009
198,Bronx,BAYCHESTER,02 TWO FAMILY HOMES,NaN,4767,44,nan,3030 MICKLE AVENUE,NaN,10469,0,0,0,0,0,0,1,B1,"$153,114",5/19/2009,2009
242,Bronx,BAYCHESTER,02 TWO FAMILY HOMES,NaN,4960,27,nan,3948 MONTICELLO AVENUE,NaN,10466,0,0,0,0,0,0,1,B1,"$283,000",10/7/2009,2009
243,Bronx,BAYCHESTER,02 TWO FAMILY HOMES,NaN,4960,30,nan,MONTICELLO AVENUE,NaN,10466,0,0,0,0,0,0,1,B1,$0,10/7/2009,2009
316,Bronx,BAYCHESTER,03 THREE FAMILY HOMES,NaN,4898,73,nan,1248 EAST 224 STREET,NaN,10466,0,0,0,0,0,0,1,C0,$0,11/30/2009,2009
317,Bronx,BAYCHESTER,03 THREE FAMILY HOMES,NaN,4898,73,nan,1248 EAST 224 STREET,NaN,10466,0,0,0,0,0,0,1,C0,"$500,000",7/30/2009,2009
412,Bronx,BEDFORD PARK/NORWOOD,02 TWO FAMILY HOMES,NaN,3289,13,nan,2792 POND PLACE,NaN,10458,0,0,0,0,0,0,1,B1,"$620,000",2/24/2009,2009
460,Bronx,BEDFORD PARK/NORWOOD,05 TAX CLASS 1 VACANT LAND,NaN,3277,25,nan,EAST 195 STREET,NaN,10458,0,0,0,0,0,0,1,V0,"$280,000",6/10/2009,2009
461,Bronx,BEDFORD PARK/NORWOOD,05 TAX CLASS 1 VACANT LAND,NaN,3277,125,nan,EAST 195 STREET,NaN,10458,0,0,0,0,0,0,1,V0,$0,6/10/2009,2009
462,Bronx,BEDFORD PARK/NORWOOD,05 TAX CLASS 1 VACANT LAND,NaN,3283,28,nan,2736 MARION AVENUE,NaN,10458,0,0,0,0,0,0,1,V0,$0,4/23/2009,2009
580,Bronx,BELMONT,03 THREE FAMILY HOMES,NaN,3066,45,nan,574 EAST 189TH STREET,NaN,10458,0,0,0,0,0,0,1,C0,$0,4/6/2009,2009
794,Bronx,BRONXDALE,05 TAX CLASS 1 VACANT LAND,NaN,4551,47,nan,2916 WILLIAMSBRIDGE ROAD,NaN,10467,0,0,0,0,0,0,1,V0,"$150,000",8/21/2009,2009
796,Bronx,BRONXDALE,05 TAX CLASS 1 VACANT LAND,NaN,4596,33,nan,710 ROSEWOOD STREET,NaN,10467,0,0,0,0,0,0,1,V0,"$500,000",7/29/2009,2009
797,Bronx,BRONXDALE,05 TAX CLASS 1 VACANT LAND,NaN,4596,43,nan,CRUGER AVENUE,NaN,10467,0,0,0,0,0,0,1,V0,$0,7/29/2009,2009
1067,Bronx,CITY ISLAND,29 COMMERCIAL GARAGES,NaN,5624,28,nan,ROCHELLE STREET,NaN,10464,0,0,0,0,0,0,4,G7,$0,4/6/2009,2009
1068,Bronx,CITY ISLAND,29 COMMERCIAL GARAGES,NaN,5624,28,nan,ROCHELLE STREET,NaN,10464,0,0,0,0,0,0,4,G7,$0,1/6/2009,2009
1069,Bronx,CITY ISLAND,29 COMMERCIAL GARAGES,NaN,5624,28,nan,ROCHELLE STREET,NaN,10464,0,0,0,0,0,0,4,G7,$0,1/6/2009,2009
1186,Bronx,COUNTRY CLUB,02 TWO FAMILY HOMES,NaN,5468,27,nan,3231 LAFAYETTE AVENUE,NaN,10465,0,0,0,0,0,0,1,B2,$0,1/22/2009,2009
1216,Bronx,COUNTRY CLUB,05 TAX CLASS 1 VACANT LAND,NaN,5410,162,nan,SPENCER DRIVE,NaN,10465,0,0,0,0,0,0,1,V0,$0,9/22/2009,2009
1219,Bronx,COUNTRY CLUB,06 TAX CLASS 1 - OTHER,NaN,5468,30,nan,WILCOX AVENUE,NaN,10465,0,0,0,0,0,0,1,G0,$0,1/22/2009,2009
1308,Bronx,EAST TREMONT,03 THREE FAMILY HOMES,NaN,3068,41,nan,1989 ARTHUR AVENUE,NaN,10457,0,0,0,0,0,0,1,C0,$0,6/9/2009,2009
1309,Bronx,EAST TREMONT,03 THREE FAMILY HOMES,NaN,3068,42,nan,1987 ARTHUR AVENUE,NaN,10457,0,0,0,0,0,0,1,C0,"$565,000",6/9/2009,2009
1310,Bronx,EAST TREMONT,03 THREE FAMILY HOMES,NaN,3068,44,nan,585 EAST 178 STREET,NaN,10457,0,0,0,0,0,0,1,C0,$0,6/9/2009,2009
1482,Bronx,HIGHBRIDGE/MORRIS HEIGHTS,02 TWO FAMILY HOMES,NaN,2879,275,nan,1841 BILLINGSLEY TERRACE,NaN,10453,0,0,0,0,0,0,1,B2,"$530,000",2/25/2009,2009
1619,Bronx,HUNTS POINT,31 COMMERCIAL VACANT LAND,NaN,2772,114,nan,FAILE STREET,NaN,10474,0,0,0,0,0,0,4,V1,$0,1/31/2009,2009
2296,Bronx,MORRISANIA/LONGWOOD,03 THREE FAMILY HOMES,NaN,2694,43,nan,871 HOME STREET,NaN,10459,0,0,0,0,0,0,1,C0,"$655,000",1/27/2009,2009
2368,Bronx,MORRISANIA/LONGWOOD,05 TAX CLASS 1 VACANT LAND,NaN,2653,30,nan,596 WALES AVENUE,NaN,10455,0,0,0,0,0,0,1,V0,$0,9/1/2009,2009
2410,Bronx,MORRISANIA/LONGWOOD,08 RENTALS - ELEVATOR APARTMENTS,NaN,2364,70,nan,BROOK AVENUE,NaN,10451,0,0,0,0,0,0,2,D7,$0,6/26/2009,2009
2411,Bronx,MORRISANIA/LONGWOOD,08 RENTALS - ELEVATOR APARTMENTS,NaN,2364,70,nan,BROOK AVENUE,NaN,10451,0,0,0,0,0,0,2,D7,$0,6/26/2009,2009
2556,Bronx,MORRISANIA/LONGWOOD,24 TAX CLASS 4 - UTILITY BUREAU PROPERTIES,NaN,2359,2,nan,NaN,NaN,10455,0,0,0,0,0,0,4,U0,$0,12/30/2009,2009
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
975096,Queens,QUEENS-UNKNOWN,12 CONDOS - WALKUP APARTMENTS,NaN,6636,1010,nan,"135-46 GRAND CENTRAL PARKWA, 4A",NaN,0,0,0,0,0,0,0,2,R2,"397,488",2019-07-12 00:00:00,2019
975097,Queens,QUEENS-UNKNOWN,12 CONDOS - WALKUP APARTMENTS,NaN,6636,1011,nan,"135-46 GRAND CENTRAL PARKWA, 4B",NaN,0,0,0,0,0,0,0,2,R2,"506,999",2019-07-10 00:00:00,2019
975098,Queens,QUEENS-UNKNOWN,13 CONDOS - ELEVATOR APARTMENTS,NaN,405,1027,nan,"2705 41ST AVENUE, 4B",NaN,0,0,0,0,0,0,0,2,R4,"609,932",2019-06-10 00:00:00,2019
975099,Queens,QUEENS-UNKNOWN,13 CONDOS - ELEVATOR APARTMENTS,NaN,405,1031,nan,"2705 41ST AVENUE, 4F",NaN,0,0,0,0,0,0,0,2,R4,"712,775",2019-08-27 00:00:00,2019
975100,Queens,QUEENS-UNKNOWN,13 CONDOS - ELEVATOR APARTMENTS,NaN,405,1035,nan,"2705 41ST AVENUE, 5B",NaN,0,0,0,0,0,0,0,2,R4,"602,804",2019-06-28 00:00:00,2019
975101,Queens,QUEENS-UNKNOWN,13 CONDOS - ELEVATOR APARTMENTS,NaN,405,1037,nan,"2705 41ST AVENUE, 5D",NaN,0,0,0,0,0,0,0,2,R4,"769,797",2019-06-07 00:00:00,2019
975102,Queens,QUEENS-UNKNOWN,13 CONDOS - ELEVATOR APARTMENTS,NaN,405,1038,nan,"2705 41ST AVENUE, 5E",NaN,0,0,0,0,0,0,0,2,R4,"928,644",2019-06-10 00:00:00,2019
975103,Queens,QUEENS-UNKNOWN,13 CONDOS - ELEVATOR APARTMENTS,NaN,405,1039,nan,"2705 41ST AVENUE, 5F",NaN,0,0,0,0,0,0,0,2,R4,"707,684",2019-06-25 00:00:00,2019
975104,Queens,QUEENS-UNKNOWN,13 CONDOS - ELEVATOR APARTMENTS,NaN,405,1040,nan,"2705 41ST AVENUE, 5G",NaN,0,0,0,0,0,0,0,2,R4,"748,414",2019-07-02 00:00:00,2019
975105,Queens,QUEENS-UNKNOWN,13 CONDOS - ELEVATOR APARTMENTS,NaN,405,1042,nan,"2705 41ST AVENUE, 6A",NaN,0,0,0,0,0,0,0,2,R4,"577,348",2019-08-19 00:00:00,2019
975106,Queens,QUEENS-UNKNOWN,13 CONDOS - ELEVATOR APARTMENTS,NaN,620,1005,nan,"2503 32ND STREET, 2A",NaN,0,0,0,0,0,0,0,2,R4,"888,030",2019-08-20 00:00:00,2019
975107,Queens,QUEENS-UNKNOWN,13 CONDOS - ELEVATOR APARTMENTS,NaN,620,1016,nan,"3206 ASTORIA BLVD, 3F",NaN,0,0,0,0,0,0,0,2,R4,"535,000",2019-07-23 00:00:00,2019
975108,Queens,QUEENS-UNKNOWN,13 CONDOS - ELEVATOR APARTMENTS,NaN,620,1022,nan,"2503 32ND STREET, 4F",NaN,0,0,0,0,0,0,0,2,R4,0,2019-08-27 00:00:00,2019
975109,Queens,QUEENS-UNKNOWN,13 CONDOS - ELEVATOR APARTMENTS,NaN,620,1022,nan,"2503 32ND STREET, 4F",NaN,0,0,0,0,0,0,0,2,R4,"519,000",2019-07-23 00:00:00,2019
975110,Queens,QUEENS-UNKNOWN,13 CONDOS - ELEVATOR APARTMENTS,NaN,620,1028,nan,"2503 32ND STREET, 5F",NaN,0,0,0,0,0,0,0,2,R4,"519,000",2019-07-11 00:00:00,2019
975111,Queens,QUEENS-UNKNOWN,15 CONDOS - 2-10 UNIT RESIDENTIAL,NaN,29,1402,nan,"5-28 47TH AVE, 1B",NaN,0,0,0,0,0,0,0,2,R1,"1,325,000",2019-09-16 00:00:00,2019
975112,Queens,QUEENS-UNKNOWN,15 CONDOS - 2-10 UNIT RESIDENTIAL,NaN,29,1404,nan,"5-28 47TH AVE, 2B",NaN,0,0,0,0,0,0,0,2,R1,"850,000",2019-09-16 00:00:00,2019
975113,Queens,QUEENS-UNKNOWN,15 CONDOS - 2-10 UNIT RESIDENTIAL,NaN,29,1406,nan,"5-28 47TH AVE, 3B",NaN,0,0,0,0,0,0,0,2,R1,"1,250,000",2019-09-06 00:00:00,2019
975114,Queens,QUEENS-UNKNOWN,15 CONDOS - 2-10 UNIT RESIDENTIAL,NaN,29,1502,nan,"5-30 47TH AVE, 1B",NaN,0,0,0,0,0,0,0,2,R1,"1,401,112",2019-06-26 00:00:00,2019
975115,Queens,QUEENS-UNKNOWN,15 CONDOS - 2-10 UNIT RESIDENTIAL,NaN,29,1503,nan,"5-30 47TH AVE, 2A",NaN,0,0,0,0,0,0,0,2,R1,"880,000",2019-07-18 00:00:00,2019
975116,Queens,QUEENS-UNKNOWN,15 CONDOS - 2-10 UNIT RESIDENTIAL,NaN,29,1504,nan,"5-30 47TH AVE, 2B",NaN,0,0,0,0,0,0,0,2,R1,"855,000",2019-06-27 00:00:00,2019
975117,Queens,QUEENS-UNKNOWN,15 CONDOS - 2-10 UNIT RESIDENTIAL,NaN,29,1505,nan,"5-30 47TH AVE, 3A",NaN,0,0,0,0,0,0,0,2,R1,"1,237,174",2019-07-23 00:00:00,2019
975118,Queens,QUEENS-UNKNOWN,15 CONDOS - 2-10 UNIT RESIDENTIAL,NaN,29,1602,nan,"5-26 47TH AVENUE, 1B",NaN,0,0,0,0,0,0,0,2,R1,"1,395,000",2019-07-16 00:00:00,2019
975119,Queens,QUEENS-UNKNOWN,15 CONDOS - 2-10 UNIT RESIDENTIAL,NaN,29,1603,nan,"5-26 47TH AVENUE, 2A",NaN,0,0,0,0,0,0,0,2,R1,"885,000",2019-06-24 00:00:00,2019
975120,Queens,QUEENS-UNKNOWN,44 CONDO PARKING,NaN,78,1193,nan,"21-30 44TH DRIVE, PKG 6",NaN,0,0,0,0,0,0,0,4,RG,"2,181,055",2019-09-17 00:00:00,2019
975121,Queens,QUEENS-UNKNOWN,44 CONDO PARKING,NaN,78,1194,nan,"21-30 44TH DRIVE, PKG 7",NaN,0,0,0,0,0,0,0,4,RG,"2,181,055",2019-09-17 00:00:00,2019
975122,Queens,QUEENS-UNKNOWN,44 CONDO PARKING,NaN,6636,1013,nan,"135-46 GRAND CENTRAL PARKWA, P-1",NaN,0,0,0,0,0,0,0,4,RG,"651,680",2019-06-13 00:00:00,2019
975123,Queens,QUEENS-UNKNOWN,44 CONDO PARKING,NaN,6636,1014,nan,"135-46 GRAND CENTRAL PARKWA, P-2",NaN,0,0,0,0,0,0,0,4,RG,"32,448",2019-09-26 00:00:00,2019
975124,Queens,QUEENS-UNKNOWN,44 CONDO PARKING,NaN,6636,1018,nan,"135-46 GRAND CENTRAL PARKWA, P-6",NaN,0,0,0,0,0,0,0,4,RG,"50,913",2019-08-26 00:00:00,2019
983869,Staten Island,PORT RICHMOND,02 TWO FAMILY DWELLINGS,NaN,1140,9,nan,N/A VILLA AVENUE,NaN,0,0,0,0,0,0,0,1,B2,0,2019-07-24 00:00:00,2019

In [623]:
#inspect contents of building class category, for filtering activities later on.
building_class = combined.loc[:,'BUILDING CLASS CATEGORY'].unique().tolist()
#building_class

In [340]:
#inspect contents of building class at time of sale, for filtering activities later on.
building_class_sale = combined.loc[:,'BUILDING CLASS AT TIME OF SALE'].str.strip().unique().tolist()
building_class_sale

['A9',
 'A1',
 'A5',
 'B2',
 'B1',
 'B3',
 'S2',
 'C0',
 'V0',
 'C1',
 'C7',
 'C3',
 'D1',
 'D4',
 'K1',
 'H4',
 'G7',
 'V1',
 'M9',
 'A2',
 'S1',
 'A0',
 'B9',
 'V2',
 'Z0',
 'G0',
 'C2',
 'S3',
 'O9',
 'K9',
 'G8',
 'G2',
 'E1',
 'E3',
 'I6',
 'P6',
 'M1',
 'Z9',
 'R3',
 'C5',
 'D7',
 'C6',
 'R2',
 'S9',
 'O7',
 'R5',
 'G9',
 'G6',
 'W1',
 'K2',
 'F1',
 'V3',
 'R4',
 'K7',
 'K4',
 'K5',
 'I9',
 'N9',
 'F4',
 'E9',
 'E4',
 'N2',
 'Z6',
 'P5',
 'O6',
 'O5',
 'A3',
 'D6',
 'D3',
 'D5',
 'F9',
 'C4',
 'W4',
 'S4',
 'S5',
 'RR',
 'R1',
 'R9',
 'U6',
 'U0',
 'V9',
 'V5',
 'H9',
 'G5',
 'W8',
 'Q1',
 'I5',
 'G1',
 'A8',
 'A6',
 'O8',
 'U4',
 'A7',
 'P9',
 'A4',
 'S0',
 'D9',
 'R8',
 'O1',
 'I1',
 'M4',
 'R6',
 'C9',
 'F2',
 'G4',
 'Q9',
 'M3',
 'Y1',
 'F5',
 'W2',
 'I3',
 'Q2',
 'L8',
 'I7',
 'C8',
 'G3',
 'E7',
 'P8',
 'H2',
 'N4',
 'W9',
 'K6',
 'O4',
 'D8',
 'U7',
 'L9',
 'Q3',
 'R7',
 'D0',
 'J6',
 'O3',
 'L1',
 'H3',
 'O2',
 'L2',
 'W3',
 'J5',
 'K3',
 'W6',
 'H5',
 'D2',
 'H8',
 'I4',
 'U1',
 'Y6',
 'Z2',
 'P2',
 'P7',
 'Z8',
 'W5',
 'Q7',
 'Z3',
 'U5',
 'T9',
 'Z7',
 'J8',
 'U8',
 'J1',
 'Y4',
 'M2',
 'H6',
 'U2',
 'U9',
 'R0',
 'H1',
 'L3',
 'Z4',
 'Y2',
 'J9',
 'Q8',
 'T2',
 'F8',
 'J4',
 'V4',
 'H7',
 'V8',
 'T1',
 'V6',
 'Q6',
 'P3',
 'W7',
 'P1',
 'RG',
 'RP',
 'RS',
 'RW',
 'RB',
 'RK',
 'RH',
 'RA',
 'RT',
 'Y7',
 'Z5',
 'V7',
 'J2',
 'Y3',
 'I2',
 'N3',
 'Y9',
 'J3',
 'HR',
 'HS',
 'HB',
 'GW',
 'GU',
 'E2',
 'Z1',
 'K8',
 'HH',
 'CM',
 'N1',
 'P4']

**Cleaning 'Tax Class at Present' and 'Tax Class at Time of Sale'**

In [729]:
#count how many nulls are in 'tax class at present'
np.sum(combined.loc[:,'TAX CLASS AT PRESENT'].isnull())

7733

In [730]:
#impute that for NaN Tax Class at Present, there is no change and it should be set equal to Tax Class at Sale.
combined.loc[:, 'TAX CLASS AT PRESENT'] = combined.loc[:,'TAX CLASS AT PRESENT'].fillna(combined.loc[:,'TAX CLASS AT TIME OF SALE'])

In [731]:
#change 'tax class at present' to str first, after imputing to collect imputed values (ints) into the same object type.
combined.loc[:, 'TAX CLASS AT PRESENT'] = combined.loc[:,'TAX CLASS AT PRESENT'].astype(str)
#combined.loc[:, 'TAX CLASS AT TIME OF SALE'] = combined.loc[:,'TAX CLASS AT TIME OF SALE'].astype(str)

In [732]:
#one tax class is object, the other is int. They should both be categorical as the tax class is a bracket segmentation.
combined.loc[:,'TAX CLASS AT TIME OF SALE'] = combined.loc[:,'TAX CLASS AT TIME OF SALE'].astype('category')
combined.loc[:,'TAX CLASS AT PRESENT'] = combined.loc[:,'TAX CLASS AT PRESENT'].astype('category')

In [733]:
#now take a look at 'tax class at present' to see if there are any utility/office buildilngs (tax class 3/4 respectively).
tax_class = combined.loc[:,'TAX CLASS AT PRESENT'].unique().tolist()
tax_class

['1', '1B', '2', '2A', '2B', '4', '1A', '2C', '3', '1D', '1C']

In [734]:
#count how many nulls are in 'tax class at present'
np.sum(combined.loc[:,'TAX CLASS AT PRESENT'].isnull())

0

In [630]:
test = combined.loc[combined['TAX CLASS AT PRESENT'].isnull()]
test

Empty DataFrame
Columns: [BOROUGH, NEIGHBORHOOD, BUILDING CLASS CATEGORY, TAX CLASS AT PRESENT, BLOCK, LOT, BUILDING CLASS AT PRESENT, ADDRESS, APARTMENT NUMBER, ZIP CODE, RESIDENTIAL UNITS, COMMERCIAL UNITS, TOTAL UNITS, LAND SQUARE FEET, GROSS SQUARE FEET, YEAR BUILT, TAX CLASS AT TIME OF SALE, BUILDING CLASS AT TIME OF SALE, SALE PRICE, SALE DATE, SALE YEAR]
Index: []

### **Convert the various objects into more specific types and fillna's. Otherwise counting nulls and zeros for filtering purposes won't work.**

In [218]:
#Convert 'Apartment Number' to str and strip any extra whitespace
#combined.loc[:,'APARTMENT NUMBER'] = combined.loc[:,'APARTMENT NUMBER'].astype(str).str.strip()

In [939]:
#Convert 'ADDRESS' to str and strip any extra whitespace
#combined.loc[:,'ADDRESS'] = combined.loc[:,'ADDRESS'].astype(str).str.strip()

In [735]:
np.sum(combined.loc[:,'SALE PRICE'].isnull())
np.sum(combined.loc[:,'RESIDENTIAL UNITS'].isnull())
np.sum(combined.loc[:,'TOTAL UNITS'].isnull())

53

In [736]:
#replace commas in SALE PRICE column with empty space and convert to string, then float.
combined['SALE PRICE'] = combined['SALE PRICE'].str.replace(',','')

In [737]:
combined['SALE PRICE'] = combined['SALE PRICE'].str.replace('$','').str.strip()

In [738]:
combined['SALE PRICE'] = combined['SALE PRICE'].str.replace('-','')

In [739]:
combined['SALE PRICE'] = pd.to_numeric(combined['SALE PRICE'], errors='coerce')
combined.loc[:,'SALE PRICE'] = combined.loc[:,'SALE PRICE'].fillna(0)

In [740]:
combined['SALE PRICE'] = combined['SALE PRICE'].astype(int)

In [741]:
price = combined.loc[combined['SALE PRICE'].isnull()]
price

Empty DataFrame
Columns: [BOROUGH, NEIGHBORHOOD, BUILDING CLASS CATEGORY, TAX CLASS AT PRESENT, BLOCK, LOT, BUILDING CLASS AT PRESENT, ADDRESS, APARTMENT NUMBER, ZIP CODE, RESIDENTIAL UNITS, COMMERCIAL UNITS, TOTAL UNITS, LAND SQUARE FEET, GROSS SQUARE FEET, YEAR BUILT, TAX CLASS AT TIME OF SALE, BUILDING CLASS AT TIME OF SALE, SALE PRICE, SALE DATE, SALE YEAR]
Index: []

In [747]:
combined[(combined['ADDRESS'].str.contains('230 ASHLAND', na = False)) &(combined['ADDRESS'].str.contains('230 ASHLAND', na = False) )]

,BOROUGH,NEIGHBORHOOD,BUILDING CLASS CATEGORY,TAX CLASS AT PRESENT,BLOCK,LOT,BUILDING CLASS AT PRESENT,ADDRESS,APARTMENT NUMBER,ZIP CODE,RESIDENTIAL UNITS,COMMERCIAL UNITS,TOTAL UNITS,LAND SQUARE FEET,GROSS SQUARE FEET,YEAR BUILT,TAX CLASS AT TIME OF SALE,BUILDING CLASS AT TIME OF SALE,SALE PRICE,SALE DATE,SALE YEAR,SALE MONTH
17015,Brooklyn,FORT GREENE,13 CONDOS - ELEVATOR APARTMENTS,2,2095,1101,R4,230 ASHLAND PLACE,3A,11217,1,0,1,0,0,0,2,R4,42409151,2009-08-17,2009,Aug
17016,Brooklyn,FORT GREENE,13 CONDOS - ELEVATOR APARTMENTS,2,2095,1103,R4,230 ASHLAND PLACE,3C,11217,1,0,1,0,0,0,2,R4,0,2009-08-17,2009,Aug
17017,Brooklyn,FORT GREENE,13 CONDOS - ELEVATOR APARTMENTS,2,2095,1104,R4,230 ASHLAND PLACE,3D,11217,1,0,1,0,0,0,2,R4,0,2009-08-17,2009,Aug
17018,Brooklyn,FORT GREENE,13 CONDOS - ELEVATOR APARTMENTS,2,2095,1105,R4,230 ASHLAND PLACE,4A,11217,1,0,1,0,0,0,2,R4,0,2009-08-17,2009,Aug
17019,Brooklyn,FORT GREENE,13 CONDOS - ELEVATOR APARTMENTS,2,2095,1108,R4,230 ASHLAND PLACE,4D,11217,1,0,1,0,0,0,2,R4,0,2009-08-17,2009,Aug
17020,Brooklyn,FORT GREENE,13 CONDOS - ELEVATOR APARTMENTS,2,2095,1109,R4,230 ASHLAND PLACE,5A,11217,1,0,1,0,0,0,2,R4,0,2009-08-17,2009,Aug
17021,Brooklyn,FORT GREENE,13 CONDOS - ELEVATOR APARTMENTS,2,2095,1113,R4,230 ASHLAND PLACE,6A,11217,1,0,1,0,0,0,2,R4,0,2009-08-17,2009,Aug
17022,Brooklyn,FORT GREENE,13 CONDOS - ELEVATOR APARTMENTS,2,2095,1117,R4,230 ASHLAND PLACE,7A,11217,1,0,1,0,0,0,2,R4,0,2009-08-17,2009,Aug
17023,Brooklyn,FORT GREENE,13 CONDOS - ELEVATOR APARTMENTS,2,2095,1119,R4,230 ASHLAND PLACE,7C,11217,1,0,1,0,0,0,2,R4,618586,2009-06-29,2009,Jun
17024,Brooklyn,FORT GREENE,13 CONDOS - ELEVATOR APARTMENTS,2,2095,1120,R4,230 ASHLAND PLACE,7D,11217,1,0,1,0,0,0,2,R4,0,2009-08-17,2009,Aug
17025,Brooklyn,FORT GREENE,13 CONDOS - ELEVATOR APARTMENTS,2,2095,1121,R4,230 ASHLAND PLACE,8A,11217,1,0,1,0,0,0,2,R4,0,2009-08-17,2009,Aug
17026,Brooklyn,FORT GREENE,13 CONDOS - ELEVATOR APARTMENTS,2,2095,1123,R4,230 ASHLAND PLACE,8C,11217,1,0,1,0,0,0,2,R4,0,2009-08-17,2009,Aug
17027,Brooklyn,FORT GREENE,13 CONDOS - ELEVATOR APARTMENTS,2,2095,1125,R4,230 ASHLAND PLACE,9A,11217,1,0,1,0,0,0,2,R4,0,2009-08-17,2009,Aug
17028,Brooklyn,FORT GREENE,13 CONDOS - ELEVATOR APARTMENTS,2,2095,1129,R4,230 ASHLAND PLACE,10A,11217,1,0,1,0,0,0,2,R4,0,2009-08-17,2009,Aug
17029,Brooklyn,FORT GREENE,13 CONDOS - ELEVATOR APARTMENTS,2,2095,1133,R4,230 ASHLAND PLACE,11A,11217,1,0,1,0,0,0,2,R4,0,2009-08-17,2009,Aug
17030,Brooklyn,FORT GREENE,13 CONDOS - ELEVATOR APARTMENTS,2,2095,1135,R4,230 ASHLAND PLACE,11C,11217,1,0,1,0,0,0,2,R4,0,2009-08-17,2009,Aug
17031,Brooklyn,FORT GREENE,13 CONDOS - ELEVATOR APARTMENTS,2,2095,1138,R4,230 ASHLAND PLACE,12B,11217,1,0,1,0,0,0,2,R4,0,2009-08-17,2009,Aug
17032,Brooklyn,FORT GREENE,13 CONDOS - ELEVATOR APARTMENTS,2,2095,1141,R4,230 ASHLAND PLACE,14A,11217,1,0,1,0,0,0,2,R4,0,2009-08-17,2009,Aug
17033,Brooklyn,FORT GREENE,13 CONDOS - ELEVATOR APARTMENTS,2,2095,1142,R4,230 ASHLAND PLACE,14B,11217,1,0,1,0,0,0,2,R4,0,2009-08-17,2009,Aug
17034,Brooklyn,FORT GREENE,13 CONDOS - ELEVATOR APARTMENTS,2,2095,1143,R4,230 ASHLAND PLACE,14C,11217,1,0,1,0,0,0,2,R4,0,2009-08-17,2009,Aug
17035,Brooklyn,FORT GREENE,13 CONDOS - ELEVATOR APARTMENTS,2,2095,1144,R4,230 ASHLAND PLACE,14D,11217,1,0,1,0,0,0,2,R4,0,2009-08-17,2009,Aug
17036,Brooklyn,FORT GREENE,13 CONDOS - ELEVATOR APARTMENTS,2,2095,1145,R4,230 ASHLAND PLACE,15A,11217,1,0,1,0,0,0,2,R4,0,2009-08-17,2009,Aug
17037,Brooklyn,FORT GREENE,13 CONDOS - ELEVATOR APARTMENTS,2,2095,1147,R4,230 ASHLAND PLACE,15C,11217,1,0,1,0,0,0,2,R4,0,2009-08-17,2009,Aug
17038,Brooklyn,FORT GREENE,13 CONDOS - ELEVATOR APARTMENTS,2,2095,1148,R4,230 ASHLAND PLACE,15D,11217,1,0,1,0,0,0,2,R4,722957,2009-02-12,2009,Feb
17039,Brooklyn,FORT GREENE,13 CONDOS - ELEVATOR APARTMENTS,2,2095,1149,R4,230 ASHLAND PLACE,16A,11217,1,0,1,0,0,0,2,R4,0,2009-08-17,2009,Aug
17040,Brooklyn,FORT GREENE,13 CONDOS - ELEVATOR APARTMENTS,2,2095,1151,R4,230 ASHLAND PLACE,16C,11217,1,0,1,0,0,0,2,R4,0,2009-08-17,2009,Aug
17041,Brooklyn,FORT GREENE,13 CONDOS - ELEVATOR APARTMENTS,2,2095,1153,R4,230 ASHLAND PLACE,17A,11217,1,0,1,0,0,0,2,R4,0,2009-08-17,2009,Aug
17042,Brooklyn,FORT GREENE,13 CONDOS - ELEVATOR APARTMENTS,2,2095,1155,R4,230 ASHLAND PLACE,17C,11217,1,0,1,0,0,0,2,R4,0,2009-08-17,2009,Aug
17043,Brooklyn,FORT GREENE,13 CONDOS - ELEVATOR APARTMENTS,2,2095,1156,R4,230 ASHLAND PLACE,17D,11217,1,0,1,0,0,0,2,R4,0,2009-08-17,2009,Aug
17044,Brooklyn,FORT GREENE,13 CONDOS - ELEVATOR APARTMENTS,2,2095,1157,R4,230 ASHLAND PLACE,18A,11217,1,0,1,0,0,0,2,R4,0,2009-08-17,2009,Aug
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
684988,Brooklyn,FORT GREENE,13 CONDOS - ELEVATOR APARTMENTS,2,2095,1168,R4,230 ASHLAND PLACE,20D,11217,1,-,1,0,0,0,2,R4,10,2016-01-11,2016,Jan
684989,Brooklyn,FORT GREENE,13 CONDOS - ELEVATOR APARTMENTS,2,2095,1181,R4,230 ASHLAND PLACE,24A,11217,1,-,1,0,0,0,2,R4,1320000,2016-08-10,2016,Aug
684990,Brooklyn,FORT GREENE,13 CONDOS - ELEVATOR APARTMENTS,2,2095,1191,R4,230 ASHLAND PLACE,26C,11217,1,-,1,0,0,0,2,R4,1250000,2016-07-27,2016,Jul
684991,Brooklyn,FORT GREENE,13 CONDOS - ELEVATOR APARTMENTS,2,2095,1203,R4,230 ASHLAND PLACE,29C,11217,1,-,1,0,0,0,2,R4,1187000,2016-03-21,2016,Mar
774748,Brooklyn,FORT GREENE,13 CONDOS - ELEVATOR APARTMENTS,2,2095,1108,R4,230 ASHLAND PLACE,4D,11217,1,0,1,0,0,0,2,R4,1095000,2017-05-01,2017,May
774749,Brooklyn,FORT GREENE,13 CONDOS - ELEVATOR APARTMENTS,2,2095,1122,R4,230 ASHLAND PLACE,8B,11217,1,0,1,0,0,0,2,R4,770000,2017-07-12,2017,Jul
774750,Brooklyn,FORT GREENE,13 CONDOS - ELEVATOR APARTMENTS,2,2095,1136,R4,230 ASHLAND PLACE,11D,11217,1,0,1,0,0,0,2,R4,1075000,2017-02-23,2017,Feb
774751,Brooklyn,FORT GREENE,13 CONDOS - ELEVATOR APARTMENTS,2,2095,1139,R4,230 ASHLAND PLACE,12C,11217,1,0,1,0,0,0,2,R4,1288000,2017-08-17,2017,Aug
774752,Brooklyn,FORT GREENE,13 CONDOS - ELEVATOR APARTMENTS,2,2095,1142,R4,230 ASHLAND PLACE,14B,11217,1,0,1,0,0,0,2,R4,740000,2017-02-14,2017,Feb
774753,Brooklyn,FORT GREENE,13 CONDOS - ELEVATOR APARTMENTS,2,2095,1145,R4,230 ASHLAND PLACE,15A,11217,1,0,1,0,0,0,2,R4,1275000,2017-03-03,2017,Mar
774754,Brooklyn,FORT GREENE,13 CONDOS - ELEVATOR APARTMENTS,2,2095,1180,R4,230 ASHLAND PLACE,23D,11217,1,0,1,0,0,0,2,R4,1251000,2017-09-26,2017,Sep
863085,Brooklyn,FORT GREENE,13 CONDOS - ELEVATOR APARTMENTS,2,2095,1107,R4,230 ASHLAND PLACE,4C,11217,1,0,1,0,0,0,2,R4,1212500,2018-01-29,2018,Jan
863086,Brooklyn,FORT GREENE,13 CONDOS - ELEVATOR APARTMENTS,2,2095,1117,R4,230 ASHLAND PLACE,7A,11217,1,0,1,0,0,0,2,R4,1710000,2018-05-09,2018,May
863087,Brooklyn,FORT GREENE,13 CONDOS - ELEVATOR APARTMENTS,2,2095,1119,R4,230 ASHLAND PLACE,7C,11217,1,0,1,0,0,0,2,R4,1270000,2018-11-19,2018,Nov
863088,Brooklyn,FORT GREENE,13 CONDOS - ELEVATOR APARTMENTS,2,2095,1124,R4,230 ASHLAND PLACE,8D,11217,1,0,1,0,0,0,2,R4,1166000,2018-06-04,2018,Jun
863089,Brooklyn,FORT GREENE,13 CONDOS - ELEVATOR APARTMENTS,2,2095,1132,R4,"230 ASHLAND PLACE, 10D",10D,11217,1,0,1,0,0,0,2,R4,0,2018-08-21,2018,Aug
863090,Brooklyn,FORT GREENE,13 CONDOS - ELEVATOR APARTMENTS,2,2095,1140,R4,230 ASHLAND PLACE,12D,11217,1,0,1,0,0,0,2,R4,0,2018-08-09,2018,Aug
863091,Brooklyn,FORT GREENE,13 CONDOS - ELEVATOR APARTMENTS,2,2095,1147,R4,230 ASHLAND PLACE,15C,11217,1,0,1,0,0,0,2,R4,219500,2018-03-16,2018,Mar
863092,Brooklyn,FORT GREENE,13 CONDOS - ELEVATOR APARTMENTS,2,2095,1168,R4,230 ASHLAND PLACE,20D,11217,1,0,1,0,0,0,2,R4,1250000,2018-08-09,2018,Aug
863093,Brooklyn,FORT GREENE,13 CONDOS - ELEVATOR APARTMENTS,2,2095,1188,R4,"230 ASHLAND PLACE, 25D",25D,11217,1,0,1,0,0,0,2,R4,10,2018-11-01,2018,Nov
954520,Brooklyn,FORT GREENE,13 CONDOS - ELEVATOR APARTMENTS,2,2095,1121,R4,"230 ASHLAND PLACE, 8A",8A,11217,0,0,0,0,0,0,2,R4,1570000,2019-07-09,2019,Jul
954521,Brooklyn,FORT GREENE,13 CONDOS - ELEVATOR APARTMENTS,2,2095,1132,R4,"230 ASHLAND PLACE, 10D",10D,11217,0,0,0,0,0,0,2,R4,1250000,2019-07-26,2019,Jul
954522,Brooklyn,FORT GREENE,13 CONDOS - ELEVATOR APARTMENTS,2,2095,1133,R4,"230 ASHLAND PLACE, 11A",11A,11217,0,0,0,0,0,0,2,R4,1600000,2019-07-02,2019,Jul
954523,Brooklyn,FORT GREENE,13 CONDOS - ELEVATOR APARTMENTS,2,2095,1144,R4,"230 ASHLAND PLACE, 14D",14D,11217,0,0,0,0,0,0,2,R4,1250000,2019-04-09,2019,Apr
954524,Brooklyn,FORT GREENE,13 CONDOS - ELEVATOR APARTMENTS,2,2095,1153,R4,"230 ASHLAND PLACE, 17A",17A,11217,0,0,0,0,0,0,2,R4,0,2019-09-27,2019,Sep
954525,Brooklyn,FORT GREENE,13 CONDOS - ELEVATOR APARTMENTS,2,2095,1158,R4,"230 ASHLAND PLACE, 18B",18B,11217,0,0,0,0,986,0,2,R4,1128000,2019-07-01,2019,Jul
954526,Brooklyn,FORT GREENE,13 CONDOS - ELEVATOR APARTMENTS,2,2095,1159,R4,"230 ASHLAND PLACE, 18C",18C,11217,0,0,0,0,0,0,2,R4,1250000,2019-05-31,2019,May
954527,Brooklyn,FORT GREENE,13 CONDOS - ELEVATOR APARTMENTS,2,2095,1162,R4,"230 ASHLAND PLACE, 19B",19B,11217,0,0,0,0,986,0,2,R4,1125000,2019-06-28,2019,Jun
954528,Brooklyn,FORT GREENE,13 CONDOS - ELEVATOR APARTMENTS,2,2095,1174,R4,"230 ASHLAND PLACE, 22B",22B,11217,0,0,0,0,986,0,2,R4,1200000,2019-01-18,2019,Jan
954529,Brooklyn,FORT GREENE,13 CONDOS - ELEVATOR APARTMENTS,2,2095,1178,R4,"230 ASHLAND PLACE, 23B",23B,11217,0,0,0,0,986,0,2,R4,1119375,2019-06-10,2019,Jun

In [742]:
combined['LAND SQUARE FEET'] = pd.to_numeric(combined['LAND SQUARE FEET'], errors='coerce')
combined['GROSS SQUARE FEET']= pd.to_numeric(combined['GROSS SQUARE FEET'], errors='coerce')

In [743]:
combined.loc[:,'LAND SQUARE FEET'] = combined.loc[:,'LAND SQUARE FEET'].fillna(0).astype(int)
combined.loc[:,'GROSS SQUARE FEET'] = combined.loc[:,'GROSS SQUARE FEET'].fillna(0).astype(int)

In [744]:
combined.loc[:,'YEAR BUILT'] = combined.loc[:,'YEAR BUILT'].fillna(0)

In [745]:
#convert sale date to datetime
combined.loc[:,'SALE DATE'] = pd.to_datetime(combined.loc[:,'SALE DATE'])

In [746]:
#extract month from datetime
#combined['SALE MONTH'] = pd.DatetimeIndex(combined['SALE DATE']).month
combined['SALE MONTH'] = combined['SALE DATE'].dt.strftime('%b')
combined.loc[:,'SALE MONTH'] = combined.loc[:,'SALE MONTH'].astype('category')

In [748]:
#residential units, commercial units, and total units are not consistent. Convert all to int.
combined.loc[:,'RESIDENTIAL UNITS'] = pd.to_numeric(combined.loc[:,'RESIDENTIAL UNITS'], errors = 'coerce')
combined.loc[:,'COMMERCIAL UNITS'] = pd.to_numeric(combined.loc[:,'COMMERCIAL UNITS'], errors = 'coerce')
combined.loc[:,'TOTAL UNITS'] = pd.to_numeric(combined.loc[:,'TOTAL UNITS'], errors = 'coerce')

In [749]:
#residential units, commercial units, and total units fillna and convert to int.
combined.loc[:,'RESIDENTIAL UNITS'] = combined.loc[:,'RESIDENTIAL UNITS'].fillna(0).astype(int)
combined.loc[:,'COMMERCIAL UNITS'] = combined.loc[:,'COMMERCIAL UNITS'].fillna(0).astype(int)
combined.loc[:,'TOTAL UNITS'] = combined.loc[:,'TOTAL UNITS'].fillna(0).astype(int)

In [750]:
combined.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 985805 entries, 0 to 985804
Data columns (total 22 columns):
BOROUGH                           985805 non-null object
NEIGHBORHOOD                      985805 non-null object
BUILDING CLASS CATEGORY           985805 non-null object
TAX CLASS AT PRESENT              985805 non-null category
BLOCK                             985805 non-null int64
LOT                               985805 non-null int64
BUILDING CLASS AT PRESENT         985805 non-null object
ADDRESS                           985798 non-null object
APARTMENT NUMBER                  241357 non-null object
ZIP CODE                          985805 non-null int64
RESIDENTIAL UNITS                 985805 non-null int64
COMMERCIAL UNITS                  985805 non-null int64
TOTAL UNITS                       985805 non-null int64
LAND SQUARE FEET                  985805 non-null int64
GROSS SQUARE FEET                 985805 non-null int64
YEAR BUILT                        985805 non-null int64
TAX CLASS AT TIME OF SALE         985805 non-null category
BUILDING CLASS AT TIME OF SALE    985805 non-null object
SALE PRICE                        985805 non-null int64
SALE DATE                         985805 non-null datetime64[ns]
SALE YEAR                         985805 non-null int64
SALE MONTH                        985805 non-null category
dtypes: category(3), datetime64[ns](1), int64(11), object(7)
memory usage: 145.7+ MB

### **Filter out non-residential transactions: office/utility/hotel buildings. Also filter out rental-only buildings: these are bought and sold by corporations and not individuals.**

In [751]:
#filter out office/utility buildings and rental buildings, sort by price descending. Looks like there are dupes.
combined = combined.loc[((combined['TAX CLASS AT TIME OF SALE'] != 4) & (combined['TAX CLASS AT TIME OF SALE'] != 3)) & (combined['BUILDING CLASS CATEGORY'].str.contains('RENTAL')==False)].sort_values('SALE PRICE', ascending = False)

**Filter out transfers (price is <= 10) and transactions under $100k**

In [752]:
#filter price
combined = combined.loc[combined['SALE PRICE'] >= 100000,]

In [797]:
#now what is left?
combined.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 560756 entries, 123734 to 942664
Data columns (total 30 columns):
BOROUGH                           560756 non-null object
NEIGHBORHOOD                      560756 non-null object
BUILDING CLASS CATEGORY           560756 non-null object
TAX CLASS AT PRESENT              560756 non-null category
BLOCK                             560756 non-null int64
LOT                               560756 non-null int64
BUILDING CLASS AT PRESENT         560756 non-null object
ADDRESS                           560755 non-null object
APARTMENT NUMBER                  137865 non-null object
ZIP CODE                          560756 non-null int64
RESIDENTIAL UNITS                 560756 non-null int64
COMMERCIAL UNITS                  560756 non-null int64
TOTAL UNITS                       560756 non-null int64
LAND SQUARE FEET                  560756 non-null int64
GROSS SQUARE FEET                 560756 non-null int64
YEAR BUILT                        560756 non-null int64
TAX CLASS AT TIME OF SALE         560756 non-null category
BUILDING CLASS AT TIME OF SALE    560756 non-null object
SALE PRICE                        560756 non-null int64
SALE DATE                         560756 non-null datetime64[ns]
SALE YEAR                         560756 non-null int64
SALE MONTH                        560756 non-null category
Type                              560756 non-null category
Construction                      560756 non-null category
Current Age                       560756 non-null int64
Sale_Year_Diff                    560756 non-null int64
Base_Address                      560755 non-null object
Building_Address                  560755 non-null object
Apt_No                            296932 non-null object
Main_Address                      560755 non-null object
dtypes: category(5), datetime64[ns](1), int64(13), object(11)
memory usage: 133.9+ MB

In [304]:
combined.sample(50)

,BOROUGH,NEIGHBORHOOD,BUILDING CLASS CATEGORY,TAX CLASS AT PRESENT,BLOCK,LOT,BUILDING CLASS AT PRESENT,ADDRESS,APARTMENT NUMBER,ZIP CODE,...,TOTAL UNITS,LAND SQUARE FEET,GROSS SQUARE FEET,YEAR BUILT,TAX CLASS AT TIME OF SALE,BUILDING CLASS AT TIME OF SALE,SALE PRICE,SALE DATE,SALE YEAR,SALE MONTH
812377,Queens,FLUSHING-NORTH,10 COOPS - ELEVATOR APARTMENTS,2,5180,15,D4,"4245 KISSENA BOULEVARD, 5P",NaN,11355,...,0,0,0,1956,2,D4,310531,2017-10-25,2017,10
931371,Manhattan,MIDTOWN EAST,13 CONDOS - ELEVATOR APARTMENTS,2,1320,1141,R4,"240 EAST 47TH STREET, 23E",23E,10017,...,0,0,0,1982,2,R4,2550000,2019-03-01,2019,3
977484,Queens,SOUTH JAMAICA,01 ONE FAMILY DWELLINGS,1,10142,50,A0,108-28 154TH STREET,NaN,11433,...,1,0,0,1921,1,A0,490000,2019-09-05,2019,9
134063,Queens,SO. JAMAICA-BAISLEY PARK,01 ONE FAMILY HOMES,1,12197,32,A9,115-54 158 STREET,NaN,11434,...,1,0,0,1960,1,A9,250000,2010-08-09,2010,8
638895,Queens,FOREST HILLS,01 ONE FAMILY DWELLINGS,1,3296,42,A5,7539 KESSEL STREET,NaN,11375,...,1,0,0,1925,1,A5,1115000,2015-04-27,2015,4
66890,Queens,ST. ALBANS,02 TWO FAMILY HOMES,1,10426,36,B3,188-25 MANGIN AVENUE,NaN,11412,...,2,0,0,1920,1,B3,578523,2009-04-03,2009,4
650523,Queens,ROSEDALE,02 TWO FAMILY DWELLINGS,1,13543,3,B3,240-05 NEWHALL AVENUE,NaN,11422,...,2,0,0,1925,1,B3,209500,2015-10-22,2015,10
165306,Brooklyn,GRAVESEND,02 TWO FAMILY HOMES,1,6673,120,B3,1832 WEST 7TH STREET,NaN,11223,...,2,0,0,1930,1,B3,490000,2008-05-07,2008,5
669156,Bronx,WAKEFIELD,01 ONE FAMILY DWELLINGS,1,5075,75,A1,4551 CARPENTER AVENUE,NaN,10470,...,1,0,0,1925,1,A1,350000,2016-03-25,2016,3
636444,Queens,FLUSHING-NORTH,10 COOPS - ELEVATOR APARTMENTS,2,4374,35,D4,"138-20 31ST ROAD, 2F",NaN,11354,...,0,0,0,1957,2,D4,255000,2015-05-13,2015,5
448999,Manhattan,UPPER WEST SIDE (79-96),13 CONDOS - ELEVATOR APARTMENTS,2,1250,1124,R4,595 WEST END AVENUE,7C,10024,...,1,0,0,0,2,R4,1990000,2013-12-05,2013,12
971936,Queens,JAMAICA ESTATES,01 ONE FAMILY DWELLINGS,1,9964,25,A2,87-02 188TH STREET,NaN,11423,...,1,0,0,1950,1,A2,850000,2019-04-18,2019,4
555831,Queens,MIDDLE VILLAGE,02 TWO FAMILY DWELLINGS,1,2812,41,B1,57-77 73RD PLACE,NaN,11378,...,2,0,0,1970,1,B1,635000,2014-01-29,2014,1
358057,Manhattan,UPPER EAST SIDE (79-96),10 COOPS - ELEVATOR APARTMENTS,2,1497,7,D4,"7 EAST 85TH STREET, 3D",NaN,10028,...,0,0,0,1928,2,D4,460000,2012-11-16,2012,11
536531,Manhattan,UPPER WEST SIDE (59-79),17 CONDO COOPS,2,1179,1008,R9,"165 WEST END AVENUE, 29P",NaN,10023,...,0,0,0,1962,2,R9,595000,2014-08-07,2014,8
44732,Queens,ARVERNE,04 TAX CLASS 1 CONDOS,1A,15931,1013,R3,133 BEACH 59 STREET,94,11692,...,1,0,0,2007,1,R3,295233,2009-08-10,2009,8
840782,Staten Island,WESTERLEIGH,01 ONE FAMILY DWELLINGS,1,1481,86,A5,31 HOME PLACE,NaN,10302,...,1,0,0,1970,1,A5,310000,2017-11-09,2017,11
719748,Queens,BELLEROSE,01 ONE FAMILY DWELLINGS,1,7964,58,A1,241-28 86TH AVE,NaN,11426,...,1,0,0,1930,1,A1,550000,2016-12-27,2016,12
708124,Manhattan,MORNINGSIDE HEIGHTS,09 COOPS - WALKUP APARTMENTS,2,1977,31,C6,"1264 AMSTERDAM AVENUE, 6B",NaN,10027,...,0,0,0,1901,2,C6,595000,2016-06-30,2016,6
861679,Brooklyn,FLATBUSH-EAST,02 TWO FAMILY DWELLINGS,1,4937,40,B1,525 EAST 37TH STREET,NaN,11203,...,2,0,0,1940,1,B1,605000,2018-11-30,2018,11
255210,Brooklyn,OCEAN PARKWAY-NORTH,02 TWO FAMILY HOMES,1,5400,72,B2,571 OCEAN PARKWAY,NaN,11218,...,2,0,0,1925,1,B2,445000,2011-01-20,2011,1
278561,Manhattan,UPPER EAST SIDE (79-96),13 CONDOS - ELEVATOR APARTMENTS,2,1513,1213,R4,171 EAST 84TH STREET,34D,10028,...,1,0,0,1987,2,R4,1100000,2011-06-29,2011,6
320397,Brooklyn,CANARSIE,02 TWO FAMILY HOMES,1,4750,12,B1,717 REMSEN AVENUE,NaN,11236,...,2,0,0,1940,1,B1,245000,2012-08-13,2012,8
448509,Manhattan,UPPER WEST SIDE (79-96),10 COOPS - ELEVATOR APARTMENTS,2,1236,3,D4,"588 WEST END AVENUE, 6A",NaN,10024,...,0,0,0,1922,2,D4,1020000,2013-03-25,2013,3
466199,Queens,LONG ISLAND CITY,13 CONDOS - ELEVATOR APARTMENTS,2,21,1019,R4,46-30 CENTER BOULEVARD,211,11109,...,1,0,0,2008,2,R4,1522283,2013-10-31,2013,10
924030,Staten Island,TOTTENVILLE,02 TWO FAMILY DWELLINGS,1,8041,86,B2,234 BREHAUT AVENUE,NaN,10307,...,2,0,0,2006,1,B2,985000,2018-09-10,2018,9
694437,Brooklyn,WILLIAMSBURG-NORTH,02 TWO FAMILY DWELLINGS,1,2327,26,S2,190 BEDFORD AVENUE,NaN,11249,...,3,0,0,1920,1,S2,13181000,2016-05-20,2016,5
540025,Queens,ASTORIA,17 CONDO COOPS,2,830,1002,R9,"21-38 35TH STREET, 5C",NaN,11105,...,0,0,0,1932,2,R9,210000,2014-01-30,2014,1
8802,Brooklyn,BOROUGH PARK,02 TWO FAMILY HOMES,1,5658,15,B2,822 52ND STREET,NaN,11220,...,2,0,0,1910,1,B2,925000,2009-08-21,2009,8
811903,Queens,FLUSHING-NORTH,05 TAX CLASS 1 VACANT LAND,1B,4410,8,V0,31-37 137TH STREET,NaN,11354,...,0,0,0,0,1,V0,10050000,2017-11-21,2017,11
332547,Brooklyn,PARK SLOPE,13 CONDOS - ELEVATOR APARTMENTS,2,981,1032,R4,343 FOURTH AVENUE,4E,11215,...,1,0,0,2006,2,R4,552500,2012-02-24,2012,2
544684,Queens,FAR ROCKAWAY,02 TWO FAMILY DWELLINGS,1,15752,48,B2,22-43 CORNAGA AVENUE,NaN,11691,...,2,0,0,2005,1,B2,569482,2014-05-27,2014,5
158987,Brooklyn,COBBLE HILL,02 TWO FAMILY HOMES,1,297,39,B1,211 CONGRESS STREET,NaN,11201,...,2,0,0,1899,1,B1,2300000,2008-10-17,2008,10
650426,Queens,ROSEDALE,01 ONE FAMILY DWELLINGS,1,13607,32,A2,139-14 254TH STREET,NaN,11422,...,1,0,0,1945,1,A2,410000,2015-04-30,2015,4
376106,Queens,JACKSON HEIGHTS,10 COOPS - ELEVATOR APARTMENTS,2,1277,12,D4,"35-24 78TH STREET, A58",NaN,11372,...,0,0,0,1938,2,D4,195000,2012-03-28,2012,3
839686,Staten Island,STAPLETON-CLIFTON,02 TWO FAMILY DWELLINGS,1,2873,104,B2,50 BURGUNDY LOOP,NaN,10304,...,2,0,0,2016,1,B2,470000,2017-02-28,2017,2
921596,Staten Island,NEW SPRINGVILLE,04 TAX CLASS 1 CONDOS,1A,2450,5036,R3,85 ELMWOOD PARK DRIVE,4,10314,...,1,0,677,1985,1,R3,235000,2018-04-26,2018,4
277439,Manhattan,UPPER EAST SIDE (59-79),17 CONDOPS,2,1448,1002,R9,"340 EAST 74TH STREET, 6D",NaN,10021,...,0,0,0,1957,2,R9,700000,2011-06-03,2011,6
363329,Manhattan,WASHINGTON HEIGHTS LOWER,13 CONDOS - ELEVATOR APARTMENTS,2,2135,1031,R4,835 RIVERSIDE DRIVE,4B,10032,...,1,0,0,0,2,R4,312000,2012-08-27,2012,8
984713,Staten Island,STAPLETON,01 ONE FAMILY DWELLINGS,1,522,96,A1,108 BOYD STREET,NaN,10304,...,1,0,0,1920,1,A1,156000,2019-08-21,2019,8
597200,Brooklyn,OCEAN HILL,03 THREE FAMILY DWELLINGS,1,1453,29,C0,1986 BERGEN STREET,NaN,11233,...,3,0,0,2004,1,C0,667000,2015-04-10,2015,4
147415,Bronx,MORRISANIA/LONGWOOD,13 CONDOS - ELEVATOR APARTMENTS,2,2381,1019,R4,837 WASHINGTON AVENUE,3G,10451,...,1,0,0,2008,2,R4,264052,2008-12-23,2008,12
912136,Queens,SO. JAMAICA-BAISLEY PARK,02 TWO FAMILY DWELLINGS,1,12012,7,B3,117-63 140TH STREET,NaN,11436,...,2,0,0,1930,1,B3,575000,2018-08-03,2018,8
939398,Bronx,BRONXDALE,10 COOPS - ELEVATOR APARTMENTS,2,4594,44,D4,"3215 OLINVILLE AVENUE, 4B",NaN,10467,...,0,0,0,1963,2,D4,180000,2019-01-17,2019,1
115133,Manhattan,UPPER WEST SIDE (59-79),13 CONDOS - ELEVATOR APARTMENTS,2,1171,3119,R4,120 RIVERSIDE BOULEVARD,3H,10069,...,1,0,0,0,2,R4,839000,2010-08-18,2010,8
480764,Staten Island,ROSEBANK,01 ONE FAMILY DWELLINGS,1,2991,52,A5,314 VIRGINIA AVENUE,NaN,10305,...,1,0,0,1994,1,A5,335000,2013-10-08,2013,10
448871,Manhattan,UPPER WEST SIDE (79-96),13 CONDOS - ELEVATOR APARTMENTS,2,1228,1109,R4,2250 BROADWAY,16D,10024,...,1,0,0,1987,2,R4,1590000,2013-02-20,2013,2
281022,Manhattan,UPPER WEST SIDE (79-96),10 COOPS - ELEVATOR APARTMENTS,2,1211,56,D4,"170 WEST 81ST STREET, 9C",NaN,10024,...,0,0,0,1927,2,D4,660000,2011-04-11,2011,4
95160,Brooklyn,PARK SLOPE,15 CONDOS - 2-10 UNIT RESIDENTIAL,2C,993,1003,R1,307 7 STREET,2L,11215,...,1,0,0,1907,2,R1,590585,2010-06-14,2010,6
859110,Brooklyn,DOWNTOWN-METROTECH,10 COOPS - ELEVATOR APARTMENTS,2,86,11,D4,"175 ADAMS STREET, 12A",NaN,11201,...,0,0,0,1950,2,D4,812500,2018-04-04,2018,4

In [1059]:
#inspect contents of building class at time of sale again to see what remains.
building_class_sale = combined.loc[:,'BUILDING CLASS AT TIME OF SALE'].unique().tolist()
#building_class_sale

In [754]:
#inspect contents of building class category again.
building_class = combined.loc[:,'BUILDING CLASS CATEGORY'].unique().tolist()
#building_class

In [755]:
#combined.loc[combined['BUILDING CLASS CATEGORY'] == '01 ONE FAMILY DWELLINGS']

**Cleanup building class to filter out any remaining non-residential buildings, and create
a 'TYPE' column to designated Condo vs. Co-op vs. Other**

In [66]:
#combined = combined.loc[combined["BUILDING CLASS CATEGORY"].str.contains('RELIGIOUS|06')==False]

In [756]:
#CREATE 'TYPE' COLUMN WHICH SHOWS THE BUILDING TYPE (CONDO VS CO-OP VS OTHER)
combined['Type'] = np.where(combined['BUILDING CLASS CATEGORY'].str.contains('CONDO COOPS|17'),\
                'Condop', np.where(combined['BUILDING CLASS CATEGORY'].str.contains('CONDO'),\
                'Condo',np.where(combined['BUILDING CLASS CATEGORY'].str.contains('DWELLING'),'Townhouse',\
                 np.where(combined['BUILDING CLASS CATEGORY'].str.contains('HOMES'),'House',\
                 np.where(combined['BUILDING CLASS CATEGORY'].str.contains('COOP'),'Co-op','Other')))))

In [757]:
combined.loc[:,'Type'] = combined.loc[:,'Type'].astype('category')

In [758]:
combined['Type'].unique().tolist()

['Condo', 'Co-op', 'Other', 'Townhouse', 'Condop', 'House']

In [759]:
combined.columns

Index(['BOROUGH', 'NEIGHBORHOOD', 'BUILDING CLASS CATEGORY',
       'TAX CLASS AT PRESENT', 'BLOCK', 'LOT', 'BUILDING CLASS AT PRESENT',
       'ADDRESS', 'APARTMENT NUMBER', 'ZIP CODE', 'RESIDENTIAL UNITS',
       'COMMERCIAL UNITS', 'TOTAL UNITS', 'LAND SQUARE FEET',
       'GROSS SQUARE FEET', 'YEAR BUILT', 'TAX CLASS AT TIME OF SALE',
       'BUILDING CLASS AT TIME OF SALE', 'SALE PRICE', 'SALE DATE',
       'SALE YEAR', 'SALE MONTH', 'Type'],
      dtype='object')

**Null value and Zero value checking**

In [760]:
#what exactly is missing?
colnames = combined.columns.tolist()

for name in colnames:
    missing = np.sum(combined.loc[:,name].isnull())
    print(name, missing)

BOROUGH 0
NEIGHBORHOOD 0
BUILDING CLASS CATEGORY 0
TAX CLASS AT PRESENT 0
BLOCK 0
LOT 0
BUILDING CLASS AT PRESENT 0
ADDRESS 1
APARTMENT NUMBER 424220
ZIP CODE 0
RESIDENTIAL UNITS 0
COMMERCIAL UNITS 0
TOTAL UNITS 0
LAND SQUARE FEET 0
GROSS SQUARE FEET 0
YEAR BUILT 0
TAX CLASS AT TIME OF SALE 0
BUILDING CLASS AT TIME OF SALE 0
SALE PRICE 0
SALE DATE 0
SALE YEAR 0
SALE MONTH 0
Type 0

In [761]:
#what has a zero value?
(combined == 0).sum(axis = 0)

BOROUGH                                0
NEIGHBORHOOD                           0
BUILDING CLASS CATEGORY                0
TAX CLASS AT PRESENT                   0
BLOCK                                  0
LOT                                    0
BUILDING CLASS AT PRESENT              0
ADDRESS                                0
APARTMENT NUMBER                       0
ZIP CODE                            2420
RESIDENTIAL UNITS                 177172
COMMERCIAL UNITS                  555288
TOTAL UNITS                       176607
LAND SQUARE FEET                  556837
GROSS SQUARE FEET                 537831
YEAR BUILT                         44563
TAX CLASS AT TIME OF SALE              0
BUILDING CLASS AT TIME OF SALE         0
SALE PRICE                             0
SALE DATE                              0
SALE YEAR                              0
SALE MONTH                             0
Type                                   0
dtype: int64

In [686]:
#Check out what the building type is for rows that have 0 sq feet.
#combined.loc[(combined['LAND SQUARE FEET'] == 0)|(combined['GROSS SQUARE FEET'] ==0)].sample(50)

**Calculate age of building and categorize as war vs. pre-war**

In [795]:
combined['Construction'] = np.where((combined['YEAR BUILT'] >= 1898) & (combined['YEAR BUILT'] <= 1939),'Prewar',\
                           np.where((combined['YEAR BUILT'] >= 1940) & (combined['YEAR BUILT'] <= 1950),'War',\
                           np.where((combined['YEAR BUILT'] > 0) & (combined['YEAR BUILT'] < 1898),'Pre-prewar','Postwar')))

In [796]:
combined.loc[:,'Construction'] = combined.loc[:,'Construction'].astype('category')

In [763]:
combined['Current Age'] = np.where(((2019 - combined['YEAR BUILT']) == 2019), 0, (2019 - combined['YEAR BUILT']))

In [764]:
#purchase year vs. year built
combined['Sale_Year_Diff'] = np.where((combined['YEAR BUILT'] == 0), 0, combined['SALE YEAR'] - combined['YEAR BUILT'])

In [767]:
#combined.sample(250)

**Remove rows that are complete duplicates of each other (below returns only duplicates)**

In [768]:
dupes = combined.duplicated()
combined[dupes]

,BOROUGH,NEIGHBORHOOD,BUILDING CLASS CATEGORY,TAX CLASS AT PRESENT,BLOCK,LOT,BUILDING CLASS AT PRESENT,ADDRESS,APARTMENT NUMBER,ZIP CODE,RESIDENTIAL UNITS,COMMERCIAL UNITS,TOTAL UNITS,LAND SQUARE FEET,GROSS SQUARE FEET,YEAR BUILT,TAX CLASS AT TIME OF SALE,BUILDING CLASS AT TIME OF SALE,SALE PRICE,SALE DATE,SALE YEAR,SALE MONTH,Type,Construction,Current Age,Sale_Year_Diff
883416,Manhattan,UPPER EAST SIDE (59-79),09 COOPS - WALKUP APARTMENTS,2,1431,1,C6,1329 3 AVENUE,NaN,10075,0,0,0,0,0,1910,2,C6,163555828,2018-08-03,2018,Aug,Co-op,Prewar,109,108
930786,Manhattan,MIDTOWN CBD,13 CONDOS - ELEVATOR APARTMENTS,2,1292,1455,R4,"432 PARK AVENUE, 94",94,10022,0,0,0,0,0,2012,2,R4,31501890,2019-06-21,2019,Jun,Condo,Postwar,7,7
930790,Manhattan,MIDTOWN CBD,13 CONDOS - ELEVATOR APARTMENTS,2,1292,1456,R4,"432 PARK AVENUE, 95",95,10022,0,0,0,0,0,2012,2,R4,30691657,2019-01-29,2019,Jan,Condo,Postwar,7,7
954801,Brooklyn,GOWANUS,13 CONDOS - ELEVATOR APARTMENTS,2,1046,1025,R4,"554 4 AVENUE, 7E",7E,11215,0,0,0,0,726,2017,2,R4,29620207,2019-04-08,2019,Apr,Condo,Postwar,2,2
954826,Brooklyn,GOWANUS,13 CONDOS - ELEVATOR APARTMENTS,2,1046,1038,R4,"554 4 AVENUE, 10C",10C,11215,0,0,0,0,0,2017,2,R4,29620207,2019-04-08,2019,Apr,Condo,Postwar,2,2
954798,Brooklyn,GOWANUS,13 CONDOS - ELEVATOR APARTMENTS,2,1046,1024,R4,"554 4 AVENUE, 7D",7D,11215,0,0,0,0,699,2017,2,R4,29620207,2019-04-08,2019,Apr,Condo,Postwar,2,2
954797,Brooklyn,GOWANUS,13 CONDOS - ELEVATOR APARTMENTS,2,1046,1023,R4,"554 4 AVENUE, 7C",7C,11215,0,0,0,0,733,2017,2,R4,29620207,2019-04-08,2019,Apr,Condo,Postwar,2,2
954794,Brooklyn,GOWANUS,13 CONDOS - ELEVATOR APARTMENTS,2,1046,1022,R4,"554 4 AVENUE, 7B",7B,11215,0,0,0,0,661,2017,2,R4,29620207,2019-04-08,2019,Apr,Condo,Postwar,2,2
954792,Brooklyn,GOWANUS,13 CONDOS - ELEVATOR APARTMENTS,2,1046,1021,R4,"554 4 AVENUE, 7A",7A,11215,0,0,0,0,698,2017,2,R4,29620207,2019-04-08,2019,Apr,Condo,Postwar,2,2
954825,Brooklyn,GOWANUS,13 CONDOS - ELEVATOR APARTMENTS,2,1046,1037,R4,"554 4 AVENUE, 10B",10B,11215,0,0,0,0,0,2017,2,R4,29620207,2019-04-08,2019,Apr,Condo,Postwar,2,2
954806,Brooklyn,GOWANUS,13 CONDOS - ELEVATOR APARTMENTS,2,1046,1028,R4,"554 4 AVENUE, 8C",8C,11215,0,0,0,0,721,2017,2,R4,29620207,2019-04-08,2019,Apr,Condo,Postwar,2,2
954804,Brooklyn,GOWANUS,13 CONDOS - ELEVATOR APARTMENTS,2,1046,1027,R4,"554 4 AVENUE, 8B",8B,11215,0,0,0,0,661,2017,2,R4,29620207,2019-04-08,2019,Apr,Condo,Postwar,2,2
954812,Brooklyn,GOWANUS,13 CONDOS - ELEVATOR APARTMENTS,2,1046,1031,R4,"554 4 AVENUE, 9A",9A,11215,0,0,0,0,698,2017,2,R4,29620207,2019-04-08,2019,Apr,Condo,Postwar,2,2
954822,Brooklyn,GOWANUS,13 CONDOS - ELEVATOR APARTMENTS,2,1046,1036,R4,"554 4 AVENUE, 10A",10A,11215,0,0,0,0,0,2017,2,R4,29620207,2019-04-08,2019,Apr,Condo,Postwar,2,2
954802,Brooklyn,GOWANUS,13 CONDOS - ELEVATOR APARTMENTS,2,1046,1026,R4,"554 4 AVENUE, 8A",8A,11215,0,0,0,0,698,2017,2,R4,29620207,2019-04-08,2019,Apr,Condo,Postwar,2,2
954815,Brooklyn,GOWANUS,13 CONDOS - ELEVATOR APARTMENTS,2,1046,1032,R4,"554 4 AVENUE, 9B",9B,11215,0,0,0,0,661,2017,2,R4,29620207,2019-04-08,2019,Apr,Condo,Postwar,2,2
954816,Brooklyn,GOWANUS,13 CONDOS - ELEVATOR APARTMENTS,2,1046,1033,R4,"554 4 AVENUE, 9C",9C,11215,0,0,0,0,733,2017,2,R4,29620207,2019-04-08,2019,Apr,Condo,Postwar,2,2
954819,Brooklyn,GOWANUS,13 CONDOS - ELEVATOR APARTMENTS,2,1046,1034,R4,"554 4 AVENUE, 9D",9D,11215,0,0,0,0,699,2017,2,R4,29620207,2019-04-08,2019,Apr,Condo,Postwar,2,2
954821,Brooklyn,GOWANUS,13 CONDOS - ELEVATOR APARTMENTS,2,1046,1035,R4,"554 4 AVENUE, 9E",9E,11215,0,0,0,0,726,2017,2,R4,29620207,2019-04-08,2019,Apr,Condo,Postwar,2,2
954790,Brooklyn,GOWANUS,13 CONDOS - ELEVATOR APARTMENTS,2,1046,1020,R4,"554 4 AVENUE, 6E",6E,11215,0,0,0,0,726,2017,2,R4,29620207,2019-04-08,2019,Apr,Condo,Postwar,2,2
954829,Brooklyn,GOWANUS,13 CONDOS - ELEVATOR APARTMENTS,2,1046,1039,R4,"554 4 AVENUE, 11A",11A,11215,0,0,0,0,0,2017,2,R4,29620207,2019-04-08,2019,Apr,Condo,Postwar,2,2
954757,Brooklyn,GOWANUS,13 CONDOS - ELEVATOR APARTMENTS,2,1046,1003,R4,"554 4 AVENUE, 3C",3C,11215,0,0,0,0,799,2017,2,R4,29620207,2019-04-08,2019,Apr,Condo,Postwar,2,2
954759,Brooklyn,GOWANUS,13 CONDOS - ELEVATOR APARTMENTS,2,1046,1004,R4,"554 4 AVENUE, 3D",3D,11215,0,0,0,0,824,2017,2,R4,29620207,2019-04-08,2019,Apr,Condo,Postwar,2,2
954760,Brooklyn,GOWANUS,13 CONDOS - ELEVATOR APARTMENTS,2,1046,1005,R4,"554 4 AVENUE, 3E",3E,11215,0,0,0,0,643,2017,2,R4,29620207,2019-04-08,2019,Apr,Condo,Postwar,2,2
954772,Brooklyn,GOWANUS,13 CONDOS - ELEVATOR APARTMENTS,2,1046,1011,R4,"554 4 AVENUE, 5A",5A,11215,0,0,0,0,698,2017,2,R4,29620207,2019-04-08,2019,Apr,Condo,Postwar,2,2
954763,Brooklyn,GOWANUS,13 CONDOS - ELEVATOR APARTMENTS,2,1046,1006,R4,"554 4 AVENUE, 4A",4A,11215,0,0,0,0,698,2017,2,R4,29620207,2019-04-08,2019,Apr,Condo,Postwar,2,2
954765,Brooklyn,GOWANUS,13 CONDOS - ELEVATOR APARTMENTS,2,1046,1007,R4,"554 4 AVENUE, 4B",4B,11215,0,0,0,0,661,2017,2,R4,29620207,2019-04-08,2019,Apr,Condo,Postwar,2,2
954767,Brooklyn,GOWANUS,13 CONDOS - ELEVATOR APARTMENTS,2,1046,1008,R4,"554 4 AVENUE, 4C",4C,11215,0,0,0,0,721,2017,2,R4,29620207,2019-04-08,2019,Apr,Condo,Postwar,2,2
954770,Brooklyn,GOWANUS,13 CONDOS - ELEVATOR APARTMENTS,2,1046,1010,R4,"554 4 AVENUE, 4E",4E,11215,0,0,0,0,726,2017,2,R4,29620207,2019-04-08,2019,Apr,Condo,Postwar,2,2
954769,Brooklyn,GOWANUS,13 CONDOS - ELEVATOR APARTMENTS,2,1046,1009,R4,"554 4 AVENUE, 4D",4D,11215,0,0,0,0,728,2017,2,R4,29620207,2019-04-08,2019,Apr,Condo,Postwar,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
223301,Queens,SO. JAMAICA-BAISLEY PARK,01 ONE FAMILY HOMES,1,12106,65,A1,147-09 130TH AVENUE,NaN,11436,1,0,1,0,916,1920,1,A1,125000,2008-01-22,2008,Jan,House,Prewar,99,88
888342,Manhattan,UPPER WEST SIDE (79-96),10 COOPS - ELEVATOR APARTMENTS,2,1195,29,D4,211 CENTRAL PARK WEST,NaN,10024,0,0,0,0,0,1929,2,D4,124347,2018-12-04,2018,Dec,Co-op,Prewar,90,89
94296,Brooklyn,OCEAN PARKWAY-SOUTH,02 TWO FAMILY HOMES,1,7127,1,B1,2117 WEST STREET,NaN,11223,2,0,2,0,0,1930,1,B1,122132,2010-11-09,2010,Nov,House,Prewar,89,80
94305,Brooklyn,OCEAN PARKWAY-SOUTH,02 TWO FAMILY HOMES,1,7127,1,B1,2117 WEST STREET,NaN,11223,2,0,2,0,0,1930,1,B1,122132,2010-11-09,2010,Nov,House,Prewar,89,80
839057,Staten Island,ROSSVILLE,04 TAX CLASS 1 CONDOS,1A,7055,1115,R3,14 MEADOW COURT,NaN,10309,1,0,1,0,0,1985,1,R3,121500,2017-10-03,2017,Oct,Condo,Postwar,34,32
883701,Manhattan,UPPER EAST SIDE (59-79),10 COOPS - ELEVATOR APARTMENTS,2,1401,20,D4,131 EAST 66TH STREET,NaN,10065,0,0,0,0,0,1907,2,D4,120000,2018-03-29,2018,Mar,Co-op,Prewar,112,111
443758,Manhattan,UPPER EAST SIDE (59-79),17 CONDO COOPS,2,1409,1103,R9,"1040 LEXINGTON AVENUE, 9B",NaN,10021,0,0,0,0,0,1929,2,R9,119000,2013-04-29,2013,Apr,Condop,Prewar,90,84
19730,Brooklyn,MIDWOOD,10 COOPS - ELEVATOR APARTMENTS,2,7682,16,D4,"2821 KINGS HIGHWAY, 2N",NaN,11229,0,0,0,0,0,1950,2,D4,118000,2009-09-10,2009,Sep,Co-op,War,69,59
673179,Brooklyn,BENSONHURST,02 TWO FAMILY DWELLINGS,1,6295,16,B2,1624 81ST STREET,NaN,11214,2,0,2,0,0,1945,1,B2,116346,2016-06-27,2016,Jun,Townhouse,War,74,71
315560,Brooklyn,BEDFORD STUYVESANT,03 THREE FAMILY HOMES,1,1639,55,C0,519 MADISON STREET,NaN,11221,3,0,3,0,0,1910,1,C0,116250,2012-01-25,2012,Jan,House,Prewar,109,102
58214,Queens,LAURELTON,09 COOPS - WALKUP APARTMENTS,2,12945,2,C6,"131-60 LAURELTON PARKWAY, UPPER",NaN,11422,0,0,0,0,0,1950,2,C6,115000,2009-10-22,2009,Oct,Co-op,War,69,59
976200,Queens,RICHMOND HILL,06 TAX CLASS 1 - OTHER,1,9615,14,G0,107-16 VAN WYCK EXPRESSWAY,NaN,11419,0,0,0,0,0,1950,1,G0,115000,2019-05-06,2019,May,Other,War,69,69
478348,Staten Island,GREAT KILLS-BAY TERRACE,09 COOPS - WALKUP APARTMENTS,2,5090,35,C6,"24 BAY TERRACE, 1C",NaN,10306,0,0,0,0,0,1977,2,C6,115000,2013-11-04,2013,Nov,Co-op,Postwar,42,36
722285,Queens,ELMHURST,02 TWO FAMILY DWELLINGS,1,1353,41,B9,42-18 74TH STREET,NaN,11373,2,0,2,0,0,1931,1,B9,112857,2016-03-11,2016,Mar,Townhouse,Prewar,88,85
722286,Queens,ELMHURST,02 TWO FAMILY DWELLINGS,1,1353,41,B9,42-18 74TH STREET,NaN,11373,2,0,2,0,0,1931,1,B9,112857,2016-03-11,2016,Mar,Townhouse,Prewar,88,85
722282,Queens,ELMHURST,02 TWO FAMILY DWELLINGS,1,1353,41,B9,42-18 74TH STREET,NaN,11373,2,0,2,0,0,1931,1,B9,112857,2016-03-11,2016,Mar,Townhouse,Prewar,88,85
722283,Queens,ELMHURST,02 TWO FAMILY DWELLINGS,1,1353,41,B9,42-18 74TH STREET,NaN,11373,2,0,2,0,0,1931,1,B9,112857,2016-03-11,2016,Mar,Townhouse,Prewar,88,85
722288,Queens,ELMHURST,02 TWO FAMILY DWELLINGS,1,1353,41,B9,42-18 74TH STREET,NaN,11373,2,0,2,0,0,1931,1,B9,112857,2016-03-11,2016,Mar,Townhouse,Prewar,88,85
722287,Queens,ELMHURST,02 TWO FAMILY DWELLINGS,1,1353,41,B9,42-18 74TH STREET,NaN,11373,2,0,2,0,0,1931,1,B9,112857,2016-03-11,2016,Mar,Townhouse,Prewar,88,85
471715,Queens,SO. JAMAICA-BAISLEY PARK,01 ONE FAMILY DWELLINGS,1,11980,52,A1,114-29 149TH STREET,NaN,11436,1,0,1,0,0,1925,1,A1,111000,2013-12-05,2013,Dec,Townhouse,Prewar,94,88
70907,Staten Island,HUGUENOT,02 TWO FAMILY HOMES,1,6315,30,B2,500 SHELDON AVENUE,NaN,10312,2,0,2,0,0,1992,1,B2,108371,2009-03-10,2009,Mar,House,Postwar,27,17
306533,Staten Island,NEW DORP-HEIGHTS,02 TWO FAMILY HOMES,1,945,17,B2,21 WALNUT PLACE,NaN,10306,2,0,2,0,0,1920,1,B2,108333,2011-03-30,2011,Mar,House,Prewar,99,91
306532,Staten Island,NEW DORP-HEIGHTS,02 TWO FAMILY HOMES,1,945,17,B2,21 WALNUT PLACE,NaN,10306,2,0,2,0,0,1920,1,B2,108333,2011-03-30,2011,Mar,House,Prewar,99,91
135178,Queens,SOUTH JAMAICA,05 TAX CLASS 1 VACANT LAND,1B,10259,51,V0,175-18 REX ROAD,NaN,11433,0,0,0,0,0,0,1,V0,106916,2010-01-22,2010,Jan,Other,Postwar,0,0
416682,Brooklyn,OCEAN HILL,02 TWO FAMILY DWELLINGS,1,1517,46,B9,451 MARION STREET,NaN,11233,2,0,2,0,0,1905,1,B9,103333,2013-02-14,2013,Feb,Townhouse,Prewar,114,108
287986,Queens,FLUSHING-NORTH,01 ONE FAMILY HOMES,1,5249,66,A2,33-46 165 STREET,NaN,11358,1,0,1,0,0,1950,1,A2,100000,2011-02-07,2011,Feb,House,War,69,61
306453,Staten Island,NEW DORP-BEACH,01 ONE FAMILY HOMES,1,4082,16,A1,45 MAPLE TERRACE,NaN,10306,1,0,1,0,924,1925,1,A1,100000,2011-11-22,2011,Nov,House,Prewar,94,86
327460,Brooklyn,GERRITSEN BEACH,01 ONE FAMILY HOMES,1,8827,38,A5,2442 GERRITSEN AVENUE,NaN,11229,1,0,1,0,0,1960,1,A5,100000,2012-09-28,2012,Sep,House,Postwar,59,52
277865,Manhattan,UPPER EAST SIDE (79-96),10 COOPS - ELEVATOR APARTMENTS,2,1500,40,D4,"1088 PARK AVENUE, 8C",NaN,10128,0,0,0,0,0,1925,2,D4,100000,2011-10-21,2011,Oct,Co-op,Prewar,94,86
126046,Queens,GLENDALE,01 ONE FAMILY HOMES,1,3716,33,A1,78-28 64TH STREET,NaN,11385,1,0,1,0,0,1930,1,A1,100000,2010-10-09,2010,Oct,House,Prewar,89,80

In [769]:
#number of dupes
sum(dupes)

1739

In [770]:
combined.drop_duplicates(inplace = True)

In [771]:
combined.shape

(561204, 26)

## **Address Processing**

In [318]:
#take away extra spaces that may be in some rows under ADDRESS
#combined['ADDRESS'] = combined['ADDRESS'].str.strip()

In [772]:
combined = combined.loc[combined["NEIGHBORHOOD"].str.contains('UNKNOWN')==False]

In [773]:
combined['Base_Address'] = np.where(combined['ADDRESS'].str.contains(',NY,NY|.NY,NY|,NY'),combined['ADDRESS'].str.split(',').str[0],combined['ADDRESS'])
#test1['addresstest'] = np.where(test1['ADDRESS'].str.contains('.NY'),test1['ADDRESS'].str.split('.').str[0],test1['ADDRESS'])

In [774]:
combined['Base_Address'] = combined['Base_Address'].str.strip().str.replace('NY,NY| NY,NY|NY, NY|, NY|NY, N|NY','', regex = True)

In [775]:
combined['Base_Address'] = np.where(combined['Base_Address'].str.contains('.NY'),combined['Base_Address'].str.split('.').str[0],combined['Base_Address'])

In [776]:
combined['Base_Address'] = np.where(combined['Base_Address'].str.contains('STREET') == False, combined['Base_Address'].str.strip().str.replace('ST.',' STREET', regex = False),combined['Base_Address'])

In [777]:
combined['Base_Address'] = np.where(combined['Base_Address'].str.contains('STREET') == False, combined['Base_Address'].str.strip().str.replace(' ST',' STREET', regex = False),combined['Base_Address'])

In [778]:
#Base_Address will be used to populate Building Address (excludes Apt. No) and Main_Address, which
#is either Building Address or Building Address plus Apt. No (which was extracted from either the Address
#or Apartment Number columns, whichever contained. If both contained, Apartment Number has the priority.
#this will be used for apartment sales filtering later on.

combined['Building_Address'] = combined['Base_Address'].str.split(',').str[0].str.strip()
combined['Apt_No'] = combined['Base_Address'].str.split(',').str[1]
combined['Apt_No'][combined['Apt_No'].isnull()] = combined['APARTMENT NUMBER'][combined['Apt_No'].isnull()]
combined['Apt_No'][(combined['Apt_No'].isnull()) | (combined['Apt_No'] =='nan')] = ''
combined['Main_Address'] = (combined['Building_Address'] + ', ' + combined['Apt_No']).str.rstrip(', ')

#back to null
combined['Apt_No'][combined['Apt_No']=='']=np.nan

//anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

//anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':
//anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  del sys.path[0]

In [798]:
combined.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 560756 entries, 123734 to 942664
Data columns (total 30 columns):
BOROUGH                           560756 non-null object
NEIGHBORHOOD                      560756 non-null object
BUILDING CLASS CATEGORY           560756 non-null object
TAX CLASS AT PRESENT              560756 non-null category
BLOCK                             560756 non-null int64
LOT                               560756 non-null int64
BUILDING CLASS AT PRESENT         560756 non-null object
ADDRESS                           560755 non-null object
APARTMENT NUMBER                  137865 non-null object
ZIP CODE                          560756 non-null int64
RESIDENTIAL UNITS                 560756 non-null int64
COMMERCIAL UNITS                  560756 non-null int64
TOTAL UNITS                       560756 non-null int64
LAND SQUARE FEET                  560756 non-null int64
GROSS SQUARE FEET                 560756 non-null int64
YEAR BUILT                        560756 non-null int64
TAX CLASS AT TIME OF SALE         560756 non-null category
BUILDING CLASS AT TIME OF SALE    560756 non-null object
SALE PRICE                        560756 non-null int64
SALE DATE                         560756 non-null datetime64[ns]
SALE YEAR                         560756 non-null int64
SALE MONTH                        560756 non-null category
Type                              560756 non-null category
Construction                      560756 non-null category
Current Age                       560756 non-null int64
Sale_Year_Diff                    560756 non-null int64
Base_Address                      560755 non-null object
Building_Address                  560755 non-null object
Apt_No                            296932 non-null object
Main_Address                      560755 non-null object
dtypes: category(5), datetime64[ns](1), int64(13), object(11)
memory usage: 133.9+ MB

In [799]:
#EXPORT TO CSV FOR TREATMENT IN R
combined.to_csv('combined.csv', index_label = 'Index')

**Filter for Apartment Buildings/homes with multiple transactions throughout the years**

In [780]:
buildings = combined.duplicated(subset = 'Building_Address', keep = False)
combined[buildings].head(150)

,BOROUGH,NEIGHBORHOOD,BUILDING CLASS CATEGORY,TAX CLASS AT PRESENT,BLOCK,LOT,BUILDING CLASS AT PRESENT,ADDRESS,APARTMENT NUMBER,ZIP CODE,RESIDENTIAL UNITS,COMMERCIAL UNITS,TOTAL UNITS,LAND SQUARE FEET,GROSS SQUARE FEET,YEAR BUILT,TAX CLASS AT TIME OF SALE,BUILDING CLASS AT TIME OF SALE,SALE PRICE,SALE DATE,SALE YEAR,SALE MONTH,Type,Construction,Current Age,Sale_Year_Diff,Base_Address,Building_Address,Apt_No,Main_Address
123734,Queens,FLUSHING-NORTH,13 CONDOS - ELEVATOR APARTMENTS,2,5066,1001,R4,40-22 COLLEGE POINT BLVD,6A,11354,1,0,1,0,0,0,2,R4,430128304,2010-06-28,2010,Jun,Condo,Postwar,0,0,40-22 COLLEGE POINT BLVD,40-22 COLLEGE POINT BLVD,6A,"40-22 COLLEGE POINT BLVD, 6A"
524340,Manhattan,MIDTOWN WEST,10 COOPS - ELEVATOR APARTMENTS,2,1009,29,D4,100 WEST 57TH STREET,NaN,10019,324,4,328,0,0,1962,2,D4,261000000,2014-11-05,2014,Nov,Co-op,Postwar,57,52,100 WEST 57TH STREET,100 WEST 57TH STREET,NaN,100 WEST 57TH STREET
931990,Manhattan,MIDTOWN WEST,13 CONDOS - ELEVATOR APARTMENTS,2,1030,1082,R4,"220 CENTRAL PARK SOUTH, 50",50,10019,0,0,0,0,0,2015,2,R4,239958219,2019-01-23,2019,Jan,Condo,Postwar,4,4,"220 CENTRAL PARK SOUTH, 50",220 CENTRAL PARK SOUTH,50,"220 CENTRAL PARK SOUTH, 50"
101128,Manhattan,FINANCIAL,13 CONDOS - ELEVATOR APARTMENTS,2,25,1401,R4,15 WILLIAM STREET,3M,10004,1,0,1,0,0,2005,2,R4,184414937,2010-12-01,2010,Dec,Condo,Postwar,14,5,15 WILLIAM STREET,15 WILLIAM STREET,3M,"15 WILLIAM STREET, 3M"
883415,Manhattan,UPPER EAST SIDE (59-79),09 COOPS - WALKUP APARTMENTS,2,1431,1,C6,1329 3 AVENUE,NaN,10075,0,0,0,0,0,1910,2,C6,163555828,2018-08-03,2018,Aug,Co-op,Prewar,109,108,1329 3 AVENUE,1329 3 AVENUE,NaN,1329 3 AVENUE
521557,Manhattan,KIPS BAY,13 CONDOS - ELEVATOR APARTMENTS,2,943,1002,R4,330 EAST 38TH STREET,5A,10016,1,0,1,0,0,1989,2,R4,147000000,2014-08-14,2014,Aug,Condo,Postwar,30,25,330 EAST 38TH STREET,330 EAST 38TH STREET,5A,"330 EAST 38TH STREET, 5A"
709098,Manhattan,SOHO,16 CONDOS - 2-10 UNIT WITH COMMERCIAL UNIT,2C,500,1301,R8,139 SPRING STREET,1,10012,0,1,1,0,0,0,2,R8,115388000,2016-01-15,2016,Jan,Condo,Postwar,0,0,139 SPRING STREET,139 SPRING STREET,1,"139 SPRING STREET, 1"
708862,Manhattan,SOHO,10 COOPS - ELEVATOR APARTMENTS,2,485,21,D4,"106 SPRING ST, GF #1",NaN,10012,0,0,0,0,0,1900,2,D4,105420000,2016-04-06,2016,Apr,Co-op,Prewar,119,116,"106 SPRING STREET, GF #1",106 SPRING STREET,GF #1,"106 SPRING STREET, GF #1"
524642,Manhattan,MIDTOWN WEST,13 CONDOS - ELEVATOR APARTMENTS,2,1010,1698,R4,157 WEST 57TH STREET,90,10019,1,0,1,0,0,2009,2,R4,100471452,2014-12-23,2014,Dec,Condo,Postwar,10,5,157 WEST 57TH STREET,157 WEST 57TH STREET,90,"157 WEST 57TH STREET, 90"
202094,Queens,ASTORIA,10 COOPS - ELEVATOR APARTMENTS,2,890,1,D4,19-19 24TH AVENUE,NaN,11102,0,0,0,0,0,1920,2,D4,100139400,2008-02-06,2008,Feb,Co-op,Prewar,99,88,19-19 24TH AVENUE,19-19 24TH AVENUE,NaN,19-19 24TH AVENUE
714339,Manhattan,UPPER WEST SIDE (59-79),13 CONDOS - ELEVATOR APARTMENTS,2,1170,1105,R4,2211 BROADWAY,3A,10024,1,0,1,0,0,1908,2,R4,98525704,2016-09-07,2016,Sep,Condo,Prewar,111,108,2211 BROADWAY,2211 BROADWAY,3A,"2211 BROADWAY, 3A"
514842,Manhattan,CHELSEA,10 COOPS - ELEVATOR APARTMENTS,2,799,35,D4,101 WEST 23RD STREET,NaN,10011,80,4,84,0,0,1958,2,D4,95000000,2014-07-10,2014,Jul,Co-op,Postwar,61,56,101 WEST 23RD STREET,101 WEST 23RD STREET,NaN,101 WEST 23RD STREET
613760,Manhattan,MIDTOWN WEST,13 CONDOS - ELEVATOR APARTMENTS,2,1010,1686,R4,157 WEST 57TH STREET,75,10019,1,0,1,0,0,2009,2,R4,91541053,2015-03-27,2015,Mar,Condo,Postwar,10,6,157 WEST 57TH STREET,157 WEST 57TH STREET,75,"157 WEST 57TH STREET, 75"
792500,Manhattan,MIDTOWN CBD,13 CONDOS - ELEVATOR APARTMENTS,2,1292,1453,R4,432 PARK AVENUE,92,10022,1,0,1,0,0,2012,2,R4,91125497,2017-12-18,2017,Dec,Condo,Postwar,7,5,432 PARK AVENUE,432 PARK AVENUE,92,"432 PARK AVENUE, 92"
360423,Manhattan,UPPER WEST SIDE (59-79),13 CONDOS - ELEVATOR APARTMENTS,2,1114,1533,R4,15 CENTRAL PARK WEST,PH20,10023,1,0,1,0,0,2005,2,R4,88000000,2012-02-15,2012,Feb,Condo,Postwar,14,7,15 CENTRAL PARK WEST,15 CENTRAL PARK WEST,PH20,"15 CENTRAL PARK WEST, PH20"
703567,Manhattan,MIDTOWN CBD,13 CONDOS - ELEVATOR APARTMENTS,2,1292,1457,R4,432 PARK AVENUE,96,10022,1,0,1,0,0,2012,2,R4,87660898,2016-09-09,2016,Sep,Condo,Postwar,7,4,432 PARK AVENUE,432 PARK AVENUE,96,"432 PARK AVENUE, 96"
932831,Manhattan,SOHO,10 COOPS - ELEVATOR APARTMENTS,2,485,21,D4,"106 SPRING STREET, 1",NaN,10012,0,0,0,0,0,1900,2,D4,79451009,2019-04-05,2019,Apr,Co-op,Prewar,119,119,"106 SPRING STREET, 1",106 SPRING STREET,1,"106 SPRING STREET, 1"
620609,Manhattan,UPPER EAST SIDE (59-79),10 COOPS - ELEVATOR APARTMENTS,2,1379,1,D4,"834 FIFTH AVENUE, 1112A",NaN,10065,0,0,0,0,0,1931,2,D4,77500000,2015-03-16,2015,Mar,Co-op,Prewar,88,84,"834 FIFTH AVENUE, 1112A",834 FIFTH AVENUE,1112A,"834 FIFTH AVENUE, 1112A"
791233,Manhattan,INWOOD,10 COOPS - ELEVATOR APARTMENTS,2,2215,42,D4,150 WEST 225 STREET,NaN,10463,0,0,0,0,0,1972,2,D4,75000000,2017-12-15,2017,Dec,Co-op,Postwar,47,45,150 WEST 225 STREET,150 WEST 225 STREET,NaN,150 WEST 225 STREET
791234,Manhattan,INWOOD,10 COOPS - ELEVATOR APARTMENTS,2,2215,42,D4,150 WEST 225 STREET,NaN,10463,318,0,318,0,0,1972,2,D4,75000000,2017-12-15,2017,Dec,Co-op,Postwar,47,45,150 WEST 225 STREET,150 WEST 225 STREET,NaN,150 WEST 225 STREET
884307,Manhattan,UPPER EAST SIDE (59-79),13 CONDOS - ELEVATOR APARTMENTS,2,1375,1441,R4,520 PARK AVENUE,DPH60,10022,1,0,1,0,0,2015,2,R4,73800000,2018-11-19,2018,Nov,Condo,Postwar,4,3,520 PARK AVENUE,520 PARK AVENUE,DPH60,"520 PARK AVENUE, DPH60"
349476,Manhattan,MIDTOWN WEST,13 CONDOS - ELEVATOR APARTMENTS,2,1274,1210,R4,50 CENTRAL PARK SOUTH,30/31,10019,1,0,1,0,0,0,2,R4,70000000,2012-06-11,2012,Jun,Condo,Postwar,0,0,50 CENTRAL PARK SOUTH,50 CENTRAL PARK SOUTH,30/31,"50 CENTRAL PARK SOUTH, 30/31"
531339,Manhattan,UPPER EAST SIDE (59-79),10 COOPS - ELEVATOR APARTMENTS,2,1392,1,D4,"960 FIFTH AVENUE, PHB",NaN,10075,0,0,0,0,0,1927,2,D4,70000000,2014-05-30,2014,May,Co-op,Prewar,92,87,"960 FIFTH AVENUE, PHB",960 FIFTH AVENUE,PHB,"960 FIFTH AVENUE, PHB"
884305,Manhattan,UPPER EAST SIDE (59-79),13 CONDOS - ELEVATOR APARTMENTS,2,1375,1438,R4,520 PARK AVENUE,DPH56,10022,1,0,1,0,0,2015,2,R4,67921052,2018-12-20,2018,Dec,Condo,Postwar,4,3,520 PARK AVENUE,520 PARK AVENUE,DPH56,"520 PARK AVENUE, DPH56"
342615,Manhattan,GREENWICH VILLAGE-WEST,13 CONDOS - ELEVATOR APARTMENTS,2,601,1002,R4,421 HUDSON STREET,201,10014,1,0,1,0,0,1920,2,R4,67602825,2012-01-18,2012,Jan,Condo,Prewar,99,92,421 HUDSON STREET,421 HUDSON STREET,201,"421 HUDSON STREET, 201"
620581,Manhattan,UPPER EAST SIDE (59-79),10 COOPS - ELEVATOR APARTMENTS,2,1374,1,D4,"781 FIFTH AVENUE, 1801",NaN,10022,0,0,0,0,0,1928,2,D4,67500000,2015-03-06,2015,Mar,Co-op,Prewar,91,87,"781 FIFTH AVENUE, 1801",781 FIFTH AVENUE,1801,"781 FIFTH AVENUE, 1801"
931997,Manhattan,MIDTOWN WEST,13 CONDOS - ELEVATOR APARTMENTS,2,1030,1117,R4,"220 CENTRAL PARK SOUTH, PH16",PH16,10019,0,0,0,0,0,2015,2,R4,65750000,2019-07-16,2019,Jul,Condo,Postwar,4,4,"220 CENTRAL PARK SOUTH, PH16",220 CENTRAL PARK SOUTH,PH16,"220 CENTRAL PARK SOUTH, PH16"
792497,Manhattan,MIDTOWN CBD,13 CONDOS - ELEVATOR APARTMENTS,2,1292,1446,R4,432 PARK AVENUE,85,10022,1,0,1,0,0,2012,2,R4,65661755,2017-01-05,2017,Jan,Condo,Postwar,7,5,432 PARK AVENUE,432 PARK AVENUE,85,"432 PARK AVENUE, 85"
335606,Brooklyn,WILLIAMSBURG-NORTH,05 TAX CLASS 1 VACANT LAND,2,2340,4,D8,KENT AVENUE,NaN,0,509,0,509,0,0,2012,1,V0,65600000,2012-08-30,2012,Aug,Other,Postwar,7,0,KENT AVENUE,KENT AVENUE,NaN,KENT AVENUE
792495,Manhattan,MIDTOWN CBD,13 CONDOS - ELEVATOR APARTMENTS,2,1292,1443,R4,432 PARK AVENUE,83,10022,1,0,1,0,0,2012,2,R4,65163580,2017-03-15,2017,Mar,Condo,Postwar,7,5,432 PARK AVENUE,432 PARK AVENUE,83,"432 PARK AVENUE, 83"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
792493,Manhattan,MIDTOWN CBD,13 CONDOS - ELEVATOR APARTMENTS,2,1292,1438,R4,432 PARK AVENUE,80B,10022,1,0,1,0,0,2012,2,R4,39337141,2017-09-18,2017,Sep,Condo,Postwar,7,5,432 PARK AVENUE,432 PARK AVENUE,80B,"432 PARK AVENUE, 80B"
933463,Manhattan,TRIBECA,13 CONDOS - ELEVATOR APARTMENTS,2,223,1144,R4,"70 VESTRY STREET, 12S",12S,10013,0,0,0,0,0,2016,2,R4,39285000,2019-02-15,2019,Feb,Condo,Postwar,3,3,"70 VESTRY STREET, 12S",70 VESTRY STREET,12S,"70 VESTRY STREET, 12S"
703558,Manhattan,MIDTOWN CBD,13 CONDOS - ELEVATOR APARTMENTS,2,1292,1433,R4,432 PARK AVENUE,77B,10022,1,0,1,0,0,2012,2,R4,39260590,2016-08-16,2016,Aug,Condo,Postwar,7,4,432 PARK AVENUE,432 PARK AVENUE,77B,"432 PARK AVENUE, 77B"
355701,Manhattan,UPPER EAST SIDE (59-79),10 COOPS - ELEVATOR APARTMENTS,2,1385,37,D4,"730 PARK AVENUE, 19/PHC",NaN,10021,0,0,0,0,0,1928,2,D4,39000018,2012-10-24,2012,Oct,Co-op,Prewar,91,84,"730 PARK AVENUE, 19/PHC",730 PARK AVENUE,19/PHC,"730 PARK AVENUE, 19/PHC"
931996,Manhattan,MIDTOWN WEST,13 CONDOS - ELEVATOR APARTMENTS,2,1030,1111,R4,"220 CENTRAL PARK SOUTH, V-6",V-6,10019,0,0,0,0,0,2015,2,R4,39000000,2019-06-07,2019,Jun,Condo,Postwar,4,4,"220 CENTRAL PARK SOUTH, V-6",220 CENTRAL PARK SOUTH,V-6,"220 CENTRAL PARK SOUTH, V-6"
794688,Manhattan,MIDTOWN WEST,13 CONDOS - ELEVATOR APARTMENTS,2,1049,1201,R4,80 COLUMBUS CIRCLE,PH77B,10023,1,0,1,0,0,0,2,R4,38900000,2017-01-20,2017,Jan,Condo,Postwar,0,0,80 COLUMBUS CIRCLE,80 COLUMBUS CIRCLE,PH77B,"80 COLUMBUS CIRCLE, PH77B"
708886,Manhattan,SOHO,10 COOPS - ELEVATOR APARTMENTS,2,513,3,D0,"132-140 GREENE STREET, FL1NB",NaN,10012,0,0,0,0,0,1885,2,D0,38500000,2016-03-17,2016,Mar,Co-op,Pre-prewar,134,131,"132-140 GREENE STREET, FL1NB",132-140 GREENE STREET,FL1NB,"132-140 GREENE STREET, FL1NB"
931991,Manhattan,MIDTOWN WEST,13 CONDOS - ELEVATOR APARTMENTS,2,1030,1083,R4,"220 CENTRAL PARK SOUTH, 54A",54A,10019,0,0,0,0,0,2015,2,R4,38184375,2019-09-19,2019,Sep,Condo,Postwar,4,4,"220 CENTRAL PARK SOUTH, 54A",220 CENTRAL PARK SOUTH,54A,"220 CENTRAL PARK SOUTH, 54A"
524349,Manhattan,MIDTOWN WEST,10 COOPS - ELEVATOR APARTMENTS,2,1009,29,D4,100 WEST 57TH STREET,NaN,10019,0,0,0,0,0,1962,2,D4,38100000,2014-07-25,2014,Jul,Co-op,Postwar,57,52,100 WEST 57TH STREET,100 WEST 57TH STREET,NaN,100 WEST 57TH STREET
785779,Manhattan,CHELSEA,13 CONDOS - ELEVATOR APARTMENTS,2,693,1144,R4,551 WEST 21ST STREET,PH20,10011,1,0,1,0,0,2013,2,R4,38053727,2017-10-31,2017,Oct,Condo,Postwar,6,4,551 WEST 21ST STREET,551 WEST 21ST STREET,PH20,"551 WEST 21ST STREET, PH20"
530361,Manhattan,SOHO,16 CONDOS - 2-10 UNIT WITH COMMERCIAL UNIT,2C,487,1101,R8,152 SPRING STREET,1,10012,0,1,1,0,0,1920,2,R8,38000000,2014-04-24,2014,Apr,Condo,Prewar,99,94,152 SPRING STREET,152 SPRING STREET,1,"152 SPRING STREET, 1"
621993,Manhattan,UPPER EAST SIDE (59-79),13 CONDOS - ELEVATOR APARTMENTS,2,1447,1128,R4,1355 FIRST AVENUE,PH1,10021,1,0,1,0,0,2009,2,R4,37940000,2015-08-07,2015,Aug,Condo,Postwar,10,6,1355 FIRST AVENUE,1355 FIRST AVENUE,PH1,"1355 FIRST AVENUE, PH1"
792494,Manhattan,MIDTOWN CBD,13 CONDOS - ELEVATOR APARTMENTS,2,1292,1440,R4,432 PARK AVENUE,81B,10022,1,0,1,0,0,2012,2,R4,37745776,2017-08-14,2017,Aug,Condo,Postwar,7,5,432 PARK AVENUE,432 PARK AVENUE,81B,"432 PARK AVENUE, 81B"
587050,Brooklyn,CLINTON HILL,13 CONDOS - ELEVATOR APARTMENTS,2,1890,1001,R4,163 WASHINGTON AVENUE,2A,11205,1,0,1,0,0,2009,2,R4,37658000,2015-10-20,2015,Oct,Condo,Postwar,10,6,163 WASHINGTON AVENUE,163 WASHINGTON AVENUE,2A,"163 WASHINGTON AVENUE, 2A"
32567,Manhattan,MIDTOWN WEST,13 CONDOS - ELEVATOR APARTMENTS,2,1049,1136,R4,25 COLUMBUS CIRCLE,STPH78,10019,1,0,1,0,0,0,2,R4,37500000,2009-06-16,2009,Jun,Condo,Postwar,0,0,25 COLUMBUS CIRCLE,25 COLUMBUS CIRCLE,STPH78,"25 COLUMBUS CIRCLE, STPH78"
710975,Manhattan,UPPER EAST SIDE (59-79),13 CONDOS - ELEVATOR APARTMENTS,2,1383,1031,R4,11 EAST 68TH STREET,PHE,10065,1,0,1,0,0,1913,2,R4,37443583,2016-09-23,2016,Sep,Condo,Prewar,106,103,11 EAST 68TH STREET,11 EAST 68TH STREET,PHE,"11 EAST 68TH STREET, PHE"
441129,Manhattan,TRIBECA,10 COOPS - ELEVATOR APARTMENTS,2,144,1,D4,16 HUDSON STREET,NaN,10013,0,0,0,0,0,1915,2,D4,37000000,2013-12-30,2013,Dec,Co-op,Prewar,104,98,16 HUDSON STREET,16 HUDSON STREET,NaN,16 HUDSON STREET
41866,Manhattan,UPPER WEST SIDE (59-79),13 CONDOS - ELEVATOR APARTMENTS,2,1114,1462,R4,15 CENTRAL PARK WEST,PH40B,10023,1,0,1,0,0,2005,2,R4,37000000,2009-09-09,2009,Sep,Condo,Postwar,14,4,15 CENTRAL PARK WEST,15 CENTRAL PARK WEST,PH40B,"15 CENTRAL PARK WEST, PH40B"
933453,Manhattan,TRIBECA,13 CONDOS - ELEVATOR APARTMENTS,2,223,1127,R4,"70 VESTRY STREET, 7A",7A,10013,0,0,0,0,0,2016,2,R4,36681561,2019-02-12,2019,Feb,Condo,Postwar,3,3,"70 VESTRY STREET, 7A",70 VESTRY STREET,7A,"70 VESTRY STREET, 7A"
933454,Manhattan,TRIBECA,13 CONDOS - ELEVATOR APARTMENTS,2,223,1128,R4,"70 VESTRY STREET, 7B",7B,10013,0,0,0,0,0,2016,2,R4,36681561,2019-02-12,2019,Feb,Condo,Postwar,3,3,"70 VESTRY STREET, 7B",70 VESTRY STREET,7B,"70 VESTRY STREET, 7B"
933459,Manhattan,TRIBECA,13 CONDOS - ELEVATOR APARTMENTS,2,223,1134,R4,"70 VESTRY STREET, 8W",8W,10013,0,0,0,0,0,2016,2,R4,36681561,2019-02-12,2019,Feb,Condo,Postwar,3,3,"70 VESTRY STREET, 8W",70 VESTRY STREET,8W,"70 VESTRY STREET, 8W"
933455,Manhattan,TRIBECA,13 CONDOS - ELEVATOR APARTMENTS,2,223,1129,R4,"70 VESTRY STREET, 7C",7C,10013,0,0,0,0,0,2016,2,R4,36681561,2019-02-12,2019,Feb,Condo,Postwar,3,3,"70 VESTRY STREET, 7C",70 VESTRY STREET,7C,"70 VESTRY STREET, 7C"
933452,Manhattan,TRIBECA,13 CONDOS - ELEVATOR APARTMENTS,2,223,1126,R4,"70 VESTRY STREET, 6F",6F,10013,0,0,0,0,0,2016,2,R4,36681561,2019-02-12,2019,Feb,Condo,Postwar,3,3,"70 VESTRY STREET, 6F",70 VESTRY STREET,6F,"70 VESTRY STREET, 6F"
933451,Manhattan,TRIBECA,13 CONDOS - ELEVATOR APARTMENTS,2,223,1125,R4,"70 VESTRY STREET, 6E",6E,10013,0,0,0,0,0,2016,2,R4,36681561,2019-02-12,2019,Feb,Condo,Postwar,3,3,"70 VESTRY STREET, 6E",70 VESTRY STREET,6E,"70 VESTRY STREET, 6E"
933450,Manhattan,TRIBECA,13 CONDOS - ELEVATOR APARTMENTS,2,223,1124,R4,"70 VESTRY STREET, 6D",6D,10013,0,0,0,0,0,2016,2,R4,36681561,2019-02-12,2019,Feb,Condo,Postwar,3,3,"70 VESTRY STREET, 6D",70 VESTRY STREET,6D,"70 VESTRY STREET, 6D"
933456,Manhattan,TRIBECA,13 CONDOS - ELEVATOR APARTMENTS,2,223,1130,R4,"70 VESTRY STREET, 7D",7D,10013,0,0,0,0,0,2016,2,R4,36681561,2019-02-12,2019,Feb,Condo,Postwar,3,3,"70 VESTRY STREET, 7D",70 VESTRY STREET,7D,"70 VESTRY STREET, 7D"
933457,Manhattan,TRIBECA,13 CONDOS - ELEVATOR APARTMENTS,2,223,1131,R4,"70 VESTRY STREET, 7E",7E,10013,0,0,0,0,0,2016,2,R4,36681561,2019-02-12,2019,Feb,Condo,Postwar,3,3,"70 VESTRY STREET, 7E",70 VESTRY STREET,7E,"70 VESTRY STREET, 7E"
933449,Manhattan,TRIBECA,13 CONDOS - ELEVATOR APARTMENTS,2,223,1123,R4,"70 VESTRY STREET, 6C",6C,10013,0,0,0,0,0,2016,2,R4,36681561,2019-02-12,2019,Feb,Condo,Postwar,3,3,"70 VESTRY STREET, 6C",70 VESTRY STREET,6C,"70 VESTRY STREET, 6C"
933458,Manhattan,TRIBECA,13 CONDOS - ELEVATOR APARTMENTS,2,223,1132,R4,"70 VESTRY STREET, 7F",7F,10013,0,0,0,0,0,2016,2,R4,36681561,2019-02-12,2019,Feb,Condo,Postwar,3,3,"70 VESTRY STREET, 7F",70 VESTRY STREET,7F,"70 VESTRY STREET, 7F"
933448,Manhattan,TRIBECA,13 CONDOS - ELEVATOR APARTMENTS,2,223,1105,R4,"70 VESTRY STREET, 3C",3C,10013,0,0,0,0,0,2016,2,R4,36681561,2019-02-12,2019,Feb,Condo,Postwar,3,3,"70 VESTRY STREET, 3C",70 VESTRY STREET,3C,"70 VESTRY STREET, 3C"

In [781]:
building_sales = combined[buildings]

In [782]:
building_sales.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 354475 entries, 123734 to 486320
Data columns (total 30 columns):
BOROUGH                           354475 non-null object
NEIGHBORHOOD                      354475 non-null object
BUILDING CLASS CATEGORY           354475 non-null object
TAX CLASS AT PRESENT              354475 non-null category
BLOCK                             354475 non-null int64
LOT                               354475 non-null int64
BUILDING CLASS AT PRESENT         354475 non-null object
ADDRESS                           354475 non-null object
APARTMENT NUMBER                  130837 non-null object
ZIP CODE                          354475 non-null int64
RESIDENTIAL UNITS                 354475 non-null int64
COMMERCIAL UNITS                  354475 non-null int64
TOTAL UNITS                       354475 non-null int64
LAND SQUARE FEET                  354475 non-null int64
GROSS SQUARE FEET                 354475 non-null int64
YEAR BUILT                        354475 non-null int64
TAX CLASS AT TIME OF SALE         354475 non-null category
BUILDING CLASS AT TIME OF SALE    354475 non-null object
SALE PRICE                        354475 non-null int64
SALE DATE                         354475 non-null datetime64[ns]
SALE YEAR                         354475 non-null int64
SALE MONTH                        354475 non-null category
Type                              354475 non-null category
Construction                      354475 non-null object
Current Age                       354475 non-null int64
Sale_Year_Diff                    354475 non-null int64
Base_Address                      354475 non-null object
Building_Address                  354475 non-null object
Apt_No                            277413 non-null object
Main_Address                      354475 non-null object
dtypes: category(4), datetime64[ns](1), int64(13), object(12)
memory usage: 74.4+ MB

In [783]:
building_sales = building_sales.sort_values('Building_Address',ascending = True)

In [784]:
building_sales.sample(150)

,BOROUGH,NEIGHBORHOOD,BUILDING CLASS CATEGORY,TAX CLASS AT PRESENT,BLOCK,LOT,BUILDING CLASS AT PRESENT,ADDRESS,APARTMENT NUMBER,ZIP CODE,RESIDENTIAL UNITS,COMMERCIAL UNITS,TOTAL UNITS,LAND SQUARE FEET,GROSS SQUARE FEET,YEAR BUILT,TAX CLASS AT TIME OF SALE,BUILDING CLASS AT TIME OF SALE,SALE PRICE,SALE DATE,SALE YEAR,SALE MONTH,Type,Construction,Current Age,Sale_Year_Diff,Base_Address,Building_Address,Apt_No,Main_Address
361549,Manhattan,UPPER WEST SIDE (59-79),17 CONDOPS,2,1179,1308,R9,"205 WEST END AVENUE, 5V",NaN,10023,0,0,0,0,0,1962,2,R9,710000,2012-09-13,2012,Sep,Condop,Postwar,57,50,"205 WEST END AVENUE, 5V",205 WEST END AVENUE,5V,"205 WEST END AVENUE, 5V"
942072,Bronx,RIVERDALE,10 COOPS - ELEVATOR APARTMENTS,2,5722,445,D4,"555 KAPPOCK STREET, 24 U",NaN,10463,0,0,0,0,0,1966,2,D4,175000,2019-05-22,2019,May,Co-op,Postwar,53,53,"555 KAPPOCK STREET, 24 U",555 KAPPOCK STREET,24 U,"555 KAPPOCK STREET, 24 U"
122622,Queens,FLUSHING-NORTH,01 ONE FAMILY HOMES,1,5654,14,A5,50-19 184TH STREET,NaN,11365,1,0,1,0,0,1940,1,A5,605000,2010-06-22,2010,Jun,House,War,79,70,50-19 184TH STREET,50-19 184TH STREET,NaN,50-19 184TH STREET
346652,Manhattan,MIDTOWN EAST,10 COOPS - ELEVATOR APARTMENTS,2,1368,42,D4,"410 EAST 57TH STREET, 12C",NaN,10022,0,0,0,0,0,1929,2,D4,1387500,2012-07-12,2012,Jul,Co-op,Prewar,90,83,"410 EAST 57TH STREET, 12C",410 EAST 57TH STREET,12C,"410 EAST 57TH STREET, 12C"
355734,Manhattan,UPPER EAST SIDE (59-79),10 COOPS - ELEVATOR APARTMENTS,2,1387,37,D4,"770 PARK AVENUE, SR4-5",NaN,10021,0,0,0,0,0,1931,2,D4,300000,2012-12-18,2012,Dec,Co-op,Prewar,88,81,"770 PARK AVENUE, SR4-5",770 PARK AVENUE,SR4-5,"770 PARK AVENUE, SR4-5"
698688,Manhattan,FLATIRON,13 CONDOS - ELEVATOR APARTMENTS,2,856,1177,R4,225 FIFTH AVENUE,6G,10010,1,0,1,0,0,1900,2,R4,2675000,2016-10-03,2016,Oct,Condo,Prewar,119,116,225 FIFTH AVENUE,225 FIFTH AVENUE,6G,"225 FIFTH AVENUE, 6G"
37304,Manhattan,MURRAY HILL,13 CONDOS - ELEVATOR APARTMENTS,2,890,1415,R4,143 EAST 34TH STREET,8S,10016,1,0,1,0,0,2001,2,R4,799000,2009-10-13,2009,Oct,Condo,Postwar,18,8,143 EAST 34TH STREET,143 EAST 34TH STREET,8S,"143 EAST 34TH STREET, 8S"
753997,Bronx,CASTLE HILL/UNIONPORT,02 TWO FAMILY DWELLINGS,1,3512,196,B1,433 ZEREGA AVENUE,NaN,10473,2,0,2,0,0,2003,1,B1,645000,2017-08-02,2017,Aug,Townhouse,Postwar,16,14,433 ZEREGA AVENUE,433 ZEREGA AVENUE,NaN,433 ZEREGA AVENUE
148986,Bronx,RIVERDALE,13 CONDOS - ELEVATOR APARTMENTS,2,5723,1032,R4,2287 JOHNSON AVENUE,12C,10463,1,0,1,0,0,1983,2,R4,372849,2008-03-27,2008,Mar,Condo,Postwar,36,25,2287 JOHNSON AVENUE,2287 JOHNSON AVENUE,12C,"2287 JOHNSON AVENUE, 12C"
312727,Bronx,SCHUYLERVILLE/PELHAM BAY,10 COOPS - ELEVATOR APARTMENTS,2,5403,25,D4,"3321 BRUCKNER BOULEVARD, 2E",NaN,10461,0,0,0,0,0,1939,2,D4,125000,2012-11-27,2012,Nov,Co-op,Prewar,80,73,"3321 BRUCKNER BOULEVARD, 2E",3321 BRUCKNER BOULEVARD,2E,"3321 BRUCKNER BOULEVARD, 2E"
637239,Queens,FLUSHING-NORTH,13 CONDOS - ELEVATOR APARTMENTS,2,5134,1093,R4,42-20 KISSENA BOULEVARD,F 9,11355,1,0,1,0,0,1926,2,R4,650000,2015-08-28,2015,Aug,Condo,Prewar,93,89,42-20 KISSENA BOULEVARD,42-20 KISSENA BOULEVARD,F 9,"42-20 KISSENA BOULEVARD, F 9"
722925,Queens,ELMHURST,17 CONDO COOPS,2,1910,1005,R9,"57-10 JUNCTION BOULEVARD, 6C",NaN,11373,0,0,0,0,0,1961,2,R9,329500,2016-01-29,2016,Jan,Condop,Postwar,58,55,"57-10 JUNCTION BOULEVARD, 6C",57-10 JUNCTION BOULEVARD,6C,"57-10 JUNCTION BOULEVARD, 6C"
110602,Manhattan,MURRAY HILL,10 COOPS - ELEVATOR APARTMENTS,2,893,20,D4,"310 LEXINGTON AVENUE, 14F",NaN,10016,0,0,0,0,0,1959,2,D4,540000,2010-04-06,2010,Apr,Co-op,Postwar,60,51,"310 LEXINGTON AVENUE, 14F",310 LEXINGTON AVENUE,14F,"310 LEXINGTON AVENUE, 14F"
846850,Bronx,RIVERDALE,10 COOPS - ELEVATOR APARTMENTS,2,5953,38,D4,"5700 ARLINGTON AVENUE, 19O/P",NaN,10471,0,0,0,0,0,1961,2,D4,399000,2018-12-14,2018,Dec,Co-op,Postwar,58,57,"5700 ARLINGTON AVENUE, 19O/P",5700 ARLINGTON AVENUE,19O/P,"5700 ARLINGTON AVENUE, 19O/P"
514604,Manhattan,CHELSEA,09 COOPS - WALKUP APARTMENTS,2,766,23,C6,"227 WEST 16TH STREET, 1WR",NaN,10011,0,0,0,0,0,1910,2,C6,525000,2014-04-30,2014,Apr,Co-op,Prewar,109,104,"227 WEST 16TH STREET, 1WR",227 WEST 16TH STREET,1WR,"227 WEST 16TH STREET, 1WR"
274662,Manhattan,MURRAY HILL,13 CONDOS - ELEVATOR APARTMENTS,2,910,1054,R4,250 EAST 30TH STREET,9F,10016,1,0,1,0,0,0,2,R4,585000,2011-06-21,2011,Jun,Condo,Postwar,0,0,250 EAST 30TH STREET,250 EAST 30TH STREET,9F,"250 EAST 30TH STREET, 9F"
801022,Manhattan,UPPER WEST SIDE (59-79),13 CONDOS - ELEVATOR APARTMENTS,2,1113,1418,R4,1 CENTRAL PARK WEST,28C,10023,1,0,1,0,0,0,2,R4,7300000,2017-10-10,2017,Oct,Condo,Postwar,0,0,1 CENTRAL PARK WEST,1 CENTRAL PARK WEST,28C,"1 CENTRAL PARK WEST, 28C"
580946,Brooklyn,BEDFORD STUYVESANT,13 CONDOS - ELEVATOR APARTMENTS,2,1896,1105,R4,143 CLASSON AVENUE,2A,11205,1,0,1,0,0,2005,2,R4,678154,2015-06-03,2015,Jun,Condo,Postwar,14,10,143 CLASSON AVENUE,143 CLASSON AVENUE,2A,"143 CLASSON AVENUE, 2A"
905734,Queens,LITTLE NECK,17 CONDO COOPS,2,8136,1012,R9,"40-01 LITTLE NECK PARKWAY, 9A",NaN,11363,0,0,0,0,0,1941,2,R9,325000,2018-04-30,2018,Apr,Condop,War,78,77,"40-01 LITTLE NECK PARKWAY, 9A",40-01 LITTLE NECK PARKWAY,9A,"40-01 LITTLE NECK PARKWAY, 9A"
54957,Queens,GLEN OAKS,10 COOPS - ELEVATOR APARTMENTS,2,8489,1,D4,"270-10 GRAND CENTRAL PARKWA, 12G",NaN,11005,0,0,0,0,0,1972,2,D4,664476,2009-12-29,2009,Dec,Co-op,Postwar,47,37,"270-10 GRAND CENTRAL PARKWA, 12G",270-10 GRAND CENTRAL PARKWA,12G,"270-10 GRAND CENTRAL PARKWA, 12G"
969335,Queens,GLEN OAKS,09 COOPS - WALKUP APARTMENTS,2,8401,675,C6,"251-25 71ST AVENUE, 110B",NaN,11426,0,0,0,0,0,1952,2,C6,190000,2019-09-18,2019,Sep,Co-op,Postwar,67,67,"251-25 71ST AVENUE, 110B",251-25 71ST AVENUE,110B,"251-25 71ST AVENUE, 110B"
826515,Queens,ROCKAWAY PARK,12 CONDOS - WALKUP APARTMENTS,2,16173,1030,R2,1-64 BEACH 101 STREET,15C,11694,1,0,1,0,0,2006,2,R2,634000,2017-10-13,2017,Oct,Condo,Postwar,13,11,1-64 BEACH 101 STREET,1-64 BEACH 101 STREET,15C,"1-64 BEACH 101 STREET, 15C"
619494,Manhattan,SOHO,10 COOPS - ELEVATOR APARTMENTS,2C,518,38,D0,"140 SULLIVAN STREET, 3R",NaN,10012,0,0,0,0,0,1900,2,D0,1600000,2015-01-30,2015,Jan,Co-op,Prewar,119,115,"140 SULLIVAN STREET, 3R",140 SULLIVAN STREET,3R,"140 SULLIVAN STREET, 3R"
697606,Manhattan,EAST VILLAGE,10 COOPS - ELEVATOR APARTMENTS,2,443,56,D4,"38 EAST 1ST STREET, 2A",NaN,10003,0,0,0,0,0,1920,2,D4,1762450,2016-02-04,2016,Feb,Co-op,Prewar,99,96,"38 EAST 1ST STREET, 2A",38 EAST 1ST STREET,2A,"38 EAST 1ST STREET, 2A"
361971,Manhattan,UPPER WEST SIDE (79-96),10 COOPS - ELEVATOR APARTMENTS,2,1209,6,D4,"65 WEST 95TH STREET, 8G",NaN,10025,0,0,0,0,0,1928,2,D4,472000,2012-02-08,2012,Feb,Co-op,Prewar,91,84,"65 WEST 95TH STREET, 8G",65 WEST 95TH STREET,8G,"65 WEST 95TH STREET, 8G"
244928,Brooklyn,BROOKLYN HEIGHTS,10 COOPS - ELEVATOR APARTMENTS,2,264,17,D4,"150 JORALEMON STREET, 11E",NaN,11201,0,0,0,0,0,1926,2,D4,370000,2011-11-21,2011,Nov,Co-op,Prewar,93,85,"150 JORALEMON STREET, 11E",150 JORALEMON STREET,11E,"150 JORALEMON STREET, 11E"
731406,Queens,JACKSON HEIGHTS,10 COOPS - ELEVATOR APARTMENTS,2,1281,65,D4,"35-21 81ST STREET, 1A",NaN,11372,0,0,0,0,0,1930,2,D4,400000,2016-12-07,2016,Dec,Co-op,Prewar,89,86,"35-21 81ST STREET, 1A",35-21 81ST STREET,1A,"35-21 81ST STREET, 1A"
168888,Brooklyn,OCEAN PARKWAY-NORTH,10 COOPS - ELEVATOR APARTMENTS,2,5376,58,D4,"515 EAST 7TH STREET, 2C",NaN,11218,0,0,0,0,0,1961,2,D4,249000,2008-01-10,2008,Jan,Co-op,Postwar,58,47,"515 EAST 7TH STREET, 2C",515 EAST 7TH STREET,2C,"515 EAST 7TH STREET, 2C"
521790,Manhattan,KIPS BAY,13 CONDOS - ELEVATOR APARTMENTS,2,969,1111,R4,415 EAST 37TH STREET,14G,10016,1,0,1,0,0,1988,2,R4,1140000,2014-12-08,2014,Dec,Condo,Postwar,31,26,415 EAST 37TH STREET,415 EAST 37TH STREET,14G,"415 EAST 37TH STREET, 14G"
125410,Queens,FOREST HILLS,10 COOPS - ELEVATOR APARTMENTS,2,2127,18,D4,"102-18 64 AVE, 4K",NaN,11375,0,0,0,0,0,1949,2,D4,200800,2010-05-17,2010,May,Co-op,War,70,61,"102-18 64 AVE, 4K",102-18 64 AVE,4K,"102-18 64 AVE, 4K"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
199096,Manhattan,UPPER WEST SIDE (79-96),10 COOPS - ELEVATOR APARTMENTS,2,1211,29,D4,"101 WEST 80TH STREET, 5B",NaN,10024,0,0,0,0,0,1900,2,D4,800000,2008-06-30,2008,Jun,Co-op,Prewar,119,108,"101 WEST 80TH STREET, 5B",101 WEST 80TH STREET,5B,"101 WEST 80TH STREET, 5B"
250404,Brooklyn,FLATBUSH-CENTRAL,10 COOPS - ELEVATOR APARTMENTS,2,5097,120,D4,"1701 ALBEMARLE ROAD, F5",NaN,11226,0,0,0,0,0,1937,2,D4,335000,2011-04-12,2011,Apr,Co-op,Prewar,82,74,"1701 ALBEMARLE ROAD, F5",1701 ALBEMARLE ROAD,F5,"1701 ALBEMARLE ROAD, F5"
251790,Brooklyn,FORT GREENE,13 CONDOS - ELEVATOR APARTMENTS,2,2111,1058,R4,1 HANSON PLACE,13F,11243,1,0,1,0,0,0,2,R4,499000,2011-07-28,2011,Jul,Condo,Postwar,0,0,1 HANSON PLACE,1 HANSON PLACE,13F,"1 HANSON PLACE, 13F"
425098,Manhattan,CIVIC CENTER,13 CONDOS - ELEVATOR APARTMENTS,2,150,1311,R4,108 DUANE STREET,5R,10007,1,0,1,0,0,1915,2,R4,507000,2013-04-09,2013,Apr,Condo,Prewar,104,98,108 DUANE STREET,108 DUANE STREET,5R,"108 DUANE STREET, 5R"
973782,Queens,MIDDLE VILLAGE,13 CONDOS - ELEVATOR APARTMENTS,2,3057,1050,R4,"72-29 METROPOLITAN AVENUE, 4C",4C,11379,0,0,0,0,728,1987,2,R4,393000,2019-09-13,2019,Sep,Condo,Postwar,32,32,"72-29 METROPOLITAN AVENUE, 4C",72-29 METROPOLITAN AVENUE,4C,"72-29 METROPOLITAN AVENUE, 4C"
1755,Bronx,KINGSBRIDGE/JEROME PARK,10 COOPS - ELEVATOR APARTMENTS,2,3246,56,D4,"3850 SEDGWICK AVENUE, 12 E",NaN,10463,0,0,0,0,0,1955,2,D4,135000,2009-01-23,2009,Jan,Co-op,Postwar,64,54,"3850 SEDGWICK AVENUE, 12 E",3850 SEDGWICK AVENUE,12 E,"3850 SEDGWICK AVENUE, 12 E"
929977,Manhattan,LOWER EAST SIDE,10 COOPS - ELEVATOR APARTMENTS,2,331,1,D4,"504 GRAND STREET, A15",NaN,10002,0,0,0,0,0,1929,2,D4,810000,2019-06-12,2019,Jun,Co-op,Prewar,90,90,"504 GRAND STREET, A15",504 GRAND STREET,A15,"504 GRAND STREET, A15"
830306,Queens,SUNNYSIDE,10 COOPS - ELEVATOR APARTMENTS,2,177,1,D4,"48-26 44TH STREET, 6F",NaN,11377,0,0,0,0,0,1931,2,D4,350000,2017-04-27,2017,Apr,Co-op,Prewar,88,86,"48-26 44TH STREET, 6F",48-26 44TH STREET,6F,"48-26 44TH STREET, 6F"
846229,Bronx,PELHAM PARKWAY SOUTH,02 TWO FAMILY DWELLINGS,1,4324,67,B3,2133 BOGART AVENUE,NaN,10462,2,0,2,0,0,1940,1,B3,580000,2018-10-22,2018,Oct,Townhouse,War,79,78,2133 BOGART AVENUE,2133 BOGART AVENUE,NaN,2133 BOGART AVENUE
654733,Queens,WOODSIDE,10 COOPS - ELEVATOR APARTMENTS,2,1188,55,D4,"60-11 BROADWAY, 4P",NaN,11377,0,0,0,0,0,1962,2,D4,245000,2015-09-29,2015,Sep,Co-op,Postwar,57,53,"60-11 BROADWAY, 4P",60-11 BROADWAY,4P,"60-11 BROADWAY, 4P"
262287,Manhattan,CLINTON,13 CONDOS - ELEVATOR APARTMENTS,2,1063,1153,R4,425 WEST 53RD STREET,504,10019,1,0,1,0,0,2007,2,R4,1460000,2011-10-20,2011,Oct,Condo,Postwar,12,4,425 WEST 53RD STREET,425 WEST 53RD STREET,504,"425 WEST 53RD STREET, 504"
582270,Brooklyn,BOERUM HILL,09 COOPS - WALKUP APARTMENTS,2C,395,58,C6,"559 WARREN STREET, 4R",NaN,11217,0,0,0,0,0,1931,2,C6,655000,2015-03-20,2015,Mar,Co-op,Prewar,88,84,"559 WARREN STREET, 4R",559 WARREN STREET,4R,"559 WARREN STREET, 4R"
860249,Brooklyn,EAST NEW YORK,03 THREE FAMILY DWELLINGS,1,4312,15,C0,750 CLEVELAND ST,NaN,11208,3,0,3,0,0,1899,1,C0,560000,2018-09-17,2018,Sep,Townhouse,Prewar,120,119,750 CLEVELAND STREET,750 CLEVELAND STREET,NaN,750 CLEVELAND STREET
673588,Brooklyn,BERGEN BEACH,02 TWO FAMILY DWELLINGS,1,8353,11,B2,6632 AVENUE L,NaN,11234,2,0,2,0,0,1965,1,B2,665000,2016-12-05,2016,Dec,Townhouse,Postwar,54,51,6632 AVENUE L,6632 AVENUE L,NaN,6632 AVENUE L
425303,Manhattan,CLINTON,13 CONDOS - ELEVATOR APARTMENTS,2,1063,1121,R4,425 WEST 53RD STREET,302,10019,1,0,1,0,0,2007,2,R4,1485000,2013-09-06,2013,Sep,Condo,Postwar,12,6,425 WEST 53RD STREET,425 WEST 53RD STREET,302,"425 WEST 53RD STREET, 302"
423253,Brooklyn,WINDSOR TERRACE,10 COOPS - ELEVATOR APARTMENTS,2,5268,2,D4,"176 SEELEY STREET, 9E",NaN,11218,0,0,0,0,0,1938,2,D4,360000,2013-04-17,2013,Apr,Co-op,Prewar,81,75,"176 SEELEY STREET, 9E",176 SEELEY STREET,9E,"176 SEELEY STREET, 9E"
552047,Queens,JACKSON HEIGHTS,01 ONE FAMILY DWELLINGS,1,1359,10,A5,25-14 86TH STREET,NaN,11369,1,0,1,0,0,1940,1,A5,550000,2014-03-14,2014,Mar,Townhouse,War,79,74,25-14 86TH STREET,25-14 86TH STREET,NaN,25-14 86TH STREET
559708,Queens,ROCKAWAY PARK,12 CONDOS - WALKUP APARTMENTS,2,16173,1053,R2,1-80 BEACH 101 STREET,3B,11694,1,0,1,0,0,2006,2,R2,356000,2014-11-20,2014,Nov,Condo,Postwar,13,8,1-80 BEACH 101 STREET,1-80 BEACH 101 STREET,3B,"1-80 BEACH 101 STREET, 3B"
875133,Manhattan,FLATIRON,10 COOPS - ELEVATOR APARTMENTS,2,816,62,D0,"36 WEST 15TH STREET, 11",NaN,10011,0,0,0,0,0,1909,2,D0,3080000,2018-03-19,2018,Mar,Co-op,Prewar,110,109,"36 WEST 15TH STREET, 11",36 WEST 15TH STREET,11,"36 WEST 15TH STREET, 11"
523313,Manhattan,MIDTOWN EAST,10 COOPS - ELEVATOR APARTMENTS,2,1338,5,D4,305 EAST 45TH STREET,NaN,10017,0,0,0,0,0,1929,2,D4,800000,2014-09-18,2014,Sep,Co-op,Prewar,90,85,305 EAST 45TH STREET,305 EAST 45TH STREET,NaN,305 EAST 45TH STREET
530631,Manhattan,TRIBECA,13 CONDOS - ELEVATOR APARTMENTS,2,16,2103,R4,350 ALBANY STREET,14D,10280,1,0,1,0,0,0,2,R4,1600000,2014-08-21,2014,Aug,Condo,Postwar,0,0,350 ALBA STREET,350 ALBA STREET,14D,"350 ALBA STREET, 14D"
523756,Manhattan,MIDTOWN EAST,10 COOPS - ELEVATOR APARTMENTS,2,1371,14,D4,"45 SUTTON PLACE SOUTH, 8D",NaN,10022,0,0,0,0,0,1958,2,D4,1350000,2014-09-24,2014,Sep,Co-op,Postwar,61,56,"45 SUTTON PLACE SOUTH, 8D",45 SUTTON PLACE SOUTH,8D,"45 SUTTON PLACE SOUTH, 8D"
490972,Brooklyn,BEDFORD STUYVESANT,03 THREE FAMILY DWELLINGS,1,1621,6,C0,147 STUYVESANT AVENUE,NaN,11221,3,0,3,0,0,1899,1,C0,970000,2014-12-18,2014,Dec,Townhouse,Prewar,120,115,147 STREETUYVESANT AVENUE,147 STREETUYVESANT AVENUE,NaN,147 STREETUYVESANT AVENUE
362904,Manhattan,UPPER WEST SIDE (96-116),10 COOPS - ELEVATOR APARTMENTS,2,1890,73,D4,"315 RIVERSIDE DRIVE, 11D",NaN,10025,0,0,0,0,0,1931,2,D4,2400000,2012-12-14,2012,Dec,Co-op,Prewar,88,81,"315 RIVERSIDE DRIVE, 11D",315 RIVERSIDE DRIVE,11D,"315 RIVERSIDE DRIVE, 11D"
29325,Manhattan,HARLEM-CENTRAL,13 CONDOS - ELEVATOR APARTMENTS,2,1599,1315,R4,40 WEST 116 STREET,A903,10026,1,0,1,0,0,2006,2,R4,301200,2009-08-24,2009,Aug,Condo,Postwar,13,3,40 WEST 116 STREET,40 WEST 116 STREET,A903,"40 WEST 116 STREET, A903"
213913,Queens,HOLLIS HILLS,10 COOPS - ELEVATOR APARTMENTS,2,7912,50,D4,"226-26 UNION TURNPIKE, 6H",NaN,11364,0,0,0,0,0,1956,2,D4,215000,2008-06-30,2008,Jun,Co-op,Postwar,63,52,"226-26 UNION TURNPIKE, 6H",226-26 UNION TURNPIKE,6H,"226-26 UNION TURNPIKE, 6H"
828931,Queens,SPRINGFIELD GARDENS,01 ONE FAMILY DWELLINGS,1,12317,62,A1,140-54 LATHAM LANE,NaN,11434,1,0,1,3000,1188,1925,1,A1,315000,2017-09-01,2017,Sep,Townhouse,Prewar,94,92,140-54 LATHAM LANE,140-54 LATHAM LANE,NaN,140-54 LATHAM LANE
241444,Brooklyn,BEDFORD STUYVESANT,02 TWO FAMILY HOMES,1,1817,60,B3,207 MADISON ST,NaN,11216,2,0,2,0,0,1899,1,B3,335000,2011-11-07,2011,Nov,House,Prewar,120,112,207 MADISON STREET,207 MADISON STREET,NaN,207 MADISON STREET
175661,Manhattan,CHELSEA,13 CONDOS - ELEVATOR APARTMENTS,2,793,1607,R4,127 7 AVENUE,3B,10011,1,0,1,0,0,2008,2,R4,2341975,2008-12-04,2008,Dec,Condo,Postwar,11,0,127 7 AVENUE,127 7 AVENUE,3B,"127 7 AVENUE, 3B"
111432,Manhattan,TRIBECA,13 CONDOS - ELEVATOR APARTMENTS,2,132,1037,R4,275 GREENWICH STREET,4GS,10007,1,0,1,0,0,1987,2,R4,730000,2010-01-07,2010,Jan,Condo,Postwar,32,23,275 GREENWICH STREET,275 GREENWICH STREET,4GS,"275 GREENWICH STREET, 4GS"

In [785]:
#EXPORT TO CSV FOR TREATMENT IN R
building_sales.to_csv('buildsales.csv', index_label = 'Index')
#help(pd.DataFrame.to_csv)

**Filter for apartments with Apartment Number with multiple transactions throughout the years**

In [786]:
apartments = combined.duplicated(subset = 'Main_Address', keep = False)
combined[apartments].head(150)

,BOROUGH,NEIGHBORHOOD,BUILDING CLASS CATEGORY,TAX CLASS AT PRESENT,BLOCK,LOT,BUILDING CLASS AT PRESENT,ADDRESS,APARTMENT NUMBER,ZIP CODE,RESIDENTIAL UNITS,COMMERCIAL UNITS,TOTAL UNITS,LAND SQUARE FEET,GROSS SQUARE FEET,YEAR BUILT,TAX CLASS AT TIME OF SALE,BUILDING CLASS AT TIME OF SALE,SALE PRICE,SALE DATE,SALE YEAR,SALE MONTH,Type,Construction,Current Age,Sale_Year_Diff,Base_Address,Building_Address,Apt_No,Main_Address
123734,Queens,FLUSHING-NORTH,13 CONDOS - ELEVATOR APARTMENTS,2,5066,1001,R4,40-22 COLLEGE POINT BLVD,6A,11354,1,0,1,0,0,0,2,R4,430128304,2010-06-28,2010,Jun,Condo,Postwar,0,0,40-22 COLLEGE POINT BLVD,40-22 COLLEGE POINT BLVD,6A,"40-22 COLLEGE POINT BLVD, 6A"
524340,Manhattan,MIDTOWN WEST,10 COOPS - ELEVATOR APARTMENTS,2,1009,29,D4,100 WEST 57TH STREET,NaN,10019,324,4,328,0,0,1962,2,D4,261000000,2014-11-05,2014,Nov,Co-op,Postwar,57,52,100 WEST 57TH STREET,100 WEST 57TH STREET,NaN,100 WEST 57TH STREET
101128,Manhattan,FINANCIAL,13 CONDOS - ELEVATOR APARTMENTS,2,25,1401,R4,15 WILLIAM STREET,3M,10004,1,0,1,0,0,2005,2,R4,184414937,2010-12-01,2010,Dec,Condo,Postwar,14,5,15 WILLIAM STREET,15 WILLIAM STREET,3M,"15 WILLIAM STREET, 3M"
883415,Manhattan,UPPER EAST SIDE (59-79),09 COOPS - WALKUP APARTMENTS,2,1431,1,C6,1329 3 AVENUE,NaN,10075,0,0,0,0,0,1910,2,C6,163555828,2018-08-03,2018,Aug,Co-op,Prewar,109,108,1329 3 AVENUE,1329 3 AVENUE,NaN,1329 3 AVENUE
202094,Queens,ASTORIA,10 COOPS - ELEVATOR APARTMENTS,2,890,1,D4,19-19 24TH AVENUE,NaN,11102,0,0,0,0,0,1920,2,D4,100139400,2008-02-06,2008,Feb,Co-op,Prewar,99,88,19-19 24TH AVENUE,19-19 24TH AVENUE,NaN,19-19 24TH AVENUE
791233,Manhattan,INWOOD,10 COOPS - ELEVATOR APARTMENTS,2,2215,42,D4,150 WEST 225 STREET,NaN,10463,0,0,0,0,0,1972,2,D4,75000000,2017-12-15,2017,Dec,Co-op,Postwar,47,45,150 WEST 225 STREET,150 WEST 225 STREET,NaN,150 WEST 225 STREET
791234,Manhattan,INWOOD,10 COOPS - ELEVATOR APARTMENTS,2,2215,42,D4,150 WEST 225 STREET,NaN,10463,318,0,318,0,0,1972,2,D4,75000000,2017-12-15,2017,Dec,Co-op,Postwar,47,45,150 WEST 225 STREET,150 WEST 225 STREET,NaN,150 WEST 225 STREET
342615,Manhattan,GREENWICH VILLAGE-WEST,13 CONDOS - ELEVATOR APARTMENTS,2,601,1002,R4,421 HUDSON STREET,201,10014,1,0,1,0,0,1920,2,R4,67602825,2012-01-18,2012,Jan,Condo,Prewar,99,92,421 HUDSON STREET,421 HUDSON STREET,201,"421 HUDSON STREET, 201"
335606,Brooklyn,WILLIAMSBURG-NORTH,05 TAX CLASS 1 VACANT LAND,2,2340,4,D8,KENT AVENUE,NaN,0,509,0,509,0,0,2012,1,V0,65600000,2012-08-30,2012,Aug,Other,Postwar,7,0,KENT AVENUE,KENT AVENUE,NaN,KENT AVENUE
594934,Brooklyn,GREENPOINT,05 TAX CLASS 1 VACANT LAND,1B,2472,45,V0,COMMERCIAL STREET,NaN,11222,0,0,0,0,0,0,1,V0,59757356,2015-10-19,2015,Oct,Other,Postwar,0,0,COMMERCIAL STREET,COMMERCIAL STREET,NaN,COMMERCIAL STREET
103489,Manhattan,HARLEM-CENTRAL,17 CONDOPS,2,2045,1501,R9,"130 BRADHURST AVENUE, 1",NaN,10039,0,0,0,0,0,2007,2,R9,57402625,2010-01-28,2010,Jan,Condop,Postwar,12,3,"130 BRADHURST AVENUE, 1",130 BRADHURST AVENUE,1,"130 BRADHURST AVENUE, 1"
32157,Manhattan,MIDTOWN WEST,13 CONDOS - ELEVATOR APARTMENTS,2,1047,2001,R4,322 WEST 57TH STREET,15B1,10019,1,0,1,0,0,1978,2,R4,53268315,2009-08-06,2009,Aug,Condo,Postwar,41,31,322 WEST 57TH STREET,322 WEST 57TH STREET,15B1,"322 WEST 57TH STREET, 15B1"
614196,Manhattan,MIDTOWN WEST,13 CONDOS - ELEVATOR APARTMENTS,2,1049,1136,R4,25 COLUMBUS CIRCLE,STPH78,10019,1,0,1,0,0,0,2,R4,50917500,2015-06-30,2015,Jun,Condo,Postwar,0,0,25 COLUMBUS CIRCLE,25 COLUMBUS CIRCLE,STPH78,"25 COLUMBUS CIRCLE, STPH78"
524636,Manhattan,MIDTOWN WEST,13 CONDOS - ELEVATOR APARTMENTS,2,1010,1688,R4,157 WEST 57TH STREET,79,10019,1,0,1,0,0,2009,2,R4,50916000,2014-12-03,2014,Dec,Condo,Postwar,10,5,157 WEST 57TH STREET,157 WEST 57TH STREET,79,"157 WEST 57TH STREET, 79"
801041,Manhattan,UPPER WEST SIDE (59-79),13 CONDOS - ELEVATOR APARTMENTS,2,1114,1462,R4,15 CENTRAL PARK WEST,PH40B,10023,1,0,1,0,0,2005,2,R4,50550000,2017-05-15,2017,May,Condo,Postwar,14,12,15 CENTRAL PARK WEST,15 CENTRAL PARK WEST,PH40B,"15 CENTRAL PARK WEST, PH40B"
887279,Manhattan,UPPER WEST SIDE (59-79),13 CONDOS - ELEVATOR APARTMENTS,2,1114,1527,R4,15 CENTRAL PARK WEST,1617B,10023,1,0,1,0,0,2005,2,R4,50000000,2018-04-05,2018,Apr,Condo,Postwar,14,13,15 CENTRAL PARK WEST,15 CENTRAL PARK WEST,1617B,"15 CENTRAL PARK WEST, 1617B"
873030,Manhattan,ALPHABET CITY,17 CONDO COOPS,2,390,1102,R9,"342 EAST 8TH STREET, RES",NaN,10009,0,0,0,0,0,2001,2,R9,50000000,2018-04-10,2018,Apr,Condop,Postwar,18,17,"342 EAST 8TH STREET, RES",342 EAST 8TH STREET,RES,"342 EAST 8TH STREET, RES"
195179,Manhattan,UPPER EAST SIDE (79-96),10 COOPS - ELEVATOR APARTMENTS,2,1499,1,D4,"1060 FIFTH AVENUE, 13B",NaN,10128,0,0,0,0,0,1928,2,D4,48836000,2008-07-29,2008,Jul,Co-op,Prewar,91,80,"1060 FIFTH AVENUE, 13B",1060 FIFTH AVENUE,13B,"1060 FIFTH AVENUE, 13B"
535690,Manhattan,UPPER WEST SIDE (59-79),13 CONDOS - ELEVATOR APARTMENTS,2,1114,1531,R4,15 CENTRAL PARK WEST,1819B,10023,1,0,1,0,0,2005,2,R4,48000000,2014-05-13,2014,May,Condo,Postwar,14,9,15 CENTRAL PARK WEST,15 CENTRAL PARK WEST,1819B,"15 CENTRAL PARK WEST, 1819B"
594939,Brooklyn,GREENPOINT,05 TAX CLASS 1 VACANT LAND,1B,2472,80,V0,COMMERCIAL STREET,NaN,11222,0,0,0,0,0,0,1,V0,46485643,2015-10-19,2015,Oct,Other,Postwar,0,0,COMMERCIAL STREET,COMMERCIAL STREET,NaN,COMMERCIAL STREET
195175,Manhattan,UPPER EAST SIDE (79-96),10 COOPS - ELEVATOR APARTMENTS,2,1499,1,D4,"1060 FIFTH AVENUE, 13B",NaN,10128,0,0,0,0,0,1928,2,D4,46000000,2008-01-23,2008,Jan,Co-op,Prewar,91,80,"1060 FIFTH AVENUE, 13B",1060 FIFTH AVENUE,13B,"1060 FIFTH AVENUE, 13B"
275935,Manhattan,UPPER EAST SIDE (59-79),10 COOPS - ELEVATOR APARTMENTS,2,1379,51,D4,"30 EAST 65TH STREET, 1G",NaN,10065,0,0,0,0,0,1962,2,D4,45050000,2011-09-20,2011,Sep,Co-op,Postwar,57,49,"30 EAST 65TH STREET, 1G",30 EAST 65TH STREET,1G,"30 EAST 65TH STREET, 1G"
796890,Manhattan,UPPER EAST SIDE (59-79),09 COOPS - WALKUP APARTMENTS,2,1431,1,C6,1329 3 AVENUE,NaN,10075,0,0,0,0,0,1910,2,C6,45000000,2017-01-26,2017,Jan,Co-op,Prewar,109,107,1329 3 AVENUE,1329 3 AVENUE,NaN,1329 3 AVENUE
625247,Manhattan,UPPER WEST SIDE (59-79),13 CONDOS - ELEVATOR APARTMENTS,2,1114,1531,R4,15 CENTRAL PARK WEST,1819B,10023,1,0,1,0,0,2005,2,R4,45000000,2015-11-12,2015,Nov,Condo,Postwar,14,10,15 CENTRAL PARK WEST,15 CENTRAL PARK WEST,1819B,"15 CENTRAL PARK WEST, 1819B"
696402,Manhattan,CHELSEA,13 CONDOS - ELEVATOR APARTMENTS,2,767,1555,R4,212 WEST 18TH STREET,PH2,10011,1,0,1,0,0,1929,2,R4,45000000,2016-06-10,2016,Jun,Condo,Prewar,90,87,212 WEST 18TH STREET,212 WEST 18TH STREET,PH2,"212 WEST 18TH STREET, PH2"
695781,Manhattan,ALPHABET CITY,17 CONDO COOPS,2,390,1102,R9,"342 EAST 8TH STREET, RES",NaN,10009,0,0,0,0,0,2001,2,R9,44000000,2016-05-03,2016,May,Condop,Postwar,18,15,"342 EAST 8TH STREET, RES",342 EAST 8TH STREET,RES,"342 EAST 8TH STREET, RES"
795695,Manhattan,SOHO,02 TWO FAMILY DWELLINGS,1,499,6,S2,102 GREENE STREET,NaN,10012,2,1,3,0,0,1910,1,S2,43500000,2017-04-24,2017,Apr,Townhouse,Prewar,109,107,102 GREENE STREET,102 GREENE STREET,NaN,102 GREENE STREET
17015,Brooklyn,FORT GREENE,13 CONDOS - ELEVATOR APARTMENTS,2,2095,1101,R4,230 ASHLAND PLACE,3A,11217,1,0,1,0,0,0,2,R4,42409151,2009-08-17,2009,Aug,Condo,Postwar,0,0,230 ASHLAND PLACE,230 ASHLAND PLACE,3A,"230 ASHLAND PLACE, 3A"
879582,Manhattan,MIDTOWN CBD,13 CONDOS - ELEVATOR APARTMENTS,2,1292,1433,R4,432 PARK AVENUE,77B,10022,1,0,1,0,0,2012,2,R4,42000000,2018-04-12,2018,Apr,Condo,Postwar,7,6,432 PARK AVENUE,432 PARK AVENUE,77B,"432 PARK AVENUE, 77B"
628066,Manhattan,WASHINGTON HEIGHTS LOWER,10 COOPS - ELEVATOR APARTMENTS,2,2142,130,D4,4101 BROADWAY,NaN,10033,0,0,0,0,0,1926,2,D4,42000000,2015-03-03,2015,Mar,Co-op,Prewar,93,89,4101 BROADWAY,4101 BROADWAY,NaN,4101 BROADWAY
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
111253,Manhattan,TRIBECA,01 ONE FAMILY HOMES,1,189,39,A4,232 WEST BROADWAY,NaN,10013,1,0,1,0,0,1915,1,A4,24065000,2010-07-01,2010,Jul,House,Prewar,104,95,232 WEST BROADWAY,232 WEST BROADWAY,NaN,232 WEST BROADWAY
279613,Manhattan,UPPER WEST SIDE (59-79),13 CONDOS - ELEVATOR APARTMENTS,2,1114,1431,R4,15 CENTRAL PARK WEST,31D,10023,1,0,1,0,0,2005,2,R4,24000000,2011-11-30,2011,Nov,Condo,Postwar,14,6,15 CENTRAL PARK WEST,15 CENTRAL PARK WEST,31D,"15 CENTRAL PARK WEST, 31D"
360422,Manhattan,UPPER WEST SIDE (59-79),13 CONDOS - ELEVATOR APARTMENTS,2,1114,1523,R4,15 CENTRAL PARK WEST,15B,10023,1,0,1,0,0,2005,2,R4,24000000,2012-12-14,2012,Dec,Condo,Postwar,14,7,15 CENTRAL PARK WEST,15 CENTRAL PARK WEST,15B,"15 CENTRAL PARK WEST, 15B"
696401,Manhattan,CHELSEA,13 CONDOS - ELEVATOR APARTMENTS,2,767,1545,R4,212 WEST 18TH STREET,18A,10011,1,0,1,0,0,1929,2,R4,24000000,2016-08-05,2016,Aug,Condo,Prewar,90,87,212 WEST 18TH STREET,212 WEST 18TH STREET,18A,"212 WEST 18TH STREET, 18A"
535682,Manhattan,UPPER WEST SIDE (59-79),13 CONDOS - ELEVATOR APARTMENTS,2,1114,1414,R4,15 CENTRAL PARK WEST,27C,10023,1,0,1,0,0,2005,2,R4,24000000,2014-03-18,2014,Mar,Condo,Postwar,14,9,15 CENTRAL PARK WEST,15 CENTRAL PARK WEST,27C,"15 CENTRAL PARK WEST, 27C"
197342,Manhattan,UPPER WEST SIDE (59-79),13 CONDOS - ELEVATOR APARTMENTS,2,1114,1531,R4,15 CENTRAL PARK WEST,1819B,10023,1,0,1,0,0,2005,2,R4,23928875,2008-03-26,2008,Mar,Condo,Postwar,14,3,15 CENTRAL PARK WEST,15 CENTRAL PARK WEST,1819B,"15 CENTRAL PARK WEST, 1819B"
800717,Manhattan,UPPER WEST SIDE (59-79),10 COOPS - ELEVATOR APARTMENTS,2,1127,29,D4,"145 CENTRAL PARK WEST, 16C",NaN,10023,0,0,0,0,0,1930,2,D4,23750000,2017-04-05,2017,Apr,Co-op,Prewar,89,87,"145 CENTRAL PARK WEST, 16C",145 CENTRAL PARK WEST,16C,"145 CENTRAL PARK WEST, 16C"
705479,Manhattan,MIDTOWN WEST,13 CONDOS - ELEVATOR APARTMENTS,2,1010,1674,R4,157 WEST 57TH STREET,62A,10019,1,0,1,0,0,2009,2,R4,23500000,2016-10-21,2016,Oct,Condo,Postwar,10,7,157 WEST 57TH STREET,157 WEST 57TH STREET,62A,"157 WEST 57TH STREET, 62A"
106280,Manhattan,MIDTOWN WEST,13 CONDOS - ELEVATOR APARTMENTS,2,1274,1630,R4,768 5 AVENUE,2001,10019,1,0,1,0,0,0,2,R4,23469632,2010-07-13,2010,Jul,Condo,Postwar,0,0,768 5 AVENUE,768 5 AVENUE,2001,"768 5 AVENUE, 2001"
360416,Manhattan,UPPER WEST SIDE (59-79),13 CONDOS - ELEVATOR APARTMENTS,2,1114,1454,R4,15 CENTRAL PARK WEST,37C,10023,1,0,1,0,0,2005,2,R4,23350000,2012-05-15,2012,May,Condo,Postwar,14,7,15 CENTRAL PARK WEST,15 CENTRAL PARK WEST,37C,"15 CENTRAL PARK WEST, 37C"
608310,Manhattan,GREENWICH VILLAGE-WEST,01 ONE FAMILY DWELLINGS,1,592,60,A7,146 WAVERLY PLACE,NaN,10014,1,0,1,0,0,1905,1,A7,23282932,2015-12-29,2015,Dec,Townhouse,Prewar,114,110,146 WAVERLY PLACE,146 WAVERLY PLACE,NaN,146 WAVERLY PLACE
420173,Brooklyn,SHEEPSHEAD BAY,04 TAX CLASS 1 CONDOS,1A,8815,1001,R3,3112 EMMONS AVENUE,3,11235,1,0,1,0,0,2007,1,R3,23000000,2013-11-26,2013,Nov,Condo,Postwar,12,6,3112 EMMONS AVENUE,3112 EMMONS AVENUE,3,"3112 EMMONS AVENUE, 3"
934738,Manhattan,UPPER EAST SIDE (79-96),02 TWO FAMILY DWELLINGS,1,1492,64,B1,12 EAST 81ST STREET,NaN,10028,2,0,2,0,0,1901,1,B1,23000000,2019-06-25,2019,Jun,Townhouse,Prewar,118,118,12 EAST 81ST STREET,12 EAST 81ST STREET,NaN,12 EAST 81ST STREET
881084,Manhattan,MIDTOWN WEST,13 CONDOS - ELEVATOR APARTMENTS,2,1010,1676,R4,157 WEST 57TH STREET,63A,10019,1,0,1,0,0,2009,2,R4,23000000,2018-03-09,2018,Mar,Condo,Postwar,10,9,157 WEST 57TH STREET,157 WEST 57TH STREET,63A,"157 WEST 57TH STREET, 63A"
887278,Manhattan,UPPER WEST SIDE (59-79),13 CONDOS - ELEVATOR APARTMENTS,2,1114,1511,R4,15 CENTRAL PARK WEST,11B,10023,1,0,1,0,0,2005,2,R4,22500000,2018-09-21,2018,Sep,Condo,Postwar,14,13,15 CENTRAL PARK WEST,15 CENTRAL PARK WEST,11B,"15 CENTRAL PARK WEST, 11B"
355719,Manhattan,UPPER EAST SIDE (59-79),10 COOPS - ELEVATOR APARTMENTS,2,1386,69,D4,"907 FIFTH AVENUE, 8W",NaN,10021,0,0,0,0,0,1915,2,D4,22500000,2012-11-12,2012,Nov,Co-op,Prewar,104,97,"907 FIFTH AVENUE, 8W",907 FIFTH AVENUE,8W,"907 FIFTH AVENUE, 8W"
794312,Manhattan,MIDTOWN WEST,13 CONDOS - ELEVATOR APARTMENTS,2,1010,1680,R4,157 WEST 57TH STREET,65A,10019,1,0,1,0,0,2009,2,R4,22500000,2017-04-13,2017,Apr,Condo,Postwar,10,8,157 WEST 57TH STREET,157 WEST 57TH STREET,65A,"157 WEST 57TH STREET, 65A"
788234,Manhattan,FLATIRON,13 CONDOS - ELEVATOR APARTMENTS,2,851,2180,nan,45 EAST 22ND STREET,NaN,10010,0,0,0,0,0,0,2,R4,22413800,2017-12-06,2017,Dec,Condo,Postwar,0,0,45 EAST 22ND STREET,45 EAST 22ND STREET,NaN,45 EAST 22ND STREET
355392,Manhattan,UPPER EAST SIDE (59-79),01 ONE FAMILY HOMES,1,1404,65,A4,116 EAST 70TH STREET,NaN,10021,1,0,1,0,0,1901,1,A4,22398750,2012-11-13,2012,Nov,House,Prewar,118,111,116 EAST 70TH STREET,116 EAST 70TH STREET,NaN,116 EAST 70TH STREET
280753,Manhattan,UPPER WEST SIDE (79-96),01 ONE FAMILY HOMES,1,1198,34,A4,247 CENTRAL PARK WEST,NaN,10024,1,0,1,0,0,1900,1,A4,22375000,2011-12-20,2011,Dec,House,Prewar,119,111,247 CENTRAL PARK WEST,247 CENTRAL PARK WEST,NaN,247 CENTRAL PARK WEST
885335,Manhattan,UPPER EAST SIDE (79-96),10 COOPS - ELEVATOR APARTMENTS,2,1492,69,D4,"995 FIFTH AVENUE, 11S",NaN,10028,0,0,0,0,0,1926,2,D4,22200000,2018-04-06,2018,Apr,Co-op,Prewar,93,92,"995 FIFTH AVENUE, 11S",995 FIFTH AVENUE,11S,"995 FIFTH AVENUE, 11S"
797897,Manhattan,UPPER EAST SIDE (59-79),13 CONDOS - ELEVATOR APARTMENTS,2,1394,1094,R4,515 PARK AVENUE,36/37,10022,1,0,1,0,0,0,2,R4,22166084,2017-06-21,2017,Jun,Condo,Postwar,0,0,515 PARK AVENUE,515 PARK AVENUE,36/37,"515 PARK AVENUE, 36/37"
713514,Manhattan,UPPER WEST SIDE (59-79),10 COOPS - ELEVATOR APARTMENTS,2,1117,36,D4,"50 CENTRAL PARK WEST, 8AE9A",NaN,10023,0,0,0,0,0,1907,2,D4,22100000,2016-06-30,2016,Jun,Co-op,Prewar,112,109,"50 CENTRAL PARK WEST, 8AE9A",50 CENTRAL PARK WEST,8AE9A,"50 CENTRAL PARK WEST, 8AE9A"
246732,Brooklyn,CLINTON HILL,13 CONDOS - ELEVATOR APARTMENTS,2,1890,1001,R4,163 WASHINGTON AVENUE,2A,11205,1,0,1,0,0,2009,2,R4,22000000,2011-05-11,2011,May,Condo,Postwar,10,2,163 WASHINGTON AVENUE,163 WASHINGTON AVENUE,2A,"163 WASHINGTON AVENUE, 2A"
879581,Manhattan,MIDTOWN CBD,13 CONDOS - ELEVATOR APARTMENTS,2,1292,1432,R4,432 PARK AVENUE,77A,10022,1,0,1,0,0,2012,2,R4,22000000,2018-04-12,2018,Apr,Condo,Postwar,7,6,432 PARK AVENUE,432 PARK AVENUE,77A,"432 PARK AVENUE, 77A"
625243,Manhattan,UPPER WEST SIDE (59-79),13 CONDOS - ELEVATOR APARTMENTS,2,1114,1455,R4,15 CENTRAL PARK WEST,37D,10023,1,0,1,0,0,2005,2,R4,22000000,2015-07-31,2015,Jul,Condo,Postwar,14,10,15 CENTRAL PARK WEST,15 CENTRAL PARK WEST,37D,"15 CENTRAL PARK WEST, 37D"
186231,Manhattan,MIDTOWN WEST,13 CONDOS - ELEVATOR APARTMENTS,2,1274,1465,R4,768 5 AVENUE,409,10019,1,0,1,0,0,0,2,R4,21926280,2008-08-07,2008,Aug,Condo,Postwar,0,0,768 5 AVENUE,768 5 AVENUE,409,"768 5 AVENUE, 409"
197296,Manhattan,UPPER WEST SIDE (59-79),13 CONDOS - ELEVATOR APARTMENTS,2,1114,1462,R4,15 CENTRAL PARK WEST,PH40B,10023,1,0,1,0,0,2005,2,R4,21892375,2008-04-29,2008,Apr,Condo,Postwar,14,3,15 CENTRAL PARK WEST,15 CENTRAL PARK WEST,PH40B,"15 CENTRAL PARK WEST, PH40B"
786583,Manhattan,CIVIC CENTER,13 CONDOS - ELEVATOR APARTMENTS,2,176,1143,R4,56 LEONARD STREET,PH55,10013,1,0,1,0,0,2007,2,R4,21814384,2017-03-02,2017,Mar,Condo,Postwar,12,10,56 LEONARD STREET,56 LEONARD STREET,PH55,"56 LEONARD STREET, PH55"
41865,Manhattan,UPPER WEST SIDE (59-79),13 CONDOS - ELEVATOR APARTMENTS,2,1114,1447,R4,15 CENTRAL PARK WEST,35D,10023,1,0,1,0,0,2005,2,R4,21500000,2009-10-08,2009,Oct,Condo,Postwar,14,4,15 CENTRAL PARK WEST,15 CENTRAL PARK WEST,35D,"15 CENTRAL PARK WEST, 35D"

In [787]:
sales = combined[apartments]

In [792]:
sales.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 70018 entries, 291646 to 589492
Data columns (total 30 columns):
BOROUGH                           70018 non-null object
NEIGHBORHOOD                      70018 non-null object
BUILDING CLASS CATEGORY           70018 non-null object
TAX CLASS AT PRESENT              70018 non-null category
BLOCK                             70018 non-null int64
LOT                               70018 non-null int64
BUILDING CLASS AT PRESENT         70018 non-null object
ADDRESS                           70018 non-null object
APARTMENT NUMBER                  32983 non-null object
ZIP CODE                          70018 non-null int64
RESIDENTIAL UNITS                 70018 non-null int64
COMMERCIAL UNITS                  70018 non-null int64
TOTAL UNITS                       70018 non-null int64
LAND SQUARE FEET                  70018 non-null int64
GROSS SQUARE FEET                 70018 non-null int64
YEAR BUILT                        70018 non-null int64
TAX CLASS AT TIME OF SALE         70018 non-null category
BUILDING CLASS AT TIME OF SALE    70018 non-null object
SALE PRICE                        70018 non-null int64
SALE DATE                         70018 non-null datetime64[ns]
SALE YEAR                         70018 non-null int64
SALE MONTH                        70018 non-null category
Type                              70018 non-null category
Construction                      70018 non-null object
Current Age                       70018 non-null int64
Sale_Year_Diff                    70018 non-null int64
Base_Address                      70018 non-null object
Building_Address                  70018 non-null object
Apt_No                            70018 non-null object
Main_Address                      70018 non-null object
dtypes: category(4), datetime64[ns](1), int64(13), object(12)
memory usage: 14.7+ MB

In [789]:
sales = sales[sales['Apt_No'].notnull()] #& salestest['ADDRESS'].notnull()]

In [790]:
sales = sales.sort_values(['Main_Address', 'SALE DATE'],ascending = True)

In [791]:
sales.head(150)

,BOROUGH,NEIGHBORHOOD,BUILDING CLASS CATEGORY,TAX CLASS AT PRESENT,BLOCK,LOT,BUILDING CLASS AT PRESENT,ADDRESS,APARTMENT NUMBER,ZIP CODE,RESIDENTIAL UNITS,COMMERCIAL UNITS,TOTAL UNITS,LAND SQUARE FEET,GROSS SQUARE FEET,YEAR BUILT,TAX CLASS AT TIME OF SALE,BUILDING CLASS AT TIME OF SALE,SALE PRICE,SALE DATE,SALE YEAR,SALE MONTH,Type,Construction,Current Age,Sale_Year_Diff,Base_Address,Building_Address,Apt_No,Main_Address
291646,Queens,FOREST HILLS,10 COOPS - ELEVATOR APARTMENTS,2,3276,24,D4,"1 ASCAN AVENUE, 31",NaN,11375,0,0,0,0,0,1918,2,D4,430000,2011-10-12,2011,Oct,Co-op,Prewar,101,93,"1 ASCAN AVENUE, 31",1 ASCAN AVENUE,31,"1 ASCAN AVENUE, 31"
815850,Queens,FOREST HILLS,10 COOPS - ELEVATOR APARTMENTS,2,3276,24,D4,"1 ASCAN AVENUE, 31",NaN,11375,0,0,0,0,0,1918,2,D4,585000,2017-02-07,2017,Feb,Co-op,Prewar,101,99,"1 ASCAN AVENUE, 31",1 ASCAN AVENUE,31,"1 ASCAN AVENUE, 31"
54371,Queens,FOREST HILLS,10 COOPS - ELEVATOR APARTMENTS,2,3276,24,D4,"1 ASCAN AVENUE, 37",NaN,11375,0,0,0,0,0,1918,2,D4,180000,2009-12-17,2009,Dec,Co-op,Prewar,101,91,"1 ASCAN AVENUE, 37",1 ASCAN AVENUE,37,"1 ASCAN AVENUE, 37"
291647,Queens,FOREST HILLS,10 COOPS - ELEVATOR APARTMENTS,2,3276,24,D4,"1 ASCAN AVENUE, 37",NaN,11375,0,0,0,0,0,1918,2,D4,212500,2011-11-01,2011,Nov,Co-op,Prewar,101,93,"1 ASCAN AVENUE, 37",1 ASCAN AVENUE,37,"1 ASCAN AVENUE, 37"
541171,Queens,BAYSIDE,13 CONDOS - ELEVATOR APARTMENTS,2,5893,1205,R4,1 BAY CLUB DRIVE,10A,11360,1,0,1,0,0,1972,2,R4,575000,2014-02-19,2014,Feb,Condo,Postwar,47,42,1 BAY CLUB DRIVE,1 BAY CLUB DRIVE,10A,"1 BAY CLUB DRIVE, 10A"
541170,Queens,BAYSIDE,13 CONDOS - ELEVATOR APARTMENTS,2,5893,1205,R4,1 BAY CLUB DRIVE,10A,11360,1,0,1,0,0,1972,2,R4,615000,2014-06-20,2014,Jun,Condo,Postwar,47,42,1 BAY CLUB DRIVE,1 BAY CLUB DRIVE,10A,"1 BAY CLUB DRIVE, 10A"
46774,Queens,BAYSIDE,13 CONDOS - ELEVATOR APARTMENTS,2,5893,1208,R4,1 BAY CLUB DRIVE,10D,11360,1,0,1,0,0,1972,2,R4,790000,2009-07-03,2009,Jul,Condo,Postwar,47,37,1 BAY CLUB DRIVE,1 BAY CLUB DRIVE,10D,"1 BAY CLUB DRIVE, 10D"
806365,Queens,BAYSIDE,13 CONDOS - ELEVATOR APARTMENTS,2,5893,1208,R4,1 BAY CLUB DRIVE,10D,11360,1,0,1,0,0,1972,2,R4,950000,2017-06-29,2017,Jun,Condo,Postwar,47,45,1 BAY CLUB DRIVE,1 BAY CLUB DRIVE,10D,"1 BAY CLUB DRIVE, 10D"
541172,Queens,BAYSIDE,13 CONDOS - ELEVATOR APARTMENTS,2,5893,1213,R4,1 BAY CLUB DRIVE,10J,11360,1,0,1,0,0,1972,2,R4,370000,2014-05-01,2014,May,Condo,Postwar,47,42,1 BAY CLUB DRIVE,1 BAY CLUB DRIVE,10J,"1 BAY CLUB DRIVE, 10J"
719371,Queens,BAYSIDE,13 CONDOS - ELEVATOR APARTMENTS,2,5893,1213,R4,1 BAY CLUB DRIVE,10J,11360,1,0,1,0,0,1972,2,R4,600000,2016-09-13,2016,Sep,Condo,Postwar,47,44,1 BAY CLUB DRIVE,1 BAY CLUB DRIVE,10J,"1 BAY CLUB DRIVE, 10J"
366166,Queens,BAYSIDE,13 CONDOS - ELEVATOR APARTMENTS,2,5893,1234,R4,1 BAY CLUB DRIVE,11G,11360,1,0,1,0,0,1972,2,R4,205000,2012-03-21,2012,Mar,Condo,Postwar,47,40,1 BAY CLUB DRIVE,1 BAY CLUB DRIVE,11G,"1 BAY CLUB DRIVE, 11G"
631010,Queens,BAYSIDE,13 CONDOS - ELEVATOR APARTMENTS,2,5893,1234,R4,1 BAY CLUB DRIVE,11G,11360,1,0,1,0,0,1972,2,R4,340000,2015-10-29,2015,Oct,Condo,Postwar,47,43,1 BAY CLUB DRIVE,1 BAY CLUB DRIVE,11G,"1 BAY CLUB DRIVE, 11G"
203385,Queens,BAYSIDE,13 CONDOS - ELEVATOR APARTMENTS,2,5893,1255,R4,1 BAY CLUB DRIVE,12E,11360,1,0,1,0,0,1972,2,R4,430000,2008-06-03,2008,Jun,Condo,Postwar,47,36,1 BAY CLUB DRIVE,1 BAY CLUB DRIVE,12E,"1 BAY CLUB DRIVE, 12E"
541175,Queens,BAYSIDE,13 CONDOS - ELEVATOR APARTMENTS,2,5893,1255,R4,1 BAY CLUB DRIVE,12E,11360,1,0,1,0,0,1972,2,R4,445000,2014-02-14,2014,Feb,Condo,Postwar,47,42,1 BAY CLUB DRIVE,1 BAY CLUB DRIVE,12E,"1 BAY CLUB DRIVE, 12E"
631012,Queens,BAYSIDE,13 CONDOS - ELEVATOR APARTMENTS,2,5893,1255,R4,1 BAY CLUB DRIVE,12E,11360,1,0,1,0,0,1972,2,R4,485000,2015-05-08,2015,May,Condo,Postwar,47,43,1 BAY CLUB DRIVE,1 BAY CLUB DRIVE,12E,"1 BAY CLUB DRIVE, 12E"
46776,Queens,BAYSIDE,13 CONDOS - ELEVATOR APARTMENTS,2,5893,1285,R4,1 BAY CLUB DRIVE,14M,11360,1,0,1,0,0,1972,2,R4,660000,2009-11-05,2009,Nov,Condo,Postwar,47,37,1 BAY CLUB DRIVE,1 BAY CLUB DRIVE,14M,"1 BAY CLUB DRIVE, 14M"
892382,Queens,BAYSIDE,13 CONDOS - ELEVATOR APARTMENTS,2,5893,1285,R4,1 BAY CLUB DRIVE,14M,11360,1,0,1,0,0,1972,2,R4,790000,2018-05-21,2018,May,Condo,Postwar,47,46,1 BAY CLUB DRIVE,1 BAY CLUB DRIVE,14M,"1 BAY CLUB DRIVE, 14M"
452666,Queens,BAYSIDE,13 CONDOS - ELEVATOR APARTMENTS,2,5893,1291,R4,1 BAY CLUB DRIVE,14T,11360,1,0,1,0,0,1972,2,R4,395000,2013-01-14,2013,Jan,Condo,Postwar,47,41,1 BAY CLUB DRIVE,1 BAY CLUB DRIVE,14T,"1 BAY CLUB DRIVE, 14T"
806370,Queens,BAYSIDE,13 CONDOS - ELEVATOR APARTMENTS,2,5893,1291,R4,1 BAY CLUB DRIVE,14T,11360,1,0,1,0,0,1972,2,R4,610000,2017-03-31,2017,Mar,Condo,Postwar,47,45,1 BAY CLUB DRIVE,1 BAY CLUB DRIVE,14T,"1 BAY CLUB DRIVE, 14T"
118769,Queens,BAYSIDE,13 CONDOS - ELEVATOR APARTMENTS,2,5893,1299,R4,1 BAY CLUB DRIVE,15C,11360,1,0,1,0,0,1972,2,R4,675000,2010-04-21,2010,Apr,Condo,Postwar,47,38,1 BAY CLUB DRIVE,1 BAY CLUB DRIVE,15C,"1 BAY CLUB DRIVE, 15C"
806371,Queens,BAYSIDE,13 CONDOS - ELEVATOR APARTMENTS,2,5893,1299,R4,1 BAY CLUB DRIVE,15C,11360,1,0,1,0,0,1972,2,R4,960000,2017-03-30,2017,Mar,Condo,Postwar,47,45,1 BAY CLUB DRIVE,1 BAY CLUB DRIVE,15C,"1 BAY CLUB DRIVE, 15C"
203389,Queens,BAYSIDE,13 CONDOS - ELEVATOR APARTMENTS,2,5893,1321,R4,1 BAY CLUB DRIVE,16B,11360,1,0,1,0,0,1972,2,R4,435000,2008-02-06,2008,Feb,Condo,Postwar,47,36,1 BAY CLUB DRIVE,1 BAY CLUB DRIVE,16B,"1 BAY CLUB DRIVE, 16B"
541179,Queens,BAYSIDE,13 CONDOS - ELEVATOR APARTMENTS,2,5893,1321,R4,1 BAY CLUB DRIVE,16B,11360,1,0,1,0,0,1972,2,R4,472000,2014-11-24,2014,Nov,Condo,Postwar,47,42,1 BAY CLUB DRIVE,1 BAY CLUB DRIVE,16B,"1 BAY CLUB DRIVE, 16B"
806374,Queens,BAYSIDE,13 CONDOS - ELEVATOR APARTMENTS,2,5893,1321,R4,1 BAY CLUB DRIVE,16B,11360,1,0,1,0,0,1972,2,R4,588000,2017-06-01,2017,Jun,Condo,Postwar,47,45,1 BAY CLUB DRIVE,1 BAY CLUB DRIVE,16B,"1 BAY CLUB DRIVE, 16B"
631018,Queens,BAYSIDE,13 CONDOS - ELEVATOR APARTMENTS,2,5893,1323,R4,1 BAY CLUB DRIVE,16D,11360,1,0,1,0,0,1972,2,R4,765000,2015-07-27,2015,Jul,Condo,Postwar,47,43,1 BAY CLUB DRIVE,1 BAY CLUB DRIVE,16D,"1 BAY CLUB DRIVE, 16D"
806375,Queens,BAYSIDE,13 CONDOS - ELEVATOR APARTMENTS,2,5893,1323,R4,1 BAY CLUB DRIVE,16D,11360,1,0,1,0,0,1972,2,R4,930000,2017-03-31,2017,Mar,Condo,Postwar,47,45,1 BAY CLUB DRIVE,1 BAY CLUB DRIVE,16D,"1 BAY CLUB DRIVE, 16D"
118771,Queens,BAYSIDE,13 CONDOS - ELEVATOR APARTMENTS,2,5893,1346,R4,1 BAY CLUB DRIVE,17D,11360,1,0,1,0,0,1972,2,R4,695000,2010-11-30,2010,Nov,Condo,Postwar,47,38,1 BAY CLUB DRIVE,1 BAY CLUB DRIVE,17D,"1 BAY CLUB DRIVE, 17D"
284548,Queens,BAYSIDE,13 CONDOS - ELEVATOR APARTMENTS,2,5893,1346,R4,1 BAY CLUB DRIVE,17D,11360,1,0,1,0,0,1972,2,R4,630000,2011-11-14,2011,Nov,Condo,Postwar,47,39,1 BAY CLUB DRIVE,1 BAY CLUB DRIVE,17D,"1 BAY CLUB DRIVE, 17D"
806380,Queens,BAYSIDE,13 CONDOS - ELEVATOR APARTMENTS,2,5893,1346,R4,1 BAY CLUB DRIVE,17D,11360,1,0,1,0,0,1972,2,R4,960000,2017-08-02,2017,Aug,Condo,Postwar,47,45,1 BAY CLUB DRIVE,1 BAY CLUB DRIVE,17D,"1 BAY CLUB DRIVE, 17D"
46779,Queens,BAYSIDE,13 CONDOS - ELEVATOR APARTMENTS,2,5893,1374,R4,1 BAY CLUB DRIVE,18J,11360,1,0,1,0,0,1972,2,R4,440000,2009-11-25,2009,Nov,Condo,Postwar,47,37,1 BAY CLUB DRIVE,1 BAY CLUB DRIVE,18J,"1 BAY CLUB DRIVE, 18J"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195824,Manhattan,UPPER EAST SIDE (79-96),10 COOPS - ELEVATOR APARTMENTS,2,1589,2,D4,"1 EAST END AVENUE, 5A",NaN,10075,0,0,0,0,0,1929,2,D4,2600000,2008-06-03,2008,Jun,Co-op,Prewar,90,79,"1 EAST END AVENUE, 5A",1 EAST END AVENUE,5A,"1 EAST END AVENUE, 5A"
534288,Manhattan,UPPER EAST SIDE (79-96),10 COOPS - ELEVATOR APARTMENTS,2,1589,2,D4,"1 EAST END AVENUE, 5A",NaN,10075,0,0,0,0,0,1929,2,D4,4250000,2014-02-28,2014,Feb,Co-op,Prewar,90,85,"1 EAST END AVENUE, 5A",1 EAST END AVENUE,5A,"1 EAST END AVENUE, 5A"
28152,Manhattan,GREENWICH VILLAGE-CENTRAL,10 COOPS - ELEVATOR APARTMENTS,2,550,22,D4,"1 FIFTH AVENUE, 10BC",NaN,10003,0,0,0,0,0,1927,2,D4,3175000,2009-12-16,2009,Dec,Co-op,Prewar,92,82,"1 FIFTH AVENUE, 10BC",1 FIFTH AVENUE,10BC,"1 FIFTH AVENUE, 10BC"
607725,Manhattan,GREENWICH VILLAGE-CENTRAL,10 COOPS - ELEVATOR APARTMENTS,2,550,22,D4,"1 FIFTH AVENUE, 10BC",NaN,10003,0,0,0,0,0,1927,2,D4,4850000,2015-07-15,2015,Jul,Co-op,Prewar,92,88,"1 FIFTH AVENUE, 10BC",1 FIFTH AVENUE,10BC,"1 FIFTH AVENUE, 10BC"
102172,Manhattan,GREENWICH VILLAGE-CENTRAL,10 COOPS - ELEVATOR APARTMENTS,2,550,22,D4,"1 FIFTH AVENUE, 10D",NaN,10003,0,0,0,0,0,1927,2,D4,1925000,2010-04-29,2010,Apr,Co-op,Prewar,92,83,"1 FIFTH AVENUE, 10D",1 FIFTH AVENUE,10D,"1 FIFTH AVENUE, 10D"
788883,Manhattan,GREENWICH VILLAGE-CENTRAL,10 COOPS - ELEVATOR APARTMENTS,2,550,22,D4,"1 FIFTH AVENUE, 10D",NaN,10003,0,0,0,0,0,1927,2,D4,3200000,2017-06-15,2017,Jun,Co-op,Prewar,92,90,"1 FIFTH AVENUE, 10D",1 FIFTH AVENUE,10D,"1 FIFTH AVENUE, 10D"
179919,Manhattan,GREENWICH VILLAGE-CENTRAL,10 COOPS - ELEVATOR APARTMENTS,2,550,22,D4,"1 FIFTH AVENUE, 14K",NaN,10003,0,0,0,0,0,1927,2,D4,715000,2008-12-09,2008,Dec,Co-op,Prewar,92,81,"1 FIFTH AVENUE, 14K",1 FIFTH AVENUE,14K,"1 FIFTH AVENUE, 14K"
518568,Manhattan,GREENWICH VILLAGE-CENTRAL,10 COOPS - ELEVATOR APARTMENTS,2,550,22,D4,"1 FIFTH AVENUE, 14K",NaN,10003,0,0,0,0,0,1927,2,D4,970000,2014-07-08,2014,Jul,Co-op,Prewar,92,87,"1 FIFTH AVENUE, 14K",1 FIFTH AVENUE,14K,"1 FIFTH AVENUE, 14K"
518564,Manhattan,GREENWICH VILLAGE-CENTRAL,10 COOPS - ELEVATOR APARTMENTS,2,550,22,D4,"1 FIFTH AVENUE, 18A",NaN,10003,0,0,0,0,0,1927,2,D4,10500000,2014-02-14,2014,Feb,Co-op,Prewar,92,87,"1 FIFTH AVENUE, 18A",1 FIFTH AVENUE,18A,"1 FIFTH AVENUE, 18A"
876018,Manhattan,GREENWICH VILLAGE-CENTRAL,10 COOPS - ELEVATOR APARTMENTS,2,550,22,D4,"1 FIFTH AVENUE, 18A",NaN,10003,0,0,0,0,0,1927,2,D4,9000000,2018-09-05,2018,Sep,Co-op,Prewar,92,91,"1 FIFTH AVENUE, 18A",1 FIFTH AVENUE,18A,"1 FIFTH AVENUE, 18A"
607722,Manhattan,GREENWICH VILLAGE-CENTRAL,10 COOPS - ELEVATOR APARTMENTS,2,550,22,D4,"1 FIFTH AVENUE, 26B",NaN,10003,0,0,0,0,0,1927,2,D4,4200000,2015-02-13,2015,Feb,Co-op,Prewar,92,88,"1 FIFTH AVENUE, 26B",1 FIFTH AVENUE,26B,"1 FIFTH AVENUE, 26B"
876014,Manhattan,GREENWICH VILLAGE-CENTRAL,10 COOPS - ELEVATOR APARTMENTS,2,550,22,D4,"1 FIFTH AVENUE, 26B",NaN,10003,0,0,0,0,0,1927,2,D4,5850000,2018-05-01,2018,May,Co-op,Prewar,92,91,"1 FIFTH AVENUE, 26B",1 FIFTH AVENUE,26B,"1 FIFTH AVENUE, 26B"
102171,Manhattan,GREENWICH VILLAGE-CENTRAL,10 COOPS - ELEVATOR APARTMENTS,2,550,22,D4,"1 FIFTH AVENUE, 2J",NaN,10003,0,0,0,0,0,1927,2,D4,1750000,2010-03-03,2010,Mar,Co-op,Prewar,92,83,"1 FIFTH AVENUE, 2J",1 FIFTH AVENUE,2J,"1 FIFTH AVENUE, 2J"
699530,Manhattan,GREENWICH VILLAGE-CENTRAL,10 COOPS - ELEVATOR APARTMENTS,2,550,22,D4,"1 FIFTH AVENUE, 2J",NaN,10003,0,0,0,0,0,1927,2,D4,1750000,2016-03-04,2016,Mar,Co-op,Prewar,92,89,"1 FIFTH AVENUE, 2J",1 FIFTH AVENUE,2J,"1 FIFTH AVENUE, 2J"
102169,Manhattan,GREENWICH VILLAGE-CENTRAL,10 COOPS - ELEVATOR APARTMENTS,2,550,22,D4,"1 FIFTH AVENUE, 3H",NaN,10003,0,0,0,0,0,1927,2,D4,800000,2010-02-17,2010,Feb,Co-op,Prewar,92,83,"1 FIFTH AVENUE, 3H",1 FIFTH AVENUE,3H,"1 FIFTH AVENUE, 3H"
607723,Manhattan,GREENWICH VILLAGE-CENTRAL,10 COOPS - ELEVATOR APARTMENTS,2,550,22,D4,"1 FIFTH AVENUE, 3H",NaN,10003,0,0,0,0,0,1927,2,D4,1175000,2015-03-30,2015,Mar,Co-op,Prewar,92,88,"1 FIFTH AVENUE, 3H",1 FIFTH AVENUE,3H,"1 FIFTH AVENUE, 3H"
341661,Manhattan,GREENWICH VILLAGE-CENTRAL,10 COOPS - ELEVATOR APARTMENTS,2,550,22,D4,"1 FIFTH AVENUE, 6B",NaN,10003,0,0,0,0,0,1927,2,D4,1650000,2012-08-29,2012,Aug,Co-op,Prewar,92,85,"1 FIFTH AVENUE, 6B",1 FIFTH AVENUE,6B,"1 FIFTH AVENUE, 6B"
876017,Manhattan,GREENWICH VILLAGE-CENTRAL,10 COOPS - ELEVATOR APARTMENTS,2,550,22,D4,"1 FIFTH AVENUE, 6B",NaN,10003,0,0,0,0,0,1927,2,D4,2385000,2018-09-05,2018,Sep,Co-op,Prewar,92,91,"1 FIFTH AVENUE, 6B",1 FIFTH AVENUE,6B,"1 FIFTH AVENUE, 6B"
102173,Manhattan,GREENWICH VILLAGE-CENTRAL,10 COOPS - ELEVATOR APARTMENTS,2,550,22,D4,"1 FIFTH AVENUE, 6J",NaN,10003,0,0,0,0,0,1927,2,D4,1900000,2010-04-27,2010,Apr,Co-op,Prewar,92,83,"1 FIFTH AVENUE, 6J",1 FIFTH AVENUE,6J,"1 FIFTH AVENUE, 6J"
341659,Manhattan,GREENWICH VILLAGE-CENTRAL,10 COOPS - ELEVATOR APARTMENTS,2,550,22,D4,"1 FIFTH AVENUE, 6J",NaN,10003,0,0,0,0,0,1927,2,D4,1975000,2012-07-02,2012,Jul,Co-op,Prewar,92,85,"1 FIFTH AVENUE, 6J",1 FIFTH AVENUE,6J,"1 FIFTH AVENUE, 6J"
427730,Manhattan,GREENWICH VILLAGE-CENTRAL,10 COOPS - ELEVATOR APARTMENTS,2,550,22,D4,"1 FIFTH AVENUE, 7F",NaN,10003,0,0,0,0,0,1927,2,D4,1495000,2013-08-30,2013,Aug,Co-op,Prewar,92,86,"1 FIFTH AVENUE, 7F",1 FIFTH AVENUE,7F,"1 FIFTH AVENUE, 7F"
788882,Manhattan,GREENWICH VILLAGE-CENTRAL,10 COOPS - ELEVATOR APARTMENTS,2,550,22,D4,"1 FIFTH AVENUE, 7F",NaN,10003,0,0,0,0,0,1927,2,D4,1775000,2017-06-09,2017,Jun,Co-op,Prewar,92,90,"1 FIFTH AVENUE, 7F",1 FIFTH AVENUE,7F,"1 FIFTH AVENUE, 7F"
406809,Brooklyn,CARROLL GARDENS,09 COOPS - WALKUP APARTMENTS,2C,355,50,C6,"1 FIRST PLACE, 4",NaN,11231,0,0,0,0,0,1900,2,C6,375000,2013-10-29,2013,Oct,Co-op,Prewar,119,113,"1 FIRST PLACE, 4",1 FIRST PLACE,4,"1 FIRST PLACE, 4"
856668,Brooklyn,CARROLL GARDENS,09 COOPS - WALKUP APARTMENTS,2C,355,50,C6,"1 FIRST PLACE, 4",NaN,11231,0,0,0,0,0,1900,2,C6,622500,2018-09-10,2018,Sep,Co-op,Prewar,119,118,"1 FIRST PLACE, 4",1 FIRST PLACE,4,"1 FIRST PLACE, 4"
236742,Bronx,KINGSBRIDGE HTS/UNIV HTS,10 COOPS - ELEVATOR APARTMENTS,2,3226,53,D4,"1 FORDHAM HILL OVAL, 15A",NaN,10468,0,0,0,0,0,1950,2,D4,130000,2011-05-16,2011,May,Co-op,War,69,61,"1 FORDHAM HILL OVAL, 15A",1 FORDHAM HILL OVAL,15A,"1 FORDHAM HILL OVAL, 15A"
940308,Bronx,KINGSBRIDGE HTS/UNIV HTS,10 COOPS - ELEVATOR APARTMENTS,2,3226,53,D4,"1 FORDHAM HILL OVAL, 15A",NaN,10468,0,0,0,0,0,1950,2,D4,175000,2019-09-06,2019,Sep,Co-op,War,69,69,"1 FORDHAM HILL OVAL, 15A",1 FORDHAM HILL OVAL,15A,"1 FORDHAM HILL OVAL, 15A"
146266,Bronx,KINGSBRIDGE HTS/UNIV HTS,10 COOPS - ELEVATOR APARTMENTS,2,3226,53,D4,"1 FORDHAM HILL OVAL, 2E",NaN,10468,0,0,0,0,0,1950,2,D4,100000,2008-06-27,2008,Jun,Co-op,War,69,58,"1 FORDHAM HILL OVAL, 2E",1 FORDHAM HILL OVAL,2E,"1 FORDHAM HILL OVAL, 2E"
755181,Bronx,KINGSBRIDGE HTS/UNIV HTS,10 COOPS - ELEVATOR APARTMENTS,2,3226,53,D4,"1 FORDHAM HILL OVAL, 2E",NaN,10468,0,0,0,0,0,1950,2,D4,120000,2017-11-02,2017,Nov,Co-op,War,69,67,"1 FORDHAM HILL OVAL, 2E",1 FORDHAM HILL OVAL,2E,"1 FORDHAM HILL OVAL, 2E"
10077,Brooklyn,BROOKLYN HEIGHTS,10 COOPS - ELEVATOR APARTMENTS,2,251,1,D4,"1 GRACE COURT, 5D",NaN,11201,0,0,0,0,0,1926,2,D4,450000,2009-06-23,2009,Jun,Co-op,Prewar,93,83,"1 GRACE COURT, 5D",1 GRACE COURT,5D,"1 GRACE COURT, 5D"
494963,Brooklyn,BROOKLYN HEIGHTS,10 COOPS - ELEVATOR APARTMENTS,2,251,1,D4,"1 GRACE COURT, 5D",NaN,11201,0,0,0,0,0,1926,2,D4,615000,2014-08-04,2014,Aug,Co-op,Prewar,93,88,"1 GRACE COURT, 5D",1 GRACE COURT,5D,"1 GRACE COURT, 5D"

In [793]:
#EXPORT TO CSV FOR TREATMENT IN R
sales.to_csv('aptsales.csv', index_label = 'Index')
#help(pd.DataFrame.to_csv)

**TEST AREA**

In [658]:
test1 = combined.copy()

In [490]:
del test1

In [376]:
test1.shape

(562943, 25)

In [318]:
test1

,BOROUGH,NEIGHBORHOOD,BUILDING CLASS CATEGORY,TAX CLASS AT PRESENT,BLOCK,LOT,BUILDING CLASS AT PRESENT,ADDRESS,APARTMENT NUMBER,ZIP CODE,...,LAND SQUARE FEET,GROSS SQUARE FEET,YEAR BUILT,TAX CLASS AT TIME OF SALE,BUILDING CLASS AT TIME OF SALE,SALE PRICE,SALE DATE,year,SALE MONTH,TYPE
30117,Manhattan,CLINTON,16 CONDOS - 2-10 UNIT WITH COMMERCIAL UNIT,4,1082,1001,R5,770 11TH AVENUE,MBU,10019,...,0,0,2009,2,R8,189734983,2010-07-26,2010,7,Condo
30544,Manhattan,FINANCIAL,13 CONDOS - ELEVATOR APARTMENTS,2,25,1401,R4,15 WILLIAM STREET,3M,10004,...,0,0,2005,2,R4,184414937,2010-12-01,2010,12,Condo
32904,Manhattan,HARLEM-CENTRAL,17 CONDOPS,2,2045,1501,R9,130 BRADHURST AVENUE,1,10039,...,0,161156,2007,2,R9,57402625,2010-01-28,2010,1,Condop
32905,Manhattan,HARLEM-CENTRAL,17 CONDOPS,2,2045,1501,R9,"130 BRADHURST AVENUE, 1",NaN,10039,...,0,0,2007,2,R9,57402625,2010-01-28,2010,1,Condop
63683,Manhattan,UPPER EAST SIDE (59-79),01 ONE FAMILY HOMES,1,1381,61,A7,14-16 EAST 67TH STREET,NaN,10065,...,4820,18240,1905,1,A7,49000000,2008-02-29,2008,2,Other
66411,Manhattan,UPPER EAST SIDE (79-96),10 COOPS - ELEVATOR APARTMENTS,2,1499,1,D4,"1060 FIFTH AVENUE, 13B",NaN,10128,...,0,0,1928,2,D4,48836000,2008-07-29,2008,7,Co-op
63859,Manhattan,UPPER EAST SIDE (59-79),10 COOPS - ELEVATOR APARTMENTS,2,1381,69,D4,"2 EAST 67TH STREET, 11",NaN,10065,...,0,0,1928,2,D4,48000000,2008-07-16,2008,7,Co-op
64616,Manhattan,UPPER EAST SIDE (59-79),13 CONDOS - ELEVATOR APARTMENTS,2,1373,1304,R4,425 MAIN STREET,4A,10044,...,0,0,2006,2,R4,47540313,2008-08-22,2008,8,Condo
66407,Manhattan,UPPER EAST SIDE (79-96),10 COOPS - ELEVATOR APARTMENTS,2,1499,1,D4,"1060 FIFTH AVENUE, 13B",NaN,10128,...,0,0,1928,2,D4,46000000,2008-01-23,2008,1,Co-op
57491,Manhattan,MIDTOWN WEST,13 CONDOS - ELEVATOR APARTMENTS,2,1274,1539,R4,768 5 AVENUE,1109,10019,...,0,0,0,2,R4,45924048,2008-04-07,2008,4,Condo
68526,Manhattan,UPPER WEST SIDE (59-79),13 CONDOS - ELEVATOR APARTMENTS,2,1114,1460,R4,15 CENTRAL PARK WEST,PH39,10023,...,0,0,2005,2,R4,45821250,2008-02-06,2008,2,Condo
41483,Manhattan,UPPER EAST SIDE (59-79),10 COOPS - ELEVATOR APARTMENTS,2,1438,1,D4,301 EAST 63RD STREET,NaN,10065,...,10946,146061,1959,2,D4,45000000,2010-12-02,2010,12,Co-op
42378,Manhattan,UPPER EAST SIDE (79-96),02 TWO FAMILY HOMES,1,1493,69,S2,1009 FIFTH AVENUE,NaN,10028,...,2717,19575,1931,1,S2,44000000,2010-07-21,2010,7,Other
63681,Manhattan,UPPER EAST SIDE (59-79),01 ONE FAMILY HOMES,1,1379,10,A9,11 EAST 64TH STREET,NaN,10065,...,2912,12424,1899,1,A9,42500000,2008-07-01,2008,7,Other
47652,Manhattan,CIVIC CENTER,13 CONDOS - ELEVATOR APARTMENTS,2,134,1413,R4,25 MURRAY STREET,LLA,10007,...,0,0,1930,2,R4,40000000,2008-05-07,2008,5,Condo
43880,Manhattan,UPPER WEST SIDE (59-79),13 CONDOS - ELEVATOR APARTMENTS,2,1114,1464,R4,15 CENTRAL PARK WEST,PH41B,10023,...,0,0,2005,2,R4,40000000,2010-12-20,2010,12,Condo
63898,Manhattan,UPPER EAST SIDE (59-79),10 COOPS - ELEVATOR APARTMENTS,2,1385,32,D4,"720 PARK AVENUE, 7A",NaN,10021,...,0,0,1928,2,D4,36630000,2008-12-18,2008,12,Co-op
63851,Manhattan,UPPER EAST SIDE (59-79),10 COOPS - ELEVATOR APARTMENTS,2,1380,69,D4,"4 EAST 66TH STREET, 6 FL",NaN,10065,...,0,0,1920,2,D4,36500000,2008-07-01,2008,7,Co-op
35356,Manhattan,MIDTOWN WEST,13 CONDOS - ELEVATOR APARTMENTS,2,1027,1585,R4,230 WEST 56TH STREET,64A,10019,...,0,0,0,2,R4,35200000,2010-11-12,2010,11,Condo
66331,Manhattan,UPPER EAST SIDE (79-96),10 COOPS - ELEVATOR APARTMENTS,2,1492,69,D4,"995 FIFTH AVENUE, PH",NaN,10028,...,0,0,1926,2,D4,34758839,2008-09-08,2008,9,Co-op
63931,Manhattan,UPPER EAST SIDE (59-79),10 COOPS - ELEVATOR APARTMENTS,2,1388,33,D4,"778 PARK AVENUE, 3",NaN,10021,...,0,0,1930,2,D4,33600000,2008-01-03,2008,1,Co-op
43843,Manhattan,UPPER WEST SIDE (59-79),13 CONDOS - ELEVATOR APARTMENTS,2,1113,1544,R4,1 CENTRAL PARK WEST,PH52A,10023,...,0,0,0,2,R4,33177083,2010-03-22,2010,3,Condo
47655,Manhattan,CIVIC CENTER,13 CONDOS - ELEVATOR APARTMENTS,2,134,1417,R4,25 MURRAY STREET,2D,10007,...,0,0,1930,2,R4,32800000,2008-06-17,2008,6,Condo
63696,Manhattan,UPPER EAST SIDE (59-79),01 ONE FAMILY HOMES,1,1408,13,A4,127 EAST 73RD STREET,NaN,10021,...,2248,9574,1926,1,A4,32500000,2008-07-01,2008,7,Other
55107,Manhattan,MIDTOWN EAST,01 ONE FAMILY HOMES,1,1372,60,A7,7 SUTTON SQUARE,NaN,10022,...,1250,8779,1899,1,A7,32500000,2008-09-23,2008,9,Other
66363,Manhattan,UPPER EAST SIDE (79-96),10 COOPS - ELEVATOR APARTMENTS,2,1496,1,D4,"1030 FIFTH AVENUE, 10 FL",NaN,10028,...,0,0,1925,2,D4,32250000,2008-12-03,2008,12,Co-op
63911,Manhattan,UPPER EAST SIDE (59-79),10 COOPS - ELEVATOR APARTMENTS,2,1386,33,D4,"740 PARK AVENUE, 4-5A",NaN,10021,...,0,0,1930,2,D4,32000000,2008-01-29,2008,1,Co-op
63689,Manhattan,UPPER EAST SIDE (59-79),01 ONE FAMILY HOMES,1,1399,1,A4,601 PARK AVENUE,NaN,10065,...,2092,9400,1901,1,A4,31789500,2008-07-23,2008,7,Other
32258,Manhattan,GREENWICH VILLAGE-WEST,13 CONDOS - ELEVATOR APARTMENTS,2,640,1056,R4,400 WEST 12TH STREET,PH,10014,...,0,0,2007,2,R4,31500000,2010-11-18,2010,11,Condo
64852,Manhattan,UPPER EAST SIDE (59-79),13 CONDOS - ELEVATOR APARTMENTS,2,1410,1311,R4,823 PARK AVENUE,PH,10021,...,0,0,1920,2,R4,30547500,2008-08-01,2008,8,Condo
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26628,Bronx,PARKCHESTER,13 CONDOS - ELEVATOR APARTMENTS,2,3937,3390,R4,1410 WOOD ROAD,4C,10462,...,0,0,0,2,R4,100000,2010-10-27,2010,10,Condo
24192,Bronx,BAYCHESTER,01 ONE FAMILY HOMES,1,4886,29,A1,3425 EDSON AVENUE,NaN,10469,...,2375,1257,1925,1,A1,100000,2010-08-23,2010,8,Other
5098,Queens,ELMHURST,10 COOPS - ELEVATOR APARTMENTS,2,1513,28,D4,"88-11 ELMHURST AVENUE, C1",NaN,11373,...,0,0,1937,2,D4,100000,2009-06-18,2009,6,Co-op
5099,Queens,ELMHURST,10 COOPS - ELEVATOR APARTMENTS,2,1513,28,D4,"88-11 ELMHURST AVENUE, C14",NaN,11373,...,0,0,1937,2,D4,100000,2009-06-18,2009,6,Co-op
19170,Queens,ROSEDALE,01 ONE FAMILY HOMES,1,13242,33,A1,246-02 136 AVENUE,NaN,11422,...,3038,1358,1920,1,A1,100000,2009-10-30,2009,10,Other
5596,Queens,FAR ROCKAWAY,01 ONE FAMILY HOMES,1,15704,5,S1,20-08 CORNAGA AVENUE,NaN,11691,...,2547,2800,1931,1,S1,100000,2009-05-13,2009,5,Other
26158,Bronx,MORRISANIA/LONGWOOD,02 TWO FAMILY HOMES,1,2687,38,B2,738 PROSPECT AVENUE,NaN,10455,...,1673,2142,1901,1,B2,100000,2010-04-02,2010,4,Other
24491,Bronx,BEDFORD PARK/NORWOOD,03 THREE FAMILY HOMES,1,3289,23,C0,320 EAST 198 STREET,NaN,10458,...,4088,3735,1910,1,C0,100000,2010-11-18,2010,11,Other
5573,Queens,FAR ROCKAWAY,01 ONE FAMILY HOMES,1,15652,33,A2,1423 PINSON STREET,NaN,11691,...,4400,1536,1930,1,A2,100000,2009-10-16,2009,10,Other
63628,Manhattan,TRIBECA,15 CONDOS - 2-10 UNIT RESIDENTIAL,2C,220,1003,R1,11 VESTRY STREET,2R,10013,...,0,0,1890,2,R1,100000,2008-04-24,2008,4,Condo
5112,Queens,ELMHURST,10 COOPS - ELEVATOR APARTMENTS,2,1517,33,D4,"83-45 VIETOR AVENUE, 3U",NaN,11373,...,0,0,1961,2,D4,100000,2009-12-09,2009,12,Co-op
24593,Bronx,BELMONT,05 TAX CLASS 1 VACANT LAND,2A,3103,56,C2,2305 CROTONA AVENUE,NaN,10458,...,2000,4500,2011,1,V0,100000,2010-03-01,2010,3,Other
5117,Queens,ELMHURST,10 COOPS - ELEVATOR APARTMENTS,2,1517,59,D4,"83-25 VIETOR AVENUE, 6B",NaN,11373,...,0,0,1963,2,D4,100000,2009-05-29,2009,5,Co-op
16727,Queens,QUEENS VILLAGE,01 ONE FAMILY HOMES,1,7933,23,A2,82-35 232ND STREET,NaN,11427,...,4242,1274,1950,1,A2,100000,2009-01-23,2009,1,Other
28696,Bronx,WILLIAMSBRIDGE,05 TAX CLASS 1 VACANT LAND,1B,4660,33,V0,CARLISLE PLACE,NaN,10467,...,2400,0,0,1,V0,100000,2010-03-19,2010,3,Other
25690,Bronx,KINGSBRIDGE/JEROME PARK,05 TAX CLASS 1 VACANT LAND,1B,3257,136,V0,3047 KINGSBRIDGE TERRACE,NaN,10463,...,7750,0,0,1,V0,100000,2010-12-10,2010,12,Other
11865,Queens,HOWARD BEACH,10 COOPS - ELEVATOR APARTMENTS,2,11434,100,D4,"151-31 88TH STREET, 5F",NaN,11414,...,0,0,1960,2,D4,100000,2009-04-28,2009,4,Co-op
10861,Queens,GLENDALE,10 COOPS - ELEVATOR APARTMENTS,2,3907,975,D4,"83-85 WOODHAVEN BOULEVARD, 1K",NaN,11421,...,0,0,1954,2,D4,100000,2009-03-30,2009,3,Co-op
7622,Queens,FLUSHING-NORTH,10 COOPS - ELEVATOR APARTMENTS,2,5051,20,D4,"144-35 SANFORD AVENUE, 2C",NaN,11355,...,0,0,1951,2,D4,100000,2009-03-18,2009,3,Co-op
4918,Queens,ELMHURST,03 THREE FAMILY HOMES,1,1568,69,C0,42-17 GLEANE STREET,NaN,11373,...,1900,3021,1970,1,C0,100000,2009-02-04,2009,2,Other
7535,Queens,FLUSHING-NORTH,10 COOPS - ELEVATOR APARTMENTS,2,5016,7,D4,"147-31 38TH AVENUE, A33",NaN,11354,...,0,0,1951,2,D4,100000,2009-06-18,2009,6,Co-op
11567,Queens,HOLLISWOOD,10 COOPS - ELEVATOR APARTMENTS,2,10538,10,D4,"86-70 FRANCIS LEWIS BOULEV, A43",NaN,11423,...,0,0,1954,2,D4,100000,2009-06-22,2009,6,Co-op
3551,Queens,CORONA,01 ONE FAMILY HOMES,1,1984,29,A9,104-64 ROOSEVELT AVENUE,NaN,11368,...,2500,736,1910,1,A9,100000,2009-06-19,2009,6,Other
35120,Manhattan,MIDTOWN WEST,10 COOPS - ELEVATOR APARTMENTS,2,1029,27,D4,"205 WEST 57TH STREET, 1CC",NaN,10019,...,0,0,1900,2,D4,100000,2010-04-21,2010,4,Co-op
11582,Queens,HOLLISWOOD,10 COOPS - ELEVATOR APARTMENTS,2,10538,70,D4,"87-50 204TH STREET, B55",NaN,11423,...,0,0,1954,2,D4,100000,2009-07-01,2009,7,Co-op
54522,Manhattan,LOWER EAST SIDE,13 CONDOS - ELEVATOR APARTMENTS,2,283,1131,R4,135 DIVISION STREET,8D,10002,...,0,0,1988,2,R4,100000,2008-09-18,2008,9,Condo
51095,Manhattan,GREENWICH VILLAGE-CENTRAL,10 COOPS - ELEVATOR APARTMENTS,2,531,45,D0,48 GREAT JONES STREET,NaN,10012,...,0,0,1920,2,D0,100000,2008-12-09,2008,12,Co-op
7588,Queens,FLUSHING-NORTH,10 COOPS - ELEVATOR APARTMENTS,2,5042,23,D4,"133-27 SANFORD AVENUE, 41",NaN,11355,...,0,0,1952,2,D4,100000,2009-12-09,2009,12,Co-op
11730,Queens,HOWARD BEACH,02 TWO FAMILY HOMES,1,11590,11,B2,155-14 HURON STREET,NaN,11414,...,3100,2288,1955,1,B2,100000,2009-06-30,2009,6,Other
7574,Queens,FLUSHING-NORTH,10 COOPS - ELEVATOR APARTMENTS,2,5025,20,D4,"144-30 ROOSEVELT AVENUE, 105",NaN,11354,...,0,0,1962,2,D4,100000,2009-10-16,2009,10,Co-op

In [660]:
test1.shape

(560756, 25)

In [682]:
#test1.info()

In [663]:
#what exactly is missing?
colnames = test1.columns.tolist()

for name in colnames:
    missing = np.sum(test1.loc[:,name].isnull())
    print(name, missing)

BOROUGH 0
NEIGHBORHOOD 0
BUILDING CLASS CATEGORY 0
TAX CLASS AT PRESENT 0
BLOCK 0
LOT 0
BUILDING CLASS AT PRESENT 0
ADDRESS 1
APARTMENT NUMBER 422891
ZIP CODE 0
RESIDENTIAL UNITS 0
COMMERCIAL UNITS 0
TOTAL UNITS 0
LAND SQUARE FEET 0
GROSS SQUARE FEET 0
YEAR BUILT 0
TAX CLASS AT TIME OF SALE 0
BUILDING CLASS AT TIME OF SALE 0
SALE PRICE 0
SALE DATE 0
SALE YEAR 0
SALE MONTH 0
TYPE 0
CONSTRUCTION 0
AGE 0

In [ ]:
test1['Base_Address'] = test1['Base_Address'].str.strip().str.replace('NY,NY| NY,NY|NY, NY|, NY|NY, N|NY','', regex = True)
test1['Base_Address'] = np.where(test1['Base_Address'].str.contains('.NY'),test1['Base_Address'].str.split('.').str[0],test1['Base_Address'])
test1['Base_Address'] = np.where(test1['Base_Address'].str.contains('STREET') == False, test1['Base_Address'].str.strip().str.replace('ST.',' STREET', regex = False),test1['Base_Address'])
test1['Base_Address'] = np.where(test1['Base_Address'].str.contains('STREET') == False, test1['Base_Address'].str.strip().str.replace(' ST',' STREET', regex = False),test1['Base_Address'])

In [390]:
#test1['Building_Address'] = test1['ADDRESS'].str.split(',').str[0].str.strip()
#test1['Apt_No'] = test1['ADDRESS'].str.split(',').str[1]
#test1['Apt_No'][test1['Apt_No'].isnull()] = test1['APARTMENT NUMBER'][test1['Apt_No'].isnull()]
#test1['Apt_No'][(test1['Apt_No'].isnull()) | (test1['Apt_No'] =='nan')] = ''
#test1['Main_Address'] = (test1['Building_Address'] + ', ' + test1['Apt_No']).str.rstrip(', ')
#Reset to null
#test1['Apt_No'][test1['Apt_No']=='']=np.nan

In [416]:
#test1['addresstest'] = test1['ADDRESS'].str.replace('ST.|STREET','ST ', regex = True).str.strip()

In [149]:
testaddress = combined[combined['ADDRESS'] == '432 PARK AVENUE, 95']
testaddress

,BOROUGH,NEIGHBORHOOD,BUILDING CLASS CATEGORY,TAX CLASS AT PRESENT,BLOCK,LOT,BUILDING CLASS AT PRESENT,ADDRESS,APARTMENT NUMBER,ZIP CODE,...,TOTAL UNITS,LAND SQUARE FEET,GROSS SQUARE FEET,YEAR BUILT,TAX CLASS AT TIME OF SALE,BUILDING CLASS AT TIME OF SALE,SALE PRICE,SALE DATE,SALE MONTH,TYPE
7466,Manhattan,MIDTOWN CBD,13 CONDOS - ELEVATOR APARTMENTS,2,1292,1456,R4,"432 PARK AVENUE, 95",95,10022,...,0,0,3952,2012,2,R4,30691657,2019-01-29,1,Condo

In [669]:
test1.loc[test1['ADDRESS'].str.contains('20 PINE|240 WEST|99 JOHN|205 EAST 85', na = False)].sample(150)
#99 JOHN STREET NY,NY

,BOROUGH,NEIGHBORHOOD,BUILDING CLASS CATEGORY,TAX CLASS AT PRESENT,BLOCK,LOT,BUILDING CLASS AT PRESENT,ADDRESS,APARTMENT NUMBER,ZIP CODE,RESIDENTIAL UNITS,COMMERCIAL UNITS,TOTAL UNITS,LAND SQUARE FEET,GROSS SQUARE FEET,YEAR BUILT,TAX CLASS AT TIME OF SALE,BUILDING CLASS AT TIME OF SALE,SALE PRICE,SALE DATE,SALE YEAR,SALE MONTH,TYPE,CONSTRUCTION,AGE,addresstest
623971,Manhattan,UPPER EAST SIDE (79-96),13 CONDOS - ELEVATOR APARTMENTS,2,1531,1005,R4,205 EAST 85TH STREET,3F,10028,1,0,1,0,0,2007,2,R4,825000,2015-06-29,2015,6,Condo,Postwar,12,205 EAST 85TH STREET
516956,Manhattan,FINANCIAL,13 CONDOS - ELEVATOR APARTMENTS,2,44,1124,R4,20 PINE ST,1016,10005,1,0,1,0,0,1928,2,R4,995000,2014-03-21,2014,3,Condo,Prewar,91,20 PINE STREET
340265,Manhattan,FINANCIAL,13 CONDOS - ELEVATOR APARTMENTS,2,76,1428,R4,99 JOHN STREET,1703,10038,1,0,1,0,0,2003,2,R4,1238000,2012-09-27,2012,9,Condo,Postwar,16,99 JOHN STREET
40893,Manhattan,UPPER EAST SIDE (79-96),13 CONDOS - ELEVATOR APARTMENTS,2,1531,1108,R4,205 EAST 85TH STREET,14F,10028,1,0,1,0,0,2007,2,R4,1857321,2009-11-20,2009,11,Condo,Postwar,12,205 EAST 85TH STREET
278660,Manhattan,UPPER EAST SIDE (79-96),13 CONDOS - ELEVATOR APARTMENTS,2,1531,1021,R4,205 EAST 85TH STREET,5A,10028,1,0,1,0,0,2007,2,R4,645500,2011-02-15,2011,2,Condo,Postwar,12,205 EAST 85TH STREET
40861,Manhattan,UPPER EAST SIDE (79-96),13 CONDOS - ELEVATOR APARTMENTS,2,1531,1070,R4,205 EAST 85TH STREET,9Q,10028,1,0,1,0,0,2007,2,R4,706076,2009-06-08,2009,6,Condo,Postwar,12,205 EAST 85TH STREET
355255,Manhattan,TRIBECA,15 CONDOS - 2-10 UNIT RESIDENTIAL,2C,190,1703,R1,240 WEST BROADWAY,4,10013,1,0,1,0,0,2008,2,R1,5193075,2012-03-05,2012,3,Condo,Postwar,11,240 WEST BROADWAY
606246,Manhattan,FINANCIAL,13 CONDOS - ELEVATOR APARTMENTS,2,76,1341,R4,99 JOHN STREET,1105,10038,1,0,1,0,0,2003,2,R4,632500,2015-05-07,2015,5,Condo,Postwar,16,99 JOHN STREET
101528,Manhattan,FINANCIAL,13 CONDOS - ELEVATOR APARTMENTS,2,76,1326,R4,99 JOHN STREET,1016,10038,1,0,1,0,0,2003,2,R4,520000,2010-04-06,2010,4,Condo,Postwar,16,99 JOHN STREET
178847,Manhattan,FINANCIAL,13 CONDOS - ELEVATOR APARTMENTS,2,76,1467,R4,99 JOHN STREET,2003,10038,1,0,1,0,0,2003,2,R4,1234119,2008-10-24,2008,10,Condo,Postwar,16,99 JOHN STREET
426387,Manhattan,FINANCIAL,13 CONDOS - ELEVATOR APARTMENTS,2,76,1204,R4,99 JOHN STREET,523,10038,1,0,1,0,0,2003,2,R4,600000,2013-08-08,2013,8,Condo,Postwar,16,99 JOHN STREET
712845,Manhattan,UPPER EAST SIDE (79-96),13 CONDOS - ELEVATOR APARTMENTS,2,1531,1161,R4,205 EAST 85TH STREET,PH1D,10028,1,0,1,0,0,2007,2,R4,8000000,2016-03-17,2016,3,Condo,Postwar,12,205 EAST 85TH STREET
698121,Manhattan,FINANCIAL,13 CONDOS - ELEVATOR APARTMENTS,2,44,1121,R4,20 PINE STREET,1013,10005,1,0,1,0,0,1928,2,R4,2150000,2016-06-14,2016,6,Condo,Prewar,91,20 PINE STREET
178506,Manhattan,FINANCIAL,13 CONDOS - ELEVATOR APARTMENTS,2,44,1204,R4,"20 PINE STREET,NY,NY",1601,10005,1,0,1,0,0,1928,2,R4,1069162,2008-08-06,2008,8,Condo,Prewar,91,20 PINE STREET
803342,Manhattan,UPPER WEST SIDE (96-116),13 CONDOS - ELEVATOR APARTMENTS,2,1869,1238,R4,240 WEST 98TH STREET,12C,10025,1,0,1,0,0,1923,2,R4,1575000,2017-06-05,2017,6,Condo,Prewar,96,240 WEST 98TH STREET
426400,Manhattan,FINANCIAL,13 CONDOS - ELEVATOR APARTMENTS,2,76,1285,R4,99 JOHN STREET,901,10038,1,0,1,0,0,2003,2,R4,565128,2013-08-15,2013,8,Condo,Postwar,16,99 JOHN STREET
178838,Manhattan,FINANCIAL,13 CONDOS - ELEVATOR APARTMENTS,2,76,1434,R4,"99 JOHN STREET NY,NY",1709,10038,1,0,1,0,0,2003,2,R4,940000,2008-09-15,2008,9,Condo,Postwar,16,99 JOHN STREET
263194,Manhattan,FINANCIAL,13 CONDOS - ELEVATOR APARTMENTS,2,44,1227,R4,20 PINE STREET,1705,10005,1,0,1,0,0,1928,2,R4,875000,2011-03-17,2011,3,Condo,Prewar,91,20 PINE STREET
799933,Manhattan,UPPER EAST SIDE (79-96),13 CONDOS - ELEVATOR APARTMENTS,2,1531,1033,R4,205 EAST 85TH STREET,6B,10028,1,0,1,0,0,2007,2,R4,1140000,2017-10-31,2017,10,Condo,Postwar,12,205 EAST 85TH STREET
178421,Manhattan,FINANCIAL,13 CONDOS - ELEVATOR APARTMENTS,2,44,1099,R4,"20 PINE STREET,NY,NY",910,10005,1,0,1,0,0,1928,2,R4,916425,2008-08-25,2008,8,Condo,Prewar,91,20 PINE STREET
263264,Manhattan,FINANCIAL,13 CONDOS - ELEVATOR APARTMENTS,2,76,1190,R4,99 JOHN STREET,509,10038,1,0,1,0,0,2003,2,R4,610000,2011-08-30,2011,8,Condo,Postwar,16,99 JOHN STREET
340272,Manhattan,FINANCIAL,13 CONDOS - ELEVATOR APARTMENTS,2,76,1451,R4,99 JOHN STREET,1813,10038,1,0,1,0,0,2003,2,R4,530000,2012-11-26,2012,11,Condo,Postwar,16,99 JOHN STREET
40887,Manhattan,UPPER EAST SIDE (79-96),13 CONDOS - ELEVATOR APARTMENTS,2,1531,1100,R4,205 EAST 85TH STREET,12J,10028,1,0,1,0,0,2007,2,R4,1616076,2009-05-08,2009,5,Condo,Postwar,12,205 EAST 85TH STREET
340286,Manhattan,FINANCIAL,13 CONDOS - ELEVATOR APARTMENTS,2,76,1503,R4,99 JOHN STREET,2301,10038,1,0,1,0,0,2003,2,R4,635000,2012-01-13,2012,1,Condo,Postwar,16,99 JOHN STREET
538049,Manhattan,UPPER WEST SIDE (96-116),13 CONDOS - ELEVATOR APARTMENTS,2,1869,1282,R4,240 WEST 98TH STREET,3G,10025,1,0,1,0,0,1923,2,R4,1359500,2014-02-24,2014,2,Condo,Prewar,96,240 WEST 98TH STREET
178574,Manhattan,FINANCIAL,13 CONDOS - ELEVATOR APARTMENTS,2,44,1319,R4,"20 PINE STREET,NY,NY",2215,10005,1,0,1,0,0,1928,2,R4,865512,2008-06-18,2008,6,Condo,Prewar,91,20 PINE STREET
116351,Manhattan,UPPER WEST SIDE (96-116),13 CONDOS - ELEVATOR APARTMENTS,2,1869,1289,R4,240 WEST 98TH STREET,10G,10025,1,0,1,0,0,1923,2,R4,1059581,2010-04-22,2010,4,Condo,Prewar,96,240 WEST 98TH STREET
787762,Manhattan,FINANCIAL,13 CONDOS - ELEVATOR APARTMENTS,2,76,1385,R4,99 JOHN STREET,1224,10038,1,0,1,0,0,2003,2,R4,750000,2017-07-25,2017,7,Condo,Postwar,16,99 JOHN STREET
178502,Manhattan,FINANCIAL,13 CONDOS - ELEVATOR APARTMENTS,2,44,1199,R4,"20 PINE STREET,NY,NY",1515,10005,1,0,1,0,0,1928,2,R4,733140,2008-07-28,2008,7,Condo,Prewar,91,20 PINE STREET
340262,Manhattan,FINANCIAL,13 CONDOS - ELEVATOR APARTMENTS,2,76,1425,R4,99 JOHN STREET,1613,10038,1,0,1,0,0,2003,2,R4,480000,2012-04-20,2012,4,Condo,Postwar,16,99 JOHN STREET
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
114334,Manhattan,UPPER WEST SIDE (59-79),10 COOPS - ELEVATOR APARTMENTS,2,1166,154,D4,"240 WEST 75TH STREET, 4A",NaN,10023,0,0,0,0,0,1920,2,D4,925000,2010-01-12,2010,1,Co-op,Prewar,99,"240 WEST 75TH STREET, 4A"
178821,Manhattan,FINANCIAL,13 CONDOS - ELEVATOR APARTMENTS,2,76,1299,R4,"99 JOHN STREET NY,NY",915,10038,1,0,1,0,0,2003,2,R4,814600,2008-09-19,2008,9,Condo,Postwar,16,99 JOHN STREET
200144,Manhattan,UPPER WEST SIDE (96-116),13 CONDOS - ELEVATOR APARTMENTS,2,1869,1277,R4,"240 WEST 98TH ST.NY,NY",11F,10025,1,0,1,0,0,1923,2,R4,715055,2008-03-27,2008,3,Condo,Prewar,96,240 WEST 98TH STREET
40907,Manhattan,UPPER EAST SIDE (79-96),13 CONDOS - ELEVATOR APARTMENTS,2,1531,1126,R4,205 EAST 85TH STREET,16A,10028,1,0,1,0,0,2007,2,R4,960937,2009-06-29,2009,6,Condo,Postwar,12,205 EAST 85TH STREET
445518,Manhattan,UPPER EAST SIDE (79-96),13 CONDOS - ELEVATOR APARTMENTS,2,1531,1047,R4,205 EAST 85 STREET,7G,10028,1,0,1,0,0,2007,2,R4,1975000,2013-02-01,2013,2,Condo,Postwar,12,205 EAST 85 STREET
935545,Manhattan,UPPER EAST SIDE (79-96),13 CONDOS - ELEVATOR APARTMENTS,2,1531,1041,R4,"205 EAST 85TH STREET, 6P",6P,10028,0,0,0,0,603,2007,2,R4,940000,2019-05-06,2019,5,Condo,Postwar,12,"205 EAST 85TH STREET, 6P"
263258,Manhattan,FINANCIAL,13 CONDOS - ELEVATOR APARTMENTS,2,76,1164,R4,99 JOHN STREET,409,10038,1,0,1,0,0,2003,2,R4,749000,2011-12-27,2011,12,Condo,Postwar,16,99 JOHN STREET
536045,Manhattan,UPPER WEST SIDE (59-79),13 CONDOS - ELEVATOR APARTMENTS,2,1162,1010,R4,240 WEST END AVENUE,3B,10023,1,0,1,0,0,1924,2,R4,940000,2014-03-07,2014,3,Condo,Prewar,95,240 WEST END AVENUE
449548,Manhattan,UPPER WEST SIDE (96-116),13 CONDOS - ELEVATOR APARTMENTS,2,1869,1368,R4,240 WEST 98TH STREET,1K,10025,1,0,1,0,0,1923,2,R4,909203,2013-02-01,2013,2,Condo,Prewar,96,240 WEST 98TH STREET
516952,Manhattan,FINANCIAL,13 CONDOS - ELEVATOR APARTMENTS,2,44,1057,R4,20 PINE STREET,706,10005,1,0,1,0,0,1928,2,R4,1125000,2014-02-07,2014,2,Condo,Prewar,91,20 PINE STREET
41676,Manhattan,UPPER WEST SIDE (59-79),10 COOPS - ELEVATOR APARTMENTS,2,1166,154,D4,"240 WEST 75 STREET, 9D",NaN,10023,0,0,0,0,0,1920,2,D4,485000,2009-04-17,2009,4,Co-op,Prewar,99,"240 WEST 75 STREET, 9D"
178519,Manhattan,FINANCIAL,13 CONDOS - ELEVATOR APARTMENTS,2,44,1225,R4,"20 PINE STREET,NY,NY",1703,10005,1,0,1,0,0,1928,2,R4,717866,2008-07-14,2008,7,Condo,Prewar,91,20 PINE STREET
178399,Manhattan,FINANCIAL,13 CONDOS - ELEVATOR APARTMENTS,2,44,1075,R4,"20 PINE STREET,NY,NY",805,10005,1,0,1,0,0,1928,2,R4,962246,2008-09-04,2008,9,Condo,Prewar,91,20 PINE STREET
517113,Manhattan,FINANCIAL,13 CONDOS - ELEVATOR APARTMENTS,2,76,1271,R4,99 JOHN STREET,813,10038,1,0,1,0,0,2003,2,R4,700000,2014-08-08,2014,8,Condo,Postwar,16,99 JOHN STREET
517087,Manhattan,FINANCIAL,13 CONDOS - ELEVATOR APARTMENTS,2,76,1112,R4,99 JOHN STREET,209,10038,1,0,1,0,0,2003,2,R4,804417,2014-10-24,2014,10,Condo,Postwar,16,99 JOHN STREET
40848,Manhattan,UPPER EAST SIDE (79-96),13 CONDOS - ELEVATOR APARTMENTS,2,1531,1056,R4,"205 EAST 85TH ST,NY,NY",8B,10028,1,0,1,0,0,2007,2,R4,849396,2009-03-11,2009,3,Condo,Postwar,12,205 EAST 85TH STREET
426385,Manhattan,FINANCIAL,13 CONDOS - ELEVATOR APARTMENTS,2,76,1178,R4,99 JOHN STREET,423,10038,1,0,1,0,0,2003,2,R4,765000,2013-11-21,2013,11,Condo,Postwar,16,99 JOHN STREET
178419,Manhattan,FINANCIAL,13 CONDOS - ELEVATOR APARTMENTS,2,44,1097,R4,"20 PINE STREET,NY,NY",908,10005,1,0,1,0,0,1928,2,R4,1074253,2008-08-13,2008,8,Condo,Prewar,91,20 PINE STREET
449544,Manhattan,UPPER WEST SIDE (96-116),13 CONDOS - ELEVATOR APARTMENTS,2,1869,1295,R4,240 WEST 98TH STREET,3H,10025,1,0,1,0,0,1923,2,R4,1450000,2013-03-29,2013,3,Condo,Prewar,96,240 WEST 98TH STREET
263261,Manhattan,FINANCIAL,13 CONDOS - ELEVATOR APARTMENTS,2,76,1184,R4,99 JOHN STREET,503,10038,1,0,1,0,0,2003,2,R4,616041,2011-04-04,2011,4,Condo,Postwar,16,99 JOHN STREET
355258,Manhattan,TRIBECA,15 CONDOS - 2-10 UNIT RESIDENTIAL,2C,190,1706,R1,240 WEST BROADWAY,PH,10013,1,0,1,0,0,2008,2,R1,8001352,2012-03-27,2012,3,Condo,Postwar,11,240 WEST BROADWAY
716215,Manhattan,UPPER WEST SIDE (96-116),13 CONDOS - ELEVATOR APARTMENTS,2,1869,1255,R4,240 WEST 98TH STREET,3E,10025,1,0,1,0,0,1923,2,R4,2700000,2016-10-31,2016,10,Condo,Prewar,96,240 WEST 98TH STREET
200170,Manhattan,UPPER WEST SIDE (96-116),13 CONDOS - ELEVATOR APARTMENTS,2,1869,1345,R4,"240 WEST 98TH ST.NY,NY",14M,10025,1,0,1,0,0,1923,2,R4,1026370,2008-03-14,2008,3,Condo,Prewar,96,240 WEST 98TH STREET
263298,Manhattan,FINANCIAL,13 CONDOS - ELEVATOR APARTMENTS,2,76,1350,R4,99 JOHN STREET,1114,10038,1,0,1,0,0,2003,2,R4,679172,2011-04-27,2011,4,Condo,Postwar,16,99 JOHN STREET
698195,Manhattan,FINANCIAL,13 CONDOS - ELEVATOR APARTMENTS,2,76,1107,R4,99 JOHN STREET,204,10038,1,0,1,0,0,2003,2,R4,900000,2016-12-22,2016,12,Condo,Postwar,16,99 JOHN STREET
698211,Manhattan,FINANCIAL,13 CONDOS - ELEVATOR APARTMENTS,2,76,1295,R4,99 JOHN STREET,911,10038,1,0,1,0,0,2003,2,R4,600000,2016-04-01,2016,4,Condo,Postwar,16,99 JOHN STREET
874977,Manhattan,FINANCIAL,13 CONDOS - ELEVATOR APARTMENTS,2,44,1006,R4,20 PINE STREET,406,10005,1,0,1,0,0,1928,2,R4,1225000,2018-04-26,2018,4,Condo,Prewar,91,20 PINE STREET
101450,Manhattan,FINANCIAL,13 CONDOS - ELEVATOR APARTMENTS,2,44,1037,R4,20 PINE,605,10005,1,0,1,0,0,1928,2,R4,880786,2010-12-20,2010,12,Condo,Prewar,91,20 PINE
178450,Manhattan,FINANCIAL,13 CONDOS - ELEVATOR APARTMENTS,2,44,1132,R4,"20 PINE STREET,NY,NY",1105,10005,1,0,1,0,0,1928,2,R4,992793,2008-06-25,2008,6,Condo,Prewar,91,20 PINE STREET
178585,Manhattan,FINANCIAL,13 CONDOS - ELEVATOR APARTMENTS,2,44,1338,R4,"20 PINE STREET,NY,NY",2404,10005,1,0,1,0,0,1928,2,R4,814600,2008-06-23,2008,6,Condo,Prewar,91,20 PINE STREET

In [670]:
test1.loc[test1['ADDRESS'].str.contains('125 WEST 21|70 LITTLE WEST|133 WEST 22|209-211 EAST', na = False)].sample(150)
#99 JOHN STREET NY,NY

,BOROUGH,NEIGHBORHOOD,BUILDING CLASS CATEGORY,TAX CLASS AT PRESENT,BLOCK,LOT,BUILDING CLASS AT PRESENT,ADDRESS,APARTMENT NUMBER,ZIP CODE,RESIDENTIAL UNITS,COMMERCIAL UNITS,TOTAL UNITS,LAND SQUARE FEET,GROSS SQUARE FEET,YEAR BUILT,TAX CLASS AT TIME OF SALE,BUILDING CLASS AT TIME OF SALE,SALE PRICE,SALE DATE,SALE YEAR,SALE MONTH,TYPE,CONSTRUCTION,AGE,addresstest
515228,Manhattan,CHELSEA,13 CONDOS - ELEVATOR APARTMENTS,2,798,1518,R4,133 WEST 22ND STREET,7B,10011,1,0,1,0,0,2008,2,R4,2500000,2014-07-30,2014,7,Condo,Postwar,11,133 WEST 22ND STREET
424517,Manhattan,CHELSEA,13 CONDOS - ELEVATOR APARTMENTS,2,798,1546,R4,133 WEST 22 STREET,12D,10011,1,0,1,0,0,2008,2,R4,4000000,2013-10-01,2013,10,Condo,Postwar,11,133 WEST 22 STREET
796255,Manhattan,TRIBECA,13 CONDOS - ELEVATOR APARTMENTS,2,16,1922,R4,70 LITTLE WEST STREET,29F,10004,1,0,1,0,0,2006,2,R4,2000000,2017-06-29,2017,6,Condo,Postwar,13,70 LITTLE WEST STREET
26011,Manhattan,CHELSEA,13 CONDOS - ELEVATOR APARTMENTS,2,798,1545,R4,133 WEST 22ND STREET,11D,10011,1,0,1,0,0,2008,2,R4,2857209,2009-05-05,2009,5,Condo,Postwar,11,133 WEST 22ND STREET
25984,Manhattan,CHELSEA,13 CONDOS - ELEVATOR APARTMENTS,2,798,1511,R4,133 WEST 22ND STREET,12A,10011,1,0,1,0,0,2008,2,R4,1425550,2009-08-14,2009,8,Condo,Postwar,11,133 WEST 22ND STREET
175710,Manhattan,CHELSEA,13 CONDOS - ELEVATOR APARTMENTS,2,797,1606,R4,"125 WEST 21ST ST.NY,NY",2E,10011,1,0,1,0,0,2006,2,R4,1318633,2008-03-26,2008,3,Condo,Postwar,13,125 WEST 21ST STREET
604361,Manhattan,CHELSEA,13 CONDOS - ELEVATOR APARTMENTS,2,798,1598,R4,133 WEST 22ND STREET,5L,10011,1,0,1,0,0,2008,2,R4,1299000,2015-07-15,2015,7,Condo,Postwar,11,133 WEST 22ND STREET
696532,Manhattan,CHELSEA,13 CONDOS - ELEVATOR APARTMENTS,2,797,1647,R4,125 WEST 21ST STREET,11C,10011,1,0,1,0,0,2006,2,R4,1565000,2016-07-14,2016,7,Condo,Postwar,13,125 WEST 21ST STREET
175807,Manhattan,CHELSEA,13 CONDOS - ELEVATOR APARTMENTS,2,798,1570,R4,"133 WEST 22ND ST.NY,NY",4G,10011,1,0,1,0,0,2008,2,R4,992793,2008-12-08,2008,12,Condo,Postwar,11,133 WEST 22ND STREET
530614,Manhattan,TRIBECA,13 CONDOS - ELEVATOR APARTMENTS,2,16,1819,R4,70 LITTLE WEST STREET,14C,10280,1,0,1,0,0,2006,2,R4,2175000,2014-06-02,2014,6,Condo,Postwar,13,70 LITTLE WEST STREET
424516,Manhattan,CHELSEA,13 CONDOS - ELEVATOR APARTMENTS,2,798,1539,R4,133 WEST 22ND STREET,5D,10011,1,0,1,0,0,2008,2,R4,1475000,2013-06-20,2013,6,Condo,Postwar,11,133 WEST 22ND STREET
184749,Manhattan,MIDTOWN EAST,13 CONDOS - ELEVATOR APARTMENTS,2,1325,1424,R4,"209-211 EAST 51ST ST.NY,NY",4F,10022,1,0,1,0,0,1958,2,R4,997885,2008-07-29,2008,7,Condo,Postwar,61,209-211 EAST 51ST STREET
26006,Manhattan,CHELSEA,13 CONDOS - ELEVATOR APARTMENTS,2,798,1539,R4,133 WEST 22ND STREET,5D,10011,1,0,1,0,0,2008,2,R4,1069162,2009-03-16,2009,3,Condo,Postwar,11,133 WEST 22ND STREET
175727,Manhattan,CHELSEA,13 CONDOS - ELEVATOR APARTMENTS,2,797,1628,R4,"125 WEST 21ST ST.NY,NY",7B,10011,1,0,1,0,0,2006,2,R4,1186261,2008-03-12,2008,3,Condo,Postwar,13,125 WEST 21ST STREET
796248,Manhattan,TRIBECA,13 CONDOS - ELEVATOR APARTMENTS,2,16,1843,R4,70 LITTLE WEST STREET,17G,10004,1,0,1,0,0,2006,2,R4,1900000,2017-08-09,2017,8,Condo,Postwar,13,70 LITTLE WEST STREET
26030,Manhattan,CHELSEA,13 CONDOS - ELEVATOR APARTMENTS,2,798,1573,R4,133 WEST 22ND STREET,7G,10011,1,0,1,0,0,2008,2,R4,1221900,2009-09-03,2009,9,Condo,Postwar,11,133 WEST 22ND STREET
25990,Manhattan,CHELSEA,13 CONDOS - ELEVATOR APARTMENTS,2,798,1518,R4,133 WEST 22ND STREET,7B,10011,1,0,1,0,0,2008,2,R4,1476462,2009-11-06,2009,11,Condo,Postwar,11,133 WEST 22ND STREET
191783,Manhattan,TRIBECA,13 CONDOS - ELEVATOR APARTMENTS,2,16,1775,R4,"70 LITTLE WEST ST,NY",9E,10280,1,0,1,0,0,2006,2,R4,1616981,2008-12-03,2008,12,Condo,Postwar,13,70 LITTLE WEST STREET
338173,Manhattan,CHELSEA,13 CONDOS - ELEVATOR APARTMENTS,2,798,1595,R4,133 WEST 22ND STREET,6K,10011,1,0,1,0,0,2008,2,R4,840000,2012-04-24,2012,4,Condo,Postwar,11,133 WEST 22ND STREET
26015,Manhattan,CHELSEA,13 CONDOS - ELEVATOR APARTMENTS,2,798,1550,R4,133 WEST 22ND STREET,5E,10011,1,0,1,0,0,2008,2,R4,1018248,2009-08-27,2009,8,Condo,Postwar,11,133 WEST 22ND STREET
175730,Manhattan,CHELSEA,13 CONDOS - ELEVATOR APARTMENTS,2,797,1633,R4,"125 WEST 21ST ST.NY,NY",8B,10011,1,0,1,0,0,2006,2,R4,1211717,2008-03-27,2008,3,Condo,Postwar,13,125 WEST 21ST STREET
26021,Manhattan,CHELSEA,13 CONDOS - ELEVATOR APARTMENTS,2,798,1559,R4,133 WEST 22ND STREET,3F,10011,1,0,1,0,0,2008,2,R4,1318633,2009-02-13,2009,2,Condo,Postwar,11,133 WEST 22ND STREET
515161,Manhattan,CHELSEA,13 CONDOS - ELEVATOR APARTMENTS,2,797,1621,R4,125 WEST 21ST STREET,5E,10011,1,0,1,0,0,2006,2,R4,1952500,2014-08-15,2014,8,Condo,Postwar,13,125 WEST 21ST STREET
184744,Manhattan,MIDTOWN EAST,13 CONDOS - ELEVATOR APARTMENTS,2,1325,1414,R4,"209-211 EAST 51ST ST.NY,NY",3C,10022,1,0,1,0,0,1958,2,R4,702592,2008-08-06,2008,8,Condo,Postwar,61,209-211 EAST 51ST STREET
25982,Manhattan,CHELSEA,13 CONDOS - ELEVATOR APARTMENTS,2,798,1508,R4,133 WEST 22ND STREET,9A,10011,1,0,1,0,0,2008,2,R4,642006,2009-11-23,2009,11,Condo,Postwar,11,133 WEST 22ND STREET
619832,Manhattan,TRIBECA,13 CONDOS - ELEVATOR APARTMENTS,2,16,1705,R4,70 LITTLE WEST STREET,3A,10280,1,0,1,0,0,2006,2,R4,1065000,2015-12-09,2015,12,Condo,Postwar,13,70 LITTLE WEST STREET
191790,Manhattan,TRIBECA,13 CONDOS - ELEVATOR APARTMENTS,2,16,1793,R4,"70 LITTLE WEST ST,NY",10K,10280,1,0,1,0,0,2006,2,R4,1922456,2008-10-27,2008,10,Condo,Postwar,13,70 LITTLE WEST STREET
26027,Manhattan,CHELSEA,13 CONDOS - ELEVATOR APARTMENTS,2,798,1567,R4,133 WEST 22ND STREET,11F,10011,1,0,1,0,0,2008,2,R4,926912,2009-05-26,2009,5,Condo,Postwar,11,133 WEST 22ND STREET
175709,Manhattan,CHELSEA,13 CONDOS - ELEVATOR APARTMENTS,2,797,1605,R4,"125 WEST 21ST ST.NY,NY",2D,10011,1,0,1,0,0,2006,2,R4,1018250,2008-03-11,2008,3,Condo,Postwar,13,125 WEST 21ST STREET
515226,Manhattan,CHELSEA,13 CONDOS - ELEVATOR APARTMENTS,2,798,1502,R4,133 WEST 22ND STREET,3A,10011,1,0,1,0,0,2008,2,R4,920000,2014-03-18,2014,3,Condo,Postwar,11,133 WEST 22ND STREET
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
175718,Manhattan,CHELSEA,13 CONDOS - ELEVATOR APARTMENTS,2,797,1617,R4,"125 WEST 21ST ST.NY,NY",5A,10011,1,0,1,0,0,2006,2,R4,2081303,2008-03-14,2008,3,Condo,Postwar,13,125 WEST 21ST STREET
26025,Manhattan,CHELSEA,13 CONDOS - ELEVATOR APARTMENTS,2,798,1565,R4,133 WEST 22ND STREET,9F,10011,1,0,1,0,0,2008,2,R4,1675021,2009-02-23,2009,2,Condo,Postwar,11,133 WEST 22ND STREET
26034,Manhattan,CHELSEA,13 CONDOS - ELEVATOR APARTMENTS,2,798,1583,R4,133 WEST 22ND STREET,9H,10011,1,0,1,0,0,2008,2,R4,789143,2009-01-22,2009,1,Condo,Postwar,11,133 WEST 22ND STREET
619850,Manhattan,TRIBECA,13 CONDOS - ELEVATOR APARTMENTS,2,16,1932,R4,70 LITTLE WEST STREET,31D,10280,1,0,1,0,0,2006,2,R4,3800000,2015-09-11,2015,9,Condo,Postwar,13,70 LITTLE WEST STREET
424478,Manhattan,CHELSEA,13 CONDOS - ELEVATOR APARTMENTS,2,797,1652,R4,125 WEST 21ST STREET,PH B,10011,1,0,1,0,0,2006,2,R4,3425000,2013-10-17,2013,10,Condo,Postwar,13,125 WEST 21ST STREET
184754,Manhattan,MIDTOWN EAST,13 CONDOS - ELEVATOR APARTMENTS,2,1325,1450,R4,"209-211 EAST 51ST ST.NY,NY",8D,10022,1,0,1,0,0,1958,2,R4,697501,2008-08-11,2008,8,Condo,Postwar,61,209-211 EAST 51ST STREET
882890,Manhattan,TRIBECA,13 CONDOS - ELEVATOR APARTMENTS,2,16,1836,R4,70 LITTLE WEST STREET,16G,10004,1,0,1,0,0,2006,2,R4,1800000,2018-04-30,2018,4,Condo,Postwar,13,70 LITTLE WEST STREET
175748,Manhattan,CHELSEA,13 CONDOS - ELEVATOR APARTMENTS,2,797,1653,R4,"125 WEST 21ST ST.NY,NY",PH C,10011,1,0,1,0,0,2006,2,R4,1629200,2008-03-28,2008,3,Condo,Postwar,13,125 WEST 21ST STREET
696559,Manhattan,CHELSEA,13 CONDOS - ELEVATOR APARTMENTS,2,798,1555,R4,133 WEST 22 STREET,10E,10011,1,0,1,0,0,2008,2,R4,3540000,2016-09-22,2016,9,Condo,Postwar,11,133 WEST 22 STREET
873547,Manhattan,CHELSEA,13 CONDOS - ELEVATOR APARTMENTS,2,798,1547,R4,133 WEST 22ND STREET,2E,10011,1,0,1,0,894,2008,2,R4,1650000,2018-10-09,2018,10,Condo,Postwar,11,133 WEST 22ND STREET
26004,Manhattan,CHELSEA,13 CONDOS - ELEVATOR APARTMENTS,2,798,1536,R4,133 WEST 22ND STREET,2D,10011,1,0,1,0,0,2008,2,R4,1130257,2009-03-11,2009,3,Condo,Postwar,11,133 WEST 22ND STREET
424515,Manhattan,CHELSEA,13 CONDOS - ELEVATOR APARTMENTS,2,798,1529,R4,133 WEST 22ND STREET,6C,10011,1,0,1,0,0,2008,2,R4,1340000,2013-04-03,2013,4,Condo,Postwar,11,133 WEST 22ND STREET
184747,Manhattan,MIDTOWN EAST,13 CONDOS - ELEVATOR APARTMENTS,2,1325,1422,R4,"209-211 EAST 51ST ST.NY,NY",4D,10022,1,0,1,0,0,1958,2,R4,661862,2008-08-11,2008,8,Condo,Postwar,61,209-211 EAST 51ST STREET
786001,Manhattan,CHELSEA,13 CONDOS - ELEVATOR APARTMENTS,2,797,1623,R4,125 WEST 21ST STREET,6B,10011,1,0,1,0,0,2006,2,R4,1682500,2017-08-30,2017,8,Condo,Postwar,13,125 WEST 21ST STREET
338168,Manhattan,CHELSEA,13 CONDOS - ELEVATOR APARTMENTS,2,798,1578,R4,133 WEST 22ND STREET,4H,10011,1,0,1,0,0,2008,2,R4,200000,2012-10-15,2012,10,Condo,Postwar,11,133 WEST 22ND STREET
619844,Manhattan,TRIBECA,13 CONDOS - ELEVATOR APARTMENTS,2,16,1873,R4,70 LITTLE WEST STREET,22B,10280,1,0,1,0,0,2006,2,R4,2450000,2015-05-28,2015,5,Condo,Postwar,13,70 LITTLE WEST STREET
785999,Manhattan,CHELSEA,13 CONDOS - ELEVATOR APARTMENTS,2,797,1604,R4,125 WEST 21ST STREET,2C,10011,1,0,1,0,0,2006,2,R4,1015000,2017-08-30,2017,8,Condo,Postwar,13,125 WEST 21ST STREET
191785,Manhattan,TRIBECA,13 CONDOS - ELEVATOR APARTMENTS,2,16,1779,R4,"70 LITTLE WEST ST,NY",9J,10280,1,0,1,0,0,2006,2,R4,1354272,2008-11-07,2008,11,Condo,Postwar,13,70 LITTLE WEST STREET
184758,Manhattan,MIDTOWN EAST,13 CONDOS - ELEVATOR APARTMENTS,2,1325,1471,R4,"209-211 EAST 51ST ST.NY,NY",11D,10022,1,0,1,0,0,1958,2,R4,1781937,2008-09-03,2008,9,Condo,Postwar,61,209-211 EAST 51ST STREET
175737,Manhattan,CHELSEA,13 CONDOS - ELEVATOR APARTMENTS,2,797,1642,R4,"125 WEST 21ST ST.NY,NY",10A,10011,1,0,1,0,0,2006,2,R4,1837941,2008-03-25,2008,3,Condo,Postwar,13,125 WEST 21ST STREET
515236,Manhattan,CHELSEA,13 CONDOS - ELEVATOR APARTMENTS,2,798,1597,R4,133 WEST 22ND STREET,4L,10011,1,0,1,0,0,2008,2,R4,1200000,2014-06-18,2014,6,Condo,Postwar,11,133 WEST 22ND STREET
26002,Manhattan,CHELSEA,13 CONDOS - ELEVATOR APARTMENTS,2,798,1532,R4,133 WEST 22ND STREET,9C,10011,1,0,1,0,0,2008,2,R4,1064071,2009-01-20,2009,1,Condo,Postwar,11,133 WEST 22ND STREET
191776,Manhattan,TRIBECA,13 CONDOS - ELEVATOR APARTMENTS,2,16,1752,R4,"70 LITTLE WEST ST,NY",7H,10280,1,0,1,0,0,2006,2,R4,1064071,2008-11-07,2008,11,Condo,Postwar,13,70 LITTLE WEST STREET
99958,Manhattan,CHELSEA,13 CONDOS - ELEVATOR APARTMENTS,2,797,1614,R4,125 WEST 21ST STREET,4C,10011,1,0,1,0,0,2006,2,R4,399000,2010-05-27,2010,5,Condo,Postwar,13,125 WEST 21ST STREET
175808,Manhattan,CHELSEA,13 CONDOS - ELEVATOR APARTMENTS,2,798,1572,R4,"133 WEST 22ND ST.NY,NY",6G,10011,1,0,1,0,0,2008,2,R4,999921,2008-12-08,2008,12,Condo,Postwar,11,133 WEST 22ND STREET
424469,Manhattan,CHELSEA,13 CONDOS - ELEVATOR APARTMENTS,2,797,1605,R4,125 WEST 21ST STREET,2D,10011,1,0,1,0,0,2006,2,R4,1450000,2013-06-26,2013,6,Condo,Postwar,13,125 WEST 21ST STREET
882892,Manhattan,TRIBECA,13 CONDOS - ELEVATOR APARTMENTS,2,16,1887,R4,70 LITTLE WEST STREET,24B,10004,1,0,1,0,0,2006,2,R4,2140000,2018-06-11,2018,6,Condo,Postwar,13,70 LITTLE WEST STREET
175713,Manhattan,CHELSEA,13 CONDOS - ELEVATOR APARTMENTS,2,797,1610,R4,"125 WEST 21ST ST.NY,NY",3D,10011,1,0,1,0,0,2006,2,R4,1058878,2008-03-20,2008,3,Condo,Postwar,13,125 WEST 21ST STREET
338145,Manhattan,CHELSEA,13 CONDOS - ELEVATOR APARTMENTS,2,797,1643,R4,125 WEST 21ST STREET,10B,10011,1,0,1,0,0,2006,2,R4,2065000,2012-04-20,2012,4,Condo,Postwar,13,125 WEST 21ST STREET
786028,Manhattan,CHELSEA,13 CONDOS - ELEVATOR APARTMENTS,2,798,1515,R4,133 WEST 22ND STREET,4B,10011,1,0,1,0,0,2008,2,R4,2550000,2017-07-12,2017,7,Condo,Postwar,11,133 WEST 22ND STREET

In [672]:
test1.loc[test1['ADDRESS'].str.contains('555 LENOX AVENUE|311 WEST BROADWAY|631 EAST 9|211 ELIZABETH|211 WEST', na = False)].sample(150)
#99 JOHN STREET NY,NY

,BOROUGH,NEIGHBORHOOD,BUILDING CLASS CATEGORY,TAX CLASS AT PRESENT,BLOCK,LOT,BUILDING CLASS AT PRESENT,ADDRESS,APARTMENT NUMBER,ZIP CODE,RESIDENTIAL UNITS,COMMERCIAL UNITS,TOTAL UNITS,LAND SQUARE FEET,GROSS SQUARE FEET,YEAR BUILT,TAX CLASS AT TIME OF SALE,BUILDING CLASS AT TIME OF SALE,SALE PRICE,SALE DATE,SALE YEAR,SALE MONTH,TYPE,CONSTRUCTION,AGE,addresstest
116812,Queens,ARVERNE,02 TWO FAMILY HOMES,1,16066,26,B3,7211 ELIZABETH AVENUE,NaN,11692,2,0,2,0,0,1930,1,B3,255000,2010-10-26,2010,10,House,Prewar,89,7211 ELIZABETH AVENUE
264944,Manhattan,GREENWICH VILLAGE-WEST,09 COOPS - WALKUP APARTMENTS,2,620,82,C6,"211 WEST 10 STREET, 5A",NaN,10014,0,0,0,0,0,1920,2,C6,860000,2011-02-14,2011,2,Co-op,Prewar,99,"211 WEST 10 STREET, 5A"
521871,Manhattan,LITTLE ITALY,13 CONDOS - ELEVATOR APARTMENTS,2,493,1107,R4,211 ELIZABETH STREET,4S,10012,1,0,1,0,0,2007,2,R4,3000000,2014-11-24,2014,11,Condo,Postwar,12,211 ELIZABETH STREET
181732,Manhattan,HARLEM-CENTRAL,13 CONDOS - ELEVATOR APARTMENTS,2,2007,1134,R4,555 LENOX AVENUE,PHE,10037,1,0,1,0,0,1910,2,R4,476000,2008-12-09,2008,12,Condo,Prewar,109,555 LENOX AVENUE
274898,Manhattan,SOHO,13 CONDOS - ELEVATOR APARTMENTS,2,228,1231,R4,311 WEST BROADWAY,6J,10013,1,0,1,0,0,2007,2,R4,2902012,2011-10-31,2011,10,Condo,Postwar,12,311 WEST BROADWAY
530232,Manhattan,SOHO,13 CONDOS - ELEVATOR APARTMENTS,2,228,1233,R4,311 WEST BROADWAY,7F,10013,1,0,1,0,0,2007,2,R4,3500000,2014-06-05,2014,6,Condo,Postwar,12,311 WEST BROADWAY
274899,Manhattan,SOHO,13 CONDOS - ELEVATOR APARTMENTS,2,228,1232,R4,311 WEST BROADWAY,7E,10013,1,0,1,0,0,2007,2,R4,4112184,2011-04-26,2011,4,Condo,Postwar,12,311 WEST BROADWAY
43416,Manhattan,UPPER WEST SIDE (79-96),12 CONDOS - WALKUP APARTMENTS,2,1236,1216,R2,"211 WEST 88TH ST NY, N",5C,10024,1,0,1,0,0,1910,2,R2,430950,2009-09-16,2009,9,Condo,Prewar,109,211 WEST 88TH STREET
786068,Manhattan,CHELSEA,15 CONDOS - 2-10 UNIT RESIDENTIAL,2C,768,1302,R1,211 WEST 18TH STREET,2,10011,1,0,1,0,0,2001,2,R1,2450000,2017-08-21,2017,8,Condo,Postwar,18,211 WEST 18TH STREET
440814,Manhattan,SOHO,13 CONDOS - ELEVATOR APARTMENTS,2,228,1257,R4,311 WEST BROADWAY,6B,10013,1,0,1,0,0,2007,2,R4,4050000,2013-06-07,2013,6,Condo,Postwar,12,311 WEST BROADWAY
181723,Manhattan,HARLEM-CENTRAL,13 CONDOS - ELEVATOR APARTMENTS,2,2007,1121,R4,"555 LENOX AVENUE,NY,NY",3F,10037,1,0,1,0,0,1910,2,R4,402558,2008-09-17,2008,9,Condo,Prewar,109,555 LENOX AVENUE
261008,Manhattan,CHELSEA,03 THREE FAMILY HOMES,1,772,39,C0,211 WEST 22ND STREET,NaN,10011,3,0,3,847,0,1901,1,C0,3850000,2011-09-07,2011,9,House,Prewar,118,211 WEST 22ND STREET
345079,Manhattan,LITTLE ITALY,13 CONDOS - ELEVATOR APARTMENTS,2,493,1108,R4,211 ELIZABETH STREET,4E,10012,1,0,1,0,0,2007,2,R4,1800000,2012-06-28,2012,6,Condo,Postwar,12,211 ELIZABETH STREET
448739,Manhattan,UPPER WEST SIDE (79-96),12 CONDOS - WALKUP APARTMENTS,2,1236,1216,R2,211 WEST 88TH STREET,5C,10024,1,0,1,0,0,1910,2,R2,430000,2013-03-27,2013,3,Condo,Prewar,109,211 WEST 88TH STREET
110943,Manhattan,SOHO,13 CONDOS - ELEVATOR APARTMENTS,2,228,1233,R4,311 WEST BROADWAY,7F,10013,1,0,1,0,0,2007,2,R4,2189237,2010-07-01,2010,7,Condo,Postwar,12,311 WEST BROADWAY
110953,Manhattan,SOHO,13 CONDOS - ELEVATOR APARTMENTS,2,228,1264,R4,311 WEST BROADWAY,8A,10013,1,0,1,0,0,2007,2,R4,3750000,2010-06-17,2010,6,Condo,Postwar,12,311 WEST BROADWAY
30218,Manhattan,LITTLE ITALY,13 CONDOS - ELEVATOR APARTMENTS,2,493,1115,R4,"211 ELIZABETH ST NY,NY",6N,10012,1,0,1,0,0,2007,2,R4,3767525,2009-12-07,2009,12,Condo,Postwar,12,211 ELIZABETH STREET
100041,Manhattan,CHELSEA,15 CONDOS - 2-10 UNIT RESIDENTIAL,2C,768,1301,R1,211 WEST 18TH STREET,1,10011,1,0,1,0,0,2001,2,R1,1325000,2010-12-28,2010,12,Condo,Postwar,18,211 WEST 18TH STREET
174967,Manhattan,ALPHABET CITY,13 CONDOS - ELEVATOR APARTMENTS,2,392,1123,R4,"631 EAST 9TH ST.NY,NY",6A,10009,1,0,1,0,0,2005,2,R4,1410276,2008-03-13,2008,3,Condo,Postwar,14,631 EAST 9TH STREET
803098,Manhattan,UPPER WEST SIDE (96-116),09 COOPS - WALKUP APARTMENTS,2,1879,21,C6,"211 WEST 107TH STREET, 3W",NaN,10025,0,0,0,0,0,1920,2,C6,1200000,2017-03-23,2017,3,Co-op,Prewar,99,"211 WEST 107TH STREET, 3W"
30215,Manhattan,LITTLE ITALY,13 CONDOS - ELEVATOR APARTMENTS,2,493,1109,R4,"211 ELIZABETH ST NY,NY",4N,10012,1,0,1,0,0,2007,2,R4,2984000,2009-08-13,2009,8,Condo,Postwar,12,211 ELIZABETH STREET
115829,Manhattan,UPPER WEST SIDE (79-96),12 CONDOS - WALKUP APARTMENTS,2,1236,1215,R2,211 WEST 88TH STREET,5B,10024,1,0,1,0,0,1910,2,R2,450000,2010-06-11,2010,6,Condo,Prewar,109,211 WEST 88TH STREET
110948,Manhattan,SOHO,13 CONDOS - ELEVATOR APARTMENTS,2,228,1249,R4,311 WEST BROADWAY,4B,10013,1,0,1,0,0,2007,2,R4,3288947,2010-02-11,2010,2,Condo,Postwar,12,311 WEST BROADWAY
274901,Manhattan,SOHO,13 CONDOS - ELEVATOR APARTMENTS,2,228,1236,R4,311 WEST BROADWAY,7I,10013,1,0,1,0,0,2007,2,R4,2952925,2011-11-16,2011,11,Condo,Postwar,12,311 WEST BROADWAY
274906,Manhattan,SOHO,13 CONDOS - ELEVATOR APARTMENTS,2,228,1246,R4,311 WEST BROADWAY,3C,10013,1,0,1,0,0,2007,2,R4,2087412,2011-02-04,2011,2,Condo,Postwar,12,311 WEST BROADWAY
110935,Manhattan,SOHO,13 CONDOS - ELEVATOR APARTMENTS,2,228,1210,R4,311 WEST BROADWAY,3F,10013,1,0,1,0,0,2007,2,R4,1960131,2010-08-24,2010,8,Condo,Postwar,12,311 WEST BROADWAY
30216,Manhattan,LITTLE ITALY,13 CONDOS - ELEVATOR APARTMENTS,2,493,1111,R4,"211 ELIZABETH ST NY,NY",5E,10012,1,0,1,0,0,2007,2,R4,1629200,2009-12-09,2009,12,Condo,Postwar,12,211 ELIZABETH STREET
104236,Manhattan,LITTLE ITALY,13 CONDOS - ELEVATOR APARTMENTS,2,493,1112,R4,211 ELIZABETH STREET,5N,10012,1,0,1,0,0,2007,2,R4,3683306,2010-12-10,2010,12,Condo,Postwar,12,211 ELIZABETH STREET
715498,Manhattan,UPPER WEST SIDE (79-96),12 CONDOS - WALKUP APARTMENTS,2,1236,1215,R2,211 WEST 88 STREET,5B,10024,1,0,1,0,0,1910,2,R2,765000,2016-11-01,2016,11,Condo,Prewar,109,211 WEST 88 STREET
603649,Manhattan,ALPHABET CITY,13 CONDOS - ELEVATOR APARTMENTS,2,392,1114,R4,631 EAST 9TH STREET,1B&CB,10009,1,0,1,0,0,2005,2,R4,1987500,2015-04-30,2015,4,Condo,Postwar,14,631 EAST 9TH STREET
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
181720,Manhattan,HARLEM-CENTRAL,13 CONDOS - ELEVATOR APARTMENTS,2,2007,1117,R4,"555 LENOX AVENUE,NY,NY",3B,10037,1,0,1,0,0,1910,2,R4,366054,2008-09-17,2008,9,Condo,Prewar,109,555 LENOX AVENUE
932872,Manhattan,SOHO,13 CONDOS - ELEVATOR APARTMENTS,2,228,1211,R4,"311 WEST BROADWAY, 3G",3G,10013,0,0,0,0,0,2007,2,R4,2635000,2019-09-09,2019,9,Condo,Postwar,12,"311 WEST BROADWAY, 3G"
174965,Manhattan,ALPHABET CITY,13 CONDOS - ELEVATOR APARTMENTS,2,392,1121,R4,"631 EAST 9TH ST.NY,NY",5A,10009,1,0,1,0,0,2005,2,R4,1323725,2008-03-27,2008,3,Condo,Postwar,14,631 EAST 9TH STREET
354367,Manhattan,SOHO,13 CONDOS - ELEVATOR APARTMENTS,2,228,1230,R4,311 WEST BROADWAY,6I,10013,1,0,1,0,0,2007,2,R4,2800000,2012-05-04,2012,5,Condo,Postwar,12,311 WEST BROADWAY
181721,Manhattan,HARLEM-CENTRAL,13 CONDOS - ELEVATOR APARTMENTS,2,2007,1118,R4,"555 LENOX AVENUE,NY,NY",3C,10037,1,0,1,0,0,1910,2,R4,353500,2008-10-03,2008,10,Condo,Prewar,109,555 LENOX AVENUE
279932,Manhattan,UPPER WEST SIDE (59-79),13 CONDOS - ELEVATOR APARTMENTS,2,1163,1043,R4,211 WEST 71ST STREET,12A,10023,1,0,1,0,0,1985,2,R4,1187500,2011-12-22,2011,12,Condo,Postwar,34,211 WEST 71ST STREET
790551,Manhattan,HARLEM-CENTRAL,13 CONDOS - ELEVATOR APARTMENTS,2,2007,1110,R4,555 LENOX AVENUE,2B,10037,1,0,1,0,0,1910,2,R4,466000,2017-01-17,2017,1,Condo,Prewar,109,555 LENOX AVENUE
110944,Manhattan,SOHO,13 CONDOS - ELEVATOR APARTMENTS,2,228,1238,R4,311 WEST BROADWAY,PHE,10013,1,0,1,0,0,2007,2,R4,9975000,2010-11-30,2010,11,Condo,Postwar,12,311 WEST BROADWAY
110946,Manhattan,SOHO,13 CONDOS - ELEVATOR APARTMENTS,2,228,1247,R4,311 WEST BROADWAY,3D,10013,1,0,1,0,0,2007,2,R4,2036500,2010-02-25,2010,2,Condo,Postwar,12,311 WEST BROADWAY
37490,Manhattan,SOHO,13 CONDOS - ELEVATOR APARTMENTS,2,228,1234,R4,311 WEST BROADWAY,7G,10013,1,0,1,0,0,2007,2,R4,2443800,2009-12-01,2009,12,Condo,Postwar,12,311 WEST BROADWAY
29475,Manhattan,HARLEM-CENTRAL,13 CONDOS - ELEVATOR APARTMENTS,2,2007,1125,R4,555 LENOX AVENUE,4C,10037,1,0,1,0,0,1910,2,R4,324480,2009-11-02,2009,11,Condo,Prewar,109,555 LENOX AVENUE
37498,Manhattan,SOHO,13 CONDOS - ELEVATOR APARTMENTS,2,228,1266,R4,"311 WEST BROADWAY NY,NY",8C,10013,1,0,1,0,0,2007,2,R4,2543750,2009-05-06,2009,5,Condo,Postwar,12,311 WEST BROADWAY
174963,Manhattan,ALPHABET CITY,13 CONDOS - ELEVATOR APARTMENTS,2,392,1119,R4,"631 EAST 9TH ST.NY,NY",4A,10009,1,0,1,0,0,2005,2,R4,1200000,2008-09-08,2008,9,Condo,Postwar,14,631 EAST 9TH STREET
429699,Manhattan,HARLEM-CENTRAL,13 CONDOS - ELEVATOR APARTMENTS,2,2007,1130,R4,555 LENOX AVENUE,PHA,10037,1,0,1,0,0,1910,2,R4,430000,2013-02-01,2013,2,Condo,Prewar,109,555 LENOX AVENUE
174960,Manhattan,ALPHABET CITY,13 CONDOS - ELEVATOR APARTMENTS,2,392,1116,R4,"631 EAST 9TH ST.NY,NY",2B,10009,1,0,1,0,0,2005,2,R4,1298269,2008-03-12,2008,3,Condo,Postwar,14,631 EAST 9TH STREET
873419,Manhattan,CHELSEA,13 CONDOS - ELEVATOR APARTMENTS,2,764,1318,R4,211 WEST 14TH STREET,8B,10011,1,0,1,0,0,2015,2,R4,3460918,2018-08-28,2018,8,Condo,Postwar,4,211 WEST 14TH STREET
265988,Manhattan,HARLEM-CENTRAL,13 CONDOS - ELEVATOR APARTMENTS,2,2007,1109,R4,555 LENOX AVENUE,2A,10037,1,0,1,0,0,1910,2,R4,425000,2011-08-30,2011,8,Condo,Prewar,109,555 LENOX AVENUE
342339,Manhattan,GREENWICH VILLAGE-WEST,09 COOPS - WALKUP APARTMENTS,2,620,82,C6,"211 WEST 10TH STREET, 6D",NaN,10014,0,0,0,0,0,1920,2,C6,915000,2012-04-30,2012,4,Co-op,Prewar,99,"211 WEST 10TH STREET, 6D"
274894,Manhattan,SOHO,13 CONDOS - ELEVATOR APARTMENTS,2,228,1207,R4,311 WEST BROADWAY,TOWN5,10013,1,0,1,0,0,2007,2,R4,5395000,2011-03-28,2011,3,Condo,Postwar,12,311 WEST BROADWAY
110950,Manhattan,SOHO,13 CONDOS - ELEVATOR APARTMENTS,2,228,1251,R4,311 WEST BROADWAY,4D,10013,1,0,1,0,0,2007,2,R4,1875000,2010-01-12,2010,1,Condo,Postwar,12,311 WEST BROADWAY
37481,Manhattan,SOHO,13 CONDOS - ELEVATOR APARTMENTS,2,228,1208,R4,"311 WEST BROADWAY NY,NY",2E,10013,1,0,1,0,0,2007,2,R4,3500000,2009-06-01,2009,6,Condo,Postwar,12,311 WEST BROADWAY
181718,Manhattan,HARLEM-CENTRAL,13 CONDOS - ELEVATOR APARTMENTS,2,2007,1114,R4,555 LENOX AVENUE,2F,10037,1,0,1,0,0,1910,2,R4,370000,2008-12-18,2008,12,Condo,Prewar,109,555 LENOX AVENUE
342337,Manhattan,GREENWICH VILLAGE-WEST,09 COOPS - WALKUP APARTMENTS,2,620,82,C6,"211 WEST 10TH STREET, 4A",NaN,10014,0,0,0,0,0,1920,2,C6,825000,2012-03-26,2012,3,Co-op,Prewar,99,"211 WEST 10TH STREET, 4A"
520456,Manhattan,HARLEM-CENTRAL,13 CONDOS - ELEVATOR APARTMENTS,2,2007,1121,R4,555 LENOX AVENUE,3F,10037,1,0,1,0,0,1910,2,R4,425000,2014-05-15,2014,5,Condo,Prewar,109,555 LENOX AVENUE
181719,Manhattan,HARLEM-CENTRAL,13 CONDOS - ELEVATOR APARTMENTS,2,2007,1116,R4,"555 LENOX AVENUE,NY,NY",3A,10037,1,0,1,0,0,1910,2,R4,590585,2008-09-04,2008,9,Condo,Prewar,109,555 LENOX AVENUE
37488,Manhattan,SOHO,13 CONDOS - ELEVATOR APARTMENTS,2,228,1223,R4,311 WEST BROADWAY,5G,10013,1,0,1,0,0,2007,2,R4,2443800,2009-10-20,2009,10,Condo,Postwar,12,311 WEST BROADWAY
181726,Manhattan,HARLEM-CENTRAL,13 CONDOS - ELEVATOR APARTMENTS,2,2007,1124,R4,"555 LENOX AVENUE,NY,NY",4B,10037,1,0,1,0,0,1910,2,R4,354900,2008-09-25,2008,9,Condo,Prewar,109,555 LENOX AVENUE
873411,Manhattan,CHELSEA,13 CONDOS - ELEVATOR APARTMENTS,2,764,1305,R4,211 WEST 14TH STREET,2C,10011,1,0,1,0,804,2015,2,R4,1682862,2018-06-15,2018,6,Condo,Postwar,4,211 WEST 14TH STREET
354363,Manhattan,SOHO,13 CONDOS - ELEVATOR APARTMENTS,2,228,1206,R4,311 WEST BROADWAY,TOWN4,10013,1,0,1,0,0,2007,2,R4,4450000,2012-06-15,2012,6,Condo,Postwar,12,311 WEST BROADWAY
701469,Manhattan,HARLEM-CENTRAL,13 CONDOS - ELEVATOR APARTMENTS,2,2007,1124,R4,555 LENOX AVENUE,4B,10037,1,0,1,0,0,1910,2,R4,500000,2016-01-13,2016,1,Condo,Prewar,109,555 LENOX AVENUE

In [673]:
test1.loc[test1['ADDRESS'].str.contains('20 PINE', na = False)]

,BOROUGH,NEIGHBORHOOD,BUILDING CLASS CATEGORY,TAX CLASS AT PRESENT,BLOCK,LOT,BUILDING CLASS AT PRESENT,ADDRESS,APARTMENT NUMBER,ZIP CODE,RESIDENTIAL UNITS,COMMERCIAL UNITS,TOTAL UNITS,LAND SQUARE FEET,GROSS SQUARE FEET,YEAR BUILT,TAX CLASS AT TIME OF SALE,BUILDING CLASS AT TIME OF SALE,SALE PRICE,SALE DATE,SALE YEAR,SALE MONTH,TYPE,CONSTRUCTION,AGE,addresstest
340133,Manhattan,FINANCIAL,13 CONDOS - ELEVATOR APARTMENTS,2,44,1408,R4,20 PINE STREET,PH50,10005,1,0,1,0,0,1928,2,R4,3850000,2012-06-28,2012,6,Condo,Prewar,91,20 PINE STREET
178544,Manhattan,FINANCIAL,13 CONDOS - ELEVATOR APARTMENTS,2,44,1266,R4,"20 PINE STREET,NY,NY",1906,10005,1,0,1,0,0,1928,2,R4,2952925,2008-09-26,2008,9,Condo,Prewar,91,20 PINE STREET
178559,Manhattan,FINANCIAL,13 CONDOS - ELEVATOR APARTMENTS,2,44,1291,R4,"20 PINE STREET,NY,NY",21012,10005,1,0,1,0,0,1928,2,R4,2937651,2008-06-06,2008,6,Condo,Prewar,91,20 PINE STREET
698131,Manhattan,FINANCIAL,13 CONDOS - ELEVATOR APARTMENTS,2,44,1262,R4,20 PINE STREET,1902,10005,1,0,1,0,0,1928,2,R4,2900000,2016-10-24,2016,10,Condo,Prewar,91,20 PINE STREET
606081,Manhattan,FINANCIAL,13 CONDOS - ELEVATOR APARTMENTS,2,44,1384,R4,20 PINE STREET,3001,10005,1,0,1,0,0,1928,2,R4,2775000,2015-07-10,2015,7,Condo,Prewar,91,20 PINE STREET
178622,Manhattan,FINANCIAL,13 CONDOS - ELEVATOR APARTMENTS,2,44,1404,R4,"20 PINE STREET,NY,NY",PH31,10005,1,0,1,0,0,1928,2,R4,2749275,2008-07-30,2008,7,Condo,Prewar,91,20 PINE STREET
178606,Manhattan,FINANCIAL,13 CONDOS - ELEVATOR APARTMENTS,2,44,1377,R4,"20 PINE STREET,NY,NY",2901,10005,1,0,1,0,0,1928,2,R4,2698362,2008-03-27,2008,3,Condo,Prewar,91,20 PINE STREET
178612,Manhattan,FINANCIAL,13 CONDOS - ELEVATOR APARTMENTS,2,44,1384,R4,"20 PINE STREET,NY,NY",3001,10005,1,0,1,0,0,1928,2,R4,2647450,2008-04-14,2008,4,Condo,Prewar,91,20 PINE STREET
178597,Manhattan,FINANCIAL,13 CONDOS - ELEVATOR APARTMENTS,2,44,1363,R4,"20 PINE STREET,NY,NY",2701,10005,1,0,1,0,0,1928,2,R4,2525260,2008-04-10,2008,4,Condo,Prewar,91,20 PINE STREET
606083,Manhattan,FINANCIAL,13 CONDOS - ELEVATOR APARTMENTS,2,44,1392,R4,20 PINE STREET,3201,10005,1,0,1,0,0,1928,2,R4,2475000,2015-04-28,2015,4,Condo,Prewar,91,20 PINE STREET
178621,Manhattan,FINANCIAL,13 CONDOS - ELEVATOR APARTMENTS,2,44,1399,R4,"20 PINE STREET,NY,NY",3304,10005,1,0,1,0,0,1928,2,R4,2464165,2008-03-14,2008,3,Condo,Prewar,91,20 PINE STREET
178614,Manhattan,FINANCIAL,13 CONDOS - ELEVATOR APARTMENTS,2,44,1388,R4,"20 PINE STREET,NY,NY",3101,10005,1,0,1,0,0,1928,2,R4,2367431,2008-03-27,2008,3,Condo,Prewar,91,20 PINE STREET
698141,Manhattan,FINANCIAL,13 CONDOS - ELEVATOR APARTMENTS,2,44,1325,R4,20 PINE STREET,2306,10005,1,0,1,0,0,1928,2,R4,2350000,2016-07-07,2016,7,Condo,Prewar,91,20 PINE STREET
27216,Manhattan,FINANCIAL,13 CONDOS - ELEVATOR APARTMENTS,2,44,1400,R4,20 PINE STREET,PH11,10005,1,0,1,0,0,1928,2,R4,2265606,2009-06-29,2009,6,Condo,Prewar,91,20 PINE STREET
178618,Manhattan,FINANCIAL,13 CONDOS - ELEVATOR APARTMENTS,2,44,1396,R4,"20 PINE STREET,NY,NY",3301,10005,1,0,1,0,0,1928,2,R4,2240150,2008-04-14,2008,4,Condo,Prewar,91,20 PINE STREET
926674,Manhattan,FINANCIAL,13 CONDOS - ELEVATOR APARTMENTS,2,44,1340,R4,"20 PINE STREET, 2406",2406,10005,0,0,0,0,0,1928,2,R4,2230000,2019-06-07,2019,6,Condo,Prewar,91,"20 PINE STREET, 2406"
698121,Manhattan,FINANCIAL,13 CONDOS - ELEVATOR APARTMENTS,2,44,1121,R4,20 PINE STREET,1013,10005,1,0,1,0,0,1928,2,R4,2150000,2016-06-14,2016,6,Condo,Prewar,91,20 PINE STREET
516989,Manhattan,FINANCIAL,13 CONDOS - ELEVATOR APARTMENTS,2,44,1396,R4,20 PINE STREET,3301,10005,1,0,1,0,0,1928,2,R4,2150000,2014-03-10,2014,3,Condo,Prewar,91,20 PINE STREET
178613,Manhattan,FINANCIAL,13 CONDOS - ELEVATOR APARTMENTS,2,44,1386,R4,"20 PINE STREET,NY,NY",3003,10005,1,0,1,0,0,1928,2,R4,2138325,2008-06-26,2008,6,Condo,Prewar,91,20 PINE STREET
178607,Manhattan,FINANCIAL,13 CONDOS - ELEVATOR APARTMENTS,2,44,1380,R4,"20 PINE STREET,NY,NY",2904,10005,1,0,1,0,0,1928,2,R4,2117960,2008-04-24,2008,4,Condo,Prewar,91,20 PINE STREET
178590,Manhattan,FINANCIAL,13 CONDOS - ELEVATOR APARTMENTS,2,44,1350,R4,"20 PINE STREET,NY,NY",2501,10005,1,0,1,0,0,1928,2,R4,2112868,2008-06-18,2008,6,Condo,Prewar,91,20 PINE STREET
698114,Manhattan,FINANCIAL,13 CONDOS - ELEVATOR APARTMENTS,2,44,1064,R4,20 PINE STREET,713,10005,1,0,1,0,0,1928,2,R4,2110000,2016-05-20,2016,5,Condo,Prewar,91,20 PINE STREET
426260,Manhattan,FINANCIAL,13 CONDOS - ELEVATOR APARTMENTS,2,44,1266,R4,20 PINE STREET,1906,10005,1,0,1,0,0,1928,2,R4,2025000,2013-02-01,2013,2,Condo,Prewar,91,20 PINE STREET
340128,Manhattan,FINANCIAL,13 CONDOS - ELEVATOR APARTMENTS,2,44,1388,R4,20 PINE STREET,3101,10005,1,0,1,0,0,1928,2,R4,2000000,2012-02-22,2012,2,Condo,Prewar,91,20 PINE STREET
178584,Manhattan,FINANCIAL,13 CONDOS - ELEVATOR APARTMENTS,2,44,1336,R4,"20 PINE STREET,NY,NY",2402,10005,1,0,1,0,0,1928,2,R4,1995770,2008-07-30,2008,7,Condo,Prewar,91,20 PINE STREET
178575,Manhattan,FINANCIAL,13 CONDOS - ELEVATOR APARTMENTS,2,44,1321,R4,"20 PINE STREET,NY,NY",2302,10005,1,0,1,0,0,1928,2,R4,1985587,2008-06-30,2008,6,Condo,Prewar,91,20 PINE STREET
787704,Manhattan,FINANCIAL,13 CONDOS - ELEVATOR APARTMENTS,2,44,1328,R4,20 PINE STREET,2309,10005,1,0,1,0,0,1928,2,R4,1950000,2017-07-13,2017,7,Condo,Prewar,91,20 PINE STREET
101494,Manhattan,FINANCIAL,13 CONDOS - ELEVATOR APARTMENTS,2,44,1405,R4,20 PINE STREET,PH32,10005,1,0,1,0,0,1928,2,R4,1942821,2010-12-21,2010,12,Condo,Prewar,91,20 PINE STREET
787687,Manhattan,FINANCIAL,13 CONDOS - ELEVATOR APARTMENTS,2,44,1083,R4,20 PINE STREET,813,10005,1,0,1,0,0,1928,2,R4,1937500,2017-06-12,2017,6,Condo,Prewar,91,20 PINE STREET
178549,Manhattan,FINANCIAL,13 CONDOS - ELEVATOR APARTMENTS,2,44,1277,R4,"20 PINE STREET,NY,NY",2002,10005,1,0,1,0,0,1928,2,R4,1934675,2008-05-23,2008,5,Condo,Prewar,91,20 PINE STREET
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
101490,Manhattan,FINANCIAL,13 CONDOS - ELEVATOR APARTMENTS,2,44,1364,R4,20 PINE STREET,2702,10005,1,0,1,0,0,1928,2,R4,658000,2010-10-07,2010,10,Condo,Prewar,91,20 PINE STREET
178432,Manhattan,FINANCIAL,13 CONDOS - ELEVATOR APARTMENTS,2,44,1111,R4,"20 PINE STREET,NY,NY",1003,10005,1,0,1,0,0,1928,2,R4,656771,2008-06-05,2008,6,Condo,Prewar,91,20 PINE STREET
178570,Manhattan,FINANCIAL,13 CONDOS - ELEVATOR APARTMENTS,2,44,1314,R4,"20 PINE STREET,NY,NY",2210,10005,1,0,1,0,0,1928,2,R4,656437,2008-07-24,2008,7,Condo,Prewar,91,20 PINE STREET
340099,Manhattan,FINANCIAL,13 CONDOS - ELEVATOR APARTMENTS,2,44,1054,R4,20 PINE STREET,703,10005,1,0,1,0,0,1928,2,R4,655000,2012-12-27,2012,12,Condo,Prewar,91,20 PINE STREET
178418,Manhattan,FINANCIAL,13 CONDOS - ELEVATOR APARTMENTS,2,44,1096,R4,"20 PINE STREET,NY,NY",907,10005,1,0,1,0,0,1928,2,R4,651680,2008-07-25,2008,7,Condo,Prewar,91,20 PINE STREET
178355,Manhattan,FINANCIAL,13 CONDOS - ELEVATOR APARTMENTS,2,44,1016,R4,"20 PINE STREET,NY,NY",503,10005,1,0,1,0,0,1928,2,R4,646588,2008-10-07,2008,10,Condo,Prewar,91,20 PINE STREET
178414,Manhattan,FINANCIAL,13 CONDOS - ELEVATOR APARTMENTS,2,44,1092,R4,"20 PINE STREET,NY,NY",903,10005,1,0,1,0,0,1928,2,R4,646588,2008-06-26,2008,6,Condo,Prewar,91,20 PINE STREET
787688,Manhattan,FINANCIAL,13 CONDOS - ELEVATOR APARTMENTS,2,44,1111,R4,20 PINE STREET,1003,10005,1,0,1,0,0,1928,2,R4,646258,2017-09-26,2017,9,Condo,Prewar,91,20 PINE STREET
178420,Manhattan,FINANCIAL,13 CONDOS - ELEVATOR APARTMENTS,2,44,1098,R4,"20 PINE STREET,NY,NY",909,10005,1,0,1,0,0,1928,2,R4,641497,2008-06-16,2008,6,Condo,Prewar,91,20 PINE STREET
340100,Manhattan,FINANCIAL,13 CONDOS - ELEVATOR APARTMENTS,2,44,1096,R4,18/20 PINE STREET,907,10005,1,0,1,0,0,1928,2,R4,638000,2012-10-19,2012,10,Condo,Prewar,91,18/20 PINE STREET
178397,Manhattan,FINANCIAL,13 CONDOS - ELEVATOR APARTMENTS,2,44,1073,R4,"20 PINE STREET,NY,NY",803,10005,1,0,1,0,0,1928,2,R4,636406,2008-09-04,2008,9,Condo,Prewar,91,20 PINE STREET
340103,Manhattan,FINANCIAL,13 CONDOS - ELEVATOR APARTMENTS,2,44,1134,R4,20 PINE STREET,1107,10005,1,0,1,0,0,1928,2,R4,635000,2012-11-30,2012,11,Condo,Prewar,91,20 PINE STREET
263199,Manhattan,FINANCIAL,13 CONDOS - ELEVATOR APARTMENTS,2,44,1308,R4,20 PINE,2204,10005,1,0,1,0,0,1928,2,R4,635000,2011-07-07,2011,7,Condo,Prewar,91,20 PINE
178403,Manhattan,FINANCIAL,13 CONDOS - ELEVATOR APARTMENTS,2,44,1079,R4,"20 PINE STREET,NY,NY",809,10005,1,0,1,0,0,1928,2,R4,631315,2008-10-17,2008,10,Condo,Prewar,91,20 PINE STREET
101457,Manhattan,FINANCIAL,13 CONDOS - ELEVATOR APARTMENTS,2,44,1115,R4,20 PINE STREET,1007,10005,1,0,1,0,0,1928,2,R4,630000,2010-01-05,2010,1,Condo,Prewar,91,20 PINE STREET
426263,Manhattan,FINANCIAL,13 CONDOS - ELEVATOR APARTMENTS,2,44,1275,R4,20 PINE STREET,1915,10005,1,0,1,0,0,1928,2,R4,630000,2013-01-29,2013,1,Condo,Prewar,91,20 PINE STREET
178383,Manhattan,FINANCIAL,13 CONDOS - ELEVATOR APARTMENTS,2,44,1054,R4,"20 PINE STREET,NY,NY",703,10005,1,0,1,0,0,1928,2,R4,626223,2008-09-22,2008,9,Condo,Prewar,91,20 PINE STREET
178389,Manhattan,FINANCIAL,13 CONDOS - ELEVATOR APARTMENTS,2,44,1060,R4,"20 PINE STREET,NY,NY",709,10005,1,0,1,0,0,1928,2,R4,621132,2008-09-29,2008,9,Condo,Prewar,91,20 PINE STREET
426267,Manhattan,FINANCIAL,13 CONDOS - ELEVATOR APARTMENTS,2,44,1286,R4,20 PINE STREET,2011,10005,1,0,1,0,0,1928,2,R4,620000,2013-08-26,2013,8,Condo,Prewar,91,20 PINE STREET
178371,Manhattan,FINANCIAL,13 CONDOS - ELEVATOR APARTMENTS,2,44,1035,R4,"20 PINE STREET,NY,NY",603,10005,1,0,1,0,0,1928,2,R4,616041,2008-09-19,2008,9,Condo,Prewar,91,20 PINE STREET
340098,Manhattan,FINANCIAL,13 CONDOS - ELEVATOR APARTMENTS,2,44,1041,R4,20 PINE,609,10005,1,0,1,0,0,1928,2,R4,613000,2012-07-02,2012,7,Condo,Prewar,91,20 PINE
101456,Manhattan,FINANCIAL,13 CONDOS - ELEVATOR APARTMENTS,2,44,1106,R4,20 PINE STREET,917,10005,1,0,1,0,0,1928,2,R4,610000,2010-10-21,2010,10,Condo,Prewar,91,20 PINE STREET
978611,Queens,SPRINGFIELD GARDENS,01 ONE FAMILY DWELLINGS,1,12729,37,A2,191-20 PINEVILLE LANE,NaN,11413,1,0,1,0,0,1965,1,A2,595000,2019-03-14,2019,3,Townhouse,Postwar,54,191-20 PINEVILLE LANE
263187,Manhattan,FINANCIAL,13 CONDOS - ELEVATOR APARTMENTS,2,44,1187,R4,20 PINE,1503,10005,1,0,1,0,0,1928,2,R4,588000,2011-07-14,2011,7,Condo,Prewar,91,20 PINE
426243,Manhattan,FINANCIAL,13 CONDOS - ELEVATOR APARTMENTS,2,44,1149,R4,20 PINE STREET,1203,10005,1,0,1,0,0,1928,2,R4,585000,2013-04-02,2013,4,Condo,Prewar,91,20 PINE STREET
340106,Manhattan,FINANCIAL,13 CONDOS - ELEVATOR APARTMENTS,2,44,1168,R4,20 PINE STREET,1403,10005,1,0,1,0,0,1928,2,R4,551891,2012-03-27,2012,3,Condo,Prewar,91,20 PINE STREET
263177,Manhattan,FINANCIAL,13 CONDOS - ELEVATOR APARTMENTS,2,44,1117,R4,20 PINE,1009,10005,1,0,1,0,0,1928,2,R4,540000,2011-12-28,2011,12,Condo,Prewar,91,20 PINE
223785,Queens,SOUTH JAMAICA,01 ONE FAMILY HOMES,1,10072,13,B3,107-20 PINEGROVE STREET,NaN,11435,2,0,2,0,0,1920,1,A1,450000,2008-01-09,2008,1,House,Prewar,99,107-20 PINEGROVE STREET
606057,Manhattan,FINANCIAL,13 CONDOS - ELEVATOR APARTMENTS,2,44,1156,R4,20 PINE STREET,1210,10005,1,0,1,0,0,1928,2,R4,390000,2015-06-16,2015,6,Condo,Prewar,91,20 PINE STREET
101482,Manhattan,FINANCIAL,13 CONDOS - ELEVATOR APARTMENTS,2,44,1315,R4,20 PINE ST,2211,10005,1,0,1,0,0,1928,2,R4,275000,2010-09-07,2010,9,Condo,Prewar,91,20 PINE STREET

In [674]:
test1['Building_Address'] = test1['addresstest'].str.split(',').str[0].str.strip()
test1['Apt_No'] = test1['addresstest'].str.split(',').str[1]
test1['Apt_No'][test1['Apt_No'].isnull()] = test1['APARTMENT NUMBER'][test1['Apt_No'].isnull()]
test1['Apt_No'][(test1['Apt_No'].isnull()) | (test1['Apt_No'] =='nan')] = ''
test1['Main_Address'] = (test1['Building_Address'] + ', ' + test1['Apt_No']).str.rstrip(', ')
#Reset to null
test1['Apt_No'][test1['Apt_No']=='']=np.nan

//anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
//anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.
//anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys

**Filter for apartments with Apartment Number with multiple transactions throughout the years**

In [675]:
apartments = test1.duplicated(subset = 'Main_Address', keep = False)
test1[apartments].head(150)

,BOROUGH,NEIGHBORHOOD,BUILDING CLASS CATEGORY,TAX CLASS AT PRESENT,BLOCK,LOT,BUILDING CLASS AT PRESENT,ADDRESS,APARTMENT NUMBER,ZIP CODE,RESIDENTIAL UNITS,COMMERCIAL UNITS,TOTAL UNITS,LAND SQUARE FEET,GROSS SQUARE FEET,YEAR BUILT,TAX CLASS AT TIME OF SALE,BUILDING CLASS AT TIME OF SALE,SALE PRICE,SALE DATE,SALE YEAR,SALE MONTH,TYPE,CONSTRUCTION,AGE,addresstest,Building_Address,Apt_No,Main_Address
123734,Queens,FLUSHING-NORTH,13 CONDOS - ELEVATOR APARTMENTS,2,5066,1001,R4,40-22 COLLEGE POINT BLVD,6A,11354,1,0,1,0,0,0,2,R4,430128304,2010-06-28,2010,6,Condo,Postwar,0,40-22 COLLEGE POINT BLVD,40-22 COLLEGE POINT BLVD,6A,"40-22 COLLEGE POINT BLVD, 6A"
524340,Manhattan,MIDTOWN WEST,10 COOPS - ELEVATOR APARTMENTS,2,1009,29,D4,100 WEST 57TH STREET,NaN,10019,324,4,328,0,0,1962,2,D4,261000000,2014-11-05,2014,11,Co-op,Postwar,57,100 WEST 57TH STREET,100 WEST 57TH STREET,NaN,100 WEST 57TH STREET
101128,Manhattan,FINANCIAL,13 CONDOS - ELEVATOR APARTMENTS,2,25,1401,R4,15 WILLIAM STREET,3M,10004,1,0,1,0,0,2005,2,R4,184414937,2010-12-01,2010,12,Condo,Postwar,14,15 WILLIAM STREET,15 WILLIAM STREET,3M,"15 WILLIAM STREET, 3M"
883415,Manhattan,UPPER EAST SIDE (59-79),09 COOPS - WALKUP APARTMENTS,2,1431,1,C6,1329 3 AVENUE,NaN,10075,0,0,0,0,0,1910,2,C6,163555828,2018-08-03,2018,8,Co-op,Prewar,109,1329 3 AVENUE,1329 3 AVENUE,NaN,1329 3 AVENUE
202094,Queens,ASTORIA,10 COOPS - ELEVATOR APARTMENTS,2,890,1,D4,19-19 24TH AVENUE,NaN,11102,0,0,0,0,0,1920,2,D4,100139400,2008-02-06,2008,2,Co-op,Prewar,99,19-19 24TH AVENUE,19-19 24TH AVENUE,NaN,19-19 24TH AVENUE
791233,Manhattan,INWOOD,10 COOPS - ELEVATOR APARTMENTS,2,2215,42,D4,150 WEST 225 STREET,NaN,10463,0,0,0,0,0,1972,2,D4,75000000,2017-12-15,2017,12,Co-op,Postwar,47,150 WEST 225 STREET,150 WEST 225 STREET,NaN,150 WEST 225 STREET
791234,Manhattan,INWOOD,10 COOPS - ELEVATOR APARTMENTS,2,2215,42,D4,150 WEST 225 STREET,NaN,10463,318,0,318,0,0,1972,2,D4,75000000,2017-12-15,2017,12,Co-op,Postwar,47,150 WEST 225 STREET,150 WEST 225 STREET,NaN,150 WEST 225 STREET
342615,Manhattan,GREENWICH VILLAGE-WEST,13 CONDOS - ELEVATOR APARTMENTS,2,601,1002,R4,421 HUDSON STREET,201,10014,1,0,1,0,0,1920,2,R4,67602825,2012-01-18,2012,1,Condo,Prewar,99,421 HUDSON STREET,421 HUDSON STREET,201,"421 HUDSON STREET, 201"
335606,Brooklyn,WILLIAMSBURG-NORTH,05 TAX CLASS 1 VACANT LAND,2,2340,4,D8,KENT AVENUE,NaN,0,509,0,509,0,0,2012,1,V0,65600000,2012-08-30,2012,8,Other,Postwar,7,KENT AVENUE,KENT AVENUE,NaN,KENT AVENUE
594934,Brooklyn,GREENPOINT,05 TAX CLASS 1 VACANT LAND,1B,2472,45,V0,COMMERCIAL STREET,NaN,11222,0,0,0,0,0,0,1,V0,59757356,2015-10-19,2015,10,Other,Postwar,0,COMMERCIAL STREET,COMMERCIAL STREET,NaN,COMMERCIAL STREET
103489,Manhattan,HARLEM-CENTRAL,17 CONDOPS,2,2045,1501,R9,"130 BRADHURST AVENUE, 1",NaN,10039,0,0,0,0,0,2007,2,R9,57402625,2010-01-28,2010,1,Condop,Postwar,12,"130 BRADHURST AVENUE, 1",130 BRADHURST AVENUE,1,"130 BRADHURST AVENUE, 1"
32157,Manhattan,MIDTOWN WEST,13 CONDOS - ELEVATOR APARTMENTS,2,1047,2001,R4,322 WEST 57TH STREET,15B1,10019,1,0,1,0,0,1978,2,R4,53268315,2009-08-06,2009,8,Condo,Postwar,41,322 WEST 57TH STREET,322 WEST 57TH STREET,15B1,"322 WEST 57TH STREET, 15B1"
614196,Manhattan,MIDTOWN WEST,13 CONDOS - ELEVATOR APARTMENTS,2,1049,1136,R4,25 COLUMBUS CIRCLE,STPH78,10019,1,0,1,0,0,0,2,R4,50917500,2015-06-30,2015,6,Condo,Postwar,0,25 COLUMBUS CIRCLE,25 COLUMBUS CIRCLE,STPH78,"25 COLUMBUS CIRCLE, STPH78"
524636,Manhattan,MIDTOWN WEST,13 CONDOS - ELEVATOR APARTMENTS,2,1010,1688,R4,157 WEST 57TH STREET,79,10019,1,0,1,0,0,2009,2,R4,50916000,2014-12-03,2014,12,Condo,Postwar,10,157 WEST 57TH STREET,157 WEST 57TH STREET,79,"157 WEST 57TH STREET, 79"
801041,Manhattan,UPPER WEST SIDE (59-79),13 CONDOS - ELEVATOR APARTMENTS,2,1114,1462,R4,15 CENTRAL PARK WEST,PH40B,10023,1,0,1,0,0,2005,2,R4,50550000,2017-05-15,2017,5,Condo,Postwar,14,15 CENTRAL PARK WEST,15 CENTRAL PARK WEST,PH40B,"15 CENTRAL PARK WEST, PH40B"
887279,Manhattan,UPPER WEST SIDE (59-79),13 CONDOS - ELEVATOR APARTMENTS,2,1114,1527,R4,15 CENTRAL PARK WEST,1617B,10023,1,0,1,0,0,2005,2,R4,50000000,2018-04-05,2018,4,Condo,Postwar,14,15 CENTRAL PARK WEST,15 CENTRAL PARK WEST,1617B,"15 CENTRAL PARK WEST, 1617B"
873030,Manhattan,ALPHABET CITY,17 CONDO COOPS,2,390,1102,R9,"342 EAST 8TH STREET, RES",NaN,10009,0,0,0,0,0,2001,2,R9,50000000,2018-04-10,2018,4,Condop,Postwar,18,"342 EAST 8TH STREET, RES",342 EAST 8TH STREET,RES,"342 EAST 8TH STREET, RES"
195179,Manhattan,UPPER EAST SIDE (79-96),10 COOPS - ELEVATOR APARTMENTS,2,1499,1,D4,"1060 FIFTH AVENUE, 13B",NaN,10128,0,0,0,0,0,1928,2,D4,48836000,2008-07-29,2008,7,Co-op,Prewar,91,"1060 FIFTH AVENUE, 13B",1060 FIFTH AVENUE,13B,"1060 FIFTH AVENUE, 13B"
535690,Manhattan,UPPER WEST SIDE (59-79),13 CONDOS - ELEVATOR APARTMENTS,2,1114,1531,R4,15 CENTRAL PARK WEST,1819B,10023,1,0,1,0,0,2005,2,R4,48000000,2014-05-13,2014,5,Condo,Postwar,14,15 CENTRAL PARK WEST,15 CENTRAL PARK WEST,1819B,"15 CENTRAL PARK WEST, 1819B"
594939,Brooklyn,GREENPOINT,05 TAX CLASS 1 VACANT LAND,1B,2472,80,V0,COMMERCIAL STREET,NaN,11222,0,0,0,0,0,0,1,V0,46485643,2015-10-19,2015,10,Other,Postwar,0,COMMERCIAL STREET,COMMERCIAL STREET,NaN,COMMERCIAL STREET
195175,Manhattan,UPPER EAST SIDE (79-96),10 COOPS - ELEVATOR APARTMENTS,2,1499,1,D4,"1060 FIFTH AVENUE, 13B",NaN,10128,0,0,0,0,0,1928,2,D4,46000000,2008-01-23,2008,1,Co-op,Prewar,91,"1060 FIFTH AVENUE, 13B",1060 FIFTH AVENUE,13B,"1060 FIFTH AVENUE, 13B"
275935,Manhattan,UPPER EAST SIDE (59-79),10 COOPS - ELEVATOR APARTMENTS,2,1379,51,D4,"30 EAST 65TH STREET, 1G",NaN,10065,0,0,0,0,0,1962,2,D4,45050000,2011-09-20,2011,9,Co-op,Postwar,57,"30 EAST 65TH STREET, 1G",30 EAST 65TH STREET,1G,"30 EAST 65TH STREET, 1G"
796890,Manhattan,UPPER EAST SIDE (59-79),09 COOPS - WALKUP APARTMENTS,2,1431,1,C6,1329 3 AVENUE,NaN,10075,0,0,0,0,0,1910,2,C6,45000000,2017-01-26,2017,1,Co-op,Prewar,109,1329 3 AVENUE,1329 3 AVENUE,NaN,1329 3 AVENUE
625247,Manhattan,UPPER WEST SIDE (59-79),13 CONDOS - ELEVATOR APARTMENTS,2,1114,1531,R4,15 CENTRAL PARK WEST,1819B,10023,1,0,1,0,0,2005,2,R4,45000000,2015-11-12,2015,11,Condo,Postwar,14,15 CENTRAL PARK WEST,15 CENTRAL PARK WEST,1819B,"15 CENTRAL PARK WEST, 1819B"
696402,Manhattan,CHELSEA,13 CONDOS - ELEVATOR APARTMENTS,2,767,1555,R4,212 WEST 18TH STREET,PH2,10011,1,0,1,0,0,1929,2,R4,45000000,2016-06-10,2016,6,Condo,Prewar,90,212 WEST 18TH STREET,212 WEST 18TH STREET,PH2,"212 WEST 18TH STREET, PH2"
695781,Manhattan,ALPHABET CITY,17 CONDO COOPS,2,390,1102,R9,"342 EAST 8TH STREET, RES",NaN,10009,0,0,0,0,0,2001,2,R9,44000000,2016-05-03,2016,5,Condop,Postwar,18,"342 EAST 8TH STREET, RES",342 EAST 8TH STREET,RES,"342 EAST 8TH STREET, RES"
795695,Manhattan,SOHO,02 TWO FAMILY DWELLINGS,1,499,6,S2,102 GREENE STREET,NaN,10012,2,1,3,0,0,1910,1,S2,43500000,2017-04-24,2017,4,Townhouse,Prewar,109,102 GREENE STREET,102 GREENE STREET,NaN,102 GREENE STREET
17015,Brooklyn,FORT GREENE,13 CONDOS - ELEVATOR APARTMENTS,2,2095,1101,R4,230 ASHLAND PLACE,3A,11217,1,0,1,0,0,0,2,R4,42409151,2009-08-17,2009,8,Condo,Postwar,0,230 ASHLAND PLACE,230 ASHLAND PLACE,3A,"230 ASHLAND PLACE, 3A"
879582,Manhattan,MIDTOWN CBD,13 CONDOS - ELEVATOR APARTMENTS,2,1292,1433,R4,432 PARK AVENUE,77B,10022,1,0,1,0,0,2012,2,R4,42000000,2018-04-12,2018,4,Condo,Postwar,7,432 PARK AVENUE,432 PARK AVENUE,77B,"432 PARK AVENUE, 77B"
628066,Manhattan,WASHINGTON HEIGHTS LOWER,10 COOPS - ELEVATOR APARTMENTS,2,2142,130,D4,4101 BROADWAY,NaN,10033,0,0,0,0,0,1926,2,D4,42000000,2015-03-03,2015,3,Co-op,Prewar,93,4101 BROADWAY,4101 BROADWAY,NaN,4101 BROADWAY
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
111253,Manhattan,TRIBECA,01 ONE FAMILY HOMES,1,189,39,A4,232 WEST BROADWAY,NaN,10013,1,0,1,0,0,1915,1,A4,24065000,2010-07-01,2010,7,House,Prewar,104,232 WEST BROADWAY,232 WEST BROADWAY,NaN,232 WEST BROADWAY
279613,Manhattan,UPPER WEST SIDE (59-79),13 CONDOS - ELEVATOR APARTMENTS,2,1114,1431,R4,15 CENTRAL PARK WEST,31D,10023,1,0,1,0,0,2005,2,R4,24000000,2011-11-30,2011,11,Condo,Postwar,14,15 CENTRAL PARK WEST,15 CENTRAL PARK WEST,31D,"15 CENTRAL PARK WEST, 31D"
360422,Manhattan,UPPER WEST SIDE (59-79),13 CONDOS - ELEVATOR APARTMENTS,2,1114,1523,R4,15 CENTRAL PARK WEST,15B,10023,1,0,1,0,0,2005,2,R4,24000000,2012-12-14,2012,12,Condo,Postwar,14,15 CENTRAL PARK WEST,15 CENTRAL PARK WEST,15B,"15 CENTRAL PARK WEST, 15B"
696401,Manhattan,CHELSEA,13 CONDOS - ELEVATOR APARTMENTS,2,767,1545,R4,212 WEST 18TH STREET,18A,10011,1,0,1,0,0,1929,2,R4,24000000,2016-08-05,2016,8,Condo,Prewar,90,212 WEST 18TH STREET,212 WEST 18TH STREET,18A,"212 WEST 18TH STREET, 18A"
535682,Manhattan,UPPER WEST SIDE (59-79),13 CONDOS - ELEVATOR APARTMENTS,2,1114,1414,R4,15 CENTRAL PARK WEST,27C,10023,1,0,1,0,0,2005,2,R4,24000000,2014-03-18,2014,3,Condo,Postwar,14,15 CENTRAL PARK WEST,15 CENTRAL PARK WEST,27C,"15 CENTRAL PARK WEST, 27C"
197342,Manhattan,UPPER WEST SIDE (59-79),13 CONDOS - ELEVATOR APARTMENTS,2,1114,1531,R4,15 CENTRAL PARK WEST,1819B,10023,1,0,1,0,0,2005,2,R4,23928875,2008-03-26,2008,3,Condo,Postwar,14,15 CENTRAL PARK WEST,15 CENTRAL PARK WEST,1819B,"15 CENTRAL PARK WEST, 1819B"
800717,Manhattan,UPPER WEST SIDE (59-79),10 COOPS - ELEVATOR APARTMENTS,2,1127,29,D4,"145 CENTRAL PARK WEST, 16C",NaN,10023,0,0,0,0,0,1930,2,D4,23750000,2017-04-05,2017,4,Co-op,Prewar,89,"145 CENTRAL PARK WEST, 16C",145 CENTRAL PARK WEST,16C,"145 CENTRAL PARK WEST, 16C"
705479,Manhattan,MIDTOWN WEST,13 CONDOS - ELEVATOR APARTMENTS,2,1010,1674,R4,157 WEST 57TH STREET,62A,10019,1,0,1,0,0,2009,2,R4,23500000,2016-10-21,2016,10,Condo,Postwar,10,157 WEST 57TH STREET,157 WEST 57TH STREET,62A,"157 WEST 57TH STREET, 62A"
106280,Manhattan,MIDTOWN WEST,13 CONDOS - ELEVATOR APARTMENTS,2,1274,1630,R4,768 5 AVENUE,2001,10019,1,0,1,0,0,0,2,R4,23469632,2010-07-13,2010,7,Condo,Postwar,0,768 5 AVENUE,768 5 AVENUE,2001,"768 5 AVENUE, 2001"
360416,Manhattan,UPPER WEST SIDE (59-79),13 CONDOS - ELEVATOR APARTMENTS,2,1114,1454,R4,15 CENTRAL PARK WEST,37C,10023,1,0,1,0,0,2005,2,R4,23350000,2012-05-15,2012,5,Condo,Postwar,14,15 CENTRAL PARK WEST,15 CENTRAL PARK WEST,37C,"15 CENTRAL PARK WEST, 37C"
608310,Manhattan,GREENWICH VILLAGE-WEST,01 ONE FAMILY DWELLINGS,1,592,60,A7,146 WAVERLY PLACE,NaN,10014,1,0,1,0,0,1905,1,A7,23282932,2015-12-29,2015,12,Townhouse,Prewar,114,146 WAVERLY PLACE,146 WAVERLY PLACE,NaN,146 WAVERLY PLACE
420173,Brooklyn,SHEEPSHEAD BAY,04 TAX CLASS 1 CONDOS,1A,8815,1001,R3,3112 EMMONS AVENUE,3,11235,1,0,1,0,0,2007,1,R3,23000000,2013-11-26,2013,11,Condo,Postwar,12,3112 EMMONS AVENUE,3112 EMMONS AVENUE,3,"3112 EMMONS AVENUE, 3"
934738,Manhattan,UPPER EAST SIDE (79-96),02 TWO FAMILY DWELLINGS,1,1492,64,B1,12 EAST 81ST STREET,NaN,10028,2,0,2,0,0,1901,1,B1,23000000,2019-06-25,2019,6,Townhouse,Prewar,118,12 EAST 81ST STREET,12 EAST 81ST STREET,NaN,12 EAST 81ST STREET
881084,Manhattan,MIDTOWN WEST,13 CONDOS - ELEVATOR APARTMENTS,2,1010,1676,R4,157 WEST 57TH STREET,63A,10019,1,0,1,0,0,2009,2,R4,23000000,2018-03-09,2018,3,Condo,Postwar,10,157 WEST 57TH STREET,157 WEST 57TH STREET,63A,"157 WEST 57TH STREET, 63A"
887278,Manhattan,UPPER WEST SIDE (59-79),13 CONDOS - ELEVATOR APARTMENTS,2,1114,1511,R4,15 CENTRAL PARK WEST,11B,10023,1,0,1,0,0,2005,2,R4,22500000,2018-09-21,2018,9,Condo,Postwar,14,15 CENTRAL PARK WEST,15 CENTRAL PARK WEST,11B,"15 CENTRAL PARK WEST, 11B"
355719,Manhattan,UPPER EAST SIDE (59-79),10 COOPS - ELEVATOR APARTMENTS,2,1386,69,D4,"907 FIFTH AVENUE, 8W",NaN,10021,0,0,0,0,0,1915,2,D4,22500000,2012-11-12,2012,11,Co-op,Prewar,104,"907 FIFTH AVENUE, 8W",907 FIFTH AVENUE,8W,"907 FIFTH AVENUE, 8W"
794312,Manhattan,MIDTOWN WEST,13 CONDOS - ELEVATOR APARTMENTS,2,1010,1680,R4,157 WEST 57TH STREET,65A,10019,1,0,1,0,0,2009,2,R4,22500000,2017-04-13,2017,4,Condo,Postwar,10,157 WEST 57TH STREET,157 WEST 57TH STREET,65A,"157 WEST 57TH STREET, 65A"
788234,Manhattan,FLATIRON,13 CONDOS - ELEVATOR APARTMENTS,2,851,2180,nan,45 EAST 22ND STREET,NaN,10010,0,0,0,0,0,0,2,R4,22413800,2017-12-06,2017,12,Condo,Postwar,0,45 EAST 22ND STREET,45 EAST 22ND STREET,NaN,45 EAST 22ND STREET
355392,Manhattan,UPPER EAST SIDE (59-79),01 ONE FAMILY HOMES,1,1404,65,A4,116 EAST 70TH STREET,NaN,10021,1,0,1,0,0,1901,1,A4,22398750,2012-11-13,2012,11,House,Prewar,118,116 EAST 70TH STREET,116 EAST 70TH STREET,NaN,116 EAST 70TH STREET
280753,Manhattan,UPPER WEST SIDE (79-96),01 ONE FAMILY HOMES,1,1198,34,A4,247 CENTRAL PARK WEST,NaN,10024,1,0,1,0,0,1900,1,A4,22375000,2011-12-20,2011,12,House,Prewar,119,247 CENTRAL PARK WEST,247 CENTRAL PARK WEST,NaN,247 CENTRAL PARK WEST
885335,Manhattan,UPPER EAST SIDE (79-96),10 COOPS - ELEVATOR APARTMENTS,2,1492,69,D4,"995 FIFTH AVENUE, 11S",NaN,10028,0,0,0,0,0,1926,2,D4,22200000,2018-04-06,2018,4,Co-op,Prewar,93,"995 FIFTH AVENUE, 11S",995 FIFTH AVENUE,11S,"995 FIFTH AVENUE, 11S"
797897,Manhattan,UPPER EAST SIDE (59-79),13 CONDOS - ELEVATOR APARTMENTS,2,1394,1094,R4,515 PARK AVENUE,36/37,10022,1,0,1,0,0,0,2,R4,22166084,2017-06-21,2017,6,Condo,Postwar,0,515 PARK AVENUE,515 PARK AVENUE,36/37,"515 PARK AVENUE, 36/37"
713514,Manhattan,UPPER WEST SIDE (59-79),10 COOPS - ELEVATOR APARTMENTS,2,1117,36,D4,"50 CENTRAL PARK WEST, 8AE9A",NaN,10023,0,0,0,0,0,1907,2,D4,22100000,2016-06-30,2016,6,Co-op,Prewar,112,"50 CENTRAL PARK WEST, 8AE9A",50 CENTRAL PARK WEST,8AE9A,"50 CENTRAL PARK WEST, 8AE9A"
246732,Brooklyn,CLINTON HILL,13 CONDOS - ELEVATOR APARTMENTS,2,1890,1001,R4,163 WASHINGTON AVENUE,2A,11205,1,0,1,0,0,2009,2,R4,22000000,2011-05-11,2011,5,Condo,Postwar,10,163 WASHINGTON AVENUE,163 WASHINGTON AVENUE,2A,"163 WASHINGTON AVENUE, 2A"
879581,Manhattan,MIDTOWN CBD,13 CONDOS - ELEVATOR APARTMENTS,2,1292,1432,R4,432 PARK AVENUE,77A,10022,1,0,1,0,0,2012,2,R4,22000000,2018-04-12,2018,4,Condo,Postwar,7,432 PARK AVENUE,432 PARK AVENUE,77A,"432 PARK AVENUE, 77A"
625243,Manhattan,UPPER WEST SIDE (59-79),13 CONDOS - ELEVATOR APARTMENTS,2,1114,1455,R4,15 CENTRAL PARK WEST,37D,10023,1,0,1,0,0,2005,2,R4,22000000,2015-07-31,2015,7,Condo,Postwar,14,15 CENTRAL PARK WEST,15 CENTRAL PARK WEST,37D,"15 CENTRAL PARK WEST, 37D"
186231,Manhattan,MIDTOWN WEST,13 CONDOS - ELEVATOR APARTMENTS,2,1274,1465,R4,768 5 AVENUE,409,10019,1,0,1,0,0,0,2,R4,21926280,2008-08-07,2008,8,Condo,Postwar,0,768 5 AVENUE,768 5 AVENUE,409,"768 5 AVENUE, 409"
197296,Manhattan,UPPER WEST SIDE (59-79),13 CONDOS - ELEVATOR APARTMENTS,2,1114,1462,R4,15 CENTRAL PARK WEST,PH40B,10023,1,0,1,0,0,2005,2,R4,21892375,2008-04-29,2008,4,Condo,Postwar,14,15 CENTRAL PARK WEST,15 CENTRAL PARK WEST,PH40B,"15 CENTRAL PARK WEST, PH40B"
786583,Manhattan,CIVIC CENTER,13 CONDOS - ELEVATOR APARTMENTS,2,176,1143,R4,56 LEONARD STREET,PH55,10013,1,0,1,0,0,2007,2,R4,21814384,2017-03-02,2017,3,Condo,Postwar,12,56 LEONARD STREET,56 LEONARD STREET,PH55,"56 LEONARD STREET, PH55"
41865,Manhattan,UPPER WEST SIDE (59-79),13 CONDOS - ELEVATOR APARTMENTS,2,1114,1447,R4,15 CENTRAL PARK WEST,35D,10023,1,0,1,0,0,2005,2,R4,21500000,2009-10-08,2009,10,Condo,Postwar,14,15 CENTRAL PARK WEST,15 CENTRAL PARK WEST,35D,"15 CENTRAL PARK WEST, 35D"

In [676]:
salestest = test1[apartments]

In [677]:
salestest = salestest[salestest['APARTMENT NUMBER'].notnull()] #& salestest['ADDRESS'].notnull()]

In [678]:
salestest = salestest.sort_values(['Main_Address', 'SALE DATE'],ascending = True)

In [679]:
salestest

,BOROUGH,NEIGHBORHOOD,BUILDING CLASS CATEGORY,TAX CLASS AT PRESENT,BLOCK,LOT,BUILDING CLASS AT PRESENT,ADDRESS,APARTMENT NUMBER,ZIP CODE,RESIDENTIAL UNITS,COMMERCIAL UNITS,TOTAL UNITS,LAND SQUARE FEET,GROSS SQUARE FEET,YEAR BUILT,TAX CLASS AT TIME OF SALE,BUILDING CLASS AT TIME OF SALE,SALE PRICE,SALE DATE,SALE YEAR,SALE MONTH,TYPE,CONSTRUCTION,AGE,addresstest,Building_Address,Apt_No,Main_Address
541171,Queens,BAYSIDE,13 CONDOS - ELEVATOR APARTMENTS,2,5893,1205,R4,1 BAY CLUB DRIVE,10A,11360,1,0,1,0,0,1972,2,R4,575000,2014-02-19,2014,2,Condo,Postwar,47,1 BAY CLUB DRIVE,1 BAY CLUB DRIVE,10A,"1 BAY CLUB DRIVE, 10A"
541170,Queens,BAYSIDE,13 CONDOS - ELEVATOR APARTMENTS,2,5893,1205,R4,1 BAY CLUB DRIVE,10A,11360,1,0,1,0,0,1972,2,R4,615000,2014-06-20,2014,6,Condo,Postwar,47,1 BAY CLUB DRIVE,1 BAY CLUB DRIVE,10A,"1 BAY CLUB DRIVE, 10A"
46774,Queens,BAYSIDE,13 CONDOS - ELEVATOR APARTMENTS,2,5893,1208,R4,1 BAY CLUB DRIVE,10D,11360,1,0,1,0,0,1972,2,R4,790000,2009-07-03,2009,7,Condo,Postwar,47,1 BAY CLUB DRIVE,1 BAY CLUB DRIVE,10D,"1 BAY CLUB DRIVE, 10D"
806365,Queens,BAYSIDE,13 CONDOS - ELEVATOR APARTMENTS,2,5893,1208,R4,1 BAY CLUB DRIVE,10D,11360,1,0,1,0,0,1972,2,R4,950000,2017-06-29,2017,6,Condo,Postwar,47,1 BAY CLUB DRIVE,1 BAY CLUB DRIVE,10D,"1 BAY CLUB DRIVE, 10D"
541172,Queens,BAYSIDE,13 CONDOS - ELEVATOR APARTMENTS,2,5893,1213,R4,1 BAY CLUB DRIVE,10J,11360,1,0,1,0,0,1972,2,R4,370000,2014-05-01,2014,5,Condo,Postwar,47,1 BAY CLUB DRIVE,1 BAY CLUB DRIVE,10J,"1 BAY CLUB DRIVE, 10J"
719371,Queens,BAYSIDE,13 CONDOS - ELEVATOR APARTMENTS,2,5893,1213,R4,1 BAY CLUB DRIVE,10J,11360,1,0,1,0,0,1972,2,R4,600000,2016-09-13,2016,9,Condo,Postwar,47,1 BAY CLUB DRIVE,1 BAY CLUB DRIVE,10J,"1 BAY CLUB DRIVE, 10J"
366166,Queens,BAYSIDE,13 CONDOS - ELEVATOR APARTMENTS,2,5893,1234,R4,1 BAY CLUB DRIVE,11G,11360,1,0,1,0,0,1972,2,R4,205000,2012-03-21,2012,3,Condo,Postwar,47,1 BAY CLUB DRIVE,1 BAY CLUB DRIVE,11G,"1 BAY CLUB DRIVE, 11G"
631010,Queens,BAYSIDE,13 CONDOS - ELEVATOR APARTMENTS,2,5893,1234,R4,1 BAY CLUB DRIVE,11G,11360,1,0,1,0,0,1972,2,R4,340000,2015-10-29,2015,10,Condo,Postwar,47,1 BAY CLUB DRIVE,1 BAY CLUB DRIVE,11G,"1 BAY CLUB DRIVE, 11G"
203385,Queens,BAYSIDE,13 CONDOS - ELEVATOR APARTMENTS,2,5893,1255,R4,1 BAY CLUB DRIVE,12E,11360,1,0,1,0,0,1972,2,R4,430000,2008-06-03,2008,6,Condo,Postwar,47,1 BAY CLUB DRIVE,1 BAY CLUB DRIVE,12E,"1 BAY CLUB DRIVE, 12E"
541175,Queens,BAYSIDE,13 CONDOS - ELEVATOR APARTMENTS,2,5893,1255,R4,1 BAY CLUB DRIVE,12E,11360,1,0,1,0,0,1972,2,R4,445000,2014-02-14,2014,2,Condo,Postwar,47,1 BAY CLUB DRIVE,1 BAY CLUB DRIVE,12E,"1 BAY CLUB DRIVE, 12E"
631012,Queens,BAYSIDE,13 CONDOS - ELEVATOR APARTMENTS,2,5893,1255,R4,1 BAY CLUB DRIVE,12E,11360,1,0,1,0,0,1972,2,R4,485000,2015-05-08,2015,5,Condo,Postwar,47,1 BAY CLUB DRIVE,1 BAY CLUB DRIVE,12E,"1 BAY CLUB DRIVE, 12E"
46776,Queens,BAYSIDE,13 CONDOS - ELEVATOR APARTMENTS,2,5893,1285,R4,1 BAY CLUB DRIVE,14M,11360,1,0,1,0,0,1972,2,R4,660000,2009-11-05,2009,11,Condo,Postwar,47,1 BAY CLUB DRIVE,1 BAY CLUB DRIVE,14M,"1 BAY CLUB DRIVE, 14M"
892382,Queens,BAYSIDE,13 CONDOS - ELEVATOR APARTMENTS,2,5893,1285,R4,1 BAY CLUB DRIVE,14M,11360,1,0,1,0,0,1972,2,R4,790000,2018-05-21,2018,5,Condo,Postwar,47,1 BAY CLUB DRIVE,1 BAY CLUB DRIVE,14M,"1 BAY CLUB DRIVE, 14M"
452666,Queens,BAYSIDE,13 CONDOS - ELEVATOR APARTMENTS,2,5893,1291,R4,1 BAY CLUB DRIVE,14T,11360,1,0,1,0,0,1972,2,R4,395000,2013-01-14,2013,1,Condo,Postwar,47,1 BAY CLUB DRIVE,1 BAY CLUB DRIVE,14T,"1 BAY CLUB DRIVE, 14T"
806370,Queens,BAYSIDE,13 CONDOS - ELEVATOR APARTMENTS,2,5893,1291,R4,1 BAY CLUB DRIVE,14T,11360,1,0,1,0,0,1972,2,R4,610000,2017-03-31,2017,3,Condo,Postwar,47,1 BAY CLUB DRIVE,1 BAY CLUB DRIVE,14T,"1 BAY CLUB DRIVE, 14T"
118769,Queens,BAYSIDE,13 CONDOS - ELEVATOR APARTMENTS,2,5893,1299,R4,1 BAY CLUB DRIVE,15C,11360,1,0,1,0,0,1972,2,R4,675000,2010-04-21,2010,4,Condo,Postwar,47,1 BAY CLUB DRIVE,1 BAY CLUB DRIVE,15C,"1 BAY CLUB DRIVE, 15C"
806371,Queens,BAYSIDE,13 CONDOS - ELEVATOR APARTMENTS,2,5893,1299,R4,1 BAY CLUB DRIVE,15C,11360,1,0,1,0,0,1972,2,R4,960000,2017-03-30,2017,3,Condo,Postwar,47,1 BAY CLUB DRIVE,1 BAY CLUB DRIVE,15C,"1 BAY CLUB DRIVE, 15C"
203389,Queens,BAYSIDE,13 CONDOS - ELEVATOR APARTMENTS,2,5893,1321,R4,1 BAY CLUB DRIVE,16B,11360,1,0,1,0,0,1972,2,R4,435000,2008-02-06,2008,2,Condo,Postwar,47,1 BAY CLUB DRIVE,1 BAY CLUB DRIVE,16B,"1 BAY CLUB DRIVE, 16B"
541179,Queens,BAYSIDE,13 CONDOS - ELEVATOR APARTMENTS,2,5893,1321,R4,1 BAY CLUB DRIVE,16B,11360,1,0,1,0,0,1972,2,R4,472000,2014-11-24,2014,11,Condo,Postwar,47,1 BAY CLUB DRIVE,1 BAY CLUB DRIVE,16B,"1 BAY CLUB DRIVE, 16B"
806374,Queens,BAYSIDE,13 CONDOS - ELEVATOR APARTMENTS,2,5893,1321,R4,1 BAY CLUB DRIVE,16B,11360,1,0,1,0,0,1972,2,R4,588000,2017-06-01,2017,6,Condo,Postwar,47,1 BAY CLUB DRIVE,1 BAY CLUB DRIVE,16B,"1 BAY CLUB DRIVE, 16B"
631018,Queens,BAYSIDE,13 CONDOS - ELEVATOR APARTMENTS,2,5893,1323,R4,1 BAY CLUB DRIVE,16D,11360,1,0,1,0,0,1972,2,R4,765000,2015-07-27,2015,7,Condo,Postwar,47,1 BAY CLUB DRIVE,1 BAY CLUB DRIVE,16D,"1 BAY CLUB DRIVE, 16D"
806375,Queens,BAYSIDE,13 CONDOS - ELEVATOR APARTMENTS,2,5893,1323,R4,1 BAY CLUB DRIVE,16D,11360,1,0,1,0,0,1972,2,R4,930000,2017-03-31,2017,3,Condo,Postwar,47,1 BAY CLUB DRIVE,1 BAY CLUB DRIVE,16D,"1 BAY CLUB DRIVE, 16D"
118771,Queens,BAYSIDE,13 CONDOS - ELEVATOR APARTMENTS,2,5893,1346,R4,1 BAY CLUB DRIVE,17D,11360,1,0,1,0,0,1972,2,R4,695000,2010-11-30,2010,11,Condo,Postwar,47,1 BAY CLUB DRIVE,1 BAY CLUB DRIVE,17D,"1 BAY CLUB DRIVE, 17D"
284548,Queens,BAYSIDE,13 CONDOS - ELEVATOR APARTMENTS,2,5893,1346,R4,1 BAY CLUB DRIVE,17D,11360,1,0,1,0,0,1972,2,R4,630000,2011-11-14,2011,11,Condo,Postwar,47,1 BAY CLUB DRIVE,1 BAY CLUB DRIVE,17D,"1 BAY CLUB DRIVE, 17D"
806380,Queens,BAYSIDE,13 CONDOS - ELEVATOR APARTMENTS,2,5893,1346,R4,1 BAY CLUB DRIVE,17D,11360,1,0,1,0,0,1972,2,R4,960000,2017-08-02,2017,8,Condo,Postwar,47,1 BAY CLUB DRIVE,1 BAY CLUB DRIVE,17D,"1 BAY CLUB DRIVE, 17D"
46779,Queens,BAYSIDE,13 CONDOS - ELEVATOR APARTMENTS,2,5893,1374,R4,1 BAY CLUB DRIVE,18J,11360,1,0,1,0,0,1972,2,R4,440000,2009-11-25,2009,11,Condo,Postwar,47,1 BAY CLUB DRIVE,1 BAY CLUB DRIVE,18J,"1 BAY CLUB DRIVE, 18J"
631023,Queens,BAYSIDE,13 CONDOS - ELEVATOR APARTMENTS,2,5893,1374,R4,1 BAY CLUB DRIVE,18J,11360,1,0,1,0,0,1972,2,R4,497000,2015-01-23,2015,1,Condo,Postwar,47,1 BAY CLUB DRIVE,1 BAY CLUB DRIVE,18J,"1 BAY CLUB DRIVE, 18J"
46782,Queens,BAYSIDE,13 CONDOS - ELEVATOR APARTMENTS,2,5893,1421,R4,1 BAY CLUB DRIVE,20K,11360,1,0,1,0,0,1972,2,R4,505000,2009-01-30,2009,1,Condo,Postwar,47,1 BAY CLUB DRIVE,1 BAY CLUB DRIVE,20K,"1 BAY CLUB DRIVE, 20K"
541182,Queens,BAYSIDE,13 CONDOS - ELEVATOR APARTMENTS,2,5893,1421,R4,1 BAY CLUB DRIVE,20K,11360,1,0,1,0,0,1972,2,R4,590000,2014-07-02,2014,7,Condo,Postwar,47,1 BAY CLUB DRIVE,1 BAY CLUB DRIVE,20K,"1 BAY CLUB DRIVE, 20K"
46783,Queens,BAYSIDE,13 CONDOS - ELEVATOR APARTMENTS,2,5893,1423,R4,1 BAY CLUB DRIVE,20M,11360,1,0,1,0,0,1972,2,R4,611250,2009-11-16,2009,11,Condo,Postwar,47,1 BAY CLUB DRIVE,1 BAY CLUB DRIVE,20M,"1 BAY CLUB DRIVE, 20M"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
490156,Brooklyn,BAY RIDGE,13 CONDOS - ELEVATOR APARTMENTS,2,6133,1110,R4,9917 SHORE ROAD,4C,11209,1,0,1,0,0,2006,2,R4,610950,2014-01-30,2014,1,Condo,Postwar,13,9917 SHORE ROAD,9917 SHORE ROAD,4C,"9917 SHORE ROAD, 4C"
850319,Brooklyn,BAY RIDGE,13 CONDOS - ELEVATOR APARTMENTS,2,6133,1110,R4,9917 SHORE ROAD,4C,11209,1,0,1,0,0,2006,2,R4,905000,2018-11-28,2018,11,Condo,Postwar,13,9917 SHORE ROAD,9917 SHORE ROAD,4C,"9917 SHORE ROAD, 4C"
490157,Brooklyn,BAY RIDGE,13 CONDOS - ELEVATOR APARTMENTS,2,6133,1111,R4,9917 SHORE ROAD,5A,11209,1,0,1,0,0,2006,2,R4,682222,2014-04-07,2014,4,Condo,Postwar,13,9917 SHORE ROAD,9917 SHORE ROAD,5A,"9917 SHORE ROAD, 5A"
761536,Brooklyn,BAY RIDGE,13 CONDOS - ELEVATOR APARTMENTS,2,6133,1111,R4,9917 SHORE ROAD,5A,11209,1,0,1,0,0,2006,2,R4,880000,2017-12-08,2017,12,Condo,Postwar,13,9917 SHORE ROAD,9917 SHORE ROAD,5A,"9917 SHORE ROAD, 5A"
490159,Brooklyn,BAY RIDGE,13 CONDOS - ELEVATOR APARTMENTS,2,6133,1115,R4,9917 SHORE ROAD,6B,11209,1,0,1,0,0,2006,2,R4,605983,2014-06-19,2014,6,Condo,Postwar,13,9917 SHORE ROAD,9917 SHORE ROAD,6B,"9917 SHORE ROAD, 6B"
850320,Brooklyn,BAY RIDGE,13 CONDOS - ELEVATOR APARTMENTS,2,6133,1115,R4,9917 SHORE ROAD,6B,11209,1,0,1,0,0,2006,2,R4,798000,2018-05-03,2018,5,Condo,Postwar,13,9917 SHORE ROAD,9917 SHORE ROAD,6B,"9917 SHORE ROAD, 6B"
490160,Brooklyn,BAY RIDGE,13 CONDOS - ELEVATOR APARTMENTS,2,6133,1116,R4,9917 SHORE ROAD,6C,11209,1,0,1,0,0,2006,2,R4,644043,2014-02-25,2014,2,Condo,Postwar,13,9917 SHORE ROAD,9917 SHORE ROAD,6C,"9917 SHORE ROAD, 6C"
850321,Brooklyn,BAY RIDGE,13 CONDOS - ELEVATOR APARTMENTS,2,6133,1116,R4,9917 SHORE ROAD,6C,11209,1,0,1,0,0,2006,2,R4,900000,2018-03-28,2018,3,Condo,Postwar,13,9917 SHORE ROAD,9917 SHORE ROAD,6C,"9917 SHORE ROAD, 6C"
399840,Brooklyn,BAY RIDGE,13 CONDOS - ELEVATOR APARTMENTS,2,6133,1119,R4,9917 SHORE ROAD,7C,11209,1,0,1,0,0,2006,2,R4,646588,2013-12-19,2013,12,Condo,Postwar,13,9917 SHORE ROAD,9917 SHORE ROAD,7C,"9917 SHORE ROAD, 7C"
671244,Brooklyn,BAY RIDGE,13 CONDOS - ELEVATOR APARTMENTS,2,6133,1119,R4,9917 SHORE ROAD,7C,11209,1,0,1,0,0,2006,2,R4,880000,2016-12-14,2016,12,Condo,Postwar,13,9917 SHORE ROAD,9917 SHORE ROAD,7C,"9917 SHORE ROAD, 7C"
490166,Brooklyn,BAY RIDGE,13 CONDOS - ELEVATOR APARTMENTS,2,6135,1014,R4,9921 4 AVENUE,2H,11209,1,0,1,0,0,1985,2,R4,425000,2014-01-16,2014,1,Condo,Postwar,34,9921 4 AVENUE,9921 4 AVENUE,2H,"9921 4 AVENUE, 2H"
671245,Brooklyn,BAY RIDGE,13 CONDOS - ELEVATOR APARTMENTS,2,6135,1014,R4,9921 4 AVENUE,2H,11209,1,0,1,0,0,1985,2,R4,690000,2016-03-16,2016,3,Condo,Postwar,34,9921 4 AVENUE,9921 4 AVENUE,2H,"9921 4 AVENUE, 2H"
6343,Brooklyn,BAY RIDGE,13 CONDOS - ELEVATOR APARTMENTS,2,6135,1016,R4,9921 4 AVENUE,2J,11209,1,0,1,0,0,1985,2,R4,347000,2009-10-28,2009,10,Condo,Postwar,34,9921 4 AVENUE,9921 4 AVENUE,2J,"9921 4 AVENUE, 2J"
850322,Brooklyn,BAY RIDGE,13 CONDOS - ELEVATOR APARTMENTS,2,6135,1016,R4,9921 4 AVENUE,2J,11209,1,0,1,0,826,1985,2,R4,575000,2018-10-05,2018,10,Condo,Postwar,34,9921 4 AVENUE,9921 4 AVENUE,2J,"9921 4 AVENUE, 2J"
6344,Brooklyn,BAY RIDGE,13 CONDOS - ELEVATOR APARTMENTS,2,6135,1018,R4,9921 4 AVENUE,3B,11209,1,0,1,0,0,1985,2,R4,185000,2009-02-25,2009,2,Condo,Postwar,34,9921 4 AVENUE,9921 4 AVENUE,3B,"9921 4 AVENUE, 3B"
314924,Brooklyn,BAY RIDGE,13 CONDOS - ELEVATOR APARTMENTS,2,6135,1018,R4,9921 4 AVENUE,3B,11209,1,0,1,0,0,1985,2,R4,325000,2012-05-11,2012,5,Condo,Postwar,34,9921 4 AVENUE,9921 4 AVENUE,3B,"9921 4 AVENUE, 3B"
152296,Brooklyn,BAY RIDGE,13 CONDOS - ELEVATOR APARTMENTS,2,6135,1027,R4,9921 4TH AVENUE,4A,11209,1,0,1,0,0,1985,2,R4,370000,2008-03-28,2008,3,Condo,Postwar,34,9921 4TH AVENUE,9921 4TH AVENUE,4A,"9921 4TH AVENUE, 4A"
490167,Brooklyn,BAY RIDGE,13 CONDOS - ELEVATOR APARTMENTS,2,6135,1027,R4,9921 4TH AVENUE,4A,11209,1,0,1,0,0,1985,2,R4,470000,2014-05-30,2014,5,Condo,Postwar,34,9921 4TH AVENUE,9921 4TH AVENUE,4A,"9921 4TH AVENUE, 4A"
443170,Manhattan,UPPER EAST SIDE (59-79),13 CONDOS - ELEVATOR APARTMENTS,2,1406,1209,R4,993 LEXINGTON AVENUE,3S,10021,1,0,1,0,0,1914,2,R4,5350000,2013-10-30,2013,10,Condo,Prewar,105,993 LEXINGTON AVENUE,993 LEXINGTON AVENUE,3S,"993 LEXINGTON AVENUE, 3S"
797958,Manhattan,UPPER EAST SIDE (59-79),13 CONDOS - ELEVATOR APARTMENTS,2,1406,1209,R4,993 LEXINGTON AVENUE,3S,10021,1,0,1,0,0,1914,2,R4,5750000,2017-12-20,2017,12,Condo,Prewar,105,993 LEXINGTON AVENUE,993 LEXINGTON AVENUE,3S,"993 LEXINGTON AVENUE, 3S"
314920,Brooklyn,BAY RIDGE,13 CONDOS - ELEVATOR APARTMENTS,2,6133,1004,R4,9935 SHORE ROAD,1D,11209,1,0,1,0,0,2004,2,R4,365000,2012-11-27,2012,11,Condo,Postwar,15,9935 SHORE ROAD,9935 SHORE ROAD,1D,"9935 SHORE ROAD, 1D"
671241,Brooklyn,BAY RIDGE,13 CONDOS - ELEVATOR APARTMENTS,2,6133,1004,R4,9935 SHORE ROAD,1D,11209,1,0,1,0,0,2004,2,R4,480000,2016-06-29,2016,6,Condo,Postwar,15,9935 SHORE ROAD,9935 SHORE ROAD,1D,"9935 SHORE ROAD, 1D"
490147,Brooklyn,BAY RIDGE,13 CONDOS - ELEVATOR APARTMENTS,2,6133,1018,R4,9935 SHORE ROAD,6A,11209,1,0,1,0,0,2004,2,R4,1020000,2014-01-29,2014,1,Condo,Postwar,15,9935 SHORE ROAD,9935 SHORE ROAD,6A,"9935 SHORE ROAD, 6A"
850316,Brooklyn,BAY RIDGE,13 CONDOS - ELEVATOR APARTMENTS,2,6133,1018,R4,9935 SHORE ROAD,6A,11209,1,0,1,0,0,2004,2,R4,1500000,2018-11-09,2018,11,Condo,Postwar,15,9935 SHORE ROAD,9935 SHORE ROAD,6A,"9935 SHORE ROAD, 6A"
314922,Brooklyn,BAY RIDGE,13 CONDOS - ELEVATOR APARTMENTS,2,6133,1023,R4,9935 SHORE ROAD,8A,11209,1,0,1,0,0,2004,2,R4,1500000,2012-03-02,2012,3,Condo,Postwar,15,9935 SHORE ROAD,9935 SHORE ROAD,8A,"9935 SHORE ROAD, 8A"
761534,Brooklyn,BAY RIDGE,13 CONDOS - ELEVATOR APARTMENTS,2,6133,1023,R4,9935 SHORE ROAD,8A,11209,1,0,1,0,0,2004,2,R4,1900000,2017-03-10,2017,3,Condo,Postwar,15,9935 SHORE ROAD,9935 SHORE ROAD,8A,"9935 SHORE ROAD, 8A"
234682,Staten Island,WEST NEW BRIGHTON,13 CONDOS - ELEVATOR APARTMENTS,2,230,1212,R4,999 FOREST AVENUE,1J,10310,1,0,1,0,0,1988,2,R4,190000,2008-07-29,2008,7,Condo,Postwar,31,999 FOREST AVENUE,999 FOREST AVENUE,1J,"999 FOREST AVENUE, 1J"
924481,Staten Island,WEST NEW BRIGHTON,13 CONDOS - ELEVATOR APARTMENTS,2,230,1212,R4,999 FOREST AVENUE,1J,10310,1,0,1,0,572,1988,2,R4,170000,2018-08-02,2018,8,Condo,Postwar,31,999 FOREST AVENUE,999 FOREST AVENUE,1J,"999 FOREST AVENUE, 1J"
589491,Brooklyn,DOWNTOWN-FULTON MALL,13 CONDOS - ELEVATOR APARTMENTS,2,152,1017,R4,BRIDGE STREET,33E,11201,1,0,1,0,0,2012,2,R4,859403,2015-01-30,2015,1,Condo,Postwar,7,BRIDGE STREET,BRIDGE STREET,33E,"BRIDGE STREET, 33E"
589492,Brooklyn,DOWNTOWN-FULTON MALL,13 CONDOS - ELEVATOR APARTMENTS,2,152,1018,R4,BRIDGE STREET,33E,11201,1,0,1,0,0,2012,2,R4,835983,2015-01-30,2015,1,Condo,Postwar,7,BRIDGE STREET,BRIDGE STREET,33E,"BRIDGE STREET, 33E"

In [903]:
salestest[salestest['BOROUGH'] == "Manhattan"].head(250)

,BOROUGH,NEIGHBORHOOD,BUILDING CLASS CATEGORY,TAX CLASS AT PRESENT,BLOCK,LOT,BUILDING CLASS AT PRESENT,ADDRESS,APARTMENT NUMBER,ZIP CODE,...,TAX CLASS AT TIME OF SALE,BUILDING CLASS AT TIME OF SALE,SALE PRICE,SALE DATE,SALE YEAR,SALE MONTH,TYPE,Building_Address,Apt_No,Main_Address
114427,Manhattan,UPPER WEST SIDE (59-79),13 CONDOS - ELEVATOR APARTMENTS,2,1113,1544,R4,1 CENTRAL PARK WEST,PH52A,10023,...,2,R4,33177083,2010-03-22,2010,3,Condo,1 CENTRAL PARK WEST,PH52A,"1 CENTRAL PARK WEST , P..."
114426,Manhattan,UPPER WEST SIDE (59-79),13 CONDOS - ELEVATOR APARTMENTS,2,1113,1544,R4,1 CENTRAL PARK WEST,PH52A,10023,...,2,R4,30000000,2010-12-14,2010,12,Condo,1 CENTRAL PARK WEST,PH52A,"1 CENTRAL PARK WEST , P..."
179698,Manhattan,GRAMERCY,13 CONDOS - ELEVATOR APARTMENTS,2,870,1031,R4,1 IRVING PLACE,P11B,10003,...,2,R4,999000,2008-12-19,2008,12,Condo,1 IRVING PLACE,P11B,"1 IRVING PLACE , P11B"
102033,Manhattan,GRAMERCY,13 CONDOS - ELEVATOR APARTMENTS,2,870,1031,R4,1 IRVING PLACE,P11B,10003,...,2,R4,1150000,2010-03-29,2010,3,Condo,1 IRVING PLACE,P11B,"1 IRVING PLACE , P11B"
28970,Manhattan,GREENWICH VILLAGE-WEST,15 CONDOS - 2-10 UNIT RESIDENTIAL,2C,586,1005,R1,1 LEROY STREET,5C,10014,...,2,R1,4025000,2009-10-28,2009,10,Condo,1 LEROY STREET,5C,"1 LEROY STREET , 5C"
102875,Manhattan,GREENWICH VILLAGE-WEST,15 CONDOS - 2-10 UNIT RESIDENTIAL,2C,586,1005,R1,1 LEROY STREET,5C,10014,...,2,R1,2415000,2010-05-17,2010,5,Condo,1 LEROY STREET,5C,"1 LEROY STREET , 5C"
196803,Manhattan,UPPER WEST SIDE (59-79),10 COOPS - ELEVATOR APARTMENTS,2,1125,25,D4,"1 WEST 72ND STREET, 23",NaN,10023,...,2,D4,20500000,2008-01-15,2008,1,Co-op,1 WEST 72ND STREET,23,"1 WEST 72ND STREET, 23"
196804,Manhattan,UPPER WEST SIDE (59-79),10 COOPS - ELEVATOR APARTMENTS,2,1125,25,D4,"1 WEST 72ND STREET, 23",NaN,10023,...,2,D4,801000,2008-02-20,2008,2,Co-op,1 WEST 72ND STREET,23,"1 WEST 72ND STREET, 23"
192298,Manhattan,TRIBECA,13 CONDOS - ELEVATOR APARTMENTS,2,212,1213,R4,1 YORK STREET,4F,10013,...,2,R4,2596537,2008-06-26,2008,6,Condo,1 YORK STREET,4F,"1 YORK STREET , 4F"
111567,Manhattan,TRIBECA,13 CONDOS - ELEVATOR APARTMENTS,2,212,1213,R4,1 YORK STREET,4F,10013,...,2,R4,2220000,2010-04-09,2010,4,Condo,1 YORK STREET,4F,"1 YORK STREET , 4F"
192304,Manhattan,TRIBECA,13 CONDOS - ELEVATOR APARTMENTS,2,212,1224,R4,1 YORK STREET,6D,10013,...,2,R4,1964204,2008-08-14,2008,8,Condo,1 YORK STREET,6D,"1 YORK STREET , 6D"
38041,Manhattan,TRIBECA,13 CONDOS - ELEVATOR APARTMENTS,2,212,1224,R4,1 YORK STREET,6D,10013,...,2,R4,100000,2009-03-10,2009,3,Condo,1 YORK STREET,6D,"1 YORK STREET , 6D"
111570,Manhattan,TRIBECA,13 CONDOS - ELEVATOR APARTMENTS,2,212,1224,R4,1 YORK STREET,6D,10013,...,2,R4,1823250,2010-05-05,2010,5,Condo,1 YORK STREET,6D,"1 YORK STREET , 6D"
196662,Manhattan,UPPER WEST SIDE (59-79),10 COOPS - ELEVATOR APARTMENTS,2,1118,22,D4,"10 WEST 66TH STREET, 5E",NaN,10023,...,2,D4,760000,2008-09-15,2008,9,Co-op,10 WEST 66TH STREET,5E,"10 WEST 66TH STREET, 5E"
41437,Manhattan,UPPER WEST SIDE (59-79),10 COOPS - ELEVATOR APARTMENTS,2,1118,22,D4,"10 WEST 66TH STREET, 5E",NaN,10023,...,2,D4,745000,2009-12-01,2009,12,Co-op,10 WEST 66TH STREET,5E,"10 WEST 66TH STREET, 5E"
99670,Manhattan,CHELSEA,13 CONDOS - ELEVATOR APARTMENTS,2,691,1053,R4,100 11TH AVENUE,20B,10011,...,2,R4,6345000,2010-07-15,2010,7,Condo,100 11TH AVENUE,20B,"100 11TH AVENUE , 20B"
99669,Manhattan,CHELSEA,13 CONDOS - ELEVATOR APARTMENTS,2,691,1053,R4,100 11TH AVENUE,20B,10011,...,2,R4,5800000,2010-09-30,2010,9,Condo,100 11TH AVENUE,20B,"100 11TH AVENUE , 20B"
26416,Manhattan,CIVIC CENTER,13 CONDOS - ELEVATOR APARTMENTS,2,146,1010,R4,100 READE STREET,3-A,10013,...,2,R4,995000,2009-04-01,2009,4,Condo,100 READE STREET,3-A,"100 READE STREET , 3-A"
26415,Manhattan,CIVIC CENTER,13 CONDOS - ELEVATOR APARTMENTS,2,146,1010,R4,100 READE STREET,3-A,10013,...,2,R4,875000,2009-12-11,2009,12,Condo,100 READE STREET,3-A,"100 READE STREET , 3-A"
198260,Manhattan,UPPER WEST SIDE (59-79),13 CONDOS - ELEVATOR APARTMENTS,2,1171,3520,R4,100 RIVERSIDE BOULEVARD,12E,10069,...,2,R4,943255,2008-10-03,2008,10,Condo,100 RIVERSIDE BOULEVARD,12E,"100 RIVERSIDE BOULEVARD , 12E"
115154,Manhattan,UPPER WEST SIDE (59-79),13 CONDOS - ELEVATOR APARTMENTS,2,1171,3520,R4,100 RIVERSIDE BOULEVARD,12E,10069,...,2,R4,820000,2010-07-30,2010,7,Condo,100 RIVERSIDE BOULEVARD,12E,"100 RIVERSIDE BOULEVARD , 12E"
198356,Manhattan,UPPER WEST SIDE (59-79),13 CONDOS - ELEVATOR APARTMENTS,2,1171,3623,R4,100 RIVERSIDE BOULEVARD,12N,10069,...,2,R4,1996279,2008-05-12,2008,5,Condo,100 RIVERSIDE BOULEVARD,12N,"100 RIVERSIDE BOULEVARD , 12N"
115160,Manhattan,UPPER WEST SIDE (59-79),13 CONDOS - ELEVATOR APARTMENTS,2,1171,3623,R4,100 RIVERSIDE BOULEVARD,12N,10069,...,2,R4,1635000,2010-08-18,2010,8,Condo,100 RIVERSIDE BOULEVARD,12N,"100 RIVERSIDE BOULEVARD , 12N"
198215,Manhattan,UPPER WEST SIDE (59-79),13 CONDOS - ELEVATOR APARTMENTS,2,1171,3474,R4,100 RIVERSIDE BOULEVARD,16C,10069,...,2,R4,2138325,2008-05-30,2008,5,Condo,100 RIVERSIDE BOULEVARD,16C,"100 RIVERSIDE BOULEVARD , 16C"
42518,Manhattan,UPPER WEST SIDE (59-79),13 CONDOS - ELEVATOR APARTMENTS,2,1171,3474,R4,100 RIVERSIDE BOULEVARD,16C,10069,...,2,R4,1800000,2009-10-16,2009,10,Condo,100 RIVERSIDE BOULEVARD,16C,"100 RIVERSIDE BOULEVARD , 16C"
198263,Manhattan,UPPER WEST SIDE (59-79),13 CONDOS - ELEVATOR APARTMENTS,2,1171,3524,R4,100 RIVERSIDE BOULEVARD,17E,10069,...,2,R4,1466280,2008-11-03,2008,11,Condo,100 RIVERSIDE BOULEVARD,17E,"100 RIVERSIDE BOULEVARD , 17E"
42523,Manhattan,UPPER WEST SIDE (59-79),13 CONDOS - ELEVATOR APARTMENTS,2,1171,3524,R4,100 RIVERSIDE BOULEVARD,17E,10069,...,2,R4,1325000,2009-12-04,2009,12,Condo,100 RIVERSIDE BOULEVARD,17E,"100 RIVERSIDE BOULEVARD , 17E"
198168,Manhattan,UPPER WEST SIDE (59-79),13 CONDOS - ELEVATOR APARTMENTS,2,1171,3423,R4,100 RIVERSIDE BOULEVARD,21A T,10069,...,2,R4,1990678,2008-08-07,2008,8,Condo,100 RIVERSIDE BOULEVARD,21A T,"100 RIVERSIDE BOULEVARD , 2..."
115147,Manhattan,UPPER WEST SIDE (59-79),13 CONDOS - ELEVATOR APARTMENTS,2,1171,3423,R4,100 RIVERSIDE BOULEVARD,21A T,10069,...,2,R4,1850000,2010-11-18,2010,11,Condo,100 RIVERSIDE BOULEVARD,21A T,"100 RIVERSIDE BOULEVARD , 2..."
198241,Manhattan,UPPER WEST SIDE (59-79),13 CONDOS - ELEVATOR APARTMENTS,2,1171,3500,R4,100 RIVERSIDE BOULEVARD,21D T,10069,...,2,R4,3207487,2008-07-14,2008,7,Condo,100 RIVERSIDE BOULEVARD,21D T,"100 RIVERSIDE BOULEVARD , 2..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99958,Manhattan,CHELSEA,13 CONDOS - ELEVATOR APARTMENTS,2,797,1614,R4,125 WEST 21ST STREET,4C,10011,...,2,R4,399000,2010-05-27,2010,5,Condo,125 WEST 21ST STREET,4C,"125 WEST 21ST STREET , 4C"
175793,Manhattan,CHELSEA,13 CONDOS - ELEVATOR APARTMENTS,2,798,1431,R4,125 WEST 22ND STREET,12A,10011,...,2,R4,1765136,2008-07-16,2008,7,Condo,125 WEST 22ND STREET,12A,"125 WEST 22ND STREET , 12A"
99986,Manhattan,CHELSEA,13 CONDOS - ELEVATOR APARTMENTS,2,798,1431,R4,125 WEST 22ND STREET,12A,10011,...,2,R4,1720000,2010-03-04,2010,3,Condo,125 WEST 22ND STREET,12A,"125 WEST 22ND STREET , 12A"
99985,Manhattan,CHELSEA,13 CONDOS - ELEVATOR APARTMENTS,2,798,1431,R4,125 WEST 22ND STREET,12A,10011,...,2,R4,1720000,2010-05-28,2010,5,Condo,125 WEST 22ND STREET,12A,"125 WEST 22ND STREET , 12A"
175794,Manhattan,CHELSEA,13 CONDOS - ELEVATOR APARTMENTS,2,798,1433,R4,125 WEST 22ND STREET,PHB,10011,...,2,R4,2392887,2008-04-22,2008,4,Condo,125 WEST 22ND STREET,PHB,"125 WEST 22ND STREET , PHB"
25980,Manhattan,CHELSEA,13 CONDOS - ELEVATOR APARTMENTS,2,798,1433,R4,125 WEST 22ND STREET,PHB,10011,...,2,R4,1850000,2009-06-19,2009,6,Condo,125 WEST 22ND STREET,PHB,"125 WEST 22ND STREET , PHB"
192544,Manhattan,UPPER EAST SIDE (59-79),09 COOPS - WALKUP APARTMENTS,2C,1396,61,C6,"128 EAST 62ND STREET, 1",NaN,10065,...,2,C6,2900000,2008-02-14,2008,2,Co-op,128 EAST 62ND STREET,1,"128 EAST 62ND STREET, 1"
38206,Manhattan,UPPER EAST SIDE (59-79),09 COOPS - WALKUP APARTMENTS,2C,1396,61,C6,"128 EAST 62ND STREET, 1",NaN,10065,...,2,C6,1375000,2009-12-15,2009,12,Co-op,128 EAST 62ND STREET,1,"128 EAST 62ND STREET, 1"
178183,Manhattan,FINANCIAL,13 CONDOS - ELEVATOR APARTMENTS,2,18,1354,R4,13 RECTOR STREET,1901,10006,...,2,R4,1965000,2008-01-31,2008,1,Condo,13 RECTOR STREET,1901,"13 RECTOR STREET , 1901"
178182,Manhattan,FINANCIAL,13 CONDOS - ELEVATOR APARTMENTS,2,18,1354,R4,13 RECTOR STREET,1901,10006,...,2,R4,2325000,2008-05-29,2008,5,Condo,13 RECTOR STREET,1901,"13 RECTOR STREET , 1901"
181827,Manhattan,HARLEM-CENTRAL,17 CONDOPS,2,1600,1002,R9,"130 LENOX AVENUE, 2",NaN,10026,...,2,R9,285000,2008-11-18,2008,11,Condop,130 LENOX AVENUE,2,"130 LENOX AVENUE, 2"
29521,Manhattan,HARLEM-CENTRAL,17 CONDOPS,2,1600,1002,R9,"130 LENOX AVENUE, 2",NaN,10026,...,2,R9,355000,2009-07-15,2009,7,Condop,130 LENOX AVENUE,2,"130 LENOX AVENUE, 2"
29522,Manhattan,HARLEM-CENTRAL,17 CONDOPS,2,1600,1002,R9,"130 LENOX AVENUE, 2",NaN,10026,...,2,R9,275000,2009-08-31,2009,8,Condop,130 LENOX AVENUE,2,"130 LENOX AVENUE, 2"
180732,Manhattan,GREENWICH VILLAGE-WEST,10 COOPS - ELEVATOR APARTMENTS,2,633,28,D0,"131 PERRY STREET, 2A",NaN,10014,...,2,D0,2080000,2008-04-25,2008,4,Co-op,131 PERRY STREET,2A,"131 PERRY STREET, 2A"
102660,Manhattan,GREENWICH VILLAGE-WEST,10 COOPS - ELEVATOR APARTMENTS,2,633,28,D0,"131 PERRY STREET, 2A",NaN,10014,...,2,D0,2037000,2010-05-24,2010,5,Co-op,131 PERRY STREET,2A,"131 PERRY STREET, 2A"
190431,Manhattan,MURRAY HILL,09 COOPS - WALKUP APARTMENTS,2,885,61,D9,132 EAST 30TH STREET,NaN,10016,...,2,C6,765000,2008-10-02,2008,10,Co-op,132 EAST 30TH STREET,NaN,132 EAST 30TH STREET
190427,Manhattan,MURRAY HILL,09 COOPS - WALKUP APARTMENTS,2,885,61,D9,132 EAST 30TH STREET,NaN,10016,...,2,C6,765000,2008-10-02,2008,10,Co-op,132 EAST 30TH STREET,NaN,132 EAST 30TH STREET
26014,Manhattan,CHELSEA,13 CONDOS - ELEVATOR APARTMENTS,2,798,1548,R4,133 WEST 22ND STREET,3E,10011,...,2,R4,1140440,2009-02-18,2009,2,Condo,133 WEST 22ND STREET,3E,"133 WEST 22ND STREET , 3E"
99996,Manhattan,CHELSEA,13 CONDOS - ELEVATOR APARTMENTS,2,798,1548,R4,133 WEST 22ND STREET,3E,10011,...,2,R4,1270000,2010-11-04,2010,11,Condo,133 WEST 22ND STREET,3E,"133 WEST 22ND STREET , 3E"
175798,Manhattan,CHELSEA,13 CONDOS - ELEVATOR APARTMENTS,2,798,1506,R4,133 WEST 22ND STREET,7A,10011,...,2,R4,717866,2008-12-19,2008,12,Condo,133 WEST 22ND STREET,7A,"133 WEST 22ND STREET , 7A"
99988,Manhattan,CHELSEA,13 CONDOS - ELEVATOR APARTMENTS,2,798,1506,R4,133 WEST 22ND STREET,7A,10011,...,2,R4,590000,2010-03-22,2010,3,Condo,133 WEST 22ND STREET,7A,"133 WEST 22ND STREET , 7A"
193307,Manhattan,UPPER EAST SIDE (59-79),10 COOPS - ELEVATOR APARTMENTS,2,1467,1,D4,"1344 1 AVENUE, GRIS",NaN,10021,...,2,D4,1789665,2008-05-15,2008,5,Co-op,1344 1 AVENUE,GRIS,"1344 1 AVENUE, GRIS"
193308,Manhattan,UPPER EAST SIDE (59-79),10 COOPS - ELEVATOR APARTMENTS,2,1467,1,D4,"1344 1 AVENUE, GRIS",NaN,10021,...,2,D4,1512536,2008-05-15,2008,5,Co-op,1344 1 AVENUE,GRIS,"1344 1 AVENUE, GRIS"
183699,Manhattan,MIDTOWN CBD,13 CONDOS - ELEVATOR APARTMENTS,2,1309,1206,R4,135 EAST 54TH STREET,11E,10022,...,2,R4,916425,2008-07-29,2008,7,Condo,135 EAST 54TH STREET,11E,"135 EAST 54TH STREET , 11E"
104856,Manhattan,MIDTOWN CBD,13 CONDOS - ELEVATOR APARTMENTS,2,1309,1206,R4,135 EAST 54TH STREET,11E,10022,...,2,R4,915000,2010-03-05,2010,3,Condo,135 EAST 54TH STREET,11E,"135 EAST 54TH STREET , 11E"
183700,Manhattan,MIDTOWN CBD,13 CONDOS - ELEVATOR APARTMENTS,2,1309,1211,R4,135 EAST 54TH STREET,11K,10022,...,2,R4,760000,2008-06-20,2008,6,Condo,135 EAST 54TH STREET,11K,"135 EAST 54TH STREET , 11K"
30772,Manhattan,MIDTOWN CBD,13 CONDOS - ELEVATOR APARTMENTS,2,1309,1211,R4,135 EAST 54TH STREET,11K,10022,...,2,R4,785000,2009-01-15,2009,1,Condo,135 EAST 54TH STREET,11K,"135 EAST 54TH STREET , 11K"
186316,Manhattan,MIDTOWN WEST,17 CONDOPS,2,1011,6003,R9,"135 WEST 58TH STREET, RES",NaN,10019,...,2,R9,485000,2008-04-30,2008,4,Condop,135 WEST 58TH STREET,RES,"135 WEST 58TH STREET, RES"
186317,Manhattan,MIDTOWN WEST,17 CONDOPS,2,1011,6003,R9,"135 WEST 58TH STREET, RES",NaN,10019,...,2,R9,550000,2008-10-27,2008,10,Condop,135 WEST 58TH STREET,RES,"135 WEST 58TH STREET, RES"
186319,Manhattan,MIDTOWN WEST,17 CONDOPS,2,1011,6003,R9,"135 WEST 58TH STREET, RES",NaN,10019,...,2,R9,354900,2008-12-03,2008,12,Condop,135 WEST 58TH STREET,RES,"135 WEST 58TH STREET, RES"

In [680]:
salestest.shape

(32984, 29)

In [681]:
salestest.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 32984 entries, 541171 to 589492
Data columns (total 29 columns):
BOROUGH                           32984 non-null object
NEIGHBORHOOD                      32984 non-null object
BUILDING CLASS CATEGORY           32984 non-null object
TAX CLASS AT PRESENT              32984 non-null category
BLOCK                             32984 non-null int64
LOT                               32984 non-null int64
BUILDING CLASS AT PRESENT         32984 non-null object
ADDRESS                           32984 non-null object
APARTMENT NUMBER                  32984 non-null object
ZIP CODE                          32984 non-null int64
RESIDENTIAL UNITS                 32984 non-null int64
COMMERCIAL UNITS                  32984 non-null int64
TOTAL UNITS                       32984 non-null int64
LAND SQUARE FEET                  32984 non-null int64
GROSS SQUARE FEET                 32984 non-null int64
YEAR BUILT                        32984 non-null int64
TAX CLASS AT TIME OF SALE         32984 non-null category
BUILDING CLASS AT TIME OF SALE    32984 non-null object
SALE PRICE                        32984 non-null int64
SALE DATE                         32984 non-null datetime64[ns]
SALE YEAR                         32984 non-null int64
SALE MONTH                        32984 non-null int64
TYPE                              32984 non-null category
CONSTRUCTION                      32984 non-null object
AGE                               32984 non-null int64
addresstest                       32984 non-null object
Building_Address                  32984 non-null object
Apt_No                            32983 non-null object
Main_Address                      32984 non-null object
dtypes: category(3), datetime64[ns](1), int64(13), object(12)
memory usage: 6.9+ MB

In [389]:
salestest.to_csv('aptsales.csv', index_label = 'Index')
#help(pd.DataFrame.to_csv)

In [387]:
salestest.groupby('Main_Address').agg(['count','sum','min','max','mean'])['SALE PRICE']

                           count       sum      min      max          mean
Main_Address
1 BAY CLUB DRIVE, 10A          2   1190000   575000   615000  5.950000e+05
1 BAY CLUB DRIVE, 10D          2   1740000   790000   950000  8.700000e+05
1 BAY CLUB DRIVE, 10J          2    970000   370000   600000  4.850000e+05
1 BAY CLUB DRIVE, 11G          2    545000   205000   340000  2.725000e+05
1 BAY CLUB DRIVE, 12E          3   1360000   430000   485000  4.533333e+05
1 BAY CLUB DRIVE, 14M          2   1450000   660000   790000  7.250000e+05
1 BAY CLUB DRIVE, 14T          2   1005000   395000   610000  5.025000e+05
1 BAY CLUB DRIVE, 15C          2   1635000   675000   960000  8.175000e+05
1 BAY CLUB DRIVE, 16B          3   1495000   435000   588000  4.983333e+05
1 BAY CLUB DRIVE, 16D          2   1695000   765000   930000  8.475000e+05
1 BAY CLUB DRIVE, 17D          3   2285000   630000   960000  7.616667e+05
1 BAY CLUB DRIVE, 18J          2    937000   440000   497000  4.685000e+05
1 BAY CLUB DRIVE, 20K          2   1095000   505000   590000  5.475000e+05
1 BAY CLUB DRIVE, 20M          2   1386250   611250   775000  6.931250e+05
1 BAY CLUB DRIVE, 21C          2   1780000   690000  1090000  8.900000e+05
1 BAY CLUB DRIVE, 21U          3   1522000   490000   527000  5.073333e+05
1 BAY CLUB DRIVE, 21W          3   1595000   420000   635000  5.316667e+05
1 BAY CLUB DRIVE, 2E           2    880000   430000   450000  4.400000e+05
1 BAY CLUB DRIVE, 2L           2    805000   340000   465000  4.025000e+05
1 BAY CLUB DRIVE, 2W           3   1245000   330000   520000  4.150000e+05
1 BAY CLUB DRIVE, 3B           2    712500   332500   380000  3.562500e+05
1 BAY CLUB DRIVE, 3T           2    843000   368000   475000  4.215000e+05
1 BAY CLUB DRIVE, 4K           2    940000   375000   565000  4.700000e+05
1 BAY CLUB DRIVE, 4L           2    855800   387000   468800  4.279000e+05
1 BAY CLUB DRIVE, 4M           3   1400000   145000   720000  4.666667e+05
1 BAY CLUB DRIVE, 4N           2    792500   377500   415000  3.962500e+05
1 BAY CLUB DRIVE, 4P           2    531000   200000   331000  2.655000e+05
1 BAY CLUB DRIVE, 4R           2   1200000   525000   675000  6.000000e+05
1 BAY CLUB DRIVE, 5L           2    759500   341500   418000  3.797500e+05
1 BAY CLUB DRIVE, 7X           2    997000   380000   617000  4.985000e+05
...                          ...       ...      ...      ...           ...
99 JOHN STREET, PH10           2   7050000  2550000  4500000  3.525000e+06
99 KINGSLAND AVENUE, 204       2    799000   399000   400000  3.995000e+05
99 METROPOLITAN OVAL,  4C      2    485000   220000   265000  2.425000e+05
99 METROPOLITAN OVAL, 1A       2    248000   100000   148000  1.240000e+05
99 METROPOLITAN OVAL, 2H       2    220000   100000   120000  1.100000e+05
99 METROPOLITAN OVAL, 8B       2    212009   100000   112009  1.060045e+05
99 READE STREET, 5F            2   2430000  1170000  1260000  1.215000e+06
99 READE STREET, 5W            2   3925000  1925000  2000000  1.962500e+06
99 ST. MARKS PLACE, 3          2   2405000   850000  1555000  1.202500e+06
99-05 43RD AVENUE, 1A          2    445000   185000   260000  2.225000e+05
99-05 43RD AVENUE, 4B          2    535000   235000   300000  2.675000e+05
99-34 67TH ROAD, 3B            2    998000   408000   590000  4.990000e+05
9917 SHORE ROAD, 2A            2   1385858   605858   780000  6.929290e+05
9917 SHORE ROAD, 3A            2   1361497   641497   720000  6.807485e+05
9917 SHORE ROAD, 3C            2   1511132   621132   890000  7.555660e+05
9917 SHORE ROAD, 4C            2   1515950   610950   905000  7.579750e+05
9917 SHORE ROAD, 5A            2   1562222   682222   880000  7.811110e+05
9917 SHORE ROAD, 6B            2   1403983   605983   798000  7.019915e+05
9917 SHORE ROAD, 6C            2   1544043   644043   900000  7.720215e+05
9917 SHORE ROAD, 7C            2   1526588   646588   880000  7.632940e+05
9921 4 AVENUE, 2H              2   1115000   425000   690000  5.575000e+05
9921 4 AVENUE, 2J              2    922000   347000   575000  4.610000e+05
9921 4 AVENUE, 3B              2    510000   185000   325000  2.550000e+05
9921 4TH AVENUE, 4A            2    840000   370000   470000  4.200000e+05
993 LEXINGTON AVENUE, 3S       2  11100000  5350000  5750000  5.550000e+06
9935 SHORE ROAD, 1D            2    845000   365000   480000  4.225000e+05
9935 SHORE ROAD, 6A            2   2520000  1020000  1500000  1.260000e+06
9935 SHORE ROAD, 8A            2   3400000  1500000  1900000  1.700000e+06
999 FOREST AVENUE, 1J          2    360000   170000   190000  1.800000e+05
BRIDGE STREET, 33E             2   1695386   835983   859403  8.476930e+05

[16138 rows x 5 columns]

In [1083]:
.sort_values()?

SyntaxError: invalid syntax (<ipython-input-1083-bc1ff19cde25>, line 1)

In [238]:
combined[combined['ADDRESS'] == '90 MORTON STREET, PH10A']

,BOROUGH,NEIGHBORHOOD,BUILDING CLASS CATEGORY,TAX CLASS AT PRESENT,BLOCK,LOT,BUILDING CLASS AT PRESENT,ADDRESS,APARTMENT NUMBER,ZIP CODE,...,TOTAL UNITS,LAND SQUARE FEET,GROSS SQUARE FEET,YEAR BUILT,TAX CLASS AT TIME OF SALE,BUILDING CLASS AT TIME OF SALE,SALE PRICE,SALE DATE,SALE MONTH,TYPE
3856,Manhattan,GREENWICH VILLAGE-WEST,13 CONDOS - ELEVATOR APARTMENTS,2,602,1232,NaN,"90 MORTON STREET, PH10A",nan,0,...,0.0,0,0,0,2,R4,12600844,2019-06-28,6,Condo
7176,Manhattan,MANHATTAN-UNKNOWN,13 CONDOS - ELEVATOR APARTMENTS,2,602,1232,NaN,"90 MORTON STREET, PH10A",nan,0,...,0.0,0,0,0,2,R4,12600844,2019-06-28,6,Condo

In [ ]:
##take away extra spaces that may be in some rows under ADDRESS

In [196]:
#manhattan.info()

In [104]:
#bronx.info()

In [105]:
#queens.info()

In [106]:
#staten_island.info()

In [107]:
#brooklyn.info()

In [115]:
#replace commas in SALE PRICE column with empty space and convert to string, then float.
#manhattan['SALE PRICE'] = manhattan['SALE PRICE'].str.replace(',','').astype(float).astype(int)

In [121]:
#filter out office buildings and rental buildings, sort by price descending. Looks like there are dupes.
#manhattan.loc[(manhattan['TAX CLASS AT PRESENT'] != '4') & (manhattan['BUILDING CLASS CATEGORY'].str.contains('RENTAL')==False)].sort_values('SALE PRICE', ascending = False)

,BOROUGH,NEIGHBORHOOD,BUILDING CLASS CATEGORY,TAX CLASS AT PRESENT,BLOCK,LOT,EASE-MENT,BUILDING CLASS AT PRESENT,ADDRESS,APARTMENT NUMBER,...,RESIDENTIAL UNITS,COMMERCIAL UNITS,TOTAL UNITS,LAND SQUARE FEET,GROSS SQUARE FEET,YEAR BUILT,TAX CLASS AT TIME OF SALE,BUILDING CLASS AT TIME OF SALE,SALE PRICE,SALE DATE
9086,Manhattan,MIDTOWN WEST,13 CONDOS - ELEVATOR APARTMENTS,2,1030,1082,NaN,R4,"220 CENTRAL PARK SOUTH, 50",50,...,0,0,0,0,"23,029",2015,2,R4,239958219,01/23/2019
12181,Manhattan,UPPER EAST SIDE (59-79),13 CONDOS - ELEVATOR APARTMENTS,2,1401,1003,NaN,R4,"165 EAST 66TH ST, RESI",RESI,...,0,0,0,0,"233,578",1957,2,R4,200000000,04/05/2019
7217,Manhattan,MANHATTAN-UNKNOWN,45 CONDO HOTELS,NaN,836,1104,NaN,NaN,"1328 BROADWAY, UNIT4",NaN,...,0,0,0,0,0,0,4,RH,88373347,08/23/2019
1614,Manhattan,FASHION,45 CONDO HOTELS,NaN,836,1104,NaN,NaN,"1328 BROADWAY, UNIT4",NaN,...,0,0,0,0,0,0,4,RH,88373347,08/23/2019
7216,Manhattan,MANHATTAN-UNKNOWN,28 COMMERCIAL CONDOS,NaN,836,1102,NaN,NaN,"1328 BROADWAY, UNIT2",NaN,...,0,0,0,0,0,0,4,R5,88373347,08/23/2019
1613,Manhattan,FASHION,28 COMMERCIAL CONDOS,NaN,836,1102,NaN,NaN,"1328 BROADWAY, UNIT2",NaN,...,0,0,0,0,0,0,4,R5,88373347,08/23/2019
10273,Manhattan,SOHO,10 COOPS - ELEVATOR APARTMENTS,2,485,21,NaN,D4,"106 SPRING STREET, 1",NaN,...,0,0,0,0,0,1900,2,D4,79451009,04/05/2019
11168,Manhattan,UPPER EAST SIDE (59-79),01 ONE FAMILY DWELLINGS,1,1381,61,NaN,A7,14 EAST 67TH STREET,NaN,...,1,0,1,"4,820","14,240",1905,1,A7,77100000,06/04/2019
3086,Manhattan,GRAMERCY,13 CONDOS - ELEVATOR APARTMENTS,2,901,1001,NaN,R4,"200 EAST 21ST STREET, RU",2A,...,0,0,0,0,862,2016,2,R4,74400000,12/28/2018
12106,Manhattan,UPPER EAST SIDE (59-79),13 CONDOS - ELEVATOR APARTMENTS,2,1375,1441,NaN,R4,520 PARK AVENUE,DPH60,...,0,0,0,0,"9,138",2015,2,R4,73800000,11/19/2018
12104,Manhattan,UPPER EAST SIDE (59-79),13 CONDOS - ELEVATOR APARTMENTS,2,1375,1438,NaN,R4,520 PARK AVENUE,DPH56,...,0,0,0,0,"9,138",2015,2,R4,67921052,12/20/2018
9093,Manhattan,MIDTOWN WEST,13 CONDOS - ELEVATOR APARTMENTS,2,1030,1117,NaN,R4,"220 CENTRAL PARK SOUTH, PH16",PH16,...,0,0,0,0,"5,845",2015,2,R4,65750000,07/16/2019
12103,Manhattan,UPPER EAST SIDE (59-79),13 CONDOS - ELEVATOR APARTMENTS,2,1375,1437,NaN,R4,"520 PARK AVENUE, DPH54",DPH54,...,0,0,0,0,"9,138",2015,2,R4,64250000,01/25/2019
12102,Manhattan,UPPER EAST SIDE (59-79),13 CONDOS - ELEVATOR APARTMENTS,2,1375,1436,NaN,R4,520 PARK AVENUE,DPH52,...,0,0,0,0,"9,138",2015,2,R4,62000000,11/15/2018
11080,Manhattan,TRIBECA,13 CONDOS - ELEVATOR APARTMENTS,2,223,1147,NaN,R4,62 VESTRY STREET,PHS,...,0,0,0,0,"7,808",2016,2,R4,56010250,12/10/2018
11298,Manhattan,UPPER EAST SIDE (59-79),10 COOPS - ELEVATOR APARTMENTS,2,1379,1,NaN,D4,"834 FIFTH AVENUE, 7/8A",NaN,...,0,0,0,0,0,1931,2,D4,53000000,08/27/2019
2307,Manhattan,FLATIRON,13 CONDOS - ELEVATOR APARTMENTS,2,827,1048,NaN,R4,"212 FIFTH AVENUE, PHA",PHA,...,0,0,0,0,"10,079",1913,2,R4,51550000,06/04/2019
9088,Manhattan,MIDTOWN WEST,13 CONDOS - ELEVATOR APARTMENTS,2,1030,1086,NaN,R4,"220 CENTRAL PARK SOUTH, 56A",56A,...,0,0,0,0,"4,814",2015,2,R4,41748250,09/24/2019
11079,Manhattan,TRIBECA,13 CONDOS - ELEVATOR APARTMENTS,2,223,1146,NaN,R4,62 VESTRY STREET,PHN,...,0,0,0,0,"6,547",2016,2,R4,40735500,12/20/2018
11077,Manhattan,TRIBECA,13 CONDOS - ELEVATOR APARTMENTS,2,223,1144,NaN,R4,"70 VESTRY STREET, 12S",12S,...,0,0,0,0,"8,346",2016,2,R4,39285000,02/15/2019
9092,Manhattan,MIDTOWN WEST,13 CONDOS - ELEVATOR APARTMENTS,2,1030,1111,NaN,R4,"220 CENTRAL PARK SOUTH, V-6",V-6,...,0,0,0,0,"4,994",2015,2,R4,39000000,06/07/2019
9087,Manhattan,MIDTOWN WEST,13 CONDOS - ELEVATOR APARTMENTS,2,1030,1083,NaN,R4,"220 CENTRAL PARK SOUTH, 54A",54A,...,0,0,0,0,"4,814",2015,2,R4,38184375,09/19/2019
11064,Manhattan,TRIBECA,13 CONDOS - ELEVATOR APARTMENTS,2,223,1126,NaN,R4,"70 VESTRY STREET, 6F",6F,...,0,0,0,0,"2,445",2016,2,R4,36681561,02/12/2019
11065,Manhattan,TRIBECA,13 CONDOS - ELEVATOR APARTMENTS,2,223,1127,NaN,R4,"70 VESTRY STREET, 7A",7A,...,0,0,0,0,"2,844",2016,2,R4,36681561,02/12/2019
11071,Manhattan,TRIBECA,13 CONDOS - ELEVATOR APARTMENTS,2,223,1134,NaN,R4,"70 VESTRY STREET, 8W",8W,...,0,0,0,0,"2,609",2016,2,R4,36681561,02/12/2019
11074,Manhattan,TRIBECA,13 CONDOS - ELEVATOR APARTMENTS,2,223,1140,NaN,R4,"70 VESTRY STREET, 10W",10W,...,0,0,0,0,"2,592",2016,2,R4,36681561,02/12/2019
11058,Manhattan,TRIBECA,13 CONDOS - ELEVATOR APARTMENTS,2,223,1105,NaN,R4,"70 VESTRY STREET, 3C",3C,...,0,0,0,0,"1,670",2016,2,R4,36681561,02/12/2019
11069,Manhattan,TRIBECA,13 CONDOS - ELEVATOR APARTMENTS,2,223,1131,NaN,R4,"70 VESTRY STREET, 7E",7E,...,0,0,0,0,"2,965",2016,2,R4,36681561,02/12/2019
11070,Manhattan,TRIBECA,13 CONDOS - ELEVATOR APARTMENTS,2,223,1132,NaN,R4,"70 VESTRY STREET, 7F",7F,...,0,0,0,0,"2,445",2016,2,R4,36681561,02/12/2019
11063,Manhattan,TRIBECA,13 CONDOS - ELEVATOR APARTMENTS,2,223,1125,NaN,R4,"70 VESTRY STREET, 6E",6E,...,0,0,0,0,"2,965",2016,2,R4,36681561,02/12/2019
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4857,Manhattan,HARLEM-CENTRAL,13 CONDOS - ELEVATOR APARTMENTS,2,1822,1206,NaN,R4,1845 ADAM C POWELL BLVD,A1D,...,0,0,0,0,"1,476",1915,2,R4,0,10/29/2018
12707,Manhattan,UPPER EAST SIDE (59-79),09 COOPS - WALKUP APARTMENTS,2C,1388,112,NaN,C6,"19 EAST 73RD STREET, 6",NaN,...,0,0,0,0,0,1925,2,C6,0,03/19/2019
12715,Manhattan,UPPER EAST SIDE (59-79),10 COOPS - ELEVATOR APARTMENTS,2C,1393,45,NaN,D4,"60 EAST 79TH STREET, 1A,1B",NaN,...,0,0,0,0,0,1920,2,D4,0,07/03/2019
12716,Manhattan,UPPER EAST SIDE (59-79),15 CONDOS - 2-10 UNIT RESIDENTIAL,2C,1379,1402,NaN,R1,"20 EAST 65TH STREET, B",B,...,0,0,0,0,"6,406",0,2,R1,0,01/01/2019
12720,Manhattan,UPPER EAST SIDE (59-79),15 CONDOS - 2-10 UNIT RESIDENTIAL,2C,1429,1006,NaN,R1,"216 EAST 75TH STREET, 2EAST",2EAST,...,0,0,0,0,"1,182",1986,2,R1,0,06/25/2019
12721,Manhattan,UPPER EAST SIDE (59-79),15 CONDOS - 2-10 UNIT RESIDENTIAL,2C,1429,1007,NaN,R1,"216 EAST 75TH STREET, 3WEST",3WEST,...,0,0,0,0,"1,040",1986,2,R1,0,09/24/2019
4847,Manhattan,HARLEM-CENTRAL,13 CONDOS - ELEVATOR APARTMENTS,2,1746,1146,NaN,R4,"1485 5 AVENUE, 24E",24E,...,0,0,0,0,"1,658",2007,2,R4,0,06/04/2019
4846,Manhattan,HARLEM-CENTRAL,13 CONDOS - ELEVATOR APARTMENTS,2,1746,1139,NaN,R4,"1485 5 AVENUE, 23D",23D,...,0,0,0,0,"1,970",2007,2,R4,0,07/28/2019
629,Manhattan,CHELSEA,13 CONDOS - ELEVATOR APARTMENTS,2,803,1075,NaN,R4,"315 7 AVENUE, 18B",18B,...,0,0,0,0,764,0,2,R4,0,02/11/2019
12790,Manhattan,UPPER EAST SIDE (79-96),01 ONE FAMILY DWELLINGS,1,1505,30,NaN,A4,67 EAST 93RD STREET,NaN,...,1,0,1,"2,215","6,956",1901,1,A4,0,11/26/2018
627,Manhattan,CHELSEA,13 CONDOS - ELEVATOR APARTMENTS,2,803,1072,NaN,R4,"315 7 AVENUE, 17C",17C,...,0,0,0,0,612,0,2,R4,0,03/19/2019
12792,Manhattan,UPPER EAST SIDE (79-96),01 ONE FAMILY DWELLINGS,1,1509,5,NaN,A4,105 EAST 80TH STREET,NaN,...,1,0,1,"1,839","6,096",1901,1,A4,0,07/25/2019
12793,Manhattan,UPPER EAST SIDE (79-96),01 ONE FAMILY DWELLINGS,1,1511,27,NaN,A4,159 EAST 82ND STREET,NaN,...,1,0,1,"1,572","3,420",1899,1,A4,0,06/05/2019
625,Manhattan,CHELSEA,13 CONDOS - ELEVATOR APARTMENTS,2,803,1043,NaN,R4,"315 7 AVENUE, 10D",10D,...,0,0,0,0,530,0,2,R4,0,01/29/2019
12798,Manhattan,UPPER EAST SIDE (79-96),01 ONE FAMILY DWELLINGS,1,1523,69,NaN,A4,1217 PARK AVENUE,NaN,...,1,0,1,"1,426","4,620",1899,1,A4,0,02/11/2019
624,Manhattan,CHELSEA,13 CONDOS - ELEVATOR APARTMENTS,2,803,1026,NaN,R4,"315 7 AVENUE, 7B",7B,...,0,0,0,0,764,0,2,R4,0,07/30/2019
623,Manhattan,CHELSEA,13 CONDOS - ELEVATOR APARTMENTS,2,802,1112,NaN,R4,291 7 AVENUE,10&PH,...,0,0,0,0,"4,749",0,2,R4,0,11/09/2018
622,Manhattan,CHELSEA,13 CONDOS - ELEVATOR APARTMENTS,2,802,1007,NaN,R4,"144 WEST 27TH STREET, 10F",10F,...,0,0,0,0,"1,822",1911,2,R4,0,07/30/2019
12803,Manhattan,UPPER EAST SIDE (79-96),02 TWO FAMILY DWELLINGS,1,1505,63,NaN,B1,16 EAST 94TH STREET,NaN,...,2,0,2,"1,728","4,166",1920,1,B1,0,04/15/2019
620,Manhattan,CHELSEA,13 CONDOS - ELEVATOR APARTMENTS,2,801,1115,NaN,R4,150 WEST 26TH STREET,602,...,0,0,0,0,"1,743",1922,2,R4,0,11/19/2018
12807,Manhattan,UPPER EAST SIDE (79-96),02 TWO FAMILY DWELLINGS,1,1529,105,NaN,B9,207 E. 83RD STREET,NaN,...,2,0,2,"2,043","5,640",1901,1,B9,0,10/11/2018
617,Manhattan,CHELSEA,13 CONDOS - ELEVATOR APARTMENTS,2,800,1467,NaN,R4,101 WEST 24TH STREET,31E,...,0,0,0,0,"1,113",2006,2,R4,0,10/31/2018
614,Manhattan,CHELSEA,13 CONDOS - ELEVATOR APARTMENTS,2,800,1443,NaN,R4,"101 WEST 24TH STREET, 6E",6E,...,0,0,0,0,"1,107",2006,2,R4,0,02/28/2019
12812,Manhattan,UPPER EAST SIDE (79-96),03 THREE FAMILY DWELLINGS,1,1503,66,NaN,C0,10 EAST 92ND STREET,NaN,...,3,0,3,"1,904","4,663",1899,1,C0,0,03/15/2019
12813,Manhattan,UPPER EAST SIDE (79-96),03 THREE FAMILY DWELLINGS,1,1503,66,NaN,C0,10 EAST 92ND STREET,NaN,...,3,0,3,"1,904","4,663",1899,1,C0,0,03/15/2019
12815,Manhattan,UPPER EAST SIDE (79-96),03 THREE FAMILY DWELLINGS,1,1524,108,NaN,C0,121 EAST 95TH STREET,NaN,...,3,0,3,"1,611","3,328",1899,1,C0,0,02/11/2019
12876,Manhattan,UPPER EAST SIDE (79-96),09 COOPS - WALKUP APARTMENTS,2,1535,11,NaN,C6,"215 EAST 89TH STREET, 1C",NaN,...,0,0,0,0,0,1920,2,C6,0,11/08/2018
12877,Manhattan,UPPER EAST SIDE (79-96),09 COOPS - WALKUP APARTMENTS,2,1535,41,NaN,C6,"210 EAST 90TH STREET, 1A",NaN,...,0,0,0,0,0,1910,2,C6,0,02/27/2019
12887,Manhattan,UPPER EAST SIDE (79-96),09 COOPS - WALKUP APARTMENTS,2,1555,21,NaN,C6,"343 EAST 92ND STREET, 2E",NaN,...,0,0,0,0,0,1920,2,C6,0,09/17/2019
4869,Manhattan,HARLEM-CENTRAL,13 CONDOS - ELEVATOR APARTMENTS,2,1822,1222,NaN,R4,1845 ADAM C POWELL BLVD,A3D,...,0,0,0,0,"1,483",1915,2,R4,0,10/29/2018

49837

In [34]:
staten_island.describe()

,BLOCK,LOT,EASE-MENT,ZIP CODE,RESIDENTIAL UNITS,COMMERCIAL UNITS,TOTAL UNITS,YEAR BUILT,TAX CLASS AT TIME OF SALE
count,7724.000000,7724.000000,0.0,7724.000000,7724.000000,7724.000000,7724.000000,7724.000000,7724.000000
mean,3326.988219,188.890989,NaN,10109.178923,1.148887,0.044925,1.193811,1883.164552,1.146686
std,2372.503673,427.827223,NaN,1417.906801,1.230561,0.325332,1.256904,403.408993,0.574030
min,1.000000,1.000000,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
25%,1072.250000,24.000000,NaN,10305.000000,1.000000,0.000000,1.000000,1943.750000,1.000000
50%,3121.000000,55.000000,NaN,10308.000000,1.000000,0.000000,1.000000,1974.000000,1.000000
75%,5448.000000,128.250000,NaN,10312.000000,2.000000,0.000000,2.000000,1990.000000,1.000000
max,8049.000000,5344.000000,NaN,10314.000000,52.000000,8.000000,52.000000,2019.000000,4.000000

In [114]:
manhattan.describe()

,BLOCK,LOT,EASE-MENT,ZIP CODE,RESIDENTIAL UNITS,COMMERCIAL UNITS,TOTAL UNITS,YEAR BUILT,TAX CLASS AT TIME OF SALE
count,17686.000000,17686.000000,0.0,17686.000000,17686.000000,17686.000000,17686.000000,17686.000000,17686.000000
mean,1100.773097,767.797071,NaN,9881.924969,1.386916,0.409024,1.795940,1696.709148,2.122017
std,529.575815,893.415353,NaN,1210.008056,11.285579,6.625518,13.231401,660.731449,0.541555
min,10.000000,1.000000,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
25%,738.000000,31.000000,NaN,10012.000000,0.000000,0.000000,0.000000,1910.000000,2.000000
50%,1167.000000,1006.000000,NaN,10021.000000,0.000000,0.000000,0.000000,1932.000000,2.000000
75%,1453.000000,1202.000000,NaN,10028.000000,0.000000,0.000000,0.000000,1977.000000,2.000000
max,2250.000000,9109.000000,NaN,10463.000000,464.000000,570.000000,570.000000,2018.000000,4.000000

In [36]:
brooklyn.sample(20)

,BOROUGH,NEIGHBORHOOD,BUILDING CLASS CATEGORY,TAX CLASS AT PRESENT,BLOCK,LOT,EASE-MENT,BUILDING CLASS AT PRESENT,ADDRESS,APARTMENT NUMBER,...,RESIDENTIAL UNITS,COMMERCIAL UNITS,TOTAL UNITS,LAND SQUARE FEET,GROSS SQUARE FEET,YEAR BUILT,TAX CLASS AT TIME OF SALE,BUILDING CLASS AT TIME OF SALE,SALE PRICE,SALE DATE
4292,Brooklyn,BOROUGH PARK,04 TAX CLASS 1 CONDOS,1C,5709,1202,NaN,R6,"5910 11TH AVENUE, 2",2,...,0,0,0,0,"1,415",2017,1,R6,"946,973",04/18/2019
17506,Brooklyn,MILL BASIN,01 ONE FAMILY DWELLINGS,1,8625,39,NaN,A2,1 BARLOW DRIVE N,NaN,...,1,0,1,"6,105","2,520",1960,1,A2,0,06/12/2019
3622,Brooklyn,BOROUGH PARK,02 TWO FAMILY DWELLINGS,1,5364,72,NaN,B1,1519 41ST STREET,NaN,...,2,0,2,"2,003","2,088",1925,1,B1,0,05/09/2019
23472,Brooklyn,WINDSOR TERRACE,10 COOPS - ELEVATOR APARTMENTS,2,5268,18,NaN,D4,"202 SEELEY STREET, 1E",NaN,...,0,0,0,0,0,1931,2,D4,"725,000",07/23/2019
44,Brooklyn,BATH BEACH,02 TWO FAMILY DWELLINGS,1,6360,7,NaN,B2,1507 BENSON AVENUE,NaN,...,2,0,2,"2,142","2,040",1930,1,B2,"1,200,000",06/05/2019
22612,Brooklyn,WILLIAMSBURG-EAST,07 RENTALS - WALKUP APARTMENTS,2B,2924,48,NaN,C7,951 GRAND STREET,NaN,...,7,1,8,"2,530","5,880",2015,2,C7,0,11/26/2018
12927,Brooklyn,FLATBUSH-LEFFERTS GARDEN,01 ONE FAMILY DWELLINGS,1,5034,59,NaN,A4,109 RUTLAND ROAD,NaN,...,1,0,1,"1,775","2,304",1930,1,A4,"1,950,000",05/10/2019
18406,Brooklyn,OCEAN PARKWAY-NORTH,10 COOPS - ELEVATOR APARTMENTS,2,5417,58,NaN,D4,"275 WEBSTER AVENUE, 2N",NaN,...,0,0,0,0,0,1964,2,D4,"217,000",05/09/2019
16646,Brooklyn,MARINE PARK,01 ONE FAMILY DWELLINGS,1,7699,36,NaN,A1,1515 EAST 37TH STREET,NaN,...,1,0,1,"2,000","1,472",1925,1,A1,"345,000",02/01/2019
15765,Brooklyn,KENSINGTON,01 ONE FAMILY DWELLINGS,1,5307,90,NaN,A1,88 TEHAMA STREET,NaN,...,1,0,1,"1,900","1,360",1910,1,A1,0,07/10/2019
555,Brooklyn,BAY RIDGE,02 TWO FAMILY DWELLINGS,1,5908,36,NaN,B1,372 72ND STREET,NaN,...,2,0,2,"2,000","2,240",1910,1,B1,0,11/14/2018
2670,Brooklyn,BENSONHURST,02 TWO FAMILY DWELLINGS,1,6179,31,NaN,B1,1458 71ST STREET,NaN,...,2,0,2,"2,000","1,600",1920,1,B1,0,11/06/2018
16862,Brooklyn,MARINE PARK,02 TWO FAMILY DWELLINGS,1,8482,68,NaN,B1,1866 RYDER STREET,NaN,...,2,0,2,"4,000","2,392",1960,1,B1,"1,060,000",02/13/2019
1772,Brooklyn,BEDFORD STUYVESANT,03 THREE FAMILY DWELLINGS,1,1793,90,NaN,C0,433 GREENE AVENUE,NaN,...,3,0,3,"2,000","3,360",1931,1,C0,"2,150,000",10/19/2018
4701,Brooklyn,BRIGHTON BEACH,03 THREE FAMILY DWELLINGS,1,8707,415,NaN,C0,102 BRIGHTON 11 STREET,NaN,...,3,0,3,"2,200","2,520",1935,1,C0,0,01/29/2019
9024,Brooklyn,CROWN HEIGHTS,03 THREE FAMILY DWELLINGS,1,1346,6,NaN,C0,139 ALBANY AVE,NaN,...,3,0,3,"2,250","3,900",2004,1,C0,"1,020,000",02/26/2019
23240,Brooklyn,WILLIAMSBURG-SOUTH,13 CONDOS - ELEVATOR APARTMENTS,2,2132,1023,NaN,R4,"123 SOUTH 8TH STREET, 5C",5C,...,0,0,0,0,"1,184",0,2,R4,0,06/26/2019
5730,Brooklyn,BROOKLYN-UNKNOWN,14 RENTALS - 4-10 UNIT,2A,166,24,NaN,S3,306 LIVINGSTON STREET,NaN,...,3,1,4,"1,327","4,801",0,2,S3,"10,000,000",05/31/2019
6266,Brooklyn,BUSHWICK,02 TWO FAMILY DWELLINGS,1,3406,37,NaN,B1,336 WEIRFIELD STREET,NaN,...,2,0,2,"2,000","2,320",1910,1,B1,0,04/22/2019
2173,Brooklyn,BEDFORD STUYVESANT,07 RENTALS - WALKUP APARTMENTS,2A,1801,16,NaN,C3,680 GREENE AVENUE,NaN,...,4,0,4,"2,000","3,600",1931,2,C3,0,02/25/2019

In [37]:
queens.sample(20)

,BOROUGH,NEIGHBORHOOD,BUILDING CLASS CATEGORY,TAX CLASS AT PRESENT,BLOCK,LOT,EASE-MENT,BUILDING CLASS AT PRESENT,ADDRESS,APARTMENT NUMBER,...,RESIDENTIAL UNITS,COMMERCIAL UNITS,TOTAL UNITS,LAND SQUARE FEET,GROSS SQUARE FEET,YEAR BUILT,TAX CLASS AT TIME OF SALE,BUILDING CLASS AT TIME OF SALE,SALE PRICE,SALE DATE
12120,Queens,HOLLIS HILLS,01 ONE FAMILY DWELLINGS,1,7815,67,NaN,A1,85-15 211TH STREET,NaN,...,1,0,1,"4,000","1,790",1940,1,A1,"912,500",07/02/2019
486,Queens,ASTORIA,02 TWO FAMILY DWELLINGS,1,795,34,NaN,B2,40-14 DITMARS BOULEVARD,NaN,...,2,0,2,"2,500","1,364",1920,1,B2,0,07/08/2019
7824,Queens,FLUSHING-NORTH,13 CONDOS - ELEVATOR APARTMENTS,2,4954,1008,NaN,R4,"32-36 UNION STREET, 6A",6A,...,0,0,0,0,"1,670",2007,2,R4,"800,000",07/25/2019
8673,Queens,FLUSHING-SOUTH,01 ONE FAMILY DWELLINGS,1,6537,108,NaN,A2,68-07 147TH STREET,NaN,...,1,0,1,"4,000","1,299",1945,1,A2,"900,000",09/04/2019
7170,Queens,FLUSHING-NORTH,02 TWO FAMILY DWELLINGS,1,5533,18,NaN,B3,46-28 192ND STREET,NaN,...,2,0,2,"4,000","1,281",1955,1,B3,"1,280,000",08/14/2019
10211,Queens,FOREST HILLS,10 COOPS - ELEVATOR APARTMENTS,2,2251,54,NaN,D4,"72-61 113TH STREET, 4U",NaN,...,0,0,0,0,0,1951,2,D4,"117,600",12/12/2018
2371,Queens,BEECHHURST,10 COOPS - ELEVATOR APARTMENTS,2,4574,71,NaN,D4,"162-41 POWELLS COVE BLVD., 4T",NaN,...,0,0,0,0,0,1956,2,D4,"400,000",02/05/2019
14764,Queens,LAURELTON,01 ONE FAMILY DWELLINGS,1,13122,3,NaN,A1,227-15 137TH AVE,NaN,...,1,0,1,"5,000","2,185",1925,1,A1,0,10/01/2018
19189,Queens,RICHMOND HILL,01 ONE FAMILY DWELLINGS,1,9362,56,NaN,A1,89-62 134TH STREET,NaN,...,1,0,1,"8,650","1,275",1925,1,A1,"600,000",08/20/2019
14024,Queens,JAMAICA,29 COMMERCIAL GARAGES,4,10031,17,NaN,GW,97-31 147TH PLACE,NaN,...,0,1,1,"7,700","3,878",1975,4,GW,"1,900,000",01/15/2019
8440,Queens,FLUSHING-NORTH,42 CONDO CULTURAL/MEDICAL/EDUCATIONAL/ETC,4,4414,1336,NaN,RA,"31-32 UNION STREET, 1D",1D,...,0,0,0,0,"1,468",2007,4,RA,"4,300,000",08/21/2019
18849,Queens,REGO PARK,10 COOPS - ELEVATOR APARTMENTS,2,3159,70,NaN,D4,"98-120 QUEENS BLVD, 2A",NaN,...,0,0,0,0,0,1939,2,D4,"390,000",04/10/2019
247,Queens,ASTORIA,01 ONE FAMILY DWELLINGS,1,574,116,NaN,A5,27-30 27TH STREET,NaN,...,1,0,1,"1,650","1,128",1920,1,A5,"850,000",09/25/2019
12924,Queens,JACKSON HEIGHTS,02 TWO FAMILY DWELLINGS,1,1041,48,NaN,B1,24-43 77TH STREET,NaN,...,2,0,2,"2,200","1,774",1955,1,B1,"725,000",01/31/2019
20885,Queens,ROSEDALE,03 THREE FAMILY DWELLINGS,1,13680,1,NaN,C0,258-12 CRAFT AVENUE,NaN,...,3,0,3,"6,996","2,972",1960,1,C0,"825,000",06/11/2019
4343,Queens,DOUGLASTON,01 ONE FAMILY DWELLINGS,1,8288,22,NaN,A5,240-42 65TH AVENUE,NaN,...,1,0,1,"1,826","1,368",1970,1,A5,0,03/31/2019
17777,Queens,QUEENS VILLAGE,01 ONE FAMILY DWELLINGS,1,10670,46,NaN,A1,8810 213 ST,NaN,...,1,0,1,"3,060","1,184",1920,1,A1,0,12/19/2018
7479,Queens,FLUSHING-NORTH,10 COOPS - ELEVATOR APARTMENTS,2,4374,49,NaN,D4,"138-25 31ST DRIVE, 3D",NaN,...,0,0,0,0,0,1953,2,D4,"350,000",06/05/2019
7654,Queens,FLUSHING-NORTH,10 COOPS - ELEVATOR APARTMENTS,2,5135,57,NaN,D4,"137-05 FRANKLIN AVENUE, 2E",NaN,...,0,0,0,0,0,1962,2,D4,"360,000",10/11/2018
499,Queens,ASTORIA,02 TWO FAMILY DWELLINGS,1,808,31,NaN,B1,37-04 21ST AVENUE,NaN,...,2,0,2,"2,500","2,745",1925,1,B1,"1,455,000",11/09/2018

In [38]:
bronx.sample(20)

,BOROUGH,NEIGHBORHOOD,BUILDING CLASS CATEGORY,TAX CLASS AT PRESENT,BLOCK,LOT,EASE-MENT,BUILDING CLASS AT PRESENT,ADDRESS,APARTMENT NUMBER,...,RESIDENTIAL UNITS,COMMERCIAL UNITS,TOTAL UNITS,LAND SQUARE FEET,GROSS SQUARE FEET,YEAR BUILT,TAX CLASS AT TIME OF SALE,BUILDING CLASS AT TIME OF SALE,SALE PRICE,SALE DATE
2477,Bronx,KINGSBRIDGE HTS/UNIV HTS,01 ONE FAMILY DWELLINGS,1,3208,46,NaN,S1,2257 GRAND AVENUE,NaN,...,1,1,2,"5,000","1,496",1910,1,S1,"970,000",12/28/2018
964,Bronx,BRONX-UNKNOWN,03 THREE FAMILY DWELLINGS,1,3315,20,NaN,C0,2736 CRESTON AVENUE,NaN,...,3,0,3,"2,406","3,612",0,1,C0,"925,000",12/05/2018
7668,Bronx,WOODLAWN,02 TWO FAMILY DWELLINGS,1,3387,63,NaN,B1,327 EAST 238 STREET,NaN,...,2,0,2,"2,800","2,734",1940,1,B1,0,01/09/2019
5554,Bronx,SCHUYLERVILLE/PELHAM BAY,02 TWO FAMILY DWELLINGS,1,5336,6,NaN,B2,2951 BAISLEY AVENUE,NaN,...,2,0,2,"2,375","1,800",1920,1,B2,0,03/20/2019
4530,Bronx,PELHAM GARDENS,01 ONE FAMILY DWELLINGS,1,4481,122,NaN,A5,2551 WOODHULL AVENUE,NaN,...,1,0,1,"1,702","1,048",1940,1,A5,"450,000",07/12/2019
3985,Bronx,PARKCHESTER,02 TWO FAMILY DWELLINGS,1,3934,34,NaN,B2,1350 ODELL STREET,NaN,...,2,0,2,"2,575","1,890",1910,1,B2,0,10/10/2018
1173,Bronx,BRONXDALE,02 TWO FAMILY DWELLINGS,1,4611,14,NaN,B1,3212 PAULDING AVENUE,NaN,...,2,0,2,"2,500","2,120",1945,1,B1,"303,000",03/12/2019
2702,Bronx,KINGSBRIDGE/JEROME PARK,10 COOPS - ELEVATOR APARTMENTS,2,3255,65,NaN,D4,"3363 SEDGWICK AVENUE, 5U",NaN,...,0,0,0,0,0,1963,2,D4,"207,585",03/07/2019
1043,Bronx,BRONXDALE,01 ONE FAMILY DWELLINGS,1,4564,13,NaN,A2,2780 WILSON AVENUE,NaN,...,1,0,1,"8,968","2,020",1950,1,A2,"600,000",06/21/2019
3628,Bronx,MORRISANIA/LONGWOOD,29 COMMERCIAL GARAGES,4,2362,26,NaN,G6,423 WESTCHESTER AVENUE,NaN,...,0,0,0,"16,655",0,0,4,G6,"7,250,000",05/06/2019
3705,Bronx,MOTT HAVEN/PORT MORRIS,02 TWO FAMILY DWELLINGS,1,2565,52,NaN,B1,742 EAST 137TH ST,NaN,...,2,0,2,"1,500","1,440",1920,1,B1,"300,000",01/08/2019
6062,Bronx,SOUNDVIEW,04 TAX CLASS 1 CONDOS,1A,3432,1589,NaN,R3,143 ADMIRAL LANE,NaN,...,0,0,0,0,"1,206",2006,1,R3,"300,000",10/12/2018
4758,Bronx,PELHAM PARKWAY SOUTH,02 TWO FAMILY DWELLINGS,1,4314,27,NaN,S2,1220 PELHAM PARKWAY SO,NaN,...,2,1,3,"7,500","4,668",1950,1,S2,0,09/18/2019
937,Bronx,BRONX PARK,37 RELIGIOUS FACILITIES,4,3357,228,NaN,M9,3464 WEBSTER AVENUE,NaN,...,0,2,2,"1,595","4,880",2006,4,M9,"1,180,000",05/09/2019
981,Bronx,BRONX-UNKNOWN,29 COMMERCIAL GARAGES,4,2954,22,NaN,G7,790 FAIRMOUNT PLACE,NaN,...,0,0,0,0,0,0,4,G7,0,02/21/2019
161,Bronx,BAYCHESTER,01 ONE FAMILY DWELLINGS,1,4898,20,NaN,A5,1251 EAST 223 STREET,NaN,...,1,0,1,"1,600",960,1955,1,A5,"423,000",01/22/2019
3535,Bronx,MORRISANIA/LONGWOOD,09 COOPS - WALKUP APARTMENTS,2,2603,24,NaN,C6,"590 SOUTHERN BLVD, 4B",NaN,...,0,0,0,0,0,1924,2,C6,"77,500",03/08/2019
3580,Bronx,MORRISANIA/LONGWOOD,07 RENTALS - WALKUP APARTMENTS,2A,2678,27,NaN,C2,810 EAST 165 STREET,NaN,...,6,0,6,"2,000","4,493",2017,2,C2,"375,000",05/17/2019
6541,Bronx,THROGS NECK,03 THREE FAMILY DWELLINGS,1,5601,1,NaN,C0,2589 HARDING AVENUE,NaN,...,3,0,3,"4,500","2,570",1925,1,C0,0,03/21/2019
1806,Bronx,COUNTRY CLUB,02 TWO FAMILY DWELLINGS,1,5459,64,NaN,B1,1053 VINCENT AVENUE,NaN,...,2,0,2,674,"1,140",1925,1,B1,"356,250",04/08/2019

In [39]:
manhattan.sample(20)

,BOROUGH,NEIGHBORHOOD,BUILDING CLASS CATEGORY,TAX CLASS AT PRESENT,BLOCK,LOT,EASE-MENT,BUILDING CLASS AT PRESENT,ADDRESS,APARTMENT NUMBER,...,RESIDENTIAL UNITS,COMMERCIAL UNITS,TOTAL UNITS,LAND SQUARE FEET,GROSS SQUARE FEET,YEAR BUILT,TAX CLASS AT TIME OF SALE,BUILDING CLASS AT TIME OF SALE,SALE PRICE,SALE DATE
8261,Manhattan,MIDTOWN EAST,13 CONDOS - ELEVATOR APARTMENTS,2,1320,1681,NaN,R4,"225 EAST 46TH STREET, 8F",8F,...,0,0,0,0,425,1956,2,R4,0.00,02/20/2019
752,Manhattan,CHELSEA,16 CONDOS - 2-10 UNIT WITH COMMERCIAL UNIT,2C,696,1202,NaN,R8,"503 WEST 24TH STREET, FOUND",FOUND,...,0,0,0,0,"9,210",2015,2,R8,"29,000,000.00",12/31/2018
15723,Manhattan,UPPER WEST SIDE (59-79),17 CONDO COOPS,2,1167,1002,NaN,R9,"215 WEST 75TH STREET, 16H",NaN,...,0,0,0,0,0,1924,2,R9,"785,000.00",09/17/2019
2870,Manhattan,GRAMERCY,13 CONDOS - ELEVATOR APARTMENTS,2,878,1057,NaN,R4,"121 EAST 22ND STREET, N802",N802,...,0,0,0,0,"1,674",1952,2,R4,0.00,01/24/2019
3232,Manhattan,GREENWICH VILLAGE-CENTRAL,10 COOPS - ELEVATOR APARTMENTS,2,523,38,NaN,D4,"88 BLEECKER STREET, 5L",NaN,...,0,0,0,0,0,1961,2,D4,"750,000.00",08/27/2019
14952,Manhattan,UPPER WEST SIDE (59-79),13 CONDOS - ELEVATOR APARTMENTS,2,1114,1136,NaN,R4,62 WEST 62,14B,...,0,0,0,0,674,0,2,R4,"1,120,000.00",12/12/2018
146,Manhattan,CHELSEA,07 RENTALS - WALKUP APARTMENTS,2,738,48,NaN,C1,312 WEST 15TH STREET,NaN,...,36,0,36,"5,163","28,078",1900,2,C1,0.00,07/31/2019
8019,Manhattan,MIDTOWN EAST,10 COOPS - ELEVATOR APARTMENTS,2,1363,8,NaN,D4,"425 EAST 51ST STREET, 9F",NaN,...,0,0,0,0,0,1928,2,D4,"555,000.00",07/23/2019
4651,Manhattan,HARLEM-CENTRAL,09 COOPS - WALKUP APARTMENTS,2,2047,1,NaN,C6,"307 WEST 153 STREET, 21",NaN,...,0,0,0,0,0,1910,2,C6,"285,000.00",02/18/2019
5183,Manhattan,HARLEM-CENTRAL,29 COMMERCIAL GARAGES,4,1723,66,NaN,G7,78 WEST 126 STREET,NaN,...,0,0,0,"2,498",0,0,4,G7,0.00,09/24/2019
787,Manhattan,CHELSEA,46 CONDO STORE BUILDINGS,4,721,1001,NaN,RK,"410 WEST 24TH STREET, 8I",12B,...,0,0,0,0,"3,101",1932,4,RK,"440,904.00",03/18/2019
7980,Manhattan,MIDTOWN EAST,10 COOPS - ELEVATOR APARTMENTS,2,1351,1,NaN,D4,"300 EAST 59TH STREET, 2401",NaN,...,0,0,0,0,0,1974,2,D4,"1,553,000.00",01/16/2019
17575,Manhattan,WASHINGTON HEIGHTS UPPER,10 COOPS - ELEVATOR APARTMENTS,2,2179,500,NaN,D4,"689 FORT WASHINGTON AVEN, 4B",NaN,...,0,0,0,0,0,1928,2,D4,"390,000.00",10/05/2018
15955,Manhattan,UPPER WEST SIDE (59-79),47 CONDO NON-BUSINESS STORAGE,4,1171,2373,NaN,RS,240 RIVERSIDE BOULEVARD,SU105,...,0,0,0,0,16,2004,4,RS,0.00,11/30/2018
2858,Manhattan,GRAMERCY,13 CONDOS - ELEVATOR APARTMENTS,2,878,1048,NaN,R4,"121 EAST 22ND STREET, N701",N701,...,0,0,0,0,"1,353",1952,2,R4,0.00,01/24/2019
2917,Manhattan,GRAMERCY,13 CONDOS - ELEVATOR APARTMENTS,2,878,1091,NaN,R4,"N/A EAST 23RD STREET, N1204",N1204,...,0,0,0,0,780,1952,2,R4,0.00,01/24/2019
14552,Manhattan,UPPER WEST SIDE (59-79),10 COOPS - ELEVATOR APARTMENTS,2,1122,23,NaN,D4,"11 WEST 69TH STREET, PHA",NaN,...,0,0,0,0,0,1928,2,D4,"2,296,000.00",09/17/2019
3449,Manhattan,GREENWICH VILLAGE-CENTRAL,10 COOPS - ELEVATOR APARTMENTS,2,568,4,NaN,D4,"39 FIFTH AVENUE, 6A",NaN,...,0,0,0,0,0,1922,2,D4,"1,600,000.00",10/26/2018
2318,Manhattan,FLATIRON,13 CONDOS - ELEVATOR APARTMENTS,2,849,1239,NaN,R4,"260 PARK AVENUE SOUTH, 5H",5H,...,0,0,0,0,"1,281",1913,2,R4,0.00,01/11/2019
6370,Manhattan,LOWER EAST SIDE,10 COOPS - ELEVATOR APARTMENTS,2,315,1,NaN,D4,"417 GRAND STREET, D2005",NaN,...,0,0,0,0,0,1960,2,D4,"960,000.00",10/10/2018

In [40]:
staten_island.sample(20)

,BOROUGH,NEIGHBORHOOD,BUILDING CLASS CATEGORY,TAX CLASS AT PRESENT,BLOCK,LOT,EASE-MENT,BUILDING CLASS AT PRESENT,ADDRESS,APARTMENT NUMBER,...,RESIDENTIAL UNITS,COMMERCIAL UNITS,TOTAL UNITS,LAND SQUARE FEET,GROSS SQUARE FEET,YEAR BUILT,TAX CLASS AT TIME OF SALE,BUILDING CLASS AT TIME OF SALE,SALE PRICE,SALE DATE
797,Staten Island,BULLS HEAD,04 TAX CLASS 1 CONDOS,1A,1552,1050,NaN,R3,"139 MORANI STREET, N/A",NaN,...,0,0,0,0,"1,480",1980,1,R3,0,1/28/2019
1835,Staten Island,GRANT CITY,09 COOPS - WALKUP APARTMENTS,2,3546,1,NaN,C6,"35 VERA STREET, 216A",NaN,...,0,0,0,0,0,1969,2,C6,"25,350",5/2/2019
3620,Staten Island,MIDLAND BEACH,04 TAX CLASS 1 CONDOS,1A,3674,1057,NaN,R3,40J MEADOW PLACE,40J,...,0,0,0,0,592,1985,1,R3,"255,000",11/19/2018
4614,Staten Island,NEW SPRINGVILLE,04 TAX CLASS 1 CONDOS,1A,2450,3356,NaN,R3,"33 PIERPONT PLACE, N/A",NaN,...,0,0,0,0,"1,242",1981,1,R3,"409,000",1/23/2019
2445,Staten Island,GREAT KILLS,02 TWO FAMILY DWELLINGS,1,4500,374,NaN,B1,58 EVERGREEN STREET,NaN,...,2,0,2,"4,900","2,632",1980,1,B1,"830,000",8/14/2019
4254,Staten Island,NEW SPRINGVILLE,01 ONE FAMILY DWELLINGS,1,1991,16,NaN,A5,56 CONRAD AVENUE,NaN,...,1,0,1,"2,675","1,566",2016,1,A5,"711,757",3/22/2019
5822,Staten Island,ROSSVILLE-CHARLESTON,01 ONE FAMILY DWELLINGS,1,7596,126,NaN,A5,74 CHART LOOP,NaN,...,1,0,1,"1,550","2,650",2007,1,A5,"775,000",11/5/2018
1625,Staten Island,ELTINGVILLE,01 ONE FAMILY DWELLINGS,1,5712,66,NaN,A2,79 STAFFORD AVENUE,NaN,...,1,0,1,"4,000",800,1950,1,A2,"568,000",9/12/2019
27,Staten Island,ANNADALE,01 ONE FAMILY DWELLINGS,1,6220,14,NaN,A5,45 BARB STREET,NaN,...,1,0,1,"1,585","1,339",2004,1,A5,"542,000",11/15/2018
6474,Staten Island,TOMPKINSVILLE,02 TWO FAMILY DWELLINGS,1,504,58,NaN,B3,54 SWAN STREET,NaN,...,2,0,2,"2,211","1,496",1899,1,B3,0,7/30/2019
4556,Staten Island,NEW SPRINGVILLE,04 TAX CLASS 1 CONDOS,1A,2450,1092,NaN,R3,"15 KATHY PLACE, 1A",1A,...,0,0,0,0,670,1975,1,R3,"272,500",1/7/2019
4497,Staten Island,NEW SPRINGVILLE,04 TAX CLASS 1 CONDOS,1A,2015,1002,NaN,R3,"46 GRISSOM AVENUE, N/A",NaN,...,0,0,0,0,"1,571",1986,1,R3,"429,900",7/24/2019
2690,Staten Island,GREAT KILLS-BAY TERRACE,01 ONE FAMILY DWELLINGS,1,5099,21,NaN,A5,28 AINSWORTH AVE.,NaN,...,1,0,1,"2,500","1,200",1964,1,A5,0,8/12/2019
5483,Staten Island,ROSEBANK,01 ONE FAMILY DWELLINGS,1,2864,84,NaN,A1,55 FINGERBOARD ROAD,NaN,...,1,0,1,"3,528","1,160",1901,1,A1,0,1/25/2019
1195,Staten Island,CONCORD-FOX HILLS,01 ONE FAMILY DWELLINGS,1,2925,257,NaN,A5,160 SKYLINE DRIVE,NaN,...,1,0,1,684,"1,422",1993,1,A5,"37,500",5/30/2019
6029,Staten Island,SOUTH BEACH,01 ONE FAMILY DWELLINGS,1,3378,21,NaN,A5,379 GARRETSON AVENUE,NaN,...,1,0,1,"2,436","1,280",1970,1,A5,0,2/28/2019
6268,Staten Island,STAPLETON,03 THREE FAMILY DWELLINGS,1,561,24,NaN,C0,80 WARREN STREET,NaN,...,3,0,3,"4,520","2,190",1940,1,C0,"258,000",8/9/2019
4971,Staten Island,PORT RICHMOND,01 ONE FAMILY DWELLINGS,1,1029,60,NaN,A1,912 POST AVENUE,NaN,...,1,0,1,"2,500","1,405",1940,1,A1,"125,000",10/15/2018
1080,Staten Island,CLOVE LAKES,04 TAX CLASS 1 CONDOS,1A,327,1011,NaN,R3,"966 CLOVE ROAD, F1/F2",F1/F2,...,0,0,0,0,707,1974,1,R3,"505,000",7/23/2019
2147,Staten Island,GREAT KILLS,01 ONE FAMILY DWELLINGS,1,5235,13,NaN,A2,289 PACIFIC AVENUE,NaN,...,1,0,1,"4,000",912,1950,1,A2,0,3/25/2019

In [112]:
manhattan.head()

,BOROUGH,NEIGHBORHOOD,BUILDING CLASS CATEGORY,TAX CLASS AT PRESENT,BLOCK,LOT,EASE-MENT,BUILDING CLASS AT PRESENT,ADDRESS,APARTMENT NUMBER,...,RESIDENTIAL UNITS,COMMERCIAL UNITS,TOTAL UNITS,LAND SQUARE FEET,GROSS SQUARE FEET,YEAR BUILT,TAX CLASS AT TIME OF SALE,BUILDING CLASS AT TIME OF SALE,SALE PRICE,SALE DATE
0,Manhattan,ALPHABET CITY,01 ONE FAMILY DWELLINGS,1,376,43,NaN,S1,743 EAST 6TH STREET,NaN,...,1,1,2,"2,090","3,680",1940,1,S1,"3,200,000.00",07/24/2019
1,Manhattan,ALPHABET CITY,01 ONE FAMILY DWELLINGS,1,390,61,NaN,A4,189 EAST 7TH STREET,NaN,...,1,0,1,987,"2,183",1860,1,A4,0.00,09/25/2019
2,Manhattan,ALPHABET CITY,01 ONE FAMILY DWELLINGS,1,400,19,NaN,A4,526 EAST 5TH STREET,NaN,...,1,0,1,"1,883","5,200",1900,1,A4,"6,100,000.00",12/03/2018
3,Manhattan,ALPHABET CITY,02 TWO FAMILY DWELLINGS,1,404,1,NaN,B9,166 AVENUE A,NaN,...,2,0,2,"1,510","4,520",1900,1,B9,0.00,07/22/2019
4,Manhattan,ALPHABET CITY,02 TWO FAMILY DWELLINGS,1,404,1,NaN,B9,166 AVENUE A,NaN,...,2,0,2,"1,510","4,520",1900,1,B9,0.00,11/29/2018