In [11]:
import numpy as np
import pandas as pd
import datetime
import re

**Import Jan 2010 through Sept 2019 Sales Data**

In [12]:
manhattan = pd.read_csv('Manhattan.csv', na_values = {'TAX CLASS AT PRESENT':['  ', 'nan','TAX CLASS AT PRESENT','TAX CLASS AT PRESENT\n','TAX CLASS AS OF FINAL ROLL 17/18','TAX CLASS AS OF FINAL ROLL 18/19'], 'APARTMENT NUMBER':['',' ','  '],'LAND SQUARE FEET':['-','\'-\''],'GROSS SQUARE FEET':['-','\'-\'']},header = 4)
bronx = pd.read_csv('Bronx.csv', na_values = {'TAX CLASS AT PRESENT':['  ', 'nan','TAX CLASS AT PRESENT','TAX CLASS AT PRESENT\n','TAX CLASS AS OF FINAL ROLL 17/18','TAX CLASS AS OF FINAL ROLL 18/19'], 'APARTMENT NUMBER':['',' ','  '],'LAND SQUARE FEET':['-','\'-\''],'GROSS SQUARE FEET':['-','\'-\'']}, header = 4)
brooklyn = pd.read_csv('Brooklyn.csv', na_values = {'TAX CLASS AT PRESENT':['  ', 'nan','TAX CLASS AT PRESENT','TAX CLASS AT PRESENT\n','TAX CLASS AS OF FINAL ROLL 17/18','TAX CLASS AS OF FINAL ROLL 18/19'], 'APARTMENT NUMBER':['',' ','  '],'LAND SQUARE FEET':['-','\'-\''],'GROSS SQUARE FEET':['-','\'-\'']}, header = 4)
queens = pd.read_csv('Queens.csv', na_values = {'TAX CLASS AT PRESENT':['  ', 'nan','TAX CLASS AT PRESENT','TAX CLASS AT PRESENT\n','TAX CLASS AS OF FINAL ROLL 17/18','TAX CLASS AS OF FINAL ROLL 18/19'], 'APARTMENT NUMBER':['',' ','  '],'LAND SQUARE FEET':['-','\'-\''],'GROSS SQUARE FEET':['-','\'-\'']}, header = 4)
staten_island = pd.read_csv('Staten Island.csv', na_values = {'TAX CLASS AT PRESENT':['  ', 'nan','TAX CLASS AT PRESENT','TAX CLASS AT PRESENT\n','TAX CLASS AS OF FINAL ROLL 17/18','TAX CLASS AS OF FINAL ROLL 18/19'], 'APARTMENT NUMBER':['',' ','  '],'LAND SQUARE FEET':['-','\'-\''],'GROSS SQUARE FEET':['-','\'-\'']}, header =4)

In [13]:
bronx.rename({' SALE PRICE ':'SALE PRICE'}, axis = 1, inplace=True)
brooklyn.rename({' SALE PRICE ':'SALE PRICE'}, axis = 1, inplace=True)
queens.rename({' SALE PRICE ':'SALE PRICE'}, axis = 1, inplace=True)
staten_island.rename({' SALE PRICE ':'SALE PRICE'}, axis = 1, inplace=True)

In [14]:
combined1 = pd.read_csv('before_2010.csv', na_values = {'ADDRESS':['',' ','  ','   '],'TAX CLASS AT PRESENT':['  ', 'nan'], 'APARTMENT NUMBER':['',' ','  '],'LAND SQUARE FEET':['-','\'-\''],'GROSS SQUARE FEET':['-','\'-\'']}, keep_default_na = True, low_memory=False)

In [15]:
combined2 = pd.read_csv('after_2010.csv', na_values = {'TAX CLASS AT PRESENT':['  ', 'nan','TAX CLASS AT PRESENT','TAX CLASS AT PRESENT\n','TAX CLASS AS OF FINAL ROLL 17/18','TAX CLASS AS OF FINAL ROLL 18/19'], 'APARTMENT NUMBER':['',' ','  '],'LAND SQUARE FEET':['-','\'-\''],'GROSS SQUARE FEET':['-','\'-\'']}, keep_default_na = True, low_memory=False)

In [16]:
combined3 = pd.concat([manhattan,bronx,brooklyn,queens,staten_island], axis = 0, sort = False).reset_index()

In [17]:
del combined3['index']

In [18]:
pd.set_option('display.max_columns',99)

In [19]:
combined3.columns

Index(['BOROUGH', 'NEIGHBORHOOD', 'BUILDING CLASS CATEGORY',
       'TAX CLASS AT PRESENT', 'BLOCK', 'LOT', 'EASE-MENT',
       'BUILDING CLASS AT PRESENT', 'ADDRESS', 'APARTMENT NUMBER', 'ZIP CODE',
       'RESIDENTIAL UNITS', 'COMMERCIAL UNITS', 'TOTAL UNITS',
       'LAND SQUARE FEET', 'GROSS SQUARE FEET', 'YEAR BUILT',
       'TAX CLASS AT TIME OF SALE', 'BUILDING CLASS AT TIME OF SALE',
       'SALE PRICE', 'SALE DATE'],
      dtype='object')

In [20]:
combined3['SALE DATE'] = pd.to_datetime(combined3.loc[:,'SALE DATE'])
combined3['SALE YEAR'] = pd.DatetimeIndex(combined3['SALE DATE']).year
combined3 = combined3.loc[combined3['SALE YEAR'] == 2019]

In [21]:
combined3.sample(250)

,BOROUGH,NEIGHBORHOOD,BUILDING CLASS CATEGORY,TAX CLASS AT PRESENT,BLOCK,LOT,EASE-MENT,BUILDING CLASS AT PRESENT,ADDRESS,APARTMENT NUMBER,ZIP CODE,RESIDENTIAL UNITS,COMMERCIAL UNITS,TOTAL UNITS,LAND SQUARE FEET,GROSS SQUARE FEET,YEAR BUILT,TAX CLASS AT TIME OF SALE,BUILDING CLASS AT TIME OF SALE,SALE PRICE,SALE DATE,SALE YEAR
41868,3,MADISON,44 CONDO PARKING,4,7298,1128,NaN,RG,"2388 OCEAN AVENUE, PC-2",PC-2,11229,0,0,0,0,153,0,4,RG,"635,000",2019-02-27,2019
66858,4,QUEENS VILLAGE,01 ONE FAMILY DWELLINGS,1,10754,1,NaN,A1,224-01 DAVENPORT AVENUE,NaN,11428,1,0,1,"2,800","1,134",1930,1,A1,0,2019-01-03,2019
40133,3,GRAVESEND,03 THREE FAMILY DWELLINGS,1,7085,103,NaN,C0,142 VAN SICKLEN STREET,NaN,11223,3,0,3,"3,151","2,500",1932,1,C0,0,2019-05-20,2019
6698,1,LOWER EAST SIDE,13 CONDOS - ELEVATOR APARTMENTS,2,349,1243,NaN,R4,"150 RIVINGTON STREET, PHA",PHA,10002,0,0,0,0,"1,662",1925,2,R4,"4,250,000.00",2019-07-31,2019
79773,5,PORT RICHMOND,37 RELIGIOUS FACILITIES,4,1084,73,NaN,M3,2230 RICHMOND TERRACE,NaN,10302,0,1,1,"6,160","2,760",1890,4,M3,"3,750,000",2019-06-19,2019
3586,1,GREENWICH VILLAGE-CENTRAL,13 CONDOS - ELEVATOR APARTMENTS,2,567,1033,NaN,R4,"25 5TH AVENUE, 5C",5C,10003,0,0,0,0,"1,358",1921,2,R4,10.00,2019-06-21,2019
51237,4,BAYSIDE,13 CONDOS - ELEVATOR APARTMENTS,2,5893,1867,NaN,R4,"2 BAY CLUB DRIVE, 15Z2",15Z2,11360,0,0,0,0,729,1972,2,R4,"257,500",2019-03-08,2019
12983,1,UPPER EAST SIDE (79-96),10 COOPS - ELEVATOR APARTMENTS,2,1498,1,NaN,D4,"1050 5TH AVENUE, 8B",NaN,10028,0,0,0,0,0,1960,2,D4,"2,400,000.00",2019-04-01,2019
42175,3,MARINE PARK,01 ONE FAMILY DWELLINGS,1,8526,18,NaN,A1,2049 KIMBALL STREET,NaN,11234,1,0,1,"2,500","1,084",1925,1,A1,"630,000",2019-04-18,2019
66574,4,OZONE PARK,12 CONDOS - WALKUP APARTMENTS,2,9046,1014,NaN,R2,"97-52 75 STREET, A21",A21,11416,0,0,0,0,894,1927,2,R2,"161,120",2019-07-15,2019
59059,4,FOREST HILLS,10 COOPS - ELEVATOR APARTMENTS,2,2167,1,NaN,D4,"63-09 108TH STREET, 4T",NaN,11375,0,0,0,0,0,1956,2,D4,"278,000",2019-02-06,2019
47178,3,SUNSET PARK,09 COOPS - WALKUP APARTMENTS,2,739,37,NaN,C6,"4404 6TH AVENUE, 1C",NaN,11220,0,0,0,0,0,1914,2,C6,"590,000",2019-02-13,2019
31573,3,BUSHWICK,02 TWO FAMILY DWELLINGS,1,3352,2,NaN,B2,224 PALMETTO STREET,NaN,11221,2,0,2,"1,461","1,400",1910,1,B2,"700,000",2019-04-22,2019
49438,4,ASTORIA,02 TWO FAMILY DWELLINGS,1,719,7,NaN,B1,28-45 45TH STREET,NaN,11103,2,0,2,"2,500","2,450",1925,1,B1,0,2019-05-17,2019
13561,1,UPPER EAST SIDE (79-96),10 COOPS - ELEVATOR APARTMENTS,2,1565,29,NaN,D4,"444 EAST 86TH STREET, 7C",NaN,10028,0,0,0,0,0,1973,2,D4,"585,000.00",2019-06-19,2019
68924,4,RICHMOND HILL,22 STORE BUILDINGS,4,9318,133,NaN,K1,91-71 111TH STREET,NaN,11418,0,1,1,650,520,1930,4,K1,0,2019-04-24,2019
36062,3,EAST NEW YORK,02 TWO FAMILY DWELLINGS,1,4020,37,NaN,B1,445 ESSEX STREET,NaN,11208,2,0,2,"1,600","2,000",1901,1,B1,0,2019-03-06,2019
12892,1,UPPER EAST SIDE (79-96),09 COOPS - WALKUP APARTMENTS,2,1562,10,NaN,C6,"415 EAST 82ND STREET, 2B",NaN,10028,0,0,0,0,0,1910,2,C6,"332,500.00",2019-05-23,2019
33880,3,CONEY ISLAND,10 COOPS - ELEVATOR APARTMENTS,2,7273,50,NaN,D4,"2940 WEST 5TH STREET, 19B",NaN,11224,0,0,0,0,0,1964,2,D4,"410,000",2019-05-23,2019
53805,4,ELMHURST,01 ONE FAMILY DWELLINGS,1,2469,17,NaN,A5,51-26 HILLYER STREET,NaN,11373,1,0,1,"2,000","1,400",1940,1,A5,"361,000",2019-04-03,2019
69719,4,ROSEDALE,02 TWO FAMILY DWELLINGS,1,13489,61,NaN,B3,14551 231 ST,NaN,11413,2,0,2,"4,000","2,132",1940,1,B3,0,2019-09-23,2019
40728,3,GREENPOINT,03 THREE FAMILY DWELLINGS,1,2700,40,NaN,C0,39A BROOME STREET,NaN,11222,3,0,3,"1,925","2,850",1910,1,C0,"1,950,000",2019-01-09,2019
42948,3,MILL BASIN,02 TWO FAMILY DWELLINGS,1,8593,74,NaN,B9,2762 MILL AVENUE,NaN,11234,2,0,2,"2,325","2,052",1960,1,B9,0,2019-05-31,2019
58365,4,FLUSHING-SOUTH,13 CONDOS - ELEVATOR APARTMENTS,2,6793,1032,NaN,R4,"71-66 PARSONS BOULEVARD, 5C",5C,11365,0,0,0,0,589,2016,2,R4,0,2019-05-11,2019
10531,1,SOHO,43 CONDO OFFICE BUILDINGS,4,506,1002,NaN,RB,"160 VARICK STREET, 2",2,10013,0,0,0,0,"246,737",1927,4,RB,10.00,2019-04-16,2019
16012,1,UPPER WEST SIDE (79-96),07 RENTALS - WALKUP APARTMENTS,2,1201,1,NaN,C7,"67 WEST 87TH STREET, 42",NaN,10024,8,4,12,"3,021","13,020",1910,2,C7,"840,000.00",2019-01-25,2019
21124,2,MORRISANIA/LONGWOOD,03 THREE FAMILY DWELLINGS,1,2708,10,NaN,C0,966 EAST 156 STREET,NaN,10455,3,0,3,"2,500","3,120",1901,1,C0,"350,000",2019-08-13,2019
13728,1,UPPER EAST SIDE (79-96),13 CONDOS - ELEVATOR APARTMENTS,2,1491,1115,NaN,R4,"900 PARK AVENUE, 11E",11E,10075,0,0,0,0,"1,288",0,2,R4,"2,035,000.00",2019-07-09,2019
80244,5,ROSSVILLE,01 ONE FAMILY DWELLINGS,1,7066,42,NaN,A5,33 BAR COURT,NaN,10309,1,0,1,"1,005",930,1992,1,A5,"400,000",2019-04-01,2019
1085,1,CIVIC CENTER,13 CONDOS - ELEVATOR APARTMENTS,2,123,1232,NaN,R4,"30 PARK PLACE, 69A",69A,10007,0,0,0,0,"3,699",2008,2,R4,"11,100,000.00",2019-02-05,2019
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56721,4,FLUSHING-NORTH,10 COOPS - ELEVATOR APARTMENTS,2,5185,77,NaN,D4,"140-35 BEECH AVENUE, 1E",NaN,11355,0,0,0,0,0,1959,2,D4,"260,000",2019-02-27,2019
46421,3,SHEEPSHEAD BAY,10 COOPS - ELEVATOR APARTMENTS,2,7369,27,NaN,D4,"2171 BRAGG STREET, 5H",NaN,11229,0,0,0,0,0,1952,2,D4,"129,000",2019-05-10,2019
41371,3,MADISON,01 ONE FAMILY DWELLINGS,1,7292,60,NaN,A3,1969 EAST 13TH STREET,NaN,11229,1,0,1,"4,000","3,968",1930,1,A3,"4,400,000",2019-08-22,2019
69516,4,ROSEDALE,01 ONE FAMILY DWELLINGS,1,13462,84,NaN,A2,146-32 229TH STREET,NaN,11413,1,0,1,"5,000","1,080",1945,1,A2,"415,000",2019-09-16,2019
54624,4,FAR ROCKAWAY,02 TWO FAMILY DWELLINGS,1,15551,34,NaN,B3,11-38 BEACH 9TH STREET,NaN,11691,2,0,2,"5,750","2,681",1925,1,B3,"950,000",2019-08-15,2019
18179,2,BAYCHESTER,03 THREE FAMILY DWELLINGS,1,4885,39,NaN,C0,3409 GRACE AVENUE,NaN,10469,3,0,3,"4,750","4,200",1987,1,C0,0,2019-05-15,2019
72311,4,SPRINGFIELD GARDENS,02 TWO FAMILY DWELLINGS,1,12682,45,NaN,B2,121-09 196TH STREET,NaN,11413,2,0,2,"4,300","1,099",1950,1,B2,"670,000",2019-09-05,2019
69088,4,RIDGEWOOD,02 TWO FAMILY DWELLINGS,1,3570,53,NaN,B2,58-57 79TH AVENUE,NaN,11385,2,0,2,"2,500","1,800",1920,1,B2,0,2019-05-23,2019
73759,4,WHITESTONE,09 COOPS - WALKUP APARTMENTS,2,5740,139,NaN,C6,"163-72 17TH AVENUE, 4-100",NaN,11357,0,0,0,0,0,1951,2,C6,"374,000",2019-05-07,2019
71400,4,SOUTH OZONE PARK,01 ONE FAMILY DWELLINGS,1,11694,18,NaN,A2,131-06 FOCH BOULEVARD,NaN,11420,1,0,1,"4,777","1,050",1960,1,A2,"630,000",2019-04-10,2019
173,1,CHELSEA,09 COOPS - WALKUP APARTMENTS,2,742,60,NaN,C6,"340 WEST 19TH STREET, 22",NaN,10011,0,0,0,0,0,1920,2,C6,"930,000.00",2019-07-24,2019
4765,1,HARLEM-CENTRAL,13 CONDOS - ELEVATOR APARTMENTS,2,1599,1300,NaN,R4,"40 WEST 116TH STREET, A804",A804,10026,0,0,0,0,"1,147",0,2,R4,"1,162,500.00",2019-06-07,2019
62902,4,JAMAICA,03 THREE FAMILY DWELLINGS,1,9838,101,NaN,C0,87-04 167 STREET,NaN,11432,3,0,3,"2,109","2,975",1980,1,C0,0,2019-05-17,2019
60866,4,HOLLIS,01 ONE FAMILY DWELLINGS,1,10900,31,NaN,S1,200-05 HOLLIS AVENUE,NaN,11412,1,1,2,"2,377","2,110",1935,1,S1,"450,000",2019-04-22,2019
38926,3,FLATBUSH-NORTH,47 CONDO NON-BUSINESS STORAGE,4,4837,1136,NaN,RS,"345 LENOX ROAD, S14",S14,11226,0,0,0,0,19,2014,4,RS,"549,000",2019-06-06,2019
14007,1,UPPER EAST SIDE (79-96),13 CONDOS - ELEVATOR APARTMENTS,2,1539,1340,NaN,R4,"200 EAST 94TH STREET, 308",308,10128,0,0,0,0,"1,237",1986,2,R4,"1,895,000.00",2019-07-11,2019
3835,1,GREENWICH VILLAGE-CENTRAL,43 CONDO OFFICE BUILDINGS,4,562,1008,NaN,RB,"29 EAST 10TH STREET, 8",NaN,10003,0,0,0,0,"1,845",1900,4,RB,"9,999,999.00",2019-09-12,2019
1554,1,EAST VILLAGE,13 CONDOS - ELEVATOR APARTMENTS,2,463,1032,NaN,R4,"63 COOPER SQUARE, 6C",6C,10003,0,0,0,0,660,1984,2,R4,"1,230,000.00",2019-08-12,2019
81942,5,WILLOWBROOK,01 ONE FAMILY DWELLINGS,1,780,137,NaN,A5,719 HARRIS AVENUE,NaN,10314,1,0,1,"2,790","1,004",1970,1,A5,0,2019-07-03,2019
62136,4,JACKSON HEIGHTS,03 THREE FAMILY DWELLINGS,1,1164,80,NaN,C0,32-31 68TH STREET,NaN,11377,3,0,3,"2,242","2,650",1960,1,C0,0,2019-01-22,2019
50915,4,BAYSIDE,09 COOPS - WALKUP APARTMENTS,2,5787,1,NaN,C6,"21-38 202ND STREET, 1-207",NaN,11357,0,0,0,0,0,1951,2,C6,"319,000",2019-06-13,2019
61092,4,HOLLIS HILLS,01 ONE FAMILY DWELLINGS,1,7784,61,NaN,A1,80-26 211TH STREET,NaN,11427,1,0,1,"4,000",988,1955,1,A1,"750,000",2019-07-15,2019
68141,4,RICHMOND HILL,01 ONE FAMILY DWELLINGS,1,9204,27,NaN,A1,86-42 109TH STREET,NaN,11418,1,0,1,"2,625","1,791",1915,1,A1,"600,000",2019-08-23,2019
75743,5,CONCORD-FOX HILLS,01 ONE FAMILY DWELLINGS,1,2876,18,NaN,A2,115 ROFF STREET,NaN,10304,1,0,1,"5,760","1,008",1960,1,A2,"404,000",2019-02-22,2019
30838,3,BROOKLYN-UNKNOWN,12 CONDOS - WALKUP APARTMENTS,NaN,1412,1303,NaN,NaN,"601 CROWN STREET, A3",NaN,0,0,0,0,0,0,0,2,R2,"437,500",2019-08-07,2019
24839,2,WILLIAMSBRIDGE,01 ONE FAMILY DWELLINGS,1,4833,24,NaN,A1,667 EAST 230 STREET,NaN,10466,1,0,1,"3,258","1,620",1915,1,A1,"300,000",2019-01-08,2019
26571,3,BEDFORD STUYVESANT,01 ONE FAMILY DWELLINGS,1,1704,64,NaN,A9,889 HERKIMER STREET,NaN,11233,1,0,1,"2,500","1,200",1899,1,A9,"765,000",2019-07-25,2019
23972,2,THROGS NECK,01 ONE FAMILY DWELLINGS,1,5527,37,NaN,A2,3274 GIEGERICH PLACE,NaN,10465,1,0,1,"5,975","1,560",1950,1,A2,"197,600",2019-03-21,2019
3461,1,GREENWICH VILLAGE-CENTRAL,10 COOPS - ELEVATOR APARTMENTS,2,569,5,NaN,D4,"51 FIFTH AVENUE, 12B",NaN,10003,0,0,0,0,0,1929,2,D4,"3,250,000.00",2019-09-10,2019
17934,2,BAYCHESTER,01 ONE FAMILY DWELLINGS,1,5655,26,NaN,A1,3560 MCOWEN AVE,NaN,10475,1,0,1,"5,000","1,250",1925,1,A1,"475,000",2019-02-04,2019

In [22]:
combined3.loc[combined3['SALE YEAR'] == 2018]

Empty DataFrame
Columns: [BOROUGH, NEIGHBORHOOD, BUILDING CLASS CATEGORY, TAX CLASS AT PRESENT, BLOCK, LOT, EASE-MENT, BUILDING CLASS AT PRESENT, ADDRESS, APARTMENT NUMBER, ZIP CODE, RESIDENTIAL UNITS, COMMERCIAL UNITS, TOTAL UNITS, LAND SQUARE FEET, GROSS SQUARE FEET, YEAR BUILT, TAX CLASS AT TIME OF SALE, BUILDING CLASS AT TIME OF SALE, SALE PRICE, SALE DATE, SALE YEAR]
Index: []

In [23]:
combined1.columns = ['BOROUGH',
 'NEIGHBORHOOD',
 'BUILDING CLASS CATEGORY',
 'TAX CLASS AT PRESENT',
 'BLOCK',
 'LOT',
 'EASE-MENT',
 'BUILDING CLASS AT PRESENT',
 'ADDRESS',
 'APARTMENT NUMBER',
 'ZIP CODE',
 'RESIDENTIAL UNITS',
 'COMMERCIAL UNITS',
 'TOTAL UNITS',
 'LAND SQUARE FEET',
 'GROSS SQUARE FEET',
 'YEAR BUILT',
 'TAX CLASS AT TIME OF SALE',
 'BUILDING CLASS AT TIME OF SALE',
 'SALE PRICE',
 'SALE DATE','SALE YEAR']

In [24]:
combined2.columns = ['BOROUGH',
 'NEIGHBORHOOD',
 'BUILDING CLASS CATEGORY',
 'TAX CLASS AT PRESENT',
 'BLOCK',
 'LOT',
 'EASE-MENT',
 'BUILDING CLASS AT PRESENT',
 'ADDRESS',
 'APARTMENT NUMBER',
 'ZIP CODE',
 'RESIDENTIAL UNITS',
 'COMMERCIAL UNITS',
 'TOTAL UNITS',
 'LAND SQUARE FEET',
 'GROSS SQUARE FEET',
 'YEAR BUILT',
 'TAX CLASS AT TIME OF SALE',
 'BUILDING CLASS AT TIME OF SALE',
 'SALE PRICE',
 'SALE DATE','SALE YEAR']

In [252]:
combined = pd.concat([combined1,combined2,combined3], axis = 0).reset_index()

In [73]:
combined3.to_csv('nyc2019.csv')

In [253]:
combined.columns

Index(['index', 'BOROUGH', 'NEIGHBORHOOD', 'BUILDING CLASS CATEGORY',
       'TAX CLASS AT PRESENT', 'BLOCK', 'LOT', 'EASE-MENT',
       'BUILDING CLASS AT PRESENT', 'ADDRESS', 'APARTMENT NUMBER', 'ZIP CODE',
       'RESIDENTIAL UNITS', 'COMMERCIAL UNITS', 'TOTAL UNITS',
       'LAND SQUARE FEET', 'GROSS SQUARE FEET', 'YEAR BUILT',
       'TAX CLASS AT TIME OF SALE', 'BUILDING CLASS AT TIME OF SALE',
       'SALE PRICE', 'SALE DATE', 'SALE YEAR'],
      dtype='object')

In [254]:
del combined['index']
del combined['EASE-MENT']

In [251]:
del combined

In [255]:
combined.loc[(combined['BOROUGH'] == 1),'BOROUGH'] = 'Manhattan'
combined.loc[(combined['BOROUGH'] == 2),'BOROUGH'] = 'Bronx'
combined.loc[(combined['BOROUGH'] == 3),'BOROUGH'] = 'Brooklyn'
combined.loc[(combined['BOROUGH'] == 4),'BOROUGH'] = 'Queens'
combined.loc[(combined['BOROUGH'] == 5),'BOROUGH'] = 'Staten Island'

In [548]:
combined.columns

Index(['BOROUGH', 'NEIGHBORHOOD', 'BUILDING CLASS CATEGORY',
       'TAX CLASS AT PRESENT', 'BLOCK', 'LOT', 'BUILDING CLASS AT PRESENT',
       'ADDRESS', 'APARTMENT NUMBER', 'ZIP CODE', 'RESIDENTIAL UNITS',
       'COMMERCIAL UNITS', 'TOTAL UNITS', 'LAND SQUARE FEET',
       'GROSS SQUARE FEET', 'YEAR BUILT', 'TAX CLASS AT TIME OF SALE',
       'BUILDING CLASS AT TIME OF SALE', 'SALE PRICE', 'SALE DATE',
       'SALE YEAR'],
      dtype='object')

In [ ]:
#bronx.rename({' SALE PRICE ':'SALE PRICE'}, axis = 1, inplace=True)

In [256]:
#replace completely blank fields with nan
combined = combined.replace(r'^\s*$', np.nan, regex=True)

In [22]:
combined.sample(200)

,BOROUGH,NEIGHBORHOOD,BUILDING CLASS CATEGORY,TAX CLASS AT PRESENT,BLOCK,LOT,BUILDING CLASS AT PRESENT,ADDRESS,APARTMENT NUMBER,ZIP CODE,RESIDENTIAL UNITS,COMMERCIAL UNITS,TOTAL UNITS,LAND SQUARE FEET,GROSS SQUARE FEET,YEAR BUILT,TAX CLASS AT TIME OF SALE,BUILDING CLASS AT TIME OF SALE,SALE PRICE,SALE DATE,SALE YEAR
513598,Brooklyn,WILLIAMSBURG-NORTH,30 WAREHOUSES,4,2296,7,O9,77 WYTHE AVENUE,NaN,11249.0,0,4,4,"36,226","47,366",1940.0,4,E9,$0,2/6/2014,2014
564613,Staten Island,BULLS HEAD,01 ONE FAMILY DWELLINGS,1,2072,100,A5,17 CROFT PLACE,NaN,10314.0,1,0,1,"3,725","2,160",1978.0,1,A5,"$418,000",9/3/2014,2014
57509,Queens,JAMAICA ESTATES,01 ONE FAMILY HOMES,1,7253,48,A1,184-45 RADNOR ROAD,NaN,11432.0,1,0,1,"11,800","2,580",1935.0,1,A1,$0,6/29/2009,2009
196743,Manhattan,UPPER WEST SIDE (59-79),10 COOPS - ELEVATOR APARTMENTS,2,1124,42,D4,"12 WEST 72ND STREET, 16B",NaN,10023.0,0,0,0,0,0,1927.0,2,D4,"$775,000",6/17/2008,2008
210192,Queens,FLUSHING-NORTH,15 CONDOS - 2-10 UNIT RESIDENTIAL,2C,4409,1202,R1,31-35 LINDEN PLACE,1B,11354.0,1,0,1,0,0,2007.0,2,R1,"$336,648",1/11/2008,2008
134669,Queens,SOUTH JAMAICA,01 ONE FAMILY HOMES,1,10247,58,A1,171-48 107TH AVENUE,NaN,11433.0,1,0,1,"2,500","1,144",1930.0,1,A1,"$456,000",5/24/2010,2010
409710,Brooklyn,DOWNTOWN-METROTECH,13 CONDOS - ELEVATOR APARTMENTS,2,2060,1080,R4,150 MYRTLE AVENUE,1004,11201.0,1,0,1,0,0,2007.0,2,R4,"$ 625,000.00",4/4/2013,2013
561427,Queens,SOUTH OZONE PARK,02 TWO FAMILY DWELLINGS,1,11803,47,B3,135-20 117TH STREET,NaN,11420.0,2,0,2,"4,000","1,800",1950.0,1,B3,"$555,000",8/28/2014,2014
77822,Bronx,PELHAM PARKWAY NORTH,01 ONE FAMILY HOMES,1,4456,9,A1,2508 LACONIA AVE,NaN,10469.0,1,0,1,"2,500","1,965",1965.0,1,A1,"$410,000",10/29/2010,2010
601188,Brooklyn,SUNSET PARK,02 TWO FAMILY DWELLINGS,1,5781,61,B9,327 61ST STREET,NaN,11220.0,2,0,2,"2,000","1,788",1899.0,1,B9,$0,6/1/2015,2015
536733,Manhattan,UPPER WEST SIDE (79-96),01 ONE FAMILY DWELLINGS,1,1226,20,A4,129 WEST 95TH STREET,NaN,10025.0,1,0,1,"1,611","3,232",1899.0,1,A4,$0,12/10/2014,2014
66912,Queens,ST. ALBANS,02 TWO FAMILY HOMES,1,10968,82,B3,191-35 112TH ROAD,NaN,11412.0,2,0,2,"3,400","1,568",1930.0,1,B3,"$492,466",10/9/2009,2009
155287,Brooklyn,BOROUGH PARK,02 TWO FAMILY HOMES,1,5690,3,B2,5617 12 AVENUE,NaN,11219.0,2,0,2,"2,500","2,676",1925.0,1,B2,$10,6/10/2008,2008
484323,Bronx,EAST TREMONT,07 RENTALS - WALKUP APARTMENTS,2,3106,8,C1,2000 PROSPECT AVENUE,NaN,10457.0,65,0,65,"16,619","50,050",1922.0,2,C1,"$5,650,000",1/29/2014,2014
645142,Queens,LONG ISLAND CITY,13 CONDOS - ELEVATOR APARTMENTS,2,57,1049,R4,13-11 JACKSON AVENUE,12A,11101.0,1,0,1,0,0,0.0,2,R4,$0,5/29/2015,2015
71518,Staten Island,MIDLAND BEACH,04 TAX CLASS 1 CONDOS,1A,3893,1010,R3,1237 FR CAPODANNO BLVD,NaN,10306.0,1,0,1,0,0,1981.0,1,R3,$0,6/5/2009,2009
800517,Manhattan,UPPER WEST SIDE (59-79),07 RENTALS - WALKUP APARTMENTS,2B,1163,25,C1,213 WEST 71ST STREET,NaN,10023.0,10,0,10,"2,225","4,548",1920.0,2,C1,0,1/17/2017,2017
850416,Brooklyn,BEDFORD STUYVESANT,01 ONE FAMILY DWELLINGS,1,1801,12,A4,672 GREENE AVENUE,NaN,11221.0,1,0,1,"1,800","2,400",1899.0,1,A4,"$220,000",4/23/2018,2018
464133,Queens,JACKSON HEIGHTS,10 COOPS - ELEVATOR APARTMENTS,2,1266,1,D4,"79-10 34TH AVENUE, 7K",NaN,11372.0,0,0,0,0,0,1955.0,2,D4,"$ 368,000.00",6/6/2013,2013
729211,Queens,GLENDALE,07 RENTALS - WALKUP APARTMENTS,2A,3680,9,C2,71-06 67 PLACE,NaN,11385.0,6,-,6,"2,605","5,184",1931.0,2,C2,-,11/18/2016,2016
868249,Brooklyn,OLD MILL BASIN,02 TWO FAMILY DWELLINGS,1,8494,30,B3,1693 EAST 54TH STREET,NaN,11234.0,2,0,2,"2,000","1,577",1955.0,1,B3,$0,2/5/2018,2018
181663,Manhattan,HARLEM-CENTRAL,13 CONDOS - ELEVATOR APARTMENTS,2,1946,1010,R4,313 WEST 119 STREET,1J,10026.0,1,0,1,0,0,2006.0,2,R4,"$1,470,000",9/24/2008,2008
340366,Manhattan,FINANCIAL,28 COMMERCIAL CONDOS,4,71,1025,R5,175 WATER STREET,25,10038.0,0,1,1,0,0,0.0,4,R5,$0,1/9/2012,2012
811663,Queens,FLUSHING-NORTH,02 TWO FAMILY DWELLINGS,1,5437,40,B1,45-07 158TH STREET,NaN,11358.0,2,0,2,"3,565","1,560",2002.0,1,B1,0,4/17/2017,2017
791758,Manhattan,KIPS BAY,38 ASYLUMS AND HOMES,4,928,15,N9,327 EAST 22ND STREET,NaN,10010.0,0,1,1,"4,938","12,226",1910.0,4,N9,"14,700,000",5/2/2017,2017
36609,Manhattan,MIDTOWN WEST,28 COMMERCIAL CONDOS,4,1027,1722,R5,870 7 AVENUE,221,10019.0,0,1,1,0,0,1925.0,4,R5,"$15,571",2/4/2009,2009
263400,Manhattan,FINANCIAL,28 COMMERCIAL CONDOS,4,37,1030,R5,120 WALL STREET,24-A,10005.0,0,1,1,0,0,0.0,4,R5,$0,10/12/2011,2011
686958,Brooklyn,MADISON,04 TAX CLASS 1 CONDOS,1A,6818,1009,R3,1856 EAST 13TH ST,3C,11229.0,1,-,1,-,-,1999.0,1,R3,-,7/13/2016,2016
356168,Manhattan,UPPER EAST SIDE (59-79),10 COOPS - ELEVATOR APARTMENTS,2,1427,30,D4,"230 EAST 73RD STREET, 7H",NaN,10021.0,0,0,0,0,0,1937.0,2,D4,"$507,500",5/8/2012,2012
799979,Manhattan,UPPER EAST SIDE (79-96),13 CONDOS - ELEVATOR APARTMENTS,2,1536,1588,R4,1619 THIRD AVENUE,21D,10128.0,1,0,1,-,-,0.0,2,R4,"835,000",10/26/2017,2017
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
534829,Manhattan,UPPER EAST SIDE (79-96),17 CONDO COOPS,2,1516,1102,R9,"115 EAST 87TH STREET, RESID",NaN,10128.0,0,0,0,0,0,0.0,2,R9,$0,1/9/2014,2014
459806,Queens,FLUSHING-SOUTH,01 ONE FAMILY DWELLINGS,1,6951,11,A1,176-06 69TH AVENUE,NaN,11365.0,1,0,1,"2,090","1,584",1958.0,1,A1,"$ 682,000.00",12/13/2013,2013
853131,Brooklyn,BOROUGH PARK,02 TWO FAMILY DWELLINGS,1,5744,53,S2,6416 11TH AVENUE,NaN,11219.0,2,1,3,"1,933","2,090",1931.0,1,S2,"$1,430,000",9/28/2018,2018
68570,Staten Island,ANNADALE,02 TWO FAMILY HOMES,1,6242,6,B2,14 MOSELY AVENUE,NaN,10312.0,2,0,2,"5,500","3,480",1995.0,1,B2,"$735,000",12/14/2009,2009
590004,Brooklyn,DYKER HEIGHTS,02 TWO FAMILY DWELLINGS,1,6338,76,S2,1203 86TH STREET,NaN,11228.0,2,1,3,"2,000","4,320",1920.0,1,S2,"$1,460,000",4/2/2015,2015
336518,Brooklyn,WILLIAMSBURG-NORTH,13 CONDOS - ELEVATOR APARTMENTS,2,2357,1004,R4,91 METROPOLITAN AVENUE,3A,11211.0,1,0,1,0,0,2009.0,2,R4,"$761,889",6/29/2012,2012
308925,Bronx,BAYCHESTER,02 TWO FAMILY HOMES,1,4799,136,B1,1906 ARNOW AVENUE,NaN,10469.0,2,0,2,"2,661","3,600",2006.0,1,B1,$0,9/7/2012,2012
892184,Queens,BAYSIDE,10 COOPS - ELEVATOR APARTMENTS,2,5872,2,D4,"211-10 18TH AVENUE, 6F",NaN,11360.0,0,0,0,0,0,1961.0,2,D4,"$400,000",8/8/2018,2018
870361,Brooklyn,SHEEPSHEAD BAY,10 COOPS - ELEVATOR APARTMENTS,2,8771,135,D4,"1625 EMMONS AVENUE, 3L",NaN,11235.0,0,0,0,0,0,1962.0,2,D4,"$81,424",3/30/2018,2018
333604,Brooklyn,SHEEPSHEAD BAY,02 TWO FAMILY HOMES,1,7439,38,B3,2566 EAST 19TH STREET,NaN,11235.0,2,0,2,"1,700","1,887",1935.0,1,B3,"$542,000",4/6/2012,2012
653753,Queens,WHITESTONE,01 ONE FAMILY DWELLINGS,1,4651,17,A2,147-29 18TH AVENUE,NaN,11357.0,1,0,1,"4,400","1,118",1960.0,1,A2,"$695,000",10/30/2015,2015
198357,Manhattan,UPPER WEST SIDE (59-79),13 CONDOS - ELEVATOR APARTMENTS,2,1171,3624,R4,100 RIVERSIDE BOULEVARD,14N,10069.0,1,0,1,0,0,0.0,2,R4,"$2,057,374",5/21/2008,2008
348348,Manhattan,MIDTOWN WEST,NaN,4,1274,1327,RH,768 5 AVENUE,1233,10019.0,0,0,1,0,0,0.0,4,RH,$0,11/26/2012,2012
341357,Manhattan,GRAMERCY,13 CONDOS - ELEVATOR APARTMENTS,2,876,1210,R4,36 GRAMERCY PARK EAST,3N,10003.0,1,0,1,0,0,1909.0,2,R4,$0,11/15/2012,2012
42534,Manhattan,UPPER WEST SIDE (59-79),13 CONDOS - ELEVATOR APARTMENTS,2,1171,4023,R4,80 RIVERSIDE BOULEVARD,3R,10069.0,1,0,1,0,0,2006.0,2,R4,"$926,607",11/18/2009,2009
339933,Manhattan,FINANCIAL,13 CONDOS - ELEVATOR APARTMENTS,2,24,1044,R4,40 BROAD STREET,16G,10004.0,1,0,1,0,0,1982.0,2,R4,$0,3/23/2012,2012
62131,Queens,REGO PARK,10 COOPS - ELEVATOR APARTMENTS,2,3099,25,D4,"65-70 BOOTH STREET, 4C",NaN,11374.0,0,0,0,0,0,1947.0,2,D4,"$175,000",12/1/2009,2009
603812,Manhattan,CHELSEA,09 COOPS - WALKUP APARTMENTS,2,745,12,C6,"345 WEST 21ST STREET, 3B",NaN,10011.0,0,0,0,0,0,1920.0,2,C6,"$479,000",7/1/2015,2015
372006,Queens,FLUSHING-NORTH,32 HOSPITAL AND HEALTH FACILITIES,4,5002,46,I6,139-66 35 AVENUE,NaN,11354.0,0,1,1,"16,800","87,106",1974.0,4,I6,"$10,000,000",12/20/2012,2012
286674,Queens,ELMHURST,01 ONE FAMILY HOMES,1,2492,33,A5,52-32 79TH STREET,NaN,11373.0,1,0,1,"2,000","1,814",1945.0,1,A5,$0,4/15/2011,2011
70967,Staten Island,LIVINGSTON,01 ONE FAMILY HOMES,1,150,440,A2,172 OAKLAND AVENUE,NaN,10310.0,1,0,1,"4,880","1,000",1960.0,1,A2,"$340,000",12/18/2009,2009
539145,Queens,ASTORIA,01 ONE FAMILY DWELLINGS,1,845,44,A5,22-30 29TH STREE,NaN,11105.0,1,0,1,"2,000","1,970",1920.0,1,A5,$0,11/11/2014,2014
259111,Brooklyn,WILLIAMSBURG-EAST,13 CONDOS - ELEVATOR APARTMENTS,2,2907,1112,R4,94 MASPETH AVENUE,2L,11211.0,1,0,1,0,0,0.0,2,R4,"$350,844",10/12/2011,2011
747525,Staten Island,MANOR HEIGHTS,02 TWO FAMILY DWELLINGS,1,803,119,B2,245 LIVINGSTON AVENUE,NaN,10314.0,2,-,2,"1,836","1,564",2002.0,1,B2,"430,000",9/21/2016,2016
902309,Queens,HOLLIS,02 TWO FAMILY DWELLINGS,1,10572,50,B1,89-27 207TH STREET,NaN,11427.0,2,0,2,"3,700","2,220",2003.0,1,B1,"$949,000",8/14/2018,2018
68230,Queens,WOODSIDE,04 TAX CLASS 1 CONDOS,1A,1214,1001,R3,59-06 38TH AVENUE,A1,11377.0,1,0,1,0,0,1989.0,1,R3,$0,6/30/2009,2009
503901,Brooklyn,FLATLANDS,01 ONE FAMILY DWELLINGS,1,7778,3,A5,1256 EAST 53RD STREET,NaN,11234.0,1,0,1,"1,858","1,732",1940.0,1,A5,$0,11/4/2014,2014
277139,Manhattan,UPPER EAST SIDE (59-79),13 CONDOS - ELEVATOR APARTMENTS,2,1455,1125,R4,401 EAST 60TH STREET,33C,10022.0,1,0,1,0,0,1999.0,2,R4,"$2,760,000",6/24/2011,2011
306165,Staten Island,NEW BRIGHTON,01 ONE FAMILY HOMES,1,66,17,A1,33 CASSIDY PLACE,NaN,10301.0,1,0,1,"2,800","1,872",1901.0,1,A1,$0,1/18/2011,2011
973573,Queens,MIDDLE VILLAGE,01 ONE FAMILY DWELLINGS,1,3020,7,A5,64-81 83RD STREET,NaN,11379.0,1,0,1,"2,000","1,346",1935.0,1,A5,0,2019-04-16 00:00:00,2019

In [ ]:
#del combined

### **Preliminary Look**

In [23]:
combined.describe()

,BLOCK,LOT,ZIP CODE,YEAR BUILT,TAX CLASS AT TIME OF SALE,SALE YEAR
count,985805.000000,985805.000000,985803.000000,985802.000000,985805.000000,985805.000000
mean,4037.872510,392.236618,10765.913916,1735.378615,1.768578,2013.491567
std,3561.282482,662.884873,949.500503,611.148184,0.932589,3.370606
min,1.000000,1.000000,0.000000,0.000000,1.000000,2008.000000
25%,1171.000000,23.000000,10075.000000,1920.000000,1.000000,2011.000000
50%,2864.000000,50.000000,11207.000000,1935.000000,2.000000,2014.000000
75%,6012.000000,1003.000000,11355.000000,1965.000000,2.000000,2016.000000
max,16350.000000,9139.000000,33803.000000,2019.000000,4.000000,2019.000000

In [24]:
combined.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 985805 entries, 0 to 985804
Data columns (total 21 columns):
BOROUGH                           985805 non-null object
NEIGHBORHOOD                      985805 non-null object
BUILDING CLASS CATEGORY           984324 non-null object
TAX CLASS AT PRESENT              978072 non-null object
BLOCK                             985805 non-null int64
LOT                               985805 non-null int64
BUILDING CLASS AT PRESENT         978072 non-null object
ADDRESS                           985798 non-null object
APARTMENT NUMBER                  241357 non-null object
ZIP CODE                          985803 non-null float64
RESIDENTIAL UNITS                 985752 non-null object
COMMERCIAL UNITS                  985752 non-null object
TOTAL UNITS                       985752 non-null object
LAND SQUARE FEET                  985751 non-null object
GROSS SQUARE FEET                 985752 non-null object
YEAR BUILT                        985802 non-null float64
TAX CLASS AT TIME OF SALE         985805 non-null int64
BUILDING CLASS AT TIME OF SALE    985805 non-null object
SALE PRICE                        985805 non-null object
SALE DATE                         985805 non-null object
SALE YEAR                         985805 non-null int64
dtypes: float64(2), int64(4), object(15)
memory usage: 157.9+ MB

In [257]:
combined.loc[:,'YEAR BUILT'] = combined.loc[:,'YEAR BUILT'].fillna(0)
combined.loc[:,'YEAR BUILT'] = combined.loc[:,'YEAR BUILT'].astype(int)
combined.loc[:,'ZIP CODE'] = combined.loc[:,'ZIP CODE'].fillna(0)
combined.loc[:,'ZIP CODE'] = combined.loc[:,'ZIP CODE'].astype(int)

In [26]:
combined.sample(100)

,BOROUGH,NEIGHBORHOOD,BUILDING CLASS CATEGORY,TAX CLASS AT PRESENT,BLOCK,LOT,BUILDING CLASS AT PRESENT,ADDRESS,APARTMENT NUMBER,ZIP CODE,RESIDENTIAL UNITS,COMMERCIAL UNITS,TOTAL UNITS,LAND SQUARE FEET,GROSS SQUARE FEET,YEAR BUILT,TAX CLASS AT TIME OF SALE,BUILDING CLASS AT TIME OF SALE,SALE PRICE,SALE DATE,SALE YEAR
797685,Manhattan,UPPER EAST SIDE (59-79),10 COOPS - ELEVATOR APARTMENTS,2,1450,8,D4,"311 EAST 75TH STREET, 5J",NaN,10021,0,0,0,-,-,1930,2,D4,"358,500",5/25/2017,2017
958546,Brooklyn,PARK SLOPE,07 RENTALS - WALKUP APARTMENTS,2A,994,45,C3,386 6TH AVENUE,4,11215,4,0,4,"1,261","2,223",1920,2,C3,"2,050,000",2019-06-13 00:00:00,2019
834880,Staten Island,GREAT KILLS,02 TWO FAMILY DWELLINGS,1,5299,83,B9,25 PERONA LANE,NaN,10308,2,0,2,"2,052","2,290",2006,1,B9,"615,000",10/2/2017,2017
423745,Manhattan,CHELSEA,03 THREE FAMILY DWELLINGS,1,746,11,C0,349 WEST 22ND STREET,NaN,10011,3,0,3,"2,222","4,268",1901,1,C0,$ -,9/18/2013,2013
788589,Manhattan,GRAMERCY,10 COOPS - ELEVATOR APARTMENTS,2,902,9,D4,"207 EAST 21ST STREET, 4C",NaN,10010,0,0,0,-,-,1930,2,D4,"321,500",5/12/2017,2017
757716,Bronx,RIVERDALE,10 COOPS - ELEVATOR APARTMENTS,2,5771,41,D4,"474 WEST 238TH STREET, 1C",NaN,10463,0,0,0,-,-,1939,2,D4,"401,600",2/23/2017,2017
805062,Queens,ASTORIA,14 RENTALS - 4-10 UNIT,2A,650,45,S4,3510 30TH AVENUE,NaN,11103,4,1,5,"2,000","4,100",1922,2,S4,0,10/11/2017,2017
55557,Queens,HOLLIS,01 ONE FAMILY HOMES,1,10497,50,S1,204-18 HILLSIDE AVENUE,NaN,11423,1,1,2,"1,864","2,000",1931,1,S1,$0,4/28/2009,2009
98419,Brooklyn,WILLIAMSBURG-NORTH,13 CONDOS - ELEVATOR APARTMENTS,2,2346,1117,R4,349 METROPOLITAN AVENUE,3E,11211,1,0,1,0,0,2007,2,R4,$0,7/14/2010,2010
831225,Queens,WOODHAVEN,02 TWO FAMILY DWELLINGS,1,8965,46,B9,80-21 90TH AVENUE,NaN,11421,2,0,2,5000,1892,1925,1,B9,"865,000",8/31/2017,2017
137932,Staten Island,ANNADALE,01 ONE FAMILY HOMES,1,6268,70,A2,231 SINCLAIR AVENUE,NaN,10312,1,0,1,"4,200","1,884",1965,1,A2,$0,10/11/2010,2010
867548,Brooklyn,OCEAN PARKWAY-NORTH,10 COOPS - ELEVATOR APARTMENTS,2,5495,1018,D4,"1170 OCEAN PARKWAY, 10L",NaN,11230,0,0,0,0,0,1965,2,D4,"$217,000",3/27/2018,2018
31142,Manhattan,MIDTOWN EAST,10 COOPS - ELEVATOR APARTMENTS,2,1350,1,D4,"303 EAST 57TH STREET, 8D",NaN,10022,0,0,0,0,0,1968,2,D4,"$775,000",1/28/2009,2009
969040,Queens,FOREST HILLS,10 COOPS - ELEVATOR APARTMENTS,2,3253,51,D4,"20 CONTINENTAL AVENUE, 3P",NaN,11375,0,0,0,0,0,1932,2,D4,"275,000",2019-03-15 00:00:00,2019
94092,Brooklyn,OCEAN PARKWAY-NORTH,07 RENTALS - WALKUP APARTMENTS,2A,6591,74,C3,1447 EAST 9TH STREET,NaN,11230,4,0,4,"4,900","2,340",1931,2,C3,"$1,400,000",7/26/2010,2010
765040,Brooklyn,BOROUGH PARK,12 CONDOS - WALKUP APARTMENTS,2,5469,1018,R2,1900 51ST STREET,A3D,11204,1,0,1,-,-,0,2,R2,0,8/3/2017,2017
730912,Queens,JACKSON HEIGHTS,02 TWO FAMILY DWELLINGS,1,1054,46,B1,25-41 77TH STREET,NaN,11370,2,-,2,"2,200","1,723",1960,1,B1,10,11/5/2016,2016
117557,Queens,ASTORIA,08 RENTALS - ELEVATOR APARTMENTS,2B,630,11,C1,28-25 36TH STREET,NaN,11103,8,0,8,"2,500","6,944",2008,2,D1,$0,6/23/2010,2010
518995,Manhattan,GREENWICH VILLAGE-CENTRAL,17 CONDO COOPS,2,557,1002,R9,"808 BROADWAY, 2J",NaN,10003,0,0,0,0,0,1981,2,R9,"$1,025,000",8/6/2014,2014
474054,Queens,ST. ALBANS,02 TWO FAMILY DWELLINGS,1,11010,3,B3,114-15 194TH STREET,NaN,11412,2,0,2,"3,150","1,516",1920,1,B3,"$ 230,000.00",3/22/2013,2013
739490,Queens,ROSEDALE,02 TWO FAMILY DWELLINGS,1,13704,36,B3,26214 149TH RD,NaN,11422,2,-,2,"2,964","2,025",1970,1,B3,-,8/5/2016,2016
538416,Manhattan,WASHINGTON HEIGHTS LOWER,13 CONDOS - ELEVATOR APARTMENTS,2,2134,1274,R4,779 RIVERSIDE DRIVE,A-60,10032,1,0,1,0,0,0,2,R4,"$949,009",8/12/2014,2014
359331,Manhattan,UPPER EAST SIDE (79-96),13 CONDOS - ELEVATOR APARTMENTS,2,1562,1103,R4,450 EAST 83RD STREET,21D,10028,1,0,1,0,0,2005,2,R4,$0,5/16/2012,2012
719957,Queens,BELLEROSE,02 TWO FAMILY DWELLINGS,1,8002,20,B3,92-67 240TH STREET,NaN,11426,2,-,2,"3,560","2,366",1920,1,B3,-,8/25/2016,2016
23359,Brooklyn,SUNSET PARK,02 TWO FAMILY HOMES,1,846,31,C0,362 57TH STREET,NaN,11220,3,0,3,"2,003","2,772",1915,1,B9,"$500,000",10/8/2009,2009
255828,Brooklyn,OLD MILL BASIN,01 ONE FAMILY HOMES,1,7903,21,A9,1485 EAST 58TH STREET,NaN,11234,1,0,1,"2,100","1,208",1925,1,A9,"$377,804",6/23/2011,2011
283903,Queens,BAYSIDE,01 ONE FAMILY HOMES,1,6165,19,A1,36-22 210 STREET,NaN,11361,1,0,1,"4,000","3,458",2008,1,A1,"$712,775",2/15/2011,2011
35805,Manhattan,MIDTOWN WEST,28 COMMERCIAL CONDOS,4,1027,1231,R5,870 7 AVENUE,2118,10019,0,1,1,0,0,0,4,R5,"$27,481",3/30/2009,2009
959352,Brooklyn,SHEEPSHEAD BAY,01 ONE FAMILY DWELLINGS,1,8793,125,A2,12 HITCHINGS AVENUE,NaN,11235,1,0,1,"1,664",868,1920,1,A2,"550,000",2019-03-20 00:00:00,2019
572295,Bronx,BRONXDALE,01 ONE FAMILY DWELLINGS,1,4638,10,A5,1051 DUNCAN STREET,NaN,10469,1,0,1,"1,950","2,052",1945,1,A5,$0,4/23/2015,2015
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
961876,Queens,ASTORIA,02 TWO FAMILY DWELLINGS,1,819,21,B3,23-39 36TH STREET,NaN,11105,2,0,2,"2,000","1,362",1925,1,B3,"1,165,000",2019-02-07 00:00:00,2019
701462,Manhattan,HARLEM-CENTRAL,13 CONDOS - ELEVATOR APARTMENTS,2,1959,1147,R4,300 WEST 135 STREET,5S,10030,1,-,1,-,-,2003,2,R4,"845,000",11/4/2016,2016
974668,Queens,QUEENS VILLAGE,01 ONE FAMILY DWELLINGS,1,10741,11,A1,222-22 93RD ROAD,NaN,11428,1,0,1,"4,000","1,512",1925,1,A1,"560,000",2019-06-28 00:00:00,2019
765429,Brooklyn,BRIGHTON BEACH,07 RENTALS - WALKUP APARTMENTS,2A,8674,80,C2,3049 BRIGHTON 4 STREET,NaN,11235,5,0,5,"2,800","1,728",1931,2,C2,0,8/3/2017,2017
98175,Brooklyn,WILLIAMSBURG-NORTH,13 CONDOS - ELEVATOR APARTMENTS,2,2326,1011,R4,120 NORTH 7TH STREET,2D,11211,1,0,1,0,0,2007,2,R4,"$757,578",2/9/2010,2010
182389,Manhattan,HARLEM-WEST,10 COOPS - ELEVATOR APARTMENTS,2,2002,57,D4,"616 WEST 137TH STREET, 5A",NaN,10031,0,0,0,0,0,1905,2,D4,"$495,000",10/17/2008,2008
183856,Manhattan,MIDTOWN CBD,28 COMMERCIAL CONDOS,4,1290,1243,R5,2 EAST 55TH STREET,1121,10022,0,1,1,0,0,1903,4,R5,"$481,650",12/9/2008,2008
689185,Brooklyn,OCEAN PARKWAY-NORTH,02 TWO FAMILY DWELLINGS,1,6546,12,S2,1552 CONEY ISLAND AVENUE,NaN,11230,2,1,3,"2,000","2,480",1931,1,S2,-,11/17/2016,2016
28334,Manhattan,GREENWICH VILLAGE-CENTRAL,10 COOPS - ELEVATOR APARTMENTS,2,577,42,D0,"74 5 AVENUE, 6C",NaN,10011,0,0,0,0,0,1910,2,D0,"$1,222,500",8/27/2009,2009
948439,Brooklyn,BROWNSVILLE,02 TWO FAMILY DWELLINGS,1,3594,15,S2,347 EAST 98TH STREET,NaN,11212,2,1,3,"1,600","2,200",1899,1,S2,"500,000",2019-08-27 00:00:00,2019
259589,Brooklyn,WILLIAMSBURG-NORTH,13 CONDOS - ELEVATOR APARTMENTS,2,2324,1287,R4,34 NORTH 7TH STREET,11C,11211,1,0,1,0,0,2007,2,R4,"$472,512",10/26/2011,2011
606934,Manhattan,FLATIRON,43 CONDO OFFICE BUILDINGS,4,854,1015,RB,11 MADISON AVENUE,1-Jul,10010,0,0,1,0,0,0,4,RB,$0,8/18/2015,2015
441375,Manhattan,TRIBECA,13 CONDOS - ELEVATOR APARTMENTS,2,16,8117,R4,2 SOUTH END AVENUE,7I,10280,1,0,1,0,0,1990,2,R4,"$ 541,000.00",7/26/2013,2013
537587,Manhattan,UPPER WEST SIDE (79-96),13 CONDOS - ELEVATOR APARTMENTS,2,1250,1132,R4,595 WEST END AVENUE,10A,10024,1,0,1,0,0,0,2,R4,"$1,552,831",4/11/2014,2014
562935,Queens,WHITESTONE,01 ONE FAMILY DWELLINGS,1,4652,39,A2,147-22 18TH AVENUE,NaN,11357,1,0,1,"4,150","1,118",1960,1,A2,"$700,000",2/18/2014,2014
944110,Brooklyn,BATH BEACH,02 TWO FAMILY DWELLINGS,1,6398,3,S2,1643 BATH AVENUE,NaN,11214,2,1,3,"4,167","4,000",1926,1,S2,0,2019-08-08 00:00:00,2019
682918,Brooklyn,FLATBUSH-CENTRAL,08 RENTALS - ELEVATOR APARTMENTS,2,5086,60,D1,61 MARTENSE STREET,60,11226,60,-,60,"16,704","70,998",1953,2,D1,"17,000,000",5/16/2016,2016
60926,Queens,OZONE PARK,02 TWO FAMILY HOMES,1,11491,57,B3,94-31 134TH AVENUE,NaN,11417,2,0,2,"2,600","1,152",1930,1,B3,"$315,000",2/25/2009,2009
153491,Brooklyn,BEDFORD STUYVESANT,13 CONDOS - ELEVATOR APARTMENTS,2,1927,1010,R4,222 SKILLMAN STREET,2C,11205,1,0,1,0,0,0,2,R4,"$415,261",5/8/2008,2008
56025,Queens,HOWARD BEACH,01 ONE FAMILY HOMES,1,14006,84,A2,159-38 86TH STREET,NaN,11414,1,0,1,"4,000","2,220",1950,1,A2,$0,10/13/2009,2009
276945,Manhattan,UPPER EAST SIDE (59-79),13 CONDOS - ELEVATOR APARTMENTS,2,1419,1766,R4,220 EAST 65TH STREET,22M,10065,1,0,1,0,0,0,2,R4,$0,7/27/2011,2011
324089,Brooklyn,DYKER HEIGHTS,02 TWO FAMILY HOMES,1,6198,28,B1,1156 73RD STREET,NaN,11228,2,0,2,"2,000","1,435",1955,1,B1,$0,1/26/2012,2012
57392,Queens,JAMAICA,10 COOPS - ELEVATOR APARTMENTS,2,9835,3,D4,"175-20 WEXFORD TERRACE, 4-K",NaN,11432,0,0,0,0,0,1969,2,D4,"$138,225",9/22/2009,2009
275965,Manhattan,UPPER EAST SIDE (59-79),10 COOPS - ELEVATOR APARTMENTS,2,1382,65,D4,"6 EAST 68TH STREET, 4 FL",NaN,10065,0,0,0,0,0,1920,2,D4,"$1,900,000",7/21/2011,2011
485188,Bronx,MELROSE/CONCOURSE,07 RENTALS - WALKUP APARTMENTS,2,2446,21,C1,977 GRANT AVENUE,NaN,10456,56,0,56,"12,445","51,203",1926,2,C1,"$4,592,000",3/11/2014,2014
535353,Manhattan,UPPER WEST SIDE (59-79),10 COOPS - ELEVATOR APARTMENTS,2,1142,48,D4,"140 WEST 71ST STREET, 8E",NaN,10023,0,0,0,0,0,1920,2,D4,"$775,000",11/20/2014,2014
547371,Queens,FLUSHING-NORTH,13 CONDOS - ELEVATOR APARTMENTS,2,5186,1104,R4,140-37 CHERRY AVENUE,2A,11355,1,0,1,0,0,2004,2,R4,"$410,000",10/29/2014,2014
391640,Staten Island,SUNNYSIDE,13 CONDOS - ELEVATOR APARTMENTS,2,610,1107,R4,850 HOWARD AVENUE,3K,10301,1,0,1,0,0,1981,2,R4,"$245,000",9/24/2012,2012
640921,Queens,HAMMELS,02 TWO FAMILY DWELLINGS,1,16122,44,B9,343 BEACH 88TH STREET,NaN,11693,2,0,2,"2,254","1,050",1960,1,B9,"$225,000",10/26/2015,2015
162649,Brooklyn,FLATBUSH-CENTRAL,01 ONE FAMILY HOMES,1,5105,23,A1,5 LLOYD STREET,NaN,11226,1,0,1,"1,751","1,248",1920,1,A1,"$412,000",3/24/2008,2008

In [258]:
combined.loc[:,'BUILDING CLASS CATEGORY'] = combined.loc[:,'BUILDING CLASS CATEGORY'].astype(str).str.strip()
combined.loc[:,'BUILDING CLASS AT PRESENT'] = combined.loc[:,'BUILDING CLASS AT PRESENT'].astype(str).str.strip()
#combined.loc[:,'ADDRESS'] = combined.loc[:,'ADDRESS'].astype(str).str.strip()
#combined.loc[:,'APARTMENT NUMBER'] = combined.loc[:,'APARTMENT NUMBER'].astype(str).str.strip()

In [259]:
#now take a look at 'tax class at present' to see if there are any utility/office/hotel buildilngs (tax class 3/4 respectively).
tax_class = combined.loc[:,'TAX CLASS AT PRESENT'].unique().tolist()
tax_class

['1', '1B', '2', '2A', '2B', '4', nan, '1A', '2C', '3', '1D', '1C']

In [260]:
combined[combined['TAX CLASS AT PRESENT'].isnull()]

,BOROUGH,NEIGHBORHOOD,BUILDING CLASS CATEGORY,TAX CLASS AT PRESENT,BLOCK,LOT,BUILDING CLASS AT PRESENT,ADDRESS,APARTMENT NUMBER,ZIP CODE,RESIDENTIAL UNITS,COMMERCIAL UNITS,TOTAL UNITS,LAND SQUARE FEET,GROSS SQUARE FEET,YEAR BUILT,TAX CLASS AT TIME OF SALE,BUILDING CLASS AT TIME OF SALE,SALE PRICE,SALE DATE,SALE YEAR
128,Bronx,BAYCHESTER,01 ONE FAMILY HOMES,NaN,4970,35,nan,3915 ROMBOUTS AVENUE,NaN,10466,0,0,0,0,0,0,1,A5,"$380,000",2/5/2009,2009
198,Bronx,BAYCHESTER,02 TWO FAMILY HOMES,NaN,4767,44,nan,3030 MICKLE AVENUE,NaN,10469,0,0,0,0,0,0,1,B1,"$153,114",5/19/2009,2009
242,Bronx,BAYCHESTER,02 TWO FAMILY HOMES,NaN,4960,27,nan,3948 MONTICELLO AVENUE,NaN,10466,0,0,0,0,0,0,1,B1,"$283,000",10/7/2009,2009
243,Bronx,BAYCHESTER,02 TWO FAMILY HOMES,NaN,4960,30,nan,MONTICELLO AVENUE,NaN,10466,0,0,0,0,0,0,1,B1,$0,10/7/2009,2009
316,Bronx,BAYCHESTER,03 THREE FAMILY HOMES,NaN,4898,73,nan,1248 EAST 224 STREET,NaN,10466,0,0,0,0,0,0,1,C0,$0,11/30/2009,2009
317,Bronx,BAYCHESTER,03 THREE FAMILY HOMES,NaN,4898,73,nan,1248 EAST 224 STREET,NaN,10466,0,0,0,0,0,0,1,C0,"$500,000",7/30/2009,2009
412,Bronx,BEDFORD PARK/NORWOOD,02 TWO FAMILY HOMES,NaN,3289,13,nan,2792 POND PLACE,NaN,10458,0,0,0,0,0,0,1,B1,"$620,000",2/24/2009,2009
460,Bronx,BEDFORD PARK/NORWOOD,05 TAX CLASS 1 VACANT LAND,NaN,3277,25,nan,EAST 195 STREET,NaN,10458,0,0,0,0,0,0,1,V0,"$280,000",6/10/2009,2009
461,Bronx,BEDFORD PARK/NORWOOD,05 TAX CLASS 1 VACANT LAND,NaN,3277,125,nan,EAST 195 STREET,NaN,10458,0,0,0,0,0,0,1,V0,$0,6/10/2009,2009
462,Bronx,BEDFORD PARK/NORWOOD,05 TAX CLASS 1 VACANT LAND,NaN,3283,28,nan,2736 MARION AVENUE,NaN,10458,0,0,0,0,0,0,1,V0,$0,4/23/2009,2009
580,Bronx,BELMONT,03 THREE FAMILY HOMES,NaN,3066,45,nan,574 EAST 189TH STREET,NaN,10458,0,0,0,0,0,0,1,C0,$0,4/6/2009,2009
794,Bronx,BRONXDALE,05 TAX CLASS 1 VACANT LAND,NaN,4551,47,nan,2916 WILLIAMSBRIDGE ROAD,NaN,10467,0,0,0,0,0,0,1,V0,"$150,000",8/21/2009,2009
796,Bronx,BRONXDALE,05 TAX CLASS 1 VACANT LAND,NaN,4596,33,nan,710 ROSEWOOD STREET,NaN,10467,0,0,0,0,0,0,1,V0,"$500,000",7/29/2009,2009
797,Bronx,BRONXDALE,05 TAX CLASS 1 VACANT LAND,NaN,4596,43,nan,CRUGER AVENUE,NaN,10467,0,0,0,0,0,0,1,V0,$0,7/29/2009,2009
1067,Bronx,CITY ISLAND,29 COMMERCIAL GARAGES,NaN,5624,28,nan,ROCHELLE STREET,NaN,10464,0,0,0,0,0,0,4,G7,$0,4/6/2009,2009
1068,Bronx,CITY ISLAND,29 COMMERCIAL GARAGES,NaN,5624,28,nan,ROCHELLE STREET,NaN,10464,0,0,0,0,0,0,4,G7,$0,1/6/2009,2009
1069,Bronx,CITY ISLAND,29 COMMERCIAL GARAGES,NaN,5624,28,nan,ROCHELLE STREET,NaN,10464,0,0,0,0,0,0,4,G7,$0,1/6/2009,2009
1186,Bronx,COUNTRY CLUB,02 TWO FAMILY HOMES,NaN,5468,27,nan,3231 LAFAYETTE AVENUE,NaN,10465,0,0,0,0,0,0,1,B2,$0,1/22/2009,2009
1216,Bronx,COUNTRY CLUB,05 TAX CLASS 1 VACANT LAND,NaN,5410,162,nan,SPENCER DRIVE,NaN,10465,0,0,0,0,0,0,1,V0,$0,9/22/2009,2009
1219,Bronx,COUNTRY CLUB,06 TAX CLASS 1 - OTHER,NaN,5468,30,nan,WILCOX AVENUE,NaN,10465,0,0,0,0,0,0,1,G0,$0,1/22/2009,2009
1308,Bronx,EAST TREMONT,03 THREE FAMILY HOMES,NaN,3068,41,nan,1989 ARTHUR AVENUE,NaN,10457,0,0,0,0,0,0,1,C0,$0,6/9/2009,2009
1309,Bronx,EAST TREMONT,03 THREE FAMILY HOMES,NaN,3068,42,nan,1987 ARTHUR AVENUE,NaN,10457,0,0,0,0,0,0,1,C0,"$565,000",6/9/2009,2009
1310,Bronx,EAST TREMONT,03 THREE FAMILY HOMES,NaN,3068,44,nan,585 EAST 178 STREET,NaN,10457,0,0,0,0,0,0,1,C0,$0,6/9/2009,2009
1482,Bronx,HIGHBRIDGE/MORRIS HEIGHTS,02 TWO FAMILY HOMES,NaN,2879,275,nan,1841 BILLINGSLEY TERRACE,NaN,10453,0,0,0,0,0,0,1,B2,"$530,000",2/25/2009,2009
1619,Bronx,HUNTS POINT,31 COMMERCIAL VACANT LAND,NaN,2772,114,nan,FAILE STREET,NaN,10474,0,0,0,0,0,0,4,V1,$0,1/31/2009,2009
2296,Bronx,MORRISANIA/LONGWOOD,03 THREE FAMILY HOMES,NaN,2694,43,nan,871 HOME STREET,NaN,10459,0,0,0,0,0,0,1,C0,"$655,000",1/27/2009,2009
2368,Bronx,MORRISANIA/LONGWOOD,05 TAX CLASS 1 VACANT LAND,NaN,2653,30,nan,596 WALES AVENUE,NaN,10455,0,0,0,0,0,0,1,V0,$0,9/1/2009,2009
2410,Bronx,MORRISANIA/LONGWOOD,08 RENTALS - ELEVATOR APARTMENTS,NaN,2364,70,nan,BROOK AVENUE,NaN,10451,0,0,0,0,0,0,2,D7,$0,6/26/2009,2009
2411,Bronx,MORRISANIA/LONGWOOD,08 RENTALS - ELEVATOR APARTMENTS,NaN,2364,70,nan,BROOK AVENUE,NaN,10451,0,0,0,0,0,0,2,D7,$0,6/26/2009,2009
2556,Bronx,MORRISANIA/LONGWOOD,24 TAX CLASS 4 - UTILITY BUREAU PROPERTIES,NaN,2359,2,nan,NaN,NaN,10455,0,0,0,0,0,0,4,U0,$0,12/30/2009,2009
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
975096,Queens,QUEENS-UNKNOWN,12 CONDOS - WALKUP APARTMENTS,NaN,6636,1010,nan,"135-46 GRAND CENTRAL PARKWA, 4A",NaN,0,0,0,0,0,0,0,2,R2,"397,488",2019-07-12 00:00:00,2019
975097,Queens,QUEENS-UNKNOWN,12 CONDOS - WALKUP APARTMENTS,NaN,6636,1011,nan,"135-46 GRAND CENTRAL PARKWA, 4B",NaN,0,0,0,0,0,0,0,2,R2,"506,999",2019-07-10 00:00:00,2019
975098,Queens,QUEENS-UNKNOWN,13 CONDOS - ELEVATOR APARTMENTS,NaN,405,1027,nan,"2705 41ST AVENUE, 4B",NaN,0,0,0,0,0,0,0,2,R4,"609,932",2019-06-10 00:00:00,2019
975099,Queens,QUEENS-UNKNOWN,13 CONDOS - ELEVATOR APARTMENTS,NaN,405,1031,nan,"2705 41ST AVENUE, 4F",NaN,0,0,0,0,0,0,0,2,R4,"712,775",2019-08-27 00:00:00,2019
975100,Queens,QUEENS-UNKNOWN,13 CONDOS - ELEVATOR APARTMENTS,NaN,405,1035,nan,"2705 41ST AVENUE, 5B",NaN,0,0,0,0,0,0,0,2,R4,"602,804",2019-06-28 00:00:00,2019
975101,Queens,QUEENS-UNKNOWN,13 CONDOS - ELEVATOR APARTMENTS,NaN,405,1037,nan,"2705 41ST AVENUE, 5D",NaN,0,0,0,0,0,0,0,2,R4,"769,797",2019-06-07 00:00:00,2019
975102,Queens,QUEENS-UNKNOWN,13 CONDOS - ELEVATOR APARTMENTS,NaN,405,1038,nan,"2705 41ST AVENUE, 5E",NaN,0,0,0,0,0,0,0,2,R4,"928,644",2019-06-10 00:00:00,2019
975103,Queens,QUEENS-UNKNOWN,13 CONDOS - ELEVATOR APARTMENTS,NaN,405,1039,nan,"2705 41ST AVENUE, 5F",NaN,0,0,0,0,0,0,0,2,R4,"707,684",2019-06-25 00:00:00,2019
975104,Queens,QUEENS-UNKNOWN,13 CONDOS - ELEVATOR APARTMENTS,NaN,405,1040,nan,"2705 41ST AVENUE, 5G",NaN,0,0,0,0,0,0,0,2,R4,"748,414",2019-07-02 00:00:00,2019
975105,Queens,QUEENS-UNKNOWN,13 CONDOS - ELEVATOR APARTMENTS,NaN,405,1042,nan,"2705 41ST AVENUE, 6A",NaN,0,0,0,0,0,0,0,2,R4,"577,348",2019-08-19 00:00:00,2019
975106,Queens,QUEENS-UNKNOWN,13 CONDOS - ELEVATOR APARTMENTS,NaN,620,1005,nan,"2503 32ND STREET, 2A",NaN,0,0,0,0,0,0,0,2,R4,"888,030",2019-08-20 00:00:00,2019
975107,Queens,QUEENS-UNKNOWN,13 CONDOS - ELEVATOR APARTMENTS,NaN,620,1016,nan,"3206 ASTORIA BLVD, 3F",NaN,0,0,0,0,0,0,0,2,R4,"535,000",2019-07-23 00:00:00,2019
975108,Queens,QUEENS-UNKNOWN,13 CONDOS - ELEVATOR APARTMENTS,NaN,620,1022,nan,"2503 32ND STREET, 4F",NaN,0,0,0,0,0,0,0,2,R4,0,2019-08-27 00:00:00,2019
975109,Queens,QUEENS-UNKNOWN,13 CONDOS - ELEVATOR APARTMENTS,NaN,620,1022,nan,"2503 32ND STREET, 4F",NaN,0,0,0,0,0,0,0,2,R4,"519,000",2019-07-23 00:00:00,2019
975110,Queens,QUEENS-UNKNOWN,13 CONDOS - ELEVATOR APARTMENTS,NaN,620,1028,nan,"2503 32ND STREET, 5F",NaN,0,0,0,0,0,0,0,2,R4,"519,000",2019-07-11 00:00:00,2019
975111,Queens,QUEENS-UNKNOWN,15 CONDOS - 2-10 UNIT RESIDENTIAL,NaN,29,1402,nan,"5-28 47TH AVE, 1B",NaN,0,0,0,0,0,0,0,2,R1,"1,325,000",2019-09-16 00:00:00,2019
975112,Queens,QUEENS-UNKNOWN,15 CONDOS - 2-10 UNIT RESIDENTIAL,NaN,29,1404,nan,"5-28 47TH AVE, 2B",NaN,0,0,0,0,0,0,0,2,R1,"850,000",2019-09-16 00:00:00,2019
975113,Queens,QUEENS-UNKNOWN,15 CONDOS - 2-10 UNIT RESIDENTIAL,NaN,29,1406,nan,"5-28 47TH AVE, 3B",NaN,0,0,0,0,0,0,0,2,R1,"1,250,000",2019-09-06 00:00:00,2019
975114,Queens,QUEENS-UNKNOWN,15 CONDOS - 2-10 UNIT RESIDENTIAL,NaN,29,1502,nan,"5-30 47TH AVE, 1B",NaN,0,0,0,0,0,0,0,2,R1,"1,401,112",2019-06-26 00:00:00,2019
975115,Queens,QUEENS-UNKNOWN,15 CONDOS - 2-10 UNIT RESIDENTIAL,NaN,29,1503,nan,"5-30 47TH AVE, 2A",NaN,0,0,0,0,0,0,0,2,R1,"880,000",2019-07-18 00:00:00,2019
975116,Queens,QUEENS-UNKNOWN,15 CONDOS - 2-10 UNIT RESIDENTIAL,NaN,29,1504,nan,"5-30 47TH AVE, 2B",NaN,0,0,0,0,0,0,0,2,R1,"855,000",2019-06-27 00:00:00,2019
975117,Queens,QUEENS-UNKNOWN,15 CONDOS - 2-10 UNIT RESIDENTIAL,NaN,29,1505,nan,"5-30 47TH AVE, 3A",NaN,0,0,0,0,0,0,0,2,R1,"1,237,174",2019-07-23 00:00:00,2019
975118,Queens,QUEENS-UNKNOWN,15 CONDOS - 2-10 UNIT RESIDENTIAL,NaN,29,1602,nan,"5-26 47TH AVENUE, 1B",NaN,0,0,0,0,0,0,0,2,R1,"1,395,000",2019-07-16 00:00:00,2019
975119,Queens,QUEENS-UNKNOWN,15 CONDOS - 2-10 UNIT RESIDENTIAL,NaN,29,1603,nan,"5-26 47TH AVENUE, 2A",NaN,0,0,0,0,0,0,0,2,R1,"885,000",2019-06-24 00:00:00,2019
975120,Queens,QUEENS-UNKNOWN,44 CONDO PARKING,NaN,78,1193,nan,"21-30 44TH DRIVE, PKG 6",NaN,0,0,0,0,0,0,0,4,RG,"2,181,055",2019-09-17 00:00:00,2019
975121,Queens,QUEENS-UNKNOWN,44 CONDO PARKING,NaN,78,1194,nan,"21-30 44TH DRIVE, PKG 7",NaN,0,0,0,0,0,0,0,4,RG,"2,181,055",2019-09-17 00:00:00,2019
975122,Queens,QUEENS-UNKNOWN,44 CONDO PARKING,NaN,6636,1013,nan,"135-46 GRAND CENTRAL PARKWA, P-1",NaN,0,0,0,0,0,0,0,4,RG,"651,680",2019-06-13 00:00:00,2019
975123,Queens,QUEENS-UNKNOWN,44 CONDO PARKING,NaN,6636,1014,nan,"135-46 GRAND CENTRAL PARKWA, P-2",NaN,0,0,0,0,0,0,0,4,RG,"32,448",2019-09-26 00:00:00,2019
975124,Queens,QUEENS-UNKNOWN,44 CONDO PARKING,NaN,6636,1018,nan,"135-46 GRAND CENTRAL PARKWA, P-6",NaN,0,0,0,0,0,0,0,4,RG,"50,913",2019-08-26 00:00:00,2019
983869,Staten Island,PORT RICHMOND,02 TWO FAMILY DWELLINGS,NaN,1140,9,nan,N/A VILLA AVENUE,NaN,0,0,0,0,0,0,0,1,B2,0,2019-07-24 00:00:00,2019

In [261]:
#inspect contents of building class category, for filtering activities later on.
building_class = combined.loc[:,'BUILDING CLASS CATEGORY'].unique().tolist()
#building_class

In [262]:
#inspect contents of building class at time of sale, for filtering activities later on.
building_class_sale = combined.loc[:,'BUILDING CLASS AT TIME OF SALE'].str.strip().unique().tolist()
building_class_sale

['A9',
 'A1',
 'A5',
 'B2',
 'B1',
 'B3',
 'S2',
 'C0',
 'V0',
 'C1',
 'C7',
 'C3',
 'D1',
 'D4',
 'K1',
 'H4',
 'G7',
 'V1',
 'M9',
 'A2',
 'S1',
 'A0',
 'B9',
 'V2',
 'Z0',
 'G0',
 'C2',
 'S3',
 'O9',
 'K9',
 'G8',
 'G2',
 'E1',
 'E3',
 'I6',
 'P6',
 'M1',
 'Z9',
 'R3',
 'C5',
 'D7',
 'C6',
 'R2',
 'S9',
 'O7',
 'R5',
 'G9',
 'G6',
 'W1',
 'K2',
 'F1',
 'V3',
 'R4',
 'K7',
 'K4',
 'K5',
 'I9',
 'N9',
 'F4',
 'E9',
 'E4',
 'N2',
 'Z6',
 'P5',
 'O6',
 'O5',
 'A3',
 'D6',
 'D3',
 'D5',
 'F9',
 'C4',
 'W4',
 'S4',
 'S5',
 'RR',
 'R1',
 'R9',
 'U6',
 'U0',
 'V9',
 'V5',
 'H9',
 'G5',
 'W8',
 'Q1',
 'I5',
 'G1',
 'A8',
 'A6',
 'O8',
 'U4',
 'A7',
 'P9',
 'A4',
 'S0',
 'D9',
 'R8',
 'O1',
 'I1',
 'M4',
 'R6',
 'C9',
 'F2',
 'G4',
 'Q9',
 'M3',
 'Y1',
 'F5',
 'W2',
 'I3',
 'Q2',
 'L8',
 'I7',
 'C8',
 'G3',
 'E7',
 'P8',
 'H2',
 'N4',
 'W9',
 'K6',
 'O4',
 'D8',
 'U7',
 'L9',
 'Q3',
 'R7',
 'D0',
 'J6',
 'O3',
 'L1',
 'H3',
 'O2',
 'L2',
 'W3',
 'J5',
 'K3',
 'W6',
 'H5',
 'D2',
 'H8',
 'I4',
 'U1',
 'Y6',
 'Z2',
 'P2',
 'P7',
 'Z8',
 'W5',
 'Q7',
 'Z3',
 'U5',
 'T9',
 'Z7',
 'J8',
 'U8',
 'J1',
 'Y4',
 'M2',
 'H6',
 'U2',
 'U9',
 'R0',
 'H1',
 'L3',
 'Z4',
 'Y2',
 'J9',
 'Q8',
 'T2',
 'F8',
 'J4',
 'V4',
 'H7',
 'V8',
 'T1',
 'V6',
 'Q6',
 'P3',
 'W7',
 'P1',
 'RG',
 'RP',
 'RS',
 'RW',
 'RB',
 'RK',
 'RH',
 'RA',
 'RT',
 'Y7',
 'Z5',
 'V7',
 'J2',
 'Y3',
 'I2',
 'N3',
 'Y9',
 'J3',
 'HR',
 'HS',
 'HB',
 'GW',
 'GU',
 'E2',
 'Z1',
 'K8',
 'HH',
 'CM',
 'N1',
 'P4']

**Cleaning 'Tax Class at Present' and 'Tax Class at Time of Sale'**

In [263]:
#count how many nulls are in 'tax class at present'
np.sum(combined.loc[:,'TAX CLASS AT PRESENT'].isnull())

7733

In [264]:
#impute that for NaN Tax Class at Present, there is no change and it should be set equal to Tax Class at Sale.
combined.loc[:, 'TAX CLASS AT PRESENT'] = combined.loc[:,'TAX CLASS AT PRESENT'].fillna(combined.loc[:,'TAX CLASS AT TIME OF SALE'])

In [265]:
#change 'tax class at present' to str first, after imputing to collect imputed values (ints) into the same object type.
combined.loc[:, 'TAX CLASS AT PRESENT'] = combined.loc[:,'TAX CLASS AT PRESENT'].astype(str)
#combined.loc[:, 'TAX CLASS AT TIME OF SALE'] = combined.loc[:,'TAX CLASS AT TIME OF SALE'].astype(str)

In [266]:
#one tax class is object, the other is int. They should both be categorical as the tax class is a bracket segmentation.
combined.loc[:,'TAX CLASS AT TIME OF SALE'] = combined.loc[:,'TAX CLASS AT TIME OF SALE'].astype('category')
combined.loc[:,'TAX CLASS AT PRESENT'] = combined.loc[:,'TAX CLASS AT PRESENT'].astype('category')

In [267]:
#now take a look at 'tax class at present' to see if there are any utility/office buildilngs (tax class 3/4 respectively).
tax_class = combined.loc[:,'TAX CLASS AT PRESENT'].unique().tolist()
tax_class

['1', '1B', '2', '2A', '2B', '4', '1A', '2C', '3', '1D', '1C']

In [268]:
#count how many nulls are in 'tax class at present'
np.sum(combined.loc[:,'TAX CLASS AT PRESENT'].isnull())

0

In [269]:
test = combined.loc[combined['TAX CLASS AT PRESENT'].isnull()]
test

Empty DataFrame
Columns: [BOROUGH, NEIGHBORHOOD, BUILDING CLASS CATEGORY, TAX CLASS AT PRESENT, BLOCK, LOT, BUILDING CLASS AT PRESENT, ADDRESS, APARTMENT NUMBER, ZIP CODE, RESIDENTIAL UNITS, COMMERCIAL UNITS, TOTAL UNITS, LAND SQUARE FEET, GROSS SQUARE FEET, YEAR BUILT, TAX CLASS AT TIME OF SALE, BUILDING CLASS AT TIME OF SALE, SALE PRICE, SALE DATE, SALE YEAR]
Index: []

### **Convert the various objects into more specific types and fillna's. Otherwise counting nulls and zeros for filtering purposes won't work.**

In [41]:
#Convert 'Apartment Number' to str and strip any extra whitespace
#combined.loc[:,'APARTMENT NUMBER'] = combined.loc[:,'APARTMENT NUMBER'].astype(str).str.strip()

In [563]:
#Convert 'ADDRESS' to str and strip any extra whitespace
#combined.loc[:,'ADDRESS'] = combined.loc[:,'ADDRESS'].astype(str).str.strip()

In [270]:
np.sum(combined.loc[:,'SALE PRICE'].isnull())
np.sum(combined.loc[:,'RESIDENTIAL UNITS'].isnull())
np.sum(combined.loc[:,'TOTAL UNITS'].isnull())

53

In [271]:
#replace commas in SALE PRICE column with empty space and convert to string, then float.
combined['SALE PRICE'] = combined['SALE PRICE'].str.replace(',','')

In [272]:
combined['SALE PRICE'] = combined['SALE PRICE'].str.replace('$','').str.strip()

In [273]:
combined['SALE PRICE'] = combined['SALE PRICE'].str.replace('-','')

In [274]:
combined['SALE PRICE'] = pd.to_numeric(combined['SALE PRICE'], errors='coerce')
combined.loc[:,'SALE PRICE'] = combined.loc[:,'SALE PRICE'].fillna(0)

In [275]:
combined['SALE PRICE'] = combined['SALE PRICE'].astype(int)

In [276]:
price = combined.loc[combined['SALE PRICE'].isnull()]
price

Empty DataFrame
Columns: [BOROUGH, NEIGHBORHOOD, BUILDING CLASS CATEGORY, TAX CLASS AT PRESENT, BLOCK, LOT, BUILDING CLASS AT PRESENT, ADDRESS, APARTMENT NUMBER, ZIP CODE, RESIDENTIAL UNITS, COMMERCIAL UNITS, TOTAL UNITS, LAND SQUARE FEET, GROSS SQUARE FEET, YEAR BUILT, TAX CLASS AT TIME OF SALE, BUILDING CLASS AT TIME OF SALE, SALE PRICE, SALE DATE, SALE YEAR]
Index: []

In [277]:
combined[(combined['ADDRESS'].str.contains('230 ASHLAND', na = False)) &(combined['APARTMENT NUMBER'].str.contains('A', na = False) )]

,BOROUGH,NEIGHBORHOOD,BUILDING CLASS CATEGORY,TAX CLASS AT PRESENT,BLOCK,LOT,BUILDING CLASS AT PRESENT,ADDRESS,APARTMENT NUMBER,ZIP CODE,RESIDENTIAL UNITS,COMMERCIAL UNITS,TOTAL UNITS,LAND SQUARE FEET,GROSS SQUARE FEET,YEAR BUILT,TAX CLASS AT TIME OF SALE,BUILDING CLASS AT TIME OF SALE,SALE PRICE,SALE DATE,SALE YEAR
17015,Brooklyn,FORT GREENE,13 CONDOS - ELEVATOR APARTMENTS,2,2095,1101,R4,230 ASHLAND PLACE,3A,11217,1,0,1,0,0,0,2,R4,42409151,8/17/2009,2009
17018,Brooklyn,FORT GREENE,13 CONDOS - ELEVATOR APARTMENTS,2,2095,1105,R4,230 ASHLAND PLACE,4A,11217,1,0,1,0,0,0,2,R4,0,8/17/2009,2009
17020,Brooklyn,FORT GREENE,13 CONDOS - ELEVATOR APARTMENTS,2,2095,1109,R4,230 ASHLAND PLACE,5A,11217,1,0,1,0,0,0,2,R4,0,8/17/2009,2009
17021,Brooklyn,FORT GREENE,13 CONDOS - ELEVATOR APARTMENTS,2,2095,1113,R4,230 ASHLAND PLACE,6A,11217,1,0,1,0,0,0,2,R4,0,8/17/2009,2009
17022,Brooklyn,FORT GREENE,13 CONDOS - ELEVATOR APARTMENTS,2,2095,1117,R4,230 ASHLAND PLACE,7A,11217,1,0,1,0,0,0,2,R4,0,8/17/2009,2009
17025,Brooklyn,FORT GREENE,13 CONDOS - ELEVATOR APARTMENTS,2,2095,1121,R4,230 ASHLAND PLACE,8A,11217,1,0,1,0,0,0,2,R4,0,8/17/2009,2009
17027,Brooklyn,FORT GREENE,13 CONDOS - ELEVATOR APARTMENTS,2,2095,1125,R4,230 ASHLAND PLACE,9A,11217,1,0,1,0,0,0,2,R4,0,8/17/2009,2009
17028,Brooklyn,FORT GREENE,13 CONDOS - ELEVATOR APARTMENTS,2,2095,1129,R4,230 ASHLAND PLACE,10A,11217,1,0,1,0,0,0,2,R4,0,8/17/2009,2009
17029,Brooklyn,FORT GREENE,13 CONDOS - ELEVATOR APARTMENTS,2,2095,1133,R4,230 ASHLAND PLACE,11A,11217,1,0,1,0,0,0,2,R4,0,8/17/2009,2009
17032,Brooklyn,FORT GREENE,13 CONDOS - ELEVATOR APARTMENTS,2,2095,1141,R4,230 ASHLAND PLACE,14A,11217,1,0,1,0,0,0,2,R4,0,8/17/2009,2009
17036,Brooklyn,FORT GREENE,13 CONDOS - ELEVATOR APARTMENTS,2,2095,1145,R4,230 ASHLAND PLACE,15A,11217,1,0,1,0,0,0,2,R4,0,8/17/2009,2009
17039,Brooklyn,FORT GREENE,13 CONDOS - ELEVATOR APARTMENTS,2,2095,1149,R4,230 ASHLAND PLACE,16A,11217,1,0,1,0,0,0,2,R4,0,8/17/2009,2009
17041,Brooklyn,FORT GREENE,13 CONDOS - ELEVATOR APARTMENTS,2,2095,1153,R4,230 ASHLAND PLACE,17A,11217,1,0,1,0,0,0,2,R4,0,8/17/2009,2009
17044,Brooklyn,FORT GREENE,13 CONDOS - ELEVATOR APARTMENTS,2,2095,1157,R4,230 ASHLAND PLACE,18A,11217,1,0,1,0,0,0,2,R4,0,8/17/2009,2009
17047,Brooklyn,FORT GREENE,13 CONDOS - ELEVATOR APARTMENTS,2,2095,1161,R4,230 ASHLAND PLACE,19A,11217,1,0,1,0,0,0,2,R4,0,8/17/2009,2009
17051,Brooklyn,FORT GREENE,13 CONDOS - ELEVATOR APARTMENTS,2,2095,1165,R4,230 ASHLAND PLACE,20A,11217,1,0,1,0,0,0,2,R4,0,8/17/2009,2009
17059,Brooklyn,FORT GREENE,13 CONDOS - ELEVATOR APARTMENTS,2,2095,1177,R4,230 ASHLAND PLACE,23A,11217,1,0,1,0,0,0,2,R4,0,8/17/2009,2009
17063,Brooklyn,FORT GREENE,13 CONDOS - ELEVATOR APARTMENTS,2,2095,1181,R4,230 ASHLAND PLACE,24A,11217,1,0,1,0,0,0,2,R4,0,8/17/2009,2009
17067,Brooklyn,FORT GREENE,13 CONDOS - ELEVATOR APARTMENTS,2,2095,1185,R4,230 ASHLAND PLACE,25A,11217,1,0,1,0,0,0,2,R4,0,8/17/2009,2009
17071,Brooklyn,FORT GREENE,13 CONDOS - ELEVATOR APARTMENTS,2,2095,1189,R4,230 ASHLAND PLACE,26A,11217,1,0,1,0,0,0,2,R4,0,8/17/2009,2009
17078,Brooklyn,FORT GREENE,13 CONDOS - ELEVATOR APARTMENTS,2,2095,1197,R4,230 ASHLAND PLACE,28A,11217,1,0,1,0,0,0,2,R4,0,8/17/2009,2009
17082,Brooklyn,FORT GREENE,13 CONDOS - ELEVATOR APARTMENTS,2,2095,1201,R4,230 ASHLAND PLACE,29A,11217,1,0,1,0,0,0,2,R4,0,8/17/2009,2009
90685,Brooklyn,FORT GREENE,13 CONDOS - ELEVATOR APARTMENTS,2,2095,1101,R4,230 ASHLAND PLACE,3A,11217,1,0,1,0,0,0,2,R4,700325,3/23/2010,2010
90688,Brooklyn,FORT GREENE,13 CONDOS - ELEVATOR APARTMENTS,2,2095,1105,R4,230 ASHLAND PLACE,4A,11217,1,0,1,0,0,0,2,R4,723289,5/12/2010,2010
90690,Brooklyn,FORT GREENE,13 CONDOS - ELEVATOR APARTMENTS,2,2095,1109,R4,230 ASHLAND PLACE,5A,11217,1,0,1,0,0,0,2,R4,705000,4/8/2010,2010
90691,Brooklyn,FORT GREENE,13 CONDOS - ELEVATOR APARTMENTS,2,2095,1113,R4,230 ASHLAND PLACE,6A,11217,1,0,1,0,0,0,2,R4,720325,3/16/2010,2010
90692,Brooklyn,FORT GREENE,13 CONDOS - ELEVATOR APARTMENTS,2,2095,1117,R4,230 ASHLAND PLACE,7A,11217,1,0,1,0,0,0,2,R4,725325,3/24/2010,2010
90694,Brooklyn,FORT GREENE,13 CONDOS - ELEVATOR APARTMENTS,2,2095,1121,R4,230 ASHLAND PLACE,8A,11217,1,0,1,0,0,0,2,R4,735325,2/17/2010,2010
90696,Brooklyn,FORT GREENE,13 CONDOS - ELEVATOR APARTMENTS,2,2095,1125,R4,230 ASHLAND PLACE,9A,11217,1,0,1,0,0,0,2,R4,758927,5/12/2010,2010
90697,Brooklyn,FORT GREENE,13 CONDOS - ELEVATOR APARTMENTS,2,2095,1129,R4,230 ASHLAND PLACE,10A,11217,1,0,1,0,0,0,2,R4,740000,3/24/2010,2010
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
90708,Brooklyn,FORT GREENE,13 CONDOS - ELEVATOR APARTMENTS,2,2095,1149,R4,230 ASHLAND PLACE,16A,11217,1,0,1,0,0,0,2,R4,542220,1/29/2010,2010
90710,Brooklyn,FORT GREENE,13 CONDOS - ELEVATOR APARTMENTS,2,2095,1153,R4,230 ASHLAND PLACE,17A,11217,1,0,1,0,0,0,2,R4,547220,2/22/2010,2010
90713,Brooklyn,FORT GREENE,13 CONDOS - ELEVATOR APARTMENTS,2,2095,1157,R4,230 ASHLAND PLACE,18A,11217,1,0,1,0,0,0,2,R4,552220,3/4/2010,2010
90715,Brooklyn,FORT GREENE,13 CONDOS - ELEVATOR APARTMENTS,2,2095,1161,R4,230 ASHLAND PLACE,19A,11217,1,0,1,0,0,0,2,R4,557220,3/31/2010,2010
90719,Brooklyn,FORT GREENE,13 CONDOS - ELEVATOR APARTMENTS,2,2095,1165,R4,230 ASHLAND PLACE,20A,11217,1,0,1,0,0,0,2,R4,562220,3/18/2010,2010
90727,Brooklyn,FORT GREENE,13 CONDOS - ELEVATOR APARTMENTS,2,2095,1177,R4,230 ASHLAND PLACE,23A,11217,1,0,1,0,0,0,2,R4,572220,3/15/2010,2010
90731,Brooklyn,FORT GREENE,13 CONDOS - ELEVATOR APARTMENTS,2,2095,1181,R4,230 ASHLAND PLACE,24A,11217,1,0,1,0,0,0,2,R4,577220,3/22/2010,2010
90735,Brooklyn,FORT GREENE,13 CONDOS - ELEVATOR APARTMENTS,2,2095,1185,R4,230 ASHLAND PLACE,25A,11217,1,0,1,0,0,0,2,R4,582200,7/1/2010,2010
90739,Brooklyn,FORT GREENE,13 CONDOS - ELEVATOR APARTMENTS,2,2095,1189,R4,230 ASHLAND PLACE,26A,11217,1,0,1,0,0,0,2,R4,604840,3/10/2010,2010
90746,Brooklyn,FORT GREENE,13 CONDOS - ELEVATOR APARTMENTS,2,2095,1197,R4,230 ASHLAND PLACE,28A,11217,1,0,1,0,0,0,2,R4,592220,3/17/2010,2010
90750,Brooklyn,FORT GREENE,13 CONDOS - ELEVATOR APARTMENTS,2,2095,1201,R4,230 ASHLAND PLACE,29A,11217,1,0,1,0,0,0,2,R4,597220,2/24/2010,2010
164740,Brooklyn,FORT GREENE,13 CONDOS - ELEVATOR APARTMENTS,2,2095,1137,R4,230 ASHLAND PLACE,12A,11217,1,0,1,0,0,0,2,R4,1308451,2/4/2008,2008
164748,Brooklyn,FORT GREENE,13 CONDOS - ELEVATOR APARTMENTS,2,2095,1173,R4,230 ASHLAND PLACE,22A,11217,1,0,1,0,0,0,2,R4,1061016,1/24/2008,2008
164750,Brooklyn,FORT GREENE,13 CONDOS - ELEVATOR APARTMENTS,2,2095,1193,R4,230 ASHLAND PLACE,27A,11217,1,0,1,0,0,0,2,R4,967337,8/29/2008,2008
164751,Brooklyn,FORT GREENE,13 CONDOS - ELEVATOR APARTMENTS,2,2095,1205,R4,230 ASHLAND PLACE,PHA,11217,1,0,1,0,0,0,2,R4,1101746,2/25/2008,2008
327392,Brooklyn,FORT GREENE,13 CONDOS - ELEVATOR APARTMENTS,2,2095,1201,R4,230 ASHLAND PLACE,29A,11217,1,0,1,0,0,0,2,R4,710000,3/26/2012,2012
413233,Brooklyn,FORT GREENE,13 CONDOS - ELEVATOR APARTMENTS,2,2095,1133,R4,230 ASHLAND PLACE,11A,11217,1,0,1,0,0,0,2,R4,1250000,7/25/2013,2013
413237,Brooklyn,FORT GREENE,13 CONDOS - ELEVATOR APARTMENTS,2,2095,1169,R4,230 ASHLAND PLACE,21A,11217,1,0,1,0,0,0,2,R4,1089000,12/13/2013,2013
413239,Brooklyn,FORT GREENE,13 CONDOS - ELEVATOR APARTMENTS,2,2095,1181,R4,230 ASHLAND PLACE,24A,11217,1,0,1,0,0,0,2,R4,1100000,9/30/2013,2013
504287,Brooklyn,FORT GREENE,13 CONDOS - ELEVATOR APARTMENTS,2,2095,1117,R4,230 ASHLAND PLACE,7A,11217,1,0,1,0,0,0,2,R4,1515000,3/28/2014,2014
593755,Brooklyn,FORT GREENE,13 CONDOS - ELEVATOR APARTMENTS,2,2095,1101,R4,230 ASHLAND PLACE,3A,11217,1,0,1,0,0,0,2,R4,0,2/20/2015,2015
593759,Brooklyn,FORT GREENE,13 CONDOS - ELEVATOR APARTMENTS,2,2095,1161,R4,230 ASHLAND PLACE,19A,11217,1,0,1,0,0,0,2,R4,0,3/5/2015,2015
684986,Brooklyn,FORT GREENE,13 CONDOS - ELEVATOR APARTMENTS,2,2095,1141,R4,230 ASHLAND PLACE,14A,11217,1,-,1,-,-,0,2,R4,1625000,10/4/2016,2016
684987,Brooklyn,FORT GREENE,13 CONDOS - ELEVATOR APARTMENTS,2,2095,1161,R4,230 ASHLAND PLACE,19A,11217,1,-,1,-,-,0,2,R4,1295000,6/20/2016,2016
684989,Brooklyn,FORT GREENE,13 CONDOS - ELEVATOR APARTMENTS,2,2095,1181,R4,230 ASHLAND PLACE,24A,11217,1,-,1,-,-,0,2,R4,1320000,8/10/2016,2016
774753,Brooklyn,FORT GREENE,13 CONDOS - ELEVATOR APARTMENTS,2,2095,1145,R4,230 ASHLAND PLACE,15A,11217,1,0,1,-,-,0,2,R4,1275000,3/3/2017,2017
863086,Brooklyn,FORT GREENE,13 CONDOS - ELEVATOR APARTMENTS,2,2095,1117,R4,230 ASHLAND PLACE,7A,11217,1,0,1,0,"1,435",0,2,R4,1710000,5/9/2018,2018
954520,Brooklyn,FORT GREENE,13 CONDOS - ELEVATOR APARTMENTS,2,2095,1121,R4,"230 ASHLAND PLACE, 8A",8A,11217,0,0,0,0,"1,435",0,2,R4,1570000,2019-07-09 00:00:00,2019
954522,Brooklyn,FORT GREENE,13 CONDOS - ELEVATOR APARTMENTS,2,2095,1133,R4,"230 ASHLAND PLACE, 11A",11A,11217,0,0,0,0,"1,435",0,2,R4,1600000,2019-07-02 00:00:00,2019
954524,Brooklyn,FORT GREENE,13 CONDOS - ELEVATOR APARTMENTS,2,2095,1153,R4,"230 ASHLAND PLACE, 17A",17A,11217,0,0,0,0,"1,156",0,2,R4,0,2019-09-27 00:00:00,2019

In [278]:
combined['LAND SQUARE FEET'] = pd.to_numeric(combined['LAND SQUARE FEET'], errors='coerce')
combined['GROSS SQUARE FEET']= pd.to_numeric(combined['GROSS SQUARE FEET'], errors='coerce')

In [279]:
combined.loc[:,'LAND SQUARE FEET'] = combined.loc[:,'LAND SQUARE FEET'].fillna(0).astype(int)
combined.loc[:,'GROSS SQUARE FEET'] = combined.loc[:,'GROSS SQUARE FEET'].fillna(0).astype(int)

In [280]:
combined.loc[:,'YEAR BUILT'] = combined.loc[:,'YEAR BUILT'].fillna(0)

In [281]:
#convert sale date to datetime
combined.loc[:,'SALE DATE'] = pd.to_datetime(combined.loc[:,'SALE DATE'])

In [282]:
#extract month from datetime
#combined['SALE MONTH'] = pd.DatetimeIndex(combined['SALE DATE']).month
combined['SALE MONTH'] = combined['SALE DATE'].dt.strftime('%b')
combined.loc[:,'SALE MONTH'] = combined.loc[:,'SALE MONTH'].astype('category')

In [283]:
#residential units, commercial units, and total units are not consistent. Convert all to int.
combined.loc[:,'RESIDENTIAL UNITS'] = pd.to_numeric(combined.loc[:,'RESIDENTIAL UNITS'], errors = 'coerce')
combined.loc[:,'COMMERCIAL UNITS'] = pd.to_numeric(combined.loc[:,'COMMERCIAL UNITS'], errors = 'coerce')
combined.loc[:,'TOTAL UNITS'] = pd.to_numeric(combined.loc[:,'TOTAL UNITS'], errors = 'coerce')

In [284]:
#residential units, commercial units, and total units fillna and convert to int.
combined.loc[:,'RESIDENTIAL UNITS'] = combined.loc[:,'RESIDENTIAL UNITS'].fillna(0).astype(int)
combined.loc[:,'COMMERCIAL UNITS'] = combined.loc[:,'COMMERCIAL UNITS'].fillna(0).astype(int)
combined.loc[:,'TOTAL UNITS'] = combined.loc[:,'TOTAL UNITS'].fillna(0).astype(int)

In [182]:
combined.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 985805 entries, 0 to 985804
Data columns (total 22 columns):
BOROUGH                           985805 non-null object
NEIGHBORHOOD                      985805 non-null object
BUILDING CLASS CATEGORY           985805 non-null object
TAX CLASS AT PRESENT              985805 non-null category
BLOCK                             985805 non-null int64
LOT                               985805 non-null int64
BUILDING CLASS AT PRESENT         985805 non-null object
ADDRESS                           985798 non-null object
APARTMENT NUMBER                  241357 non-null object
ZIP CODE                          985805 non-null int64
RESIDENTIAL UNITS                 985805 non-null int64
COMMERCIAL UNITS                  985805 non-null int64
TOTAL UNITS                       985805 non-null int64
LAND SQUARE FEET                  985805 non-null int64
GROSS SQUARE FEET                 985805 non-null int64
YEAR BUILT                        985805 non-null int64
TAX CLASS AT TIME OF SALE         985805 non-null category
BUILDING CLASS AT TIME OF SALE    985805 non-null object
SALE PRICE                        985805 non-null int64
SALE DATE                         985805 non-null datetime64[ns]
SALE YEAR                         985805 non-null int64
SALE MONTH                        985805 non-null category
dtypes: category(3), datetime64[ns](1), int64(11), object(7)
memory usage: 145.7+ MB

### **Filter out non-residential transactions: office/utility/hotel buildings. Also filter out rental-only buildings: these are bought and sold by corporations and not individuals.**

In [285]:
#filter out office/utility buildings and rental buildings and vacant land, sort by price descending. Looks like there are dupes.
combined = combined.loc[((combined['TAX CLASS AT TIME OF SALE'] != 4) & (combined['TAX CLASS AT TIME OF SALE'] != 3)) & ((combined['BUILDING CLASS CATEGORY'].str.contains('RENTALS')==False) & (combined['BUILDING CLASS CATEGORY'].str.contains('VACANT LAND')==False))].sort_values('SALE PRICE', ascending = False)

**Filter out transfers (price is <= 10) and transactions under $100k**

In [286]:
#filter price
combined = combined.loc[combined['SALE PRICE'] >= 100000,]

In [287]:
#now what is left?
combined.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 558844 entries, 123734 to 412818
Data columns (total 22 columns):
BOROUGH                           558844 non-null object
NEIGHBORHOOD                      558844 non-null object
BUILDING CLASS CATEGORY           558844 non-null object
TAX CLASS AT PRESENT              558844 non-null category
BLOCK                             558844 non-null int64
LOT                               558844 non-null int64
BUILDING CLASS AT PRESENT         558844 non-null object
ADDRESS                           558844 non-null object
APARTMENT NUMBER                  138709 non-null object
ZIP CODE                          558844 non-null int64
RESIDENTIAL UNITS                 558844 non-null int64
COMMERCIAL UNITS                  558844 non-null int64
TOTAL UNITS                       558844 non-null int64
LAND SQUARE FEET                  558844 non-null int64
GROSS SQUARE FEET                 558844 non-null int64
YEAR BUILT                        558844 non-null int64
TAX CLASS AT TIME OF SALE         558844 non-null category
BUILDING CLASS AT TIME OF SALE    558844 non-null object
SALE PRICE                        558844 non-null int64
SALE DATE                         558844 non-null datetime64[ns]
SALE YEAR                         558844 non-null int64
SALE MONTH                        558844 non-null category
dtypes: category(3), datetime64[ns](1), int64(11), object(7)
memory usage: 86.9+ MB

In [288]:
combined.sample(50)

,BOROUGH,NEIGHBORHOOD,BUILDING CLASS CATEGORY,TAX CLASS AT PRESENT,BLOCK,LOT,BUILDING CLASS AT PRESENT,ADDRESS,APARTMENT NUMBER,ZIP CODE,RESIDENTIAL UNITS,COMMERCIAL UNITS,TOTAL UNITS,LAND SQUARE FEET,GROSS SQUARE FEET,YEAR BUILT,TAX CLASS AT TIME OF SALE,BUILDING CLASS AT TIME OF SALE,SALE PRICE,SALE DATE,SALE YEAR,SALE MONTH
647724,Queens,QUEENS VILLAGE,01 ONE FAMILY DWELLINGS,1,11139,68,A1,213-27 112 AVE,NaN,11429,1,0,1,0,0,1925,1,A1,470000,2015-12-31,2015,Dec
277913,Manhattan,UPPER EAST SIDE (79-96),10 COOPS - ELEVATOR APARTMENTS,2,1504,31,D4,"1160 PARK AVENUE, 4B 5B",NaN,10128,0,0,0,0,0,1926,2,D4,1847002,2011-09-30,2011,Sep
119360,Queens,CAMBRIA HEIGHTS,01 ONE FAMILY HOMES,1,11284,43,A1,115-10 221 STREET,NaN,11411,1,0,1,0,0,1940,1,A1,375000,2010-06-14,2010,Jun
543946,Queens,ELMHURST,03 THREE FAMILY DWELLINGS,1,1604,71,C0,94-23 CORONA AVENUE,NaN,11373,3,0,3,0,0,1965,1,C0,1080000,2014-04-03,2014,Apr
855536,Brooklyn,BUSHWICK,13 CONDOS - ELEVATOR APARTMENTS,2,3402,1032,R4,1255 BUSHWICK AVENUE,4C,11207,1,0,1,0,412,2017,2,R4,354900,2018-05-23,2018,May
656575,Staten Island,ELTINGVILLE,01 ONE FAMILY DWELLINGS,1,5680,164,A1,116 FORRESTAL AVENUE,NaN,10312,1,0,1,0,0,1980,1,A1,470000,2015-06-18,2015,Jun
464959,Queens,JAMAICA ESTATES,01 ONE FAMILY DWELLINGS,1,9958,25,A1,8617 SOMERSET STREET,NaN,11432,1,0,1,0,0,1950,1,A1,550000,2013-04-12,2013,Apr
607639,Manhattan,GREENWICH VILLAGE-CENTRAL,09 COOPS - WALKUP APARTMENTS,2,556,52,C6,"126 EAST 12TH STREET, 1D",NaN,10003,0,0,0,0,0,1900,2,C6,730000,2015-03-12,2015,Mar
194400,Manhattan,UPPER EAST SIDE (59-79),13 CONDOS - ELEVATOR APARTMENTS,2,1439,1099,R4,304 EAST 65TH STREET,21C,10065,1,0,1,0,0,1987,2,R4,999000,2008-08-14,2008,Aug
688061,Brooklyn,MIDWOOD,10 COOPS - ELEVATOR APARTMENTS,2,6701,47,D4,"1710 AVENUE H, AA1",NaN,11230,0,0,0,0,0,1937,2,D4,149310,2016-06-21,2016,Jun
168223,Brooklyn,OCEAN HILL,02 TWO FAMILY HOMES,1,1539,16,B3,144A HULL STREET,NaN,11233,2,0,2,0,0,1915,1,B3,610000,2008-11-20,2008,Nov
174662,Brooklyn,WINDSOR TERRACE,09 COOPS - WALKUP APARTMENTS,2,5275,36,C6,"47 REEVE PLACE, 2",NaN,11218,0,0,0,0,0,1931,2,C6,190000,2008-01-18,2008,Jan
598905,Brooklyn,PARK SLOPE,03 THREE FAMILY DWELLINGS,1,1094,13,C0,554 10TH STREET,NaN,11215,3,0,3,0,0,1910,1,C0,2250000,2015-09-17,2015,Sep
143957,Staten Island,WOODROW,01 ONE FAMILY HOMES,1,7106,197,A5,183 LORRAINE LOOP,NaN,10309,1,0,1,0,0,1990,1,A5,355100,2010-03-12,2010,Mar
374529,Queens,HAMMELS,13 CONDOS - ELEVATOR APARTMENTS,2,16169,1021,R4,96-10 SHORE FRONT PARKWAY,7A,11693,1,0,1,0,0,2009,2,R4,456000,2012-05-25,2012,May
784180,Brooklyn,WILLIAMSBURG-NORTH,13 CONDOS - ELEVATOR APARTMENTS,2,2297,1163,R4,125 NORTH 10TH STREET,N2E,11249,1,0,1,0,0,2009,2,R4,1447500,2017-08-29,2017,Aug
346143,Manhattan,MIDTOWN EAST,10 COOPS - ELEVATOR APARTMENTS,2,1328,21,D4,"245 EAST 54TH STREET, 4A-B",NaN,10022,0,0,0,0,0,1977,2,D4,980000,2012-12-05,2012,Dec
342594,Manhattan,GREENWICH VILLAGE-WEST,10 COOPS - ELEVATOR APARTMENTS,2,643,59,D4,"61 HORATIO STREET, 2A",NaN,10014,0,0,0,0,0,1925,2,D4,1200000,2012-08-28,2012,Aug
753810,Bronx,BRONXDALE,03 THREE FAMILY DWELLINGS,1,4605,34,C0,816 S OAK DRIVE,NaN,10467,3,0,3,0,0,1915,1,C0,495000,2017-08-22,2017,Aug
719299,Queens,BAYSIDE,10 COOPS - ELEVATOR APARTMENTS,2,5938,7,D4,"18-15 215TH STREET, 7J",NaN,11360,0,0,0,0,0,1969,2,D4,325000,2016-11-15,2016,Nov
589119,Brooklyn,CYPRESS HILLS,02 TWO FAMILY DWELLINGS,1,4119,38,B1,15 KIELY PLACE,NaN,11208,2,0,2,0,0,1901,1,B1,560000,2015-03-31,2015,Mar
554855,Queens,LONG ISLAND CITY,13 CONDOS - ELEVATOR APARTMENTS,2,267,1242,R4,26-26 JACKSON AVENUE,1201,11101,1,0,1,0,0,2007,2,R4,925000,2014-01-14,2014,Jan
549691,Queens,FOREST HILLS,10 COOPS - ELEVATOR APARTMENTS,2,3334,163,D4,"76-66 AUSTIN STREET, 5N",NaN,11375,0,0,0,0,0,1931,2,D4,180000,2014-10-29,2014,Oct
636143,Queens,FLUSHING-NORTH,03 THREE FAMILY DWELLINGS,1,4769,44,C0,25-40 PARSONS BLVD.,NaN,11354,3,0,3,0,0,1955,1,C0,895000,2015-10-19,2015,Oct
346450,Manhattan,MIDTOWN EAST,10 COOPS - ELEVATOR APARTMENTS,2,1350,1,D4,"303 EAST 57TH STREET, 37G",NaN,10022,0,0,0,0,0,1968,2,D4,1375000,2012-12-31,2012,Dec
559147,Queens,RIDGEWOOD,01 ONE FAMILY DWELLINGS,1,3552,32,A2,1644 GEORGE STREET,NaN,11385,1,0,1,0,958,1930,1,A2,370000,2014-05-28,2014,May
655266,Staten Island,ARDEN HEIGHTS,01 ONE FAMILY DWELLINGS,1,6028,18,A5,14 PRATT COURT,NaN,10312,1,0,1,640,980,1990,1,A5,240000,2015-12-16,2015,Dec
411589,Brooklyn,FLATBUSH-CENTRAL,10 COOPS - ELEVATOR APARTMENTS,2,5217,18,D4,"616 EAST 18TH STREET, 5B",NaN,11226,0,0,0,0,0,1961,2,D4,454000,2013-09-24,2013,Sep
914365,Queens,ST. ALBANS,01 ONE FAMILY DWELLINGS,1,10963,215,A5,205-11 111 ROAD,NaN,11412,1,0,1,0,0,1940,1,A5,310000,2018-08-24,2018,Aug
53087,Queens,FLUSHING-SOUTH,01 ONE FAMILY HOMES,1,6953,27,A1,71-09 165TH STREET,NaN,11365,1,0,1,0,0,1930,1,A1,500000,2009-04-13,2009,Apr
554549,Queens,LONG ISLAND CITY,02 TWO FAMILY DWELLINGS,1,85,58,S2,45-12 PEARSON STREET,NaN,11101,2,1,3,0,0,1880,1,S2,999999,2014-02-27,2014,Feb
876434,Manhattan,GREENWICH VILLAGE-CENTRAL,17 CONDO COOPS,2,573,1006,R9,"69 WEST 9TH STREET, 3JK",NaN,10011,0,0,0,0,0,1959,2,R9,1965000,2018-02-06,2018,Feb
819013,Queens,JACKSON HEIGHTS,10 COOPS - ELEVATOR APARTMENTS,2,1253,11,D4,"33-52 81ST STREET, 32",NaN,11372,0,0,0,0,0,1923,2,D4,985000,2017-08-09,2017,Aug
928049,Manhattan,GREENWICH VILLAGE-CENTRAL,17 CONDO COOPS,2,560,1203,R9,"60 EAST 9TH STREET, 331",NaN,10003,0,0,0,0,0,1954,2,R9,425000,2019-05-01,2019,May
757676,Bronx,RIVERDALE,10 COOPS - ELEVATOR APARTMENTS,2,5743,203,D4,"2550 INDEPENDENCE AVENUE, 4R",NaN,10463,0,0,0,0,0,1959,2,D4,195000,2017-09-20,2017,Sep
892203,Queens,BAYSIDE,10 COOPS - ELEVATOR APARTMENTS,2,5878,3,D4,"18-50 211TH STREET, 6C",NaN,11360,0,0,0,0,0,1961,2,D4,284000,2018-05-16,2018,May
453438,Queens,BRIARWOOD,13 CONDOS - ELEVATOR APARTMENTS,2,9712,1115,R4,141-16 84TH DRIVE,1B,11435,1,0,1,0,0,2009,2,R4,300000,2013-07-24,2013,Jul
39628,Manhattan,UPPER EAST SIDE (59-79),17 CONDOPS,2,1449,1302,R9,"343 EAST 74TH STREET, UNIT2",NaN,10021,0,0,0,0,0,1986,2,R9,950000,2009-07-23,2009,Jul
693264,Brooklyn,SUNSET PARK,03 THREE FAMILY DWELLINGS,1,773,23,C0,338 48TH STREET,NaN,11220,3,0,3,0,0,1910,1,C0,950000,2016-08-30,2016,Aug
308678,Staten Island,WOODROW,01 ONE FAMILY HOMES,1,7355,34,A1,61 CHURCHILL AVENUE,NaN,10309,1,0,1,0,0,2001,1,A1,705000,2011-12-22,2011,Dec
322381,Brooklyn,CROWN HEIGHTS,03 THREE FAMILY HOMES,1,1248,32,C0,908 STERLING PLACE,NaN,11216,3,0,3,0,0,1901,1,C0,440000,2012-04-17,2012,Apr
543483,Queens,EAST ELMHURST,02 TWO FAMILY DWELLINGS,1,1093,49,B9,23-53 99 STREET,NaN,11369,2,0,2,0,0,1945,1,B9,670000,2014-12-22,2014,Dec
161004,Brooklyn,DOWNTOWN-METROTECH,13 CONDOS - ELEVATOR APARTMENTS,2,2058,1026,R4,101 WILLOUGHBY STREET,3H,11201,1,0,1,0,0,1800,2,R4,560037,2008-08-06,2008,Aug
712680,Manhattan,UPPER EAST SIDE (79-96),10 COOPS - ELEVATOR APARTMENTS,2,1590,30,D4,"10 GRACIE SQUARE, 3A",NaN,10028,0,0,0,0,0,1930,2,D4,10000000,2016-01-14,2016,Jan
551447,Queens,HOLLISWOOD,10 COOPS - ELEVATOR APARTMENTS,2,10535,50,D4,"204-15 FOOTHILL AVENUE, B46",NaN,11423,0,0,0,0,0,1953,2,D4,110000,2014-07-16,2014,Jul
322351,Brooklyn,CROWN HEIGHTS,03 THREE FAMILY HOMES,1,1203,58,C0,1461 PACIFIC STREET,NaN,11216,3,0,3,0,0,1920,1,C0,740000,2012-09-27,2012,Sep
58570,Queens,LONG ISLAND CITY,10 COOPS - ELEVATOR APARTMENTS,2,341,1,D4,"35-55 29TH STREET, 2K",NaN,11106,0,0,0,0,0,1929,2,D4,285000,2009-02-10,2009,Feb
730050,Queens,HOLLIS HILLS,10 COOPS - ELEVATOR APARTMENTS,2,7912,50,D4,"226-26 UNION TURNPIKE, 2-M",NaN,11364,0,0,0,0,0,1956,2,D4,347500,2016-10-13,2016,Oct
507157,Brooklyn,MIDWOOD,01 ONE FAMILY DWELLINGS,1,7587,78,A1,978 EAST 24TH STREET,NaN,11210,1,0,1,0,0,1925,1,A1,1600000,2014-06-12,2014,Jun
716224,Manhattan,UPPER WEST SIDE (96-116),13 CONDOS - ELEVATOR APARTMENTS,2,1871,1022,R4,245 WEST 99TH STREET,NaN,10025,1,0,1,0,0,2006,2,R4,3550000,2016-11-29,2016,Nov

In [289]:
#inspect contents of building class at time of sale again to see what remains.
building_class_sale = combined.loc[:,'BUILDING CLASS AT TIME OF SALE'].unique().tolist()
#building_class_sale

In [290]:
#inspect contents of building class category again.
building_class = combined.loc[:,'BUILDING CLASS CATEGORY'].unique().tolist()
building_class

['13  CONDOS - ELEVATOR APARTMENTS',
 '10  COOPS - ELEVATOR APARTMENTS',
 '13 CONDOS - ELEVATOR APARTMENTS',
 '16  CONDOS - 2-10 UNIT WITH COMMERCIAL UNIT',
 '09 COOPS - WALKUP APARTMENTS',
 '10 COOPS - ELEVATOR APARTMENTS',
 '01 ONE FAMILY DWELLINGS',
 '15 CONDOS - 2-10 UNIT RESIDENTIAL',
 '17  CONDOPS',
 '01  ONE FAMILY DWELLINGS',
 '17 CONDO COOPS',
 '01  ONE FAMILY HOMES',
 '17  CONDO COOPS',
 '02  TWO FAMILY HOMES',
 '02 TWO FAMILY DWELLINGS',
 '09  COOPS - WALKUP APARTMENTS',
 '02  TWO FAMILY DWELLINGS',
 '12  CONDOS - WALKUP APARTMENTS',
 '15  CONDOS - 2-10 UNIT RESIDENTIAL',
 '16 CONDOS - 2-10 UNIT WITH COMMERCIAL UNIT',
 '03 THREE FAMILY DWELLINGS',
 '04  TAX CLASS 1 CONDOS',
 '03  THREE FAMILY DWELLINGS',
 '03  THREE FAMILY HOMES',
 '12 CONDOS - WALKUP APARTMENTS',
 '06 TAX CLASS 1 - OTHER',
 '04 TAX CLASS 1 CONDOS',
 '06  TAX CLASS 1 - OTHER',
 '11  SPECIAL CONDO BILLING LOTS']

In [61]:
#combined.loc[combined['BUILDING CLASS CATEGORY'] == '01 ONE FAMILY DWELLINGS']

**Cleanup building class to filter out any remaining non-residential buildings, and create
a 'TYPE' column to designated Condo vs. Co-op vs. Other**

In [ ]:
#combined = combined.loc[combined["BUILDING CLASS CATEGORY"].str.contains('RELIGIOUS|06')==False]

In [291]:
#CREATE 'TYPE' COLUMN WHICH SHOWS THE BUILDING TYPE (CONDO VS CO-OP VS OTHER)
combined['Type'] = np.where(combined['BUILDING CLASS CATEGORY'].str.contains('CONDO COOPS|17'),\
                'Condop', np.where(combined['BUILDING CLASS CATEGORY'].str.contains('CONDO'),\
                'Condo',np.where(combined['BUILDING CLASS CATEGORY'].str.contains('DWELLING'),'Townhouse',\
                 np.where(combined['BUILDING CLASS CATEGORY'].str.contains('HOMES'),'House',\
                 np.where(combined['BUILDING CLASS CATEGORY'].str.contains('COOP'),'Co-op','Other')))))

In [292]:
combined.loc[:,'Type'] = combined.loc[:,'Type'].astype('category')

In [293]:
combined['Type'].unique().tolist()

['Condo', 'Co-op', 'Townhouse', 'Condop', 'House', 'Other']

In [294]:
combined.columns

Index(['BOROUGH', 'NEIGHBORHOOD', 'BUILDING CLASS CATEGORY',
       'TAX CLASS AT PRESENT', 'BLOCK', 'LOT', 'BUILDING CLASS AT PRESENT',
       'ADDRESS', 'APARTMENT NUMBER', 'ZIP CODE', 'RESIDENTIAL UNITS',
       'COMMERCIAL UNITS', 'TOTAL UNITS', 'LAND SQUARE FEET',
       'GROSS SQUARE FEET', 'YEAR BUILT', 'TAX CLASS AT TIME OF SALE',
       'BUILDING CLASS AT TIME OF SALE', 'SALE PRICE', 'SALE DATE',
       'SALE YEAR', 'SALE MONTH', 'Type'],
      dtype='object')

In [295]:
combined[(combined['SALE YEAR'] == 2019) & (combined['Type'] == 'Condo')].count()

BOROUGH                           9769
NEIGHBORHOOD                      9769
BUILDING CLASS CATEGORY           9769
TAX CLASS AT PRESENT              9769
BLOCK                             9769
LOT                               9769
BUILDING CLASS AT PRESENT         9769
ADDRESS                           9769
APARTMENT NUMBER                  8764
ZIP CODE                          9769
RESIDENTIAL UNITS                 9769
COMMERCIAL UNITS                  9769
TOTAL UNITS                       9769
LAND SQUARE FEET                  9769
GROSS SQUARE FEET                 9769
YEAR BUILT                        9769
TAX CLASS AT TIME OF SALE         9769
BUILDING CLASS AT TIME OF SALE    9769
SALE PRICE                        9769
SALE DATE                         9769
SALE YEAR                         9769
SALE MONTH                        9769
Type                              9769
dtype: int64

**Null value and Zero value checking**

In [296]:
#what exactly is missing?
colnames = combined.columns.tolist()

for name in colnames:
    missing = np.sum(combined.loc[:,name].isnull())
    print(name, missing)

BOROUGH 0
NEIGHBORHOOD 0
BUILDING CLASS CATEGORY 0
TAX CLASS AT PRESENT 0
BLOCK 0
LOT 0
BUILDING CLASS AT PRESENT 0
ADDRESS 0
APARTMENT NUMBER 420135
ZIP CODE 0
RESIDENTIAL UNITS 0
COMMERCIAL UNITS 0
TOTAL UNITS 0
LAND SQUARE FEET 0
GROSS SQUARE FEET 0
YEAR BUILT 0
TAX CLASS AT TIME OF SALE 0
BUILDING CLASS AT TIME OF SALE 0
SALE PRICE 0
SALE DATE 0
SALE YEAR 0
SALE MONTH 0
Type 0

In [297]:
#what has a zero value?
(combined == 0).sum(axis = 0)

BOROUGH                                0
NEIGHBORHOOD                           0
BUILDING CLASS CATEGORY                0
TAX CLASS AT PRESENT                   0
BLOCK                                  0
LOT                                    0
BUILDING CLASS AT PRESENT              0
ADDRESS                                0
APARTMENT NUMBER                       0
ZIP CODE                            1864
RESIDENTIAL UNITS                 173809
COMMERCIAL UNITS                  551225
TOTAL UNITS                       173261
LAND SQUARE FEET                  552870
GROSS SQUARE FEET                 533739
YEAR BUILT                         41238
TAX CLASS AT TIME OF SALE              0
BUILDING CLASS AT TIME OF SALE         0
SALE PRICE                             0
SALE DATE                              0
SALE YEAR                              0
SALE MONTH                             0
Type                                   0
dtype: int64

In [ ]:
#Check out what the building type is for rows that have 0 sq feet.
#combined.loc[(combined['LAND SQUARE FEET'] == 0)|(combined['GROSS SQUARE FEET'] ==0)].sample(50)

**Calculate age of building and categorize as war vs. pre-war**

In [298]:
combined['Construction'] = np.where((combined['YEAR BUILT'] >= 1898) & (combined['YEAR BUILT'] <= 1939),'Prewar',\
                           np.where((combined['YEAR BUILT'] >= 1940) & (combined['YEAR BUILT'] <= 1950),'War',\
                           np.where((combined['YEAR BUILT'] > 0) & (combined['YEAR BUILT'] < 1898),'Pre-prewar','Postwar')))

In [299]:
combined.loc[:,'Construction'] = combined.loc[:,'Construction'].astype('category')

In [300]:
combined['Current Age'] = np.where(((2019 - combined['YEAR BUILT']) == 2019), 0, (2019 - combined['YEAR BUILT']))

In [301]:
#purchase year vs. year built
combined['Sale_Year_Diff'] = np.where((combined['YEAR BUILT'] == 0), 0, combined['SALE YEAR'] - combined['YEAR BUILT'])

In [ ]:
#combined.sample(250)

**Remove rows that are complete duplicates of each other (below returns only duplicates)**

In [302]:
dupes = combined.duplicated()
combined[dupes]

,BOROUGH,NEIGHBORHOOD,BUILDING CLASS CATEGORY,TAX CLASS AT PRESENT,BLOCK,LOT,BUILDING CLASS AT PRESENT,ADDRESS,APARTMENT NUMBER,ZIP CODE,RESIDENTIAL UNITS,COMMERCIAL UNITS,TOTAL UNITS,LAND SQUARE FEET,GROSS SQUARE FEET,YEAR BUILT,TAX CLASS AT TIME OF SALE,BUILDING CLASS AT TIME OF SALE,SALE PRICE,SALE DATE,SALE YEAR,SALE MONTH,Type,Construction,Current Age,Sale_Year_Diff
883415,Manhattan,UPPER EAST SIDE (59-79),09 COOPS - WALKUP APARTMENTS,2,1431,1,C6,1329 3 AVENUE,NaN,10075,0,0,0,0,0,1910,2,C6,163555828,2018-08-03,2018,Aug,Co-op,Prewar,109,108
930785,Manhattan,MIDTOWN CBD,13 CONDOS - ELEVATOR APARTMENTS,2,1292,1455,R4,"432 PARK AVENUE, 94",94,10022,0,0,0,0,0,2012,2,R4,31501890,2019-06-21,2019,Jun,Condo,Postwar,7,7
930790,Manhattan,MIDTOWN CBD,13 CONDOS - ELEVATOR APARTMENTS,2,1292,1456,R4,"432 PARK AVENUE, 95",95,10022,0,0,0,0,0,2012,2,R4,30691657,2019-01-29,2019,Jan,Condo,Postwar,7,7
954774,Brooklyn,GOWANUS,13 CONDOS - ELEVATOR APARTMENTS,2,1046,1012,R4,"554 4 AVENUE, 5B",5B,11215,0,0,0,0,661,2017,2,R4,29620207,2019-04-08,2019,Apr,Condo,Postwar,2,2
954794,Brooklyn,GOWANUS,13 CONDOS - ELEVATOR APARTMENTS,2,1046,1022,R4,"554 4 AVENUE, 7B",7B,11215,0,0,0,0,661,2017,2,R4,29620207,2019-04-08,2019,Apr,Condo,Postwar,2,2
954812,Brooklyn,GOWANUS,13 CONDOS - ELEVATOR APARTMENTS,2,1046,1031,R4,"554 4 AVENUE, 9A",9A,11215,0,0,0,0,698,2017,2,R4,29620207,2019-04-08,2019,Apr,Condo,Postwar,2,2
954763,Brooklyn,GOWANUS,13 CONDOS - ELEVATOR APARTMENTS,2,1046,1006,R4,"554 4 AVENUE, 4A",4A,11215,0,0,0,0,698,2017,2,R4,29620207,2019-04-08,2019,Apr,Condo,Postwar,2,2
954810,Brooklyn,GOWANUS,13 CONDOS - ELEVATOR APARTMENTS,2,1046,1030,R4,"554 4 AVENUE, 8E",8E,11215,0,0,0,0,726,2017,2,R4,29620207,2019-04-08,2019,Apr,Condo,Postwar,2,2
954791,Brooklyn,GOWANUS,13 CONDOS - ELEVATOR APARTMENTS,2,1046,1020,R4,"554 4 AVENUE, 6E",6E,11215,0,0,0,0,726,2017,2,R4,29620207,2019-04-08,2019,Apr,Condo,Postwar,2,2
954793,Brooklyn,GOWANUS,13 CONDOS - ELEVATOR APARTMENTS,2,1046,1021,R4,"554 4 AVENUE, 7A",7A,11215,0,0,0,0,698,2017,2,R4,29620207,2019-04-08,2019,Apr,Condo,Postwar,2,2
954759,Brooklyn,GOWANUS,13 CONDOS - ELEVATOR APARTMENTS,2,1046,1004,R4,"554 4 AVENUE, 3D",3D,11215,0,0,0,0,824,2017,2,R4,29620207,2019-04-08,2019,Apr,Condo,Postwar,2,2
954797,Brooklyn,GOWANUS,13 CONDOS - ELEVATOR APARTMENTS,2,1046,1023,R4,"554 4 AVENUE, 7C",7C,11215,0,0,0,0,733,2017,2,R4,29620207,2019-04-08,2019,Apr,Condo,Postwar,2,2
954805,Brooklyn,GOWANUS,13 CONDOS - ELEVATOR APARTMENTS,2,1046,1027,R4,"554 4 AVENUE, 8B",8B,11215,0,0,0,0,661,2017,2,R4,29620207,2019-04-08,2019,Apr,Condo,Postwar,2,2
954767,Brooklyn,GOWANUS,13 CONDOS - ELEVATOR APARTMENTS,2,1046,1008,R4,"554 4 AVENUE, 4C",4C,11215,0,0,0,0,721,2017,2,R4,29620207,2019-04-08,2019,Apr,Condo,Postwar,2,2
954769,Brooklyn,GOWANUS,13 CONDOS - ELEVATOR APARTMENTS,2,1046,1009,R4,"554 4 AVENUE, 4D",4D,11215,0,0,0,0,728,2017,2,R4,29620207,2019-04-08,2019,Apr,Condo,Postwar,2,2
954802,Brooklyn,GOWANUS,13 CONDOS - ELEVATOR APARTMENTS,2,1046,1026,R4,"554 4 AVENUE, 8A",8A,11215,0,0,0,0,698,2017,2,R4,29620207,2019-04-08,2019,Apr,Condo,Postwar,2,2
954771,Brooklyn,GOWANUS,13 CONDOS - ELEVATOR APARTMENTS,2,1046,1010,R4,"554 4 AVENUE, 4E",4E,11215,0,0,0,0,726,2017,2,R4,29620207,2019-04-08,2019,Apr,Condo,Postwar,2,2
954772,Brooklyn,GOWANUS,13 CONDOS - ELEVATOR APARTMENTS,2,1046,1011,R4,"554 4 AVENUE, 5A",5A,11215,0,0,0,0,698,2017,2,R4,29620207,2019-04-08,2019,Apr,Condo,Postwar,2,2
954831,Brooklyn,GOWANUS,13 CONDOS - ELEVATOR APARTMENTS,2,1046,1040,R4,"554 4 AVENUE, 11B",11B,11215,0,0,0,0,0,2017,2,R4,29620207,2019-04-08,2019,Apr,Condo,Postwar,2,2
954807,Brooklyn,GOWANUS,13 CONDOS - ELEVATOR APARTMENTS,2,1046,1028,R4,"554 4 AVENUE, 8C",8C,11215,0,0,0,0,721,2017,2,R4,29620207,2019-04-08,2019,Apr,Condo,Postwar,2,2
954752,Brooklyn,GOWANUS,13 CONDOS - ELEVATOR APARTMENTS,2,1046,1001,R4,"554 4 AVENUE, 3A",3A,11215,0,0,0,0,698,2017,2,R4,29620207,2019-04-08,2019,Apr,Condo,Postwar,2,2
954828,Brooklyn,GOWANUS,13 CONDOS - ELEVATOR APARTMENTS,2,1046,1039,R4,"554 4 AVENUE, 11A",11A,11215,0,0,0,0,0,2017,2,R4,29620207,2019-04-08,2019,Apr,Condo,Postwar,2,2
954755,Brooklyn,GOWANUS,13 CONDOS - ELEVATOR APARTMENTS,2,1046,1002,R4,"554 4 AVENUE, 3B",3B,11215,0,0,0,0,661,2017,2,R4,29620207,2019-04-08,2019,Apr,Condo,Postwar,2,2
954756,Brooklyn,GOWANUS,13 CONDOS - ELEVATOR APARTMENTS,2,1046,1003,R4,"554 4 AVENUE, 3C",3C,11215,0,0,0,0,799,2017,2,R4,29620207,2019-04-08,2019,Apr,Condo,Postwar,2,2
954826,Brooklyn,GOWANUS,13 CONDOS - ELEVATOR APARTMENTS,2,1046,1038,R4,"554 4 AVENUE, 10C",10C,11215,0,0,0,0,0,2017,2,R4,29620207,2019-04-08,2019,Apr,Condo,Postwar,2,2
954800,Brooklyn,GOWANUS,13 CONDOS - ELEVATOR APARTMENTS,2,1046,1025,R4,"554 4 AVENUE, 7E",7E,11215,0,0,0,0,726,2017,2,R4,29620207,2019-04-08,2019,Apr,Condo,Postwar,2,2
954808,Brooklyn,GOWANUS,13 CONDOS - ELEVATOR APARTMENTS,2,1046,1029,R4,"554 4 AVENUE, 8D",8D,11215,0,0,0,0,728,2017,2,R4,29620207,2019-04-08,2019,Apr,Condo,Postwar,2,2
954799,Brooklyn,GOWANUS,13 CONDOS - ELEVATOR APARTMENTS,2,1046,1024,R4,"554 4 AVENUE, 7D",7D,11215,0,0,0,0,699,2017,2,R4,29620207,2019-04-08,2019,Apr,Condo,Postwar,2,2
954788,Brooklyn,GOWANUS,13 CONDOS - ELEVATOR APARTMENTS,2,1046,1019,R4,"554 4 AVENUE, 6D",6D,11215,0,0,0,0,728,2017,2,R4,29620207,2019-04-08,2019,Apr,Condo,Postwar,2,2
954765,Brooklyn,GOWANUS,13 CONDOS - ELEVATOR APARTMENTS,2,1046,1007,R4,"554 4 AVENUE, 4B",4B,11215,0,0,0,0,661,2017,2,R4,29620207,2019-04-08,2019,Apr,Condo,Postwar,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
686607,Brooklyn,KENSINGTON,03 THREE FAMILY DWELLINGS,1,5341,1,C0,800 CHURCH AVENUE,NaN,11218,3,0,3,0,0,1915,1,C0,125000,2016-01-29,2016,Jan,Townhouse,Prewar,104,101
301947,Queens,SPRINGFIELD GARDENS,01 ONE FAMILY HOMES,1,12983,45,A1,131-32 MERRICK BOULEVARD,NaN,11434,1,0,1,0,866,1920,1,A1,125000,2011-01-27,2011,Jan,House,Prewar,99,91
888341,Manhattan,UPPER WEST SIDE (79-96),10 COOPS - ELEVATOR APARTMENTS,2,1195,29,D4,211 CENTRAL PARK WEST,NaN,10024,0,0,0,0,0,1929,2,D4,124347,2018-12-04,2018,Dec,Co-op,Prewar,90,89
94296,Brooklyn,OCEAN PARKWAY-SOUTH,02 TWO FAMILY HOMES,1,7127,1,B1,2117 WEST STREET,NaN,11223,2,0,2,0,0,1930,1,B1,122132,2010-11-09,2010,Nov,House,Prewar,89,80
94305,Brooklyn,OCEAN PARKWAY-SOUTH,02 TWO FAMILY HOMES,1,7127,1,B1,2117 WEST STREET,NaN,11223,2,0,2,0,0,1930,1,B1,122132,2010-11-09,2010,Nov,House,Prewar,89,80
839057,Staten Island,ROSSVILLE,04 TAX CLASS 1 CONDOS,1A,7055,1115,R3,14 MEADOW COURT,NaN,10309,1,0,1,0,0,1985,1,R3,121500,2017-10-03,2017,Oct,Condo,Postwar,34,32
883701,Manhattan,UPPER EAST SIDE (59-79),10 COOPS - ELEVATOR APARTMENTS,2,1401,20,D4,131 EAST 66TH STREET,NaN,10065,0,0,0,0,0,1907,2,D4,120000,2018-03-29,2018,Mar,Co-op,Prewar,112,111
443758,Manhattan,UPPER EAST SIDE (59-79),17 CONDO COOPS,2,1409,1103,R9,"1040 LEXINGTON AVENUE, 9B",NaN,10021,0,0,0,0,0,1929,2,R9,119000,2013-04-29,2013,Apr,Condop,Prewar,90,84
19730,Brooklyn,MIDWOOD,10 COOPS - ELEVATOR APARTMENTS,2,7682,16,D4,"2821 KINGS HIGHWAY, 2N",NaN,11229,0,0,0,0,0,1950,2,D4,118000,2009-09-10,2009,Sep,Co-op,War,69,59
673177,Brooklyn,BENSONHURST,02 TWO FAMILY DWELLINGS,1,6295,16,B2,1624 81ST STREET,NaN,11214,2,0,2,0,0,1945,1,B2,116346,2016-06-27,2016,Jun,Townhouse,War,74,71
315559,Brooklyn,BEDFORD STUYVESANT,03 THREE FAMILY HOMES,1,1639,55,C0,519 MADISON STREET,NaN,11221,3,0,3,0,0,1910,1,C0,116250,2012-01-25,2012,Jan,House,Prewar,109,102
58214,Queens,LAURELTON,09 COOPS - WALKUP APARTMENTS,2,12945,2,C6,"131-60 LAURELTON PARKWAY, UPPER",NaN,11422,0,0,0,0,0,1950,2,C6,115000,2009-10-22,2009,Oct,Co-op,War,69,59
478347,Staten Island,GREAT KILLS-BAY TERRACE,09 COOPS - WALKUP APARTMENTS,2,5090,35,C6,"24 BAY TERRACE, 1C",NaN,10306,0,0,0,0,0,1977,2,C6,115000,2013-11-04,2013,Nov,Co-op,Postwar,42,36
976199,Queens,RICHMOND HILL,06 TAX CLASS 1 - OTHER,1,9615,14,G0,107-16 VAN WYCK EXPRESSWAY,NaN,11419,0,0,0,0,0,1950,1,G0,115000,2019-05-06,2019,May,Other,War,69,69
722284,Queens,ELMHURST,02 TWO FAMILY DWELLINGS,1,1353,41,B9,42-18 74TH STREET,NaN,11373,2,0,2,0,0,1931,1,B9,112857,2016-03-11,2016,Mar,Townhouse,Prewar,88,85
722286,Queens,ELMHURST,02 TWO FAMILY DWELLINGS,1,1353,41,B9,42-18 74TH STREET,NaN,11373,2,0,2,0,0,1931,1,B9,112857,2016-03-11,2016,Mar,Townhouse,Prewar,88,85
722282,Queens,ELMHURST,02 TWO FAMILY DWELLINGS,1,1353,41,B9,42-18 74TH STREET,NaN,11373,2,0,2,0,0,1931,1,B9,112857,2016-03-11,2016,Mar,Townhouse,Prewar,88,85
722287,Queens,ELMHURST,02 TWO FAMILY DWELLINGS,1,1353,41,B9,42-18 74TH STREET,NaN,11373,2,0,2,0,0,1931,1,B9,112857,2016-03-11,2016,Mar,Townhouse,Prewar,88,85
722283,Queens,ELMHURST,02 TWO FAMILY DWELLINGS,1,1353,41,B9,42-18 74TH STREET,NaN,11373,2,0,2,0,0,1931,1,B9,112857,2016-03-11,2016,Mar,Townhouse,Prewar,88,85
722285,Queens,ELMHURST,02 TWO FAMILY DWELLINGS,1,1353,41,B9,42-18 74TH STREET,NaN,11373,2,0,2,0,0,1931,1,B9,112857,2016-03-11,2016,Mar,Townhouse,Prewar,88,85
471714,Queens,SO. JAMAICA-BAISLEY PARK,01 ONE FAMILY DWELLINGS,1,11980,52,A1,114-29 149TH STREET,NaN,11436,1,0,1,0,0,1925,1,A1,111000,2013-12-05,2013,Dec,Townhouse,Prewar,94,88
70908,Staten Island,HUGUENOT,02 TWO FAMILY HOMES,1,6315,30,B2,500 SHELDON AVENUE,NaN,10312,2,0,2,0,0,1992,1,B2,108371,2009-03-10,2009,Mar,House,Postwar,27,17
306531,Staten Island,NEW DORP-HEIGHTS,02 TWO FAMILY HOMES,1,945,17,B2,21 WALNUT PLACE,NaN,10306,2,0,2,0,0,1920,1,B2,108333,2011-03-30,2011,Mar,House,Prewar,99,91
306532,Staten Island,NEW DORP-HEIGHTS,02 TWO FAMILY HOMES,1,945,17,B2,21 WALNUT PLACE,NaN,10306,2,0,2,0,0,1920,1,B2,108333,2011-03-30,2011,Mar,House,Prewar,99,91
416683,Brooklyn,OCEAN HILL,02 TWO FAMILY DWELLINGS,1,1517,46,B9,451 MARION STREET,NaN,11233,2,0,2,0,0,1905,1,B9,103333,2013-02-14,2013,Feb,Townhouse,Prewar,114,108
126047,Queens,GLENDALE,01 ONE FAMILY HOMES,1,3716,33,A1,78-28 64TH STREET,NaN,11385,1,0,1,0,0,1930,1,A1,100000,2010-10-09,2010,Oct,House,Prewar,89,80
277865,Manhattan,UPPER EAST SIDE (79-96),10 COOPS - ELEVATOR APARTMENTS,2,1500,40,D4,"1088 PARK AVENUE, 8C",NaN,10128,0,0,0,0,0,1925,2,D4,100000,2011-10-21,2011,Oct,Co-op,Prewar,94,86
306453,Staten Island,NEW DORP-BEACH,01 ONE FAMILY HOMES,1,4082,16,A1,45 MAPLE TERRACE,NaN,10306,1,0,1,0,924,1925,1,A1,100000,2011-11-22,2011,Nov,House,Prewar,94,86
287987,Queens,FLUSHING-NORTH,01 ONE FAMILY HOMES,1,5249,66,A2,33-46 165 STREET,NaN,11358,1,0,1,0,0,1950,1,A2,100000,2011-02-07,2011,Feb,House,War,69,61
327460,Brooklyn,GERRITSEN BEACH,01 ONE FAMILY HOMES,1,8827,38,A5,2442 GERRITSEN AVENUE,NaN,11229,1,0,1,0,0,1960,1,A5,100000,2012-09-28,2012,Sep,House,Postwar,59,52

In [303]:
#number of dupes
sum(dupes)

1722

In [304]:
combined.drop_duplicates(inplace = True)

In [305]:
combined.shape

(557122, 26)

## **Address Processing**

In [ ]:
#take away extra spaces that may be in some rows under ADDRESS
#combined['ADDRESS'] = combined['ADDRESS'].str.strip()

In [306]:
combined = combined.loc[combined["NEIGHBORHOOD"].str.contains('UNKNOWN')==False]

In [307]:
combined['Base_Address'] = np.where(combined['ADDRESS'].str.contains(',NY,NY|.NY,NY|,NY'),combined['ADDRESS'].str.split(',').str[0],combined['ADDRESS'])
#test1['addresstest'] = np.where(test1['ADDRESS'].str.contains('.NY'),test1['ADDRESS'].str.split('.').str[0],test1['ADDRESS'])

In [308]:
combined['Base_Address'] = combined['Base_Address'].str.strip().str.replace('NY,NY| NY,NY|NY, NY|, NY|NY, N|NY','', regex = True)

In [309]:
combined['Base_Address'] = np.where(combined['Base_Address'].str.contains('.NY'),combined['Base_Address'].str.split('.').str[0],combined['Base_Address'])

In [310]:
combined['Base_Address'] = np.where(combined['Base_Address'].str.contains('STREET') == False, combined['Base_Address'].str.strip().str.replace('ST.',' STREET', regex = False),combined['Base_Address'])

In [311]:
combined['Base_Address'] = np.where(combined['Base_Address'].str.contains('STREET') == False, combined['Base_Address'].str.strip().str.replace(' ST',' STREET', regex = False),combined['Base_Address'])

In [312]:
#Base_Address will be used to populate Building Address (excludes Apt. No) and Main_Address, which
#is either Building Address or Building Address plus Apt. No (which was extracted from either the Address
#or Apartment Number columns, whichever contained. If both contained, Apartment Number has the priority.
#this will be used for apartment sales filtering later on.

combined['Building_Address'] = combined['Base_Address'].str.split(',').str[0].str.strip()
combined['Apt_No'] = combined['Base_Address'].str.split(',').str[1]
combined['Apt_No'][combined['Apt_No'].isnull()] = combined['APARTMENT NUMBER'][combined['Apt_No'].isnull()]
combined['Apt_No'][(combined['Apt_No'].isnull()) | (combined['Apt_No'] =='nan')] = ''
#set all of the Apt Nos that contain some variant of 'RES' as NaN
combined['Apt_No'][combined['Apt_No'].str.contains('RES', na = False)] = ''
#combined Building_Address and #Apt_No to make a complete_address.
combined['Main_Address'] = (combined['Building_Address'] + ', ' + combined['Apt_No']).str.rstrip(', ').str.strip()

#revert Apt_Nos that are empty string back to null
combined['Apt_No'][combined['Apt_No']=='']=np.nan

//anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

//anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':
//anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # This is added back by InteractiveShellApp.init_path()
//anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()

In [537]:
#what is the sales volume. Filter to determine possible apt. no. mistmatch, where co-ops don't have apt. number populated

#combined.loc[(combined['Type'] == 'Condo')|(combined['Type'] == 'Condop')|(combined['Type'] == 'Co-op')].groupby('Main_Address').size().sort_values(ascending = False)

In [538]:
#what is the sales volume. Filter to determine possible apt. no. mistmatch, where co-ops don't have apt. number populated

#combined.loc[(combined['Type'] == 'Condo')|(combined['Type'] == 'Condop')|(combined['Type'] == 'Co-op')].groupby('Building_Address').size().sort_values(ascending = False)

In [539]:
#which condos are the most transacted

#combined.loc[~combined['Apt_No'].isnull()][(combined['Type'] == 'Condo')].groupby('Main_Address').size().sort_values(ascending = False)

In [541]:
#combined.loc[~combined['Apt_No'].isnull()]

In [540]:
#combined.loc[combined['ADDRESS'].str.contains('20 PINE', na = False)]

In [95]:
combined.loc[combined['Apt_No'].str.contains('RES', na = False)]

Empty DataFrame
Columns: [BOROUGH, NEIGHBORHOOD, BUILDING CLASS CATEGORY, TAX CLASS AT PRESENT, BLOCK, LOT, BUILDING CLASS AT PRESENT, ADDRESS, APARTMENT NUMBER, ZIP CODE, RESIDENTIAL UNITS, COMMERCIAL UNITS, TOTAL UNITS, LAND SQUARE FEET, GROSS SQUARE FEET, YEAR BUILT, TAX CLASS AT TIME OF SALE, BUILDING CLASS AT TIME OF SALE, SALE PRICE, SALE DATE, SALE YEAR, SALE MONTH, Type, Construction, Current Age, Sale_Year_Diff, Base_Address, Building_Address, Apt_No, Main_Address]
Index: []

In [313]:
combined.loc[:,'Main_Address'] = combined.loc[:,'Main_Address'].str.strip()

In [206]:
combined.loc[combined['ADDRESS'].str.contains('551 MAIN STREET', na = False)]

,BOROUGH,NEIGHBORHOOD,BUILDING CLASS CATEGORY,TAX CLASS AT PRESENT,BLOCK,LOT,BUILDING CLASS AT PRESENT,ADDRESS,APARTMENT NUMBER,ZIP CODE,RESIDENTIAL UNITS,COMMERCIAL UNITS,TOTAL UNITS,LAND SQUARE FEET,GROSS SQUARE FEET,YEAR BUILT,TAX CLASS AT TIME OF SALE,BUILDING CLASS AT TIME OF SALE,SALE PRICE,SALE DATE,SALE YEAR,SALE MONTH,Type,Construction,Current Age,Sale_Year_Diff,Base_Address,Building_Address,Apt_No,Main_Address
795689,Manhattan,ROOSEVELT ISLAND,17 CONDO COOPS,2,1373,1901,R9,"551 MAIN STREET, RES",NaN,10044,0,0,0,0,0,1975,2,R9,1816028,2017-10-24,2017,Oct,Condop,Postwar,44,42,"551 MAIN STREET, RES",551 MAIN STREET,NaN,551 MAIN STREET
882399,Manhattan,ROOSEVELT ISLAND,17 CONDO COOPS,2,1373,1901,R9,"551 MAIN STREET, RES",NaN,10044,0,0,0,0,0,1975,2,R9,1727483,2018-07-10,2018,Jul,Condop,Postwar,44,43,"551 MAIN STREET, RES",551 MAIN STREET,NaN,551 MAIN STREET
882397,Manhattan,ROOSEVELT ISLAND,17 CONDO COOPS,2,1373,1901,R9,"551 MAIN STREET, RES",NaN,10044,0,0,0,0,0,1975,2,R9,1464532,2018-05-07,2018,May,Condop,Postwar,44,43,"551 MAIN STREET, RES",551 MAIN STREET,NaN,551 MAIN STREET
711534,Manhattan,UPPER EAST SIDE (59-79),17 CONDO COOPS,2,1373,1901,R9,"551 MAIN STREET, RES",NaN,10044,0,0,0,0,0,1975,2,R9,1427844,2016-08-24,2016,Aug,Condop,Postwar,44,41,"551 MAIN STREET, RES",551 MAIN STREET,NaN,551 MAIN STREET
932771,Manhattan,ROOSEVELT ISLAND,17 CONDO COOPS,2,1373,1901,R9,"551 MAIN STREET, RES",NaN,10044,0,0,0,0,0,1975,2,R9,1380926,2019-05-15,2019,May,Condop,Postwar,44,44,"551 MAIN STREET, RES",551 MAIN STREET,NaN,551 MAIN STREET
711540,Manhattan,UPPER EAST SIDE (59-79),17 CONDO COOPS,2,1373,1901,R9,"551 MAIN STREET, RES",NaN,10044,0,0,0,0,0,1975,2,R9,1363036,2016-11-03,2016,Nov,Condop,Postwar,44,41,"551 MAIN STREET, RES",551 MAIN STREET,NaN,551 MAIN STREET
795680,Manhattan,ROOSEVELT ISLAND,17 CONDO COOPS,2,1373,1901,R9,"551 MAIN STREET, RES",NaN,10044,0,0,0,0,0,1975,2,R9,1280657,2017-05-30,2017,May,Condop,Postwar,44,42,"551 MAIN STREET, RES",551 MAIN STREET,NaN,551 MAIN STREET
882393,Manhattan,ROOSEVELT ISLAND,17 CONDO COOPS,2,1373,1901,R9,"551 MAIN STREET, RES",NaN,10044,0,0,0,0,0,1975,2,R9,1276585,2018-05-02,2018,May,Condop,Postwar,44,43,"551 MAIN STREET, RES",551 MAIN STREET,NaN,551 MAIN STREET
711517,Manhattan,UPPER EAST SIDE (59-79),17 CONDO COOPS,2,1373,1901,R9,"551 MAIN STREET, RES",NaN,10044,0,0,0,0,0,1975,2,R9,1263636,2016-03-28,2016,Mar,Condop,Postwar,44,41,"551 MAIN STREET, RES",551 MAIN STREET,NaN,551 MAIN STREET
711525,Manhattan,UPPER EAST SIDE (59-79),17 CONDO COOPS,2,1373,1901,R9,"551 MAIN STREET, RES",NaN,10044,0,0,0,0,0,1975,2,R9,1234158,2016-05-26,2016,May,Condop,Postwar,44,41,"551 MAIN STREET, RES",551 MAIN STREET,NaN,551 MAIN STREET
711513,Manhattan,UPPER EAST SIDE (59-79),17 CONDO COOPS,2,1373,1901,R9,"551 MAIN STREET, RES",NaN,10044,0,0,0,0,0,1975,2,R9,1230750,2016-03-08,2016,Mar,Condop,Postwar,44,41,"551 MAIN STREET, RES",551 MAIN STREET,NaN,551 MAIN STREET
711536,Manhattan,UPPER EAST SIDE (59-79),17 CONDO COOPS,2,1373,1901,R9,"551 MAIN STREET, RES",NaN,10044,0,0,0,0,0,1975,2,R9,1129275,2016-09-07,2016,Sep,Condop,Postwar,44,41,"551 MAIN STREET, RES",551 MAIN STREET,NaN,551 MAIN STREET
795687,Manhattan,ROOSEVELT ISLAND,17 CONDO COOPS,2,1373,1901,R9,"551 MAIN STREET, RES",NaN,10044,0,0,0,0,0,1975,2,R9,1126624,2017-08-01,2017,Aug,Condop,Postwar,44,42,"551 MAIN STREET, RES",551 MAIN STREET,NaN,551 MAIN STREET
882394,Manhattan,ROOSEVELT ISLAND,17 CONDO COOPS,2,1373,1901,R9,"551 MAIN STREET, RES",NaN,10044,0,0,0,0,0,1975,2,R9,1124129,2018-01-11,2018,Jan,Condop,Postwar,44,43,"551 MAIN STREET, RES",551 MAIN STREET,NaN,551 MAIN STREET
795683,Manhattan,ROOSEVELT ISLAND,17 CONDO COOPS,2,1373,1901,R9,"551 MAIN STREET, RES",NaN,10044,0,0,0,0,0,1975,2,R9,1105693,2017-07-06,2017,Jul,Condop,Postwar,44,42,"551 MAIN STREET, RES",551 MAIN STREET,NaN,551 MAIN STREET
711530,Manhattan,UPPER EAST SIDE (59-79),17 CONDO COOPS,2,1373,1901,R9,"551 MAIN STREET, RES",NaN,10044,0,0,0,0,0,1975,2,R9,1082106,2016-07-06,2016,Jul,Condop,Postwar,44,41,"551 MAIN STREET, RES",551 MAIN STREET,NaN,551 MAIN STREET
795686,Manhattan,ROOSEVELT ISLAND,17 CONDO COOPS,2,1373,1901,R9,"551 MAIN STREET, RES",NaN,10044,0,0,0,0,0,1975,2,R9,1067653,2017-07-31,2017,Jul,Condop,Postwar,44,42,"551 MAIN STREET, RES",551 MAIN STREET,NaN,551 MAIN STREET
711515,Manhattan,UPPER EAST SIDE (59-79),17 CONDO COOPS,2,1373,1901,R9,"551 MAIN STREET, RES",NaN,10044,0,0,0,0,0,1975,2,R9,986650,2016-03-28,2016,Mar,Condop,Postwar,44,41,"551 MAIN STREET, RES",551 MAIN STREET,NaN,551 MAIN STREET
882395,Manhattan,ROOSEVELT ISLAND,17 CONDO COOPS,2,1373,1901,R9,"551 MAIN STREET, RES",NaN,10044,0,0,0,0,0,1975,2,R9,978176,2018-01-25,2018,Jan,Condop,Postwar,44,43,"551 MAIN STREET, RES",551 MAIN STREET,NaN,551 MAIN STREET
795665,Manhattan,ROOSEVELT ISLAND,17 CONDO COOPS,2,1373,1901,R9,"551 MAIN STREET, RES",NaN,10044,0,0,0,0,0,1975,2,R9,934171,2017-01-05,2017,Jan,Condop,Postwar,44,42,"551 MAIN STREET, RES",551 MAIN STREET,NaN,551 MAIN STREET
795684,Manhattan,ROOSEVELT ISLAND,17 CONDO COOPS,2,1373,1901,R9,"551 MAIN STREET, RES",NaN,10044,0,0,0,0,0,1975,2,R9,923864,2017-07-24,2017,Jul,Condop,Postwar,44,42,"551 MAIN STREET, RES",551 MAIN STREET,NaN,551 MAIN STREET
795676,Manhattan,ROOSEVELT ISLAND,17 CONDO COOPS,2,1373,1901,R9,"551 MAIN STREET, RES",NaN,10044,0,0,0,0,0,1975,2,R9,911392,2017-03-30,2017,Mar,Condop,Postwar,44,42,"551 MAIN STREET, RES",551 MAIN STREET,NaN,551 MAIN STREET
711512,Manhattan,UPPER EAST SIDE (59-79),17 CONDO COOPS,2,1373,1901,R9,"551 MAIN STREET, RES",NaN,10044,0,0,0,0,0,1975,2,R9,908266,2016-03-07,2016,Mar,Condop,Postwar,44,41,"551 MAIN STREET, RES",551 MAIN STREET,NaN,551 MAIN STREET
711521,Manhattan,UPPER EAST SIDE (59-79),17 CONDO COOPS,2,1373,1901,R9,"551 MAIN STREET, RES",NaN,10044,0,0,0,0,0,1975,2,R9,869074,2016-04-28,2016,Apr,Condop,Postwar,44,41,"551 MAIN STREET, RES",551 MAIN STREET,NaN,551 MAIN STREET
711522,Manhattan,UPPER EAST SIDE (59-79),17 CONDO COOPS,2,1373,1901,R9,"551 MAIN STREET, RES",NaN,10044,0,0,0,0,0,1975,2,R9,863126,2016-04-28,2016,Apr,Condop,Postwar,44,41,"551 MAIN STREET, RES",551 MAIN STREET,NaN,551 MAIN STREET
711543,Manhattan,UPPER EAST SIDE (59-79),17 CONDO COOPS,2,1373,1901,R9,"551 MAIN STREET, RES",NaN,10044,0,0,0,0,0,1975,2,R9,862837,2016-12-08,2016,Dec,Condop,Postwar,44,41,"551 MAIN STREET, RES",551 MAIN STREET,NaN,551 MAIN STREET
795666,Manhattan,ROOSEVELT ISLAND,17 CONDO COOPS,2,1373,1901,R9,"551 MAIN STREET, RES",NaN,10044,0,0,0,0,0,1975,2,R9,840692,2017-01-05,2017,Jan,Condop,Postwar,44,42,"551 MAIN STREET, RES",551 MAIN STREET,NaN,551 MAIN STREET
711546,Manhattan,UPPER EAST SIDE (59-79),17 CONDO COOPS,2,1373,1901,R9,"551 MAIN STREET, RES",NaN,10044,0,0,0,0,0,1975,2,R9,829932,2016-12-14,2016,Dec,Condop,Postwar,44,41,"551 MAIN STREET, RES",551 MAIN STREET,NaN,551 MAIN STREET
795674,Manhattan,ROOSEVELT ISLAND,17 CONDO COOPS,2,1373,1901,R9,"551 MAIN STREET, RES",NaN,10044,0,0,0,0,0,1975,2,R9,817383,2017-03-27,2017,Mar,Condop,Postwar,44,42,"551 MAIN STREET, RES",551 MAIN STREET,NaN,551 MAIN STREET
795672,Manhattan,ROOSEVELT ISLAND,17 CONDO COOPS,2,1373,1901,R9,"551 MAIN STREET, RES",NaN,10044,0,0,0,0,0,1975,2,R9,802109,2017-03-16,2017,Mar,Condop,Postwar,44,42,"551 MAIN STREET, RES",551 MAIN STREET,NaN,551 MAIN STREET
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
622314,Manhattan,UPPER EAST SIDE (59-79),17 CONDO COOPS,2,1373,1901,R9,"551 MAIN STREET, RES",NaN,10044,0,0,0,0,0,1975,2,R9,201643,2015-08-25,2015,Aug,Condop,Postwar,44,40,"551 MAIN STREET, RES",551 MAIN STREET,NaN,551 MAIN STREET
622330,Manhattan,UPPER EAST SIDE (59-79),17 CONDO COOPS,2,1373,1901,R9,"551 MAIN STREET, RES",NaN,10044,0,0,0,0,0,1975,2,R9,201643,2015-10-08,2015,Oct,Condop,Postwar,44,40,"551 MAIN STREET, RES",551 MAIN STREET,NaN,551 MAIN STREET
622315,Manhattan,UPPER EAST SIDE (59-79),17 CONDO COOPS,2,1373,1901,R9,"551 MAIN STREET, RES",NaN,10044,0,0,0,0,0,1975,2,R9,201643,2015-08-24,2015,Aug,Condop,Postwar,44,40,"551 MAIN STREET, RES",551 MAIN STREET,NaN,551 MAIN STREET
622221,Manhattan,UPPER EAST SIDE (59-79),17 CONDO COOPS,2,1373,1901,R9,"551 MAIN STREET, RES",NaN,10044,0,0,0,0,0,1975,2,R9,199814,2015-07-21,2015,Jul,Condop,Postwar,44,40,"551 MAIN STREET, RES",551 MAIN STREET,NaN,551 MAIN STREET
622320,Manhattan,UPPER EAST SIDE (59-79),17 CONDO COOPS,2,1373,1901,R9,"551 MAIN STREET, RES",NaN,10044,0,0,0,0,0,1975,2,R9,199774,2015-09-30,2015,Sep,Condop,Postwar,44,40,"551 MAIN STREET, RES",551 MAIN STREET,NaN,551 MAIN STREET
622332,Manhattan,UPPER EAST SIDE (59-79),17 CONDO COOPS,2,1373,1901,R9,"551 MAIN STREET, RES",NaN,10044,0,0,0,0,0,1975,2,R9,197937,2015-10-08,2015,Oct,Condop,Postwar,44,40,"551 MAIN STREET, RES",551 MAIN STREET,NaN,551 MAIN STREET
622369,Manhattan,UPPER EAST SIDE (59-79),17 CONDO COOPS,2,1373,1901,R9,"551 MAIN STREET, RES",NaN,10044,0,0,0,0,0,1975,2,R9,197937,2015-07-21,2015,Jul,Condop,Postwar,44,40,"551 MAIN STREET, RES",551 MAIN STREET,NaN,551 MAIN STREET
622201,Manhattan,UPPER EAST SIDE (59-79),17 CONDO COOPS,2,1373,1901,R9,"551 MAIN STREET, RES",NaN,10044,0,0,0,0,0,1975,2,R9,196107,2015-08-10,2015,Aug,Condop,Postwar,44,40,"551 MAIN STREET, RES",551 MAIN STREET,NaN,551 MAIN STREET
622212,Manhattan,UPPER EAST SIDE (59-79),17 CONDO COOPS,2,1373,1901,R9,"551 MAIN STREET, RES",NaN,10044,0,0,0,0,0,1975,2,R9,194230,2015-07-31,2015,Jul,Condop,Postwar,44,40,"551 MAIN STREET, RES",551 MAIN STREET,NaN,551 MAIN STREET
622240,Manhattan,UPPER EAST SIDE (59-79),17 CONDO COOPS,2,1373,1901,R9,"551 MAIN STREET, RES",NaN,10044,0,0,0,0,0,1975,2,R9,194230,2015-08-13,2015,Aug,Condop,Postwar,44,40,"551 MAIN STREET, RES",551 MAIN STREET,NaN,551 MAIN STREET
622392,Manhattan,UPPER EAST SIDE (59-79),17 CONDO COOPS,2,1373,1901,R9,"551 MAIN STREET, RES",NaN,10044,0,0,0,0,0,1975,2,R9,194230,2015-12-22,2015,Dec,Condop,Postwar,44,40,"551 MAIN STREET, RES",551 MAIN STREET,NaN,551 MAIN STREET
622250,Manhattan,UPPER EAST SIDE (59-79),17 CONDO COOPS,2,1373,1901,R9,"551 MAIN STREET, RES",NaN,10044,0,0,0,0,0,1975,2,R9,192401,2015-09-02,2015,Sep,Condop,Postwar,44,40,"551 MAIN STREET, RES",551 MAIN STREET,NaN,551 MAIN STREET
622361,Manhattan,UPPER EAST SIDE (59-79),17 CONDO COOPS,2,1373,1901,R9,"551 MAIN STREET, RES",NaN,10044,0,0,0,0,0,1975,2,R9,192401,2015-07-28,2015,Jul,Condop,Postwar,44,40,"551 MAIN STREET, RES",551 MAIN STREET,NaN,551 MAIN STREET
622223,Manhattan,UPPER EAST SIDE (59-79),17 CONDO COOPS,2,1373,1901,R9,"551 MAIN STREET, RES",NaN,10044,0,0,0,0,0,1975,2,R9,192401,2015-08-13,2015,Aug,Condop,Postwar,44,40,"551 MAIN STREET, RES",551 MAIN STREET,NaN,551 MAIN STREET
622262,Manhattan,UPPER EAST SIDE (59-79),17 CONDO COOPS,2,1373,1901,R9,"551 MAIN STREET, RES",NaN,10044,0,0,0,0,0,1975,2,R9,190523,2015-08-25,2015,Aug,Condop,Postwar,44,40,"551 MAIN STREET, RES",551 MAIN STREET,NaN,551 MAIN STREET
622232,Manhattan,UPPER EAST SIDE (59-79),17 CONDO COOPS,2,1373,1901,R9,"551 MAIN STREET, RES",NaN,10044,0,0,0,0,0,1975,2,R9,181917,2015-08-17,2015,Aug,Condop,Postwar,44,40,"551 MAIN STREET, RES",551 MAIN STREET,NaN,551 MAIN STREET
622326,Manhattan,UPPER EAST SIDE (59-79),17 CONDO COOPS,2,1373,1901,R9,"551 MAIN STREET, RES",NaN,10044,0,0,0,0,0,1975,2,R9,181917,2015-09-21,2015,Sep,Condop,Postwar,44,40,"551 MAIN STREET, RES",551 MAIN STREET,NaN,551 MAIN STREET
622269,Manhattan,UPPER EAST SIDE (59-79),17 CONDO COOPS,2,1373,1901,R9,"551 MAIN STREET, RES",NaN,10044,0,0,0,0,0,1975,2,R9,181917,2015-08-26,2015,Aug,Condop,Postwar,44,40,"551 MAIN STREET, RES",551 MAIN STREET,NaN,551 MAIN STREET
622230,Manhattan,UPPER EAST SIDE (59-79),17 CONDO COOPS,2,1373,1901,R9,"551 MAIN STREET, RES",NaN,10044,0,0,0,0,0,1975,2,R9,181467,2015-08-17,2015,Aug,Condop,Postwar,44,40,"551 MAIN STREET, RES",551 MAIN STREET,NaN,551 MAIN STREET
622234,Manhattan,UPPER EAST SIDE (59-79),17 CONDO COOPS,2,1373,1901,R9,"551 MAIN STREET, RES",NaN,10044,0,0,0,0,0,1975,2,R9,179706,2015-08-17,2015,Aug,Condop,Postwar,44,40,"551 MAIN STREET, RES",551 MAIN STREET,NaN,551 MAIN STREET
622312,Manhattan,UPPER EAST SIDE (59-79),17 CONDO COOPS,2,1373,1901,R9,"551 MAIN STREET, RES",NaN,10044,0,0,0,0,0,1975,2,R9,176186,2015-09-02,2015,Sep,Condop,Postwar,44,40,"551 MAIN STREET, RES",551 MAIN STREET,NaN,551 MAIN STREET
622178,Manhattan,UPPER EAST SIDE (59-79),17 CONDO COOPS,2,1373,1901,R9,"551 MAIN STREET, RES",NaN,10044,0,0,0,0,0,1975,2,R9,155189,2015-08-06,2015,Aug,Condop,Postwar,44,40,"551 MAIN STREET, RES",551 MAIN STREET,NaN,551 MAIN STREET
622271,Manhattan,UPPER EAST SIDE (59-79),17 CONDO COOPS,2,1373,1901,R9,"551 MAIN STREET, RES",NaN,10044,0,0,0,0,0,1975,2,R9,154599,2015-08-24,2015,Aug,Condop,Postwar,44,40,"551 MAIN STREET, RES",551 MAIN STREET,NaN,551 MAIN STREET
622359,Manhattan,UPPER EAST SIDE (59-79),17 CONDO COOPS,2,1373,1901,R9,"551 MAIN STREET, RES",NaN,10044,0,0,0,0,0,1975,2,R9,127173,2015-07-31,2015,Jul,Condop,Postwar,44,40,"551 MAIN STREET, RES",551 MAIN STREET,NaN,551 MAIN STREET
622387,Manhattan,UPPER EAST SIDE (59-79),17 CONDO COOPS,2,1373,1901,R9,"551 MAIN STREET, RES",NaN,10044,0,0,0,0,0,1975,2,R9,125965,2015-12-03,2015,Dec,Condop,Postwar,44,40,"551 MAIN STREET, RES",551 MAIN STREET,NaN,551 MAIN STREET
622186,Manhattan,UPPER EAST SIDE (59-79),17 CONDO COOPS,2,1373,1901,R9,"551 MAIN STREET, RES",NaN,10044,0,0,0,0,0,1975,2,R9,124805,2015-08-05,2015,Aug,Condop,Postwar,44,40,"551 MAIN STREET, RES",551 MAIN STREET,NaN,551 MAIN STREET
622248,Manhattan,UPPER EAST SIDE (59-79),17 CONDO COOPS,2,1373,1901,R9,"551 MAIN STREET, RES",NaN,10044,0,0,0,0,0,1975,2,R9,124805,2015-09-03,2015,Sep,Condop,Postwar,44,40,"551 MAIN STREET, RES",551 MAIN STREET,NaN,551 MAIN STREET
622181,Manhattan,UPPER EAST SIDE (59-79),17 CONDO COOPS,2,1373,1901,R9,"551 MAIN STREET, RES",NaN,10044,0,0,0,0,0,1975,2,R9,123598,2015-08-11,2015,Aug,Condop,Postwar,44,40,"551 MAIN STREET, RES",551 MAIN STREET,NaN,551 MAIN STREET
622252,Manhattan,UPPER EAST SIDE (59-79),17 CONDO COOPS,2,1373,1901,R9,"551 MAIN STREET, RES",NaN,10044,0,0,0,0,0,1975,2,R9,123598,2015-09-02,2015,Sep,Condop,Postwar,44,40,"551 MAIN STREET, RES",551 MAIN STREET,NaN,551 MAIN STREET
622317,Manhattan,UPPER EAST SIDE (59-79),17 CONDO COOPS,2,1373,1901,R9,"551 MAIN STREET, RES",NaN,10044,0,0,0,0,0,1975,2,R9,120070,2015-10-05,2015,Oct,Condop,Postwar,44,40,"551 MAIN STREET, RES",551 MAIN STREET,NaN,551 MAIN STREET

In [96]:
combined.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 556683 entries, 123734 to 412818
Data columns (total 30 columns):
BOROUGH                           556683 non-null object
NEIGHBORHOOD                      556683 non-null object
BUILDING CLASS CATEGORY           556683 non-null object
TAX CLASS AT PRESENT              556683 non-null category
BLOCK                             556683 non-null int64
LOT                               556683 non-null int64
BUILDING CLASS AT PRESENT         556683 non-null object
ADDRESS                           556683 non-null object
APARTMENT NUMBER                  137851 non-null object
ZIP CODE                          556683 non-null int64
RESIDENTIAL UNITS                 556683 non-null int64
COMMERCIAL UNITS                  556683 non-null int64
TOTAL UNITS                       556683 non-null int64
LAND SQUARE FEET                  556683 non-null int64
GROSS SQUARE FEET                 556683 non-null int64
YEAR BUILT                        556683 non-null int64
TAX CLASS AT TIME OF SALE         556683 non-null category
BUILDING CLASS AT TIME OF SALE    556683 non-null object
SALE PRICE                        556683 non-null int64
SALE DATE                         556683 non-null datetime64[ns]
SALE YEAR                         556683 non-null int64
SALE MONTH                        556683 non-null category
Type                              556683 non-null category
Construction                      556683 non-null category
Current Age                       556683 non-null int64
Sale_Year_Diff                    556683 non-null int64
Base_Address                      556683 non-null object
Building_Address                  556683 non-null object
Apt_No                            295522 non-null object
Main_Address                      556683 non-null object
dtypes: category(5), datetime64[ns](1), int64(13), object(11)
memory usage: 133.1+ MB

### Reset Index to allow for filtering out of outliers that are entire building purchases

In [314]:
combined.reset_index(inplace = True)

In [315]:
del combined['index']

In [99]:
combined.nlargest(20,['SALE PRICE'])

,BOROUGH,NEIGHBORHOOD,BUILDING CLASS CATEGORY,TAX CLASS AT PRESENT,BLOCK,LOT,BUILDING CLASS AT PRESENT,ADDRESS,APARTMENT NUMBER,ZIP CODE,RESIDENTIAL UNITS,COMMERCIAL UNITS,TOTAL UNITS,LAND SQUARE FEET,GROSS SQUARE FEET,YEAR BUILT,TAX CLASS AT TIME OF SALE,BUILDING CLASS AT TIME OF SALE,SALE PRICE,SALE DATE,SALE YEAR,SALE MONTH,Type,Construction,Current Age,Sale_Year_Diff,Base_Address,Building_Address,Apt_No,Main_Address
0,Queens,FLUSHING-NORTH,13 CONDOS - ELEVATOR APARTMENTS,2,5066,1001,R4,40-22 COLLEGE POINT BLVD,6A,11354,1,0,1,0,0,0,2,R4,430128304,2010-06-28,2010,Jun,Condo,Postwar,0,0,40-22 COLLEGE POINT BLVD,40-22 COLLEGE POINT BLVD,6A,"40-22 COLLEGE POINT BLVD, 6A"
1,Manhattan,UPPER WEST SIDE (96-116),13 CONDOS - ELEVATOR APARTMENTS,2,1852,1101,R4,808 COLUMBUS AVENUE,RU,10025,1,0,1,0,0,2007,2,R4,339326606,2012-01-11,2012,Jan,Condo,Postwar,12,5,808 COLUMBUS AVENUE,808 COLUMBUS AVENUE,RU,"808 COLUMBUS AVENUE, RU"
2,Manhattan,MIDTOWN WEST,10 COOPS - ELEVATOR APARTMENTS,2,1009,29,D4,100 WEST 57TH STREET,NaN,10019,324,4,328,0,0,1962,2,D4,261000000,2014-11-05,2014,Nov,Co-op,Postwar,57,52,100 WEST 57TH STREET,100 WEST 57TH STREET,NaN,100 WEST 57TH STREET
3,Manhattan,CLINTON,13 CONDOS - ELEVATOR APARTMENTS,2,1051,1152,RR,460 WEST 42ND STREET,TOWER A,10036,88,0,88,0,0,2008,2,R4,260800000,2015-12-21,2015,Dec,Condo,Postwar,11,7,460 WEST 42ND STREET,460 WEST 42ND STREET,TOWER A,"460 WEST 42ND STREET, TOWER A"
4,Manhattan,MIDTOWN WEST,13 CONDOS - ELEVATOR APARTMENTS,2,1030,1082,R4,"220 CENTRAL PARK SOUTH, 50",50,10019,0,0,0,0,0,2015,2,R4,239958219,2019-01-23,2019,Jan,Condo,Postwar,4,4,"220 CENTRAL PARK SOUTH, 50",220 CENTRAL PARK SOUTH,50,"220 CENTRAL PARK SOUTH, 50"
5,Manhattan,UPPER EAST SIDE (59-79),13 CONDOS - ELEVATOR APARTMENTS,2,1401,1003,R4,"165 EAST 66TH ST, RESI",RESI,10065,0,0,0,0,0,1957,2,R4,200000000,2019-04-05,2019,Apr,Condo,Postwar,62,62,"165 EAST 66TH STREET, RESI",165 EAST 66TH STREET,NaN,165 EAST 66TH STREET
6,Manhattan,CLINTON,16 CONDOS - 2-10 UNIT WITH COMMERCIAL UNIT,4,1082,1001,R5,770 11TH AVENUE,MBU,10019,0,1,1,0,0,2009,2,R8,189734983,2010-07-26,2010,Jul,Condo,Postwar,10,1,770 11TH AVENUE,770 11TH AVENUE,MBU,"770 11TH AVENUE, MBU"
7,Manhattan,FINANCIAL,13 CONDOS - ELEVATOR APARTMENTS,2,25,1401,R4,15 WILLIAM STREET,3M,10004,1,0,1,0,0,2005,2,R4,184414937,2010-12-01,2010,Dec,Condo,Postwar,14,5,15 WILLIAM STREET,15 WILLIAM STREET,3M,"15 WILLIAM STREET, 3M"
8,Manhattan,UPPER EAST SIDE (59-79),10 COOPS - ELEVATOR APARTMENTS,2,1373,1,D4,30 RIVER RD,NaN,10044,0,0,0,0,0,1975,2,D4,173298644,2014-06-30,2014,Jun,Co-op,Postwar,44,39,30 RIVER RD,30 RIVER RD,NaN,30 RIVER RD
9,Manhattan,UPPER EAST SIDE (59-79),09 COOPS - WALKUP APARTMENTS,2,1431,1,C6,1329 3 AVENUE,NaN,10075,0,0,0,0,0,1910,2,C6,163555828,2018-08-03,2018,Aug,Co-op,Prewar,109,108,1329 3 AVENUE,1329 3 AVENUE,NaN,1329 3 AVENUE
10,Manhattan,KIPS BAY,13 CONDOS - ELEVATOR APARTMENTS,2,943,1002,R4,330 EAST 38TH STREET,5A,10016,1,0,1,0,0,1989,2,R4,147000000,2014-08-14,2014,Aug,Condo,Postwar,30,25,330 EAST 38TH STREET,330 EAST 38TH STREET,5A,"330 EAST 38TH STREET, 5A"
11,Manhattan,UPPER EAST SIDE (59-79),10 COOPS - ELEVATOR APARTMENTS,2,1379,21,D4,"733 MADISON AVENUE, 1",NaN,10065,0,0,0,0,0,1922,2,D4,123750000,2014-02-27,2014,Feb,Co-op,Prewar,97,92,"733 MADISON AVENUE, 1",733 MADISON AVENUE,1,"733 MADISON AVENUE, 1"
12,Manhattan,SOHO,16 CONDOS - 2-10 UNIT WITH COMMERCIAL UNIT,2C,500,1301,R8,139 SPRING STREET,1,10012,0,1,1,0,0,0,2,R8,115388000,2016-01-15,2016,Jan,Condo,Postwar,0,0,139 SPRING STREET,139 SPRING STREET,1,"139 SPRING STREET, 1"
13,Manhattan,MIDTOWN EAST,10 COOPS - ELEVATOR APARTMENTS,2,1368,1,D1,400 EAST 57TH STREET,NaN,10022,267,11,278,0,0,1931,2,D4,109000000,2012-01-31,2012,Jan,Co-op,Prewar,88,81,400 EAST 57TH STREET,400 EAST 57TH STREET,NaN,400 EAST 57TH STREET
14,Manhattan,SOHO,10 COOPS - ELEVATOR APARTMENTS,2,485,21,D4,"106 SPRING ST, GF #1",NaN,10012,0,0,0,0,0,1900,2,D4,105420000,2016-04-06,2016,Apr,Co-op,Prewar,119,116,"106 SPRING STREET, GF #1",106 SPRING STREET,GF #1,"106 SPRING STREET, GF #1"
15,Manhattan,MIDTOWN WEST,13 CONDOS - ELEVATOR APARTMENTS,2,1010,1698,R4,157 WEST 57TH STREET,90,10019,1,0,1,0,0,2009,2,R4,100471452,2014-12-23,2014,Dec,Condo,Postwar,10,5,157 WEST 57TH STREET,157 WEST 57TH STREET,90,"157 WEST 57TH STREET, 90"
16,Queens,ASTORIA,10 COOPS - ELEVATOR APARTMENTS,2,890,1,D4,19-19 24TH AVENUE,NaN,11102,0,0,0,0,0,1920,2,D4,100139400,2008-02-06,2008,Feb,Co-op,Prewar,99,88,19-19 24TH AVENUE,19-19 24TH AVENUE,NaN,19-19 24TH AVENUE
17,Manhattan,UPPER WEST SIDE (59-79),13 CONDOS - ELEVATOR APARTMENTS,2,1170,1105,R4,2211 BROADWAY,3A,10024,1,0,1,0,0,1908,2,R4,98525704,2016-09-07,2016,Sep,Condo,Prewar,111,108,2211 BROADWAY,2211 BROADWAY,3A,"2211 BROADWAY, 3A"
18,Manhattan,CHELSEA,10 COOPS - ELEVATOR APARTMENTS,2,799,35,D4,101 WEST 23RD STREET,NaN,10011,80,4,84,0,0,1958,2,D4,95000000,2014-07-10,2014,Jul,Co-op,Postwar,61,56,101 WEST 23RD STREET,101 WEST 23RD STREET,NaN,101 WEST 23RD STREET
19,Manhattan,MIDTOWN WEST,13 CONDOS - ELEVATOR APARTMENTS,2,1010,1686,R4,157 WEST 57TH STREET,75,10019,1,0,1,0,0,2009,2,R4,91541053,2015-03-27,2015,Mar,Condo,Postwar,10,6,157 WEST 57TH STREET,157 WEST 57TH STREET,75,"157 WEST 57TH STREET, 75"

In [316]:
#Get list index of the top 20, keep only the 3 known residential unit sales out of the top 20.
#The rest are entire building sales or store front sales...not relevant for my analysis.
filtertop = combined.nlargest(20,['SALE PRICE']).index.tolist()
filtertop = [0, 1, 2, 3, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 16, 17, 18] #excluded those (4,15,19) that are to be kept.
filtertop

[0, 1, 2, 3, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 16, 17, 18]

In [317]:
#save the dataframe with the inappropriate data filtered out, keeping only residential purchases.
combined = combined.drop(filtertop, axis = 0).reset_index()
del combined['index']
combined.shape

(556666, 30)

In [309]:
#combined.head(20)

In [318]:
#Get list index of the top 20, excluding Inwood purchaes (which are the enitre building and are dupes.)
filtertop1 = combined.nlargest(20,['SALE PRICE']).index.tolist()
filtertop1 = [9,10] #drope these (9,10)
filtertop1

[9, 10]

In [319]:
#save the dataframe with the inappropriate data filtered out, keeping only residential purchases.
combined = combined.drop(filtertop1, axis = 0).reset_index()
del combined['index']
combined.shape

(556664, 30)

In [320]:
combined.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 556664 entries, 0 to 556663
Data columns (total 30 columns):
BOROUGH                           556664 non-null object
NEIGHBORHOOD                      556664 non-null object
BUILDING CLASS CATEGORY           556664 non-null object
TAX CLASS AT PRESENT              556664 non-null category
BLOCK                             556664 non-null int64
LOT                               556664 non-null int64
BUILDING CLASS AT PRESENT         556664 non-null object
ADDRESS                           556664 non-null object
APARTMENT NUMBER                  137842 non-null object
ZIP CODE                          556664 non-null int64
RESIDENTIAL UNITS                 556664 non-null int64
COMMERCIAL UNITS                  556664 non-null int64
TOTAL UNITS                       556664 non-null int64
LAND SQUARE FEET                  556664 non-null int64
GROSS SQUARE FEET                 556664 non-null int64
YEAR BUILT                        556664 non-null int64
TAX CLASS AT TIME OF SALE         556664 non-null category
BUILDING CLASS AT TIME OF SALE    556664 non-null object
SALE PRICE                        556664 non-null int64
SALE DATE                         556664 non-null datetime64[ns]
SALE YEAR                         556664 non-null int64
SALE MONTH                        556664 non-null category
Type                              556664 non-null category
Construction                      556664 non-null category
Current Age                       556664 non-null int64
Sale_Year_Diff                    556664 non-null int64
Base_Address                      556664 non-null object
Building_Address                  556664 non-null object
Apt_No                            295512 non-null object
Main_Address                      556664 non-null object
dtypes: category(5), datetime64[ns](1), int64(13), object(11)
memory usage: 108.8+ MB

In [105]:
combined.describe()

,BLOCK,LOT,ZIP CODE,RESIDENTIAL UNITS,COMMERCIAL UNITS,TOTAL UNITS,LAND SQUARE FEET,GROSS SQUARE FEET,YEAR BUILT,SALE PRICE,SALE YEAR,Current Age,Sale_Year_Diff
count,556664.000000,556664.000000,556664.000000,556664.000000,556664.000000,556664.000000,556664.000000,556664.000000,556664.000000,5.566640e+05,556664.000000,556664.000000,556664.000000
mean,4084.802276,416.473002,10777.813877,1.068345,0.015667,1.094380,17.357665,38.555101,1808.594387,8.984976e+05,2013.622697,63.121880,58.180418
std,3617.357674,686.974205,807.637688,5.151525,0.242022,5.236791,218.809541,192.512025,508.375368,1.748422e+06,3.387106,36.950586,36.483358
min,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000e+05,2008.000000,0.000000,-4.000000
25%,1222.000000,22.000000,10069.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1920.000000,3.450000e+05,2011.000000,32.000000,27.000000
50%,2811.500000,52.000000,11207.000000,1.000000,0.000000,1.000000,0.000000,0.000000,1941.000000,5.400000e+05,2014.000000,68.000000,62.000000
75%,6154.250000,1007.000000,11358.000000,1.000000,0.000000,1.000000,0.000000,0.000000,1966.000000,8.690672e+05,2017.000000,94.000000,88.000000
max,16350.000000,9117.000000,11697.000000,640.000000,84.000000,644.000000,23400.000000,12720.000000,2019.000000,2.399582e+08,2019.000000,989.000000,989.000000

In [321]:
del combined['BLOCK']
del combined['LOT']
#del combined['ZIP CODE']
del combined['TOTAL UNITS']
del combined['ADDRESS']
del combined['Base_Address']
del combined['COMMERCIAL UNITS']
del combined['APARTMENT NUMBER']
#del combined['BUILDING CLASS CATEGORY']
#remove Block, Lot, Total Units, Address, Base Address, Commercial Units, Apartment Number

In [322]:
combined.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 556664 entries, 0 to 556663
Data columns (total 23 columns):
BOROUGH                           556664 non-null object
NEIGHBORHOOD                      556664 non-null object
BUILDING CLASS CATEGORY           556664 non-null object
TAX CLASS AT PRESENT              556664 non-null category
BUILDING CLASS AT PRESENT         556664 non-null object
ZIP CODE                          556664 non-null int64
RESIDENTIAL UNITS                 556664 non-null int64
LAND SQUARE FEET                  556664 non-null int64
GROSS SQUARE FEET                 556664 non-null int64
YEAR BUILT                        556664 non-null int64
TAX CLASS AT TIME OF SALE         556664 non-null category
BUILDING CLASS AT TIME OF SALE    556664 non-null object
SALE PRICE                        556664 non-null int64
SALE DATE                         556664 non-null datetime64[ns]
SALE YEAR                         556664 non-null int64
SALE MONTH                        556664 non-null category
Type                              556664 non-null category
Construction                      556664 non-null category
Current Age                       556664 non-null int64
Sale_Year_Diff                    556664 non-null int64
Building_Address                  556664 non-null object
Apt_No                            295512 non-null object
Main_Address                      556664 non-null object
dtypes: category(5), datetime64[ns](1), int64(9), object(8)
memory usage: 79.1+ MB

In [323]:
#combined.head(20)

In [315]:
#combined[combined['BOROUGH'] != 'Manhattan'].nlargest(20,['SALE PRICE'])

In [340]:
#combined.iloc[[354265],:]

In [108]:
combined.head(20)

,BOROUGH,NEIGHBORHOOD,TAX CLASS AT PRESENT,BUILDING CLASS AT PRESENT,ZIP CODE,RESIDENTIAL UNITS,LAND SQUARE FEET,GROSS SQUARE FEET,YEAR BUILT,TAX CLASS AT TIME OF SALE,BUILDING CLASS AT TIME OF SALE,SALE PRICE,SALE DATE,SALE YEAR,SALE MONTH,Type,Construction,Current Age,Sale_Year_Diff,Building_Address,Apt_No,Main_Address
0,Manhattan,MIDTOWN WEST,2,R4,10019,0,0,0,2015,2,R4,239958219,2019-01-23,2019,Jan,Condo,Postwar,4,4,220 CENTRAL PARK SOUTH,50,"220 CENTRAL PARK SOUTH, 50"
1,Manhattan,MIDTOWN WEST,2,R4,10019,1,0,0,2009,2,R4,100471452,2014-12-23,2014,Dec,Condo,Postwar,10,5,157 WEST 57TH STREET,90,"157 WEST 57TH STREET, 90"
2,Manhattan,MIDTOWN WEST,2,R4,10019,1,0,0,2009,2,R4,91541053,2015-03-27,2015,Mar,Condo,Postwar,10,6,157 WEST 57TH STREET,75,"157 WEST 57TH STREET, 75"
3,Manhattan,MIDTOWN CBD,2,R4,10022,1,0,0,2012,2,R4,91125497,2017-12-18,2017,Dec,Condo,Postwar,7,5,432 PARK AVENUE,92,"432 PARK AVENUE, 92"
4,Manhattan,UPPER WEST SIDE (59-79),2,R4,10023,1,0,0,2005,2,R4,88000000,2012-02-15,2012,Feb,Condo,Postwar,14,7,15 CENTRAL PARK WEST,PH20,"15 CENTRAL PARK WEST, PH20"
5,Manhattan,MIDTOWN CBD,2,R4,10022,1,0,0,2012,2,R4,87660898,2016-09-09,2016,Sep,Condo,Postwar,7,4,432 PARK AVENUE,96,"432 PARK AVENUE, 96"
6,Manhattan,SOHO,2,D4,10012,0,0,0,1900,2,D4,79451009,2019-04-05,2019,Apr,Co-op,Prewar,119,119,106 SPRING STREET,1,"106 SPRING STREET, 1"
7,Manhattan,UPPER EAST SIDE (59-79),2,D4,10065,0,0,0,1931,2,D4,77500000,2015-03-16,2015,Mar,Co-op,Prewar,88,84,834 FIFTH AVENUE,1112A,"834 FIFTH AVENUE, 1112A"
8,Manhattan,UPPER EAST SIDE (59-79),1,A7,10065,1,0,0,1905,1,A7,77100000,2019-06-04,2019,Jun,Townhouse,Prewar,114,114,14 EAST 67TH STREET,NaN,14 EAST 67TH STREET
9,Manhattan,UPPER EAST SIDE (59-79),2,R4,10022,1,0,0,2015,2,R4,73800000,2018-11-19,2018,Nov,Condo,Postwar,4,3,520 PARK AVENUE,DPH60,"520 PARK AVENUE, DPH60"
10,Manhattan,MIDTOWN WEST,2,R4,10019,1,0,0,0,2,R4,70000000,2012-06-11,2012,Jun,Condo,Postwar,0,0,50 CENTRAL PARK SOUTH,30/31,"50 CENTRAL PARK SOUTH, 30/31"
11,Manhattan,UPPER EAST SIDE (59-79),2,D4,10075,0,0,0,1927,2,D4,70000000,2014-05-30,2014,May,Co-op,Prewar,92,87,960 FIFTH AVENUE,PHB,"960 FIFTH AVENUE, PHB"
12,Manhattan,UPPER EAST SIDE (59-79),2,R4,10022,1,0,0,2015,2,R4,67921052,2018-12-20,2018,Dec,Condo,Postwar,4,3,520 PARK AVENUE,DPH56,"520 PARK AVENUE, DPH56"
13,Manhattan,GREENWICH VILLAGE-WEST,2,R4,10014,1,0,0,1920,2,R4,67602825,2012-01-18,2012,Jan,Condo,Prewar,99,92,421 HUDSON STREET,201,"421 HUDSON STREET, 201"
14,Manhattan,UPPER EAST SIDE (59-79),2,D4,10022,0,0,0,1928,2,D4,67500000,2015-03-06,2015,Mar,Co-op,Prewar,91,87,781 FIFTH AVENUE,1801,"781 FIFTH AVENUE, 1801"
15,Manhattan,MIDTOWN WEST,2,R4,10019,0,0,0,2015,2,R4,65750000,2019-07-16,2019,Jul,Condo,Postwar,4,4,220 CENTRAL PARK SOUTH,PH16,"220 CENTRAL PARK SOUTH, PH16"
16,Manhattan,MIDTOWN CBD,2,R4,10022,1,0,0,2012,2,R4,65661755,2017-01-05,2017,Jan,Condo,Postwar,7,5,432 PARK AVENUE,85,"432 PARK AVENUE, 85"
17,Manhattan,MIDTOWN CBD,2,R4,10022,1,0,0,2012,2,R4,65163580,2017-03-15,2017,Mar,Condo,Postwar,7,5,432 PARK AVENUE,83,"432 PARK AVENUE, 83"
18,Manhattan,UPPER EAST SIDE (59-79),2,R4,10022,0,0,0,2015,2,R4,64250000,2019-01-25,2019,Jan,Condo,Postwar,4,4,520 PARK AVENUE,DPH54,"520 PARK AVENUE, DPH54"
19,Manhattan,UPPER EAST SIDE (59-79),2,R4,10022,1,0,0,2015,2,R4,62000000,2018-11-15,2018,Nov,Condo,Postwar,4,3,520 PARK AVENUE,DPH52,"520 PARK AVENUE, DPH52"

In [323]:
combined[(combined['Type'] == 'Condo') & (combined['SALE YEAR']==2019)].count()

BOROUGH                           8754
NEIGHBORHOOD                      8754
BUILDING CLASS CATEGORY           8754
TAX CLASS AT PRESENT              8754
BUILDING CLASS AT PRESENT         8754
ZIP CODE                          8754
RESIDENTIAL UNITS                 8754
LAND SQUARE FEET                  8754
GROSS SQUARE FEET                 8754
YEAR BUILT                        8754
TAX CLASS AT TIME OF SALE         8754
BUILDING CLASS AT TIME OF SALE    8754
SALE PRICE                        8754
SALE DATE                         8754
SALE YEAR                         8754
SALE MONTH                        8754
Type                              8754
Construction                      8754
Current Age                       8754
Sale_Year_Diff                    8754
Building_Address                  8754
Apt_No                            8726
Main_Address                      8754
dtype: int64

In [619]:
#EXPORT TO CSV FOR TREATMENT IN R
combined.to_csv('combined.csv', index_label = 'Index')

### **Building Subset: Filter for Apartment Buildings/homes with multiple transactions throughout the years**

In [324]:
buildings = combined.duplicated(subset = 'Building_Address', keep = False)
combined[buildings].head(150)

,BOROUGH,NEIGHBORHOOD,BUILDING CLASS CATEGORY,TAX CLASS AT PRESENT,BUILDING CLASS AT PRESENT,ZIP CODE,RESIDENTIAL UNITS,LAND SQUARE FEET,GROSS SQUARE FEET,YEAR BUILT,TAX CLASS AT TIME OF SALE,BUILDING CLASS AT TIME OF SALE,SALE PRICE,SALE DATE,SALE YEAR,SALE MONTH,Type,Construction,Current Age,Sale_Year_Diff,Building_Address,Apt_No,Main_Address
0,Manhattan,MIDTOWN WEST,13 CONDOS - ELEVATOR APARTMENTS,2,R4,10019,0,0,0,2015,2,R4,239958219,2019-01-23,2019,Jan,Condo,Postwar,4,4,220 CENTRAL PARK SOUTH,50,"220 CENTRAL PARK SOUTH, 50"
1,Manhattan,MIDTOWN WEST,13 CONDOS - ELEVATOR APARTMENTS,2,R4,10019,1,0,0,2009,2,R4,100471452,2014-12-23,2014,Dec,Condo,Postwar,10,5,157 WEST 57TH STREET,90,"157 WEST 57TH STREET, 90"
2,Manhattan,MIDTOWN WEST,13 CONDOS - ELEVATOR APARTMENTS,2,R4,10019,1,0,0,2009,2,R4,91541053,2015-03-27,2015,Mar,Condo,Postwar,10,6,157 WEST 57TH STREET,75,"157 WEST 57TH STREET, 75"
3,Manhattan,MIDTOWN CBD,13 CONDOS - ELEVATOR APARTMENTS,2,R4,10022,1,0,0,2012,2,R4,91125497,2017-12-18,2017,Dec,Condo,Postwar,7,5,432 PARK AVENUE,92,"432 PARK AVENUE, 92"
4,Manhattan,UPPER WEST SIDE (59-79),13 CONDOS - ELEVATOR APARTMENTS,2,R4,10023,1,0,0,2005,2,R4,88000000,2012-02-15,2012,Feb,Condo,Postwar,14,7,15 CENTRAL PARK WEST,PH20,"15 CENTRAL PARK WEST, PH20"
5,Manhattan,MIDTOWN CBD,13 CONDOS - ELEVATOR APARTMENTS,2,R4,10022,1,0,0,2012,2,R4,87660898,2016-09-09,2016,Sep,Condo,Postwar,7,4,432 PARK AVENUE,96,"432 PARK AVENUE, 96"
6,Manhattan,SOHO,10 COOPS - ELEVATOR APARTMENTS,2,D4,10012,0,0,0,1900,2,D4,79451009,2019-04-05,2019,Apr,Co-op,Prewar,119,119,106 SPRING STREET,1,"106 SPRING STREET, 1"
7,Manhattan,UPPER EAST SIDE (59-79),10 COOPS - ELEVATOR APARTMENTS,2,D4,10065,0,0,0,1931,2,D4,77500000,2015-03-16,2015,Mar,Co-op,Prewar,88,84,834 FIFTH AVENUE,1112A,"834 FIFTH AVENUE, 1112A"
9,Manhattan,UPPER EAST SIDE (59-79),13 CONDOS - ELEVATOR APARTMENTS,2,R4,10022,1,0,0,2015,2,R4,73800000,2018-11-19,2018,Nov,Condo,Postwar,4,3,520 PARK AVENUE,DPH60,"520 PARK AVENUE, DPH60"
10,Manhattan,MIDTOWN WEST,13 CONDOS - ELEVATOR APARTMENTS,2,R4,10019,1,0,0,0,2,R4,70000000,2012-06-11,2012,Jun,Condo,Postwar,0,0,50 CENTRAL PARK SOUTH,30/31,"50 CENTRAL PARK SOUTH, 30/31"
11,Manhattan,UPPER EAST SIDE (59-79),10 COOPS - ELEVATOR APARTMENTS,2,D4,10075,0,0,0,1927,2,D4,70000000,2014-05-30,2014,May,Co-op,Prewar,92,87,960 FIFTH AVENUE,PHB,"960 FIFTH AVENUE, PHB"
12,Manhattan,UPPER EAST SIDE (59-79),13 CONDOS - ELEVATOR APARTMENTS,2,R4,10022,1,0,0,2015,2,R4,67921052,2018-12-20,2018,Dec,Condo,Postwar,4,3,520 PARK AVENUE,DPH56,"520 PARK AVENUE, DPH56"
13,Manhattan,GREENWICH VILLAGE-WEST,13 CONDOS - ELEVATOR APARTMENTS,2,R4,10014,1,0,0,1920,2,R4,67602825,2012-01-18,2012,Jan,Condo,Prewar,99,92,421 HUDSON STREET,201,"421 HUDSON STREET, 201"
14,Manhattan,UPPER EAST SIDE (59-79),10 COOPS - ELEVATOR APARTMENTS,2,D4,10022,0,0,0,1928,2,D4,67500000,2015-03-06,2015,Mar,Co-op,Prewar,91,87,781 FIFTH AVENUE,1801,"781 FIFTH AVENUE, 1801"
15,Manhattan,MIDTOWN WEST,13 CONDOS - ELEVATOR APARTMENTS,2,R4,10019,0,0,0,2015,2,R4,65750000,2019-07-16,2019,Jul,Condo,Postwar,4,4,220 CENTRAL PARK SOUTH,PH16,"220 CENTRAL PARK SOUTH, PH16"
16,Manhattan,MIDTOWN CBD,13 CONDOS - ELEVATOR APARTMENTS,2,R4,10022,1,0,0,2012,2,R4,65661755,2017-01-05,2017,Jan,Condo,Postwar,7,5,432 PARK AVENUE,85,"432 PARK AVENUE, 85"
17,Manhattan,MIDTOWN CBD,13 CONDOS - ELEVATOR APARTMENTS,2,R4,10022,1,0,0,2012,2,R4,65163580,2017-03-15,2017,Mar,Condo,Postwar,7,5,432 PARK AVENUE,83,"432 PARK AVENUE, 83"
18,Manhattan,UPPER EAST SIDE (59-79),13 CONDOS - ELEVATOR APARTMENTS,2,R4,10022,0,0,0,2015,2,R4,64250000,2019-01-25,2019,Jan,Condo,Postwar,4,4,520 PARK AVENUE,DPH54,"520 PARK AVENUE, DPH54"
19,Manhattan,UPPER EAST SIDE (59-79),13 CONDOS - ELEVATOR APARTMENTS,2,R4,10022,1,0,0,2015,2,R4,62000000,2018-11-15,2018,Nov,Condo,Postwar,4,3,520 PARK AVENUE,DPH52,"520 PARK AVENUE, DPH52"
20,Manhattan,UPPER WEST SIDE (79-96),13 CONDOS - ELEVATOR APARTMENTS,2,R4,10025,1,0,0,1971,2,R4,61250000,2017-08-07,2017,Aug,Condo,Postwar,48,46,169 WEST 95TH STREET,3B,"169 WEST 95TH STREET, 3B"
21,Manhattan,MIDTOWN CBD,13 CONDOS - ELEVATOR APARTMENTS,2,R4,10022,1,0,0,2012,2,R4,60893873,2016-11-22,2016,Nov,Condo,Postwar,7,4,432 PARK AVENUE,88,"432 PARK AVENUE, 88"
22,Manhattan,MIDTOWN CBD,13 CONDOS - ELEVATOR APARTMENTS,2,R4,10022,1,0,0,2012,2,R4,60083577,2017-12-29,2017,Dec,Condo,Postwar,7,5,432 PARK AVENUE,91,"432 PARK AVENUE, 91"
23,Manhattan,MIDTOWN CBD,13 CONDOS - ELEVATOR APARTMENTS,2,R4,10022,1,0,0,2012,2,R4,59144631,2016-05-26,2016,May,Condo,Postwar,7,4,432 PARK AVENUE,79,"432 PARK AVENUE, 79"
24,Manhattan,CHELSEA,15 CONDOS - 2-10 UNIT RESIDENTIAL,2C,R1,10011,1,0,0,2015,2,R1,59058500,2018-04-26,2018,Apr,Condo,Postwar,4,3,503 WEST 24TH STREET,PH,"503 WEST 24TH STREET, PH"
25,Manhattan,HARLEM-CENTRAL,17 CONDOPS,2,R9,10039,0,0,0,2007,2,R9,57402625,2010-01-28,2010,Jan,Condop,Postwar,12,3,130 BRADHURST AVENUE,1,"130 BRADHURST AVENUE, 1"
26,Manhattan,HARLEM-CENTRAL,17 CONDOPS,2,R9,10039,134,0,0,2007,2,R9,57402625,2010-01-28,2010,Jan,Condop,Postwar,12,3,130 BRADHURST AVENUE,1,"130 BRADHURST AVENUE, 1"
27,Manhattan,FLATIRON,16 CONDOS - 2-10 UNIT WITH COMMERCIAL UNIT,2C,R8,10010,0,0,0,1915,2,R8,56500000,2014-02-13,2014,Feb,Condo,Prewar,104,99,10 MADISON SQUARE WEST,RETAL,"10 MADISON SQUARE WEST, RETAL"
28,Manhattan,MIDTOWN WEST,13 CONDOS - ELEVATOR APARTMENTS,2,R4,10019,1,0,0,2009,2,R4,56079298,2014-10-01,2014,Oct,Condo,Postwar,10,5,157 WEST 57TH STREET,82,"157 WEST 57TH STREET, 82"
29,Manhattan,TRIBECA,13 CONDOS - ELEVATOR APARTMENTS,2,R4,10013,1,0,0,2016,2,R4,56010250,2018-12-10,2018,Dec,Condo,Postwar,3,2,62 VESTRY STREET,PHS,"62 VESTRY STREET, PHS"
30,Manhattan,MIDTOWN WEST,13 CONDOS - ELEVATOR APARTMENTS,2,R4,10019,1,0,0,2009,2,R4,55559311,2014-12-03,2014,Dec,Condo,Postwar,10,5,157 WEST 57TH STREET,85,"157 WEST 57TH STREET, 85"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
137,Manhattan,TRIBECA,10 COOPS - ELEVATOR APARTMENTS,2,D4,10013,0,0,0,1915,2,D4,37000000,2013-12-30,2013,Dec,Co-op,Prewar,104,98,16 HUDSON STREET,NaN,16 HUDSON STREET
138,Manhattan,UPPER WEST SIDE (59-79),13 CONDOS - ELEVATOR APARTMENTS,2,R4,10023,1,0,0,2005,2,R4,37000000,2009-09-09,2009,Sep,Condo,Postwar,14,4,15 CENTRAL PARK WEST,PH40B,"15 CENTRAL PARK WEST, PH40B"
139,Manhattan,TRIBECA,13 CONDOS - ELEVATOR APARTMENTS,2,R4,10013,0,0,0,2016,2,R4,36681561,2019-02-12,2019,Feb,Condo,Postwar,3,3,70 VESTRY STREET,8W,"70 VESTRY STREET, 8W"
140,Manhattan,TRIBECA,13 CONDOS - ELEVATOR APARTMENTS,2,R4,10013,0,0,0,2016,2,R4,36681561,2019-02-12,2019,Feb,Condo,Postwar,3,3,70 VESTRY STREET,9W,"70 VESTRY STREET, 9W"
141,Manhattan,TRIBECA,13 CONDOS - ELEVATOR APARTMENTS,2,R4,10013,0,0,0,2016,2,R4,36681561,2019-02-12,2019,Feb,Condo,Postwar,3,3,70 VESTRY STREET,6D,"70 VESTRY STREET, 6D"
142,Manhattan,TRIBECA,13 CONDOS - ELEVATOR APARTMENTS,2,R4,10013,0,0,0,2016,2,R4,36681561,2019-02-12,2019,Feb,Condo,Postwar,3,3,70 VESTRY STREET,6C,"70 VESTRY STREET, 6C"
143,Manhattan,TRIBECA,13 CONDOS - ELEVATOR APARTMENTS,2,R4,10013,0,0,0,2016,2,R4,36681561,2019-02-12,2019,Feb,Condo,Postwar,3,3,70 VESTRY STREET,6E,"70 VESTRY STREET, 6E"
144,Manhattan,TRIBECA,13 CONDOS - ELEVATOR APARTMENTS,2,R4,10013,0,0,0,2016,2,R4,36681561,2019-02-12,2019,Feb,Condo,Postwar,3,3,70 VESTRY STREET,6F,"70 VESTRY STREET, 6F"
145,Manhattan,TRIBECA,13 CONDOS - ELEVATOR APARTMENTS,2,R4,10013,0,0,0,2016,2,R4,36681561,2019-02-12,2019,Feb,Condo,Postwar,3,3,70 VESTRY STREET,7A,"70 VESTRY STREET, 7A"
146,Manhattan,TRIBECA,13 CONDOS - ELEVATOR APARTMENTS,2,R4,10013,0,0,0,2016,2,R4,36681561,2019-02-12,2019,Feb,Condo,Postwar,3,3,70 VESTRY STREET,7B,"70 VESTRY STREET, 7B"
147,Manhattan,TRIBECA,13 CONDOS - ELEVATOR APARTMENTS,2,R4,10013,0,0,0,2016,2,R4,36681561,2019-02-12,2019,Feb,Condo,Postwar,3,3,70 VESTRY STREET,7C,"70 VESTRY STREET, 7C"
148,Manhattan,TRIBECA,13 CONDOS - ELEVATOR APARTMENTS,2,R4,10013,0,0,0,2016,2,R4,36681561,2019-02-12,2019,Feb,Condo,Postwar,3,3,70 VESTRY STREET,7D,"70 VESTRY STREET, 7D"
149,Manhattan,TRIBECA,13 CONDOS - ELEVATOR APARTMENTS,2,R4,10013,0,0,0,2016,2,R4,36681561,2019-02-12,2019,Feb,Condo,Postwar,3,3,70 VESTRY STREET,7E,"70 VESTRY STREET, 7E"
150,Manhattan,TRIBECA,13 CONDOS - ELEVATOR APARTMENTS,2,R4,10013,0,0,0,2016,2,R4,36681561,2019-02-12,2019,Feb,Condo,Postwar,3,3,70 VESTRY STREET,7F,"70 VESTRY STREET, 7F"
151,Manhattan,TRIBECA,13 CONDOS - ELEVATOR APARTMENTS,2,R4,10013,0,0,0,2016,2,R4,36681561,2019-02-12,2019,Feb,Condo,Postwar,3,3,70 VESTRY STREET,3C,"70 VESTRY STREET, 3C"
152,Manhattan,TRIBECA,13 CONDOS - ELEVATOR APARTMENTS,2,R4,10013,0,0,0,2016,2,R4,36681561,2019-02-12,2019,Feb,Condo,Postwar,3,3,70 VESTRY STREET,11W,"70 VESTRY STREET, 11W"
153,Manhattan,TRIBECA,13 CONDOS - ELEVATOR APARTMENTS,2,R4,10013,0,0,0,2016,2,R4,36681561,2019-02-12,2019,Feb,Condo,Postwar,3,3,70 VESTRY STREET,10W,"70 VESTRY STREET, 10W"
154,Manhattan,MIDTOWN WEST,13 CONDOS - ELEVATOR APARTMENTS,2,R4,10019,1,0,0,2009,2,R4,36657000,2017-11-16,2017,Nov,Condo,Postwar,10,8,157 WEST 57TH STREET,79,"157 WEST 57TH STREET, 79"
155,Manhattan,UPPER EAST SIDE (59-79),10 COOPS - ELEVATOR APARTMENTS,2,D4,10021,0,0,0,1928,2,D4,36630000,2008-12-18,2008,Dec,Co-op,Prewar,91,80,720 PARK AVENUE,7A,"720 PARK AVENUE, 7A"
156,Manhattan,FLATIRON,13 CONDOS - ELEVATOR APARTMENTS,2,R4,10010,1,0,0,1915,2,R4,36573875,2016-09-21,2016,Sep,Condo,Prewar,104,101,1107 BROADWAY,PH,"1107 BROADWAY, PH"
157,Manhattan,SOHO,13 CONDOS - ELEVATOR APARTMENTS,2,R4,10013,0,0,0,2016,2,R4,36533612,2019-08-15,2019,Aug,Condo,Postwar,3,3,565 BROOME STREET,NPH,"565 BROOME STREET, NPH"
158,Manhattan,UPPER EAST SIDE (59-79),10 COOPS - ELEVATOR APARTMENTS,2,D4,10065,0,0,0,1920,2,D4,36500000,2008-07-01,2008,Jul,Co-op,Prewar,99,88,4 EAST 66TH STREET,6 FL,"4 EAST 66TH STREET, 6 FL"
161,Manhattan,UPPER EAST SIDE (59-79),10 COOPS - ELEVATOR APARTMENTS,2,D4,10065,0,0,0,1931,2,D4,36000000,2011-01-12,2011,Jan,Co-op,Prewar,88,80,834 FIFTH AVENUE,5 6A,"834 FIFTH AVENUE, 5 6A"
162,Manhattan,UPPER WEST SIDE (59-79),10 COOPS - ELEVATOR APARTMENTS,2,D4,10023,0,0,0,1930,2,D4,35336000,2016-01-20,2016,Jan,Co-op,Prewar,89,86,101 CENTRAL PARK WEST,9BC,"101 CENTRAL PARK WEST, 9BC"
163,Manhattan,MIDTOWN WEST,13 CONDOS - ELEVATOR APARTMENTS,2,R4,10019,1,0,0,0,2,R4,35200000,2010-11-12,2010,Nov,Condo,Postwar,0,0,230 WEST 56TH STREET,64A,"230 WEST 56TH STREET, 64A"
164,Manhattan,UPPER EAST SIDE (59-79),10 COOPS - ELEVATOR APARTMENTS,2,D4,10021,0,0,0,1927,2,D4,35136395,2015-04-23,2015,Apr,Co-op,Prewar,92,88,775 PARK AVENUE,12/14,"775 PARK AVENUE, 12/14"
165,Manhattan,UPPER EAST SIDE (79-96),10 COOPS - ELEVATOR APARTMENTS,2,D4,10028,0,0,0,1926,2,D4,35000000,2018-02-22,2018,Feb,Co-op,Prewar,93,92,995 FIFTH AVENUE,15,"995 FIFTH AVENUE, 15"
166,Manhattan,UPPER WEST SIDE (59-79),13 CONDOS - ELEVATOR APARTMENTS,2,R4,10023,1,0,0,2005,2,R4,35000000,2015-11-17,2015,Nov,Condo,Postwar,14,10,15 CENTRAL PARK WEST,8A,"15 CENTRAL PARK WEST, 8A"
167,Manhattan,SOHO,10 COOPS - ELEVATOR APARTMENTS,2C,D4,10012,0,0,0,1900,2,D4,35000000,2015-08-12,2015,Aug,Co-op,Prewar,119,115,133 GREENE STREET,1,"133 GREENE STREET, 1"
168,Manhattan,UPPER EAST SIDE (79-96),10 COOPS - ELEVATOR APARTMENTS,2,D4,10128,0,0,0,1925,2,D4,35000000,2014-08-18,2014,Aug,Co-op,Prewar,94,89,1136 FIFTH AVENUE,PH/14C,"1136 FIFTH AVENUE, PH/14C"

In [325]:
building_sales = combined[buildings]

In [326]:
building_sales[(building_sales['SALE YEAR'] == 2019) & (building_sales['Type'] == 'Condo')].count()

BOROUGH                           8132
NEIGHBORHOOD                      8132
BUILDING CLASS CATEGORY           8132
TAX CLASS AT PRESENT              8132
BUILDING CLASS AT PRESENT         8132
ZIP CODE                          8132
RESIDENTIAL UNITS                 8132
LAND SQUARE FEET                  8132
GROSS SQUARE FEET                 8132
YEAR BUILT                        8132
TAX CLASS AT TIME OF SALE         8132
BUILDING CLASS AT TIME OF SALE    8132
SALE PRICE                        8132
SALE DATE                         8132
SALE YEAR                         8132
SALE MONTH                        8132
Type                              8132
Construction                      8132
Current Age                       8132
Sale_Year_Diff                    8132
Building_Address                  8132
Apt_No                            8122
Main_Address                      8132
dtype: int64

In [327]:
building_sales.reset_index(inplace = True)

In [332]:
building_sales.columns
#del building_sales['index']
building_sales.columns

Index(['BOROUGH', 'NEIGHBORHOOD', 'BUILDING CLASS CATEGORY',
       'TAX CLASS AT PRESENT', 'BUILDING CLASS AT PRESENT', 'ZIP CODE',
       'RESIDENTIAL UNITS', 'LAND SQUARE FEET', 'GROSS SQUARE FEET',
       'YEAR BUILT', 'TAX CLASS AT TIME OF SALE',
       'BUILDING CLASS AT TIME OF SALE', 'SALE PRICE', 'SALE DATE',
       'SALE YEAR', 'SALE MONTH', 'Type', 'Construction', 'Current Age',
       'Sale_Year_Diff', 'Building_Address', 'Apt_No', 'Main_Address'],
      dtype='object')

In [333]:
building_sales[(building_sales['SALE YEAR'] == 2019) & (building_sales['Type'] == 'Condo')].sample(200)

,BOROUGH,NEIGHBORHOOD,BUILDING CLASS CATEGORY,TAX CLASS AT PRESENT,BUILDING CLASS AT PRESENT,ZIP CODE,RESIDENTIAL UNITS,LAND SQUARE FEET,GROSS SQUARE FEET,YEAR BUILT,TAX CLASS AT TIME OF SALE,BUILDING CLASS AT TIME OF SALE,SALE PRICE,SALE DATE,SALE YEAR,SALE MONTH,Type,Construction,Current Age,Sale_Year_Diff,Building_Address,Apt_No,Main_Address
17156,Brooklyn,DOWNTOWN-FULTON FERRY,13 CONDOS - ELEVATOR APARTMENTS,2,R4,11201,0,0,0,1900,2,R4,3192000,2019-06-18,2019,Jun,Condo,Prewar,119,119,192 WATER STREET,3W,"192 WATER STREET, 3W"
55038,Queens,LONG ISLAND CITY,13 CONDOS - ELEVATOR APARTMENTS,2,R4,11101,0,0,0,1920,2,R4,1450000,2019-03-19,2019,Mar,Condo,Prewar,99,99,27-28 THOMSON AVENUE,250,"27-28 THOMSON AVENUE, 250"
83047,Brooklyn,BEDFORD STUYVESANT,15 CONDOS - 2-10 UNIT RESIDENTIAL,2,nan,0,0,0,0,0,2,R1,999999,2019-08-28,2019,Aug,Condo,Postwar,0,0,594 MARCY AVENUE,PH2,"594 MARCY AVENUE, PH2"
38027,Manhattan,UPPER EAST SIDE (79-96),13 CONDOS - ELEVATOR APARTMENTS,2,R4,10128,0,0,0,1986,2,R4,1883291,2019-05-29,2019,May,Condo,Postwar,33,33,200 EAST 94TH STREET,2415,"200 EAST 94TH STREET, 2415"
323,Manhattan,FLATIRON,13 CONDOS - ELEVATOR APARTMENTS,2,R4,10010,0,0,0,1913,2,R4,28450000,2019-05-15,2019,May,Condo,Prewar,106,106,212 FIFTH AVENUE,21B,"212 FIFTH AVENUE, 21B"
155301,Brooklyn,PARK SLOPE SOUTH,04 TAX CLASS 1 CONDOS,1A,R3,11215,0,0,599,1950,1,R3,617000,2019-06-13,2019,Jun,Condo,War,69,69,418 17TH STREET,2D,"418 17TH STREET, 2D"
32168,Brooklyn,BOERUM HILL,15 CONDOS - 2-10 UNIT RESIDENTIAL,2C,R1,11201,0,0,0,0,2,R1,2125000,2019-06-20,2019,Jun,Condo,Postwar,0,0,284 WARREN STREET,1,"284 WARREN STREET, 1"
181474,Brooklyn,MIDWOOD,15 CONDOS - 2-10 UNIT RESIDENTIAL,2C,R1,11230,0,0,888,0,2,R1,530000,2019-03-20,2019,Mar,Condo,Postwar,0,0,1552 EAST 14TH STREET,4B,"1552 EAST 14TH STREET, 4B"
168801,Brooklyn,CROWN HEIGHTS,15 CONDOS - 2-10 UNIT RESIDENTIAL,2,nan,0,0,0,0,0,2,R1,570156,2019-09-17,2019,Sep,Condo,Postwar,0,0,679 FRANKLIN AVENUE,301,"679 FRANKLIN AVENUE, 301"
169360,Manhattan,TRIBECA,13 CONDOS - ELEVATOR APARTMENTS,2,R4,10280,0,0,622,0,2,R4,570000,2019-08-23,2019,Aug,Condo,Postwar,0,0,280 RECTOR PLACE,5G,"280 RECTOR PLACE, 5G"
84272,Manhattan,FINANCIAL,13 CONDOS - ELEVATOR APARTMENTS,2,R4,10005,0,0,812,2005,2,R4,998888,2019-08-28,2019,Aug,Condo,Postwar,14,14,15 WILLIAM STREET,25F,"15 WILLIAM STREET, 25F"
206808,Staten Island,ROSSVILLE,04 TAX CLASS 1 CONDOS,1A,R3,10309,0,0,0,1983,1,R3,460000,2019-05-31,2019,May,Condo,Postwar,36,36,100 HAMPTON PLACE,N/A,"100 HAMPTON PLACE, N/A"
214357,Staten Island,ROSSVILLE,04 TAX CLASS 1 CONDOS,1A,R3,10309,0,0,0,1981,1,R3,440000,2019-03-14,2019,Mar,Condo,Postwar,38,38,44 BOWER COURT,N/A,"44 BOWER COURT, N/A"
250422,Staten Island,NEW SPRINGVILLE,13 CONDOS - ELEVATOR APARTMENTS,2,R4,10314,0,0,0,1979,2,R4,350000,2019-01-24,2019,Jan,Condo,Postwar,40,40,5 WINDHAM LOOP,1D,"5 WINDHAM LOOP, 1D"
71160,Brooklyn,SUNSET PARK,12 CONDOS - WALKUP APARTMENTS,2,R2,11215,0,0,0,0,2,R2,1190000,2019-08-22,2019,Aug,Condo,Postwar,0,0,259 21ST STREET,BB,"259 21ST STREET, BB"
79845,Queens,FLUSHING-NORTH,13 CONDOS - ELEVATOR APARTMENTS,2,R4,11354,0,0,826,2015,2,R4,1063942,2019-03-20,2019,Mar,Condo,Postwar,4,4,145-38 34TH AVENUE,3C,"145-38 34TH AVENUE, 3C"
180812,Manhattan,HARLEM-CENTRAL,13 CONDOS - ELEVATOR APARTMENTS,2,R4,10037,0,0,939,2015,2,R4,533786,2019-09-27,2019,Sep,Condo,Postwar,4,4,70 WEST 139 STREET,3E,"70 WEST 139 STREET, 3E"
13924,Brooklyn,COBBLE HILL,13 CONDOS - ELEVATOR APARTMENTS,2,R4,11201,0,0,0,1995,2,R4,3617388,2019-06-26,2019,Jun,Condo,Postwar,24,24,100 AMITY STREET,6,"100 AMITY STREET, 6"
56031,Queens,LONG ISLAND CITY,12 CONDOS - WALKUP APARTMENTS,2,nan,0,0,0,0,0,2,R2,1425000,2019-09-03,2019,Sep,Condo,Postwar,0,0,22-18 JACKSON AVE,812,"22-18 JACKSON AVE, 812"
15827,Manhattan,UPPER WEST SIDE (79-96),13 CONDOS - ELEVATOR APARTMENTS,2,R4,10024,0,0,0,2015,2,R4,3350000,2019-06-27,2019,Jun,Condo,Postwar,4,4,207 WEST 79TH STREET,5B,"207 WEST 79TH STREET, 5B"
98450,Manhattan,EAST VILLAGE,13 CONDOS - ELEVATOR APARTMENTS,2,R4,10003,0,0,620,1910,2,R4,895000,2019-06-28,2019,Jun,Condo,Prewar,109,109,15 STREET MARKS PLACE,PHA,"15 STREET MARKS PLACE, PHA"
151357,Manhattan,UPPER WEST SIDE (59-79),13 CONDOS - ELEVATOR APARTMENTS,2,R4,10023,0,0,455,0,2,R4,630000,2019-08-16,2019,Aug,Condo,Postwar,0,0,30 WEST 61ST STREET,14F,"30 WEST 61ST STREET, 14F"
196641,Brooklyn,FLATBUSH-CENTRAL,13 CONDOS - ELEVATOR APARTMENTS,2,R4,11226,0,0,553,2015,2,R4,487734,2019-08-28,2019,Aug,Condo,Postwar,4,4,2100 BEDFORD AVENUE,6F,"2100 BEDFORD AVENUE, 6F"
245000,Staten Island,ROSSVILLE,04 TAX CLASS 1 CONDOS,1A,R3,10309,0,0,922,1985,1,R3,365000,2019-06-17,2019,Jun,Condo,Postwar,34,34,629A CORRELL AVENUE,N/A,"629A CORRELL AVENUE, N/A"
47706,Manhattan,UPPER WEST SIDE (59-79),13 CONDOS - ELEVATOR APARTMENTS,2,R4,10023,0,0,0,0,2,R4,1600000,2019-08-14,2019,Aug,Condo,Postwar,0,0,41 WEST 72ND STREET,3D,"41 WEST 72ND STREET, 3D"
141594,Brooklyn,BEDFORD STUYVESANT,15 CONDOS - 2-10 UNIT RESIDENTIAL,2C,R1,11216,0,0,658,2017,2,R1,669000,2019-01-09,2019,Jan,Condo,Postwar,2,2,762 MARCY AVENUE,2A,"762 MARCY AVENUE, 2A"
86710,Queens,ASTORIA,12 CONDOS - WALKUP APARTMENTS,2,R2,11106,0,0,0,2004,2,R2,985000,2019-05-24,2019,May,Condo,Postwar,15,15,12-14 31ST AVENUE,9D,"12-14 31ST AVENUE, 9D"
143483,Brooklyn,COBBLE HILL-WEST,13 CONDOS - ELEVATOR APARTMENTS,2,R4,11201,0,0,609,2009,2,R4,660000,2019-01-28,2019,Jan,Condo,Postwar,10,10,414 HICKS STREET,B403,"414 HICKS STREET, B403"
59546,Manhattan,GRAMERCY,13 CONDOS - ELEVATOR APARTMENTS,2,R4,10010,0,0,616,1952,2,R4,1359364,2019-03-15,2019,Mar,Condo,Postwar,67,67,121 EAST 22ND STREET,N603,"121 EAST 22ND STREET, N603"
1563,Manhattan,UPPER EAST SIDE (59-79),13 CONDOS - ELEVATOR APARTMENTS,2,R4,10065,0,0,0,1927,2,R4,12600000,2019-06-26,2019,Jun,Condo,Prewar,92,92,40 EAST 61ST STREET,PHB,"40 EAST 61ST STREET, PHB"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
125103,Brooklyn,CONEY ISLAND,13 CONDOS - ELEVATOR APARTMENTS,2,R4,11224,0,0,0,1964,2,R4,740000,2019-02-26,2019,Feb,Condo,Postwar,55,55,501 SURF AVENUE,19F,"501 SURF AVENUE, 19F"
129849,Brooklyn,MADISON,13 CONDOS - ELEVATOR APARTMENTS,2,R4,11229,0,0,0,0,2,R4,720000,2019-04-17,2019,Apr,Condo,Postwar,0,0,2140 OCEAN AVENUE,6C,"2140 OCEAN AVENUE, 6C"
193045,Brooklyn,BOROUGH PARK,13 CONDOS - ELEVATOR APARTMENTS,2,R4,11219,0,0,942,2017,2,R4,498888,2019-09-04,2019,Sep,Condo,Postwar,2,2,949 60TH STREET,5B,"949 60TH STREET, 5B"
67194,Brooklyn,WILLIAMSBURG-EAST,15 CONDOS - 2-10 UNIT RESIDENTIAL,2,nan,0,0,0,0,0,2,R1,1247356,2019-06-13,2019,Jun,Condo,Postwar,0,0,66 MAUJER STREET,1A,"66 MAUJER STREET, 1A"
19483,Brooklyn,DOWNTOWN-FULTON FERRY,13 CONDOS - ELEVATOR APARTMENTS,2,R4,11201,0,0,0,2014,2,R4,2943029,2019-03-29,2019,Mar,Condo,Postwar,5,5,1 JOHN STREET,PHC,"1 JOHN STREET, PHC"
60983,Manhattan,LOWER EAST SIDE,13 CONDOS - ELEVATOR APARTMENTS,2,R4,10002,0,0,722,2015,2,R4,1336025,2019-07-22,2019,Jul,Condo,Postwar,4,4,252 SOUTH STREET,46F,"252 SOUTH STREET, 46F"
61689,Queens,LONG ISLAND CITY,15 CONDOS - 2-10 UNIT RESIDENTIAL,2,nan,0,0,0,0,0,2,R1,1325000,2019-09-16,2019,Sep,Condo,Postwar,0,0,5-28 47TH AVE,1B,"5-28 47TH AVE, 1B"
70965,Manhattan,HARLEM-CENTRAL,13 CONDOS - ELEVATOR APARTMENTS,2,nan,0,0,0,0,0,2,R4,1195000,2019-06-20,2019,Jun,Condo,Postwar,0,0,17 CONVENT AVENUE,5C,"17 CONVENT AVENUE, 5C"
32075,Manhattan,FINANCIAL,13 CONDOS - ELEVATOR APARTMENTS,2,R4,10005,0,0,0,1931,2,R4,2125000,2019-03-22,2019,Mar,Condo,Prewar,88,88,101 WALL STREET,2B,"101 WALL STREET, 2B"
161796,Brooklyn,GRAVESEND,13 CONDOS - ELEVATOR APARTMENTS,2,R4,11223,0,0,0,2003,2,R4,595000,2019-04-17,2019,Apr,Condo,Postwar,16,16,355 KINGS HIGHWAY,2D,"355 KINGS HIGHWAY, 2D"
110842,Manhattan,FASHION,13 CONDOS - ELEVATOR APARTMENTS,2,R4,10018,0,0,501,2004,2,R4,815000,2019-04-11,2019,Apr,Condo,Postwar,15,15,100 WEST 39TH STREET,40C,"100 WEST 39TH STREET, 40C"
181734,Queens,KEW GARDENS,13 CONDOS - ELEVATOR APARTMENTS,2,R4,11418,0,0,0,0,2,R4,530000,2019-07-09,2019,Jul,Condo,Postwar,0,0,116-24 GROSVENOR LANE,3A,"116-24 GROSVENOR LANE, 3A"
166548,Manhattan,MIDTOWN EAST,13 CONDOS - ELEVATOR APARTMENTS,2,R4,10022,0,0,376,1990,2,R4,579000,2019-09-05,2019,Sep,Condo,Postwar,29,29,250 EAST 54TH STREET,16B,"250 EAST 54TH STREET, 16B"
346496,Manhattan,GRAMERCY,13 CONDOS - ELEVATOR APARTMENTS,2,R4,10016,0,0,633,1965,2,R4,123500,2019-07-15,2019,Jul,Condo,Postwar,54,54,200 EAST 28TH STREET,3C,"200 EAST 28TH STREET, 3C"
12928,Manhattan,UPPER WEST SIDE (79-96),13 CONDOS - ELEVATOR APARTMENTS,2,R4,10024,0,0,0,1986,2,R4,3800000,2019-09-13,2019,Sep,Condo,Postwar,33,33,101 WEST 87TH STREET,612,"101 WEST 87TH STREET, 612"
43676,Manhattan,GRAMERCY,13 CONDOS - ELEVATOR APARTMENTS,2,R4,10010,0,0,773,2016,2,R4,1700448,2019-06-12,2019,Jun,Condo,Postwar,3,3,200 EAST 21ST STREET,12B,"200 EAST 21ST STREET, 12B"
264516,Staten Island,GRYMES HILL,13 CONDOS - ELEVATOR APARTMENTS,2,R4,10304,0,0,933,1987,2,R4,320000,2019-02-14,2019,Feb,Condo,Postwar,32,32,755 NARROWS ROAD NORTH,1111,"755 NARROWS ROAD NORTH, 1111"
77484,Manhattan,CIVIC CENTER,13 CONDOS - ELEVATOR APARTMENTS,2,R4,10007,0,0,855,2009,2,R4,1100000,2019-04-11,2019,Apr,Condo,Postwar,10,10,77 READE STREET,2-D,"77 READE STREET, 2-D"
7696,Manhattan,UPPER WEST SIDE (79-96),15 CONDOS - 2-10 UNIT RESIDENTIAL,2C,R1,10024,0,0,0,1910,2,R1,5200000,2019-09-16,2019,Sep,Condo,Prewar,109,109,272 WEST 86TH STREET,TH-W,"272 WEST 86TH STREET, TH-W"
28286,Manhattan,MURRAY HILL,13 CONDOS - ELEVATOR APARTMENTS,2,R4,10016,0,0,848,2017,2,R4,2316949,2019-03-08,2019,Mar,Condo,Postwar,2,2,277 FIFTH AVENUE,30B,"277 FIFTH AVENUE, 30B"
161483,Brooklyn,BEDFORD STUYVESANT,15 CONDOS - 2-10 UNIT RESIDENTIAL,2C,R1,11206,0,0,709,2017,2,R1,595676,2019-03-12,2019,Mar,Condo,Postwar,2,2,226 HART STREET,2A,"226 HART STREET, 2A"
14974,Manhattan,GREENWICH VILLAGE-WEST,13 CONDOS - ELEVATOR APARTMENTS,2,R4,10014,0,0,0,2007,2,R4,3466798,2019-05-30,2019,May,Condo,Postwar,12,12,400 WEST 12TH STREET,3F,"400 WEST 12TH STREET, 3F"
140510,Manhattan,UPPER EAST SIDE (79-96),13 CONDOS - ELEVATOR APARTMENTS,2,R4,10128,0,0,550,1962,2,R4,674000,2019-07-24,2019,Jul,Condo,Postwar,57,57,120 EAST 90TH STREET,2B,"120 EAST 90TH STREET, 2B"
98964,Brooklyn,BEDFORD STUYVESANT,13 CONDOS - ELEVATOR APARTMENTS,2,R4,11206,0,0,0,2018,2,R4,890154,2019-06-20,2019,Jun,Condo,Postwar,1,1,134 STOCKTON STREET,4B,"134 STOCKTON STREET, 4B"
25660,Brooklyn,WILLIAMSBURG-SOUTH,13 CONDOS - ELEVATOR APARTMENTS,2,R4,11249,0,0,0,2014,2,R4,2475000,2019-04-19,2019,Apr,Condo,Postwar,5,5,338 BERRY STREET,7F,"338 BERRY STREET, 7F"
312622,Staten Island,NEW SPRINGVILLE,12 CONDOS - WALKUP APARTMENTS,2,R2,10314,0,0,489,1973,2,R2,209898,2019-02-08,2019,Feb,Condo,Postwar,46,46,1294 ROCKLAND AVENUE,1C,"1294 ROCKLAND AVENUE, 1C"
329273,Staten Island,NEW SPRINGVILLE,12 CONDOS - WALKUP APARTMENTS,2,R2,10314,0,0,670,1973,2,R2,170000,2019-08-06,2019,Aug,Condo,Postwar,46,46,1290 ROCKLAND AVENUE,2H,"1290 ROCKLAND AVENUE, 2H"
274692,Queens,FLUSHING-NORTH,13 CONDOS - ELEVATOR APARTMENTS,2,R4,11354,0,0,737,2015,2,R4,295469,2019-02-28,2019,Feb,Condo,Postwar,4,4,145-38 34TH AVENUE,5F,"145-38 34TH AVENUE, 5F"
298673,Queens,HOWARD BEACH,13 CONDOS - ELEVATOR APARTMENTS,2,R4,11414,0,0,787,1964,2,R4,240000,2019-01-08,2019,Jan,Condo,Postwar,55,55,85-09 151 AVENUE,3A,"85-09 151 AVENUE, 3A"
139695,Brooklyn,WILLIAMSBURG-EAST,15 CONDOS - 2-10 UNIT RESIDENTIAL,2C,R1,11211,0,0,624,2017,2,R1,675000,2019-05-13,2019,May,Condo,Postwar,2,2,320 HUMBOLDT STREET,3R,"320 HUMBOLDT STREET, 3R"

In [335]:
building_sales.loc[:,'Main_Address'] = building_sales['Main_Address'].str.strip()

In [336]:
building_sales[building_sales['Main_Address'].str.contains('170 EAST END AVENUE, 10A')] #170 EAST END AVENUE, 10A

,BOROUGH,NEIGHBORHOOD,BUILDING CLASS CATEGORY,TAX CLASS AT PRESENT,BUILDING CLASS AT PRESENT,ZIP CODE,RESIDENTIAL UNITS,LAND SQUARE FEET,GROSS SQUARE FEET,YEAR BUILT,TAX CLASS AT TIME OF SALE,BUILDING CLASS AT TIME OF SALE,SALE PRICE,SALE DATE,SALE YEAR,SALE MONTH,Type,Construction,Current Age,Sale_Year_Diff,Building_Address,Apt_No,Main_Address
8276,Manhattan,UPPER EAST SIDE (79-96),13 CONDOS - ELEVATOR APARTMENTS,2,R4,10128,1,0,0,2005,2,R4,5000000,2009-03-04,2009,Mar,Condo,Postwar,14,4,170 EAST END AVENUE,10A,"170 EAST END AVENUE, 10A"

In [249]:
building_sales.iloc[[9004,9620],:]

,BOROUGH,NEIGHBORHOOD,BUILDING CLASS CATEGORY,TAX CLASS AT PRESENT,BLOCK,LOT,BUILDING CLASS AT PRESENT,ADDRESS,APARTMENT NUMBER,ZIP CODE,RESIDENTIAL UNITS,COMMERCIAL UNITS,TOTAL UNITS,LAND SQUARE FEET,GROSS SQUARE FEET,YEAR BUILT,TAX CLASS AT TIME OF SALE,BUILDING CLASS AT TIME OF SALE,SALE PRICE,SALE DATE,SALE YEAR,SALE MONTH,Type,Construction,Current Age,Sale_Year_Diff,Base_Address,Building_Address,Apt_No,Main_Address
21139,Manhattan,CHELSEA,13 CONDOS - ELEVATOR APARTMENTS,2,800,1355,R4,101 WEST 24TH STREET,21B,10011,1,0,1,0,0,2006,2,R4,3050000,2015-11-03,2015,Nov,Condo,Postwar,13,9,101 WEST 24TH STREET,101 WEST 24TH STREET,21B,"101 WEST 24TH STREET, 21B"
256232,Queens,OZONE PARK,02 TWO FAMILY HOMES,1,9100,51,B2,101-47 93RD STREET,NaN,11416,2,0,2,0,0,1930,1,B2,579500,2010-04-16,2010,Apr,House,Prewar,89,80,101-47 93RD STREET,101-47 93RD STREET,NaN,101-47 93RD STREET

In [218]:
building_sales.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 352399 entries, 0 to 556663
Data columns (total 30 columns):
BOROUGH                           352399 non-null object
NEIGHBORHOOD                      352399 non-null object
BUILDING CLASS CATEGORY           352399 non-null object
TAX CLASS AT PRESENT              352399 non-null category
BLOCK                             352399 non-null int64
LOT                               352399 non-null int64
BUILDING CLASS AT PRESENT         352399 non-null object
ADDRESS                           352399 non-null object
APARTMENT NUMBER                  130818 non-null object
ZIP CODE                          352399 non-null int64
RESIDENTIAL UNITS                 352399 non-null int64
COMMERCIAL UNITS                  352399 non-null int64
TOTAL UNITS                       352399 non-null int64
LAND SQUARE FEET                  352399 non-null int64
GROSS SQUARE FEET                 352399 non-null int64
YEAR BUILT                        352399 non-null int64
TAX CLASS AT TIME OF SALE         352399 non-null category
BUILDING CLASS AT TIME OF SALE    352399 non-null object
SALE PRICE                        352399 non-null int64
SALE DATE                         352399 non-null datetime64[ns]
SALE YEAR                         352399 non-null int64
SALE MONTH                        352399 non-null category
Type                              352399 non-null category
Construction                      352399 non-null category
Current Age                       352399 non-null int64
Sale_Year_Diff                    352399 non-null int64
Base_Address                      352399 non-null object
Building_Address                  352399 non-null object
Apt_No                            276026 non-null object
Main_Address                      352399 non-null object
dtypes: category(5), datetime64[ns](1), int64(13), object(11)
memory usage: 71.6+ MB

In [115]:
building_sales.loc[(building_sales['Type'] == 'Condo')|(building_sales['Type'] == 'Condop')|(building_sales['Type'] == 'Co-op')].groupby('Building_Address').size().sort_values(ascending = False)

Building_Address
99 JOHN STREET                555
20 PINE STREET                485
322 WEST 57TH   STREET        442
306 GOLD STREET               427
15 WILLIAM STREET             409
100 RIVERSIDE BOULEVARD       396
101 WARREN STREET             385
88 GREENWICH STREET           383
230 RIVERSIDE DRIVE           355
2 NORTHSIDE PIERS             351
80 RIVERSIDE BOULEVARD        340
150 MYRTLE AVENUE             334
75 WALL STREET                328
22 NORTH 6TH   STREET         308
200 EAST 66TH   STREET        301
27010 GRAND CENTRAL PARKWA    298
5 TUDOR CITY PLACE            295
15 BROAD STREET               295
1 HANSON PLACE                291
635 WEST 42ND   STREET        288
551 MAIN STREET               287
515 EAST 72ND   STREET        286
26910 GRAND CENTRAL PARKWA    285
2 BAY CLUB DRIVE              281
15 CENTRAL PARK WEST          281
211 EAST 46TH   STREET        274
247 WEST 46TH   STREET        269
27110 GRAND CENTRAL PARKWA    269
200 EAST 94TH   STREET        266
220 RIVERSIDE BOULEVARD       259
                             ...
33 STREET MARKS PLACE           1
5707 12TH   AVENUE              1
827 54TH STREET                 1
407 BLEECKER STREET             1
188 HYLAN BOULEVARD             1
5714 18TH   AVENUE              1
1311 44 STREET                  1
30 EAST 10TH   STREET           1
156 PENN STREET                 1
1118 45 STREET                  1
64 EAST 3RD STREET              1
678 EASTERN PARKWAY             1
108-31 50TH AVENUE              1
4506 12TH   AVENUE              1
138 LEXINGTON AVENUE            1
1958 79TH STREET                1
215 LAFAYETTE AVENUE            1
947 55TH STREET                 1
1230 48TH   STREET              1
622 BERGEN STREET               1
1242 PROSPECT AVENUE            1
1629 43RD   STREET              1
774 51ST   STREET               1
573 49TH   STREET               1
231 EAST 86TH STREET            1
78 2ND STREET                   1
30-16 37TH STREET               1
2640 EAST 14TH STREET           1
208 21ST STREET                 1
1145 41ST   STREET              1
Length: 24015, dtype: int64

In [219]:
building_sales = building_sales.sort_values('Building_Address',ascending = True)

In [117]:
building_sales.sample(150)

,BOROUGH,NEIGHBORHOOD,TAX CLASS AT PRESENT,BUILDING CLASS AT PRESENT,ZIP CODE,RESIDENTIAL UNITS,LAND SQUARE FEET,GROSS SQUARE FEET,YEAR BUILT,TAX CLASS AT TIME OF SALE,BUILDING CLASS AT TIME OF SALE,SALE PRICE,SALE DATE,SALE YEAR,SALE MONTH,Type,Construction,Current Age,Sale_Year_Diff,Building_Address,Apt_No,Main_Address
324312,Queens,BAYSIDE,2,R4,11360,1,0,0,1972,2,R4,472000,2014-11-24,2014,Nov,Condo,Postwar,47,42,1 BAY CLUB DRIVE,16B,"1 BAY CLUB DRIVE, 16B"
480927,Brooklyn,CROWN HEIGHTS,1,C0,11213,3,0,0,1910,1,C0,250000,2008-10-06,2008,Oct,House,Prewar,109,98,1559 PACIFIC STREET,NaN,1559 PACIFIC STREET
101147,Manhattan,GRAMERCY,2,R4,10003,1,0,628,1987,2,R4,1060000,2018-04-27,2018,Apr,Condo,Postwar,32,31,1 IRVING PLACE,U7E,"1 IRVING PLACE, U7E"
46046,Manhattan,MIDTOWN EAST,2,D4,10022,0,0,0,1929,2,D4,1830000,2009-09-10,2009,Sep,Co-op,Prewar,90,80,400 EAST 59TH STREET,5CD,"400 EAST 59TH STREET, 5CD"
18458,Manhattan,HARLEM-CENTRAL,2,nan,10026,0,0,0,0,2,R4,3309312,2017-08-09,2017,Aug,Condo,Postwar,0,0,2040 FREDERICK DOUGLASS B,NaN,2040 FREDERICK DOUGLASS B
363548,Staten Island,NEW BRIGHTON,1,A2,10301,1,0,0,1960,1,A2,419000,2014-05-30,2014,May,Townhouse,Postwar,59,54,248 STREETANLEY AVENUE,NaN,248 STREETANLEY AVENUE
187973,Queens,FLUSHING-NORTH,2,R4,11354,1,0,732,2008,2,R4,720000,2018-03-19,2018,Mar,Condo,Postwar,11,10,37-20 PRINCE STREET,10G,"37-20 PRINCE STREET, 10G"
133592,Queens,JACKSON HEIGHTS,1,B1,11369,2,0,0,1935,1,B1,890000,2016-07-11,2016,Jul,Townhouse,Prewar,84,81,91-01 32ND AVENUE,NaN,91-01 32ND AVENUE
220314,Brooklyn,KENSINGTON,2,D4,11218,0,0,0,1950,2,D4,650000,2017-12-15,2017,Dec,Co-op,War,69,67,58 DAHILL ROAD,5A,"58 DAHILL ROAD, 5A"
502819,Brooklyn,BUSHWICK,1,B1,11207,2,0,0,1905,1,B1,212500,2015-11-25,2015,Nov,Townhouse,Prewar,114,110,74 ABERDEEN STREET,NaN,74 ABERDEEN STREET
435979,Queens,FOREST HILLS,2,D4,11373,0,0,0,1940,2,D4,319900,2017-03-01,2017,Mar,Co-op,War,79,77,77-14 113TH STREET,5E,"77-14 113TH STREET, 5E"
323365,Bronx,BAYCHESTER,1,B1,10469,2,0,0,1996,1,B1,475000,2016-07-29,2016,Jul,Townhouse,Postwar,23,20,3045 TIEMANN AVENUE,NaN,3045 TIEMANN AVENUE
366134,Manhattan,GREENWICH VILLAGE-CENTRAL,2,D4,10012,0,0,0,1961,2,D4,415000,2013-03-12,2013,Mar,Co-op,Postwar,58,52,88 BLEECKER STREET,4A,"88 BLEECKER STREET, 4A"
306464,Brooklyn,BRIGHTON BEACH,2,R4,11235,1,0,0,1999,2,R4,499000,2011-01-14,2011,Jan,Condo,Postwar,20,12,130 OCEANA DRIVE WEST,4J,"130 OCEANA DRIVE WEST, 4J"
137633,Manhattan,CIVIC CENTER,2,R4,10013,1,0,0,1895,2,R4,875000,2009-12-11,2009,Dec,Condo,Pre-prewar,124,114,100 READE STREET,3-A,"100 READE STREET, 3-A"
479614,Bronx,SOUNDVIEW,1,C0,10473,3,0,0,1965,1,C0,250000,2015-04-17,2015,Apr,Townhouse,Postwar,54,50,457 LELAND AVENUE,NaN,457 LELAND AVENUE
550703,Brooklyn,SHEEPSHEAD BAY,2,D4,11229,0,0,0,1952,2,D4,120000,2012-12-06,2012,Dec,Co-op,Postwar,67,60,2170 BRIGHAM STREET,4K,"2170 BRIGHAM STREET, 4K"
337224,Queens,WOODSIDE,2,nan,11377,0,0,0,0,2,R2,451230,2016-11-18,2016,Nov,Condo,Postwar,0,0,61-05 39TH AVE,NaN,61-05 39TH AVE
363918,Manhattan,TRIBECA,2,R4,10280,1,0,0,1987,2,R4,418000,2011-08-16,2011,Aug,Condo,Postwar,32,24,200 RECTOR PLACE,6L,"200 RECTOR PLACE, 6L"
473019,Brooklyn,CYPRESS HILLS,1,B3,11207,2,0,0,1910,1,B3,260000,2015-06-12,2015,Jun,Townhouse,Prewar,109,105,36 HENDRIX STREET,NaN,36 HENDRIX STREET
12141,Manhattan,MIDTOWN WEST,2,R4,10019,1,0,0,1982,2,R4,4290000,2015-10-16,2015,Oct,Condo,Postwar,37,33,15 WEST 53RD STREET,32D,"15 WEST 53RD STREET, 32D"
188336,Manhattan,UPPER EAST SIDE (59-79),2,R4,10075,1,0,0,1986,2,R4,720000,2011-07-07,2011,Jul,Condo,Postwar,33,25,404 EAST 79TH STREET,28C,"404 EAST 79TH STREET, 28C"
62972,Brooklyn,BUSHWICK,1,C0,11221,3,0,0,2012,1,C0,1499000,2016-11-07,2016,Nov,Townhouse,Postwar,7,4,205 CORNELIA STREET,NaN,205 CORNELIA STREET
483952,Queens,SPRINGFIELD GARDENS,1,A5,11434,1,0,760,1950,1,A5,244110,2010-09-02,2010,Sep,House,War,69,60,160-14 BAISLEY BOULEVARD,NaN,160-14 BAISLEY BOULEVARD
148220,Queens,FLUSHING-NORTH,1,A0,11358,1,0,0,1950,1,A2,839000,2015-03-31,2015,Mar,Townhouse,War,69,65,40-49 189TH STREET,NaN,40-49 189TH STREET
365697,Manhattan,MIDTOWN EAST,2,D4,10017,0,0,0,1927,2,D4,415000,2011-07-27,2011,Jul,Co-op,Prewar,92,84,235 EAST 49TH STREET,4A,"235 EAST 49TH STREET, 4A"
371758,Brooklyn,BOROUGH PARK,2,R4,11204,1,0,0,0,2,R4,405600,2010-05-18,2010,May,Condo,Postwar,0,0,2231 62ND STREET,3R,"2231 62ND STREET, 3R"
454285,Brooklyn,GRAVESEND,2,D4,11214,0,0,0,1954,2,D4,290000,2016-06-20,2016,Jun,Co-op,Postwar,65,62,8721 BAY PARKWAY,1J,"8721 BAY PARKWAY, 1J"
139538,Bronx,MOTT HAVEN/PORT MORRIS,2,R4,10451,0,0,0,2017,2,R4,865513,2019-05-23,2019,May,Condo,Postwar,2,2,225 EAST 138 STREET,PH2,"225 EAST 138 STREET, PH2"
81404,Manhattan,WASHINGTON HEIGHTS LOWER,1,B3,10032,2,0,0,1899,1,B3,1250000,2012-06-25,2012,Jun,House,Prewar,120,113,646 WEST 158 STREET,NaN,646 WEST 158 STREET
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
369050,Queens,BAYSIDE,2,R4,11361,1,0,0,1989,2,R4,410000,2008-06-03,2008,Jun,Condo,Postwar,30,19,213-02 42ND AVENUE,6D,"213-02 42ND AVENUE, 6D"
138935,Brooklyn,DOWNTOWN-FULTON MALL,2,R4,11201,1,0,0,1926,2,R4,870000,2016-08-18,2016,Aug,Condo,Prewar,93,90,110 LIVINGSTON STREET,3R,"110 LIVINGSTON STREET, 3R"
177899,Manhattan,CLINTON,2,R4,10036,1,0,0,1988,2,R4,749000,2013-06-07,2013,Jun,Condo,Postwar,31,25,500 WEST 43RD STREET,12J,"500 WEST 43RD STREET, 12J"
535155,Staten Island,CLOVE LAKES,2,D4,10301,0,0,0,1966,2,D4,155000,2008-08-14,2008,Aug,Co-op,Postwar,53,42,1000 CLOVE ROAD,9-O,"1000 CLOVE ROAD, 9-O"
445003,Brooklyn,SUNSET PARK,2,R4,11220,1,0,0,2009,2,R4,304200,2015-06-19,2015,Jun,Condo,Postwar,10,6,769 57TH STREET,3B,"769 57TH STREET, 3B"
265233,Manhattan,MIDTOWN EAST,2,R4,10017,1,0,0,1957,2,R4,562000,2016-08-17,2016,Aug,Condo,Postwar,62,59,210 EAST 47TH STREET,3 F,"210 EAST 47TH STREET, 3 F"
302576,Brooklyn,EAST NEW YORK,1,B1,11207,2,954,0,1930,1,B1,500000,2015-04-22,2015,Apr,Townhouse,Prewar,89,85,308 ASHFORD STREET,NaN,308 ASHFORD STREET
152546,Brooklyn,BEDFORD STUYVESANT,1,C0,11238,3,0,0,2009,1,C0,823750,2010-12-15,2010,Dec,House,Postwar,10,1,363 FRANKLIN AVENUE,NaN,363 FRANKLIN AVENUE
389244,Queens,SO. JAMAICA-BAISLEY PARK,1,A1,11436,1,0,0,1925,1,A1,385000,2010-11-24,2010,Nov,House,Prewar,94,85,126-33 144TH STREET,NaN,126-33 144TH STREET
514121,Staten Island,PORT RICHMOND,1,A5,10302,1,0,0,1915,1,A5,194208,2009-02-27,2009,Feb,House,Prewar,104,94,53 LARKIN STREET,NaN,53 LARKIN STREET
5054,Manhattan,SOHO,1,S1,10013,1,0,0,1899,1,S1,7200000,2018-10-03,2018,Oct,Townhouse,Prewar,120,119,53 WOOSTER STREET,NaN,53 WOOSTER STREET
5959,Manhattan,SOHO,2,R4,10012,1,0,0,0,2,R4,6550000,2014-10-31,2014,Oct,Condo,Postwar,0,0,105 WOOSTER STREET,6E,"105 WOOSTER STREET, 6E"
478217,Staten Island,ROSSVILLE,1A,R3,10309,1,0,0,1985,1,R3,250000,2009-07-27,2009,Jul,Condo,Postwar,34,24,15 REDWOOD LOOP,NaN,15 REDWOOD LOOP
65432,Manhattan,UPPER WEST SIDE (59-79),2,R4,10069,1,0,0,0,2,R4,1450000,2015-03-26,2015,Mar,Condo,Postwar,0,0,200 RIVERSIDE BOULEVARD,20C,"200 RIVERSIDE BOULEVARD, 20C"
517784,Manhattan,WASHINGTON HEIGHTS UPPER,2,D4,10040,0,0,0,1928,2,D4,187000,2013-07-17,2013,Jul,Co-op,Prewar,91,85,689 FORT WASHINGTON AVEN,1I,"689 FORT WASHINGTON AVEN, 1I"
532824,Queens,FLUSHING-NORTH,2,D4,11355,0,0,0,1956,2,D4,160000,2015-11-03,2015,Nov,Co-op,Postwar,63,59,42-40 BOWNE STREET,4E,"42-40 BOWNE STREET, 4E"
119522,Manhattan,UPPER EAST SIDE (59-79),2,R9,10021,0,0,0,1963,2,R9,950000,2013-09-10,2013,Sep,Condop,Postwar,56,50,301 EAST 69TH STREET,18C,"301 EAST 69TH STREET, 18C"
152660,Manhattan,UPPER WEST SIDE (59-79),2,R4,10024,1,0,0,0,2,R4,822236,2008-01-30,2008,Jan,Condo,Postwar,0,0,100 RIVERSIDE DRIVE,4J,"100 RIVERSIDE DRIVE, 4J"
20340,Manhattan,GREENWICH VILLAGE-WEST,1,B1,10014,2,659,0,1899,1,B1,3125000,2010-12-03,2010,Dec,House,Prewar,120,111,6 MORTON STREET,NaN,6 MORTON STREET
335772,Staten Island,ROSEBANK,1,B2,10305,2,0,0,2005,1,B2,455000,2009-03-06,2009,Mar,House,Postwar,14,4,48 BELL STREET,NaN,48 BELL STREET
308474,Queens,FLUSHING-NORTH,2,D4,11354,0,0,0,1965,2,D4,495000,2014-03-11,2014,Mar,Co-op,Postwar,54,49,142-05 ROOSEVELT AVE,614,"142-05 ROOSEVELT AVE, 614"
949,Manhattan,UPPER WEST SIDE (59-79),2,R4,10023,0,0,0,2005,2,R4,18000000,2019-01-07,2019,Jan,Condo,Postwar,14,14,15 CENTRAL PARK WEST,33B,"15 CENTRAL PARK WEST, 33B"
460573,Queens,FOREST HILLS,2,D4,11375,0,0,0,1951,2,D4,280000,2008-04-04,2008,Apr,Co-op,Postwar,68,57,69-60 108TH STREET,204,"69-60 108TH STREET, 204"
472139,Staten Island,NEW SPRINGVILLE,2,R2,10314,1,0,791,1974,2,R2,261820,2018-05-22,2018,May,Condo,Postwar,45,44,11 GADSEN PLACE,1H,"11 GADSEN PLACE, 1H"
422164,Queens,WHITESTONE,2,C6,11357,0,0,0,1951,2,C6,340000,2018-08-14,2018,Aug,Co-op,Postwar,68,67,17-41 166TH STREET,3-65,"17-41 166TH STREET, 3-65"
301887,Queens,GLENDALE,1,A1,11385,1,0,0,1930,1,A1,500000,2017-01-25,2017,Jan,Townhouse,Prewar,89,87,70-01 71ST STREET,NaN,70-01 71ST STREET
541886,Manhattan,CHELSEA,2,D4,10001,0,0,0,1963,2,D4,140511,2016-05-17,2016,May,Co-op,Postwar,56,53,365 WEST 25TH STREET,16B,"365 WEST 25TH STREET, 16B"
401473,Queens,FLUSHING-NORTH,2,R4,11354,1,0,0,1964,2,R4,368000,2011-10-17,2011,Oct,Condo,Postwar,55,47,31-22 UNION STREET,3-D,"31-22 UNION STREET, 3-D"
451591,Queens,ARVERNE,1A,R3,11692,1,0,0,0,1,R3,295060,2011-03-16,2011,Mar,Condo,Postwar,0,0,112 BEACH 62 STREET,66,"112 BEACH 62 STREET, 66"
92180,Manhattan,UPPER WEST SIDE (96-116),2,R4,10025,1,0,0,1920,2,R4,1150000,2011-10-12,2011,Oct,Condo,Prewar,99,91,527 WEST 110TH STREET,94,"527 WEST 110TH STREET, 94"

In [625]:
#EXPORT TO CSV FOR TREATMENT IN R
building_sales.to_csv('buildsales.csv', index_label = 'Index')
#help(pd.DataFrame.to_csv)

### **Apartment Subset: Filter for apartments with Apartment Number with multiple transactions throughout the years**

In [ ]:
#Condo', 'Co-op', 'Townhouse', 'Condop', 'House', 'Other'

In [225]:
#apartments = combined.duplicated(subset = 'Main_Address', keep = False)
combined[apartments][(combined['SALE YEAR'] == 2019) & (combined['Type'] == 'Condo')]

//anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

,BOROUGH,NEIGHBORHOOD,BUILDING CLASS CATEGORY,TAX CLASS AT PRESENT,BLOCK,LOT,BUILDING CLASS AT PRESENT,ADDRESS,APARTMENT NUMBER,ZIP CODE,RESIDENTIAL UNITS,COMMERCIAL UNITS,TOTAL UNITS,LAND SQUARE FEET,GROSS SQUARE FEET,YEAR BUILT,TAX CLASS AT TIME OF SALE,BUILDING CLASS AT TIME OF SALE,SALE PRICE,SALE DATE,SALE YEAR,SALE MONTH,Type,Construction,Current Age,Sale_Year_Diff,Base_Address,Building_Address,Apt_No,Main_Address
6502,Manhattan,GREENWICH VILLAGE-WEST,04 TAX CLASS 1 CONDOS,1C,623,1102,R6,"407 BLEECKER STREET, RES",RES,10014,0,0,0,0,0,1899,1,R6,6250000,2019-03-04,2019,Mar,Condo,Prewar,120,120,"407 BLEECKER STREET, RES",407 BLEECKER STREET,NaN,407 BLEECKER STREET
6671,Manhattan,CHELSEA,13 CONDOS - ELEVATOR APARTMENTS,2,767,1613,R4,"221 WEST 17TH STREET, PH2",PH2,10011,0,0,0,0,0,1912,2,R4,6150000,2019-06-27,2019,Jun,Condo,Prewar,107,107,"221 WEST 17TH STREET, PH2",221 WEST 17TH STREET,PH2,"221 WEST 17TH STREET, PH2"
7973,Manhattan,CHELSEA,13 CONDOS - ELEVATOR APARTMENTS,2,767,1613,R4,"221 WEST 17TH STREET, PH2",PH2,10011,0,0,0,0,0,1912,2,R4,5550000,2019-06-03,2019,Jun,Condo,Prewar,107,107,"221 WEST 17TH STREET, PH2",221 WEST 17TH STREET,PH2,"221 WEST 17TH STREET, PH2"
12230,Brooklyn,WILLIAMSBURG-NORTH,13 CONDOS - ELEVATOR APARTMENTS,2,2348,1246,R4,"184 KENT AVENUE, C313",C313,11249,0,0,0,0,728,1914,2,R4,4259949,2019-01-08,2019,Jan,Condo,Prewar,105,105,"184 KENT AVENUE, C313",184 KENT AVENUE,C313,"184 KENT AVENUE, C313"
18057,Manhattan,CHELSEA,15 CONDOS - 2-10 UNIT RESIDENTIAL,2C,800,1206,R1,"141 WEST 24TH STREET, RES-6",RES-6,10011,0,0,0,0,0,0,2,R1,3375000,2019-01-10,2019,Jan,Condo,Postwar,0,0,"141 WEST 24TH STREET, RES-6",141 WEST 24TH STREET,NaN,141 WEST 24TH STREET
26704,Manhattan,UPPER EAST SIDE (79-96),13 CONDOS - ELEVATOR APARTMENTS,2,1566,1061,R4,"455 EAST 86TH STREET, 31B",31B,10028,0,0,0,0,0,1986,2,R4,2632500,2019-06-28,2019,Jun,Condo,Postwar,33,33,"455 EAST 86TH STREET, 31B",455 EAST 86TH STREET,31B,"455 EAST 86TH STREET, 31B"
28757,Manhattan,UPPER EAST SIDE (79-96),13 CONDOS - ELEVATOR APARTMENTS,2,1566,1061,R4,"455 EAST 86TH STREET, 31B",31B,10028,0,0,0,0,0,1986,2,R4,2500000,2019-03-20,2019,Mar,Condo,Postwar,33,33,"455 EAST 86TH STREET, 31B",455 EAST 86TH STREET,31B,"455 EAST 86TH STREET, 31B"
36712,Manhattan,GREENWICH VILLAGE-WEST,13 CONDOS - ELEVATOR APARTMENTS,2,602,1122,R4,"1 MORTON SQUARE, 14A E",14A E,10014,0,0,0,0,813,2002,2,R4,2150000,2019-07-23,2019,Jul,Condo,Postwar,17,17,"1 MORTON SQUARE, 14A E",1 MORTON SQUARE,14A E,"1 MORTON SQUARE, 14A E"
37073,Brooklyn,WILLIAMSBURG-NORTH,13 CONDOS - ELEVATOR APARTMENTS,2,2331,1107,R4,"308 NORTH 7TH STREET, GARDE",GARDEN F,11211,0,0,0,0,0,2017,2,R4,2128500,2019-09-17,2019,Sep,Condo,Postwar,2,2,"308 NORTH 7TH STREET, GARDE",308 NORTH 7TH STREET,GARDE,"308 NORTH 7TH STREET, GARDE"
39268,Manhattan,UPPER EAST SIDE (79-96),13 CONDOS - ELEVATOR APARTMENTS,2,1539,1338,R4,"200 EAST 94TH STREET, 304",304,10128,0,0,0,0,0,1986,2,R4,2043585,2019-05-20,2019,May,Condo,Postwar,33,33,"200 EAST 94TH STREET, 304",200 EAST 94TH STREET,304,"200 EAST 94TH STREET, 304"
43586,Manhattan,UPPER EAST SIDE (79-96),13 CONDOS - ELEVATOR APARTMENTS,2,1539,1338,R4,"200 EAST 94TH STREET, 304",304,10128,0,0,0,0,0,1986,2,R4,1900000,2019-06-14,2019,Jun,Condo,Postwar,33,33,"200 EAST 94TH STREET, 304",200 EAST 94TH STREET,304,"200 EAST 94TH STREET, 304"
52393,Manhattan,MIDTOWN WEST,13 CONDOS - ELEVATOR APARTMENTS,2,1020,1159,R4,"1600 BROADWAY, 12G",12G,10019,0,0,0,0,0,0,2,R4,1680127,2019-02-27,2019,Feb,Condo,Postwar,0,0,"1600 BROADWAY, 12G",1600 BROADWAY,12G,"1600 BROADWAY, 12G"
52397,Manhattan,GRAMERCY,13 CONDOS - ELEVATOR APARTMENTS,2,900,1177,R4,"225 EAST 19TH STREET, 705",705,10003,0,0,0,0,695,1920,2,R4,1680113,2019-09-17,2019,Sep,Condo,Prewar,99,99,"225 EAST 19TH STREET, 705",225 EAST 19TH STREET,705,"225 EAST 19TH STREET, 705"
54427,Manhattan,GRAMERCY,13 CONDOS - ELEVATOR APARTMENTS,2,900,1165,R4,"225 EAST 19TH STREET, 505",505,10003,0,0,0,0,695,1920,2,R4,1643456,2019-08-26,2019,Aug,Condo,Prewar,99,99,"225 EAST 19TH STREET, 505",225 EAST 19TH STREET,505,"225 EAST 19TH STREET, 505"
55527,Manhattan,GRAMERCY,13 CONDOS - ELEVATOR APARTMENTS,2,900,1153,R4,"225 EAST 19TH STREET, 305",305,10003,0,0,0,0,693,1920,2,R4,1619018,2019-08-26,2019,Aug,Condo,Prewar,99,99,"225 EAST 19TH STREET, 305",225 EAST 19TH STREET,305,"225 EAST 19TH STREET, 305"
58310,Manhattan,GRAMERCY,13 CONDOS - ELEVATOR APARTMENTS,2,900,1177,R4,"225 EAST 19TH STREET, 705",705,10003,0,0,0,0,695,1920,2,R4,1570000,2019-03-29,2019,Mar,Condo,Prewar,99,99,"225 EAST 19TH STREET, 705",225 EAST 19TH STREET,705,"225 EAST 19TH STREET, 705"
59711,Brooklyn,WILLIAMSBURG-NORTH,13 CONDOS - ELEVATOR APARTMENTS,2,2331,1101,R4,"308 NORTH 7TH STREET, GARDE",GARDEN,11211,0,0,0,0,841,2017,2,R4,1549000,2019-09-12,2019,Sep,Condo,Postwar,2,2,"308 NORTH 7TH STREET, GARDE",308 NORTH 7TH STREET,GARDE,"308 NORTH 7TH STREET, GARDE"
59990,Manhattan,GRAMERCY,13 CONDOS - ELEVATOR APARTMENTS,2,900,1165,R4,"225 EAST 19TH STREET, 505",505,10003,0,0,0,0,695,1920,2,R4,1540000,2019-03-29,2019,Mar,Condo,Prewar,99,99,"225 EAST 19TH STREET, 505",225 EAST 19TH STREET,505,"225 EAST 19TH STREET, 505"
60223,Brooklyn,BOERUM HILL,12 CONDOS - WALKUP APARTMENTS,2,389,1005,R2,"328 BERGEN STREET, 3A",3A,11217,0,0,0,0,0,2004,2,R2,1530000,2019-06-13,2019,Jun,Condo,Postwar,15,15,"328 BERGEN STREET, 3A",328 BERGEN STREET,3A,"328 BERGEN STREET, 3A"
60513,Brooklyn,PARK SLOPE SOUTH,15 CONDOS - 2-10 UNIT RESIDENTIAL,2C,1042,1104,R1,"534 6 AVENUE, RES4",RES4,11215,0,0,0,0,0,2010,2,R1,1525000,2019-06-14,2019,Jun,Condo,Postwar,9,9,"534 6 AVENUE, RES4",534 6 AVENUE,NaN,534 6 AVENUE
61261,Manhattan,GRAMERCY,13 CONDOS - ELEVATOR APARTMENTS,2,900,1153,R4,"225 EAST 19TH STREET, 305",305,10003,0,0,0,0,693,1920,2,R4,1510000,2019-03-29,2019,Mar,Condo,Prewar,99,99,"225 EAST 19TH STREET, 305",225 EAST 19TH STREET,305,"225 EAST 19TH STREET, 305"
72309,Brooklyn,WILLIAMSBURG-NORTH,13 CONDOS - ELEVATOR APARTMENTS,2,2348,1246,R4,"184 KENT AVENUE, C313",C313,11249,0,0,0,0,728,1914,2,R4,1350000,2019-03-20,2019,Mar,Condo,Prewar,105,105,"184 KENT AVENUE, C313",184 KENT AVENUE,C313,"184 KENT AVENUE, C313"
81932,Manhattan,TRIBECA,13 CONDOS - ELEVATOR APARTMENTS,2,16,1441,R4,"30 LITTLE WEST STREET, 7G",7G,10004,0,0,0,0,0,2005,2,R4,1250000,2019-02-01,2019,Feb,Condo,Postwar,14,14,"30 LITTLE WEST STREET, 7G",30 LITTLE WEST STREET,7G,"30 LITTLE WEST STREET, 7G"
84131,Brooklyn,CLINTON HILL,13 CONDOS - ELEVATOR APARTMENTS,2,1992,1002,R4,"82 IRVING PLACE, 1B",1B,11238,0,0,0,0,0,2011,2,R4,1225000,2019-03-01,2019,Mar,Condo,Postwar,8,8,"82 IRVING PLACE, 1B",82 IRVING PLACE,1B,"82 IRVING PLACE, 1B"
86943,Manhattan,GREENWICH VILLAGE-WEST,13 CONDOS - ELEVATOR APARTMENTS,2,602,1122,R4,"1 MORTON SQUARE, 14A E",14A E,10014,0,0,0,0,813,2002,2,R4,1200000,2019-03-04,2019,Mar,Condo,Postwar,17,17,"1 MORTON SQUARE, 14A E",1 MORTON SQUARE,14A E,"1 MORTON SQUARE, 14A E"
101620,Manhattan,MIDTOWN WEST,13 CONDOS - ELEVATOR APARTMENTS,2,1020,1159,R4,"1600 BROADWAY, 12G",12G,10019,0,0,0,0,0,0,2,R4,1055000,2019-07-29,2019,Jul,Condo,Postwar,0,0,"1600 BROADWAY, 12G",1600 BROADWAY,12G,"1600 BROADWAY, 12G"
105251,Manhattan,TRIBECA,13 CONDOS - ELEVATOR APARTMENTS,2,16,1441,R4,"30 LITTLE WEST STREET, 7G",7G,10004,0,0,0,0,0,2005,2,R4,1005000,2019-01-09,2019,Jan,Condo,Postwar,14,14,"30 LITTLE WEST STREET, 7G",30 LITTLE WEST STREET,7G,"30 LITTLE WEST STREET, 7G"
108307,Manhattan,CIVIC CENTER,13 CONDOS - ELEVATOR APARTMENTS,2,173,1112,R4,"93 WORTH STREET, 206",206,10013,0,0,0,0,475,1924,2,R4,997000,2019-06-24,2019,Jun,Condo,Prewar,95,95,"93 WORTH STREET, 206",93 WORTH STREET,206,"93 WORTH STREET, 206"
116549,Brooklyn,WILLIAMSBURG-CENTRAL,13 CONDOS - ELEVATOR APARTMENTS,2,2165,1030,R4,"525 KENT AVENUE, 7C",7C,11249,0,0,0,0,0,2001,2,R4,967000,2019-03-04,2019,Mar,Condo,Postwar,18,18,"525 KENT AVENUE, 7C",525 KENT AVENUE,7C,"525 KENT AVENUE, 7C"
120401,Brooklyn,WILLIAMSBURG-CENTRAL,13 CONDOS - ELEVATOR APARTMENTS,2,2262,1705,R4,"405 FLUSHING AVENUE, 3B",3B,11205,0,0,0,0,0,2006,2,R4,950000,2019-07-17,2019,Jul,Condo,Postwar,13,13,"405 FLUSHING AVENUE, 3B",405 FLUSHING AVENUE,3B,"405 FLUSHING AVENUE, 3B"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
402119,Queens,ROCKAWAY PARK,12 CONDOS - WALKUP APARTMENTS,2,16173,1017,R2,"100-14 SHORE FRONT PARKWAY, 17B",17B,11694,0,0,0,0,902,2006,2,R2,366000,2019-04-17,2019,Apr,Condo,Postwar,13,13,"100-14 SHORE FRONT PARKWAY, 17B",100-14 SHORE FRONT PARKWAY,17B,"100-14 SHORE FRONT PARKWAY, 17B"
402619,Queens,HOWARD BEACH,13 CONDOS - ELEVATOR APARTMENTS,2,11417,2502,R4,86-11 151ST AVENUE,NaN,11414,0,0,0,0,0,1964,2,R4,365000,2019-06-13,2019,Jun,Condo,Postwar,55,55,86-11 151ST AVENUE,86-11 151ST AVENUE,NaN,86-11 151ST AVENUE
412999,Queens,ROCKAWAY PARK,12 CONDOS - WALKUP APARTMENTS,2,16173,1017,R2,"100-14 SHORE FRONT PARKWAY, 17B",17B,11694,0,0,0,0,902,2006,2,R2,350000,2019-05-20,2019,May,Condo,Postwar,13,13,"100-14 SHORE FRONT PARKWAY, 17B",100-14 SHORE FRONT PARKWAY,17B,"100-14 SHORE FRONT PARKWAY, 17B"
430149,Staten Island,GREAT KILLS,04 TAX CLASS 1 CONDOS,1A,5303,1035,R3,"44 HARBOUR COURT, 44",44,10308,0,0,0,0,0,1987,1,R3,325500,2019-08-29,2019,Aug,Condo,Postwar,32,32,"44 HARBOUR COURT, 44",44 HARBOUR COURT,44,"44 HARBOUR COURT, 44"
438186,Staten Island,BULLS HEAD,04 TAX CLASS 1 CONDOS,1A,1668,1127,R3,82 WOLKOFF LANE,NaN,10303,0,0,0,0,0,1985,1,R3,315000,2019-02-20,2019,Feb,Condo,Postwar,34,34,82 WOLKOFF LANE,82 WOLKOFF LANE,NaN,82 WOLKOFF LANE
443253,Bronx,MORRISANIA/LONGWOOD,13 CONDOS - ELEVATOR APARTMENTS,2,2381,1022,R4,"837 WASHINGTON AVENUE, 3J",3J,10451,0,0,0,0,971,2008,2,R4,307000,2019-09-16,2019,Sep,Condo,Postwar,11,11,"837 WASHINGTON AVENUE, 3J",837 WASHINGTON AVENUE,3J,"837 WASHINGTON AVENUE, 3J"
453906,Staten Island,ROSSVILLE,04 TAX CLASS 1 CONDOS,1A,7040,1012,R3,"7 IVY COURT, N/A",NaN,10309,0,0,0,0,0,1985,1,R3,291000,2019-02-21,2019,Feb,Condo,Postwar,34,34,"7 IVY COURT, N/A",7 IVY COURT,N/A,"7 IVY COURT, N/A"
459390,Staten Island,TOTTENVILLE,04 TAX CLASS 1 CONDOS,1A,7860,1011,R3,"41 WINDING WOODS LOOP, 11",11,10307,0,0,0,0,0,1988,1,R3,282750,2019-04-18,2019,Apr,Condo,Postwar,31,31,"41 WINDING WOODS LOOP, 11",41 WINDING WOODS LOOP,11,"41 WINDING WOODS LOOP, 11"
470917,Bronx,PARKCHESTER,13 CONDOS - ELEVATOR APARTMENTS,2,3937,2291,R4,"99 METROPOLITAN OVAL, 4C",4C,10462,0,0,0,0,829,0,2,R4,265000,2019-09-19,2019,Sep,Condo,Postwar,0,0,"99 METROPOLITAN OVAL, 4C",99 METROPOLITAN OVAL,4C,"99 METROPOLITAN OVAL, 4C"
472292,Bronx,MORRISANIA/LONGWOOD,13 CONDOS - ELEVATOR APARTMENTS,2,2381,1022,R4,"837 WASHINGTON AVENUE, 3J",3J,10451,0,0,0,0,971,2008,2,R4,261000,2019-08-08,2019,Aug,Condo,Postwar,11,11,"837 WASHINGTON AVENUE, 3J",837 WASHINGTON AVENUE,3J,"837 WASHINGTON AVENUE, 3J"
472765,Bronx,PARKCHESTER,13 CONDOS - ELEVATOR APARTMENTS,2,3944,1867,R4,"1946 EAST TREMONT AVENUE, 1B",1B,10462,0,0,0,0,0,0,2,R4,260000,2019-07-16,2019,Jul,Condo,Postwar,0,0,"1946 EAST TREMONT AVENUE, 1B",1946 EAST TREMONT AVENUE,1B,"1946 EAST TREMONT AVENUE, 1B"
483489,Bronx,PARKCHESTER,13 CONDOS - ELEVATOR APARTMENTS,2,3944,3712,R4,"1651 METROPOLITAN AVENUE, 3C",3C,10462,0,0,0,0,874,0,2,R4,245000,2019-08-20,2019,Aug,Condo,Postwar,0,0,"1651 METROPOLITAN AVENUE, 3C",1651 METROPOLITAN AVENUE,3C,"1651 METROPOLITAN AVENUE, 3C"
486665,Staten Island,NEW SPRINGVILLE,13 CONDOS - ELEVATOR APARTMENTS,2,2450,1650,R4,"2 ELMWOOD PARK DRIVE, 223",223,10314,0,0,0,0,792,1983,2,R4,240000,2019-07-17,2019,Jul,Condo,Postwar,36,36,"2 ELMWOOD PARK DRIVE, 223",2 ELMWOOD PARK DRIVE,223,"2 ELMWOOD PARK DRIVE, 223"
487394,Staten Island,NEW SPRINGVILLE,13 CONDOS - ELEVATOR APARTMENTS,2,2450,1650,R4,"2 ELMWOOD PARK DRIVE, 223",223,10314,0,0,0,0,792,1983,2,R4,238042,2019-03-21,2019,Mar,Condo,Postwar,36,36,"2 ELMWOOD PARK DRIVE, 223",2 ELMWOOD PARK DRIVE,223,"2 ELMWOOD PARK DRIVE, 223"
488943,Bronx,PARKCHESTER,13 CONDOS - ELEVATOR APARTMENTS,2,3944,3255,R4,"2220 EAST TREMONT AVE, 4F",4F,10462,0,0,0,0,846,0,2,R4,235000,2019-05-24,2019,May,Condo,Postwar,0,0,"2220 EAST TREMONT AVE, 4F",2220 EAST TREMONT AVE,4F,"2220 EAST TREMONT AVE, 4F"
492032,Bronx,PARKCHESTER,13 CONDOS - ELEVATOR APARTMENTS,2,3943,5292,R4,"1514 METROPOLITAN AVENUE, 4F",4F,10462,0,0,0,0,650,0,2,R4,230000,2019-07-17,2019,Jul,Condo,Postwar,0,0,"1514 METROPOLITAN AVENUE, 4F",1514 METROPOLITAN AVENUE,4F,"1514 METROPOLITAN AVENUE, 4F"
498025,Bronx,PARKCHESTER,13 CONDOS - ELEVATOR APARTMENTS,2,3937,2291,R4,"99 METROPOLITAN OVAL, 4C",4C,10462,0,0,0,0,829,0,2,R4,220000,2019-05-15,2019,May,Condo,Postwar,0,0,"99 METROPOLITAN OVAL, 4C",99 METROPOLITAN OVAL,4C,"99 METROPOLITAN OVAL, 4C"
508206,Bronx,PARKCHESTER,13 CONDOS - ELEVATOR APARTMENTS,2,3944,1867,R4,"1946 EAST TREMONT AVENUE, 1B",1B,10462,0,0,0,0,0,0,2,R4,202800,2019-05-30,2019,May,Condo,Postwar,0,0,"1946 EAST TREMONT AVENUE, 1B",1946 EAST TREMONT AVENUE,1B,"1946 EAST TREMONT AVENUE, 1B"
509296,Bronx,PARKCHESTER,13 CONDOS - ELEVATOR APARTMENTS,2,3943,2415,R4,"22 METROPOLITAN OVAL, 8H",8H,10462,0,0,0,0,829,0,2,R4,200000,2019-08-16,2019,Aug,Condo,Postwar,0,0,"22 METROPOLITAN OVAL, 8H",22 METROPOLITAN OVAL,8H,"22 METROPOLITAN OVAL, 8H"
511839,Staten Island,TOTTENVILLE,04 TAX CLASS 1 CONDOS,1A,7860,1011,R3,"41 WINDING WOODS LOOP, 11",11,10307,0,0,0,0,0,1988,1,R3,199138,2019-09-17,2019,Sep,Condo,Postwar,31,31,"41 WINDING WOODS LOOP, 11",41 WINDING WOODS LOOP,11,"41 WINDING WOODS LOOP, 11"
516463,Bronx,PARKCHESTER,13 CONDOS - ELEVATOR APARTMENTS,2,3943,5298,R4,"1514 METROPOLITAN AVENUE, 5D",5D,10462,0,0,0,0,833,0,2,R4,190000,2019-05-30,2019,May,Condo,Postwar,0,0,"1514 METROPOLITAN AVENUE, 5D",1514 METROPOLITAN AVENUE,5D,"1514 METROPOLITAN AVENUE, 5D"
516799,Bronx,PARKCHESTER,13 CONDOS - ELEVATOR APARTMENTS,2,3943,2415,R4,"22 METROPOLITAN OVAL, 8H",8H,10462,0,0,0,0,829,0,2,R4,190000,2019-06-28,2019,Jun,Condo,Postwar,0,0,"22 METROPOLITAN OVAL, 8H",22 METROPOLITAN OVAL,8H,"22 METROPOLITAN OVAL, 8H"
523464,Bronx,PARKCHESTER,13 CONDOS - ELEVATOR APARTMENTS,2,3944,3712,R4,"1651 METROPOLITAN AVENUE, 3C",3C,10462,0,0,0,0,874,0,2,R4,177450,2019-04-01,2019,Apr,Condo,Postwar,0,0,"1651 METROPOLITAN AVENUE, 3C",1651 METROPOLITAN AVENUE,3C,"1651 METROPOLITAN AVENUE, 3C"
523477,Bronx,PARKCHESTER,13 CONDOS - ELEVATOR APARTMENTS,2,3943,5292,R4,"1514 METROPOLITAN AVENUE, 4F",4F,10462,0,0,0,0,650,0,2,R4,177450,2019-01-22,2019,Jan,Condo,Postwar,0,0,"1514 METROPOLITAN AVENUE, 4F",1514 METROPOLITAN AVENUE,4F,"1514 METROPOLITAN AVENUE, 4F"
526396,Bronx,PARKCHESTER,13 CONDOS - ELEVATOR APARTMENTS,2,3944,4543,R4,"1527 METROPOLITAN AVENUE, 6A",6A,10462,0,0,0,0,682,0,2,R4,172000,2019-07-11,2019,Jul,Condo,Postwar,0,0,"1527 METROPOLITAN AVENUE, 6A",1527 METROPOLITAN AVENUE,6A,"1527 METROPOLITAN AVENUE, 6A"
527600,Bronx,PARKCHESTER,13 CONDOS - ELEVATOR APARTMENTS,2,3944,3255,R4,"2220 EAST TREMONT AVE, 4F",4F,10462,0,0,0,0,846,0,2,R4,170000,2019-04-15,2019,Apr,Condo,Postwar,0,0,"2220 EAST TREMONT AVE, 4F",2220 EAST TREMONT AVE,4F,"2220 EAST TREMONT AVE, 4F"
527639,Bronx,PARKCHESTER,13 CONDOS - ELEVATOR APARTMENTS,2,3943,5298,R4,"1514 METROPOLITAN AVENUE, 5D",5D,10462,0,0,0,0,833,0,2,R4,170000,2019-01-14,2019,Jan,Condo,Postwar,0,0,"1514 METROPOLITAN AVENUE, 5D",1514 METROPOLITAN AVENUE,5D,"1514 METROPOLITAN AVENUE, 5D"
540123,Bronx,PARKCHESTER,13 CONDOS - ELEVATOR APARTMENTS,2,3944,4543,R4,"1527 METROPOLITAN AVENUE, 6A",6A,10462,0,0,0,0,682,0,2,R4,145699,2019-05-22,2019,May,Condo,Postwar,0,0,"1527 METROPOLITAN AVENUE, 6A",1527 METROPOLITAN AVENUE,6A,"1527 METROPOLITAN AVENUE, 6A"
550346,Bronx,PARKCHESTER,13 CONDOS - ELEVATOR APARTMENTS,2,3944,2532,R4,"1503 METROPOLITAN AVENUE, 6H",6H,10462,0,0,0,0,629,0,2,R4,120000,2019-08-30,2019,Aug,Condo,Postwar,0,0,"1503 METROPOLITAN AVENUE, 6H",1503 METROPOLITAN AVENUE,6H,"1503 METROPOLITAN AVENUE, 6H"
552016,Bronx,PARKCHESTER,13 CONDOS - ELEVATOR APARTMENTS,2,3944,2532,R4,"1503 METROPOLITAN AVENUE, 6H",6H,10462,0,0,0,0,629,0,2,R4,115000,2019-06-11,2019,Jun,Condo,Postwar,0,0,"1503 METROPOLITAN AVENUE, 6H",1503 METROPOLITAN AVENUE,6H,"1503 METROPOLITAN AVENUE, 6H"

In [239]:
pd.duplicated?

Object `pd.duplicated` not found.

In [124]:
sales = combined[apartments]

In [238]:
sales[sales['Main_Address'] == '170 EAST END AVENUE, 10A']

Empty DataFrame
Columns: [BOROUGH, NEIGHBORHOOD, TAX CLASS AT PRESENT, BUILDING CLASS AT PRESENT, ZIP CODE, RESIDENTIAL UNITS, LAND SQUARE FEET, GROSS SQUARE FEET, YEAR BUILT, TAX CLASS AT TIME OF SALE, BUILDING CLASS AT TIME OF SALE, SALE PRICE, SALE DATE, SALE YEAR, SALE MONTH, Type, Construction, Current Age, Sale_Year_Diff, Building_Address, Apt_No, Main_Address]
Index: []

In [226]:
sales[(sales['Type'] == 'Condo') & (sales['SALE YEAR'] == 2019)].count()

BOROUGH                           89
NEIGHBORHOOD                      89
TAX CLASS AT PRESENT              89
BUILDING CLASS AT PRESENT         89
ZIP CODE                          89
RESIDENTIAL UNITS                 89
LAND SQUARE FEET                  89
GROSS SQUARE FEET                 89
YEAR BUILT                        89
TAX CLASS AT TIME OF SALE         89
BUILDING CLASS AT TIME OF SALE    89
SALE PRICE                        89
SALE DATE                         89
SALE YEAR                         89
SALE MONTH                        89
Type                              89
Construction                      89
Current Age                       89
Sale_Year_Diff                    89
Building_Address                  89
Apt_No                            81
Main_Address                      89
dtype: int64

In [638]:
sales.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 68798 entries, 354589 to 148560
Data columns (total 22 columns):
BOROUGH                           68798 non-null object
NEIGHBORHOOD                      68798 non-null object
TAX CLASS AT PRESENT              68798 non-null category
BUILDING CLASS AT PRESENT         68798 non-null object
ZIP CODE                          68798 non-null int64
RESIDENTIAL UNITS                 68798 non-null int64
LAND SQUARE FEET                  68798 non-null int64
GROSS SQUARE FEET                 68798 non-null int64
YEAR BUILT                        68798 non-null int64
TAX CLASS AT TIME OF SALE         68798 non-null category
BUILDING CLASS AT TIME OF SALE    68798 non-null object
SALE PRICE                        68798 non-null int64
SALE DATE                         68798 non-null datetime64[ns]
SALE YEAR                         68798 non-null int64
SALE MONTH                        68798 non-null category
Type                              68798 non-null category
Construction                      68798 non-null category
Current Age                       68798 non-null int64
Sale_Year_Diff                    68798 non-null int64
Building_Address                  68798 non-null object
Apt_No                            68798 non-null object
Main_Address                      68798 non-null object
dtypes: category(5), datetime64[ns](1), int64(9), object(7)
memory usage: 9.8+ MB

In [642]:
sales.describe()

,ZIP CODE,RESIDENTIAL UNITS,LAND SQUARE FEET,GROSS SQUARE FEET,YEAR BUILT,SALE PRICE,SALE YEAR,Current Age,Sale_Year_Diff
count,68798.000000,68798.000000,68798.000000,68798.000000,68798.000000,6.879800e+04,68798.000000,68798.000000,68798.000000
mean,10581.043010,0.478822,0.304980,14.928806,1686.365272,1.058557e+06,2013.271621,53.018576,48.169816
std,643.476451,0.507551,15.356831,105.682659,676.877229,1.858136e+06,3.345447,38.026668,37.233523
min,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000e+05,2008.000000,0.000000,0.000000
25%,10021.000000,0.000000,0.000000,0.000000,1920.000000,3.450000e+05,2010.000000,13.000000,7.000000
50%,10128.000000,0.000000,0.000000,0.000000,1951.000000,6.200000e+05,2013.000000,57.000000,53.000000
75%,11218.000000,1.000000,0.000000,0.000000,1977.000000,1.114000e+06,2016.000000,88.000000,81.000000
max,11697.000000,8.000000,864.000000,996.000000,2017.000000,6.760282e+07,2019.000000,219.000000,218.000000

In [629]:
sales = sales[sales['Apt_No'].notnull()] #& salestest['ADDRESS'].notnull()]

In [630]:
sales = sales.sort_values(['Main_Address', 'SALE DATE'],ascending = True)

In [640]:
sales.head(6)

,BOROUGH,NEIGHBORHOOD,TAX CLASS AT PRESENT,BUILDING CLASS AT PRESENT,ZIP CODE,RESIDENTIAL UNITS,LAND SQUARE FEET,GROSS SQUARE FEET,YEAR BUILT,TAX CLASS AT TIME OF SALE,BUILDING CLASS AT TIME OF SALE,SALE PRICE,SALE DATE,SALE YEAR,SALE MONTH,Type,Construction,Current Age,Sale_Year_Diff,Building_Address,Apt_No,Main_Address
354589,Queens,FOREST HILLS,2,D4,11375,0,0,0,1918,2,D4,430000,2011-10-12,2011,Oct,Co-op,Prewar,101,93,1 ASCAN AVENUE,31,"1 ASCAN AVENUE, 31"
252261,Queens,FOREST HILLS,2,D4,11375,0,0,0,1918,2,D4,585000,2017-02-07,2017,Feb,Co-op,Prewar,101,99,1 ASCAN AVENUE,31,"1 ASCAN AVENUE, 31"
521302,Queens,FOREST HILLS,2,D4,11375,0,0,0,1918,2,D4,180000,2009-12-17,2009,Dec,Co-op,Prewar,101,91,1 ASCAN AVENUE,37,"1 ASCAN AVENUE, 37"
502815,Queens,FOREST HILLS,2,D4,11375,0,0,0,1918,2,D4,212500,2011-11-01,2011,Nov,Co-op,Prewar,101,93,1 ASCAN AVENUE,37,"1 ASCAN AVENUE, 37"
259069,Queens,BAYSIDE,2,R4,11360,1,0,0,1972,2,R4,575000,2014-02-19,2014,Feb,Condo,Postwar,47,42,1 BAY CLUB DRIVE,10A,"1 BAY CLUB DRIVE, 10A"
236542,Queens,BAYSIDE,2,R4,11360,1,0,0,1972,2,R4,615000,2014-06-20,2014,Jun,Condo,Postwar,47,42,1 BAY CLUB DRIVE,10A,"1 BAY CLUB DRIVE, 10A"

In [631]:
sales.sample(150)

,BOROUGH,NEIGHBORHOOD,TAX CLASS AT PRESENT,BUILDING CLASS AT PRESENT,ZIP CODE,RESIDENTIAL UNITS,LAND SQUARE FEET,GROSS SQUARE FEET,YEAR BUILT,TAX CLASS AT TIME OF SALE,BUILDING CLASS AT TIME OF SALE,SALE PRICE,SALE DATE,SALE YEAR,SALE MONTH,Type,Construction,Current Age,Sale_Year_Diff,Building_Address,Apt_No,Main_Address
510157,Queens,ELMHURST,2,D4,11373,0,0,0,1961,2,D4,200000,2017-12-22,2017,Dec,Co-op,Postwar,58,56,83-45 VIETOR AVENUE,7U,"83-45 VIETOR AVENUE, 7U"
66237,Manhattan,GRAMERCY,2,D4,10003,0,0,0,1930,2,D4,1440000,2016-11-17,2016,Nov,Co-op,Prewar,89,86,200 EAST 16TH STREET,8DE,"200 EAST 16TH STREET, 8DE"
461534,Manhattan,WASHINGTON HEIGHTS UPPER,2,D4,10040,0,0,0,1951,2,D4,280000,2013-07-30,2013,Jul,Co-op,Postwar,68,62,153 BENNETT AVENUE,2E,"153 BENNETT AVENUE, 2E"
44363,Manhattan,CIVIC CENTER,2C,R9,10013,0,0,0,0,2,R9,1875000,2013-06-20,2013,Jun,Condop,Postwar,0,0,39 WHITE STREET,3,"39 WHITE STREET, 3"
432652,Staten Island,ELTINGVILLE,1A,R3,10312,1,0,0,1985,1,R3,325000,2016-09-09,2016,Sep,Condo,Postwar,34,31,49 VILLAGE LANE,16A,"49 VILLAGE LANE, 16A"
272601,Manhattan,UPPER WEST SIDE (79-96),2,D4,10024,0,0,0,1940,2,D4,550000,2008-08-25,2008,Aug,Co-op,War,79,68,203 WEST 87TH STREET,1,"203 WEST 87TH STREET, 1"
503279,Queens,ELMHURST,2,D4,11373,0,0,0,1956,2,D4,211000,2017-04-04,2017,Apr,Co-op,Postwar,63,61,83-60 VIETOR AVENUE,6L,"83-60 VIETOR AVENUE, 6L"
242842,Manhattan,MANHATTAN VALLEY,2,R4,10025,1,0,0,1961,2,R4,600000,2017-08-16,2017,Aug,Condo,Postwar,58,56,382 CENTRAL PARK WEST,1B,"382 CENTRAL PARK WEST, 1B"
104113,Manhattan,GREENWICH VILLAGE-CENTRAL,2,R4,10003,1,0,0,1928,2,R4,1025500,2014-04-03,2014,Apr,Condo,Prewar,91,86,28 EAST 10TH STREET,5G,"28 EAST 10TH STREET, 5G"
147907,Manhattan,MIDTOWN EAST,2,D4,10017,0,0,0,1964,2,D4,840000,2015-04-30,2015,Apr,Co-op,Postwar,55,51,301 EAST 48TH STREET,11G,"301 EAST 48TH STREET, 11G"
13928,Manhattan,UPPER EAST SIDE (59-79),2,D4,10065,0,0,0,1910,2,D4,3950000,2014-10-27,2014,Oct,Co-op,Prewar,109,104,535 PARK AVENUE,12C,"535 PARK AVENUE, 12C"
78094,Manhattan,CLINTON,2,R4,10036,1,0,0,2005,2,R4,1293462,2008-04-24,2008,Apr,Condo,Postwar,14,3,635 WEST 42ND STREET,24D,"635 WEST 42ND STREET, 24D"
136732,Manhattan,CLINTON,2,R4,10036,1,0,0,2005,2,R4,875695,2009-08-10,2009,Aug,Condo,Postwar,14,4,635 WEST 42ND STREET,2L,"635 WEST 42ND STREET, 2L"
466474,Brooklyn,OCEAN PARKWAY-NORTH,2,D4,11218,0,0,0,1961,2,D4,270000,2011-04-15,2011,Apr,Co-op,Postwar,58,50,370 OCEAN PARKWAY,3L,"370 OCEAN PARKWAY, 3L"
96673,Manhattan,MIDTOWN EAST,2,D4,10022,0,0,0,1960,2,D4,1100000,2015-08-05,2015,Aug,Co-op,Postwar,59,55,251 EAST 51ST STREET,20E,"251 EAST 51ST STREET, 20E"
492169,Bronx,BEDFORD PARK/NORWOOD,2,D4,10468,0,0,0,1956,2,D4,230000,2019-08-13,2019,Aug,Co-op,Postwar,63,63,3131 GRAND CONCOURSE,7F,"3131 GRAND CONCOURSE, 7F"
528045,Queens,FOREST HILLS,2,R9,11375,0,0,0,1965,2,R9,170000,2011-06-10,2011,Jun,Condop,Postwar,54,46,107-40 QUEENS BOULEVARD,1,"107-40 QUEENS BOULEVARD, 1"
546077,Queens,KEW GARDENS,2,D4,11415,0,0,0,1954,2,D4,130000,2018-01-19,2018,Jan,Co-op,Postwar,65,64,83-75 118TH STREET,1E,"83-75 118TH STREET, 1E"
470549,Brooklyn,CLINTON HILL,2,D4,11205,0,0,0,1954,2,D4,265000,2011-08-31,2011,Aug,Co-op,Postwar,65,57,165 CLINTON AVENUE,5A,"165 CLINTON AVENUE, 5A"
357946,Brooklyn,FLATBUSH-CENTRAL,2,D4,11218,0,0,0,1961,2,D4,425000,2015-03-10,2015,Mar,Co-op,Postwar,58,54,415 ARGYLE ROAD,7S,"415 ARGYLE ROAD, 7S"
340188,Manhattan,UPPER WEST SIDE (79-96),2,D4,10024,0,0,0,1931,2,D4,450000,2008-02-26,2008,Feb,Co-op,Prewar,88,77,35 WEST 90TH STREET,5H,"35 WEST 90TH STREET, 5H"
551234,Staten Island,NEW BRIGHTON,2,D4,10301,0,0,0,1960,2,D4,117500,2009-06-08,2009,Jun,Co-op,Postwar,59,49,350 RICHMOND TERRACE,1A,"350 RICHMOND TERRACE, 1A"
188144,Queens,FLUSHING-NORTH,2,R4,11354,1,0,0,0,2,R4,720000,2012-03-20,2012,Mar,Condo,Postwar,0,0,40-22 COLLEGE POINT BLVD,12B,"40-22 COLLEGE POINT BLVD, 12B"
11001,Manhattan,GREENWICH VILLAGE-WEST,2,R4,10014,1,0,0,0,2,R4,4560000,2014-01-22,2014,Jan,Condo,Postwar,0,0,345 WEST 13TH STREET,2A,"345 WEST 13TH STREET, 2A"
516876,Manhattan,INWOOD,2,D4,10034,0,0,0,1925,2,D4,189851,2011-11-22,2011,Nov,Co-op,Prewar,94,86,60 COOPER STREET,3C,"60 COOPER STREET, 3C"
492073,Manhattan,WASHINGTON HEIGHTS UPPER,2,D4,10033,0,0,0,1939,2,D4,230000,2009-09-09,2009,Sep,Co-op,Prewar,80,70,120 BENNETT AVENUE,5N,"120 BENNETT AVENUE, 5N"
135464,Brooklyn,GREENPOINT,2,R4,11222,1,0,0,0,2,R4,880000,2015-07-07,2015,Jul,Condo,Postwar,0,0,415 LEONARD STREET,7B,"415 LEONARD STREET, 7B"
306119,Manhattan,UPPER WEST SIDE (96-116),2,D4,10025,0,0,0,1910,2,D4,499000,2014-06-05,2014,Jun,Co-op,Prewar,109,104,417 RIVERSIDE DRIVE,5D,"417 RIVERSIDE DRIVE, 5D"
189888,Brooklyn,PROSPECT HEIGHTS,2,D4,11238,0,0,0,1959,2,D4,715000,2008-11-07,2008,Nov,Co-op,Postwar,60,49,10 PLAZA STREET,4A,"10 PLAZA STREET, 4A"
441240,Brooklyn,GOWANUS,2,R2,11231,1,0,0,2009,2,R2,310000,2012-05-24,2012,May,Condo,Postwar,10,3,105 3 STREET,1054,"105 3 STREET, 1054"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
372099,Staten Island,NEW BRIGHTON-ST. GEORGE,2,D0,10301,0,0,0,1984,2,D0,405000,2018-06-15,2018,Jun,Co-op,Postwar,35,34,10 BAY STREET LANDING,7G,"10 BAY STREET LANDING, 7G"
305914,Manhattan,MURRAY HILL,2,D4,10016,0,0,0,1984,2,D4,499000,2016-10-11,2016,Oct,Co-op,Postwar,35,32,407 PARK AVENUE SOUTH,24C,"407 PARK AVENUE SOUTH, 24C"
333454,Manhattan,UPPER WEST SIDE (79-96),2,D4,10024,0,0,0,1950,2,D4,459850,2009-04-02,2009,Apr,Co-op,War,69,59,160 WEST 85TH STREET,1K,"160 WEST 85TH STREET, 1K"
144533,Manhattan,MURRAY HILL,2,R4,10016,1,0,735,0,2,R4,850000,2018-02-26,2018,Feb,Condo,Postwar,0,0,35 EAST 38TH STREET,12E,"35 EAST 38TH STREET, 12E"
3000,Manhattan,GREENWICH VILLAGE-WEST,2,R4,10014,1,0,0,1938,2,R4,9611214,2015-09-09,2015,Sep,Condo,Prewar,81,77,150 CHARLES STREET,M9,"150 CHARLES STREET, M9"
231487,Brooklyn,BROOKLYN HEIGHTS,2,D4,11201,0,0,0,1928,2,D4,625000,2019-02-27,2019,Feb,Co-op,Prewar,91,91,24 MONROE PLACE,5C,"24 MONROE PLACE, 5C"
537218,Bronx,BEDFORD PARK/NORWOOD,2,D4,10467,0,0,0,1954,2,D4,150000,2016-02-18,2016,Feb,Co-op,Postwar,65,62,3535 KINGS COLLEGE PLACE,6D,"3535 KINGS COLLEGE PLACE, 6D"
7307,Manhattan,GREENWICH VILLAGE-WEST,2,R4,10014,1,0,0,0,2,R4,5875000,2018-12-27,2018,Dec,Condo,Postwar,0,0,345 WEST 13TH STREET,4F,"345 WEST 13TH STREET, 4F"
109732,Manhattan,UPPER WEST SIDE (59-79),2,D4,10023,0,0,0,1950,2,D4,995000,2011-05-11,2011,May,Co-op,War,69,61,11 RIVERSIDE DRIVE,15PE,"11 RIVERSIDE DRIVE, 15PE"
127436,Manhattan,UPPER WEST SIDE (79-96),2,D4,10024,0,0,0,1929,2,D4,915000,2014-06-04,2014,Jun,Co-op,Prewar,90,85,230 CENTRAL PARK WEST,2C,"230 CENTRAL PARK WEST, 2C"
372756,Manhattan,GRAMERCY,2C,D4,10010,0,0,0,1930,2,D4,405000,2013-09-27,2013,Sep,Co-op,Prewar,89,83,48 GRAMERCY PARK NORTH,1A,"48 GRAMERCY PARK NORTH, 1A"
108882,Manhattan,UPPER WEST SIDE (59-79),2,R4,10069,1,0,0,0,2,R4,995000,2015-08-20,2015,Aug,Condo,Postwar,0,0,220 RIVERSIDE BOULEVARD,6V,"220 RIVERSIDE BOULEVARD, 6V"
337322,Queens,LONG ISLAND CITY,2,R4,11101,1,0,0,2012,2,R4,451230,2013-10-02,2013,Oct,Condo,Postwar,7,1,5-21 51ST AVENUE,4H,"5-21 51ST AVENUE, 4H"
175032,Queens,WOODSIDE,2,R4,11377,1,0,0,0,2,R4,750000,2017-11-16,2017,Nov,Condo,Postwar,0,0,68-12 37TH ROAD,303,"68-12 37TH ROAD, 303"
132103,Brooklyn,PROSPECT HEIGHTS,2,C6,11238,0,0,0,1930,2,C6,899000,2019-03-05,2019,Mar,Co-op,Prewar,89,89,361 STREETERLING PLACE,103,"361 STREETERLING PLACE, 103"
71411,Manhattan,MIDTOWN EAST,2,D4,10022,0,0,0,1930,2,D4,1365000,2015-02-11,2015,Feb,Co-op,Prewar,89,85,433 EAST 51ST STREET,9C,"433 EAST 51ST STREET, 9C"
444339,Queens,FOREST HILLS,2,D4,11375,0,0,0,1953,2,D4,305000,2018-02-14,2018,Feb,Co-op,Postwar,66,65,103-25 68TH AVENUE,4M,"103-25 68TH AVENUE, 4M"
398845,Queens,JAMAICA ESTATES,2,R4,11432,1,0,0,2005,2,R4,370110,2014-05-20,2014,May,Condo,Postwar,14,9,178-36 WEXFORD TERRACE,5C,"178-36 WEXFORD TERRACE, 5C"
80193,Manhattan,CHELSEA,2,D4,10011,0,0,0,1940,2,D4,1265000,2019-02-28,2019,Feb,Co-op,War,79,79,250 WEST 24TH STREET,2CE,"250 WEST 24TH STREET, 2CE"
91777,Manhattan,CHELSEA,2,D4,10011,0,0,0,1940,2,D4,1150000,2013-05-02,2013,May,Co-op,War,79,73,255 WEST 23RD STREET,5HW,"255 WEST 23RD STREET, 5HW"
142438,Manhattan,MIDTOWN EAST,2,D4,10022,0,0,0,1969,2,D4,855000,2019-06-27,2019,Jun,Co-op,Postwar,50,50,400 EAST 56TH STREET,22-O,"400 EAST 56TH STREET, 22-O"
261029,Manhattan,GRAMERCY,2,D4,10003,0,0,0,1959,2,D4,570000,2008-08-26,2008,Aug,Co-op,Postwar,60,49,145 EAST 15TH STREET,17A,"145 EAST 15TH STREET, 17A"
45966,Manhattan,FLATIRON,2,R4,10010,1,0,0,1915,2,R4,1832850,2016-09-07,2016,Sep,Condo,Prewar,104,101,1107 BROADWAY,14B,"1107 BROADWAY, 14B"
305784,Manhattan,MIDTOWN EAST,2,D4,10022,0,0,0,1955,2,D4,499000,2017-11-28,2017,Nov,Co-op,Postwar,64,62,430 EAST 56TH STREET,11G,"430 EAST 56TH STREET, 11G"
48880,Manhattan,FINANCIAL,2,R4,10005,1,0,0,1914,2,R4,1755000,2008-04-25,2008,Apr,Condo,Prewar,105,94,15 BROAD STREET,2116,"15 BROAD STREET, 2116"
257258,Brooklyn,WILLIAMSBURG-SOUTH,2,R4,11211,1,0,0,2008,2,R4,575201,2013-06-14,2013,Jun,Condo,Postwar,11,5,251 SOUTH 3RD STREET,2B,"251 SOUTH 3RD STREET, 2B"
404794,Staten Island,GREAT KILLS,2,R4,10308,1,0,0,2008,2,R4,362505,2011-09-15,2011,Sep,Condo,Postwar,11,3,3871 AMBOY ROAD,2D,"3871 AMBOY ROAD, 2D"
446141,Brooklyn,BOROUGH PARK,2,C6,11232,0,0,0,1922,2,C6,301000,2013-08-28,2013,Aug,Co-op,Prewar,97,91,856 43RD STREET,9,"856 43RD STREET, 9"
76943,Manhattan,GREENWICH VILLAGE-WEST,2,R4,10014,1,0,0,1930,2,R4,1300000,2011-01-14,2011,Jan,Condo,Prewar,89,81,299 WEST 12 STREET,6K,"299 WEST 12 STREET, 6K"
477446,Queens,OAKLAND GARDENS,2,C6,11364,0,0,0,1952,2,C6,253000,2009-11-19,2009,Nov,Co-op,Postwar,67,57,74-01 220TH STREET,132B1,"74-01 220TH STREET, 132B1"

In [455]:
sales[sales['Main_Address'].str.contains('20 PINE')]

,BOROUGH,NEIGHBORHOOD,BUILDING CLASS CATEGORY,TAX CLASS AT PRESENT,BUILDING CLASS AT PRESENT,ZIP CODE,RESIDENTIAL UNITS,LAND SQUARE FEET,GROSS SQUARE FEET,YEAR BUILT,TAX CLASS AT TIME OF SALE,BUILDING CLASS AT TIME OF SALE,SALE PRICE,SALE DATE,SALE YEAR,SALE MONTH,Type,Construction,Current Age,Sale_Year_Diff,Building_Address,Apt_No,Main_Address
63942,Manhattan,FINANCIAL,13 CONDOS - ELEVATOR APARTMENTS,2,R4,10005,1,0,0,1928,2,R4,1476462,2008-08-01,2008,Aug,Condo,Prewar,91,80,20 PINE STREET,1002,"20 PINE STREET, 1002"
44353,Manhattan,FINANCIAL,13 CONDOS - ELEVATOR APARTMENTS,2,R4,10005,1,0,0,1928,2,R4,1875000,2015-09-16,2015,Sep,Condo,Prewar,91,87,20 PINE STREET,1002,"20 PINE STREET, 1002"
214833,Manhattan,FINANCIAL,13 CONDOS - ELEVATOR APARTMENTS,2,R4,10005,1,0,0,1928,2,R4,656771,2008-06-05,2008,Jun,Condo,Prewar,91,80,20 PINE STREET,1003,"20 PINE STREET, 1003"
151157,Manhattan,FINANCIAL,13 CONDOS - ELEVATOR APARTMENTS,2,R4,10005,1,0,0,1928,2,R4,825000,2015-09-02,2015,Sep,Condo,Prewar,91,87,20 PINE STREET,1003,"20 PINE STREET, 1003"
221278,Manhattan,FINANCIAL,13 CONDOS - ELEVATOR APARTMENTS,2,R4,10005,1,0,0,1928,2,R4,646258,2017-09-26,2017,Sep,Condo,Prewar,91,89,20 PINE STREET,1003,"20 PINE STREET, 1003"
171449,Manhattan,FINANCIAL,13 CONDOS - ELEVATOR APARTMENTS,2,R4,10005,1,0,656,1928,2,R4,763000,2018-08-14,2018,Aug,Condo,Prewar,91,90,20 PINE STREET,1003,"20 PINE STREET, 1003"
107547,Manhattan,FINANCIAL,13 CONDOS - ELEVATOR APARTMENTS,2,R4,10005,1,0,0,1928,2,R4,998903,2008-06-19,2008,Jun,Condo,Prewar,91,80,20 PINE STREET,1006,"20 PINE STREET, 1006"
99771,Manhattan,FINANCIAL,13 CONDOS - ELEVATOR APARTMENTS,2,R4,10005,1,0,0,1928,2,R4,1077000,2014-11-06,2014,Nov,Condo,Prewar,91,86,20 PINE STREET,1006,"20 PINE STREET, 1006"
212329,Manhattan,FINANCIAL,13 CONDOS - ELEVATOR APARTMENTS,2,R4,10005,1,0,0,1928,2,R4,661862,2008-06-20,2008,Jun,Condo,Prewar,91,80,20 PINE STREET,1007,"20 PINE STREET, 1007"
229637,Manhattan,FINANCIAL,13 CONDOS - ELEVATOR APARTMENTS,2,R4,10005,1,0,0,1928,2,R4,630000,2010-01-05,2010,Jan,Condo,Prewar,91,82,20 PINE STREET,1007,"20 PINE STREET, 1007"
52117,Manhattan,FINANCIAL,13 CONDOS - ELEVATOR APARTMENTS,2,R4,10005,1,0,0,1928,2,R4,1690295,2008-07-29,2008,Jul,Condo,Prewar,91,80,20 PINE STREET,1013,"20 PINE STREET, 1013"
36623,Manhattan,FINANCIAL,13 CONDOS - ELEVATOR APARTMENTS,2,R4,10005,1,0,0,1928,2,R4,2150000,2016-06-14,2016,Jun,Condo,Prewar,91,88,20 PINE STREET,1013,"20 PINE STREET, 1013"
199531,Manhattan,FINANCIAL,13 CONDOS - ELEVATOR APARTMENTS,2,R4,10005,1,0,0,1928,2,R4,692410,2008-06-02,2008,Jun,Condo,Prewar,91,80,20 PINE STREET,1015,"20 PINE STREET, 1015"
121898,Manhattan,FINANCIAL,13 CONDOS - ELEVATOR APARTMENTS,2,R4,10005,1,0,0,1928,2,R4,943000,2017-08-01,2017,Aug,Condo,Prewar,91,89,20 PINE STREET,1015,"20 PINE STREET, 1015"
128990,Manhattan,FINANCIAL,13 CONDOS - ELEVATOR APARTMENTS,2,R4,10005,1,0,0,1928,2,R4,906242,2008-06-12,2008,Jun,Condo,Prewar,91,80,20 PINE STREET,1016,"20 PINE STREET, 1016"
109036,Manhattan,FINANCIAL,13 CONDOS - ELEVATOR APARTMENTS,2,R4,10005,1,0,0,1928,2,R4,995000,2014-03-21,2014,Mar,Condo,Prewar,91,86,20 PINE STREET,1016,"20 PINE STREET, 1016"
166395,Manhattan,FINANCIAL,13 CONDOS - ELEVATOR APARTMENTS,2,R4,10005,1,0,0,1928,2,R4,778961,2008-06-26,2008,Jun,Condo,Prewar,91,80,20 PINE STREET,1017,"20 PINE STREET, 1017"
143761,Manhattan,FINANCIAL,13 CONDOS - ELEVATOR APARTMENTS,2,R4,10005,1,0,0,1928,2,R4,850000,2013-11-08,2013,Nov,Condo,Prewar,91,85,20 PINE STREET,1017,"20 PINE STREET, 1017"
103107,Manhattan,FINANCIAL,13 CONDOS - ELEVATOR APARTMENTS,2,R4,10005,1,0,0,1928,2,R4,1044652,2008-06-10,2008,Jun,Condo,Prewar,91,80,20 PINE STREET,1101,"20 PINE STREET, 1101"
133916,Manhattan,FINANCIAL,13 CONDOS - ELEVATOR APARTMENTS,2,R4,10005,1,0,0,1928,2,R4,890000,2012-01-27,2012,Jan,Condo,Prewar,91,84,20 PINE STREET,1101,"20 PINE STREET, 1101"
82907,Manhattan,FINANCIAL,13 CONDOS - ELEVATOR APARTMENTS,2,R4,10005,1,0,0,1928,2,R4,1242265,2008-05-30,2008,May,Condo,Prewar,91,80,20 PINE STREET,1102,"20 PINE STREET, 1102"
66190,Manhattan,FINANCIAL,13 CONDOS - ELEVATOR APARTMENTS,2,R4,10005,1,0,0,1928,2,R4,1440000,2013-09-06,2013,Sep,Condo,Prewar,91,85,20 PINE STREET,1102,"20 PINE STREET, 1102"
210577,Manhattan,FINANCIAL,13 CONDOS - ELEVATOR APARTMENTS,2,R4,10005,1,0,0,1928,2,R4,666953,2008-05-29,2008,May,Condo,Prewar,91,80,20 PINE STREET,1103,"20 PINE STREET, 1103"
162391,Manhattan,FINANCIAL,13 CONDOS - ELEVATOR APARTMENTS,2,R4,10005,1,0,0,1928,2,R4,790000,2014-09-09,2014,Sep,Condo,Prewar,91,86,20 PINE STREET,1103,"20 PINE STREET, 1103"
110063,Manhattan,FINANCIAL,13 CONDOS - ELEVATOR APARTMENTS,2,R4,10005,1,0,0,1928,2,R4,992793,2008-06-25,2008,Jun,Condo,Prewar,91,80,20 PINE STREET,1105,"20 PINE STREET, 1105"
85694,Manhattan,FINANCIAL,13 CONDOS - ELEVATOR APARTMENTS,2,R4,10005,1,0,0,1928,2,R4,1206000,2014-11-18,2014,Nov,Condo,Prewar,91,86,20 PINE STREET,1105,"20 PINE STREET, 1105"
178275,Manhattan,FINANCIAL,13 CONDOS - ELEVATOR APARTMENTS,2,R4,10005,1,0,0,1928,2,R4,748413,2008-06-30,2008,Jun,Condo,Prewar,91,80,20 PINE STREET,1107,"20 PINE STREET, 1107"
226291,Manhattan,FINANCIAL,13 CONDOS - ELEVATOR APARTMENTS,2,R4,10005,1,0,0,1928,2,R4,635000,2012-11-30,2012,Nov,Condo,Prewar,91,84,20 PINE STREET,1107,"20 PINE STREET, 1107"
169382,Manhattan,FINANCIAL,13 CONDOS - ELEVATOR APARTMENTS,2,R4,10005,1,0,675,1928,2,R4,770000,2018-04-12,2018,Apr,Condo,Prewar,91,90,20 PINE STREET,1107,"20 PINE STREET, 1107"
212328,Manhattan,FINANCIAL,13 CONDOS - ELEVATOR APARTMENTS,2,R4,10005,1,0,0,1928,2,R4,661862,2008-07-10,2008,Jul,Condo,Prewar,91,80,20 PINE STREET,1109,"20 PINE STREET, 1109"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
137684,Manhattan,FINANCIAL,13 CONDOS - ELEVATOR APARTMENTS,2,R4,10005,1,0,0,1928,2,R4,875000,2008-09-29,2008,Sep,Condo,Prewar,91,80,20 PINE STREET,710,"20 PINE STREET, 710"
114488,Manhattan,FINANCIAL,13 CONDOS - ELEVATOR APARTMENTS,2,R4,10005,1,0,0,1928,2,R4,975000,2013-05-30,2013,May,Condo,Prewar,91,85,20 PINE STREET,710,"20 PINE STREET, 710"
52259,Manhattan,FINANCIAL,13 CONDOS - ELEVATOR APARTMENTS,2,R4,10005,1,0,0,1928,2,R4,1685203,2008-10-02,2008,Oct,Condo,Prewar,91,80,20 PINE STREET,713,"20 PINE STREET, 713"
37403,Manhattan,FINANCIAL,13 CONDOS - ELEVATOR APARTMENTS,2,R4,10005,1,0,0,1928,2,R4,2110000,2016-05-20,2016,May,Condo,Prewar,91,88,20 PINE STREET,713,"20 PINE STREET, 713"
88118,Manhattan,FINANCIAL,13 CONDOS - ELEVATOR APARTMENTS,2,R4,10005,1,0,0,1928,2,R4,1196443,2008-08-18,2008,Aug,Condo,Prewar,91,80,20 PINE STREET,804,"20 PINE STREET, 804"
50604,Manhattan,FINANCIAL,13 CONDOS - ELEVATOR APARTMENTS,2,R4,10005,1,0,0,1928,2,R4,1720000,2016-09-22,2016,Sep,Condo,Prewar,91,88,20 PINE STREET,804,"20 PINE STREET, 804"
193927,Manhattan,FINANCIAL,13 CONDOS - ELEVATOR APARTMENTS,2,R4,10005,1,0,0,1928,2,R4,702592,2008-09-19,2008,Sep,Condo,Prewar,91,80,20 PINE STREET,807,"20 PINE STREET, 807"
173910,Manhattan,FINANCIAL,13 CONDOS - ELEVATOR APARTMENTS,2,R4,10005,1,0,675,1928,2,R4,755000,2018-06-28,2018,Jun,Condo,Prewar,91,90,20 PINE STREET,807,"20 PINE STREET, 807"
198169,Manhattan,FINANCIAL,13 CONDOS - ELEVATOR APARTMENTS,2,R4,10005,1,0,0,1928,2,R4,697501,2008-08-26,2008,Aug,Condo,Prewar,91,80,20 PINE STREET,812,"20 PINE STREET, 812"
137687,Manhattan,FINANCIAL,13 CONDOS - ELEVATOR APARTMENTS,2,R4,10005,1,0,0,1928,2,R4,875000,2016-10-11,2016,Oct,Condo,Prewar,91,88,20 PINE STREET,812,"20 PINE STREET, 812"
85868,Manhattan,FINANCIAL,13 CONDOS - ELEVATOR APARTMENTS,2,R4,10005,1,0,0,1928,2,R4,1201535,2008-08-13,2008,Aug,Condo,Prewar,91,80,20 PINE STREET,902,"20 PINE STREET, 902"
84214,Manhattan,FINANCIAL,13 CONDOS - ELEVATOR APARTMENTS,2,R4,10005,1,0,0,1928,2,R4,1225000,2011-04-27,2011,Apr,Condo,Prewar,91,83,20 PINE STREET,902,"20 PINE STREET, 902"
115514,Manhattan,FINANCIAL,13 CONDOS - ELEVATOR APARTMENTS,2,R4,10005,1,0,0,1928,2,R4,972428,2008-06-18,2008,Jun,Condo,Prewar,91,80,20 PINE STREET,905,"20 PINE STREET, 905"
76320,Manhattan,FINANCIAL,13 CONDOS - ELEVATOR APARTMENTS,2,R4,10005,1,0,0,1928,2,R4,1300000,2015-03-30,2015,Mar,Condo,Prewar,91,87,20 PINE STREET,905,"20 PINE STREET, 905"
216348,Manhattan,FINANCIAL,13 CONDOS - ELEVATOR APARTMENTS,2,R4,10005,1,0,0,1928,2,R4,651680,2008-07-25,2008,Jul,Condo,Prewar,91,80,20 PINE STREET,907,"20 PINE STREET, 907"
162349,Manhattan,FINANCIAL,13 CONDOS - ELEVATOR APARTMENTS,2,R4,10005,1,0,0,1928,2,R4,790000,2016-03-22,2016,Mar,Condo,Prewar,91,88,20 PINE STREET,907,"20 PINE STREET, 907"
100343,Manhattan,FINANCIAL,13 CONDOS - ELEVATOR APARTMENTS,2,R4,10005,1,0,0,1928,2,R4,1074253,2008-08-13,2008,Aug,Condo,Prewar,91,80,20 PINE STREET,908,"20 PINE STREET, 908"
114311,Manhattan,FINANCIAL,13 CONDOS - ELEVATOR APARTMENTS,2,R4,10005,1,0,0,1928,2,R4,975000,2010-12-10,2010,Dec,Condo,Prewar,91,82,20 PINE STREET,908,"20 PINE STREET, 908"
127140,Manhattan,FINANCIAL,13 CONDOS - ELEVATOR APARTMENTS,2,R4,10005,1,0,0,1928,2,R4,916425,2008-08-25,2008,Aug,Condo,Prewar,91,80,20 PINE STREET,910,"20 PINE STREET, 910"
94205,Manhattan,FINANCIAL,13 CONDOS - ELEVATOR APARTMENTS,2,R4,10005,1,0,0,1928,2,R4,1130000,2018-02-08,2018,Feb,Condo,Prewar,91,90,20 PINE STREET,910,"20 PINE STREET, 910"
123102,Manhattan,FINANCIAL,13 CONDOS - ELEVATOR APARTMENTS,2,R4,10005,1,0,0,1928,2,R4,936790,2008-09-11,2008,Sep,Condo,Prewar,91,80,20 PINE STREET,911,"20 PINE STREET, 911"
81279,Manhattan,FINANCIAL,13 CONDOS - ELEVATOR APARTMENTS,2,R4,10005,1,0,0,1928,2,R4,1250000,2015-09-02,2015,Sep,Condo,Prewar,91,87,20 PINE STREET,911,"20 PINE STREET, 911"
108153,Manhattan,FINANCIAL,13 CONDOS - ELEVATOR APARTMENTS,2,R4,10005,1,0,0,1928,2,R4,997885,2008-07-15,2008,Jul,Condo,Prewar,91,80,20 PINE STREET,914,"20 PINE STREET, 914"
106472,Manhattan,FINANCIAL,13 CONDOS - ELEVATOR APARTMENTS,2,R4,10005,1,0,0,1928,2,R4,999000,2009-06-17,2009,Jun,Condo,Prewar,91,81,20 PINE STREET,914,"20 PINE STREET, 914"
135368,Manhattan,FINANCIAL,13 CONDOS - ELEVATOR APARTMENTS,2,R4,10005,1,0,0,1928,2,R4,880786,2008-06-16,2008,Jun,Condo,Prewar,91,80,20 PINE STREET,916,"20 PINE STREET, 916"
123295,Manhattan,FINANCIAL,13 CONDOS - ELEVATOR APARTMENTS,2,R4,10005,1,0,0,1928,2,R4,935000,2013-07-15,2013,Jul,Condo,Prewar,91,85,20 PINE STREET,916,"20 PINE STREET, 916"
169829,Manhattan,FINANCIAL,13 CONDOS - ELEVATOR APARTMENTS,2,R4,10005,1,0,0,1928,2,R4,768778,2008-07-21,2008,Jul,Condo,Prewar,91,80,20 PINE STREET,917,"20 PINE STREET, 917"
238605,Manhattan,FINANCIAL,13 CONDOS - ELEVATOR APARTMENTS,2,R4,10005,1,0,0,1928,2,R4,610000,2010-10-21,2010,Oct,Condo,Prewar,91,82,20 PINE STREET,917,"20 PINE STREET, 917"
160479,Manhattan,FINANCIAL,13 CONDOS - ELEVATOR APARTMENTS,2,R4,10005,1,0,0,1928,2,R4,799326,2008-07-03,2008,Jul,Condo,Prewar,91,80,20 PINE STREET,919,"20 PINE STREET, 919"
99565,Manhattan,FINANCIAL,13 CONDOS - ELEVATOR APARTMENTS,2,R4,10005,1,0,0,1928,2,R4,1080000,2013-12-11,2013,Dec,Condo,Prewar,91,85,20 PINE STREET,919,"20 PINE STREET, 919"

In [637]:
#which 

sales.groupby('Main_Address').size().sort_values(ascending = False)

Main_Address
465 WEST 23RD   STREET,  RCU1     61
215 EAST 96TH   STREET,  CONDP    59
107-40 QUEENS BOULEVARD,  1       40
212 SOUTH OXFORD STREET,  3       39
2373 BROADWAY,  RSD 1             36
700 BROOK AVENUE,  CO-OP          34
700-704 BROOK AVENUE,  CO-OP      29
60 EAST 9TH   STREET,  3          27
20 EAST 35TH   STREET,  COM-B     26
99-40 63RD   ROAD,  RU1           24
319 EAST 50TH   STREET,  COOP     23
161 WEST 75TH   STREET,  R-1      21
330 WEST 145 STREET,  2           21
301 EAST 69TH   STREET,  1        19
853 MACY PLACE,  1                19
30 EAST 9TH   STREET,  3          19
343 EAST 74TH   STREET,  UNIT2    17
405 WEST 23RD   STREET,  14E      17
40 EAST 9TH   STREET,  3          16
130 LENOX AVENUE,  2              14
136-05 SANFORD AVENUE,  CONDO     14
85-15 MAIN STREET,  CONDO         12
295 WEST 11TH   STREET,  2        12
94-30 59TH   AVENUE,  R3C         11
94-31 60TH   AVENUE,  R2B         11
215 EAST 96TH STREET,  CONDP      10
465 WEST 23RD STREET,  RCU1       10
465 GREENWICH STREET,  UNIT2      10
94-30 60TH   AVENUE,  R1A          9
231 WEST 148 STREET,  14           9
                                  ..
4-74 48TH AVENUE,  14E             2
4-74 48TH   AVENUE,  PH4F          2
4 THROOP AVENUE, 4C                2
4 LEXINGTON AVENUE,  8H            2
4 LEXINGTON AVENUE,  8J            2
4 LEXINGTON AVENUE,  9A            2
4 LEXINGTON AVENUE,  9D            2
4 LEXINGTON AVENUE,  9M            2
4 MONITOR STREET, 1A               2
4 MONITOR STREET, 3A               2
4 MONITOR STREET, 3B               2
4 MORTON SQUARE, 4 MS              2
4 SAMANTHA WAY, 4A                 2
4 SOUTH PORTLAND AVE, 3            2
4 SOUTH PORTLAND AVENU, 5          2
4 WEST 101ST STREET,  59A          2
4-74 48TH   AVENUE,  38D           2
4 WEST 16TH STREET,  2A            2
4 WEST 16TH STREET,  5A            2
4 WEST 21ST STREET,  10A           2
4 WEST 21ST STREET,  11C           2
4 WEST 21ST STREET,  4C            2
4 WEST 21ST STREET,  6B            2
4 WEST 21ST STREET,  6D            2
4 WEST 21ST STREET,  9A            2
4-10 121ST   STREET, 25            2
4-10 BOGARDUS PLACE,  6E           2
4-18 121ST   STREET, 21            2
4-6 WEST 105TH STREET,  6A         2
1 ASCAN AVENUE,  31                2
Length: 32631, dtype: int64

In [632]:
#EXPORT TO CSV FOR TREATMENT IN R
sales.to_csv('aptsales.csv', index_label = 'Index')
#help(pd.DataFrame.to_csv)

**TEST AREA**

In [ ]:
test1 = combined.copy()

In [ ]:
del test1

In [ ]:
test1.shape

In [ ]:
test1

In [ ]:
test1.shape

In [ ]:
#test1.info()

In [ ]:
#what exactly is missing?
colnames = test1.columns.tolist()

for name in colnames:
    missing = np.sum(test1.loc[:,name].isnull())
    print(name, missing)

In [ ]:
test1['Base_Address'] = test1['Base_Address'].str.strip().str.replace('NY,NY| NY,NY|NY, NY|, NY|NY, N|NY','', regex = True)
test1['Base_Address'] = np.where(test1['Base_Address'].str.contains('.NY'),test1['Base_Address'].str.split('.').str[0],test1['Base_Address'])
test1['Base_Address'] = np.where(test1['Base_Address'].str.contains('STREET') == False, test1['Base_Address'].str.strip().str.replace('ST.',' STREET', regex = False),test1['Base_Address'])
test1['Base_Address'] = np.where(test1['Base_Address'].str.contains('STREET') == False, test1['Base_Address'].str.strip().str.replace(' ST',' STREET', regex = False),test1['Base_Address'])

In [ ]:
#test1['Building_Address'] = test1['ADDRESS'].str.split(',').str[0].str.strip()
#test1['Apt_No'] = test1['ADDRESS'].str.split(',').str[1]
#test1['Apt_No'][test1['Apt_No'].isnull()] = test1['APARTMENT NUMBER'][test1['Apt_No'].isnull()]
#test1['Apt_No'][(test1['Apt_No'].isnull()) | (test1['Apt_No'] =='nan')] = ''
#test1['Main_Address'] = (test1['Building_Address'] + ', ' + test1['Apt_No']).str.rstrip(', ')
#Reset to null
#test1['Apt_No'][test1['Apt_No']=='']=np.nan

In [ ]:
#test1['addresstest'] = test1['ADDRESS'].str.replace('ST.|STREET','ST ', regex = True).str.strip()

In [228]:
testaddress = combined[combined['Main_Address'].str.contains('350 WEST 42ND STREET, 19K')]
testaddress

Empty DataFrame
Columns: [BOROUGH, NEIGHBORHOOD, BUILDING CLASS CATEGORY, TAX CLASS AT PRESENT, BLOCK, LOT, BUILDING CLASS AT PRESENT, ADDRESS, APARTMENT NUMBER, ZIP CODE, RESIDENTIAL UNITS, COMMERCIAL UNITS, TOTAL UNITS, LAND SQUARE FEET, GROSS SQUARE FEET, YEAR BUILT, TAX CLASS AT TIME OF SALE, BUILDING CLASS AT TIME OF SALE, SALE PRICE, SALE DATE, SALE YEAR, SALE MONTH, Type, Construction, Current Age, Sale_Year_Diff, Base_Address, Building_Address, Apt_No, Main_Address]
Index: []

In [300]:
#save the dataframe with the inappropriate data filtered out, keeping only residential purchases.
combined = combined.drop(filtertop, axis = 0).reset_index()
del combined['index']
combined.shape

(556666, 30)

In [373]:
sales.loc[(sales['Type'] == 'Condo')|(sales['Type'] == 'Condop')].groupby('Main_Address').size().sort_values(ascending = False)

Main_Address
551 MAIN STREET,  RES             286
775 LAFAYETTE AVENUE,  RESU        80
99-32 66TH   ROAD,  RESI           75
465 WEST 23RD   STREET,  RCU1      61
215 EAST 96TH   STREET,  CONDP     59
235 EAST 22ND   STREET,  RES1      46
2021 BROADWAY,  RESD               45
2 HORATIO STREET,  RES1            41
107-40 QUEENS BOULEVARD,  1        40
212 SOUTH OXFORD STREET,  3        39
2373 BROADWAY,  RSD 1              36
700 BROOK AVENUE,  CO-OP           34
212 SOUTH OXFORD STREET,  RES      31
700-704 BROOK AVENUE,  CO-OP       29
1010 3 AVENUE,  A-RES              29
60 EAST 9TH   STREET,  3           27
20 EAST 35TH   STREET,  COM-B      26
99-40 63RD   ROAD,  RU1            24
345 EAST 56TH   STREET,  RESI      23
319 EAST 50TH   STREET,  COOP      23
161 WEST 75TH   STREET,  R-1       21
330 WEST 145 STREET,  2            21
30 EAST 9TH   STREET,  3           19
301 EAST 69TH   STREET,  1         19
300 EAST 40TH   STREET,  RES       17
405 WEST 23RD   STREET,  14E       17
343 EAST 74TH   STREET,  UNIT2     17
351 EAST 57TH   STREET,  RES       17
250 WEST 89TH   STREET,  RES1      16
40 EAST 9TH   STREET,  3           16
                                 ...
393 WEST 49TH STREET, 5DD           2
392 CENTRAL PARK WEST, 8F           2
392 CENTRAL PARK WEST, 7Y           2
392 CENTRAL PARK WEST, 7V           2
392 CENTRAL PARK WEST, 5V           2
392 CENTRAL PARK WEST, 5T           2
392 CENTRAL PARK WEST, 5M           2
393 WEST 49TH STREET, 2G            2
150 WEST END AVENUE,  2E            1
19-19 24TH AVENUE,  L310            1
19-19 24TH AVENUE,  L103            1
15 EAST 19TH STREET,  1C            1
82 IRVING PLACE,  1B                1
77 WARREN STREET, 3                 1
225 8TH AVENUE,  3R                 1
85 EIGHTH AVENUE,  4F               1
150 WEST END AVENUE,  4D            1
542 BROADWAY,  4R                   1
150 WEST END AVENUE,  2K            1
150 WEST END AVENUE,  3A            1
413 BERGEN STREET, 4                1
32 WEST 20TH STREET,  6N            1
85 8TH AVENUE,  2F                  1
99-40 63RD ROAD,  11T               1
150 WEST END AVENUE,  4N            1
99-05 63RD DRIVE,  3C               1
99-05 63RD DRIVE,  3-AA             1
99-05 63RD DRIVE,  14T              1
99-05 63RD DRIVE,  14S              1
150 WEST END AVENUE,  1P            1
Length: 16832, dtype: int64

In [350]:
sales.loc[sales['Main_Address'].str.contains('775 LAFAYETTE AVENUE', na = False)].sample(50)
#99 JOHN STREET NY,NY

,BOROUGH,NEIGHBORHOOD,BUILDING CLASS CATEGORY,TAX CLASS AT PRESENT,BUILDING CLASS AT PRESENT,ZIP CODE,RESIDENTIAL UNITS,LAND SQUARE FEET,GROSS SQUARE FEET,YEAR BUILT,TAX CLASS AT TIME OF SALE,BUILDING CLASS AT TIME OF SALE,SALE PRICE,SALE DATE,SALE YEAR,SALE MONTH,Type,Construction,Current Age,Sale_Year_Diff,Building_Address,Apt_No,Main_Address
542031,Brooklyn,BEDFORD STUYVESANT,17 CONDO COOPS,2,R9,11221,0,0,0,2010,2,R9,140000,2013-07-17,2013,Jul,Condop,Postwar,9,3,775 LAFAYETTE AVENUE,RESU,"775 LAFAYETTE AVENUE, RESU"
541206,Brooklyn,BEDFORD STUYVESANT,17 CONDO COOPS,2,R9,11221,0,0,0,2010,2,R9,143500,2013-05-16,2013,May,Condop,Postwar,9,3,775 LAFAYETTE AVENUE,RESU,"775 LAFAYETTE AVENUE, RESU"
398224,Brooklyn,BEDFORD STUYVESANT,17 CONDO COOPS,2,R9,11221,0,0,0,2010,2,R9,372300,2013-06-25,2013,Jun,Condop,Postwar,9,3,775 LAFAYETTE AVENUE,RESU,"775 LAFAYETTE AVENUE, RESU"
543626,Brooklyn,BEDFORD STUYVESANT,17 CONDO COOPS,2,R9,11221,0,0,0,2010,2,R9,137500,2013-07-09,2013,Jul,Condop,Postwar,9,3,775 LAFAYETTE AVENUE,RESU,"775 LAFAYETTE AVENUE, RESU"
469669,Brooklyn,BEDFORD STUYVESANT,17 CONDO COOPS,2,R9,11221,0,0,0,2010,2,R9,265000,2013-06-27,2013,Jun,Condop,Postwar,9,3,775 LAFAYETTE AVENUE,RESU,"775 LAFAYETTE AVENUE, RESU"
510879,Brooklyn,BEDFORD STUYVESANT,17 CONDO COOPS,2,R9,11221,0,0,0,2010,2,R9,200000,2013-06-06,2013,Jun,Condop,Postwar,9,3,775 LAFAYETTE AVENUE,RESU,"775 LAFAYETTE AVENUE, RESU"
539955,Brooklyn,BEDFORD STUYVESANT,17 CONDO COOPS,2,R9,11221,0,0,0,2010,2,R9,146500,2013-07-30,2013,Jul,Condop,Postwar,9,3,775 LAFAYETTE AVENUE,RESU,"775 LAFAYETTE AVENUE, RESU"
552566,Brooklyn,BEDFORD STUYVESANT,17 CONDO COOPS,2,R9,11221,0,0,0,2010,2,R9,112500,2013-09-13,2013,Sep,Condop,Postwar,9,3,775 LAFAYETTE AVENUE,RESU,"775 LAFAYETTE AVENUE, RESU"
355393,Brooklyn,BEDFORD STUYVESANT,17 CONDO COOPS,2,R9,11221,0,0,0,2010,2,R9,428500,2014-03-31,2014,Mar,Condop,Postwar,9,4,775 LAFAYETTE AVENUE,RESU,"775 LAFAYETTE AVENUE, RESU"
547674,Brooklyn,BEDFORD STUYVESANT,17 CONDO COOPS,2,R9,11221,0,0,0,2010,2,R9,126500,2013-06-28,2013,Jun,Condop,Postwar,9,3,775 LAFAYETTE AVENUE,RESU,"775 LAFAYETTE AVENUE, RESU"
540934,Brooklyn,BEDFORD STUYVESANT,17 CONDO COOPS,2,R9,11221,0,0,0,2010,2,R9,145000,2013-11-20,2013,Nov,Condop,Postwar,9,3,775 LAFAYETTE AVENUE,RESU,"775 LAFAYETTE AVENUE, RESU"
539953,Brooklyn,BEDFORD STUYVESANT,17 CONDO COOPS,2,R9,11221,0,0,0,2010,2,R9,146500,2013-08-06,2013,Aug,Condop,Postwar,9,3,775 LAFAYETTE AVENUE,RESU,"775 LAFAYETTE AVENUE, RESU"
505927,Brooklyn,BEDFORD STUYVESANT,17 CONDO COOPS,2,R9,11221,0,0,0,2010,2,R9,207500,2013-06-26,2013,Jun,Condop,Postwar,9,3,775 LAFAYETTE AVENUE,RESU,"775 LAFAYETTE AVENUE, RESU"
535914,Brooklyn,BEDFORD STUYVESANT,17 CONDO COOPS,2,R9,11221,0,0,0,2010,2,R9,154500,2013-06-20,2013,Jun,Condop,Postwar,9,3,775 LAFAYETTE AVENUE,RESU,"775 LAFAYETTE AVENUE, RESU"
427450,Brooklyn,BEDFORD STUYVESANT,17 CONDO COOPS,2,R9,11221,0,0,0,2010,2,R9,330000,2013-09-18,2013,Sep,Condop,Postwar,9,3,775 LAFAYETTE AVENUE,RESU,"775 LAFAYETTE AVENUE, RESU"
540988,Brooklyn,BEDFORD STUYVESANT,17 CONDO COOPS,2,R9,11221,0,0,0,2010,2,R9,145000,2013-05-13,2013,May,Condop,Postwar,9,3,775 LAFAYETTE AVENUE,RESU,"775 LAFAYETTE AVENUE, RESU"
545426,Brooklyn,BEDFORD STUYVESANT,17 CONDO COOPS,2,R9,11221,0,0,0,2010,2,R9,132500,2013-06-13,2013,Jun,Condop,Postwar,9,3,775 LAFAYETTE AVENUE,RESU,"775 LAFAYETTE AVENUE, RESU"
502837,Brooklyn,BEDFORD STUYVESANT,17 CONDO COOPS,2,R9,11221,0,0,0,2010,2,R9,212500,2013-05-23,2013,May,Condop,Postwar,9,3,775 LAFAYETTE AVENUE,RESU,"775 LAFAYETTE AVENUE, RESU"
481376,Brooklyn,BEDFORD STUYVESANT,17 CONDO COOPS,2,R9,11221,0,0,0,2010,2,R9,249500,2013-05-20,2013,May,Condop,Postwar,9,3,775 LAFAYETTE AVENUE,RESU,"775 LAFAYETTE AVENUE, RESU"
536383,Brooklyn,BEDFORD STUYVESANT,17 CONDO COOPS,2,R9,11221,0,0,0,2010,2,R9,152500,2013-07-15,2013,Jul,Condop,Postwar,9,3,775 LAFAYETTE AVENUE,RESU,"775 LAFAYETTE AVENUE, RESU"
551698,Brooklyn,BEDFORD STUYVESANT,17 CONDO COOPS,2,R9,11221,0,0,0,2010,2,R9,115000,2013-07-30,2013,Jul,Condop,Postwar,9,3,775 LAFAYETTE AVENUE,RESU,"775 LAFAYETTE AVENUE, RESU"
364388,Brooklyn,BEDFORD STUYVESANT,17 CONDO COOPS,2,R9,11221,0,0,0,2010,2,R9,416660,2014-06-30,2014,Jun,Condop,Postwar,9,4,775 LAFAYETTE AVENUE,RESU,"775 LAFAYETTE AVENUE, RESU"
532403,Brooklyn,BEDFORD STUYVESANT,17 CONDO COOPS,2,R9,11221,0,0,0,2010,2,R9,160000,2013-05-21,2013,May,Condop,Postwar,9,3,775 LAFAYETTE AVENUE,RESU,"775 LAFAYETTE AVENUE, RESU"
479768,Brooklyn,BEDFORD STUYVESANT,17 CONDO COOPS,2,R9,11221,0,0,0,2010,2,R9,250000,2013-10-22,2013,Oct,Condop,Postwar,9,3,775 LAFAYETTE AVENUE,RESU,"775 LAFAYETTE AVENUE, RESU"
386755,Brooklyn,BEDFORD STUYVESANT,17 CONDO COOPS,2,R9,11221,0,0,0,2010,2,R9,387500,2013-05-31,2013,May,Condop,Postwar,9,3,775 LAFAYETTE AVENUE,RESU,"775 LAFAYETTE AVENUE, RESU"
472437,Brooklyn,BEDFORD STUYVESANT,17 CONDO COOPS,2,R9,11221,0,0,0,2010,2,R9,260000,2013-07-11,2013,Jul,Condop,Postwar,9,3,775 LAFAYETTE AVENUE,RESU,"775 LAFAYETTE AVENUE, RESU"
536386,Brooklyn,BEDFORD STUYVESANT,17 CONDO COOPS,2,R9,11221,0,0,0,2010,2,R9,152500,2013-06-05,2013,Jun,Condop,Postwar,9,3,775 LAFAYETTE AVENUE,RESU,"775 LAFAYETTE AVENUE, RESU"
533843,Brooklyn,BEDFORD STUYVESANT,17 CONDO COOPS,2,R9,11221,0,0,0,2010,2,R9,158500,2013-06-12,2013,Jun,Condop,Postwar,9,3,775 LAFAYETTE AVENUE,RESU,"775 LAFAYETTE AVENUE, RESU"
551744,Brooklyn,BEDFORD STUYVESANT,17 CONDO COOPS,2,R9,11221,0,0,0,2010,2,R9,115000,2013-05-30,2013,May,Condop,Postwar,9,3,775 LAFAYETTE AVENUE,RESU,"775 LAFAYETTE AVENUE, RESU"
334380,Brooklyn,BEDFORD STUYVESANT,17 CONDO COOPS,2,R9,11221,0,0,0,2010,2,R9,456500,2013-06-28,2013,Jun,Condop,Postwar,9,3,775 LAFAYETTE AVENUE,RESU,"775 LAFAYETTE AVENUE, RESU"
539200,Brooklyn,BEDFORD STUYVESANT,17 CONDO COOPS,2,R9,11221,0,0,0,2010,2,R9,149500,2014-02-26,2014,Feb,Condop,Postwar,9,4,775 LAFAYETTE AVENUE,RESU,"775 LAFAYETTE AVENUE, RESU"
514698,Brooklyn,BEDFORD STUYVESANT,17 CONDO COOPS,2,R9,11221,0,0,0,2010,2,R9,192500,2013-07-15,2013,Jul,Condop,Postwar,9,3,775 LAFAYETTE AVENUE,RESU,"775 LAFAYETTE AVENUE, RESU"
343762,Brooklyn,BEDFORD STUYVESANT,17 CONDO COOPS,2,R9,11221,0,0,0,2010,2,R9,445000,2014-01-16,2014,Jan,Condop,Postwar,9,4,775 LAFAYETTE AVENUE,RESU,"775 LAFAYETTE AVENUE, RESU"
356087,Brooklyn,BEDFORD STUYVESANT,17 CONDO COOPS,2,R9,11221,0,0,0,2010,2,R9,426198,2014-08-06,2014,Aug,Condop,Postwar,9,4,775 LAFAYETTE AVENUE,RESU,"775 LAFAYETTE AVENUE, RESU"
355056,Brooklyn,BEDFORD STUYVESANT,17 CONDO COOPS,2,R9,11221,0,0,0,2010,2,R9,429500,2014-01-15,2014,Jan,Condop,Postwar,9,4,775 LAFAYETTE AVENUE,RESU,"775 LAFAYETTE AVENUE, RESU"
534644,Brooklyn,BEDFORD STUYVESANT,17 CONDO COOPS,2,R9,11221,0,0,0,2010,2,R9,156000,2013-07-10,2013,Jul,Condop,Postwar,9,3,775 LAFAYETTE AVENUE,RESU,"775 LAFAYETTE AVENUE, RESU"
541633,Brooklyn,BEDFORD STUYVESANT,17 CONDO COOPS,2,R9,11221,0,0,0,2010,2,R9,142000,2013-05-10,2013,May,Condop,Postwar,9,3,775 LAFAYETTE AVENUE,RESU,"775 LAFAYETTE AVENUE, RESU"
349006,Brooklyn,BEDFORD STUYVESANT,17 CONDO COOPS,2,R9,11221,0,0,0,2010,2,R9,437000,2013-10-31,2013,Oct,Condop,Postwar,9,3,775 LAFAYETTE AVENUE,RESU,"775 LAFAYETTE AVENUE, RESU"
349643,Brooklyn,BEDFORD STUYVESANT,17 CONDO COOPS,2,R9,11221,0,0,0,2010,2,R9,435234,2014-07-30,2014,Jul,Condop,Postwar,9,4,775 LAFAYETTE AVENUE,RESU,"775 LAFAYETTE AVENUE, RESU"
512434,Brooklyn,BEDFORD STUYVESANT,17 CONDO COOPS,2,R9,11221,0,0,0,2010,2,R9,197500,2013-06-28,2013,Jun,Condop,Postwar,9,3,775 LAFAYETTE AVENUE,RESU,"775 LAFAYETTE AVENUE, RESU"
426768,Brooklyn,BEDFORD STUYVESANT,17 CONDO COOPS,2,R9,11221,0,0,0,2010,2,R9,330000,2013-12-19,2013,Dec,Condop,Postwar,9,3,775 LAFAYETTE AVENUE,RESU,"775 LAFAYETTE AVENUE, RESU"
539961,Brooklyn,BEDFORD STUYVESANT,17 CONDO COOPS,2,R9,11221,0,0,0,2010,2,R9,146500,2013-06-24,2013,Jun,Condop,Postwar,9,3,775 LAFAYETTE AVENUE,RESU,"775 LAFAYETTE AVENUE, RESU"
352702,Brooklyn,BEDFORD STUYVESANT,17 CONDO COOPS,2,R9,11221,0,0,0,2010,2,R9,430214,2014-08-29,2014,Aug,Condop,Postwar,9,4,775 LAFAYETTE AVENUE,RESU,"775 LAFAYETTE AVENUE, RESU"
384228,Brooklyn,BEDFORD STUYVESANT,17 CONDO COOPS,2,R9,11221,0,0,0,2010,2,R9,390000,2014-01-23,2014,Jan,Condop,Postwar,9,4,775 LAFAYETTE AVENUE,RESU,"775 LAFAYETTE AVENUE, RESU"
547189,Brooklyn,BEDFORD STUYVESANT,17 CONDO COOPS,2,R9,11221,0,0,0,2010,2,R9,128500,2013-05-31,2013,May,Condop,Postwar,9,3,775 LAFAYETTE AVENUE,RESU,"775 LAFAYETTE AVENUE, RESU"
427039,Brooklyn,BEDFORD STUYVESANT,17 CONDO COOPS,2,R9,11221,0,0,0,2010,2,R9,330000,2013-06-14,2013,Jun,Condop,Postwar,9,3,775 LAFAYETTE AVENUE,RESU,"775 LAFAYETTE AVENUE, RESU"
355484,Brooklyn,BEDFORD STUYVESANT,17 CONDO COOPS,2,R9,11221,0,0,0,2010,2,R9,428000,2013-09-16,2013,Sep,Condop,Postwar,9,3,775 LAFAYETTE AVENUE,RESU,"775 LAFAYETTE AVENUE, RESU"
360359,Brooklyn,BEDFORD STUYVESANT,17 CONDO COOPS,2,R9,11221,0,0,0,2010,2,R9,421680,2014-08-28,2014,Aug,Condop,Postwar,9,4,775 LAFAYETTE AVENUE,RESU,"775 LAFAYETTE AVENUE, RESU"
359475,Brooklyn,BEDFORD STUYVESANT,17 CONDO COOPS,2,R9,11221,0,0,0,2010,2,R9,424190,2014-07-28,2014,Jul,Condop,Postwar,9,4,775 LAFAYETTE AVENUE,RESU,"775 LAFAYETTE AVENUE, RESU"
549458,Brooklyn,BEDFORD STUYVESANT,17 CONDO COOPS,2,R9,11221,0,0,0,2010,2,R9,122000,2013-07-22,2013,Jul,Condop,Postwar,9,3,775 LAFAYETTE AVENUE,RESU,"775 LAFAYETTE AVENUE, RESU"

In [ ]:
test1.loc[test1['ADDRESS'].str.contains('125 WEST 21|70 LITTLE WEST|133 WEST 22|209-211 EAST', na = False)].sample(150)
#99 JOHN STREET NY,NY

In [ ]:
test1.loc[test1['ADDRESS'].str.contains('555 LENOX AVENUE|311 WEST BROADWAY|631 EAST 9|211 ELIZABETH|211 WEST', na = False)].sample(150)
#99 JOHN STREET NY,NY

In [ ]:
test1.loc[test1['ADDRESS'].str.contains('20 PINE', na = False)]

In [ ]:
test1['Building_Address'] = test1['addresstest'].str.split(',').str[0].str.strip()
test1['Apt_No'] = test1['addresstest'].str.split(',').str[1]
test1['Apt_No'][test1['Apt_No'].isnull()] = test1['APARTMENT NUMBER'][test1['Apt_No'].isnull()]
test1['Apt_No'][(test1['Apt_No'].isnull()) | (test1['Apt_No'] =='nan')] = ''
test1['Main_Address'] = (test1['Building_Address'] + ', ' + test1['Apt_No']).str.rstrip(', ')
#Reset to null
test1['Apt_No'][test1['Apt_No']=='']=np.nan

**Filter for apartments with Apartment Number with multiple transactions throughout the years**

In [ ]:
apartments = test1.duplicated(subset = 'Main_Address', keep = False)
test1[apartments].head(150)

In [ ]:
salestest = test1[apartments]

In [ ]:
salestest = salestest[salestest['APARTMENT NUMBER'].notnull()] #& salestest['ADDRESS'].notnull()]

In [ ]:
salestest = salestest.sort_values(['Main_Address', 'SALE DATE'],ascending = True)

In [ ]:
salestest

In [ ]:
salestest[salestest['BOROUGH'] == "Manhattan"].head(250)

In [ ]:
salestest.shape

In [ ]:
salestest.info()

In [ ]:
salestest.to_csv('aptsales.csv', index_label = 'Index')
#help(pd.DataFrame.to_csv)

In [ ]:
salestest.groupby('Main_Address').agg(['count','sum','min','max','mean'])['SALE PRICE']

In [ ]:
.sort_values()?

In [ ]:
combined[combined['ADDRESS'] == '90 MORTON STREET, PH10A']

In [ ]:
##take away extra spaces that may be in some rows under ADDRESS

In [ ]:
#manhattan.info()

In [ ]:
#bronx.info()

In [ ]:
#queens.info()

In [ ]:
#staten_island.info()

In [ ]:
#brooklyn.info()

In [ ]:
#replace commas in SALE PRICE column with empty space and convert to string, then float.
#manhattan['SALE PRICE'] = manhattan['SALE PRICE'].str.replace(',','').astype(float).astype(int)

In [ ]:
#filter out office buildings and rental buildings, sort by price descending. Looks like there are dupes.
#manhattan.loc[(manhattan['TAX CLASS AT PRESENT'] != '4') & (manhattan['BUILDING CLASS CATEGORY'].str.contains('RENTAL')==False)].sort_values('SALE PRICE', ascending = False)

In [ ]:
staten_island.describe()

In [ ]:
manhattan.describe()

In [ ]:
brooklyn.sample(20)

In [ ]:
queens.sample(20)

In [ ]:
bronx.sample(20)

In [ ]:
manhattan.sample(20)

In [ ]:
staten_island.sample(20)

In [ ]:
manhattan.head()